.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.tank {
  width: 365px;
  height: 582px;
  margin-top: 8%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px #00000052;
  background-color: var(--color-bg-overlay);

  &__header {
    min-height: 43px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--color-bg-header-table);
    &__close {
      margin-left: 20px;
      cursor: pointer;
      fill: var(--color-text-main);
      stroke: var(--color-text-main);
      &:hover {
        fill: var(--color-active);
        stroke: var(--color-active);
      }
    }
    &__title {
      font-size: 12px;
      margin-left: 60px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    height: 486px;
    overflow-y: auto;

    .table {
      width: 100%;
      &__body {
        &__item {
          &__row {
            height: 35px;
            background-color: var(--color-bg-header-table);
            &__col {
              .col {
                &__name {
                  font-size: 12px;
                  margin-left: 20px;
                }
                &__icon {
                  margin-left: 20px;
                  &-arrow-rtl {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            &__expanded {
              .col {
                &__name {
                }
              }
            }
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    min-height: 43px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    background-color: var(--color-bg-header-table);

    &__icon {
      cursor: pointer;
      font-size: 10px;
      border: 1px solid white;
      border-radius: 22px;
      padding: 5px 27px;
      margin-right: 20px;

      &:hover {
        background-color: var(--color-active);
      }
    }
  }
}
