<div class="widget-container pointer-event">
  <evj-contemporary-widget-header
    [widgetTitle]="widgetTitle"
    [uniqId]="widgetUniqId"
    type="astue"
    icon="people"
  ></evj-contemporary-widget-header>
  <div class="container">
    <evj-change-shift-dates (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" [dates]="dates$ | async"></evj-change-shift-dates>

    <div class="change-shift" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">

      <evj-change-shift-main-worker [worker]="mainMember$ | async" [shift]="shift$ | async"></evj-change-shift-main-worker>

      <div class="member-container member-container__shift">
        <div class="label"> На смене </div>
        <div class="members">
          <evj-change-shift-member *ngFor="let member of (presentMembers$ | async)" [member]="member"></evj-change-shift-member>
        </div>
      </div>

      <div class="member-container member-container__absent">
        <div class="label"> Покинули смену </div>
        <div class="members">
          <evj-change-shift-member *ngFor="let member of (absentsMembers$ | async)" [member]="member"></evj-change-shift-member>
        </div>
      </div>

      <div class="change-shift__comment">
        <div class="comment__title">Комментарии оператора</div>
        <div class="comment__body">
          <div class="comment__display">
            <div class="messages scroll-bar" #scroll>
              <div class="message" *ngFor="let comment of comments$| async">{{ comment.comment }}</div>
            </div>
          </div>
          <div class="comment__new">
            <input
              type="text"
              class="comment__text gridster-item-content"
              placeholder="Напишите свой комментарий..."
              (keypress)="onEnterPush($event)"
              #input
            />
            <button type="submit" class="button comment__file">
              <svg-icon src="assets/icons/widgets/change-shift/add_file.svg"></svg-icon>
            </button>
            <button type="submit" class="button comment__submit" (click)="onSendMessage()">
              <svg-icon src="assets/icons/widgets/change-shift/send.svg"></svg-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="buttons">
        <ng-container *ngIf="!(changeShiftKeeperService.isRequireComment$ | async)">
          <evj-simple-button [disabled]="!(isShiftApplyAvailable | async)" (click)="shiftApply()" style="width: 100%"> {{ (shiftType$ | async) === 'pass' ? 'Передать смену' : 'Принять смену' }} </evj-simple-button>
        </ng-container>
        <ng-container *ngIf="changeShiftKeeperService.isRequireComment$ | async">
          <evj-simple-button (click)="onSendMessage(true)" style="width: 100%"> Подтвердить </evj-simple-button>
          <evj-simple-button (click)="unsetRequireComment()" style="width: 100%"> Отмена </evj-simple-button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
