<div class="user-block" (click)="onClick('lock')">
  <div
    class="icon"
    [ngClass]="{'icon-locked hover-locked':selected.hasValue(),'hover':selected.isEmpty()}"
    (mouseenter)="onMouseEnter('lock')"
    (mouseleave)="onMouseLeave('lock')"
  >
    <img [src]="getIconPath()" />
  </div>
  <div class="message" [ngClass]="{'message-active':isMouseOnLockLogo}">{{getMessageText()}}</div>
</div>
<div class="user-block user-block_sec" (click)="onClick('remove')">
  <div
    class="icon icon-locked hover-locked"
    (mouseenter)="onMouseEnter('remove')"
    (mouseleave)="onMouseLeave('remove')"
  >
    <img [src]="removeIcon" />
  </div>
  <div class="message message__remove" [ngClass]="{'message-active':isMouseOnRemoveLogo}">{{msgRemoveUser}}</div>
</div>
