<div class="workspace" [style]="{overflow: noOverflow ? 'auto' : 'visible'}">
  <div class="workspace__selects selects">
    <div class="selects__item">
      <evj-ui-block status="normal">
        <mat-form-field class="categories_selectbox">
          <mat-label>Категория</mat-label>
          <mat-select
            panelClass="mat-select-custom"
            [(ngModel)]="ewService.event.category"
            [compareWith]="compareFn"
            (selectionChange)="ewService.changeCategory()"
            [disabled]="!ewService.isCategoryEdit"
          >
            <mat-option *ngFor="let cat of ewService.categoryPipe | async" [value]="cat">
              {{ ewService.categories[cat.name] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </evj-ui-block>
    </div>
    <evj-ui-block status="{{ewService.event.priority.name}}" class="selects__item">
      <mat-form-field class="{{ewService.event.priority.name}}">
        <mat-label>Приоритет</mat-label>
        <mat-select
          panelClass="mat-select-custom"
          [(ngModel)]="ewService.event.priority"
          [compareWith]="compareFn"
          [disabled]="!ewService.isCreateNewEvent"
        >
          <mat-option *ngFor="let p of ewService.priority" [value]="p"
          >{{ ewService.priorities[p.name] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </evj-ui-block>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <mat-form-field class="status">
          <mat-label>Статус</mat-label>
          <mat-select
            panelClass="mat-select-custom"
            [(ngModel)]="ewService.event.status"
            [compareWith]="compareFn"
            [disabled]="true"
          >
            <mat-option *ngFor="let p of ewService.status" [value]="p"
            >{{ ewService.statuses[p.name] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <mat-form-field class="status">
          <mat-label>Подкатегория</mat-label>
          <mat-select
            panelClass="mat-select-custom"
            [(ngModel)]="ewService.event?.productionTasks.subCategory"
            [compareWith]="compareFn"
            [disabled]="!ewService.isCreateNewEvent"
          >
            <mat-option [value]="undefined">Не выбрана</mat-option>
            <mat-option *ngFor="let p of ewService.subCategory" [value]="p"
            >{{ p.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="deadline">
          <div class="deadline__title">Срок выполнения</div>
          <evj-time-data-picker
            [data]="ewService.event.deadline"
            (dateTimePicker)="dateTimePicker($event)"
            [disabled]="!ewService.isCreateNewEvent"
          ></evj-time-data-picker>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-events-place></evj-events-place>
    </div>
  </div>
  <div class="workspace__left left">
    <evj-event-description
      class="left__item"
      titleName="Распоряжение Рабочей области событий"
      [description]="ewService.event?.description"
      [disabled]="!ewService.isCreateNewEvent"
      (changedDescription)="onChangeEventDescription($event)"
    ></evj-event-description>
    <evj-chat
      [displayGraphImage]="!!ewService.event.graphValues?.graphs[0]"
      [onClickItem]="openLineChart.bind(this)"
      [messages]="ewService.event.facts"
      [disabled]="isClosedObserver | async"
      dataTitle="Установленные факты"
      placeholder="Укажите факты..."
      (addingMessage)="onSendMessage($event,'facts')"
    ></evj-chat>
    <evj-chat
      [messages]="ewService.event.comments"
      [disabled]="isClosedObserver | async"
      dataTitle="Комментарии"
      placeholder="Напишите свой комментарий..."
      (addingMessage)="onSendMessage($event,'comments')"
    ></evj-chat>
  </div>
  <div class="workspace__right right">
    <!--          TODO: set disabled-->
    <evj-events-responsible-select class="right__item"
                                   [disabled]="!ewService.isCreateNewEvent"></evj-events-responsible-select>
    <div class="right__item labels">
      <div class="labels__item label">
        <div class="label__name">Создано:</div>
        <div class="label__value">
          {{(ewService.event.productionTasks.createdAt | date: "yyyy.MM.dd | HH:mm") || '-'}}
        </div>
      </div>
      <div class="labels__item label">
        <div class="label__name">Автор:</div>
        <div class="label__value">{{ewService.event.productionTasks?.createdBy?.displayName || '-'}}</div>
      </div>
      <div class="labels__item label">
        <div class="label__name">Принято в работу:</div>
        <div class="label__value">
          {{(ewService.event.productionTasks.acceptedAt | date: "yyyy.MM.dd | HH:mm") || '-'}}
        </div>
      </div>
      <div class="labels__item label">
        <div class="label__name">Автор:</div>
        <div class="label__value">{{ewService.event.productionTasks?.acceptedBy?.displayName || '-'}}</div>
      </div>
      <div class="labels__item label">
        <div class="label__name">Закрыто:</div>
        <div class="label__value">
          {{(ewService.event.productionTasks?.closedAt | date: "yyyy.MM.dd | HH:mm") || '-'}}
        </div>
      </div>
      <div class="labels__item label">
        <div class="label__name">Автор:</div>
        <div class="label__value">{{ewService.event.productionTasks?.closedBy?.displayName || '-'}}</div>
      </div>
    </div>
    <evj-events-correct [disabled]="isClosedObserver | async" class="right__item"></evj-events-correct>
  </div>
</div>
