.card {
  width: calc(100% - 10px);
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }

  &_item {
    padding: 0 15px 0 15px;
    position: relative;
    display: flex;
    flex-flow: column;
    height: 90px;
    background: var(--color-table-header);
    border-radius: 15px;
    &__top {
      display: flex;
      justify-content: space-between;
      min-height: 23%;
      padding-top: 3%;
      box-sizing: border-box;
      &___left {
        margin: auto 0;
        display: flex;
        .product-text {
          font-size: 10px;
          margin: auto 0;
        }
        .date-text {
          color: var(--color-smp-text-sub);
          font-size: 9px;
          margin: auto 0 auto 10px;
        }
      }
      &___right {
        display: flex;
        margin: auto 0;
        .status-text {
          font-size: 10px;
          margin: auto 0;
        }
      }
    }
    &__middle {
      display: flex;
      min-height: 52%;
      padding-top: 3%;
      box-sizing: border-box;
      &___icon-block {
        $icon-size: 14px;
        display: flex;
        margin: auto 0;
        width: $icon-size;
        margin-right: 10px;
        .icon {
          margin: auto 0;
          width: $icon-size;
          height: $icon-size;
        }
      }
      &___text-block {
        position: relative;
        display: flex;
        width: 100%;
        .info-text {
          font-size: 11px;
          margin: auto 0;
          padding-left: 1px;
          text-align: left;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
    &__bottom {
      display: flex;
      height: 100%;
      flex-flow: row-reverse;
      .time-text {
        color: var(--color-active);
        font-size: 10px;
        padding: 0 0 2% 0;
        margin: auto 0 0 0;
      }
    }
    &__loader {
      position: relative;
      display: flex;
      margin: 0 15px 0 15px;
      height: 3px;
      background: var(--color-standard-transparent);
      border-radius: 10px;
      &___active {
        background: var(--color-standard);
        border-radius: inherit;
        height: 100%;
        width: 70%;
      }
    }
  }
}

.selected-card {
  opacity: 0.5;
}
