.point {
  z-index: 50;
  position: absolute;
  margin: 0 auto;
  margin-left: 108px;
  margin-top: 90px;
}

.item-a {
  min-height: 30px;
  min-width: 120px;
}
.item-b {
  // margin: 5px auto;
  height: calc(100% + 25px);
  width: 100%;
  text-align: center;
}

.cb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
}

.item-b ::ng-deep svg {
  height: 100%;
}

.activeBack {
  background: linear-gradient(180deg, rgba(8, 128, 207, 0.3), transparent) !important;
}

.item-c {
  padding-top: 5%;
}

.name_circle {
  margin-top: 8px;
  color: rgb(228, 228, 228);
  margin-left: 30px;
  font-size: 15px;
}

.name_circle2 {
  margin-top: 30px;
  color: rgb(189, 189, 189);
  margin-left: 30px;
  font-size: 15px;
}

@media screen and(max-width: 300px) {
  .positive {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
  }
  .negative {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9px;
    color: orange;
  }
  .name_circle {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(228, 228, 228);
    font-size: 9px;
  }
  .positive__show {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
  }
  .negative__show {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
  }
}

.positive {
  margin-top: 5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.name_circle {
  margin-top: 20px;
}
.negative {
  font-size: 17px;
  color: orange;
}

.item-b.active ::ng-deep div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(139, 139, 139);
}

.content_block {
  height: calc(100% - 60px);
  width: calc(100% - 3px);
  border: 1px dashed var(--color-border-main);
  border-style: none dashed none dashed;
}

.blocks {
  width: 100%;
  min-width: 100px;
  height: calc(100%);
}

.imgblock {
  width: 150px;
  margin: 0 auto;
}

.imgblock img {
  height: 140px;
}

svg:hover {
  stroke: white !important;
  fill: white !important;
}

.test {
  height: 200px;
  x: 200;
  width: 200px;
  position: absolute;
  fill: red;
}

.test ::ng-deep .st2 {
  fill: red;
}

object #document svg {
  stroke: red !important;
}
