.cb {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
    // margin: 40px auto;
    border-right: 1px solid var(--color-border-main);
    border-left: 1px solid var(--color-border-main);
  }
  
  .item-b ::ng-deep svg {
    height: 100%;
  }
  
  .item-b {
    height: 70px;
    width: 195px;
    margin-top: 32px;
  }
  