<div class="container">
  <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-top.svg" class="arrow-top" />
    <div class="diagrams">
      <evj-ozsm-circle-planning-diagram-plan
        *ngIf="!!pData[0]"
        [plan]="pData[0]"
      ></evj-ozsm-circle-planning-diagram-plan>
      <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-tail.svg" />
      <ng-container *ngFor="let item of cData; let idx = index">
        <div class="arrow__line" *ngIf="idx === 0"></div>
        <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/tip.svg" />
        <evj-ozsm-circle-planning-diagram-card [card]="item"></evj-ozsm-circle-planning-diagram-card>
        <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-tail.svg" />
        <div class="arrow__line"></div>
      </ng-container>
      <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/tip.svg" />
      <evj-ozsm-circle-planning-diagram-plan
        *ngIf="!!pData[1]"
        [plan]="pData[1]"
      ></evj-ozsm-circle-planning-diagram-plan>
    </div>
    <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-bottom.svg" class="arrow-bottom" />
  </div>
</div>
