:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
  }
}
.content {
  min-width: 900px;
  max-height: 300px;
}
.arrow-top {
  position: relative;
  left: 45%;
}
.arrow-bottom {
  position: relative;
  left: 65%;
}
.diagrams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diagram-card {
  display: flex;
  align-items: center;
}
.diagram-plan {
  display: flex;
  align-items: center;
}
.template {
  display: flex;
  align-items: center;
}
.arrow-tail {
  align-items: center;
  flex-grow: 1;
}
.arrow-tip {
  align-items: center;
  flex-grow: 3;
 }

