<div class="container">
  <evj-widget-header-smp
    [uniqId]="uniqId"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    *ngIf="isHover"
  >
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="diagrams">
      <evj-ozsm-circle-planning-diagram-plan></evj-ozsm-circle-planning-diagram-plan>
      <div class="diagram-card">
        <evj-ozsm-circle-planning-diagram-card></evj-ozsm-circle-planning-diagram-card>
      </div>
      <evj-ozsm-circle-planning-diagram-plan></evj-ozsm-circle-planning-diagram-plan>
    </div>
  </div>
</div>

