:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
  }
}
.content {
  min-width: 900px;
  max-height: 300px;
}
.arrow-top {
position: absolute;
  left: 570px;
  width: 1200px;
  height: 200px;
}
.arrow-bottom {
  position: absolute;
  top: 210px;
  left: 770px;
  width: 1200px;
  height: 200px;
}
.all {
  position: relative;
}
.diagrams {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}
.diagram{
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.template {
  display: flex;
  align-items: center;
}
.template-arrow {
  display: flex;
  align-items: center;
}

