:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 5px;
  overflow: scroll;

}
.diagrams {
  display: flex;
  align-items: center;
  gap: 4px;
}
.diagram-card {
  display: flex;
  align-items: center;
}
.diagram-plan {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.template {
  display: flex;
  align-items: center;
}
.arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 10%;
}
.arrow-top {
  width: 100%;
  position: relative;
  left: 45%;
}
.arrow-bottom {
  width: 100%;
  position: relative;
  left: 60%;
}
