<div class="container">
  <evj-widget-header-smp
    [uniqId]="uniqId"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    *ngIf="isHover"
  >
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="arrow-top">
      <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-top.svg" width="25%">
    </div>
    <div class="diagrams">
      <div class="diagram-plan" *ngFor="let item of pData; index as i">
        <evj-ozsm-circle-planning-diagram-plan [plan]="item"></evj-ozsm-circle-planning-diagram-plan>
        <div *ngIf="item.name === 'производства'">
          <div class="arrow">
            <div class="arrow__tail"><img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-tail.svg">
            </div>
            <div class="arrow__line"><img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-line.svg">
            </div>
        </div>

        </div>
        <div class="template"  *ngIf="item.name === 'производства'">
        <div class="diagram-card" *ngFor="let item of cData">
          <evj-ozsm-circle-planning-diagram-card [card]="item"></evj-ozsm-circle-planning-diagram-card>
          <div class="arrow">
            <div class="arrow__tail"><img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-tail.svg">
            </div>
            <div class="arrow__line"><img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-line.svg">
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="arrow-bottom">
      <img src="assets/icons/widgets/OZSM/ozsm-circle-planning-diagram/arrow-bottom.svg" width="25%">
    </div>
  </div>
</div>

