.popup {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--sou-mvp-color-bg-title);

  &__header {
    height: 30px;
    width: 100%;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;

    .close-btn {
      height: 19px;
      width: 19px;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50%;
      border: 1px solid var(--sou-mvp-color-white);

      cursor: pointer;
      transform: translate(0px, 7px);
    }
  }

  &__content {
    padding: 0 20px;
    flex: 1;

    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      align-items: center;

      font-size: 18px;
      line-height: 22px;

      .marker {
        height: 12px;
        width: 12px;
        margin: 0 10px;

        border-radius: 50%;
        background: var(--sou-mvp-color-active);
      }

      .source-name {
        color: var(--sou-mvp-color-white);
      }

      .product-name {
        margin: 0 18px;
        color: var(--sou-mvp-color-text-diagram-main);
      }
    }

    .information {
      display: flex;
      padding: 10px;

      font-size: 16px;
      line-height: 19px;
      color: var(--sou-mvp-color-text-info);

      white-space: nowrap;
      overflow: hidden;

      span {
        margin-right: 30px;
        color: var(--sou-mvp-color-white);

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
