<div class="container">
  <evj-aps-kpe-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle"></evj-aps-kpe-widget-header>
  <div
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="readiness">
      <div class="readiness__header">
        <div class="readiness__header__circle-diagram"></div>
        <div class="readiness__header__line-diagram">
          <evj-kpe-line-chart [data]="lineChartData" isLineCircle="true"></evj-kpe-line-chart>
        </div>
      </div>
      <div class="readiness__body">
        <div class="readiness__body__circle-diagram__first card">s</div>
        <div class="readiness__body__circle-diagram__second card">s</div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram class="readiness__body__"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData" [isLineCircle]="false"></evj-kpe-line-chart>
        </div>
      </div>
      <!-- <div style="width: 100%; height: 30%;">
        <evj-kpe-line-chart [data]="lineChartData" isLineCircle="true"></evj-kpe-line-chart>
      </div> -->
    </div>
  </div>
</div>
