<div class="container">
  <evj-contemporary-widget-header type="astue" icon="performance" [uniqId]="uniqId" [widgetTitle]="widgetTitle">
    <div class="content-container">
      <div class="header">
        <ul class="header__info">
          <li class="header__info-item">
            <div class="header__info-1"></div>
            <span>Факт</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-2"></div>
            <span>План</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-3"></div>
            <span>Прогноз</span>
          </li>
        </ul>
      </div>
    </div>
  </evj-contemporary-widget-header>
  <div class="container-body" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="readiness">
      <div class="readiness__header">
        <div #mainGauge class="readiness__header__gauge" [style]="gaugeWidth(mainGauge)" *ngIf="!!diagram">
          <evj-kpe-gauge-chart
            isPercent="true"
            [background]="'dark'"
            [fact]="diagram?.fact"
            [plan]="diagram?.plan"
            [deviation]="diagram?.deviation"
            *ngIf="!displayNewDesign"
          ></evj-kpe-gauge-chart>

          <evj-kpe-gauge-chart-multi-color
            [type]="1"
            *ngIf="displayNewDesign"
          ></evj-kpe-gauge-chart-multi-color>
        </div>
        <div class="readiness__header__chart">
          <evj-kpe-deviation-diagram
            [data]="deviationChartData"
            [currentMonth]="displayedMonth"
          ></evj-kpe-deviation-diagram>
        </div>
      </div>
      <div class="readiness__middle" [style]="rowHeight(gauge)" *ngIf="displayMode === 'tiled' && !displayNewDesign">
        <div class="readiness__middle__gauges-container" [ngClass]="{none:(gaugeCards.length < 1)}">
          <div class="container">
            <div class="readiness__middle__gauge element-container" *ngFor="let cardsItem of gaugeCards">
              <div class="gauge-card">
                <div class="gauge-card__content">
                  <div class="gauge-card__units">
                    <div class="gauge-card__units__unit"
                         [class.gauge-card__units__unit_active]="!engUnitsComparator.isEngUnitsPercent(cardsItem.title)"
                         (click)="engUnitsComparator.setEngUnits(cardsItem.title, 'units')"
                    >
                      {{ cardsItem?.unit || 'ед.изм'}}
                    </div>
                    <div class="gauge-card__units__unit"
                         (click)="engUnitsComparator.setEngUnits(cardsItem.title, 'percent')"
                         [class.gauge-card__units__unit_active]="engUnitsComparator.isEngUnitsPercent(cardsItem.title)"
                    >
                      %
                    </div>
                  </div>
                  <div class="gauge-card__gauge">
                    <evj-kpe-gauge-chart
                      *ngIf="!displayNewDesign"
                      background="lite"
                      [fact]="engUnitsComparator.isEngUnitsPercent(cardsItem?.title) ? cardsItem?.percentage : cardsItem?.fact"
                      [plan]="engUnitsComparator.isEngUnitsPercent(cardsItem?.title) ? 100 : cardsItem?.plan"
                      [deviation]="engUnitsComparator.isEngUnitsPercent(cardsItem?.title) ? cardsItem?.deviationPercentage : cardsItem?.deviation"
                    ></evj-kpe-gauge-chart>
                    <evj-kpe-gauge-chart-multi-color
                      [type]="1"
                      *ngIf="displayNewDesign"
                    ></evj-kpe-gauge-chart-multi-color>
                  </div>
                  <div class="gauge-card__title">{{ cardsItem?.title }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div #gauge class="readiness__middle__chart element-container">
          <div class="chart-card">
            <div class="chart-card__content">
              <div class="chart-card__title">
                <span class="label">{{ chartCard?.progressChart.title }}</span>
                <div class="units">
                  <div class="units__unit"
                       (click)="engUnitsComparator.setEngUnits(chartCard?.progressChart.title, 'units')"
                       [class.units__unit_active]="!engUnitsComparator.isEngUnitsPercent(chartCard?.progressChart.title)"
                  >
                    {{ chartCard?.progressChart.unit || 'ед.изм'}}
                  </div>
                  <div class="units__unit"
                       (click)="engUnitsComparator.setEngUnits(chartCard?.progressChart.title, 'percent')"
                       [class.units__unit_active]="engUnitsComparator.isEngUnitsPercent(chartCard?.progressChart.title)"
                  >%</div>
                </div>
              </div>
              <div class="chart-card__diagram">
                <evj-kpe-line-diagram
                  [fact]="engUnitsComparator.isEngUnitsPercent(chartCard?.progressChart.title) ? chartCard?.progressChart.percentage : chartCard?.progressChart.fact"
                  [plan]="engUnitsComparator.isEngUnitsPercent(chartCard?.progressChart.title) ? 100 : chartCard?.progressChart.plan"
                  [deviation]="engUnitsComparator.isEngUnitsPercent(chartCard?.progressChart.title) ? chartCard?.progressChart.deviationPercentage : chartCard?.progressChart.deviation"
                ></evj-kpe-line-diagram>
              </div>
              <div class="chart-card__chart">
                <evj-kpe-line-chart [data]="prepareTrendData(chartCard?.trendChart)"></evj-kpe-line-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="readiness__main">
        <ng-container *ngFor="let row of chartCards">
          <div class="readiness__main__row" *ngIf="displayMode === 'tiled'">
            <ng-container *ngFor="let card of row">
              <div *ngIf="!displayNewDesign" class="readiness__main__chart element-container">
                <div class="chart-card">
                  <div class="chart-card__content">
                    <div class="chart-card__title">
                      <span class="label">{{ card?.progressChart.title }}</span>
                      <div class="units">
                        <div class="units__unit"
                             (click)="engUnitsComparator.setEngUnits(card?.progressChart.title, 'units')"
                             [class.units__unit_active]="!engUnitsComparator.isEngUnitsPercent(card?.progressChart.title)"
                        > {{ card?.progressChart.unit || 'ед.изм' }}
                        </div>
                        <div class="units__unit"
                             (click)="engUnitsComparator.setEngUnits(card?.progressChart.title, 'percent')"
                             [class.units__unit_active]="engUnitsComparator.isEngUnitsPercent(card?.progressChart.title)"
                        >%</div>
                      </div>
                    </div>
                    <div class="chart-card__diagram">
                      <evj-kpe-line-diagram
                        [fact]="engUnitsComparator.isEngUnitsPercent(card?.progressChart.title) ? card?.progressChart.percentage : card?.progressChart.fact"
                        [plan]="engUnitsComparator.isEngUnitsPercent(card?.progressChart.title) ? 100 : card?.progressChart.plan"
                        [deviation]="engUnitsComparator.isEngUnitsPercent(card?.progressChart.title) ? card?.progressChart.deviationPercentage : card?.progressChart.deviation"
                      ></evj-kpe-line-diagram>
                    </div>
                    <div class="chart-card__chart">
                      <evj-kpe-line-chart [data]="prepareTrendData(card?.trendChart)"></evj-kpe-line-chart>
                    </div>
                  </div>
                </div>
              </div>
              <evj-kpe-universal-card
                *ngIf="displayNewDesign"
                [gaugeChart]="{
                    fact: diagram?.fact,
                    plan: diagram?.plan,
                    deviation: diagram?.deviation
                  }"
              ></evj-kpe-universal-card>
            </ng-container>
          </div>
          <ng-container *ngFor="let card of row">
            <div class="readiness__main__row readiness__main__row-line" *ngIf="displayMode === 'line'">
              <div *ngIf="!displayNewDesign" class="readiness__main__chart element-container-line">
                <div class="chart-card">
                  <div class="chart-card__content">
                    <div class="chart-card__title">
                      <span class="label">{{ card?.progressChart.title }}</span>
                      <div class="units">
                        <div class="units__unit" [class.units__unit_active]="card?.progressChart.unit">
                          {{ card?.progressChart.unit || 'ед.изм' }}
                        </div>
                        <div class="units__unit" [class.units__unit_active]="!card?.progressChart.unit">%</div>
                      </div>
                    </div>
                    <div class="chart-card__diagram">
                      <evj-kpe-line-diagram
                        [fact]="card?.progressChart.fact"
                        [plan]="card?.progressChart.plan"
                        [deviation]="card?.progressChart.deviation"
                      ></evj-kpe-line-diagram>
                    </div>
                    <div class="chart-card__chart">
                      <evj-kpe-line-chart [data]="prepareTrendData(card?.trendChart)"></evj-kpe-line-chart>
                    </div>
                  </div>
                </div>
              </div>
              <evj-kpe-universal-card
                *ngIf="displayNewDesign"
                [type]="0"
                [gaugeChart]="{
                    fact: diagram?.fact,
                    plan: diagram?.plan,
                    deviation: diagram?.deviation
                  }"
              ></evj-kpe-universal-card>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
