<div class="container">
  <evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle">
    <div class="content-container">
      <div class="header">
        <ul class="header__info">
          <li class="header__info-item">
            <div class="header__info-1"></div>
            <span>Факт</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-2"></div>
            <span>План</span>
          </li>
        </ul>
      </div>
    </div>
  </evj-contemporary-widget-header>
  <div (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="readiness">
      <div class="readiness__header">
        <div class="readiness__header__circle-diagram"></div>
        <div class="readiness__header__line-diagram">
          <evj-kpe-line-chart [data]="lineChartData" isLineCircle="true"></evj-kpe-line-chart>
        </div>
      </div>
      <div class="readiness__body">
        <div class="readiness__body__circle-diagram__first card">s</div>
        <div class="readiness__body__circle-diagram__second card">s</div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram [isCritical]="false"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram [isCritical]="false"></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram
            [isCritical]="true"
            class="readiness__body__"
          ></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram
            [isCritical]="false"
            class="readiness__body__"
          ></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram
            [isCritical]="true"
            class="readiness__body__"
          ></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram
            [isCritical]="false"
            class="readiness__body__"
          ></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
        <div class="readiness__body__line-diagram card">
          <evj-kpe-line-diagram
            [isCritical]="false"
            class="readiness__body__"
          ></evj-kpe-line-diagram>
          <evj-kpe-line-chart [data]="lineChartData"></evj-kpe-line-chart>
        </div>
      </div>
      <!-- <div style="width: 100%; height: 30%;">
        <evj-kpe-line-chart [data]="lineChartData" isLineCircle="true"></evj-kpe-line-chart>
      </div> -->
    </div>
  </div>
</div>
