.container {
  display: flex;
  flex-flow: column;
  background-color: var(--bg-body-color);
  height: 100%;
  width: 100%;

  &-body {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--border-vidget-color);
    overflow: hidden;
  }
}

.readiness {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    min-height: 110px;
    max-height: 110px;
    height: 110px;
    gap: 15px;

    &__gauge {
      height: 100%;
    }

    &__chart {
      flex-grow: 1;
      height: 100%;
    }
  }

  &__middle {
    position: relative;
    display: flex;
    gap: 10px;

    &__gauges-container {
      position: relative;
      flex-grow: 1;
      height: 100%;

      .container {
        position: absolute;
        display: flex;
        flex-flow: row;
        gap: 10px;
        width: 100%;
        height: 100%;
      }
    }

    &__gauge {
      position: relative;
      height: 100%;
      flex-grow: 1;
      overflow: hidden;
      display: flex;

      background: var(--color-kpe-bg-sub);
    }

    &__chart {
      height: 100%;
      flex-grow: 1;

      background: var(--color-astue-onpz-widget-border);
    }
  }

  &__main {
    display: flex;
    flex-flow: column;
    gap: 10px;
    flex-grow: 1;

    &__row {
      display: flex;
      gap: 10px;
      flex-grow: 1;

      &-line {
        flex-grow: 0;
      }
    }

    &__chart {
      flex-grow: 1;
      height: 100%;

      background: var(--color-astue-onpz-widget-border);
    }
  }
}

.chart-card {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;

  &__content {
    display: flex;
    flex-flow: column;
    gap: 8px;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    min-height: 16px;
    height: 16px;
    width: 100%;

    & > * {
      margin: auto 0;
    }

    .label {
      font-size: 13px;
      color: var(--color-kpe-text-main);
    }

    .units {
      display: flex;

      &__unit {
        font-size: 10px;
        line-height: 12px;
        padding: 2px 5px;
        border-radius: 2px;
        background: var(--color-sou-border);
        border: solid 1px transparent;
        color: var(--color-astue-onpz-units);

        &_active {
          border-color: var(--color-kpe-gaude-active);
          box-sizing: border-box;
          color: var(--color-kpe-text-main);
        }
      }
    }
  }

  &__diagram {
    width: 100%;
  }

  &__chart {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
  }
}

.gauge-card {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    overflow: hidden;
  }

  &__units {
    display: flex;
    justify-content: space-between;

    &__unit {
      font-size: 10px;
      line-height: 12px;
      padding: 2px 3px;
      border-radius: 2px;
      background: var(--color-sou-border);
      border: solid 1px transparent;
      color: var(--color-astue-onpz-units);

      &_active {
        border-color: var(--color-kpe-gaude-active);
        box-sizing: border-box;
        color: var(--color-kpe-text-main);
      }
    }
  }

  &__gauge {
    flex-grow: 1;
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
  }

  &__title {
    font-size: 13px;
    margin: 0 auto;
  }
}

.element-container {
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  &-line {
    position: relative;
    border-radius: 2px;
    background: var(--color-kpe-bg-sub);
    box-sizing: border-box;
    height: 170px;
  }
}

.content-container {
  flex: 1;
  .header {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    overflow: hidden;

    &__info {
      display: flex;
      justify-content: flex-end;
      color: var(--color-text-sub);

      margin: 0;
      padding: 0;
      list-style: none;

      margin-left: 60px;

      &-item {
        padding-right: 12px;
        display: flex;
        align-items: center;
        //min-width: 60px;
      }

      &-1, &-2, &-3 {
        height: 5px;
        min-width: 5px;
        width: 5px;
        border-radius: 50%;
        margin-right: 5px;
      }

      &-1 {

        background-color: var(--color-kpe-eq-chart-title);
      }

      &-2 {
        background-color: var(--color-aps-active);
      }

      &-3 {
        background-color: var(--color-kpe-universal-card-predict);
      }
    }

    &__right {
      display: flex;

      margin-left: 30px;
      min-height: 24px;

      &__button-date {
        width: 645px;
      }
    }
  }
}

.none {
  display: none;
}
