.datetimepicker {
  width: calc(100% - 2px);
  position: relative;
  display: flex;

  .date-info {
    width: 100%;

    .title {
      font-size: 13px;
      margin-bottom: 3px;
      color: var(--color-text-sub);
    }

    .date {
      color: var(--header-events-color-font-main) !important;
      font-size: 13px;
      width: calc(100% - 20px);
      height: 36px;
      border-radius: 2px;
      background-color: var(--header-events-color-bg-main);
      border: 1px solid var(--color-astue-mat-select-border);
      padding: 0px 10px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-form-field-underline {
        display: none !important;
      }

      .mat-form-field-flex {
        margin-top: 0 !important;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
        width: 100%;
        min-width: 130px;
      }

      .mat-datepicker-toggle {
        font-size: 14px !important;
      }
    }
  }

  .date-button {
    width: 11%;
    height: 100%;
    top: 12px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }

  .date-block {
    display: none;
  }
  .date-block-open {
    display: block;
    background-color: var(--color-bg-card);
    border: 1px solid var(--color-text-sub);
    width: 100px;
    position: absolute;
    z-index: 5;
    border-radius: 20px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    top: 55px;
  }
}

.disabled {
  cursor: not-allowed;
}
