<div class="aps-header">
  <div class="aps-header__background"></div>
  <div class="aps-header__interface">
    <img class="icon" src="assets/icons/widgets/APS/header/drop.svg" />
    <div class="title">Использование запасов</div>
    <div
      class="buttons"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="button button_screen" *ngIf="onFullScreenButton" (click)="onFullScreenButton()">
        <img src="assets/icons/widgets/APS/header/screen.svg" />
      </div>
      <div class="button button_menu" (click)="toggleMenu()">
        <img src="assets/icons/widgets/APS/header/menu.svg" />
      </div>
    </div>
  </div>
  <div
    class="aps-header__menu menu"
    [ngClass]="{'menu_open':isMenuOpen}"
    (mouseleave)="closeMenu()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="menu__item">Настройки</div>
    <div class="menu__item" (click)="onRemoveButton()">Удалить с экрана</div>
  </div>
</div>
