<div class="container">
  <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="content__left">
      <div class="b-a">
        <div class="frame-top"></div>
      </div>
      <evj-performance-progress-park
        [data]="progressIndicators?.statePark"
        title="Состояние парка"
      ></evj-performance-progress-park>
      <div class="frame-bottom"></div>
    </div>
    <div class="content__middle">
      <evj-performance-progress-line-circle [data]="progressIndicators?.circle"></evj-performance-progress-line-circle>
    </div>
    <div class="content__right">
      <div class="b-a">
        <div class="frame-top"></div>
      </div>
      <evj-performance-progress-park
        [data]="progressIndicators?.shipment"
        title="Отгрузка"
      ></evj-performance-progress-park>
      <div class="frame-bottom"></div>
    </div>
  </div>
</div>
