<div class="interactive-indicators"
     (mousedown)="$event.stopPropagation()"
     (touchstart)="$event.stopPropagation()">
  <div class="interactive-indicators__labels">
    <div class="labels__items">
      <div class="labels__item" *ngFor="let item of data.labels">
        <div class="item__icon">
          <svg-icon
            src="assets/icons/widgets/ASTUE-ONPZ/aim.svg"
          ></svg-icon>
        </div>
        <div class="item__name">{{ item.name }}</div>
        <div class="item__delete">
          <svg-icon
            src="assets/icons/widgets/ASTUE-ONPZ/close.svg"
          ></svg-icon>
        </div>
      </div>
    </div>
    <div class="labels__select">
      <mat-form-field class="select__item">
        <mat-select
          panelClass="mat-select-custom"
        >
          <mat-option *ngFor="let p of ['Коллоны и реакторы']" [value]="p">
            {{ p }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="interactive-indicators__table">
    <div class="table__header">
      <svg-icon
        class="table__header__icon"
        src="assets/icons/widgets/ASTUE-ONPZ/screen.svg"
      ></svg-icon>
      Показатели
    </div>
    <table class="table">
      <tbody>
      <tr *ngFor="let item of data.indicators; last as last" class="table__row">
        <td class="table__column">{{ item.name }}</td>
        <td class="table__column"> {{ item.value }}
          <svg-icon
            *ngIf="last"
            class="table__column__icon"
            src="assets/icons/widgets/ASTUE-ONPZ/lamp.svg"
          ></svg-icon>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
