.interactive-indicators {
  &__labels {
    .labels {
      &__items {
        display: flex;
        justify-content: flex-start;
      }

      &__item {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 12px;

        background-color: var(--color-astue-onpz-bg-legend);

        .item {
          &__icon {
            height: 34px;
            width: 34px;
            background-color: #00a99d;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 2px;
            margin-right: 10px;
          }

          &__name {
            margin-right: 10px;
          }

          &__close {
            cursor: pointer;
          }
        }
      }

      &__select {

      }
    }
  }

  &__table {

  }
}
