<evj-contemporary-widget-header
  [uniqId]="widgetUniqId"
  widgetTitle="Управление файлами"
  icon="setting"
  type="astue"
>
  <div
    class="header"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="buttons-select">
      <div
        *ngFor="let tab of tabs; let i = index"
        class="buttons-select__item"
        [class.active]="(adminReportConfiguratorService.currentTab | async) === i"
        (click)="changeTab(i)"
      >{{ tab }}</div>
    </div>
  </div>
</evj-contemporary-widget-header>

<div
  class="container"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
>
  <div
    *ngIf="(adminReportConfiguratorService.currentTab | async) === 0"
    class="container__item"
  >
    <evj-admin-report-server-configurator-parameters></evj-admin-report-server-configurator-parameters>
  </div>

  <div
    class="container__item"
    [class.container__item_full]="(adminReportConfiguratorService.currentTab | async) === 1"
  >
    <evj-admin-report-server-configurator-repository></evj-admin-report-server-configurator-repository>
  </div>
</div>
