<evj-contemporary-widget-header
  [uniqId]="widgetUniqId"
  [widgetTitle]="'Конфигуратор Сервера Отчётов'"
  icon="setting"
  type="astue"
>
  <div class="header-tabs">
    <div class="tabs-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div
        class="btn"
        [class.btn_active]="(helperService.currentTab | async) === i"
        *ngFor="let tab of tabs; let i = index"
        (click)="changeTab(i)"
      >
        {{tab}}
      </div>
    </div>
  </div>
</evj-contemporary-widget-header>
<div class="container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
  <div class="container__item" [class.container__item_full]="(helperService.currentTab | async) === 1">
    <evj-admin-report-server-configurator-repository></evj-admin-report-server-configurator-repository>
  </div>
  <div class="container__item" *ngIf="(helperService.currentTab | async) === 0">
    <evj-admin-report-server-configurator-parameters></evj-admin-report-server-configurator-parameters>
  </div>
</div>
