$border-radius: 21px;
$width: 500px;
$font-size: 14px;

.loading-shade {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  background: var(--color-aw-shade-bg-transparent);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  &__blur {
    backdrop-filter: blur(1.5px);
    transition: backdrop-filter 0.5s;
  }
}

.confirm-container {
  width: $width;
  height: 300px;

  background-color: var(--color-bg-main-dark);
  box-shadow: 0 0 35px var(--color-aw-container-shadow-transparent);
  border-radius: $border-radius;

  &__body {
    width: $width;
    height: 220px;

    background-color: var(--color-aw-container-body-transparent);
    border-radius: $border-radius;
  }

  &-body__header {
    width: $width;
    height: 42px;

    background-color: var(--color-aw-header-bg);
    border-radius: $border-radius;

    span {
      height: 42px;

      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size;
      color: white;
    }
  }

  &-body__content {
    height: 178px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    p {
      color: white;
      font-size: $font-size;
      line-height: 17px;
      margin: auto;
    }

    &_prompt {
      p {
        margin: 0 auto;
      }
    }
  }

  &-body-header__icon {
    width: 42px;
    height: 42px;

    background-color: var(--color-aw-red-icon-bg);
    border-radius: 50%;
    float: left;
    margin-right: 18px;

    &_input {
      display: flex;
      justify-content: center;
      align-items: center;

      background: var(--color-active);

      img {
        width: 24px;
        height: 24px;
        margin: 0;
      }
    }
  }

  &__footer {
    height: 80px;
    display: flex;
    align-items: center;

    .button-container {
      width: 168px;
      height: 44px;
      margin: auto;
    }
  }

  .form {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input__block {
    position: relative;

    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-text-sub);

    &:first-child {
      margin-bottom: 40px;
    }

    .input {
      &__icon {
        position: absolute;

        width: 20px;
        height: 20px;

        top: 0;
        bottom: 0;
        left: auto;
        right: 30px;
        margin: auto;
      }

      &__hint {
        position: absolute;
        width: 374px;
        height: max-content;

        left: 0;
        right: 0;
        top: 100%;
        margin: auto;

        box-sizing: border-box;
        padding: 3px 10px 3px 20px;

        font-size: 12px;
        color: var(--color-danger);
        text-align: left;

        user-select: none;
      }
    }

    &_dirty {
      color: var(--color-active);
    }

    &_invalid {
      color: var(--color-danger);
    }
  }
}

.confirm-container_reset {
  height: 430px;

  .confirm-container {
    &__body {
      height: 350px;
    }

    &-body__content {
      height: 300px;

      .input__block {
        &:first-child {
          margin-bottom: 0 !important;
        }

        &:nth-child(2) {
          margin: 40px 0px !important;
        }
      }
    }
  }
}

.insert-component {
  width: 374px;
  height: 45px;
  font-size: 14px;
  text-align: left;
}
