<ng-container *ngIf="options?.isShow">
  <div
    class="loading-shade loading-shade__blur"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="confirm-container" [class.confirm-container_reset]="!options.isCreatePassword">
      <div class="confirm-container__body confirm-container-body">
        <div class="confirm-container-body-header">
          <div
            class="confirm-container-body-header__icon"
          >
            <img src="assets/icons/components/alert-password/shield.svg" />
          </div>
          <div class="confirm-container-body-header__title">
            <span>Изменение пароля</span>
          </div>
          <div class="confirm-container-body-header__close">
            <div class="close-button" (click)="onClickBack()">
              <img src="assets/icons/widgets/alert-window/close.svg" />
            </div>
          </div>
        </div>
        <div class="confirm-container-body__content confirm-container-body__content_prompt">
          <form class="form" [formGroup]="formGroup">
            <div
              class="input__block"
              [ngClass]="setPasswordStyle('oldPassword')"
              *ngIf="showOldPassword"
            >
              <evj-input
                class="insert-component"
                [options]="oldPasswordOptions"
                formControlName="oldPassword"
              >
              </evj-input>
              <div
                class="input__hint"
                *ngIf="formGroup.controls.oldPassword.hasError('notOldPassword')"
              >
                Введите корректный пароль
              </div>
            </div>
            <div class="input__block" [ngClass]="setPasswordStyle('password')">
              <div class="password-title">
                <span>Введите пароль</span>
              </div>
              <evj-input
                class="insert-component"
                [options]="passwordOptions"
                formControlName="password"
              >
              </evj-input>
              <div
                class="input__hint"
                *ngIf="formGroup.controls.password.invalid && formGroup.controls.password.touched"
              >
                Пароль должен содержать от {{minLength}} до {{maxLength}} символов, хотя бы одну
                букву, цифру и символ из списка ?!.-_*#$@
              </div>
            </div>
            <div class="input__block" [ngClass]="setPasswordStyle('confirmPassword')">
              <div class="password-title">
                <span>Подтвердите пароль</span>
              </div>
              <evj-input
                class="insert-component"
                [options]="confirmOptions"
                formControlName="confirmPassword"
              >
              </evj-input>
              <div
                class="input__hint"
                *ngIf="formGroup.controls.confirmPassword.invalid && formGroup.controls.confirmPassword.touched"
              >
                Пароли не совпадают
              </div>
            </div>
          </form>
        </div>
      </div>
      <ng-container
        *ngIf="formGroup.controls.confirmPassword.invalid && formGroup.controls.confirmPassword.touched; else valid">
        <div class="invalid-line"></div>
      </ng-container>
      <ng-template #valid>
        <div class="alert-line"></div>
      </ng-template>
      <div class="confirm-container__footer">
        <div class="button-container">
          <evj-button
            textButton="Сохранить"
            (click)="onClickConfirm()"
            [isChangingState]="false"
            [type]="'primary'"
          ></evj-button>
        </div>
        <div class="button-container">
          <evj-button
            textButton="Отменить"
            (click)="onClickBack()"
            [isChangingState]="false"
          ></evj-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
