:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 444px;
}

.mock {
  position: relative;
  display: block;
  height: 200px;
  .diagrams {
    position: relative;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 10px;

    border-right: 0.5px dashed var(--color-border-main-transparrent);
    border-left: 0.5px dashed var(--color-border-main-transparrent);

    &__item {
      margin: 0 5px 0 0;
    }
  }
}

.op-ef {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  .dld {
    display: contents;
  }
}
