<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [units]="'млн.руб.'"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div
      class="op-ef"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <evj-detailed-line-diagram class="dld" [data]="data"></evj-detailed-line-diagram>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
