<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F118'"
      [data]="{
        sections: sections,
        code: 144
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 145
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 144
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 145
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 134
      }"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FVss2006-1'"
      [data]="{
        sections: sections,
        code: 136
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 138
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 137
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 139
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 91
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 91
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 92
      }"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 93
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 95
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 94
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 96
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC121'"
      [data]="{
        sections: sections,
        code: 97
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 97
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 98
      }"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 99
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 101
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F201-1'"
      [data]="{
        sections: sections,
        code: 103
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F202-1'"
      [data]="{
        sections: sections,
        code: 105
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 100
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 102
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 104
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 106
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 107
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 107
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 108
      }"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 109
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 111
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 110
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 112
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 119
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 119
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 120
      }"
      [outCount]="6"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 121
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 123
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 125
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 127
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 129
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 131
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 122
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 124
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 126
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 128
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 130
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 132
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 113
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 113
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 114
      }"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 115
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 117
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 116
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 118
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 81
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 70
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 81
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 70
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 82
      }"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 85
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 87
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 89
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 83
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 86
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 88
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 90
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 84
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 71
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 71
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 72
      }"
      [outCount]="4"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 73
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 77
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 79
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 75
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 74
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 78
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 80
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 76
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
