<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 90
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 91
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 90
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 91
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 100
      }"
      [dashedLine]="[1,2]"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FVss2006-1'"
      [data]="{
        sections: sections,
        code: 108,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 109,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 134
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 135
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 92
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 92
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 101
      }"
      [dashedLine]="[1]"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 110,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 111
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 136
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 137
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 93
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 93
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 102
      }"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 112
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 113
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 114
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 115
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 138
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 139
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 140
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 141
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 94
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 94
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 103
      }"
      [dashedLine]="[1,2]"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 116,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 117,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 142
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 143
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 95
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 95
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 104
      }"
      [outCount]="6"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 118
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 119
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 120
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 121
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 122
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 123
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 144
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 145
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 146
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 147
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 148
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 149
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 96
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 96
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 105
      }"
      [dashedLine]="[1,2]"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 124,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 125,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 150
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 151
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 97
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 98
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 97
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 98
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 106
      }"
      [dashedLine]="[1,3,4]"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 126,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 127
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 128,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 129,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 152
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 153
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 154
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 155
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 99
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 99
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 107
      }"
      [dashedLine]="[1,3,4]"
      [outCount]="4"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 130,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 131
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 132,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 133,
        disabledCircle: true
      }"
      [choosenSetting]="chosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 156
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 157
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 158
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 159
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
