<div class="diagram">
    <div class="diagram__number" #chart>
        <span>{{index}}</span>
    </div>
    <div class="diagram-information">
        <div class="information-indicator">
            <div class="indicator-values">
                <span class="indicator-values__start">1 248 045</span>
                <span class="indicator-values__end">0</span>
            </div>
            <div class="indicator-line">
                <div class="indicator-line__inner">
                    <div class="indicator-line__inner_value"></div>
                </div>
            </div>
        </div>
        <div class="information__text">
            <span>248 045</span>
            <span>200 045</span>
        </div>
        <div class="information-overboard">
            <div class="information-overboard__item">
                <span>70</span>
                <span class = 'units'>%</span>
            </div>
            <div class="information-overboard__item">
                <span>0.62</span>
                <span class = 'units'>тн/ч</span>
            </div>
        </div>
    </div>
</div>
