::ng-deep {
  .title-number {
    font-style: normal;
    font-weight: bold;
    font-family: Tahoma;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 20px;
    line-height: 16px;
    fill: var(--ozsm-color-marker-diagram);
  }

  .outer-arc-bg {
    fill: var(--ozsm-color-border-l);
  }

  .outer-arc-value {
    fill: var(--ozsm-color-white);
  }
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .card-container {
    height: 40px;
    width: 230px;

    border: 0.7px solid var(--ozsm-color-border);
    border-radius: 2px;
    background: var(--ozsm-color-circle-diagram);

    .content {
      height: 100%;
      margin: 0 0 0 30px;
      display: flex;

      position: relative;
    }

    i {
      position: relative;
      top: calc(2px - 155%);
    }

    &__circle {
      float: left;
      margin-left: -40px;

      .chart {
        position: absolute;
        width: 80px;
        height: 80px;

        .svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.information-indicator {
  width: 165px;
  padding-top: 6px;
  padding-right: 10px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.indicator-values {
  width: 100%;

  display: flex;
  justify-content: space-between;

  span {
    font-size: 12px;
    line-height: 14px;
    color: var(--ozsm-color-marker-diagram);
  }
}

.indicator-line {
  height: 8px;
  width: 100%;

  margin-top: 4px;

  border: 1px solid var(--ozsm-color-border);
  border-radius: 2px;

  &__inner {
    height: 6px;

    border: 1px solid var(--ozsm-color-bg-packing-list);

    &_value {
      height: 6px;
      background: var(--ozsm-color-active);
    }
  }
}

.information__text {
  height: 30px;
  width: 60px;
  padding: 5px 10px;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  background: var(--ozsm-color-line-bg);
  border-radius: 0 2px 2px 0;

  transform: translateX(1px);

  span {
    font-size: 10px;
    line-height: 12px;
    color: var(--ozsm-color-text-main);

    &:first-child {
      font-size: 12px;
      line-height: 14px;
      color: var(--ozsm-color-active);
    }
  }
}

.information-overboard {
  width: 100px;

  display: flex;
  align-items: center;

  position: absolute;
  bottom: -20px;
  left: 5px;

  &__item {
    &:last-child {
      margin-left: 8px;
    }

    span {
      font-size: 12px;
      line-height: 14px;
      color: var(--ozsm-color-white);
    }

    .units {
      margin-left: 2px;

      font-size: 10px;
      line-height: 12px;
      color: var(--ozsm-color-marker-diagram);
    }
  }
}
