<div class="options scroll-bar">
  <ng-container *ngFor="let option of inputOptions">
    <evj-aws-card
      class="card"
      *ngIf="isValidFieldName(option.name)"
      [option]="option"
      [isCreateNewUser]="isCreateNewUser"
      [disabled]="isDisabledField(option.key)"
      (saveChanging)="onFieldChanging($event)"
    ></evj-aws-card>
  </ng-container>

  <evj-aws-select-card
    class="card"
    *ngIf="isValidFieldName(selectOptions[0].name)"
    [isCreateNewUser]="isCreateNewUser"
    [option]="selectOptions[0]"
    (saveChanging)="onSelectUnit($event)"
  ></evj-aws-select-card>

  <div class="card" *ngIf="isValidFieldName(textPasswordButton()) && !isImportNewWorker">
    <evj-button
      class="card__button"
      [isChangingState]="false"
      [textButton]="textPasswordButton()"
      (click)="onSetPassword()"
    ></evj-button>
  </div>
</div>
