<div class="options scroll-bar">
  <ng-container *ngFor="let option of inputOptions">
    <evj-aws-card
      class="card"
      *ngIf="isValidFieldName(option.name)"
      [option]="option"
      (saveChanging)="onFieldChanging($event)"
    ></evj-aws-card>
  </ng-container>

  <evj-aws-select-card
    class="card"
    [option]="selectOptions[0]"
    (saveChanging)="onSelectUnit($event)"
  ></evj-aws-select-card>
  <evj-aws-select-card
    class="card"
    *ngIf="!!workerUnit"
    [option]="selectOptions[1]"
    (saveChanging)="onSelectBrigade($event)"
  ></evj-aws-select-card>

  <evj-aws-checkbox-card
    class="card"
    [workerPosition]="setWorkerPosition()"
    (checked)="onSetResponsible($event)"
  ></evj-aws-checkbox-card>
</div>
