::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  margin-top: 90px;
  margin-bottom: 90px;
}

::-webkit-scrollbar-track:vertical {
  width: 5px;
  height: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 25px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
}

:hover::-webkit-scrollbar-track-piece {
  border: solid 1px var(--color-border-active);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 25px;
  background-color: var(--color-border-main);
}

::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border: solid 1px var(--color-border-main);
  border-radius: 25px;
}

::-webkit-resizer {
  background-color: var(--color-border-active);
}

.container {
  position: absolute;
  left: 35%;
  top: 10%;
  z-index: 999;
  height: 80%;
  width: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  //box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  min-width: 225px;
}

.title {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #1b1f2c;
  color: var(--color-text-main);
  text-align: center;
  line-height: 40px;
  font-size: 11px;
  display: flex;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  &__button-close {
    cursor: pointer;
    width: 30px;
    margin-top: 7px;
    margin-left: 20px;
  }

  &__name {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}

.content {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100% - 90px);
  background-color: #1b1f2c;
  border-top: 5px solid var(--color-bg-main);
  border-bottom: 5px solid var(--color-bg-main);

  &__title {
    display: flex;
    background-color: var(--color-bg-main);
    color: var(--color-text-sub);
    text-align: center;
    height: 40px;
    line-height: 40px;
    .title-name {
      width: calc(100% - 140px);
    }

    .title-check {
      width: 70px;
    }

    .title-value {
      width: 70px;
    }
  }

  &__info {
    .item-data{
      text-align: center;
      height: 40px;
      line-height: 40px;
      display: flex;
      border-bottom: 1px solid var(--color-bg-main);

      &__name{
        width: calc(100% - 140px);
        border-right: 1px solid var(--color-bg-main);
      }

      &__check{
        width: 70px;
        border-right: 1px solid var(--color-bg-main);

        .mycheckbox {
          height: 100%;
          width: 100%;
          justify-content: center;
          margin-left: 5px;
          cursor: pointer;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        
        .mycheckbox__default {
          display: none;
        }
        
        .mycheckbox__descr {
          font-size: 14px;
        }
        
        .mycheckbox__default:checked + .mycheckbox__new::after {
          height: 10px;
          width: 10px;
          border-radius: 25px;
        }
        
        .mycheckbox__new {
          width: 16px;
          height: 16px;
          border-radius: 25px;
          border: 1px solid white;
          margin-right: 9px;
          position: relative;
        }
        
        .mycheckbox__checked {
          border: 1px solid var(--color-border-active);
        }
        
        .mycheckbox__new::after {
          content: "";
          display: block;
          width: 0;
          height: 0;
          background-color: var(--color-border-active);
          left: 50%;
          top: 50%;
          position: absolute;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          -webkit-transition: 0.2s ease-in;
          transition: 0.2s ease-in;
        }
      }

      &__value{
        width: 70px;
      }
    }
  }
}

.bottom {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: #1b1f2c;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  &__block {
    position: absolute;
    right: 15px;
    width: 110px;
    font-size: 15px;
    display: flex;
    border: 1px solid white;
    border-radius: 20px;
    top: 7px;

    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-border-active);
      color: var(--color-border-active);
    }
  }

  &__button-add {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-top: 5px;
  }

  &__input {
    border: 1px solid var(--color-text-main);
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    left: 25px;
    top: 5px;
    height: 28px;
    position: absolute;
    width: 200px;

    input {
      border-bottom: none !important;
    }
  }

  &__save-block {
    display: flex;
    position: relative;
    margin: 0 auto;
  }

  &__button-save {
  }

  &__add-block {
  }

  &__block-edit {
    position: absolute;
    left: 15px;
  }
}

.displayOff {
  display: none !important;
}
