<evj-contemporary-widget-header [uniqId]="uniqId" icon="map">
  <div class="content-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="headerTabs"></ng-container>
  </div>
</evj-contemporary-widget-header>

<ng-template #headerTabs>
  <div class="tabs-container">
    <div class="tab tab--active">
      <div class="tab__icon">
        <svg-icon
          src="assets/icons/widgets/APS/scenarios/tab-scenario-settings.svg"
          [svgStyle]="{ 'width.px':11, 'height.px':15 }"
        >
        </svg-icon>
      </div>
      <div class="tab__title">Настройка сценария</div>
    </div>
    <div class="tab">
      <div class="tab__icon">
        <svg-icon
          src="assets/icons/widgets/APS/scenarios/tab-analysis-journal.svg"
          [svgStyle]="{ 'width.px':17, 'height.px':15 }"
        >
        </svg-icon>
      </div>
      <div class="tab__title">Журнал анализа</div>
    </div>
  </div>
</ng-template>

<div class="wrapper" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" evjContextMenu>
  <div class="primary-content">
    <div class="primary-content__dashed">
      <div class="circle-container">
        <div class="circle-container__circle circle-container__circle--active"></div>
      </div>
      <div class="circle-container">
        <div class="circle-container__circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle-container__circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle-container__circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle-container__circle"></div>
      </div>
    </div>

    <div class="primary-content__dropdown-block">
      <div class="dropdown">
        <div class="dropdown__marker"></div>
        <mat-select class="dropdown__select">
          <ng-container *ngFor="let scenario of scenarios">
            <mat-option [value]="scenario"> {{ scenario }} </mat-option>
          </ng-container>
        </mat-select>
      </div>
      <button class="button button-icon">
        <svg-icon
          src="assets/icons/widgets/APS/scenarios/add-scenario.svg"
          [svgStyle]="{ 'width.px':12, 'height.px':16 }"
        >
        </svg-icon>
      </button>
    </div>

    <div class="primary-content__divider"></div>

    <div class="primary-content__buttons-block">
      <button class="button block-button">Исходные данные</button>
      <button class="button block-button">Расчитать</button>
    </div>
  </div>
  <evj-aps-expandable-bottom-frame></evj-aps-expandable-bottom-frame>

  <div class="secondary-content">
    <evj-aps-notched-container>
      <div icon>
        <svg-icon
          src="assets/icons/widgets/APS/scenarios/icon-speed.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':10 }"
        >
        </svg-icon>
      </div>
      <div content class="content">
        <div class="content__title">
          <span>Запас по работе установок, %</span>
        </div>
        <evj-aps-progress-bar [settings]="barChartSettings1"></evj-aps-progress-bar>
      </div>
      <div value>{{ barChartSettings1.value }}</div>
    </evj-aps-notched-container>
    <br />
    <evj-aps-notched-container>
      <div icon>
        <svg-icon src="assets/icons/widgets/APS/scenarios/warning.svg" [svgStyle]="{ 'width.px':16, 'height.px':16 }">
        </svg-icon>
      </div>
      <div content class="content">
        <div class="content__title">
          <span>Тех. ограничения загрузки установок, шт</span>
          <span class="notification">-3</span>
        </div>
        <evj-aps-progress-bar [settings]="barChartSettings2"></evj-aps-progress-bar>
      </div>
      <div value>{{ barChartSettings2.value }}</div>
    </evj-aps-notched-container>
  </div>
</div>
