<div class="container">
  <evj-widget-header [title]="widgetTitle" [units]="widgetUnits" [code]="widgetCode" [id]="id" [uniqId]="uniqId"
    [icon]="widgetIcon"></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
    <evj-alert-window [info]="referencesService.alertWindow$ | async"></evj-alert-window>
    <div class="references">
      <div class="reference-left">
        <div class="title-reference">Наименование справочника</div>
        <div class="reference-container">
          <div class="scroll-block" id="leftScrollAdmRef">
            <ng-container *ngFor="let item of data; let i= index">
              <div class="reference-container__block">
                <div *ngIf="!item.openEdit" class="reference-container__block-info"
                  [class.block-active]="item.id === idReferenceClick" (click)="onClickReference(item, i)">
                  <div class="reference-container__name">{{item.name}}</div>
                  <div class="reference-container__button-edit" (click)="onEdit(item)">
                    <svg-icon *ngIf="item.id === idReferenceClick" class="indicator-selector__collapse"
                      src="assets/icons/widgets/references/edit_white.svg"></svg-icon>
                  </div>
                </div>
                <div *ngIf="item.openEdit" class="reference-container__block-info" [class.block-active]="item.open">
                  <div class="reference-container__add-block-input">
                    <input type="text" [(ngModel)]="item.name" placeholder="Новое наименование..." />
                  </div>
                  <div class="reference-container__add-block-icon" (click)="editReference(item)">
                    <svg-icon src="assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
                  </div>
                </div>
                <div class="reference-container__button-remove" (click)="deleteReference(item)"
                  *ngIf="item.id === idReferenceClick">
                </div>
              </div>
            </ng-container>
            <div *ngIf="isClickPushReference" class="reference-container__add-block">
              <div class="reference-container__add-block-input">
                <input type="text" [(ngModel)]="newRecordInReference" placeholder="Введите имя справочника..." />
              </div>
              <div class="reference-container__add-block-icon" (click)="onPushReference()">
                <svg-icon src="assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-reference-left">
          <div class="bottom-reference-left__block">
            <div class="bottom-reference-left__button-add" (click)="onPushBlockInReference()">
              <svg-icon *ngIf="!isClickPushReference" src="assets/icons/widgets/references/add_white.svg"
                class="add_button_icon"></svg-icon>

              <svg-icon *ngIf="isClickPushReference" class="indicator-selector__collapse"
                src="assets/icons/widgets/references/add_blue.svg"></svg-icon>
            </div>
            <div class="bottom-reference-left__input-block">
              <div class="bottom-reference-left__button-search">
                <svg-icon *ngIf="!isRefInput" class="button_filter_icon"
                  src="assets/icons/widgets/references/search_white.svg"></svg-icon>

                <svg-icon *ngIf="isRefInput" class="indicator-selector__collapse"
                  src="assets/icons/widgets/references/search_blue.svg"></svg-icon>
              </div>
              <div class="bottom-reference-left__input" [class.bottom-reference-left__input-active]="isRefInput">
                <input type="text" (focus)="isRefInput = true" (blur)="isRefInput = false"
                  (keyup)="searchReference($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reference-right">
        <div class="title-reference" [class.isLongBlock]="isLongBlock">
          <div class="title-reference__title-name">Наименование колонны</div>
          <div class="title-reference__title-type">Тип</div>
          <div class="title-reference__title-value">
            <div class="line-value">Обязательное значение</div>
          </div>
          <div class="title-reference__title-uniqValue">
            <div class="line-uniqValue">Уникальное значение</div>
          </div>
        </div>
        <div class="references-container-scroll-block">
          <div id="rightScrollAdmRef" class="reference-container-value" cdkDropList (cdkDropListDropped)="drop($event)"
            [class.isLongBlock]="isLongBlock" #adminRefereneTable>
            <ng-container *ngIf="data[this.indexColumn] !== undefined">
              <div *ngFor="let item of data[this.indexColumn].columns" cdkDrag class="example-box">
                <div class="reference-container-value__block" [class.disabled]="item.name === 'Id' || item.name === 'Name'">
                  <div *ngIf="!item.openEdit" class="reference-container-value__fio-block"
                    [class.block-active-name]="item.open" (click)="onClickItemReference(item)">
                    <div class="reference-container-value__fio">{{item.name}}</div>
                  </div>
                  <div *ngIf="item.openEdit" class="reference-container__block-info" [class.block-active]="item.open">
                    <div class="reference-container__add-block-input">
                      <input type="text" [(ngModel)]="item.name" placeholder="Новое наименование..." />
                    </div>
                    <div class="reference-container__add-block-icon" (click)="editRecord(item)">
                      <svg-icon src="assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
                    </div>
                  </div>
                  <div class="reference-container-value__type" [class.block-active]="item.open">
                    <mat-form-field class="categories_selectbox">
                      <mat-select panelClass="mat-select-custom" [(ngModel)]="item.columnTypeId"
                        (selectionChange)="editRecord(item)">
                        <mat-option *ngFor="let p of dataType" [value]="p.type">{{ types[p.type] }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="reference-container-value__value" [class.block-active]="item.open">
                    <label class="mycheckbox">
                      <input type="checkbox" id="checkBoxValue" class="mycheckbox__default" [checked]="item.isRequred"
                        (click)="changeSwap(item)" />
                      <div class="mycheckbox__new" [class.mycheckbox__checked]="item.isRequred === true"></div>
                    </label>
                  </div>
                  <div class="reference-container-value__uniqValue" [class.block-active]="item.open">
                    <label class="mycheckbox">
                      <input type="checkbox" id="checkBoxUniqValue" class="mycheckbox__default"
                        [checked]="item.isUnique" (click)="changeUniqSwap(item)" />

                      <div class="mycheckbox__new" [class.mycheckbox__checked]="item.isUnique === true"></div>
                    </label>
                  </div>
                  <div class="reference-container-value__delete-button-none" [class.block-active]="item.open"
                    [class.reference-container-value__delete-button]="item.open" [class.isNotButton]="isLongBlock"
                    (click)="deleteRecord(item)">
                  </div>
                </div>
              </div>
              <div *ngIf="isClickPushRecord" class="reference-container-value__add-block">
                <div class="reference-container-value__fio-block">
                  <div class="reference-container-value__fio">
                    <input type="text" [(ngModel)]="newFioRecord" placeholder="Введите имя колонки..." />
                  </div>
                </div>
                <div class="reference-container-value__type">
                  <mat-form-field class="categories_selectbox">
                    <mat-select panelClass="mat-select-custom" (selectionChange)="onChangeType($event)">
                      <mat-option *ngFor="let p of dataType" [value]="p">{{ p.name }} </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="reference-container-value__value">
                  <label class="mycheckbox">
                    <input type="checkbox" id="checkBoxValue" class="mycheckbox__default" (click)="changeNewSwap()"
                      [checked]="valueNewCheck === true" />
                    <div class="mycheckbox__new" [class.mycheckbox__checked]="valueNewCheck === true"></div>
                  </label>
                </div>
                <div class="reference-container-value__uniqValue">
                  <label class="mycheckbox">
                    <input type="checkbox" id="checkBoxUniqValue" class="mycheckbox__default"
                      (click)="changeNewUniqSwap()" [checked]="valueUniqNewCheck === true" />
                    <div class="mycheckbox__new" [class.mycheckbox__checked]="valueUniqNewCheck === true"></div>
                  </label>
                </div>
                <div class="reference-container-value__add-button" (click)="onPushRecord()">
                  <svg-icon class="indicator-selector__collapse" src="assets/icons/widgets/references/accept.svg">
                  </svg-icon>
                </div>
              </div>
              <div *ngFor="let item of blockOut" cdkDrag class="example-box">
                <div class="reference-container-value__block">
                  <div class="reference-container-value__fio-block">
                    <div class="reference-container-value__fio"></div>
                  </div>
                  <div class="reference-container__block-info">

                  </div>
                  <div class="reference-container-value__type">

                  </div>
                  <div class="reference-container-value__value">

                  </div>
                  <div class="reference-container-value__uniqValue">

                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="bottom-reference-right" [class.isLongBlock]="isLongBlock">
          <div class="bottom-reference-right__block">
            <div class="bottom-reference-right__button-add" (click)="onPushBlockInRecord()">
              <svg-icon *ngIf="!isClickPushRecord" src="assets/icons/widgets/references/add_white.svg"
                class="add_button_icon"></svg-icon>

              <svg-icon *ngIf="isClickPushRecord" class="indicator-selector__collapse"
                src="assets/icons/widgets/references/add_blue.svg"></svg-icon>
            </div>
            <div class="bottom-reference-right__input-block">
              <div class="bottom-reference-right__button-search">
                <svg-icon *ngIf="!isRecInput" class="button_filter_icon"
                  src="assets/icons/widgets/references/search_white.svg"></svg-icon>
                <svg-icon *ngIf="isRecInput" class="button_filter_icon"
                  src="assets/icons/widgets/references/search_blue.svg"></svg-icon>
              </div>
              <div class="bottom-reference-right__input" [class.bottom-reference-right__input-active]="isRecInput">
                <input type="text" (focus)="isRecInput = true" (blur)="isRecInput = false"
                  (keyup)="searchRecords($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
