<div class="container">
  <div class="header">
    <svg-icon
      [svgStyle]="{'width.px': 38, 'height.px': 38}"
      src="assets/icons/widgets/admin/admin-report-server-configurator/editPen.svg"
    ></svg-icon>
    <span>Переименовать файл</span>
    <div class="shadow"></div>
    <svg-icon
      class="close"
      [svgStyle]="{'width.px': 21, 'height.px': 21}"
      src="assets/icons/widgets/admin/admin-report-server-configurator/close.svg"
      (click)="cancel()"
    ></svg-icon>
  </div>
  <div class="content">
    <div class="file-name">
      <span>Новое имя файла</span>
      <div class="link">
        <input
          type="text"
          [(ngModel)]="name"
        >
      </div>
    </div>
    <div class="btn-container">
      <evj-simple-button
        (click)="cancel()"
      >Отменить</evj-simple-button>

      <evj-simple-button
        [disabled]="!name || name.length < 3"
        (click)="accept()"
      >Сохранить</evj-simple-button>
    </div>
  </div>
</div>
