.indicator-diagram {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

::ng-deep {
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 5px;
    top: 6px;
  }

  .mat-badge-content {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text-main);
    background: var(--color-badge-notification-header);
  }

  .mat-badge-medium .mat-badge-content {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}

.diagram {
  position: absolute;
  top: 1px;
  left: -2px;
  color: var(--color-indicator-main);
  ::ng-deep {
    .diagram-main {
      stroke: var(--color-indicator-bg);
    }
  }
}

.warning {
  color: var(--color-header-bg-icons);
}
