.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--color-astue-onpz-mnemonic-furnace-lines);
  border-radius: 2px;
  box-sizing: border-box;
  background: var(--color-astue-onpz-mnemonic-furnace-item-bg);
  cursor: pointer;
  user-select: none;

  & > * {
    margin: 0 auto;
    max-width: 100%;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    color: var(--color-astue-onpz-mnemonic-furnace-main-text);
  }

  .unit {
    color: var(--color-astue-onpz-mnemonic-furnace-unit-text);
  }
}
