<div class="widget" #widget>
  <evj-sou-workspace *ngIf="showWorkspace" class="workspace" [@inOutAnimation]
                     (closeWorkspaceOut)="showWorkspace = !showWorkspace"></evj-sou-workspace>
  <div class="widget-header">
    <evj-contemporary-widget-header
      [uniqId]="widgetUniqId"
      [widgetTitle]="widgetTitle"
      icon="energy"
      type="astue">
      <div class="header" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">

        <div class="header__left-block">
          <svg-icon
            class="simple-arrow"
            src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/simpleArrow.svg"
            [ngStyle]="{ 'height.px':12 }"
          ></svg-icon>

          <div class="option-select">
            <div class="dropdown">
              <div class="dropdown__marker"></div>
              <mat-select placeholder="Производство" class="dropdown__select" formControlName="manufacture">
                <mat-option>Не выбрано</mat-option>
<!--                <mat-option *ngFor="let manufacture of selectionOptions.manufactures$ | async" [value]="manufacture.name">-->
<!--                  {{manufacture.name}}-->
<!--                </mat-option>-->
              </mat-select>
            </div>
          </div>

          <svg-icon
            class="simple-arrow"
            src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/simpleArrow.svg"
            [ngStyle]="{ 'height.px':12 }"
          ></svg-icon>

          <div class="option-select">
            <div class="dropdown">
              <div class="dropdown__marker"></div>
              <mat-select placeholder="Товарный парк" class="dropdown__select" formControlName="unit">
                <mat-option>Не выбрано</mat-option>
<!--                <mat-option *ngFor="let unit of selectionOptions.units$ | async" [value]="unit.id">-->
<!--                  {{ unit.name }}-->
<!--                </mat-option>-->
              </mat-select>
            </div>
          </div>

          <svg-icon
            class="simple-arrow"
            src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/simpleArrow.svg"
            [ngStyle]="{ 'height.px':12 }"
          ></svg-icon>

          <div class="option-select">
            <div class="dropdown">
              <div class="dropdown__marker"></div>
              <mat-select placeholder="Резервуары" class="dropdown__select" formControlName="reservoir">
                <mat-option>Не выбрано</mat-option>
<!--                <mat-option *ngFor="let reservoir of selectionOptions.reservoirs$ | async" [value]="reservoir.id">-->
<!--                  {{ reservoir.name }}-->
<!--                </mat-option>-->
              </mat-select>
            </div>
          </div>

          <div class="btn btn__blue btn__success">
            <svg-icon
              class="btn__icon"
              src="assets/icons/widgets/SOU/sou-streams/success.svg"
              [ngStyle]="{ 'height.px':16 }"
            ></svg-icon>
            <span>Показать</span>
          </div>
        </div>

        <div class="header__right-block">

          <div class="toggle">
            <div class="toggle__block" (click)="showAllOperations()">
              <input id="toggle1" type="radio" name="radio" value="1" checked>
              <label for="toggle1" class="toggle1">Все операции</label>
            </div>
            <div class="toggle__block" (click)="showOpenOperations()">
              <input id="toggle2" type="radio" name="radio" value="2">
              <label for="toggle2" class="toggle2">Только открытые операции</label>
            </div>
          </div>

          <div class="option-select">
            <div class="dropdown">
              <mat-select placeholder="Все статусы" class="dropdown__select">
                <mat-option>Не выбрано</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="btn btn__report">
            <svg-icon
              class="btn__icon"
              src="assets/icons/widgets/SOU/sou-streams/doc_download.svg"
              [ngStyle]="{ 'height.px':16 }"
            ></svg-icon>
            <span>Сформировать отчёт</span>
          </div>
          <div class="btn btn__blue btn__add" (click)="addNewOperation()">
            <svg-icon
              class="btn__icon"
              src="assets/icons/widgets/SOU/sou-streams/plus_add_circle.svg"
              [ngStyle]="{ 'height.px':16 }"
            ></svg-icon>
            <span>Создать операцию</span>
          </div>
        </div>
      </div>
    </evj-contemporary-widget-header>
  </div>

  <div class="table-block"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
       [ngStyle]="{ 'height': heightOfTable }">
    <div class="table">
      <thead class="table__header"
             [ngStyle]="{'width': widthOfTable }"
      >
      <tr>
        <td class="table__header__first-cell"
            rowspan="2"
        >Операция
        </td>
        <td *ngFor="let title of titlesOfTable"
            [class]="title?.hasOwnProperty('bigBlock')? 'big-main':'main'"
            rowspan="2">
          <div class="table__header__main-cell">
            <span>{{ title.name }}</span>
            <div class="filter-funnel"(click)="filterTable(title.type)">
              <svg-icon
                src="assets/icons/widgets/SOU/sou-streams/filter_funnel.svg"
                [ngStyle]="{ 'height.px':16 }"
              ></svg-icon>
            </div>
          </div>
        </td>
        <td class="table__header__last-cells">Масса по источнику</td>
        <td class="table__header__last-cells">Масса по приёмнику</td>
        <td class="table__header__last-cells">Отклонение</td>

        <td class="graphic"
            rowspan="2"
            [ngStyle]="{ 'width.px': widthOfGraphic - 9 }">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-streams/chart_mountain.svg"
            [ngStyle]="{ 'height.px':14 }"
          ></svg-icon>
        </td>
      </tr>

      <tr>
        <td>
          <div class="table__header__summ">
            <div class="table__header__summ__icon">
              <svg-icon
                src="assets/icons/widgets/SOU/sou-streams/summ.svg"
                [ngStyle]="{ 'height.px':16 }"
              ></svg-icon>
            </div>
            <span class="table__header__summ__text">
              {{ this.sourceMassValue }}
            </span>
          </div>
        </td>
        <td>
          <div class="table__header__summ">
            <div class="table__header__summ__icon">
              <svg-icon
                src="assets/icons/widgets/SOU/sou-streams/summ.svg"
                [ngStyle]="{ 'height.px':16 }"
              ></svg-icon>
            </div>
            <span class="table__header__summ__text">
              {{ this.destinationMassValue }}
            </span>
          </div>
        </td>
        <td>
          <div class="table__header__summ">
            <div class="table__header__summ__icon">
              <svg-icon
                src="assets/icons/widgets/SOU/sou-streams/summ.svg"
                [ngStyle]="{ 'height.px':16 }"
              ></svg-icon>
            </div>
            <span class="table__header__summ__text text-orange">
              {{ this.deviationValue }}
            </span>
          </div>
        </td>
      </tr>
      </thead>

      <cdk-virtual-scroll-viewport
        itemSize="20"
        class="table-viewport"
        [ngStyle]="{ 'height': heightOfViewPort,
                      'width': widthOfTable }">
        <tbody>
        <tr *cdkVirtualFor="let row of tableRows; let i = index"
            class="table__row"
            [ngStyle]="{ 'backgroundColor': (i % 2 === 1) ? 'var(--color-sou-bg-light)':'' }">

          <td>
            <div class="table__row__cell-with-line">
              <div *ngIf="(!(row['endTime']))"
                   class="cell-line"
                   [ngStyle]="{ 'backgroundColor': processWarningColor(row['warningColor'])}">
              </div>
              <div class="cell-line-text">
                {{ row['operationNumber'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-with-name">
              <div class="cell-date">
                {{ processDate(row['startTime']) }}
              </div>
              <div class="cell-name">
                 {{ row['userName'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-img-only"
                 *ngIf="(((row['deltaMass']) !== 0)&&(!(row['deltaMass'])) || !(row['endTime'])) else notEmptyEndTime">
              <svg-icon
                src="assets/icons/widgets/SOU/sou-streams/line.svg"
                class="cell-img"
                [ngStyle]="{ 'height.px':16 }"
              ></svg-icon>
            </div>
            <ng-template #notEmptyEndTime>
              <div class="table__row__cell-img-only"
                   *ngIf="(row['deltaMass'] !== 0) else defaultEndTime">
                <svg-icon
                  src="assets/icons/widgets/SOU/sou-streams/alert_alarm.svg"
                  class="cell-img"
                  [ngStyle]="{ 'height.px':16 }"
                ></svg-icon>
              </div>
              <ng-template #defaultEndTime>
                <div class="table__row__cell-with-name"
                *ngIf="row['endTime']">
                  <div class="cell-date">
                    {{ processDate(row['endTime']) }}
                  </div>
                  <div class="cell-name">
                    {{ row['userName'] }}
                  </div>
                </div>
              </ng-template>
            </ng-template>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{
                   'color': 'var(--color-sou-button-txt)',
                   'width': '121px'
                   }">
                {{ row['sourceType'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{'width': '121px'}">
                {{ row['sourceName'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{'width': '121px'}">
                {{ row['flow'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{'width': '180px'}">
                {{ row['sourceProduct'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{
                   'color': 'var(--color-sou-button-txt)',
                   'width': '121px'
                   }">
                {{ row['destinationType'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{'width': '121px'}">
                {{ row['destinationName'] }}
              </div>
            </div>
          </td>

          <td>
            <div class="table__row__cell-default">
              <div class="cell-text"
                   [ngStyle]="{'width': '180px'}">
                {{ row['destinationProduct'] }}
              </div>
            </div>
          </td>

          <td *ngIf="(row['sourceMass']||row['sourceMass'] === 0) else emptySum">
            <div class="table__row__cell-sum">
              <div class="cell-sum"
                   [ngStyle]="{
                      'color': 'var(--color-sou-button-txt)'
                      }">
                {{ row['sourceMass'] }}
              </div>
            </div>
          </td>

          <td *ngIf="(row['destinationMass']||row['destinationMass'] === 0) else emptySum">
            <div class="table__row__cell-sum">
              <div class="cell-sum"
                   [ngStyle]="{
                      'color': 'var(--color-sou-button-txt)'
                      }">
                {{ row['destinationMass'] }}
              </div>
            </div>
          </td>

          <td *ngIf="(row['deltaMass']||(row['deltaMass'] === 0)) else emptySum">
            <div class="table__row__cell-sum">
              <div class="cell-sum"
                   [ngStyle]="{
                      'color': (row['deltaMass'] === 0)?'var(--color-sou-button-txt)':'var(--color-sou-orange)'
                      }">
                {{ row['deltaMass'] }}
              </div>
            </div>
          </td>

          <ng-template #emptySum>
            <td>
              <div class="table__row__cell-img-only">
                <svg-icon
                  src="assets/icons/widgets/SOU/sou-streams/line.svg"
                  class="cell-img"
                  [ngStyle]="{ 'height.px':16 }"
                ></svg-icon>
              </div>
            </td>
          </ng-template>

          <td class="graphic"
              (click)="openDialog()"
              [ngStyle]="{ 'width.px': widthOfGraphic }">
            <svg-icon
              src="assets/icons/widgets/SOU/sou-streams/chart_mountain.svg"
              [ngStyle]="{ 'height.px':14 }"
            ></svg-icon>
          </td>
        </tr>
        </tbody>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>

<ng-template #overlayCustom>
  <evj-smart-trend
    class="example-dialog-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    (closeSmartTrend)="closeSmartTrend()"
  ></evj-smart-trend>
</ng-template>
