<div style="height: 100%; width: 100%;" >

        <div class="header">
                <div class="header__content drag handle">
                  <div class="header__icon-wrapper">
                    <!--                    <svg-icon-->
                    <!--                      class="header__icon" style="fill: #8C99B2"-->
                    <!--                      src="./assets/icons/widget-title-icons/valve.png"-->
                    <!--                    ></svg-icon>-->
                                        <img src="./assets/icons/widget-title-icons/valve.png" *ngIf="!code">
                                      </div>
                    
                  <div class="header__name">
                    {{title}}
                  </div>
                  <div class="header__units">
                    {{units}}
                  </div>
                  <div class="delete_widget" (click)="onRemoveButton()" (mousedown)="$event.stopPropagation()"
                  (touchstart)="$event.stopPropagation()">
                      <svg-icon style="width: 100%; height: 100%; fill: #8C99B2"
                      src="./assets/icons/close_bad.svg"
                    ></svg-icon>
                  </div>
                </div>
                <div class="bar_legend">
                        <span style="color:rgb(158,215,245)">Всего</span>
                        <span>В работе</span>
                        <span style="color:orange">С отклонением</span>
                </div>
              </div>

 <!--   <evj-widget-header [title]="title" [units]="units" [code]="code" [id]="id"></evj-widget-header> -->

    <evj-frame-top></evj-frame-top>
    
    <ng-container>
            <div class="content_block" (mousedown)="$event.stopPropagation()" 
            (touchstart)="$event.stopPropagation()">
                    <div class="blocks">
                            <div *ngIf="isMock === true"  class="contant">
                                    <div class="imgblock" >
                                      <img src='../../../../../assets/img/barChart.png'>
                                    </div>
                            </div>
                            <div *ngIf="isMock === false" class="contant">
                                    <div *ngFor="let data of datas;" class="block" >
                                            <evj-bar-chart [data]="data" ></evj-bar-chart>
                                    </div>
                            </div>
                     </div>
            </div>
    </ng-container>
    
    <evj-frame-bottom></evj-frame-bottom>
</div>
