<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
    [widgetType]="widgetType"
    [isEventOpen]="isSelectMenu"
    [select]="allUnits"
    (selected)="selectedUnits($event)"
    (selectedMenu)="selectedMenu($event)"
    [shiftSchedule]="true"
  ></evj-widget-header>
  <evj-frame-top></evj-frame-top>
  <evj-alert-window [info]="alertWindow"></evj-alert-window>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
    <ng-container *ngIf="isSelectMenu">
      <div class="content__blocks" cdkDropListGroup>
        <div class="block-left">
          <div class="block-top">
            <evj-admin-shift-card class="calendar" titleBlock="Календарь дежурств">
              <section>
                <mat-calendar
                  #calendar
                  [dateClass]="dateClass()"
                  [(selected)]="selectedDay && selectedDay.date"
                  (selectedChange)="dateChanged($event)"
                  ngClass="calendar-red"
                  locale="ru"
                ></mat-calendar>
                <div class="calendar__footer">
                  <div class="calendar__footer__title">Обозначения</div>
                  <ul class="calendar__footer__list-items">
                    <li
                      class="calendar__footer__list-item"
                      *ngFor="let brigade of allBrigade"
                      class="{{ brigadeColor(brigade) }}"
                    >
                      {{ brigade.brigadeNumber }}
                    </li>
                  </ul>
                  <div class="calendar__footer__info-items">
                    <div class="calendar__footer__info-item">
                      <svg-icon
                        [svgStyle]="{'height.px':17}"
                        src="assets/icons/widgets/admin-shift-schedule/calendar-active-orange.svg"
                      ></svg-icon>
                      <span class="calendar__footer__info-item__text"> Бригады не заданы</span>
                    </div>
                    <div class="calendar__footer__info-item">
                      <svg-icon
                        [svgStyle]="{'height.px':17}"
                        src="assets/icons/widgets/admin-shift-schedule/brigade_on.svg"
                      ></svg-icon>
                      <span class="calendar__footer__info-item__text"> Бригады заданы</span>
                    </div>
                  </div>
                </div>
              </section>
            </evj-admin-shift-card>
            <evj-admin-shift-card class="main-team" titleBlock="Смена">
              <section class="main-team__section">
                <p class="title">Главный в бригаде</p>
                <div class="main-team__section__container">
                  <ul class="list">
                    <li class="list__item" *ngFor="let i of selectedShift?.shiftMembers;">
                      <ng-container *ngIf="i.position === 'responsible' && !i.isAdditionalMember">
                        <evj-admin-shift-info-employee
                          [data]="i.employee"
                          [absentReason]="i.absentReason"
                          [allStatus]="allStatus"
                        ></evj-admin-shift-info-employee>
                      </ng-container>
                    </li>
                  </ul>
                </div>
                <p class="title">Основной состав бригады</p>
                <div class="main-team__section__container">
                  <ul class="list">
                    <li class="list__item" *ngFor="let i of selectedShift?.shiftMembers;">
                      <ng-container *ngIf="i.position !== 'responsible' && !i.isAdditionalMember">
                        <evj-admin-shift-info-employee
                          [data]="i.employee"
                          [absentReason]="i.absentReason"
                          [allStatus]="allStatus"
                        ></evj-admin-shift-info-employee>
                      </ng-container>
                    </li>
                  </ul>
                </div>
              </section>
            </evj-admin-shift-card>
          </div>
          <div class="block-bottom" *ngIf="selectedDay">
            <evj-admin-shift-card
              class="duty-schedule"
              buttonLeft="График дежурств"
              buttonRight="Управление расписанием"
              (clickEvent)="changeDutySchedule($event)"
            >
              <section *ngIf="isDutySchedule">
                <div class="date-today">
                  <p>{{ selectedDay.date | date:'d MMMM yyyy' }}</p>
                </div>
                <div
                  class="shift-today"
                  *ngFor="let shift of selectedDay.items; let idx = index"
                  [class.shift-today--active]="selectedShift?.id === shift.id"
                  (click)="selectShift(shift)"
                  [attr.as-platform-testing]="'shiftschedule-shift-item-{' + shift.id + '}'"
                >
                  <p>{{ idx + 1 }} смена</p>
                  <p>
                    {{ shift.start | date:'HH.mm' }} - {{ shift.end | date:'HH.mm' }}
                  </p>
                  <p
                    *ngIf="!shift.brigadeId"
                    class="btn shift-today-item"
                    (click)="openOverlay($event, shift, true)"
                    [matMenuTriggerFor]="menu2"
                  >
                    Назначить
                  </p>
                  <p
                    *ngIf="shift.brigadeId"
                    class="btn shift-today-item"
                    (click)="openOverlay($event, shift, true)"
                    [matTooltip]="shift.brigadeName"
                    [matMenuTriggerFor]="menu2"
                  >
                    {{ shift.brigadeName }}
                  </p>
                  <div
                    *ngIf="shift.brigadeId"
                    class="icon-delete"
                    matTooltip="Удалить бригаду"
                    (click)="deleteBrigadeFromShift($event, shift)"
                  >
                    <svg-icon
                      src="assets/icons/widgets/admin-shift-schedule/garbage.svg"
                      [svgStyle]="{ 'width.px':10, 'height.px':15 }"
                    ></svg-icon>
                  </div>
                  <mat-menu #menu2="matMenu" class="customize-menu">
                    <ng-container *ngFor="let b of allBrigade">
                      <button
                        *ngIf="b.brigadeId !== 0.1"
                        mat-menu-item
                        (click)="onChooseBrigade(b, selectedDay)"
                      >
                        {{ b.brigadeNumber }}
                      </button>
                    </ng-container>
                  </mat-menu>
                </div>
              </section>
              <section *ngIf="!isDutySchedule" class="office-schedule">
                <div class="office-schedule__item">
                  <svg-icon
                    class="office-schedule__item__icon"
                    src="assets/icons/widgets/admin-shift-schedule/culm.svg"
                    [svgStyle]="{ 'width.px':18, 'height.px':18 }"
                  ></svg-icon>
                  <div class="office-schedule__item__title">Время начала смены:</div>
                  <div class="office-schedule__item__value" (click)="openBlock()" #toggleButton>
                    {{ timeStart.value.toDate() | date:'HH:mm:ss' }}
                  </div>
                  <div *ngIf="isOpenStartDate" class="office-schedule__item__value__overlay">
                    <ngx-mat-timepicker
                      #menu
                      (click)="$event.stopPropagation()"
                      [formControl]="timeStart"
                      [showSeconds]="false"
                      [disableMinute]="true"
                    >
                    </ngx-mat-timepicker>
                    <div class="office-schedule__item__value__overlay__footer">
                      <div class="office-schedule__item__value__overlay__footer__btn">
                        <mat-icon class="mat-icon notranslate material-icons mat-icon-no-color">
                          done
                        </mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="office-schedule__item">
                  <svg-icon
                    class="office-schedule__item__icon"
                    src="assets/icons/widgets/admin-shift-schedule/time__shift.svg"
                    [svgStyle]="{ 'width.px':18, 'height.px':18 }"
                  ></svg-icon>
                  <div class="office-schedule__item__title">Длительность смены:</div>
                  <div class="office-schedule__item__value" [matMenuTriggerFor]="menu3">
                    <ng-container *ngFor="let i of timeShift">
                      <ng-container *ngIf="i.isSelected">
                        {{ i.value }}
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
                <div class="office-schedule__item">
                  <svg-icon
                    class="office-schedule__item__icon"
                    src="assets/icons/widgets/admin-shift-schedule/calendar.svg"
                    [svgStyle]="{ 'width.px':18, 'height.px':18 }"
                  ></svg-icon>
                  <div class="office-schedule__item__title">Применить с:</div>
                  <div class="office-schedule__item__value">
                    <mat-form-field class="form form__picker custom-picker">
                      <input
                        autocomplete="off"
                        matInput
                        [ngxMatDatetimePicker]="pickerD"
                        [(ngModel)]="saveIsDate"
                      />
                      <mat-datepicker-toggle matSuffix [for]="pickerD">
                        <mat-icon matDatepickerToggleIcon>
                          <svg-icon
                            class="form__icon"
                            src="assets/icons/widgets/reports/calend.svg"
                            [svgStyle]="{ 'width.px':22, 'height.px':20}"
                          >
                          </svg-icon>
                        </mat-icon>
                      </mat-datepicker-toggle>
                      <ngx-mat-datetime-picker
                        #pickerD
                        disabled="false"
                        [showSeconds]="false"
                        [disableMinute]="true"
                        [hideTime]="true"
                      >
                      </ngx-mat-datetime-picker>
                    </mat-form-field>
                  </div>
                  <div class="office-schedule__action">
                    <evj-button
                      class="office-schedule__action__btn"
                      textButton="Сохранить"
                      [isChangingState]="false"
                      (click)="scheduleManagement()"
                    ></evj-button>
                  </div>
                </div>
              </section>
              <mat-menu #menu3="matMenu" class="customize-menu">
                <button mat-menu-item *ngFor="let b of timeShift" (click)="selectTimeShift(b)">
                  {{ b.value }}
                </button>
              </mat-menu>
            </evj-admin-shift-card>

            <evj-admin-shift-card
              class="additional-team"
              titleBlock="Дополнительный состав бригады"
            >
              <section class="additional-team__section">
                <div class="additional-team__section__container">
                  <div
                    class="list"
                    cdkDropList
                    [cdkDropListData]="selectedShift?.shiftMembers"
                    (cdkDropListDropped)="moveToDropAdditionalShift($event)"
                    id="dop"
                  >
                    <ng-container *ngFor="let i of selectedShift?.shiftMembers">
                      <ng-container *ngIf="i.isAdditionalMember">
                        <evj-admin-shift-info-employee
                          class="list__item"
                          [data]="i.employee"
                          (deleteMemberFromShift)="deleteMemberFromBrigade($event)"
                          garbageShift="true"
                          cdkDrag
                        ></evj-admin-shift-info-employee>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </section>
            </evj-admin-shift-card>
          </div>
        </div>
        <div class="block-right">
          <evj-admin-shift-list-employees [data]="allUsersUnit"></evj-admin-shift-list-employees>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isSelectMenu">
      <div class="control-block" cdkDropListGroup>
        <div class="control-block__left-side">
          <div class="content-menu">
            Изменение состава бригад
            <svg-icon
              matTooltip="Добавить бригаду"
              (click)="postBrigade()"
              class="content-menu__icon"
              src="assets/icons/SVG/add_button.svg"
              [svgStyle]="{ 'width.px':15, 'height.px':15 }"
            ></svg-icon>
          </div>
          <div class="content-brigade">
            <div class="content-brigade__scroll">
              <div class="content-brigade__left">
                <div class="content-brigade__block" *ngFor="let item of leftBrigades">
                  <evj-admin-shift-brigade [data]="item" [color]="brigadeColor(item)">
                  </evj-admin-shift-brigade>
                </div>
              </div>
              <div class="content-brigade__right">
                <div class="content-brigade__block" *ngFor="let item of rightBrigades">
                  <evj-admin-shift-brigade [data]="item" [color]="brigadeColor(item)">
                  </evj-admin-shift-brigade>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="control-block__right-side">
          <div style="height: calc(100% - 24px);">
            <evj-admin-shift-list-employees [data]="allUsersUnit"></evj-admin-shift-list-employees>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
