$color-smp-blue: "003b64";
$color-bg-active-sub-workflow: "3f587c";
$color-active: "3fa9f5";
$color-marker-diagram: "606580";
$color-smp-ev-ws-grad2: "285c85";
$color-bg-active-gradient: "2d3f51";

.admin-btns {
  height: 40px;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__item {
    height: 24px;
    padding: 0 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-admin-shift-border);
    border-radius: 0 2px 2px 0;

    font-size: 13px;
    line-height: 16px;
    color: var(--color-admin-shift-text-sub);

    cursor: pointer;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }
  }

  .active {
    border: 1px solid var(--color-admin-shift-active);
    background: var(--color-admin-shift-active-bright);
    color: var(--color-admin-shift-white);
  }
}

.header-schedule {
  margin-top: 2px;
  margin-left: 10px;

  ::ng-deep {
    mat-form-field {
      margin-top: -14px;
      height: 30px;
    }
  }

  &__button {
    display: flex;
    align-items: center;

    svg-icon {
      margin: 0px 22px;
    }
  }

  .option-select {
    height: 40px;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
      font-size: 13px;
      line-height: 16px;
      color: var(--sou-mvp-color-text-info);
      white-space: nowrap;
    }

    .dropdown {
      height: 12px;
      width: 190px;
      padding: 5px;

      display: flex;
      align-items: center;

      overflow: hidden;

      background: var(--sou-mvp-color-bg-select);

      border: 1px solid var(--sou-mvp-color-border);
      border-radius: 3px;

      &__select {
        margin-right: 10px;
      }

      &__marker {
        height: 16px;
        width: 3.5px;
        background-color: var(--sou-mvp-color-warning);
        margin: 4px;
      }
    }
  }
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 430px;

  --tooltip-color: blue;
}

.content {
  height: calc(100% - 40px);

  display: flex;
  flex-direction: column;

  &__blocks {
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;

    .block-left {
      overflow: auto;
      width: 65%;
      height: 100%;

      display: flex;
      flex-direction: column;
    }

    .block-right {
      width: 35%;
      margin-left: -7px;
      height: calc(100% - 25px);
    }
  }
}

.control-block {
  height: 100%;
  width: 100%;
  display: flex;

  &__left-side {
    width: 70%;
    height: 100%;
    margin-right: 2px;

    .content-menu {
      font-size: 14px;
      height: 40px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-admin-title-bg);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      width: calc(100% - 9px);
      margin: auto;
      margin-right: 0;

      &__icon {
        cursor: pointer;
        position: absolute;
        right: 20px;

        ::ng-deep .cls-1 {
          fill: var(--color-text-main);
        }

        &:hover {
          ::ng-deep .cls-1 {
            fill: var(--color-active);
          }
        }
      }
    }

    .content-brigade {
      overflow: overlay;
      overflow-x: hidden;
      padding-left: 5px;
      height: calc(100% - 40px);
      direction: rtl;

      &__left {
        display: flex;
        flex-direction: column;
        width: 50%;
        min-width: 300px;
        margin-right: 2px;
      }

      &__right {
        display: flex;
        flex-direction: column;
        width: calc(50% - 5px);
        min-width: 300px;
      }

      &__block {
        height: auto;
        margin-top: 2px;

        ::ng-deep .employee-container {
          &:hover ::ng-deep .employee-container__star {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 55px;

            ::ng-deep svg {
              fill: var(--color-text-main);
            }

            &:hover {
              ::ng-deep svg {
                fill: var(--color-active) !important;
              }
            }
          }
        }
      }

      &__scroll {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: calc(100% - 5px);
        //  max-width: 1052px;
        height: 100%;
        direction: ltr;
      }
    }
  }

  &__right-side {
    width: 30%;
    height: 100%;
  }
}

.mock {
  display: block;
  height: 200px;

  .line {
    color: var(--color-text-sub-heading);
    margin: 0 auto;
    padding-left: 160px;
  }

  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  img {
    width: 80%;
    height: 100%;
  }
}

p {
  margin: 0;
  margin-right: 15px;
}

.block-top {
  display: flex;

  .calendar {
    width: 100%;
    min-height: 500px;
    max-height: 100%;
    min-width: 350px;
    max-width: 350px;
    margin-right: 2px;

    &__footer {
      margin-left: 10px;
      margin-top: 20px;
      padding-bottom: 12px;

      &__title {
        font-size: 14px;
        margin-bottom: 14px;
      }

      &__list-items {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-wrap: wrap;
        margin-bottom: 14px;
      }

      &__list-item {
        font-size: 11px;
        height: 20px;
        width: auto;
        line-height: 20px;
        padding: 0 10px;
        margin-right: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 10px;
        border-radius: 4px;
      }

      &__info-items {
        display: flex;
      }

      &__info-item {
        font-size: 11px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        &__text {
          margin-left: 10px;
        }
      }
    }
  }

  .main-team {
    width: 100%;
    min-height: 270px;
    max-height: 100%;
    min-width: 250px;
    margin-right: 2px;

    .title {
      font-size: 12px;
      padding: 15px 0;
      color: var(--color-text-sub);
      margin-left: 20px;
    }

    &__section {
      overflow-y: auto;
      height: 100%;

      &__container {
        // height: 100%;
        .list {
          list-style: none;
          margin: 0;
          padding: 0;

          display: flex;
          flex-wrap: wrap;
          height: 100%;
          max-height: 350px;

          &__item {
            width: 100%;
          }
        }
      }
    }
  }
}

.block-bottom {
  display: flex;
  flex: 1;

  .duty-schedule {
    width: 100%;
    min-height: 200px;
    min-width: 350px;
    max-width: 350px;
    margin-right: 2px;

    position: relative;

    .shift-yesterday {
      color: var(--color-text-sub);
      display: flex;
      justify-content: space-between;
      //   &:hover {
      //     background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
      //       no-repeat;
      //     // background-size: cover;
      //   }
      padding: 10px 18px;
    }

    .date-yesterday {
      color: var(--color-text-sub);
      padding: 10px 18px;
      font-size: 15px;
    }

    .date-today {
      color: var(--color-text-sub);
      padding: 10px 18px;
    }

    .shift-today {
      height: 45px;
      display: flex;
      align-items: center;

      padding: 0px 10px;
      padding-right: 0;
      cursor: pointer;
      margin-top: 2px;

      font-size: 14px;
      line-height: 17px;

      &-item {
        position: relative;
        min-width: 40px;
        max-height: 100px;
        width: 100px;
        text-align: start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &__icon-storage {
        fill: var(--color-text-sub);

        &-title {
          fill: var(--color-active);

          &:hover {
            fill: var(--color-danger);
          }
        }

        &:hover {
          fill: var(--color-danger);
        }
      }

      &--active {
        position: relative;
        background-color: var(--color-admin-shift-active-bright);
        border-left: 2px solid var(--color-admin-shift-active);
      }

      &:hover {
        background-color: var(--color-admin-shift-active-bright);
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      padding: 0px 18px;
      padding-bottom: 10px;
      max-height: 16px;

      &-button {
        position: relative;
        top: -10px;
        right: -10px;
      }
    }

    .btn {
      cursor: pointer;
    }

    .icon-delete {
      cursor: pointer;

      ::ng-deep svg {
        fill: var(--color-text-main);
      }

      &:hover {
        ::ng-deep svg {
          fill: var(--color-active);
        }
      }
    }

    .shift-overlay {
      display: none;
      position: absolute;
      right: 3px;
      top: 33px;
      opacity: 0;
      -webkit-animation: slide 200ms ease forwards;
      animation: slide 200ms ease forwards;
      background-color: var(--color-bg-sub);
      z-index: 2;
      background-repeat: no-repeat;
      box-shadow: 0px 0px 8px 0px #00000078;
      border-radius: 5px;
      min-width: 150px;

      .icon {
        width: 20px;
        height: 20px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          text-align: center;
          padding: 10px 10px;
          cursor: pointer;
          position: relative;

          &:hover {
            background-color: var(--color-admin-shift-active-bright);
          }

          // &:first-child {
          //   padding: 10px 10px;
          //   padding-top: 5px;
          // }
          // &:last-child {
          //   padding: 10px 10px;
          //   padding-bottom: 15px;
          // }
        }
      }
    }

    @keyframes slide {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .office-schedule {
      &__item {
        position: relative;
        &__icon {
          position: absolute;
          top: 12px;
          left: 13px;
        }
        &__title {
          font-size: 12px;
          color: var(--color-border-unactive);
          padding-left: 45px;
          padding-top: 15px;
        }
        &__value {
          cursor: pointer;
          font-size: 12px;
          padding-left: 45px;
          padding-top: 12px;

          &__overlay {
            position: absolute;
            flex-direction: column;
            width: 122px;
            top: 60px;
            left: 40px;
            background-color: var(--color-bg-additional);
            z-index: 20;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            &__footer {
              display: flex;
              justify-content: flex-end;
              position: absolute;
              bottom: 10px;
              right: 5px;
              &__btn {
                cursor: pointer;
                border: 1px solid var(--color-text-main);
                border-radius: 20px;
                width: 50px;
                mat-icon {
                  padding: 5px 12px;
                }
              }
            }
          }
        }
      }
      &__action {
        display: flex;
        justify-content: flex-end;
        min-width: 130px;
        margin-bottom: 25px;
        padding-right: 10px;

        .save-btn {
          height: 32px;
          width: 136px;

          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: 13px;
          line-height: 16px;

          color: var(--color-admin-shift-text-sub);

          background: var(--evj-events-workspace-button);
          border-radius: 2px;

          cursor: pointer;

          &:hover {
            background: var(--color-admin-shift-active);
          }
        }
      }
    }
  }

  .additional-team {
    width: 100%;
    min-height: 200px;
    min-width: 250px;
    margin-right: 2px;

    .title {
      font-size: 15px;
      padding-bottom: 15px;
    }

    &__section {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;

      &__container {
        overflow: auto;

        .list {
          display: flex;
          flex-direction: column;
          overflow: auto;
          height: 100%;

          min-height: 145px;

          &__item {
            width: 100%;
          }
        }
      }
    }
  }
}

.insert-component {
  display: block;
  width: 350px;
  height: 95px;
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  z-index: 999;
}

:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  z-index: 999;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  margin: 10px;
}

::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-main);
  border-radius: 25px;
}

:hover::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-active);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border-main);
  border-radius: 25px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  border-radius: 25px;
}

::-webkit-resizer {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

::ng-deep .mat-tooltip {
  box-sizing: border-box;
  height: 40px;
  width: 140px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  background: var(--color-astue-onpz-widget-bg);
  border: 1px solid var(--tooltip-color);
  border-radius: 20px !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.color-1 {
  background-color: var(--color-admin-shift-brigade-1);
  color: var(--color-admin-shift-brigade-1-text);
}

.color-2 {
  background-color: var(--color-admin-shift-brigade-2);
  color: var(--color-admin-shift-brigade-2-text);
}

.color-3 {
  background-color: var(--color-admin-shift-brigade-3);
  color: var(--color-admin-shift-brigade-3-text);
}

.color-4 {
  background-color: var(--color-admin-shift-brigade-4);
  color: var(--color-admin-shift-brigade-4-text);
}

.color-5 {
  background-color: var(--color-admin-shift-brigade-5);
  color: var(--color-admin-shift-brigade-5-text);
}

.color-6 {
  background-color: var(--color-admin-shift-brigade-6);
  color: var(--color-admin-shift-brigade-6-text);
}

.color-delete {
  background-color: var(--color-admin-shift-brigade-delete);
}

::ng-deep .customize-menu {
  background-color: var(--color-astue-onpz-widget-bg);
  .mat-menu-item {
    color: var(--color-text-main);
    background-color: var(--color-new-header-bg);
    margin-bottom: 2px;
    height: 45px;
    min-width: 200px;
    &:hover {
      background-color: var(--color-admin-shift-active-bright);
    }
  }
}

::ng-deep .customize-menu2 {
  background-color: var(--color-astue-onpz-widget-bg);
  .mat-menu-item {
    color: var(--color-text-main);
    background-color: var(--color-new-header-bg);
    margin-bottom: 2px;
    height: 160px;
    min-width: 200px;
  }
}

.custom-picker {
  &.mat-form-field {
    width: 130px;
  }
  ::ng-deep {
    .mat-form-field-infix {
      width: 100px;
      border-top: none;
    }
    .mat-form-field-underline {
      display: none;
    }
    input {
      border-bottom: 0;
    }
    .mat-icon {
      margin-top: -10px;
    }
    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select .mat-form-field-disabled .mat-form-field-infix::after {
      color: var(--color-text-main);
    }
  }
}
