<div class="widget-container">
  <evj-contemporary-widget-header
    [widgetTitle]="widgetTitle"
    [id]="widgetId"
    [uniqId]="uniqId"
    [icon]="'periods'"
    type="astue"
  ></evj-contemporary-widget-header>

  <div class="container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="wrapper">
      <div class="chart">
        <evj-spline-diagram [data]="data" [currentMonth]="displayedMonth"></evj-spline-diagram>
      </div>
      <div class="metrics">
        <div class="metrics__block plan-color">
          <div class="title">План</div>
          <div class="value">{{ data?.planValue | number:'.1-2'}}</div>
        </div>
        <div class="metrics__block fact-color">
          <div class="title">Факт</div>
          <div class="value">{{ data?.factValue | number:'.1-2'}}</div>
        </div>
        <div class="metrics__block deviation-color">
          <div class="title">Отклонение</div>
          <div class="value">{{data?.deviationValue ? data.deviationValue : 0}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

