<div style="height: 100%; width: 100%">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="widgetId"
    [icon]="widgetIcon"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content_block" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="wrapper">
      <div class="chart">
        <evj-spline-diagram [data]="data" [currentMonth]="displayedMonth"></evj-spline-diagram>
      </div>
      <div class="metrics">
        <div class="metrics__block plan-color">
          <div class="title">План</div>
          <div class="value">{{ data?.planValue | number:'.1-2'}}</div>
        </div>
        <div class="metrics__block fact-color">
          <div class="title">Факт</div>
          <div class="value">{{data?.fact[data?.fact.length - 1]?.y | number:'.1-2'}}</div>
        </div>
        <div class="metrics__block deviation-color">
          <div class="title">Отклонение</div>
          <div class="value">{{data?.deviationValue ? data.deviationValue : 0}}</div>
        </div>
      </div>
    </div>
  </div>
  <evj-frame-bottom></evj-frame-bottom>
</div>
