<div class="container">
  <evj-contemporary-widget-header icon="safety" type="astue" [uniqId]="uniqId" [widgetTitle]="widgetTitle">
    <div class="content-container">
      <div class="header">
        <ul class="header__info">
          <li class="header__info-item">
            <div class="header__info-1"></div>
            <span>Факт</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-2"></div>
            <span>План</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-3"></div>
            <span>Прогноз</span>
          </li>
        </ul>
      </div>
    </div>
  </evj-contemporary-widget-header>
  <div class="container-body" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="readiness">
      <div class="readiness__header">
        <div #mainGauge class="readiness__header__gauge" [style]="gaugeWidth(mainGauge)">
          <evj-kpe-gauge-chart
            *ngIf="!(displayNewDesign$ | async)"
            #gaugeChart
            isPercent="true"
            [background]="'dark'"
            [fact]="(deviationDiagramData$ | async)?.fact"
            [plan]="(deviationDiagramData$ | async)?.plan"
            [deviation]="(deviationDiagramData$ | async)?.deviation"
          ></evj-kpe-gauge-chart>
          <evj-kpe-gauge-chart-multi-color
            #gaugeChart
            [type]="1"
            *ngIf="(displayNewDesign$ | async)"
            [data]="deviationData$ | async"
          ></evj-kpe-gauge-chart-multi-color>
        </div>
        <div class="readiness__header__chart">
          <evj-kpe-deviation-diagram
            [data]="deviationChartData$ | async"
            [currentMonth]="displayedMonth$ | async"
          ></evj-kpe-deviation-diagram>
        </div>
      </div>
      <div class="readiness__main">
        <ng-container *ngFor="let card of (cardList$ | async); trackBy: trackByIndex">
          <div class="readiness__main__gauge element-container" [ngClass]="{'element-container_warning': (displayNewDesign$ | async)}">
            <div class="gauge-card">
              <div class="gauge-card__content">
                <div class="gauge-card__units" [ngClass]="{unitsNewDesign: (displayNewDesign$ | async)}">
                  <div
                    class="gauge-card__units__unit"
                    [class.gauge-card__units__unit_active]="!engUnitsComparator.isEngUnitsPercent(card?.title)"
                    (click)="engUnitsComparator.setEngUnits(card.title, 'units')"
                  >
                    {{ (card?.unit || 'ед.изм')}}
                  </div>
                  <div
                    class="gauge-card__units__unit"
                    [class.gauge-card__units__unit_active]="engUnitsComparator.isEngUnitsPercent(card?.title)"
                    (click)="engUnitsComparator.setEngUnits(card.title, 'percent')"
                  >
                    %
                  </div>
                  <!--Новый дизайн-->
                  <div class="percent-info"  *ngIf="(displayNewDesign$ | async)" [ngClass]="['percent-info', percentData.percentStatus]">
                    {{card.percentageInfluence}}%
                  </div>
                </div>
                <div class="gauge-card__diagram">
                  <evj-kpe-gauge-chart
                    *ngIf="!(displayNewDesign$ | async)"
                    [fact]="engUnitsComparator.isEngUnitsPercent(card?.title) ? card?.percentage : card?.fact"
                    [plan]="engUnitsComparator.isEngUnitsPercent(card?.title) ? 100 : card?.plan"
                    [deviation]="engUnitsComparator.isEngUnitsPercent(card?.title) ? card?.deviationPercentage : card?.deviation"
                  ></evj-kpe-gauge-chart>

                  <evj-kpe-gauge-chart-multi-color
                    [type]="3"
                    *ngIf="(displayNewDesign$ | async)"
                    [data]="card"
                    [isFactInChartCenter]="false"
                  ></evj-kpe-gauge-chart-multi-color>
                </div>
                <div class="gauge-card__label">{{ card?.title }}</div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
