.container {
  display: flex;
  flex-flow: column;
  background-color: var(--color-kpe-gaude-unactive);
  height: 100%;
  width: 100%;

  &-body {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--color-cd-bg-border);
    overflow: hidden;
  }
}

.readiness {
  display: flex;
  flex-flow: column;
  gap: 15px;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    gap: 15px;
    max-height: 40%;

    &__gauge {
      height: 100%;
    }

    &__chart {
      flex-grow: 1;
      height: 100%;
    }
  }

  &__main {
    display: flex;
    gap: 12px;
    min-height: 165px;
    width: 100%;

    &__gauge {
      flex-grow: 1;
      height: 100%;
    }
  }
}

.gauge-card {
  position: absolute;
  left: 4px;
  right: 4px;
  top: 5px;
  bottom: 7px;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    overflow: hidden;
  }

  &__units {
    display: flex;
    justify-content: space-between;

    &__unit {
      font-size: 10px;
      line-height: 12px;
      padding: 2px 3px;
      border-radius: 2px;
      background: var(--color-sou-border);
      border: solid 1px transparent;
      color: var(--color-astue-onpz-units);

      &_active {
        border-color: var(--color-kpe-gaude-active);
        box-sizing: border-box;
        color: var(--color-kpe-text-main);
      }
    }
  }

  &__diagram {
    flex-grow: 1;
    width: 85px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__label {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-kpe-text-main);
  }
}

.element-container {
  position: relative;
  border-radius: 2px;
  background: var(--color-lines-bg-dia);
  box-sizing: border-box;
}

.content-container {
  flex: 1;
  .header {
    min-height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    overflow: hidden;

    &__info {
      display: flex;
      justify-content: flex-end;
      color: var(--color-text-sub);

      margin: 0;
      padding: 0;
      list-style: none;

      margin-left: 60px;

      &-item {
        padding-right: 12px;
        display: flex;
        align-items: center;
        min-width: 60px;
      }

      &-1 {
        height: 5px;
        min-width: 5px;
        width: 5px;
        background-color: var(--color-kpe-eq-chart-title);
        border-radius: 50%;
        margin-right: 5px;
      }

      &-2 {
        height: 5px;
        min-width: 5px;
        width: 5px;
        background-color: var(--color-aps-active);
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    &__right {
      display: flex;

      margin-left: 30px;
      min-height: 24px;

      &__button-date {
        width: 645px;
      }
    }
  }
}
