$container-padding: 5px;

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.body-container {
  height: 100%;
  flex-wrap: wrap;
  padding-top: 0px;
  padding: 5px;
  padding-bottom: 0px;
  position: relative;
  width: calc(100% - 2px - 10px);
  border-left: dashed 1px var(--color-border-main);
  border-right: dashed 1px var(--color-border-main);
  overflow: auto;
}

.block {
  $block-margin: 5px;
  $bottom-block-size: 80px;
  position: relative;
  margin: $block-margin;
  min-width: 1040px;

  &_top {
    display: flex;
    width: calc(100% - #{$block-margin * 2});
    height: calc(100% - #{$bottom-block-size} - #{$block-margin * 4});
    min-height: 130px;

    .left-side {
      height: 100%;
      width: 80%;
    }

    .right-side {
      height: 100%;
      width: 20%;
    }
  }
  &_bottom {
    width: calc(100% - #{$block-margin * 2});
    height: $bottom-block-size;
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.filterGroup {
  ::ng-deep .container {
    left: 35px;
    top: 5%;
    height: 60%;
    width: 20%;
  }
}

.filterProduct {
  ::ng-deep .container {
    left: 220px;
    top: 5%;
    height: 60%;
    width: 20%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track:horizontal {
  width: 4px;
  height: 4px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 25px;
  background-color: var(--color-border-main);
}

::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 25px;
}

::-webkit-resizer {
  background-color: var(--color-border-active);
}
