.container {
  position: relative;
  display: flex;
  width: 268px;
  height: 90px;
  filter: drop-shadow(0px 4px 4px var(--gradient-main-color-1));
  --color: var(--index-plan-color);

  .line {
    position: absolute;
    background: var(--color);

    &__vertical {
      left: -38px;
      top: -31px;
      height: 77px;
      width: 1px;
    }

    &__horizontal {
      left: -37px;
      top: 50%;
      height: 1px;
      width: 37px;
    }
  }

  .block {
    display: flex;
    flex-flow: column;
    width: 219px;
    height: 100%;
    background: var(--gray-G11-color);
    border: 1px var(--color);
    border-radius: 2px;
    border-style: solid none solid solid;
    box-sizing: border-box;

    .title {
      width: 178px;
      padding-left: 12px;
      line-height: 16px;
      font-size: 13px;
      color: var(--text-contrast-color);
    }

    .streams {
      display: flex;
      flex-grow: 1;
      width: 175px;
      padding: 0 8px 0 12px;
      box-sizing: border-box;

      .wrapper {
        display: flex;
        flex-flow: row wrap;
        row-gap: 2px;
        justify-content: space-between;
        height: fit-content;
        width: 100%;
        margin: auto;
      }
    }
  }

  .circle {
    position: relative;
    display: flex;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    background: var(--bg-body-color);
    border-radius: 50%;
    box-sizing: border-box;

    .border {
      color: var(--color);
      position: absolute;
      left: 5px;

      &__top {
        top: 0;
      }

      &__bottom {
        bottom: 0;
        transform: rotateZ(180deg);
      }
    }

    .inner-circle {
      display: flex;
      flex-flow: column;
      justify-content: center;
      gap: 2px;
      width: 100%;
      margin: 10px;
      border: solid 1px var(--color);
      border-radius: 50%;
      font-size: 14px;
      line-height: 17px;
      text-align: center;

      .value {
        color: var(--text-contrast-color);
      }

      .unit {
        color: var(--text-subscript-color);
      }
    }
  }

  &__deviation {
    --color: var(--index-error-color);

    .circle {
      .inner-circle {
        .value {
          color: var(--index-error-color);
        }
        .unit {
          color: var(--index-error-color);
        }
      }
    }
  }
}
