
.cd-events {
  --categories-min-height: 180px;
  --filters-min-height: 40px;
  --margin-vertical: 38px;
  --line-border: 0.5px dashed var(--color-border-main-transparrent);

  box-sizing: border-box;
  position: absolute;
  display: block;
  width: 100%;
  height: calc(100% - var(--margin-vertical));
  top: var(--margin-vertical);
  background-color: var(--header-events-color-bg-main);
  border: 1px solid var(--color-cd-bg-border);

  .frame-top {
    position: absolute;
    top: 36px;
    z-index: 1;
    width: 100%;
  }

  .frame-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;

  }

  .categories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    //min-height: var(--categories-min-height);
    box-sizing: border-box;
    padding: 0 20px 0 20px;

    &__item {
      width: 20%;
      margin-right: 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .category {
    position: relative;

    display: flex;
    flex-flow: column;
    cursor: pointer;
    justify-content: space-between;

    width: 100%;
    min-width: 120px;
    height: 72px;
    box-sizing: border-box;

    color: var(--color-text-sub-heading);

    &__row {
      flex: 1;
      min-height: 26px;
      box-sizing: border-box;
      padding: 0 10px;

      &_top {
        margin-bottom: 6px;
      }

      &_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__name {
      font-size: 0.75rem;
    }

    &__icon {
      width: 14px;
      height: 14px;
      fill: var(--color-text-sub);
    }

    &__line {
      position: absolute;
      width: calc(100% - 13px);
      left: 6.5px;

      &_top {
        top: -4px;
      }

      &_bottom {
        bottom: -4px;
      }
    }

    &_active &__icon {
      stroke: var(--color-border-active);
    }

    &_active {
      color: white;

      background: var(--color-bg-active-bright);
      background: linear-gradient(0deg, var(--color-bg-main) 0%, rgba(63, 169, 245, 0.1) 100%);
    }

    &_active &__icon {
      stroke: var(--color-border-active);
    }

    &_active &__line {
      border-color: var(--color-border-active);
    }

    &_active .line__circle {
      border-color: var(--color-border-active);
    }
  }

  .counts {
    font-size: 1.0625rem;
  }

  .notifications {
    --padding: 20px;

    position: relative;
    height: calc(100% - var(--filters-min-height) - var(--categories-min-height) - var(--padding));
    padding: var(--padding);
    box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 5px;

    &--display-wall {
      border-left: 0.5px dashed var(--color-border-main-transparrent);
      border-right: 0.5px dashed var(--color-border-main-transparrent);
      height: 100%;
    }

    &--display-standart {
      border: none;
      height: calc(100% - var(--filters-min-height) - var(--categories-min-height) - var(--padding));
      background-color: var(--header-events-color-bg-main);
    }

    &__list {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    &__block {
      &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }

      &__item {
        background-color: var(--color-bg-sub);
        padding: 0 0 20px 20px;
        border-radius: 6px;
        margin-bottom: 15px;
        height: 160px;

        width: 340px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .line {
    position: relative;
    height: 4px;
    border-bottom: 1px dashed var(--color-border-main-transparrent);

    &__circle {
      top: auto;
      bottom: -2.5px;

      &__left {
        left: -6.5px;
      }

      &__right {
        right: 1px;
      }
    }
  }

  .filters {
    position: relative;

    display: flex;
    justify-content: space-between;
    min-height: var(--filters-min-height);
    padding: 5px 20px 16px 20px;

    &__item {
      flex: 1 192px;
      margin: 0 16px;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 18px 10px 12px;
    border-bottom: 2px solid var(--color-border-main-transparrent);
    cursor: pointer;
    color: var(--color-text-sub);

    &_active {
      border-color: var(--color-kpe-gaude-active);
      color: var(--color-text-main);

      background: var(--color-bg-active-bright);
      background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, transparent 100%);
    }

    &__name {
      font-size: 0.75rem;
    }

    &__count {
      font-size: 0.875rem;
    }
  }

  .controls {
    pointer-events: fill !important;
    position: relative;
    box-sizing: border-box;
    //height: calc(var(--categories-min-height) + var(--filters-min-height));
    border-top: 1px solid var(--color-cd-bg-border);
    box-shadow: -1px -12px 20px 0px rgba(0, 0, 0, 0.33);

    &__line {
      display: none;
    }

  }

  .list {
    fill: var(--color-border-active);
  }

  .blocks {
    fill: var(--color-border-active);
  }

  #overlay-confirmation-event {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;

    .overlay-confirmation {
      &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        font-family: Tahoma, sans-serif;
        font-size: 12px;
        font-weight: 100;
        color: var(--color-text-sub);

        background-color: var(--color-bg-main);
        min-height: 140px;
        max-width: 50%;
        margin: 0 auto;
        margin-top: 30%;
        cursor: default;

        border-radius: 5px;
        border: 1px solid var(--color-border-main);
        padding: 10px;

        span {
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }

  .workspace {
    &__header {
      &__block {
        display: flex;
        flex-direction: row;
      }
    }

    &__blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      min-width: 320px;
    }

    &__block {
      min-height: 40px;
      min-width: 160px;
      margin-bottom: 10px;

      &__right {
        min-width: 130px;
      }

      &__title {
        background-color: var(--color-bg-main);
        margin: 0 0 0 10px;
      }

      &__body {
        margin: 0 0 0 10px;
        color: var(--color-text-main);
      }

      &__body__drop-down {
        // margin: 0 0 0 10px;
        color: var(--color-text-main);
      }
    }

    &__block-border {
      margin-bottom: 10px;
      width: 100%;
    }

    &__save {
      display: flex;
    }

    &__mock {
      display: flex;
      flex: 1;
      border-right: 0.5px dashed var(--color-border-main-transparrent);
      border-left: 0.5px dashed var(--color-border-main-transparrent);

      .workspace__submit {
        margin: auto;
        width: 500px;
      }
    }

    &__submit {
      position: relative;
      // width: 100%;
      height: 50px;
      margin-top: 15px;
      min-height: 40px;

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-unactive);
          box-sizing: border-box;
          background: transparent;

          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }
          }

          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }
          }
        }
      }

      &:hover {
        // border: 0.5px solid var(--color-border-active);
        button {
          border: 0.5px solid var(--color-border-active);
          background-color: var(--color-border-active-hover);
          cursor: pointer;
        }

        .submit {
          &__frame {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 20px;
            border: 2px solid var(--color-border-active);
            box-sizing: border-box;
            background: transparent;

            &-left {
              left: 0px;
              top: 0px;
              border-right: none;

              &:before {
                z-index: 1;
                content: "";
                position: absolute;

                top: -2px;
                left: -7px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(-45deg);

                border-bottom: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }

              &:after {
                z-index: 1;
                content: "";
                position: absolute;

                bottom: -4px;
                left: -2px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(45deg);

                border-top: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }
            }

            &-right {
              right: 0px;
              top: 0px;
              border-left: none;

              &:before {
                z-index: 1;
                content: "";
                position: absolute;

                top: -3px;
                right: -7px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(45deg);

                border-bottom: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }

              &:after {
                z-index: 1;
                content: "";
                position: absolute;

                bottom: -8px;
                right: -2px;

                height: 10px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(-45deg);

                border-top: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }
            }
          }
        }
      }

      button {
        width: 100%;
        height: 100%;
        position: relative;
        border: 0.5px solid var(--color-border-main-transparrent);
        background-color: var(--color-bg-main);
        color: var(--color-text-sub-heading);
        font-size: 14px;
        outline: none;
      }
    }
  }

  .event-confirm {
    &__header {
      &__block {
        display: flex;
        flex-direction: row;
      }
    }

    &__blocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      min-width: 320px;
    }

    &__block {
      min-height: 40px;
      min-width: 160px;
      margin-bottom: 10px;

      &__right {
        min-width: 130px;
      }

      &__title {
        background-color: var(--color-bg-main);
        margin: 0 0 0 10px;
      }

      &__body {
        margin: 0 0 0 10px;
        color: var(--color-text-main);
      }

      &__body__drop-down {
        // margin: 0 0 0 10px;
        color: var(--color-text-main);
      }
    }

    &__block-border {
      margin-bottom: 10px;
      width: 100%;
    }

    &__save {
      display: flex;
    }

    &__mock {
      display: flex;
      flex: 1;
      border-right: 0.5px dashed var(--color-border-main-transparrent);
      border-left: 0.5px dashed var(--color-border-main-transparrent);

      .workspace__submit {
        margin: auto;
        width: 500px;
      }
    }

    &__submit {
      position: relative;
      width: 100%;
      height: 50px;
      min-height: 50px;
      margin: 0 10px;

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-unactive);
          box-sizing: border-box;
          background: transparent;

          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }
          }

          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-unactive);
              background: var(--color-bg-main);
            }
          }
        }
      }

      &:hover {
        // border: 0.5px solid var(--color-border-active);
        button {
          border: 0.5px solid var(--color-border-active);
          background-color: var(--color-border-active-hover);
          cursor: pointer;
        }

        .submit {
          &__frame {
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 20px;
            border: 2px solid var(--color-border-active);
            box-sizing: border-box;
            background: transparent;

            &-left {
              left: 0px;
              top: 0px;
              border-right: none;

              &:before {
                z-index: 1;
                content: "";
                position: absolute;

                top: -2px;
                left: -7px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(-45deg);

                border-bottom: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }

              &:after {
                z-index: 1;
                content: "";
                position: absolute;

                bottom: -4px;
                left: -2px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(45deg);

                border-top: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }
            }

            &-right {
              right: 0px;
              top: 0px;
              border-left: none;

              &:before {
                z-index: 1;
                content: "";
                position: absolute;

                top: -3px;
                right: -7px;

                height: 7px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(45deg);

                border-bottom: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }

              &:after {
                z-index: 1;
                content: "";
                position: absolute;

                bottom: -8px;
                right: -2px;

                height: 10px;
                width: 10px;

                box-sizing: border-box;
                transform-origin: 43% 0;
                transform: rotate(-45deg);

                border-top: 2px solid var(--color-border-active);
                background: var(--color-bg-main);
              }
            }
          }
        }
      }

      button {
        width: 100%;
        height: 100%;
        position: relative;
        border: 0.5px solid var(--color-border-main-transparrent);
        background-color: var(--color-bg-main);
        color: var(--color-text-main);
        outline: none;
      }
    }
  }
}

.list {
  fill: var(--color-border-active);
}

.blocks {
  fill: var(--color-border-active);
}


.content-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 15px;
  margin-right: 5px;
}

.header {
  // position: relative;
  height: 38px;
  width: 430px;
  box-sizing: border-box;

  background-color: var(--color-bg-additional);

  &__icon {
    fill: var(--color-kpe-gaude-deviation);

    &_bell {
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.list {
  fill: var(--color-border-active);
}

.blocks {
  fill: var(--color-border-active);
}

