<div class="container">
  <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
  </evj-widget-header-smp>
  <div class="frame-top"></div>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="header">
      <div class="header__title">Карточки отклонений</div>
      <div class="header__fabric">
        <div class="icon active-icon">
          <svg-icon src="assets/icons/widgets/SMP/fabric.svg" [svgStyle]="{ 'width.px':50, 'height.px':30}"> </svg-icon>
          <div class="icon__text">МНПЗ</div>
        </div>
        <div class="icon">
          <svg-icon src="assets/icons/widgets/SMP/fabric.svg" [svgStyle]="{ 'width.px':50, 'height.px':30}"> </svg-icon>
          <div class="icon__text">ОНПЗ</div>
        </div>
        <div class="icon">
          <svg-icon src="assets/icons/widgets/SMP/fabric.svg" [svgStyle]="{ 'width.px':50, 'height.px':30}"> </svg-icon>
          <div class="icon__text">ЯНОС</div>
        </div>
      </div>
    </div>
    <div class="smp-events">
      <evj-smp-events-header [stats]="stats" (changeStatus)="onChangeStatus($event)"></evj-smp-events-header>
      <div class="cards">
        <ng-container *ngFor="let card of cards">
          <evj-smp-events-card
            [isSelected]="selectCard.isSelected(card)"
            [event]="card"
            (click)="onClickEvent(card)"
          ></evj-smp-events-card>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="frame-bottom"></div>
</div>
