<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [icon]="widgetIcon"
    [id]="widgetId"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div
      class="col-chart"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="graphic">
        <div class="axis">
          <div class="axis-name">{{ "количество отклонений" | lowercase }}</div>

          <div class="axis-y__arrow">
            <svg-icon
              src="assets/icons/widgets/column-chart-stacked/arrow.svg"
            ></svg-icon>
          </div>
        </div>
        <div class="graph scroll-bar">
          <div class="axis-y"></div>
          <div class="axis-x__arrow">
            <svg-icon
              src="assets/icons/widgets/column-chart-stacked/arrow.svg"
            ></svg-icon>
          </div>
          <div class="axis-x"></div>
          <div class="graph__cols">
            <ng-container *ngFor="let col of cols">
              <evj-ccs-one-column [data]="col" class="col-component"></evj-ccs-one-column>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
