<div class="block" [class.block_danger]="false" [class.block_good]="true">
  <div class="card">
    <div class="card_background" [class.card_background__danger]="false" [class.card_background__good]="true">
      <div class="card_row card_row__1">
        <span class="text text_line-ellipsis">Отклонение за период Отклонение за период</span>
      </div>
      <div class="card_row card_row__2">
        <span class="text">540</span>
      </div>
      <div class="card_row card_row__3">
        <span class="text" [class.text_danger]="false" [class.text_good]="true">Перерасход </span>
      </div>
      <div class="card_icon" [class.card_icon__danger]="false" [class.card_icon__good]="true"></div>
    </div>
  </div>
</div>
