@import "src/theme/variables.scss";

$background-card-color: #0e2235;

.block {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: $background-card-color;
  &_danger {
    background: linear-gradient(to right, $--color-danger, transparent);
  }
  &_good {
    background: linear-gradient(to right, $--color-standard, transparent);
  }
}

.card {
  position: relative;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: auto;
  border-radius: inherit;
  background: $background-card-color;
  &_background {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    &__danger {
      background: transparentize($--color-danger, 0.95);
    }
    &__good {
      background: transparentize($--color-standard, 0.95);
    }
  }
  &_row {
    width: 100%;
    text-align: center;
    display: flex;
    &__1 {
      height: 30%;
      font-size: 10px;
    }
    &__2 {
      height: 40%;
      font-size: 16px;
      font-weight: bold;
    }
    &__3 {
      height: 30%;
      font-size: 11px;
    }
  }
  &_icon {
    position: absolute;
    right: 2px;
    top: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: transparent;
    &__danger {
      background-image: url(../../../../../../assets/icons/widgets/production-trend/icon-danger.svg);
      background-repeat: no-repeat;
    }
    &__good {
      background-image: url(../../../../../../assets/icons/widgets/production-trend/icon-good.svg);
      background-repeat: no-repeat;
    }
  }
}

.text {
  margin: auto;
  &_line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  &_danger {
    color: $--color-danger;
  }
  &_good {
    color: $--color-standard;
  }
}
