<div class="coding-table">
    <div class="coding-table__title">
        <div class="short">SAP</div>
        <div class="big">Продукт</div>
        <div class="middle">ГОСТ</div>
        <div class="short">Код ОКПД 2</div>
    </div>
    <div class="coding-table__container">
        <div id="scrollDocCodingTable" class="scroll-block" >
            <div *ngFor="let item of data" class="record-table" (click)="activeRecord(item.id)" [class.active]="activeRecordId === item.id">
                <div class="short">{{ item.sap }}</div>
                <div class="big">{{ item.product }}</div>
                <div class="middle">{{ item.gost }}</div>
                <div class="short">{{ item.codeOKPD }}</div>
            </div>
        </div>
    </div>
    <div class="coding-table__bottom">
        <div class="bottom-block">
            <div class="edit-button">
                <svg-icon src="./assets/icons/widgets/oil-control-all/quality-docs-panel/edit.svg"></svg-icon>
            </div>
            <div class="filter-button">
                <svg-icon src="./assets/icons/widgets/oil-control-all/quality-docs-panel/filter.svg"></svg-icon>
            </div>
        </div>
    </div>
</div>