$container-padding: 5px;

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 430px;
}

.body-container {
  height: 100%;
  flex-wrap: wrap;
  padding: $container-padding;
  position: relative;
  width: calc(100% - 2px - #{$container-padding * 2});
  border-left: dashed 1px var(--color-border-main);
  border-right: dashed 1px var(--color-border-main);
  overflow: auto;
}

.block {
  $block-margin: 5px;
  position: relative;
  margin: $block-margin;
  display: flex;
  width: 100%;
  height: calc(100% - #{$block-margin * 2});
  min-width: 1590px;

  .left-side {
    height: 100%;
    width: 42%;

    ::ng-deep {
      .scroll-block {
        background-color: var(--color-oil-table-2);
      }
      .input-back{
        background: var(--color-input-backgroud-table);
      }
    }
  }

  .middle-side {
    height: 100%;
    width: 16%;

    &__top {
      height: calc(57% - 5px);
      margin-bottom: 5px;
    }

    &__bottom {
      height: 43%;
    }
  }

  .right-side {
    height: 100%;
    width: calc(42% - 10px);
  }

  .line-side{
    height: 100%;
    width: 58%;
  }
}

.status {
  display: flex;
  align-items: center;

  &__blps {
    width: 12px;
    height: 100%;
    margin: -20px 5px 0 5px;
  }
}

.passport {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.direction {
  display: flex;
  align-items: center;

  &__icon {
    width: 50%;
    position: relative;

    .icon-cistern {
      height: 100%;
      width: 40px;
      position: absolute;
      left: 20px;
    }
  }

  &__name {
    width: 50%;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  margin-left: 50px;
  margin-right: 50px;
}

::-webkit-scrollbar-track:horizontal {
  width: 4px;
  height: 4px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 25px;
  background-color: var(--color-border-main);
}

::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 25px;
}

::-webkit-resizer {
  background-color: var(--color-border-active);
}
