<div class="repository" cdkDropListGroup>
    <div class="repository__header">
        <evj-admin-report-server-configurator-repository-header
        ></evj-admin-report-server-configurator-repository-header>
    </div>
    <div class="repository__address">
        <evj-admin-report-server-configurator-repository-address
        ></evj-admin-report-server-configurator-repository-address>
    </div>
    <div class="repository__body">
        <div class="repository__body__menu">
            <evj-admin-server-configurator-reference-menu
            ></evj-admin-server-configurator-reference-menu>
        </div>
    </div>
</div>