<div class="container-employees" [attr.auto-tests-shiftschedule-brigade-item]="data.brigadeId">
  <div class="container-employees__title">
    <div class="icon-arrow" (click)="openList()">
      <svg-icon
        [class.scale]="!isOpen"
        src="assets/icons/widgets/admin-shift-schedule/arrow.svg"
        [svgStyle]="{ 'width.px':12, 'height.px':12 }"
        [matTooltip]="isOpen ? 'Свернуть список' : 'Развернуть список'"
      ></svg-icon>
    </div>
    <div class="icon-group">
      <svg-icon
        src="assets/icons/widgets/admin-shift-schedule/group.svg"
        [svgStyle]="{ 'width.px':20, 'height.px':20 }"
      ></svg-icon>
    </div>
    <div class="brigade">
      <div class="brigade" [class]="color">{{data?.brigadeNumber}}</div>
    </div>
    <div class="icon-edit" matTooltip="Редактировать бригаду" (click)="edit(data)">
      <svg-icon
        src="assets/icons/widgets/admin-shift-schedule/edit.svg"
        [svgStyle]="{ 'width.px':12, 'height.px':15 }"
      ></svg-icon>
    </div>
    <div class="icon-delete" matTooltip="Удалить бригаду" (click)="delete(data)">
      <svg-icon
        src="assets/icons/widgets/admin-shift-schedule/garbage.svg"
        [svgStyle]="{ 'width.px':10, 'height.px':15 }"
      ></svg-icon>
    </div>
  </div>
  <div class="container-employees__content" [@Branch]="(isOpen) ? 'expanded' : 'collapsed'">
    <div class="employees">
      <div class="employees__title">
        Главный в бригаде
      </div>
      <div class="list-employee">
        <ng-container *ngFor="let item of data?.users">
          <ng-container *ngIf="item.position === 'responsible'">
            <evj-admin-shift-info-employee [data]="item" garbage="true" star="true">
            </evj-admin-shift-info-employee>
          </ng-container>
        </ng-container>
      </div>
      <div class="employees__title">
        Основной состав бригады
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="data?.users"
        (cdkDropListDropped)="drop($event)"
        [id]="data.brigadeId"
        class="employees__drop"
      >
        <ng-container *ngFor="let item of data?.users">
          <ng-container *ngIf="item.position === 'common'">
            <evj-admin-shift-info-employee
              class="employees__drop__item"
              [data]="item"
              garbage="true"
              star="true"
              cdkDrag
              (cdkDragStarted)="dragStart(item.id)"
            >
            </evj-admin-shift-info-employee>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="container-employees__bottom"></div>
</div>
