* {
  box-sizing: border-box;
}

::ng-deep {
  .mat-select-arrow {
    transform: translate(-11px, 2px);
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  overflow: hidden;

  border: 1px solid var(--ozsm-color-border);
  border-radius: 2px;

  background: var(--color-aps-structure-bg-main);
}

.container-body {
  height: 100%;
  width: 100%;
  padding: 14px;

  border-top: 1px solid var(--ozsm-color-border);
  border-radius: 0 0 2px 2px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .content-item {
    .select-menu {
      display: flex;
      align-items: center;

      .dropdown {
        height: 49px;
        margin: 12px 0;

        border: 1px solid var(--ozsm-color-border-select);
        border-radius: 2px;
        background: var(--color-aps-dropdown-bg);

        flex: 1;

        display: flex;
        align-items: center;

        font-size: 13px;

        &__marker {
          height: 33px;
          width: 2.5px;
          margin-left: 4px;
          margin-right: 8px;

          background: var(--ozsm-color-active);
        }
      }

      .button-icon {
        width: 49px;
        height: 49px;
        margin-left: 9px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid rgb(var(--color-aps-good-rgb));
        background: rgba(var(--color-aps-good-rgb), 0.2);
        border-radius: 2px;

        svg-icon {
          color: rgb(var(--color-aps-good-rgb));
        }
      }

      &__select {
        margin-right: 10px;
      }
    }

    &:first-child {
      height: 25px;

      display: flex;
      align-items: center;

      svg-icon {
        margin: 0 7px;
      }

      .select-menu {
        flex: 1;
        &:last-child {
          flex: 2;
        }

        .dropdown {
          height: 24px;
          padding-left: 5px;

          &__marker {
            display: none;
          }
        }
      }
    }
  }
}
