*{
    box-sizing: border-box;
}

.pasport {
    height: 36px;
    width: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    position: absolute;
    bottom: 160px;
    right: 17px;

    span {
        font-size: 14px;
        line-height: 17px;
    }
}