<div class="stream">
  <div class="stream__item padding">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 70
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 76
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item end">
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [style.marginRight]="'-2px'"
      [data]="{
        sections: sections,
        code: 36
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 70
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 76
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-simple-input
      [style.opacity]="0"
      [data]="{
        sections: sections,
        code: 36
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
  </div>
  <div class="stream__item row">
    <div class="special-dot-container">
        <div class="connection-circle"></div>
        <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [outCount]="0"
      [inCount]="0"
      [data]="{
        sections: sections,
        code: 43
      }"
    ></evj-sou-mvp-mnemonic-scheme-collector>
    <div class="special-line-container">
      <div class="line">
        <div class="connection-circle"></div>
      </div>
      <div class="line">
        <div class="connection-circle"></div>
      </div>
      <div class="line">
        <div class="connection-circle"></div>
      </div>
      <div class="line">
        <div class="connection-circle"></div>
      </div>
      <div class="line">
        <div class="connection-circle"></div>
      </div>
    </div>
  </div>
  <div class="stream__item full">
    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 44
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 51
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 42
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 77
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 86
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 78
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 94
        }"
        [noPoint]="true"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
    </div>

    <div class="stream specificAB">
      <div class="stream__item">
        <div class="vertical-custom-connection">
          <div class="connection-circle"></div>
          <div class="line"></div>
        </div>
        <evj-sou-mvp-mnemonic-scheme-collector
          [style.height.%]="100"
          [data]="{
            sections: sections,
            code: 45
          }"
          [outCount]="1"
          [inCount]="0"
        ></evj-sou-mvp-mnemonic-scheme-collector>
      </div>
      <div class="stream__item">
        <evj-sou-mvp-mnemonic-scheme-stream-diagram
          [data]="{
            sections: sections,
            code: 0
          }"
          [choosenSetting]="choosenSetting"
        ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      </div>
      <div class="stream__item output">

        <evj-sou-mvp-mnemonic-scheme-output
          [data]="{
            sections: sections,
            code: 79
          }"
        ></evj-sou-mvp-mnemonic-scheme-output>
      </div>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 68
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line"></div>
      <evj-sou-mvp-mnemonic-scheme-simple-output
        [data]="{
          sections: sections,
          code: 47
        }"
      ></evj-sou-mvp-mnemonic-scheme-simple-output>
    </div>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 52
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item end">
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [data]="{
        sections: sections,
        code: 62
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 52
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [data]="{
        sections: sections,
        code: 68
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 47
      }"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item relative">
    <svg-icon
      src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/path.svg"
      [svgStyle]="{'width.px':302}"
      class="path"
    ></svg-icon>
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 38
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 58
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 26
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 97
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [style.opacity]="0"
      [data]="{
        sections: sections,
        code: 80
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 80
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 81
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 75
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 14
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 93
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 14
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 93
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [outCount]="3"
      [inCount]="2"
      [data]="{
        sections: sections,
        code: 21
      }"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 36
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 62
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 16
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-simple-output
      [data]="{
        sections: sections,
        code: 43
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-output>

    <evj-sou-mvp-mnemonic-scheme-simple-output
      [data]="{
        sections: sections,
        code: 47
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 49
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 28
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 34
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 28
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 34
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 25
      }"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 50
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 60
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 51
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 82
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 32
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 32
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 27
      }"
      [outCount]="5"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 72
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 22
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 6
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 1
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 64
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 55
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 49
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 41
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 63
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 31
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 91
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 91
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 61
      }"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 12
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 18
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 27
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 83
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 2
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 2
      }"
      noLine = true
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 63
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 92
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 92
      }"
      [choosenSetting]="choosenSetting"
      noLine = true
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 15
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
