<div class="container">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [widgetType]="widgetType"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="quality-docs-panel">
      <div class="quality-docs-panel__title">
        <div class="short">№</div>
        <div class="short">Р-р</div>
        <div class="middle">Паспорт</div>
        <div class="middle">Дата</div>
        <div class="middle">Код SAP</div>
        <div class="big">Продукт</div>
        <div class="short">Группа</div>
        <div class="middle">Парк р-вов</div>
        <div class="middle">Создатель</div>
        <div class="middle">АРМ</div>
        <div class="key"></div>
      </div>
      <div class="quality-docs-panel__container">
        <cdk-virtual-scroll-viewport (scroll)="scrollHandler($event)" autosize class="scroll-block" #table>
          <ng-container *cdkVirtualFor="let item of data">
            <evj-quality-docs-record
              [data]="item"
              (emitBlockUnblock)="rowBlockUnblock($event)"
            ></evj-quality-docs-record>
          </ng-container>
        </cdk-virtual-scroll-viewport>
      </div>
      <div class="quality-docs-panel__bottom">
        <div class="bottom-block">
          <ng-container *ngFor="let filter of filters">
            <div class="input-block" [attr.id]="filter.type + '-qual-docs-panel'" (click)="openFilter(filter)">
              <div class="input-block__button-search">
                <svg-icon
                  *ngIf="isPopoverOpened.get(filter.type)"
                  src="assets/icons/widgets/oil-control-all/document-coding/filter-blue.svg"
                >
                </svg-icon>
                <svg-icon
                  *ngIf="!isPopoverOpened.get(filter.type)"
                  src="assets/icons/widgets/oil-control-all/document-coding/filter.svg"
                ></svg-icon>
              </div>
              <div class="input-block__input" [class.input-block__input-active]="isPopoverOpened.get(filter.type)">
                <div class="input-back">
                  <div class="name">{{ filter.name }} {{ getFilterCountData(filter.type) || '' }}</div>
                  <div class="icon">
                    <svg-icon src="assets/icons/widgets/oil-control-all/document-coding/arrow.svg"> </svg-icon>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="input-block pasport">
            <div class="input-block__button-search">
              <svg-icon
                *ngIf="!isPasportInput"
                class="button_filter_icon"
                src="assets/icons/widgets/references/search_white.svg"
              ></svg-icon>
              <svg-icon
                *ngIf="isPasportInput"
                class="button_filter_icon"
                src="assets/icons/widgets/references/search_blue.svg"
              ></svg-icon>
            </div>
            <!--<div class="input-block__input" [class.input-block__input-active]="isPasportInput">
              <input type="text"
                     (focus)="isPasportInput = true"
                     (blur)="isPasportInput = false"
                     [formControl]="passportFormControl"
                     placeholder="Паспорт" (keyup)="searchRecords($event)"/>
            </div>-->
            <evj-circle-input (searchChange)="searchRecords($event)" style="height: 100%"></evj-circle-input>
          </div>
          <div class="blocked-button" (click)="blockFilterToggle()">
            <svg-icon src="assets/icons/widgets/oil-control-all/quality-docs-panel/blocked.svg"> </svg-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <evj-frame-bottom></evj-frame-bottom>
</div>
