<div class="container">
    <evj-widget-header [title]="widgetTitle" [units]="widgetUnits" [code]="widgetCode" [id]="id" [uniqId]="uniqId"
        [widgetType]="widgetType" [icon]="widgetIcon"></evj-widget-header>

    <evj-frame-top></evj-frame-top>

    <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div class="quality-docs-panel">
            <div class="quality-docs-panel__title">
                <div class="short">№</div>
                <div class="short">Р-р</div>
                <div class="middle">Паспорт</div>
                <div class="middle">Дата</div>
                <div class="middle">Код SAP</div>
                <div class="big">Продукт</div>
                <div class="short">Группа</div>
                <div class="middle">Парк р-вов</div>
                <div class="middle">Создатель</div>
                <div class="middle">АРМ</div>
                <div class="key"></div>
            </div>
            <div class="quality-docs-panel__container">
                <div id="scrollQualityDocsPanel" class="scroll-block">
                    <div *ngFor="let item of data">
                        <evj-quality-docs-record [data]="item"></evj-quality-docs-record>
                    </div>
                </div>
            </div>
            <div class="quality-docs-panel__bottom">
                <div class="bottom-block">
                    <div class="filter-button" (click)="openFilter()" [class.active-filter]="isFilter">
                        <div class="filter-button__icon">
                            <svg-icon *ngIf="isFilter"
                                src="assets/icons/widgets/oil-control-all/document-coding/filter-blue.svg"></svg-icon>
                            <svg-icon *ngIf="!isFilter"
                                src="assets/icons/widgets/oil-control-all/document-coding/filter.svg"></svg-icon>
                        </div>
                        <div class="filter-button__text">
                            <div class="name">Продукты</div>
                            <div class="icon">
                                <svg-icon src="assets/icons/widgets/oil-control-all/document-coding/arrow.svg">
                                </svg-icon>
                            </div>
                        </div>
                    </div>
                    <div class="input-block tanks">
                        <div class="input-block__button-search">
                            <svg-icon *ngIf="!isTanksInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_white.svg"></svg-icon>
                            <svg-icon *ngIf="isTanksInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_blue.svg"></svg-icon>
                        </div>
                        <div class="input-block__input" [class.input-block__input-active]="isTanksInput">
                            <input type="text" (focus)="isTanksInput = true" (blur)="isTanksInput = false"
                                placeholder="Резервуар" (keyup)="searchRecords($event)" />
                        </div>
                    </div>
                    <div class="input-block pasport">
                        <div class="input-block__button-search">
                            <svg-icon *ngIf="!isPasportInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_white.svg"></svg-icon>
                            <svg-icon *ngIf="isPasportInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_blue.svg"></svg-icon>
                        </div>
                        <div class="input-block__input" [class.input-block__input-active]="isPasportInput">
                            <input type="text" (focus)="isPasportInput = true" (blur)="isPasportInput = false"
                                placeholder="Паспорт" (keyup)="searchRecords($event)" />
                        </div>
                    </div>
                    <div class="input-block products">
                        <div class="input-block__button-search">
                            <svg-icon *ngIf="!isProductInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_white.svg"></svg-icon>
                            <svg-icon *ngIf="isProductInput" class="button_filter_icon"
                                src="assets/icons/widgets/references/search_blue.svg"></svg-icon>
                        </div>
                        <div class="input-block__input" [class.input-block__input-active]="isProductInput">
                            <input type="text" (focus)="isProductInput = true" (blur)="isProductInput = false"
                                placeholder="Продукт" (keyup)="searchRecords($event)" />
                        </div>
                    </div>
                    <div class="blocked-button">
                        <svg-icon
                            src="assets/icons/widgets/oil-control-all/quality-docs-panel/blocked.svg">
                        </svg-icon>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="isFilter">
            <evj-document-coding-filter title="Продукты" (close)="closeFilter($event)"></evj-document-coding-filter>
        </div>
    </div>

    <evj-frame-bottom></evj-frame-bottom>
</div>
