$border-radius: 21px;
$width: 600px;
$font-size: 18px;
$alert-color: #E7292B;
$question-color: #D7E2F2;
$input-color: #8A98B3;

.loading-shade {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  background: var(--color-aw-shade-bg-transparent);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  &__blur {
    backdrop-filter: blur(1.5px);
    transition: backdrop-filter 0.5s;
  }
}
.alert-line {
  z-index: 9999;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 4px;
  height: 215px;
  background-color: $alert-color;
  border-radius: 29px;
}
.edit-line {
  z-index: 9999;
  position: absolute;
  left: 4px;
  top: 4px;
  width: 4px;
  height: 215px;
  background-color: var(--color-new-header-active);
  border-radius: 29px;
}

.confirm-container {
  max-width: $width;
  width: 516px;
  position: relative;

  background-color: var(--color-aw-container-body-transparent);
  box-shadow: 0 0 35px var(--color-aw-container-shadow-transparent);

  &__body {
    width: 100%;
    height: 151px;

    background-color: var(--color-aw-container-body-transparent);
  }
  &-body__input-text {
    width: 320px;
    height: 17px;
  }

  &-body__header {
    width: 100%;
    height: 62px;

    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    span {
      height: 42px;

      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: $font-size;
      line-height: 16px;
      color: white;
    }
  }

  &-body__content {
    height: 89px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;

    span {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: $font-size;
      line-height: 18px;
      color: $question-color;
    }

    &_prompt {
      span {
      color: $input-color;
      line-height: 17px;
      font-size: 14px;
      }
    }
  }

  &-body-header__icon {
    width: 90px;
    height: 100%;

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: auto;
    }

    &_input {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin: auto;
      }
    }
  }
  &-body-header__close {
    width: 60px;
    height: 100%;

    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin: auto;
    }
  }
  &-body-header__title {
    height: 100%;
    flex-grow: 4;

    background-color: transparent;
    display: flex;
    align-items: center;
  }

  &__footer {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-aw-container-body-transparent);

    .button-container {
      width: 150px;
      height: 40px;
      margin-right: 20px;
    }
  }

  .input {
    width: 320px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid var(--color-border-unactive);
    padding: 0 20px;
    margin: 0;
    margin-top: 20px;
    outline: none;

    text-align: center;
    font-size: 14px;
    color: var(--color-text-main);

    background: transparent;

    &::placeholder {
      color: var(--color-text-sub);
    }

    &_dirty {
      border-color: var(--color-border-active);
    }

    &_invalid {
      border-color: var(--color-danger);
    }
  }
}
