<ng-container *ngIf="info?.isShow">
  <div
    class="loading-shade loading-shade__blur"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="confirm-container">
      <div class="confirm-container__body confirm-container-body">
        <div
          class="confirm-container-body__header confirm-container-body-header"
          *ngIf="!info.input; else input"
        >
          <div class="confirm-container-body-header__icon">
            <img [src]="attentionIcon" />
          </div>
          <div class="confirm-container-body-header__title">
            <span>{{attentionTitle}}</span>
          </div>
          <div class="confirm-container-body-header__close">
            <img [src]="closeIcon" />
          </div>
        </div>
        <ng-template #input>
          <div class="confirm-container-body__header confirm-container-body-header">
            <div
              class="confirm-container-body-header__icon confirm-container-body-header__icon_input"
            >
              <img [src]="editIcon"/>
            </div>
            <div class="confirm-container-body-header__title">
              <span>{{editTitle}}</span>
            </div>
            <div class="confirm-container-body-header__close">
              <img [src]="closeIcon" />
            </div>
          </div>
        </ng-template>

        <div
          class="confirm-container-body__content"
          [ngClass]="{'confirm-container-body__content_prompt':!!info.input}"
        >
          <div class="confirm-container-body__input-text">
            <span [innerHTML]="info?.questionText | replaceLineBreak"></span>
          </div>
          <input
            type="text"
            class="input"
            [ngClass]="setInputStyle()"
            [formControl]="info.input.formControl"
            [placeholder]="info.input.placeholder"
            *ngIf="!!info.input"
          />
        </div>
      </div>
      <div class="confirm-container__footer">
        <div class="button-container">
          <evj-button
            [textButton]="info?.acceptText"
            (click)="accept()"
            [isChangingState]="false"
            [type]="'primary'"
          ></evj-button>
        </div>
        <div class="button-container">
          <evj-button
            [textButton]="info?.cancelText"
            (click)="cancel()"
            [isChangingState]="false"
          ></evj-button>
        </div>
      </div>
      <div class="alert-line" *ngIf="!info.input; else inputLine"></div>
      <ng-template #inputLine>
        <div class="edit-line"></div>
      </ng-template>
    </div>
  </div>
</ng-container>
