<ng-container *ngIf="info?.isShow">
  <div class="loading-shade loading-shade__blur">
    <div class="confirm-container">
      <div class="confirm-container__body confirm-container-body">
        <div class="confirm-container-body__header confirm-container-body-header">
          <div
            class="confirm-container-body-header__icon"
            [ngClass]="{'confirm-container-body-header__icon_input':!!info.input}"
          >
            <img [src]="iconSrc" />
          </div>
          <span>{{title}}</span>
        </div>
        <div
          class="confirm-container-body__content"
          [ngClass]="{'confirm-container-body__content_prompt':!!info.input}"
        >
          <p [innerHTML]="info?.questionText | replaceLineBreak"></p>
          <input
            type="text"
            class="input"
            [ngClass]="{'input_dirty':info.input.formControl.dirty}"
            [formControl]="info.input.formControl"
            [placeholder]="info.input.placeholder"
            *ngIf="!!info.input"
          />
        </div>
      </div>
      <div class="confirm-container__footer">
        <div class="button-container">
          <evj-button
            [textButton]="info?.acceptText"
            (click)="accept()"
            [isChangingState]="false"
            [isRounded]="true"
            [type]="'primary'"
          ></evj-button>
        </div>
        <div class="button-container">
          <evj-button
            [textButton]="info?.cancelText"
            (click)="cancel()"
            [isChangingState]="false"
            [isRounded]="true"
          ></evj-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
