<div class="container-security">
  <div class="container-security__title">Обеспечение разнарядками</div>
  <div class="container-security__content">
    <div class="block">
      <div class="block__title">Всего разнорядок</div>
      <div class="block__value">{{ data?.allValue | spaceNumber }}</div>
    </div>
    <div class="block">
      <div class="block__title">Поданы</div>
      <div class="block__value">{{ data?.filed | spaceNumber }}</div>
    </div>
    <div class="block">
      <div class="block__title">Неподаны</div>
      <div class="block__value">{{ data?.notFiled | spaceNumber }}</div>
    </div>
  </div>
</div>
