.container-security {
  height: calc(100% - 32px);
  width: calc(100% - 1px);
  border-left: 0.5px solid var(--color-smp-border);
  border-right: 0.5px solid var(--color-smp-border);
  position: relative;
  background: var(--color-bg-header-table);

  &__title {
    font-size: 10px;
    color: var(--color-smp-text-sub);
    position: absolute;
    top: -6px;
    left: 15px;
  }

  &__content {
    height: 100%;
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .block {
      border-left: 2px solid var(--color-standard);
      font-size: 11px;
      height: calc(100% - 120px);
      min-height: 25px;
      max-height: 50px;

      &__title {
        padding-left: 5px;
      }

      &__value {
        height: calc(100% - 12px);
        align-items: center;
        padding-left: 10px;
        display: flex;
        background: linear-gradient(90deg, rgba(0, 169, 157, 0.2) 0%, rgba(0, 169, 157, 0.0001) 83.8%);
      }
    }
  }
}
