<evj-widget-preview
  [title]="widgetTitle"
  [icon]="widgetIcon"
  [previewTitle]="widgetType"
  *ngIf="isMock; else noMock"
></evj-widget-preview>
<ng-template #noMock>
  <evj-loading-shade [isLoading]="isDataLoading"></evj-loading-shade>

  <div class="container">
    <evj-widget-header-smp
      [uniqId]="uniqId"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseExit()"
      *ngIf="isHover"
    >
    </evj-widget-header-smp>
    <div
      class="content"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseExit()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="frame-top"></div>
      <div class="frame-right"></div>
      <div class="frame-bottom"></div>
      <div class="frame-left"></div>
      <div class="diagrams scroll scroll-bar">
        <div class="diagrams__item" *ngFor="let graph of data">
          <div class="graph">
            <evj-production-deviations-diagram [data]="graph"></evj-production-deviations-diagram>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
