<div class="cmid-widget">
  <evj-contemporary-widget-header type="astue" [uniqId]="uniqId" [widgetTitle]="null">
    <svg-icon class="cmid-widget__icon" src="assets/icons/widgets/CMID/dynamics-of-metrics-change/mountain-corner.svg"></svg-icon>
    <evj-cmid-dynamics-of-metrics-change-header
      class="cmid-widget__header"
      [page]="pageType$ | async"
      (changePage)="changePage($event)">
    </evj-cmid-dynamics-of-metrics-change-header>
  </evj-contemporary-widget-header>

  <ng-container [ngSwitch]="pageType$ | async">
    <div *ngSwitchCase="pageTypes.DYNAMICS" class="cmid-widget__chart-wrapper">
      <evj-cmid-dynamics-of-metrics-change-chart [data]="data" class="cmid-widget__chart"></evj-cmid-dynamics-of-metrics-change-chart>
    </div>
    <div *ngSwitchCase="pageTypes.STATISTICS">
    </div>
  </ng-container>
</div>
