<evj-widget-preview [title]="widgetTitle"
                    [previewTitle]="widgetType"
                    *ngIf="isMock"></evj-widget-preview>

<div class="container pointer-event"
     *ngIf="!isMock">
  <evj-widget-header [title]="widgetTitle"
                     [units]="widgetUnits"
                     [code]="widgetCode"
                     [id]="id"
                     [uniqId]="uniqId"
                     [icon]="widgetIcon"></evj-widget-header>

  <evj-frame-top></evj-frame-top>
  <evj-alert-window [info]="alert"></evj-alert-window>
  <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
  <div class="content"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()">
    <div class="workflow">
      <div class="workflow__choose-scenario">
        <div class="choose-system">
          <div class="choose-system__title">Выбор системы</div>
          <div class="choose-system__body">
            <div class="choose-system__body__select">
              <mat-form-field class="choose-system__body__select_selectbox">
                <mat-select panelClass="mat-select-custom"
                            (selectionChange)="chooseSystem($event)">
                  <mat-option *ngFor="let p of modules"
                              [value]="p">{{p.name}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="available-scenario">
          <div class="available-scenario__title">Доступные сценарии</div>
          <svg-icon class="available-scenario__icon"
                    src="./assets/icons/widgets/workflow/add_btn.svg"
                    (click)="postScenarios()"
                    [svgStyle]="{ 'width.px': 30, 'height.px': 30 }"></svg-icon>
          <div class="available-scenario__body">
            <div class="available-scenario__body__items">
              <div class="available-scenario__body__item"
                   *ngFor="let scen of scenarios"
                   (click)="chooseScen(scen)">
                <span class="available-scenario__body__item__text"
                      [class.available-scenario__body__item__text--active]="chooseScenarios === scen">{{scen.name}}</span>
                <div class="available-scenario__body__item__container">
                  <div class="available-scenario__body__item__container__edit-block"
                       [class.available-scenario__body__item__container__edit-block--active]="chooseScenarios === scen">
                    <svg-icon class="available-scenario__body__item__container__edit-block__edit"
                              src="./assets/icons/widgets/workflow/edit_w.svg"
                              [svgStyle]="{ 'width.px':30, 'height.px':30 }"></svg-icon>
                    <div
                         class="available-scenario__body__item__container__edit-block__delete-block">
                      <div
                           class="available-scenario__body__item__container__edit-block__delete-block__delete">
                      </div>
                    </div>
                  </div>
                  <div class="available-scenario__body__item__container__icon"
                       (click)="startStopScenario(scen)">
                    <svg-icon *ngIf="scen.status === 'stopped'"
                              src="./assets/icons/widgets/workflow/play_w.svg"
                              [svgStyle]="{ 'width.px':15, 'height.px':15 }"></svg-icon>
                    <svg-icon *ngIf="scen.status === 'started'"
                              src="./assets/icons/widgets/workflow/stop_w.svg"
                              [svgStyle]="{ 'width.px':15, 'height.px':15 }"></svg-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="workflow__action">
        <div class="workflow__action__title">Доступные действия</div>
        <div class="workflow__action__body">
          <div class="workflow__action__body__items">
            <div class="workflow__action__body__item"
                 draggable="true"
                 (dragstart)="dragStartHandler($event, 'expired')"
                 #done>
              <svg-icon class="workflow__action__body__item__icon"
                        src="./assets/icons/widgets/workflow/expired.svg"
                        [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                        id="done"></svg-icon>
              <span class="workflow__action__body__item__title">Просрочено</span>
            </div>
            <div class="workflow__action__body__item"
                 draggable="true"
                 (dragstart)="dragStartHandler($event, 'available')">
              <svg-icon class="workflow__action__body__item__icon"
                        src="./assets/icons/widgets/workflow/done.svg"
                        [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                        id="done"></svg-icon>
              <span class="workflow__action__body__item__title">Выполнено</span>
            </div>
            <div class="workflow__action__body__item"
                 draggable="true"
                 (dragstart)="dragStartHandler($event, 'CheckWarning')">
              <svg-icon class="workflow__action__body__item__icon"
                        src="./assets/icons/widgets/workflow/warning_bell.svg"
                        [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                        id="done"></svg-icon>
              <span class="workflow__action__body__item__title">Подходит к концу</span>
            </div>
            <div class="workflow__action__body__item"
                 (dragstart)="dragStartHandler($event, 'SendEmail')"
                 draggable="true">
              <svg-icon class="workflow__action__body__item__icon"
                        src="./assets/icons/widgets/workflow/message_w.svg"
                        [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                        id="done"></svg-icon>
              <span class="workflow__action__body__item__title">Отправить сообщение
                ответственному</span>
            </div>
            <div (dragstart)="dragStartHandler($event, 'SendEmail')"
                 draggable="true"
                 #dragger
                 class="workflow__action__body__item">
              <svg-icon class="workflow__action__body__item__icon"
                        src="./assets/icons/widgets/workflow/users_w.svg"
                        [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                        id="done"></svg-icon>
              <span class="workflow__action__body__item__title">Отправить сообщение
                пользователям</span>
            </div>
          </div>
        </div>
      </div>
      <div class="workflow__scenario">
        <div class="workflow__scenario__title">Сценарий</div>
        <div class="workflow__scenario__body"
             #containerWorkflow>
          <div class="workflow__scenario__body__top"
               #splitTop>
            <gridster style="min-width: 100% !important; min-height: 100% !important;"
                      class="workflow__scenario__body__top__gridster"
                      id="gridSize"
                      [options]="options"
                      (click)="chooseGridItem($event)">
              <div *ngFor="let i of items">
                <gridster-item [item]="i"
                               (dragstart)="dragStart($event, i)"
                               (click)="chooseGridItem($event, i)"
                               style="height: 1600px; overflow: visible !important;"
                               class="workflow__scenario__body__top__gridster__item"
                               [class.workflow__scenario__body__top__gridster__item--active]="activeActions === i"
                               [id]="i.scenarioAction">
                  <ng-container [ngSwitch]="i.type">
                    <svg-icon *ngSwitchCase="'CheckExpired'"
                              class="workflow__action__body__item__icon"
                              src="./assets/icons/widgets/workflow/expired.svg"
                              [svgStyle]="{ 'width.px':43, 'height.px':43 }"></svg-icon>
                    <svg-icon *ngSwitchCase="'CheckAvailable'"
                              class="workflow__action__body__item__icon"
                              src="./assets/icons/widgets/workflow/done.svg"
                              [svgStyle]="{ 'width.px':43, 'height.px':43 }"></svg-icon>
                    <svg-icon *ngSwitchCase="'CheckWarning'"
                              class="workflow__action__body__item__icon"
                              src="./assets/icons/widgets/workflow/warning_bell.svg"
                              [svgStyle]="{ 'width.px':43, 'height.px':43 }"></svg-icon>
                    <svg-icon *ngSwitchCase="'SendEmail'"
                              class="workflow__action__body__item__icon"
                              src="./assets/icons/widgets/workflow/message_w.svg"
                              [svgStyle]="{ 'width.px':43, 'height.px':43 }"></svg-icon>
                    <svg-icon *ngSwitchCase="'SendEmail2'"
                              class="workflow__action__body__item__icon"
                              src="./assets/icons/widgets/workflow/users_w.svg"
                              [svgStyle]="{ 'width.px':43, 'height.px':43 }"></svg-icon>
                  </ng-container>
                  <svg-icon *ngIf="activeActions === i"
                            (click)="deleteAction(i.scenarioAction)"
                            style="position: absolute; bottom: -10px; right: -4px;"
                            src="./assets/icons/widgets/workflow/trash_w.svg"
                            [svgStyle]="{ 'width.px':10, 'height.px':10 }"></svg-icon>
                </gridster-item>
              </div>
            </gridster>
          </div>
          <div class="workflow__scenario__body__bar"
               #splitBar></div>
          <div class="workflow__scenario__body__bottom"
               #dropped>
          </div>
        </div>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>