[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mock {
  display: block;
  height: 200px;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  .line {
    color: var(--color-text-sub-heading);
    margin: 0 auto;
    padding-left: 160px;
  }
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
  }
}

.content {
  height: calc(100% - 56px);
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
}

.mock {
  width: 100%;
  display: table;
  height: calc(100% - 60px);
  text-align: center;
  color: var(--color-text-sub);
  border-left: var(--border-style-dashed);
  border-right: var(--border-style-dashed);
  tr {
    height: 20%;
  }
}

.workflow {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  height: calc(100% - 30px);

  &__choose-scenario {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 300px;
    margin-right: 10px;

    .choose-system {
      min-width: 200px;
      margin-bottom: 30px;
      &__title {
        font-size: 12px;
        color: var(--color-text-sub);
        margin-left: 15px;
        margin-bottom: 10px;
      }
      &__body {
        background-color: var(--color-bg-card-workflow);
        border-radius: 25px;

        &__select {
          padding: 0px 15px;
          &_selectbox {
            width: 100%;
            max-height: 36px;
            ::ng-deep {
              .mat-form-field-infix {
                border-top: 5px solid transparent;
              }
              .mat-form-field-underline {
                display: none;
              }
              .mat-form-field-infix {
                padding-top: 0 !important;
              }
              .mat-form-field-flex {
                padding-top: 4px !important;
              }
              .mat-select-arrow-wrapper {
                transform: translateY(9%);
              }
            }
          }
        }
      }
    }

    .available-scenario {
      position: relative;
      height: calc(100% - 89px);
      &__title {
        font-size: 12px;
        color: var(--color-text-sub);
        margin-left: 15px;
        margin-bottom: 10px;
      }

      &__icon {
        cursor: pointer;
        position: absolute;
        right: 4px;
        top: -15px;
      }

      &__body {
        height: 100%;
        &__items {
          height: 100%;
          overflow-y: scroll;
        }
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-items: stretch;
          margin-bottom: 7px;

          cursor: pointer;
          min-height: 37px;
          border-radius: 25px;
          background: linear-gradient(to left, #10141cc2 0%, transparent 13%), var(--color-bg-card-workflow);
          background-repeat: no-repeat;

          &__text {
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            padding: 10px 10px 10px 25px;
            width: 100%;
            color: var(--color-text-sub-workflow);

            &--active {
              color: var(--color-text-main);
              background: linear-gradient(to left, #10141c6b 0%, transparent 5%), var(--color-bg-active-sub-workflow);
            }
          }

          &__container {
            display: flex;

            &__edit-block {
              display: none;

              justify-content: space-evenly;
              align-items: center;
              padding-top: 3px;

              min-width: 82px;
              background: linear-gradient(to left, #10141cc2 0%, transparent 13%), var(--color-bg-card-workflow);
              border-left: 1px solid var(--color-bg-active-sub-workflow);

              &--active {
                display: flex;
              }

              &__edit {
                cursor: pointer;
                fill: var(--color-text-main);
                stroke: var(--color-text-main);
                &:hover {
                  fill: var(--color-active);
                  stroke: var(--color-active);
                }
              }
              &__delete-block {
                position: relative;
                width: 30px;
                height: 2px;

                &__delete {
                  cursor: pointer;
                  position: absolute;
                  right: 0px;
                  top: -15px;
                  width: 30px;
                  height: 30px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url(../../../../assets/icons/widgets/references/delete_blue.svg);

                  &:hover {
                    background-image: url(../../../../assets/icons/widgets/references/delete_red.svg);
                  }
                }
              }
            }

            &__icon {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              padding-top: 3px;

              min-width: 37px;
              background-color: var(--color-bg-sub-workflow);

              border-top-right-radius: 25px;
              border-bottom-right-radius: 25px;
            }
          }

          &--active {
          }
        }
      }
    }
  }

  &__action {
    width: 100%;
    min-width: 200px;
    max-width: 260px;
    margin-right: 10px;

    &__title {
      font-size: 12px;
      color: var(--color-text-sub);
      margin-left: 15px;
      margin-bottom: 10px;
    }
    &__body {
      background-color: var(--color-bg-card-workflow);
      border-radius: 15px;

      &__items {
        display: flex;
        flex-direction: column;
      }

      &__item {
        cursor: all-scroll;
        display: flex;
        align-items: center;
        padding: 7px 15px;

        &__title {
          padding-left: 10px;
        }
      }
    }
  }

  &__scenario {
    width: 100%;
    min-width: 200px;

    &__title {
      font-size: 12px;
      color: var(--color-text-sub);
      margin-left: 15px;
      margin-bottom: 10px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;

      &__alert {
        position: absolute;
        top: 0px;
        z-index: 999;
        background-color: #4f198a;
        font-size: 12px;
        width: 100%;
        border-radius: 10px;
        min-height: 40px;
        display: flex;
        padding: 4px 10px;

        &__btn {
          border-radius: 25px;
          border: 2px solid aquamarine;
          height: 19px;
          padding: 4px 17px;
          font-size: 12px;
        }
      }

      &__top {
        height: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: var(--color-bg-card-workflow);
        margin-bottom: 5px;

        &__gridster {
          &__item {
            cursor: pointer;
            &--active {
              box-shadow: 0 0 10px rgba(36, 124, 224, 0.781);
            }
          }
        }

        gridster {
          background: none;

          gridster-item {
            background: none;
            border-radius: 20px;
          }
        }

        .display-grid ::ng-deep .gridster-column {
          border-left: none !important;
          border-right: 1px solid var(--color-bg-sub) !important;
        }

        .display-grid ::ng-deep .gridster-row {
          border-top: none !important;
          border-bottom: 1px solid var(--color-bg-sub) !important;
        }
      }

      &__bottom {
        flex: 1;
        overflow-y: scroll;
        border-radius: 15px;
        margin-top: 5px;
        background-color: var(--color-bg-card-workflow);
        box-sizing: border-box;

        input {
          width: calc(100% - 20px);
          height: 30px;
          outline: none;
          padding-left: 20px;
          background: rgb(33, 36, 45, 0.1);
          font-size: 14px;
          border: none;
          color: rgb(255, 255, 255);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &::placeholder {
            color: var(--color-text-sub-workflow);
          }

          &:hover {
            border-bottom: 1px solid var(--color-border-active);
            color: white;
            &::placeholder {
              color: white;
            }
          }
        }

        .email {
          height: 100%;
          overflow-y: scroll;

          &__subject {
            padding: 8px 14px;

            &__title {
              color: var(--color-text-sub-workflow);
            }
            &__value {
            }
          }

          &__recipient {
            padding: 0 14px;

            &__title {
              position: relative;
              height: 30px;
              color: var(--color-text-sub-workflow);

              &__icon {
                cursor: pointer;
                position: absolute;
                left: 96px;
                top: -5px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../../../assets/icons/widgets/workflow/add-user_w.svg);
                &:hover {
                  background-image: url(../../../../assets/icons/widgets/workflow/add_user-active_w.svg);
                }
              }
            }
            &__value {
            }
          }

          &__copy {
            padding: 0 14px;

            &__title {
              position: relative;
              height: 30px;
              color: var(--color-text-sub-workflow);
              &__icon {
                cursor: pointer;
                position: absolute;
                left: 55px;
                top: -5px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../../../assets/icons/widgets/workflow/add-user_w.svg);
                &:hover {
                  background-image: url(../../../../assets/icons/widgets/workflow/add_user-active_w.svg);
                }
              }
            }
            &__value {
            }
          }

          .mat-form-field {
            width: 90%;

            ::ng-deep .mat-form-field-underline {
              display: none;
            }
          }

          ::ng-deep .mat-chip-ripple {
            border: 1px solid var(--color-border-active) !important;
          }
          ::ng-deep .mat-chip-remove {
            opacity: 0.9 !important;
          }

          ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0 !important;
          }

          ::ng-deep .mat-form-field-flex {
            padding: 0 !important;
          }
          ::ng-deep .mat-form-field-infix {
            border-top: 0 !important;
          }
          ::ng-deep .mat-input-placeholder {
            color: white !important;
          }
        }
      }

      &__bar {
        cursor: row-resize;
        background-color: var(--color-bg-card-workflow);
        width: 90%;
        border-radius: 10px;
        margin: 0 auto;
        height: 8px;
        background-image: url(./../../../../assets/icons/widgets/workflow/drag_w.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
      }
    }
  }
}
