<div class="search_input">
  <input
    [formControl]="searchInputField"
    type="text"
    [placeholder]="isReport ? 'Введите название отчета' : 'Введите название виджета'"
    (keyup)="searchInput()"
  />

  <div class="icon" (click)="resetSearchInput()" *ngIf="searchInputField.value">
    <svg-icon
      class="icon-close-button"
      src="assets/icons/close.svg"
      [class.icon-close-button__margin-default]="isReport"
      [class.icon-close-button__margin-widgets]="!isReport"
    ></svg-icon>
  </div>

  <div *ngIf="!isReport" class="button" (click)="toggleFilter()">
    <svg-icon
      [class.button_close_icon]="isVisibleFilter"
      [class.button_filter_icon]="!isVisibleFilter"
      [src]="isVisibleFilter ? 'assets/icons/search-filter-stroked.svg' : 'assets/icons/search-filter.svg'"
    ></svg-icon>
  </div>
</div>
