<div class="search_input">
  <ng-container *ngIf="isReport">
    <input type="text" placeholder="Введите название отчета" (keyup)="searchInput($event)" />
  </ng-container>

  <ng-container *ngIf="!isReport">
    <input type="text" placeholder="Введите название виджета" (keyup)="searchInput($event)" />
  </ng-container>

  <div *ngIf="!isReport" class="button" (click)="openFilter()" [class.active]="isVisibleFilter">
    <ng-container *ngIf="!isVisibleFilter">
      <svg-icon class="button_filter_icon" src="./assets/icons/SearchFilter.svg"></svg-icon>
    </ng-container>
    <ng-container *ngIf="isVisibleFilter">
      <svg-icon class="button_close_icon" src="./assets/icons/close_filter.svg"></svg-icon>
    </ng-container>
  </div>
</div>
