<div class="search_input">
  <div class="result_search" *ngFor="let i of data">
    <div class="result">{{i}}</div>
    <div class="delete_result">x</div>
  </div>

  <input type="text" placeholder="Введите название виджета" (keyup)="searchRecords($event)" />

  <div class="button" (click)="openFilter($event)">
    <ng-container *ngIf="this.checkClick">
      <svg-icon class="button_icon" src="./assets/icons/SearchFilter.svg"></svg-icon>
    </ng-container>
    <ng-container *ngIf="this.checkClick">
      <svg-icon class="button_icon" src="./assets/icons/close_bad"></svg-icon>
    </ng-container>
    
    
  </div>
</div>
