<div class="reference_title">
  <ng-container *ngFor="let item of dictionary">
    <div class="title_block">
      <div class="title">
        <div style="cursor: pointer" (click)="showFilter(item)">{{ item.title }}</div>
        <div style="position: relative">
          <svg-icon
            class="filter_icon"
            [svgStyle]="{ 'width.px':12, 'height.px':12 }"
            src="assets/icons/SearchFilter.svg"
            [class.filter_icon__active]="item.filter.isActive"
          >
          </svg-icon>
          <div *ngIf="item.filter.isActive" class="filter_block">
            <evj-filter-popup
              [filterSetting]="getFilterParams(item)"
              [isSearch]="item.filter.isSearch"
              (sortFilter)="setSortFilter($event, item)"
              (sortText)="setTextFilter($event, item)"
            >
            </evj-filter-popup>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="reference_values">
  <ng-container *ngFor="let item of transfers">
    <div
      class="values_block"
      *ngIf="item.isSearchFilter"
      [class.values_block__active]="item.isActive"
      (click)="transferClick(item.uid)"
    >
      <ng-container *ngFor="let dic of dictionary">
        <ng-container *ngIf="((dic.key === 'startTime') || (dic.key === 'endTime')) && (dic.key !== 'uid')">
          <ng-container *ngIf="item[dic.key]">
            <div class="values">
              <div class="value">
                <div class="date">
                  {{ (dic.key === 'startTime' ? item.startTime : item.endTime) | date:'dd.MM.yyyy | HH:mm:ss' }}
                </div>
                <div class="operator">{{ (dic.key === 'startTime' ? item.sourceClient : item.destinationClient) }}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!item[dic.key]">
            <div class="values">
              <div class="value">
                <svg-icon
                  src="assets/icons/widgets/petroleum-products-movement/Voskl.svg"
                  [svgStyle]="{ 'width.px':15, 'height.px':15 }"
                >
                </svg-icon>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container
          *ngIf="
            (dic.key !== 'endTime') &&
            (dic.key !== 'startTime') &&
            (dic.key !== 'sourceClient') &&
            (dic.key !== 'destinationClient') &&
            (dic.key !== 'uid')"
        >
          <div class="values">
            <div class="value">
              <ng-container
                *ngIf="
                  (dic.key === 'sourceMass') ||
                  (dic.key === 'destinationMass') ||
                  (dic.key === 'deltaMass'); else text"
              >
                {{ item[dic.key] | number:'0.2-2' }}
              </ng-container>
              <ng-template #text> {{ item[dic.key] }} </ng-template>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
