<div class="container">
  <div class="info-top"  *ngIf="!onlyPercent">
    <span class="current">
      {{chartValues?.fact | spaceNumber}}
      <span
        class="dev"
        [ngClass]="{
          'dev_great': chartValues?.deviationPlanPredictFact > 0,
          'dev_bad': chartValues?.deviationPlanPredictFact < 0
         }"
        >
        {{chartValues?.deviationPlanPredictFact}}
      </span>
    </span>
    <span class="predict">{{chartValues?.predict | spaceNumber}}</span>
  </div>
  <div class="diagram" *ngIf="!onlyPercent">
    <div
      class="diagram__orangeThin"
      [style.left.%]="chartData.orangeThin.left"
      [style.width.%]="chartData.orangeThin.percent"
    ></div>
    <div
      class="diagram__greenThin"
      [style.left.%]="chartData.greenThin.left"
      [style.width.%]="chartData.greenThin.percent"
    ></div>
    <div
      class="diagram__lightThin"
      [style.left.%]="chartData.lightThin.left"
      [style.width.%]="chartData.lightThin.percent"
    ></div>
    <div
      class="diagram__orangeBold"
      [style.left.%]="chartData.orangeBold.left"
      [style.width.%]="chartData.orangeBold.percent"
    ></div>
    <div
      class="diagram__blueLightBold"
      [style.left.%]="chartData.blueLightBold.left"
      [style.width.%]="chartData.blueLightBold.percent"
    ></div>
    <div
      class="diagram__greenBold"
      [style.left.%]="chartData.greenBold.left"
      [style.width.%]="chartData.greenBold.percent"
    ></div>
    <div
      class="diagram__blueBold"
      [style.left.%]="chartData.blueBold.left"
      [style.width.%]="chartData.blueBold.percent"
    ></div>
    <div
      class="diagram__blueLightBold_risk"
      [style.left.%]="chartData.blueLightBold.left + chartData.blueLightBold.percent"
    ></div>
    <div
      class="diagram__lightThin_risk"
      [style.left.%]="chartData.blueBold.percent + chartData.greenBold.percent"
    ></div>
  </div>
  <div class="info-bottom">
    <span  *ngIf="!onlyPercent" class="plan">{{chartValues?.plan | spaceNumber}}</span>
    <span
      class="dev"
      [ngClass]="{
      'dev_great': chartValues?.deviationPlanPredict > 0,
      'dev_bad': chartValues?.deviationPlanPredict < 0
      }"
      >{{chartValues?.deviationPlanPredict}}</span
    >
  </div>
</div>
