.st0 {
  fill: #ffffff;
}
.st1 {
  font-family: "Tahoma";
  font-size: 6px;
}
.st2 {
  font-size: 4.5294px;
}
.st3 {
  fill: none;
  stroke: #a7dcf8;
  stroke-width: 1.7502;
  stroke-miterlimit: 10;
}
.st4 {
  fill: none;
  stroke: #5c617e;
  stroke-width: 0.8751;
  stroke-miterlimit: 10;
}
.st5 {
  fill: #a7dcf8;
}
.st6 {
  enable-background: new;
}
.st7 {
  clip-path: url(#XMLID_78_);
}
.st8 {
  clip-path: url(#XMLID_79_);
}
.st9 {
  fill: #636680;
}
.st10 {
  font-size: 4.6434px;
}
.st11 {
  clip-path: url(#XMLID_80_);
}
.st12 {
  fill: #5c617d;
}
.st13 {
  clip-path: url(#XMLID_81_);
}
.st14 {
  clip-path: url(#XMLID_82_);
}
.st15 {
  clip-path: url(#XMLID_106_);
}
.st16 {
  font-size: 3.9668px;
}
.st17 {
  clip-path: url(#XMLID_429_);
}
.st18 {
  clip-path: url(#XMLID_430_);
}
.st19 {
  clip-path: url(#XMLID_431_);
}
.st20 {
  clip-path: url(#XMLID_432_);
}
.st21 {
  clip-path: url(#XMLID_434_);
}
.st22 {
  clip-path: url(#XMLID_435_);
}
.st23 {
  clip-path: url(#XMLID_438_);
}
.st24 {
  clip-path: url(#XMLID_439_);
}
.st25 {
  clip-path: url(#XMLID_440_);
}
.st26 {
  clip-path: url(#XMLID_441_);
}
.st27 {
  clip-path: url(#XMLID_442_);
}
.st28 {
  clip-path: url(#XMLID_443_);
}
.st29 {
  clip-path: url(#XMLID_444_);
}
.st30 {
  clip-path: url(#XMLID_445_);
}
.st31 {
  clip-path: url(#XMLID_446_);
}
.st32 {
  clip-path: url(#XMLID_448_);
}
.st33 {
  clip-path: url(#XMLID_449_);
}
.st34 {
  fill: #f5a422;
}
.st35 {
  clip-path: url(#XMLID_450_);
}
.st36 {
  clip-path: url(#XMLID_451_);
}
.st37 {
  fill: #0e1323;
  stroke: #a7dcf8;
  stroke-width: 0.8751;
  stroke-miterlimit: 10;
}
.st38 {
  fill: #0e1323;
  stroke: #a7dcf8;
  stroke-width: 1.5573;
  stroke-miterlimit: 10;
}
.st39 {
  fill: #0e1323;
  stroke: #5c617e;
  stroke-width: 0.8751;
  stroke-miterlimit: 10;
}
.st40 {
  fill: #0e1323;
  stroke: #ffffff;
  stroke-width: 0.8751;
  stroke-miterlimit: 10;
}
.st41 {
  clip-path: url(#XMLID_459_);
}
.st42 {
  clip-path: url(#XMLID_460_);
}
.st43 {
  clip-path: url(#XMLID_491_);
}
.st44 {
  clip-path: url(#XMLID_492_);
}
.st45 {
  clip-path: url(#XMLID_494_);
}
.st46 {
  fill: #0e1323;
  stroke: #f5a422;
  stroke-width: 1.5573;
  stroke-miterlimit: 10;
}

.st50 {
  //href="../../../../assets/pic/chain4.png"
  background-image: url("../../../../assets/pic/chain4.png");
}
.content_block {
  position: relative;
  height: calc(100% - 56px);
  border: 1px dashed var(--color-border-main);
  border-style: none dashed none dashed;
  pointer-events: fill;
}

.blocks {
  width: 100%;
  min-width: 100px;
  height: calc(100%);
}

.imgblock {
  width: 260px;
  margin: 0 auto;
}

.imgblock img {
  height: 140px;
}

.st3.-pipeActive {
  fill: none !important;
  stroke: #a7dcf8 !important;
  stroke-width: 1.75020003 !important;
  stroke-miterlimit: 10 !important;
}

.st3.-pipeNotActive {
  fill: none !important;
  stroke: #5c617e !important;
  stroke-width: 0.87510002 !important;
  stroke-miterlimit: 10 !important;
}

.st5.-aRow {
  fill: #a7dcf8 !important;
}

.st5.-nRow {
  fill: #5c617e !important;
}

.st37.-aPoint {
  stroke: #a7dcf8 !important;
}

.st37.-nPoint {
  stroke: #5c617e !important;
}

.st38.-aBigPoint {
  stroke: #a7dcf8 !important;
}

.st38.-nBigPoint {
  stroke: #5c617e !important;
}

.st38.-cBigPoint {
  stroke: #f5a422 !important;
}

.st60.-aPic {
  opacity: 1;
}

.st60.-nPic {
  opacity: 0.4;
}

.st0.-aText {
  font-size: 4.5294px !important;
  fill: white !important;
}

.st0.-nText {
  font-size: 4.6434px !important;
  fill: #636680 !important;
}

.st0.-cText {
  font-size: 4.5294px !important;
  fill: #f5a422 !important;
}
