.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.upload-drop {
  width: 500px;
  height: 422px;
  margin-top: 8%;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px #00000052;
  background-color: var(--color-bg-overlay);

  &__body {
    position: relative;
    height: 80%;
    background-image: url("./../../../../../../assets/icons/widgets/calibration-table/upload-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &__icon {
      cursor: pointer;
      position: absolute;

      right: 13px;
      top: 13px;

      fill: var(--color-text-main);
      stroke: var(--color-text-main);
      &:hover {
        fill: var(--color-active);
        stroke: var(--color-active);
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20%;
    background-color: var(--color-bg-header-table);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
