<div class="event-mat-select" [ngClass]="type">
  <mat-form-field appearance="none" [class.disabled]="disabled">
    <mat-label>{{ label }}</mat-label>

    <ng-container *ngIf="dataType === 'categories'">
      <mat-select
        [(ngModel)]="ewService.event.category"
        [compareWith]="compareFn"
        (selectionChange)="ewService.changeCategory()"
        [disabled]="!ewService.isCategoryEdit"
      >
        <mat-option
          *ngFor="let item of ewService.categoryPipe | async; i as index"
          [value]="item">
          {{ ewService.categories[item.name] }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'status'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.status"
        [compareWith]="compareFn"
      >
        <mat-option
          *ngFor="let item of (ewService.status | formatStatus:ewService.event.status:ewService.isCreateNewEvent); i as index"
          [value]="item">
          {{ ewService.statuses[item.name] }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'priorities'">
      <mat-select
        panelClass="mat-balance-select"
        [(ngModel)]="ewService.event.priority"
        [compareWith]="compareFn"
      >
        <mat-option
          *ngFor="let item of ewService.priority; i as index"
          [value]="item"
        >{{ ewService.priorities[item.name] }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'eventType'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.eventType"
        [compareWith]="compareFn"
      >
        <mat-option
          *ngFor="let item of ewService.eventTypes; i as index"
          [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'subCategories'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.productionTasks.subCategory"
        [compareWith]="compareFn"
        [disabled]="!ewService.isCreateNewEvent"
      >
        <mat-option [value]="null"> Не выбрано</mat-option>
        <ng-container *ngIf="ewService.isCreateNewEvent">
          <mat-option
            *ngFor="let item of ewService.subCategoryFilter | async"
            [value]="item"> {{ item.description }}
          </mat-option>
        </ng-container>
        <ng-container *ngIf="!ewService.isCreateNewEvent">
          <mat-option
            *ngFor="let item of ewService.subCategory"
            [value]="item">
            {{ item.description }}
          </mat-option>
        </ng-container>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'subCategoriesFilter'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.productionTasks.subCategory"
        [compareWith]="compareFn"
      >
        <mat-option [value]="null"> Не выбрано</mat-option>
        <mat-option
          *ngFor="let item of ewService.subCategoryFilter | async"
          [value]="item">
          {{ item.description }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'place'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.unit"
        [compareWith]="compareFn"
        [disabled]="!ewService.isCreateNewEvent"
      >
        <mat-option
          *ngFor="let item of ewService.units"
          [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'equipmentCategory'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
      >
        <mat-option
          *ngFor="let item of ewService.equipmentCategory"
          [value]="item">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'eoService'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.asusEvent.eoService"
        [disabled]="!ewService.event.isUserCanEditAcknowledged"
      >
        <mat-option
          *ngFor="let eoService of ewService.asusEOServices"
          [value]="eoService.codeSap"
        >{{ eoService.name }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'equipmentCategory'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [value]="items[0]?.value"
        [disabled]="disabled"
      >
        <mat-option
          *ngFor="let item of ewService.equipmentCategory"
          [value]="items[0].value">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="dataType === 'event' || dataType === 'event-shift'">
      <mat-select
        panelClass="mat-balance-select"
        (valueChange)="onSelect($event)"
        [(ngModel)]="ewService.event.isAcknowledged"
        [disabled]="!ewService.event.isUserCanEditAcknowledged"
      >
        <mat-option [value]="true">
          {{dataType === 'event' ? 'Квитировано' : 'Ознакомлен'}}
        </mat-option>
        <mat-option [value]="false">
          {{dataType === 'event' ? 'Не квитировано' : 'Не ознакомлен'}}
        </mat-option>
      </mat-select>
    </ng-container>
  </mat-form-field>
</div>
