<div class="event-mat-select" [ngClass]="type">
  <mat-form-field appearance="none" [class.disabled]="disabled">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      panelClass="mat-balance-select"
      (valueChange)="onSelect($event)"
      [value]="items[0]?.value"
      [disabled]="disabled"
    >
      <ng-container *ngIf="dataType === 'categories'">
        <mat-option
          *ngFor="let item of ewService.categoryPipe | async; i as index"
          [value]="items[0].value">
          {{ ewService.categories[item.name] }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'status'">
        <mat-option
          *ngFor="let item of ewService.status; i as index"
          [value]="items[0].value">
          {{ ewService.statuses[item.name] }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'priorities'">
        <mat-option
          *ngFor="let item of ewService.priority; i as index"
          [value]="items[0].value"
        >{{ ewService.priorities[item.name] }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'eventType'">
        <mat-option
          *ngFor="let item of ewService.eventTypes; i as index"
          [value]="items[0].value">
          {{ item.name }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'subCategories'">
        <mat-option
          *ngFor="let item of ewService.subCategory"
          [value]="items[0].value">
          {{ item.description }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'place'">
        <mat-option
          *ngFor="let item of ewService.units"
          [value]="items[0].value">
          {{ item.name }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'equipmentCategory'">
        <mat-option
          *ngFor="let item of ewService.equipmentCategory"
          [value]="items[0].value">
          {{ item.name }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'eoService'">
        <mat-option
          *ngFor="let eoService of ewService.asusEOServices"
          [value]="eoService.codeSap"
        >{{ eoService.name }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'equipmentCategory'">
        <mat-option
          *ngFor="let item of ewService.equipmentCategory"
          [value]="items[0].value">
          {{ item.name }}
        </mat-option>
      </ng-container>

      <ng-container *ngIf="dataType === 'event'">
        <mat-option [value]="true">
          Квитировано
        </mat-option>
        <mat-option [value]="false">
          Не квитировано
        </mat-option>
      </ng-container>

    </mat-select>
  </mat-form-field>
</div>
