<div class="dl-dia">
  <div class="dl-dia__graph">
    <div class="graph__title">План <span>1 105.38</span></div>
    <div class="graph__line">
      <div class="line line__marking line__marking-0"></div>
      <div class="line line__marking line__marking-50"></div>
      <div class="line line__limit line__limit-lower">
        <div class="label label__limit label__limit-lower">
          97%
        </div>
      </div>
      <div class="line line__limit line__limit-higher">
        <div class="label label__limit label__limit-higher">103%</div>
      </div>
      <svg width="100%" height="100%">
        <rect
          [attr.x]="0"
          y="2px"
          [attr.width]="
            drawGraph(data.curValue + (data.deviation * data.plan) / 10)
          "
          height="8px"
          rx="3px"
          ry="3px"
          [attr.fill]="fillGraph(false)"
        />
        <rect
          [attr.x]="0"
          y="4px"
          [attr.width]="
            drawGraph(data.curValue + (data.increase * data.plan) / 10)
          "
          height="4px"
          rx="3px"
          ry="3px"
          [attr.fill]="fillGraph(true)"
        />
        <rect
          x="0"
          y="2px"
          [attr.width]="drawGraph(data.curValue)"
          height="8px"
          rx="3px"
          ry="3px"
          [attr.fill]="fillGraph(true)"
        />
      </svg>
    </div>
  </div>
  <div class="dl-dia__deviation">
    <div class="deviation__worse">Отклонение <span>-2.1</span> ^</div>
    <div class="deviation__better">Улучшение <span>+1.3</span> ^</div>
  </div>
</div>
