<div class="widget-container">
  <div class="widget-header">
    <evj-contemporary-widget-header [uniqId]="widgetUniqId"
                                    [widgetTitle]="widgetTitle"></evj-contemporary-widget-header>
  </div>
  <div class="widget-content" (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()">

    <div class="widget-content-wrapper">
      <div class="flex-row-container">
        <div class="flex-column-container flex-column-container__left">
          <evj-sou-in-streams [flowIn]="data?.flowIn" class="input-streams"></evj-sou-in-streams>
          <evj-sou-losses-table [losses]="data?.losses"
                                (openTable)="togglePopupElement('table', true)"
                                class="table"></evj-sou-losses-table>
          <evj-sou-production-table [products]="data?.lightProducts"
                                    class="table"></evj-sou-production-table>
        </div>
        <div class="flex-column-container cards">
          <evj-sou-facility-info [data]="isSection"
                                 [count]="data?.notificationCards.length"
                                 (openPanel)="togglePopupElement('deviation', true)"></evj-sou-facility-info>
          <evj-sou-balance-card
            [data]="{type: 'in', title: 'Сумма входа', sumValue: data?.sumInByDay , perHourValue: data?.sumInByHour }"></evj-sou-balance-card>
          <evj-sou-balance-card
            [data]="{type: 'out', title: 'Сумма выхода', sumValue: data?.sumOutByDay, perHourValue: data?.sumOutByHour}"></evj-sou-balance-card>
          <evj-sou-balance-card
            [data]="{type: 'delta', title: 'Дельта', sumValue: data?.delta,
            percentageValue: +data?.deltaByPersent?.toFixed(), deviation: data?.lampOn }">
          </evj-sou-balance-card>
          <evj-sou-balance-card
            [data]="{type: 'balance', title: 'Допустимый баланс', sumValue: data?.balanceAllow,
            percentageValue: +data?.balanceAllowByPercent.toFixed()}"></evj-sou-balance-card>
        </div>
        <div class="flex-column-container flex-column-container__right">
          <evj-sou-out-streams [flowOut]="isSection?.flowOut" [sections]="data?.section"
                               (changeSection)="changeSection($event)"
                               style="height: 100%"></evj-sou-out-streams>
        </div>
      </div>
    </div>

    <evj-sou-detail-table [data]="data?.losses?.ident"
                          (closeTable)="togglePopupElement('table', false)"
                          class="popup-table"
                          *ngIf="popupElementsStates.get('table')"></evj-sou-detail-table>
    <evj-sou-deviation-cards [data]="data?.notificationCards"
                             (closePanel)="togglePopupElement('deviation', false)"
                             class="popup-deviations"
                             *ngIf="popupElementsStates.get('deviation')"></evj-sou-deviation-cards>
  </div>
</div>
