.widget-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
  overflow: hidden;

  .widget-header {
    width: 100%;
  }

  .widget-content {
    flex-grow: 1;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;

    .table {
      max-width: 470px;
      min-width: 470px;
      margin: 0 auto;
    }
  }
}

.flex-row-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.flex-column-container {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 100%;
}
