<div class="content" style="border-left: none; border-right: none">
  <section
    class="table__left"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="table scroll-bar" #tableBody>
      <table>
        <thead>
          <tr class="header__items">
            <th class="header header__th header__name">
              <span class="header__name__text">Наименование</span>
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <ng-container *ngFor="let element of dataSource">
            <tr
              class="table__item"
              (click)="expandedElement.isSelected(element) ? 
                           expandedElement.deselect(element)
                          : expandedElement.select(element)"
            >
              <td class="item item__tr">
                <svg-icon
                  class="item__tr-icon"
                  src="assets/icons/widgets/calibration-table/arrow-name.svg"
                  [svgStyle]="{ 'width.px':8, 'height.px':5 }"
                  [class.arrow-rtl]="expandedElement.isSelected(element)"
                ></svg-icon>
                <span class="item__tr-name">{{ element.name }}</span>
              </td>
            </tr>
            <ng-container *ngFor="let elementChildren of getChildrenRows(element)">
              <tr
                *ngIf="expandedElement.isSelected(element)"
                [class.expanded-row]="elementChildren"
              >
                <td [class.expanded-column]="elementChildren" class="item item__td item__name">
                  {{ elementChildren.name }}
                </td>
              </tr>
            </ng-container>
          </ng-container>
          <ng-container *ngFor="let element of dataSourceTanks">
            <tr class="expanded-row">
              <td [class.expanded-column]="element" class="item item__td item__name">
                {{ element.name }}
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <div class="bottom-reference-left">
            <div class="bottom-reference-left__block">
              <div class="bottom-reference-left__input-block">
                <div class="bottom-reference-left__button-search">
                  <svg-icon
                    *ngIf="!isRefInput"
                    class="button_filter_icon"
                    src="./assets/icons/widgets/references/search_white.svg"
                  ></svg-icon>

                  <svg-icon
                    *ngIf="isRefInput"
                    class="indicator-selector__collapse"
                    src="./assets/icons/widgets/references/search_blue.svg"
                  ></svg-icon>
                </div>
                <div
                  class="bottom-reference-left__input"
                  [class.bottom-reference-left__input-active]="isRefInput"
                >
                  <input
                    type="text"
                    (focus)="isRefInput = true"
                    (blur)="isRefInput = false"
                    (keyup)="searchInput($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </tfoot>
      </table>
    </div>
  </section>

  <section
    class="table__right"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="table scroll-bar" #tableRight>
      <table>
        <thead>
          <tr class="header__items">
            <th class="header header__th header__name">
              Дата изменения
            </th>
            <th class="header header__th header__name">
              Пользователь
            </th>
            <th class="header header__th header__name">
              Поле
            </th>
            <th class="header header__th header__name">
              Обновленное значение
            </th>
            <th class="header header__th header__comment">
              Комментарий
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <ng-container *ngFor="let element of chooseTanks">
            <tr class="expanded-row">
              <td class="item item__td item__name">
                {{ element?.editDate | date }}
              </td>
              <td class="item item__td item__name">
                {{ element?.user?.firstName }}
              </td>
              <td class="item item__td item__name">
                {{ element?.empty }}
              </td>
              <td class="item item__td item__name">
                {{ element?.updateDate | date }}
              </td>
              <td class="item item__td item__comment">
                {{ element?.comment }}
              </td>
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <div class="bottom-reference-right">
            <div class="bottom-reference-right__block">
              <div class="bottom-reference-right__button-add"></div>
              <div class="bottom-reference-right__text">
                <div class="bottom-reference-right__div"></div>
              </div>
            </div>
          </div>
        </tfoot>
      </table>
    </div>
  </section>
</div>
