app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

mat-nav-list {
  min-width: 200px;
  width: 20%;
  border-right: 1px solid grey;
  overflow: auto;
}

mat-nav-list .active,
mat-nav-list .mat-list-item-focus.active:focus {
  background: #afddff;
}

router-outlet + * {
  width: 100%;
  overflow: auto;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

gridster-item {
  &::ng-deep {
    .gridster-item-resizable-handler.handle-s,
    .gridster-item-resizable-handler.handle-n {
      height: 5px;
    }

    .gridster-item-resizable-handler.handle-e,
    .gridster-item-resizable-handler.handle-w {
      width: 5px;
    }

    .gridster-item-resizable-handler.handle-se,
    .gridster-item-resizable-handler.handle-ne,
    .gridster-item-resizable-handler.handle-nw,
    .gridster-item-resizable-handler.handle-sw {
      width: 5px;
      height: 5px;
    }
  }
}

.options {
  padding: 10px;
  display: grid;
}

.options-header {
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.source-code-button {
  justify-self: end;
}

[draggable] {
  user-select: none;
  cursor: pointer;
}

app-parent-dynamic,
app-widget-a,
app-widget-b,
app-widget-c {
  display: flex;
  height: 100%;
  width: 100%;
  color: rgb(172, 89, 89);
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

code {
  background: rgb(11, 4, 51);
}

app-widget-a {
  background: red;
}

app-widget-b {
  background: blue;
}

app-widget-c {
  background: lawngreen;
}

.widget {
  height: 200px;
  width: 490px;
}

gridster-item {
  // min-width: 100px !important;
  // min-height: 140px !important;
  //background-color: rgb(27, 30, 39);
  z-index: 0 !important;
  background-color: var(--color-bg-main);
}

.content_block {
  height: none;
}

.fixed {
  padding: 5px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  background-color: var(--color-bg-main);
}

::-webkit-scrollbar {
  width: 1px;
  height: 7px;
}
::-webkit-scrollbar:vertical {
  width: 10px;
  height: 100%;
}
::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(27, 30, 39);
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--color-border-main);
  border-radius: 10px;
}
::-webkit-resizer {
  background-color: #666;
}

.gridster-item-moving {
  z-index: 100 !important;
  position: absolute;
  pointer-events: none;
}

::ng-deep gridster-preview {
  background: rgb(27, 30, 39, 0.15) !important;
}

.display-grid ::ng-deep .gridster-column {
  // border-left: 1px solid var(--color-border-main) !important;
  border-left: none !important;
  border-right: 1px solid var(--color-border-main) !important;
}

.display-grid ::ng-deep .gridster-row {
  // border-top: 1px solid var(--color-border-main) !important;
  border-top: none !important;
  border-bottom: 1px solid var(--color-border-main) !important;
}

.item-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  &_visible {
    overflow: visible;
  }
}
