<div class="grid">

  <div class="grid__cell"
       *ngFor="let c of this.userService.cells"
       [style.grid-area]="c.position"
       [dndDropzone]
       (dndDrop)="onDrop($event, c)">

    <div class="dropzone grid__dropzone" *ngIf="draggingMode || !c.widget">
      <h3>Переместите сюда</h3>
    </div>

    <ng-container *ngIf="c.widget">

      <!--
      <evj-line-chart class="grid__widget"
                      *ngIf="c.widget.widgetType === 'line-chart'"
                      [dndDraggable]="c"
                      (dndStart)="onDragStart($event)"
                      (dndEnd)="onDragEnd($event)"
                      [position]="c.position"
                      [id]="c.widget.id"
                      [code]="c.widget.code"
                      [name]="c.widget.title"
                      [showMock]="false"
                      [units]="c.widget.units"
                      [options]="c.widget.widgetOptions">
      </evj-line-chart>

      <evj-manual-input class="grid__widget"
                        *ngIf="c.widget.widgetType === 'manual-input'"
                        [name] = c.widget.title
                        [dndDraggable]="c"
                        [id]="c.widget.id"
                        [showMock]="false" >
      </evj-manual-input>

      <evj-events class="grid__widget"
                        *ngIf="c.widget.widgetType === 'events'"
                        [dndDraggable]="c"
                        [id]="c.widget.id"
                        [name]="c.widget.title"
                        [showMock]="false">
      </evj-events>

      <evj-line-diagram class="grid__widget"
                        *ngIf="c.widget.widgetType === 'line-diagram'"
                        [dndDraggable]="c"
                        [id]="c.widget.id">
      </evj-line-diagram>

      <evj-widgets-pie-circle class="grid__widget"
                              *ngIf="c.widget.widgetType === 'pie-diagram'"
                              [id]="c.widget.id"
                              [name]="c.widget.title"
                              [dndDraggable]="c"
                              [showMock]="false">
      </evj-widgets-pie-circle>
    -->
    </ng-container>

  </div>


</div>
