<div class="grid">


  <div class="grid__cell"
       *ngFor="let c of cells"
       [style.grid-area]="c.position"
       dndDropzone
       (dndDrop)="onDrop($event, c)">


    <div class="dropzone grid__dropzone" *ngIf="draggingMode || !c.widget">
      <h3>Переместите сюда</h3>
    </div>

    <evj-events></evj-events>
    <!--<evj-line-chart class="grid__widget"-->
                    <!--*ngIf="c.widget"-->
                    <!--[dndDraggable]="c"-->
                    <!--(dndStart)="onDragStart($event)"-->
                    <!--(dndEnd)="onDragEnd($event)"-->
                    <!--[position]="c.position"-->
                    <!--[code]="c.widget.code"-->
                    <!--[name]="c.widget.name"-->
                    <!--[data]="c.data"-->
                    <!--[units]="c.widget.units"-->
                    <!--[options]="c.widget.widgetOptions"></evj-line-chart>-->

  </div>


</div>
