<div class="container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="widgetTitle"
    type="astue"
    icon="sliders"
  ></evj-contemporary-widget-header>
  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" #kpePlanReadinessHostElement>
    <ng-container *ngFor="let row of data">
      <div class="content__column">
        <div class="value-container">
          <span>
            {{ row?.name }}<span class="measurement">, {{ row?.measurement }}</span>
          </span>
          <span class="value">{{ row?.value }}</span>
        </div>
        <div class="chart-container">
          <evj-kpe-readiness-deviation-diagram
            [currentMonth]="displayedMonth"
            [data]="row?.data"
            [bottomCalendarFull]="true"
            [hostElement]="kpePlanReadinessHostElement"
          ></evj-kpe-readiness-deviation-diagram>
        </div>
      </div>
    </ng-container>
  </div>
</div>
