* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .content {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    background: var(--color-kpe-line-diagram-bg-sub);

    border: 1px solid var(--color-kpe-bg-sub);
    border-radius: 0 0 2px 2px;

    &__row {
      display: flex;
      flex-direction: row;
      height: 50%;
      width: 100%;

      .chart-container,
      .value-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
      }

      .chart-container {
        flex: 8 8;
        justify-content: center;
        flex-grow: 8;
        height: 100%;
        padding: 18px;
      }

      .value-container {
        flex: 1 1;
        display: flex;
        flex-direction: column;
        padding: 27px 27px 27px 0;

        &__value {
          width: 126px;
          height: 82px;
          background-color: var(--color-lines-bg-dia);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin-top: 25%;

          span.value {
            color: var(--color-text-main);
            font-size: 36px;
          }

          span.measurement {
            color: var(--color-marker-diagram);
            font-size: 10px;
          }
        }

        span {
          font-size: 14px;
          color: var(--color-border-unactive);
        }
      }
    }

    &__row:first-child {
      border-bottom: 1px solid var(--color-kpe-bg-sub);
    }
  }
}
