<evj-widget-preview [title]="title" [previewTitle]="" *ngIf="isMock"></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
    [icon]=""
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div
      class="graphic__container"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="header">
        <div class="buttons">
          <div class="button button-small">ТН</div>
          <ng-container *ngFor="let button of buttons">
            <div
              class="button "
              [ngClass]="{'button-active':addActiveClass(button)}"
              (click)="changeActiveClass(button)"
            >
              {{button}}
            </div>
          </ng-container>
        </div>
        <div class="select">
          <select>
            <option>Бензины</option>
            <option>Керосины</option>
          </select>
        </div>
      </div>
      <div class="dpp">
        <div class="axis">
          <div class="axis-y"></div>
          <div class="axis-x axis-x-upper"></div>
          <div class="axis-x axis-x-downer"></div>
        </div>
        <div class="graph">
          <ng-container *ngFor="let period of periods">
            <div
              class="period-line"
              [ngStyle]="{'left.px':movePeriodLineFromLeft(period.begin)}"
            ></div>
            <div
              class="period-line"
              [ngStyle]="{'left.px':movePeriodLineFromLeft(period.end)}"
            ></div>
          </ng-container>
          <div class="graph__upper">
            <ng-container *ngFor="let day of days">
              <div class="graph__upper-card" [ngClass]="{'graph__upper-card-active':day.isActive}">
                <evj-dpp-column-upper
                  class="insert-component"
                  [data]="day.upperGraph"
                  [MAXIMUM_COEF]="MAXIMUM_COEF"
                  [isActive]="day.isActive"
                  [endOfPeriod]="checkTheEndOfPeriod(day.date)"
                ></evj-dpp-column-upper>
              </div>
            </ng-container>
          </div>
          <div class="axis__date">
            <ng-container *ngFor="let day of days">
              <div class="axis__date-card" [ngClass]="showClass(day)">
                {{day.date | date:"dd"}}
              </div>
            </ng-container>
          </div>
          <div class="graph__downer">
            <ng-container *ngFor="let day of days; let i = index">
              <div class="graph__upper-card" [ngClass]="{'graph__upper-card-active':day.isActive}">
                <evj-dpp-column-downer
                  class="insert-component"
                  [data]="day.downerGraph"
                  [MAXIMUM_COEF]="MAXIMUM_COEF"
                  [nextLimit]="days[i+1]"
                  [isActive]="day.isActive"
                ></evj-dpp-column-downer>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="buttons">
          <div class="button button-small">ТН</div>
          <div class="button button-active">Отгрузка</div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
