:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.graphic__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.mock {
  position: relative;
  display: block;
  height: 144px;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  img {
    width: 63%;
    height: 144px;
    margin-left: 85px;
  }
}

.header,
.footer {
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 0px 15px;
  margin-bottom: 15px;

  .buttons {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .button {
      position: relative;

      height: 100%;
      width: 190px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-sizing: border-box;
      margin: 0px -3px;

      font-size: 14px;

      color: var(--color-text-sub);
      background-image: url(../../../../assets/icons/widgets/daily-plan-product/button.svg);
      background-repeat: no-repeat;
      background-size: cover;

      &-small {
        width: 63px;
        background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-small.svg);

        &-active {
          color: var(--color-text-main);
          background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-small-active.svg);
        }
      }

      &-active {
        color: var(--color-text-main);
        background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-active.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .select {
    height: 100%;
    width: 175px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    margin: 0px 2px;

    background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;

    select {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding-left: 40px;

      font-size: 14px;

      color: var(--color-text-sub);
      background: transparent;
      border: none;

      option {
        background: var(--color-bg-main);
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.footer {
  margin-bottom: 0;
  margin-top: 15px;

  .buttons {
    .button {
      width: 175px;
      background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-footer.svg);

      &-small {
        width: 63px;
        background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-small-footer.svg);

        &-active {
          background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-small-footer-active.svg);
        }
      }

      &-active {
        width: 180px;
        background-image: url(../../../../assets/icons/widgets/daily-plan-product/button-footer-active.svg);
      }
    }
  }
}

.dpp {
  position: relative;

  width: 100%;
  height: calc(100% - 60px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  padding: 0 10px 0 25px;

  .axis {
    position: absolute;
    width: 100%;
    height: 98%;
    z-index: -2;

    bottom: 9px;

    &-name {
      position: absolute;
      text-align: center;
      font-size: 15px;
      width: 200px;
      transform: rotate(-90deg);
      left: -115px;
      bottom: 50%;
      color: var(--color-text-sub-heading);
    }

    &-y {
      position: absolute;
      height: 100%;
      width: 1px;
      box-sizing: border-box;
      border-left: 0.5px solid var(--color-axis);
      z-index: 2;
      left: 15px;

      &__arrow {
        position: absolute;
        height: 15px;
        width: 10px;
        z-index: 3;
        left: -4px;
        top: 36px;

        svg-icon {
          fill: var(--color-axis);
          height: 100%;
          width: 100%;
        }
      }
    }

    &-x {
      position: absolute;
      width: 99%;
      height: 1px;
      box-sizing: border-box;
      border-bottom: 0.5px solid var(--color-axis);
      z-index: 2;
      bottom: 0;
      left: 15px;
      right: 0;
      margin: auto;

      &-upper {
        top: -15px;
      }

      &-downer {
        top: 25px;
      }

      &__arrow {
        position: absolute;
        height: 15px;
        width: 10px;
        z-index: 3;
        right: 4px;
        bottom: 43px;
        transform: rotate(90deg);

        svg-icon {
          fill: var(--color-axis);
          height: 100%;
          width: 100%;
        }
      }
    }

    &__date {
      position: relative;

      height: 20px;

      box-sizing: border-box;
      margin: 2px 0px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-card {
        width: 50px;
        height: 16px;
        background: var(--color-bg-column-disable);
        margin: 0px 2px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        color: var(--color-text-sub);

        &-active {
          background: var(--color-active);
          color: var(--color-text-main);
        }

        &-warning {
          background: var(--color-warning);
          color: var(--color-text-main);
        }
      }
    }
  }

  .graph {
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 5px 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-x: scroll;
    overflow-y: hidden;

    &__upper,
    &__downer {
      position: relative;

      height: calc(50% - 10px);

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      &-card {
        width: 50px;
        height: 100%;
        background: var(--color-bg-column-disable);
        margin: 0px 2px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        color: var(--color-text-sub);

        &-active {
          background: var(--color-bg-column-active);
          color: var(--color-text-main);
        }
      }
    }

    &__upper {
      .line {
        &__higher,
        &__lower {
          position: absolute;
          z-index: 5;
          width: 100%;
          height: 1px;
          box-sizing: border-box;
          border-top: 1px dashed var(--color-border-main-transparrent);
        }
      }

      .blur {
        &__higher,
        &__lower {
          position: absolute;
          width: 100%;
          box-sizing: border-box;
        }

        &__higher {
          top: 0;
          background: linear-gradient(to top, rgba(93, 96, 123, 0.2) 0%, transparent 100%);
        }

        &__lower {
          bottom: 0;
          background: linear-gradient(to bottom, rgba(93, 96, 123, 0.2) 0%, transparent 100%);
        }
      }
    }

    .period-line {
      position: absolute;
      z-index: 5;

      width: 1px;
      height: 100%;

      background: var(--color-active);

      left: 0;
      top: 0;
      margin: auto;

      &::after {
        content: "";

        position: absolute;

        width: 5px;
        height: 5px;

        border-radius: 50%;

        background: var(--color-active);

        top: 0;
        left: -2px;
      }

      &::before {
        content: "";

        position: absolute;

        width: 5px;
        height: 5px;

        border-radius: 50%;

        background: var(--color-active);

        bottom: 0;
        left: -2px;
      }
    }
  }
}

.insert-component {
  width: 100%;
  height: 100%;
}
