app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

mat-nav-list {
  min-width: 200px;
  width: 20%;
  border-right: 1px solid grey;
  overflow: auto;
}

mat-nav-list .active,
mat-nav-list .mat-list-item-focus.active:focus {
  background: #afddff;
}

router-outlet + * {
  width: 100%;
  overflow: auto;
}

gridster-item div.button-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  padding: 10px;
  display: grid;
}

.options-header {
  height: 200px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.source-code-button {
  justify-self: end;
}

[draggable] {
  user-select: none;
  cursor: pointer;
}

app-parent-dynamic,
app-widget-a,
app-widget-b,
app-widget-c {
  display: flex;
  height: 100%;
  width: 100%;
  color: rgb(172, 89, 89);
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

code {
  background: rgb(11, 4, 51);
}

app-widget-a {
  background: red;
}

app-widget-b {
  background: blue;
}

app-widget-c {
  background: lawngreen;
}

.widget {
  margin-top: 10px;
  height: 200px;
  width: 444px;
  overflow: hidden;
}

gridster-item {
  min-width: 200px !important;
  min-height: 200px !important;
  background-color: rgb(27, 30, 39);
}

.content_block {
  height: none;
}

.fixed {
  padding: 0px !important;
  height: 100% !important;
  width: 100% !important;
  overflow: scroll !important;
  background-color: rgb(34, 38, 49) !important;
}

.widgets-panel {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  flex-flow: column;

  height: calc(100% + 10px);
  width: 0;
  padding-top: 20px;
  box-sizing: border-box;

  background-color: var(--color-bg-main);
  border: 1px solid transparent;
  border-radius: 10px 0 0;

  transition: width 0.4s, padding 0.4s, box-shadow 0.4s;

  &_active {
    width: 500px;
    padding: 20px 10px 20px 20px;
    box-shadow: -4px 20px 13px 4px rgba(0, 0, 0, 0.5);
    border-color: var(--border-blue-color);
    border-right: 1px;
    z-index: 100;
  }

  &__widget {
    display: block;
    margin-bottom: 20px;
    width: 434px;
    height: 200px;

    &___mi {
      margin-bottom: 40px;
    }
  }

  &__toggle {
    position: absolute;
    top: 60px;
    left: -41px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 10px 0 0;
    background-color: var(--color-bg-main);
    border: 1px solid var(--border-blue-color);
    border-right-color: var(--color-bg-main);
    box-shadow: -6px 0px 13px 1px rgba(0, 0, 0, 0.5);

    cursor: pointer;
  }

  &__toggle__reports {
    position: absolute;
    top: 115px;
    left: -41px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 10px 0 0;
    background-color: var(--color-bg-main);
    border: 1px solid var(--border-blue-color);
    border-right-color: var(--color-bg-main);
    box-shadow: -6px 0px 13px 1px rgba(0, 0, 0, 0.5);

    cursor: pointer;
  }

  &__icon {
    width: 20px;
    color: var(--color-border-main);
    &--active {
      color: var(--color-text-main);
    }
  }

  &__icon__reports {
    fill: var(--color-border-main);
    &--active {
      fill: var(--color-text-main);
    }
  }

  &__heading {
    margin: 0 0 20px 0;
    min-width: 469px;
    text-align: center;
    overflow: hidden;

    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: var(--text-accent-color);
  }

  &__list {
    flex: 1;
    overflow-y: scroll;
    margin-left: 5px;
  }
}

.widget_menu {
  display: flex;
  height: 40px;
  width: 450px;
  margin: 5px;
}

.widget__new {
  display: flex;
  flex-flow: column;
  height: calc(100% + 10px);
}

.mycheckbox {
  width: 100%;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mycheckbox__default {
  display: none;
}

.mycheckbox__descr {
  font-size: 14px;
  &_checked {
    color: var(--text-accent-color);
  }
}

.mycheckbox__default:checked + .mycheckbox__new::after {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.mycheckbox__new {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--border-vidget-color);
  margin-right: 9px;
  position: relative;
}

.mycheckbox__checked {
  border: 1px solid var(--border-blue-color);
}

.mycheckbox__new::after {
  content: "";
  display: block;
  width: 0;
  height: 0;

  background-color: var(--border-blue-color);
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.search_block {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 5px;
}
