<div style="height: 100%; width: 100%;">

<div class="chart-header">
    <div class="chart-header__content">
      <div class="chart-header__code">
      <span>
        {{code}}
      </span>
      </div>
      <span class="chart-header__name">
      {{name}}
    </span>
      <span class="chart-header__units">
      {{units}}
    </span>
    </div>
</div>
<div class="content_block">
    <div *ngFor="let data of datas" class="block">
     <evj-widgets-pie-circle [data]="data"></evj-widgets-pie-circle>
    </div>
</div>
  
</div>
  