.widget-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.outside-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  z-index: 10;
}

.content-container {
  display: flex;
  justify-content: space-between;
  flex: 1;

  &__button {
  }

  &__checkbox {
    display: flex;
    align-items: center;
  }

  &__svg {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 5px;
  }

  mat-checkbox {
    font-family: "Tahoma";
    font-size: 12px;
    margin-left: 20px;
    color: var(--color-aps-text-chart);
  }
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid var(--color-border-new-mbo);

  z-index: 999;

  &-body {
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-aps-border);

    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 7px;
    z-index: 999;
    position: relative;
    margin-left: 2px;

    width: calc(100% - 3px);
    height: calc(100% - 43px);

    background-size: auto;
    background-color: var(--color-aps-bg);

    overflow-y: auto;

    &::before {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      bottom: 3px;
      width: 90px;
      height: 15px;
      left: 7px;
      margin-top: -6px;
      margin-left: -2px;
      transform: scaleY(-1);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      width: 90px;
      height: 15px;
      bottom: 3px;
      right: 0;
      margin-top: -6px;
      margin-left: -2px;
      transform: scale(-1, -1);
    }
  }

  &-table {
    position: sticky;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: block;
    height: 40%;
  }
}

.header {
  min-height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  overflow: hidden;
  border-top: 1px solid var(--color-border-new-mbo);
  padding-top: 1.5px;

  &__button {
    min-width: 144px;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/btn-right.svg) no-repeat;
  }

  &__button {
    &-left-top {
      cursor: pointer;
      min-width: 52px;
      height: 24px;
      font-size: 11px;
      text-align: center;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/button-left-top.svg) no-repeat;
    }
  }

  &__title {
    display: flex;
    min-width: 325px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-sup);

    &_text {
      padding-top: 4px;
    }
  }

  &__right {
    &__buttons {
      display: flex;
      //   margin-left: 30px;
      //   margin-top: 5px;
      min-height: 24px;
      min-width: 236px;
    }
  }

  &__right {
    display: flex;

    margin-left: 30px;
    // min-width: 645px;
    min-height: 24px;

    &__button-date {
      width: 645px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 9999;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
    width: 90px;
    height: 15px;

    left: 4px;
    top: 5px;
  }

  &__right {
    &::before {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      width: 94px;
      height: 15px;
      top: 3px;
      right: -6px;
      margin-top: 2px;
      margin-right: 4px;
      transform: scale(-1, 1);
    }
  }
}

.table {
  font-family: Tahoma;
  font-size: 12px;

  border-spacing: 0px 2px;
  border-collapse: separate;

  height: calc(100% - 9px);

  &__header {
    &__row {
      height: 30px;
    }

    &__column {
      font-size: 12px;
      font-weight: normal;
      top: 0px;
      position: sticky;
      z-index: 100;
      color: var(--color-cd-text-sub-2);

      background-color: var(--color-aps-bg-sub-2);
      border-right: 1px solid var(--color-aps-border-main);

      &:first-of-type {
        font-size: 12px;
        color: var(--color-cd-text-sub-2);
        background-color: var(--color-aps-bg-sub-2);
        position: sticky;
        left: 0;
        z-index: 101;
        text-align: left;
        padding-left: 15px;
        // background: url(../../../../../assets/icons/widgets/gantt-chart/product-name.svg), #1b1f2c;
        background-repeat: no-repeat;
        background-size: 78px 32px;
        width: 60%;

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 31px;
          right: -12px;
          top: -1px;
          transform: scale(-1);
          background: url(../../../../assets/icons/widgets/APS/aps-recipe-diagram/gradient-black-right.svg);
          background-repeat: no-repeat;
        }
      }

      &__name {
        &__pims {
        }

        &__text {
          margin-left: 33px;
        }

        &__search {
          margin-left: 74px;
        }
      }

      &__title {
        font-size: 8px;
        padding: 0 3px;

        &-product {
          margin-top: -4px;
          //   background: url(../../../../../assets/icons/widgets/gantt-chart/product-name.svg);
        }

        &-production {
          padding-left: 37px;
        }
      }

      &__titles {
        display: flex;
        padding-top: 10px;
      }
    }
  }

  &__body {
    &__row {
      font-size: 12px;
      height: 28px;
      transition: all 150ms;
      background: linear-gradient(90deg, #202638 0%, rgba(53, 34, 43, 0) 15%);

      &--stream-unit {
        height: 38px;
      }

      &.expanded-row {
        background: none;
        box-shadow: none;
      }

      &.last-tr {
        height: 100%;
        background: none;
        box-shadow: none;

        td {
          &:first-of-type {
            padding: 0 !important;
            // background: var(--color-bg-mbo-sup);

            position: sticky;
            left: 0;
            z-index: 1;
            border-right: none;
          }

          &:nth-child(2) {
            background-size: auto;
          }
        }

        &:hover {
          background: none;
        }
      }
    }

    &__column {
      cursor: pointer;
      position: relative;
      height: 24px;
      color: var(--color-cd-text-sub-2);

      text-align: center;
      //   border-right: 1px solid #2d3344;
      //   background: url(../../../../../assets/icons/widgets/gantt-chart/bg-line.svg);
      background-size: cover;

      border-top: 1px solid var(--color-aps-border-main);
      border-bottom: 1px solid var(--color-aps-border-main);
      border-right: 1px solid var(--color-aps-border-main);

      &.expanded-column {
        background-color: var(--color-cd-bg-row-table);

        &:first-of-type {
          max-width: 175px;
          padding: 0 !important;
        }
      }

      &--unit {
        color: var(--color-text-main);
      }

      &__children {
        &:first-child {
          border-left: 2px solid transparent !important;
        }

        &--active {
          border-top: 1px solid var(--color-aps-active);
          border-bottom: 1px solid var(--color-aps-active);
          color: var(--color-text-main);

          &:first-child {
            border-left: 2px solid transparent !important;
          }

          &:last-of-type {
            padding: 0 !important;
            border-right: 1px solid var(--color-aps-active) !important;
          }
        }
      }

      &--active {
        border-top: 1px solid var(--color-aps-active);
        border-bottom: 1px solid var(--color-aps-active);
        color: var(--color-text-main);

        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }

        &:last-of-type {
          padding: 0 !important;
          border-right: 1px solid var(--color-aps-active) !important;
        }
      }

      &--expand {
        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }
      }

      &:first-child {
        padding: 0 !important;
        border-left: 2px solid var(--color-aps-border-sub);

        position: sticky;
        left: 0;
        z-index: 20;
      }

      &__row-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 18px);

        &__icon {
          stroke: var(--color-aps-bg-icon);
          margin-left: 9px;
          z-index: 1;
          transition: all 200ms;
          margin-right: 10px;

          &--active {
            stroke: var(--color-aps-active);
            transform: rotateZ(45deg);
          }

          &__background {
            position: absolute;
            top: -1px;

            &-children {
              position: absolute;
              height: 27px;
            }

            &--orange {
              position: absolute;
              top: 2px;
              left: 0;
            }
          }
        }

        &__text {
          margin-left: 10px;
          margin-right: 6px;
          max-height: 27px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          min-width: 13px;

          &__pims {
            margin-left: 13px;
            width: 77px;
            max-width: 77px;
            text-align: left;
          }

          &__name {
            width: 150px;
            max-width: 150px;
            text-align: left;

            &__value-right {
              text-align: left;
            }
          }
        }

        &__engUnit {
          margin-left: 10px;
          margin-right: 6px;
          white-space: nowrap;
          min-width: 13px;
        }

        &__value {
          &-block {
            display: flex;
            flex-direction: column;
          }

          &__background {
            position: absolute;
            left: 150px;
            top: 1px;
          }

          &__texts {
            margin-left: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &__text {
            &--orange {
              color: var(--color-aps-orange);
            }
          }
        }

        &__value {
          color: var(--color-aps-orange);
          width: 100%;
          height: 20.69px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid var(--color-aps-orange);

          &-big-orange {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-aps-orange);
            border-left: 1px solid var(--color-aps-orange);
            height: 30.69px;
          }
        }

        .row-title {
          user-select: none;

          &__icon {
            &-arrow-top {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-arrow-bottom {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-border {
              width: 2px;
              max-width: 2px;
              height: 13px;
              fill: var(--color-border-main);

              &-warning {
                fill: var(--color-warning);
              }
            }

            &-circle {
              min-width: 6px;
              height: 14px;
              stroke: var(--color-active);

              &-warning {
                stroke: var(--color-warning);
              }
            }

            &-line {
              width: 13px;
              left: 1px;
              top: -20px;
              z-index: -1;
              position: absolute;
            }
          }
        }

        &--no-active {
          color: var(--color-aps-text-sub);
        }

        &-children {
          margin-left: 18px;
          justify-content: space-between;

          &__left-block {
            position: absolute;
            left: -2px;
            top: -26px;

            &__background {
              fill: var(--color-bg-main);
            }

            &--first {
              position: absolute;
              left: -2px;
              top: -14.6px;
            }
          }

          .row-title {
            &__icon {
              &-border {
                width: 7.2px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}

// Scroll
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  margin-left: 268px;
  margin-right: 365px;
}

::-webkit-scrollbar-track-piece {
  // border: solid 1px var(--color-aps-border-sub);
  // border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-aps-border-sub);
  border-radius: 25px;
}
