.period-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--color-border-header);
  min-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.type-selector {
  height: 43px;
  margin-right: 5px;
}

.type {
  position: relative;

  width: 75px;
  height: 19px;

  padding: 3px 3px 4.5px 11px;
  box-sizing: border-box;

  border: 1px solid transparent;

  font-size: 0.5625rem;
  color: var(--color-text-sub);
  background-color: var(--color-bg-disable);
  cursor: pointer;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    height: 6px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;

    background: var(--color-new-header-bg);
    border-color: var(--color-new-header-bg);
  }

  &:first-child {
    margin-bottom: 5px;

    &:before {
      top: -3px;
      left: -2px;
      transform: rotate(45deg);
    }
  }

  &:last-child:before {
    bottom: -5px;
    left: -6px;
    transform: rotate(-45deg);
  }

  &_active {
    color: var(--color-text-main);
    background-color: var(--color-new-header-active-trans);
    border-color: var(--color-new-header-active);

    &:before {
      border-right: 1px solid var(--color-new-header-active);
    }
  }
}

.dates-selector {
  color: var(--color-text-sub-heading);
  position: relative;
  display: flex;
  align-items: center;
  height: 43px;
  padding: 4px 10px 20.8px 7.5px;
  font-size: 0.625rem;
  background-color: var(--color-bg-disable);
  border: 0.5px solid transparent;

  box-sizing: border-box;

  &__body {
    height: 100%;
  }

  &__heading {
    margin-bottom: 6.6px;
    color: var(--color-text-sub-heading);
  }

  &__dates {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__date {
    color: var(--color-text-sub);
  }

  &__date-input {
    margin-top: 5px;
    color: var(--color-text-sub);
    border: none;
    background: transparent;
    width: 100px;
    pointer-events: all;
    &___disabled {
      pointer-events: none;
      color: var(--color-text-sub-heading);
    }
  }

  &__label {
    margin-top: 5px;
    margin-right: 5px;
  }

  &__picker {
    display: none;
  }

  &__picker-open {
    display: block;
    margin-top: 7px;
    right: -10px;
    z-index: 999;
    position: absolute;
    background-color: var(--color-new-header-bg);
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;

    ::ng-deep {
      .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0.7em !important;
      }

      .mat-calendar-body-cell-content {
        &:hover {
          background-color: var(--color-border-active);
        }
      }
      .mat-form-field-wrapper {
        padding-bottom: 1.04375em;
      }

      .mat-form-field-flex {
        margin-top: 10px;
      }
      .cdk-overlay-pane {
        margin-top: 45px;
      }

      .mat-option:hover {
        background: var(--color-text-sub);
      }

      .ng-tns-c39-2 {
        font-size: 15px;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-underline {
        border-top: none;
      }

      .time {
        font-size: 12px;
        input {
          width: 90% !important;
          background-color: var(--color-new-header-bg) !important;
        }
      }

      .date {
        color: white;
        font-size: 12px;
      }
    }
  }

  &__date-choose {
    min-width: 85px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: white;
    }

    &__disabled {
      pointer-events: none;
      color: var(--color-text-sub-heading);
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-form-field-flex {
        margin-top: 0px !important;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
        width: 100%;
        min-width: 130px;
      }

      .mat-input-element {
        border: none !important;
      }
    }
  }

  &__separator {
    margin: 7px 10px 0px 5px;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;

    height: 7px;
    width: 7px;

    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-new-header-bg);
    border-color: var(--color-new-header-bg);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-new-header-bg);
    border-color: var(--color-new-header-bg);
  }

  &_active {
    border: 0.5px solid var(--color-new-header-active);
    color: var(--color-text-sub);
    &:before {
      border-left: 0.5px solid var(--color-new-header-active);
    }
    &:after {
      border-top: 0.5px solid var(--color-new-header-active);
    }
  }
}

::-webkit-inner-spin-button {
  display: none;
}
::-webkit-clear-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  color: var(--color-text-sub);
  padding: 0;
  padding-left: 3px;
  &:hover {
    background: transparent;
  }
}

::ng-deep .mat-datepicker-popup {
  margin-top: -5px !important;
}
