<div class="period-selector">
  <div class="type-selector">
    <div class="type" [class.type_active]="isCurrent" (click)="isCurrentChange(true)">
      <span class="type__name">Сутки</span>
    </div>
    <div class="type" [class.type_active]="!isCurrent" (click)="isCurrentChange(false)">
      <span class="type__name">Период</span>
    </div>
  </div>

  <div class="dates-selector" [class.dates-selector_active]="!isCurrent">
    <div class="dates-selector__body">
      <div class="dates-selector__dates">
        <span class="dates-selector__label">c</span>
        <div class="dates-selector__date-choose" [class.dates-selector__date-choose__disabled]="isCurrent">
          <evj-time-data-picker [data]="fromDate" (dateTimePicker)="dateTimePickerInput($event, true)"></evj-time-data-picker>
        </div>
      </div>

      <div class="dates-selector__dates">
        <span class="dates-selector__label">по</span>
        <div class="dates-selector__date-choose" [class.dates-selector__date-choose__disabled]="isCurrent">
          <evj-time-data-picker [data]="toDate" (dateTimePicker)="dateTimePickerInput($event, false)"></evj-time-data-picker>
        </div>
      </div>
    </div>
  </div>
</div>
