<div class="period-selector">

  <div class="type-selector">
    <div class="type type_active">
      <span class="type__name">Сутки</span>
    </div>
    <div class="type">
      <span class="type__name">Период</span>
    </div>
  </div>

  <div class="dates-selector">

    <div class="dates-selector__body">
      <span class="dates-selector__heading">
      Период планирования
      </span>
      <div class="dates-selector__dates">
        <span class="dates-selector__date">
          01.08.2019
        </span>
        <svg-icon class="dates-selector__separator" src="./assets/icons/separator.svg"></svg-icon>
        <span class="dates-selector__date">
          31.08.2019
        </span>
      </div>
    </div>

    <svg-icon class="dates-selector__calendar" src="./assets/icons/calendar.svg"></svg-icon>

  </div>




</div>
