<div class="fact_block">
  <div class="title_fact_block">
    <div class="title_fact_block_text">
      {{title}}
    </div>
  </div>
  <div class="fact_content" #scroll>
    <div class="fact_img" *ngIf="displayGraphImage" (click)="onClickItem()" #graph>
      <svg-icon
        src="./assets/icons/widgets/workspace/graph.svg"
        [svgStyle]="{ 'width.px':250, 'height.px':70 }"
      ></svg-icon>
    </div>
    <!--ngFor -->
    <div class="fact_new" *ngFor="let message of messages">
      <div class="fact_text">
        <p>{{message.comment}}</p>
      </div>
      <div class="fact_menu">
        <div class="fact_info">
          <div class="fact_info_user">{{message.displayName}}</div>
          <div class="fact_info_date">
            {{message.createdAt | dateFormat:'DD-MM-YY hh:mm'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="empty"></div>
  <div class="fact_comment">
    <div class="comment__new">
      <input
        type="text"
        class="comment__text gridster-item-content"
        [placeholder]="placeholder"
        (keypress)="onEnterPush($event)"
        #input
      />
      <button type="submit" class="button comment__file   gridster-item-content">
        <svg-icon
          class="button__icon"
          src="./assets/icons/widgets/change-shift/add_file.svg"
        ></svg-icon>
      </button>
      <button
        type="submit"
        class="button comment__submit  gridster-item-content"
        (click)="onSendMessage()"
      >
        <svg-icon
          class="button__icon"
          src="./assets/icons/widgets/change-shift/send.svg"
        ></svg-icon>
      </button>
    </div>
  </div>
</div>
