<evj-widget-header-smp
  [uniqId]="uniqId"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseExit()"
  *ngIf="isHover"
>
</evj-widget-header-smp>
<div
  style="height: 100%"
  class="content"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseExit()"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
>
  <div class="container">
    <button (click)="planClicked($event)" class="button plan">
      <span>Планирование</span>
    </button>
    <button (click)="screenClicked($event)" class="button screen">
      <span>Мониторинг</span>
    </button>
  </div>
</div>
