.reports-panel {
  &__heading {
    margin: 0 0 20px 0;
    min-width: 469px;
    text-align: center;
    overflow: hidden;
  }
  &__list {
    margin-top: 15px;
    overflow-y: scroll;
    height: 100vh;

    .options-header {
      overflow-y: scroll;
      height: calc(100vh - 185px);
    }
  }
}
