.reports-panel {
  &__heading {
    margin: 0 0 20px 0;
    min-width: 469px;
    text-align: center;
    overflow: hidden;
  }
  &__list {
    margin-top: 15px;
    overflow-y: scroll;
    height: 100vh;

    .options-header {
      overflow-x: hidden;
      overflow-y: scroll;
      height: calc(100vh - 180px);
      margin-bottom: 10px;

      &__tree {
        max-height: 257px;
        width: 460px;
        background-color: var(--color-bg-report);
        position: fixed;
        bottom: 4px;
        border-radius: 15px;
        display: flex;

        &__container {
          overflow-y: scroll;
          margin: 10px;
          margin-left: 20px;
          width: 100%;
          color: var(--color-text-sub);
        }
      }
    }
  }
}
