.reports-panel {
  &__heading {
    margin: 0 0 20px 0;
    min-width: 469px;
    text-align: center;
    overflow: hidden;
  }
  &__list {
    margin-top: 15px;
    overflow-y: scroll;
    height: 100vh;

    .options-header {
      overflow-x: hidden;
      overflow-y: scroll;
      height: calc(100vh - 440px);
      margin-bottom: 10px;

      &__tree {
        max-height: 257px;
        width: 460px;
        background-color: var(--color-bg-report);
        position: fixed;
        bottom: 4px;
        border-radius: 15px;
        display: flex;

        &__container {
          overflow-y: scroll;
          margin: 10px;
          margin-left: 20px;
          width: 100%;
          color: var(--color-text-sub);
        }
      }
    }
  }
}

/// TREE STYLE
::ng-deep {
  .node-content-wrapper {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  tree-node-expander {
    width: auto;
  }
  .node-content-wrapper-focused {
    //  background: var(--color-bg-active) !important;
    box-shadow: none !important;
    background: none;
  }

  .toggle-children-placeholder {
    height: 0px;
    width: 0px;
    padding-right: 5px;
  }

  .node-content-wrapper-active:hover {
    background: none;
    box-shadow: none !important;
    // color: white !important;
  }

  .node-content-wrapper:hover {
    background: none;
    box-shadow: none !important;
    //  color: white !important;
  }

  .node-wrapper:hover {
    color: white;

    ::ng-deep {
      .toggle-children {
        background-image: url(../../../../assets/icons/widgets/reports/folder-white.svg);
      }

      .toggle-children-wrapper-expanded .toggle-children {
        transform: rotate(0deg);
        background-image: url(../../../../assets/icons/widgets/reports/folder-white-open.svg);
      }
    }
  }

  .node-content-wrapper {
    width: calc(100% - 25px);
  }

  .tree-template:hover {
    background-image: linear-gradient(
      to left,
      rgba(107, 166, 241, 0.7) 2%,
      rgba(107, 166, 241, 0.63) 6%,
      rgba(107, 166, 241, 0.46) 16%,
      rgba(107, 166, 241, 0.32) 26%,
      rgba(107, 166, 241, 0.2) 38%,
      rgba(107, 166, 241, 0.11) 50%,
      rgba(107, 166, 241, 0.05) 63%,
      rgba(107, 166, 241, 0.01) 79%,
      rgba(107, 166, 241, 0) 102%
    ) !important;
    background: none;
    box-shadow: none !important;
    color: white !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .toggle-children {
    background-image: url(../../../../assets/icons/widgets/reports/folder-open.svg);
    height: 15px;
    background-size: contain;
    top: 5px;
    width: 32px;
  }

  .tree-node-level-1 > *:nth-child(3) > .tree-children {
    padding-left: 0 !important;
  }

  .tree-node-level-1 > *:nth-child(2) > .node-wrapper {
    position: sticky;
    z-index: 200;
    top: 0;
    // background: var(--color-table-main);

    height: auto !important;

    tree-node-expander {
      display: none;
    }
  }

  .toggle-children-wrapper-expanded .toggle-children {
    transform: rotate(0deg);
    background-image: url(../../../../assets/icons/widgets/reports/folder.svg);
  }

  .tree-node-expanded {
    //background: var(--color-bg-main);
  }

  .angular-tree-component {
    width: calc(100% - 10px);
    // background-color: var(--color-table-main);
  }

  tree-viewport {
    overflow: unset !important;
  }

  tree-viewport > div {
    // background-color: var(--color-table-main);
  }

  .tree-template > div {
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 70px);
    white-space: nowrap;
  }

  .node-content-wrapper-active,
  .node-content-wrapper.node-content-wrapper-active:hover,
  .node-content-wrapper-active.node-content-wrapper-focused {
    background: black;
    background: linear-gradient(
      90deg,
      rgba(63, 169, 245, 1) 0%,
      rgba(40, 92, 133, 1) 31%,
      rgba(22, 32, 48, 1) 79%,
      rgba(19, 23, 34, 1) 100%
    );
    color: var(--color-text-main);
  }
}
