@import 'src/app/widgets/NK/scss/vars.scss';

*{
    box-sizing: border-box;
}

.volume {
    padding: 10px 20px;

    display: flex;
    flex-direction: column;
    
    line-height: 19px;
    font-size: 16px;
    color: #ffffff;
}

.volume__info, .free-space__info {
    margin-bottom: 10px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.free-space {
    background: rgba(48, 53, 73, 0.25);
    border-radius: 2px;
}

.free-space__diagram {
    padding: 5px;

    display: flex;
    justify-content: space-between;
}

.indicator {
    height: 10px;
    width: 48px;

    border: 1px solid var(--color-border-main);
    opacity: 0.5;
    border-radius: 2px;

    background: #1e212d;

    .indicator__inner {
        height: 100%;
        width: 100%;

        border: 1px solid var(--color-bg-header-table);
        border-radius: 2px;
    }

    .indicator__inner_active {
        background: var(--color-aps-active)t;
    }
}
