<evj-widget-header [isPreview]="true" [icon]="icon" [code]="code" [title]="title"></evj-widget-header>
<evj-frame-top></evj-frame-top>
<div class="body-container">
  <div class="unity-body-container">
    <div class="mock-container">
      <!--      <svg-icon src="assets/icons/widget-preview/dispatcher-screen.svg" class="image-preview" *ngIf="previewTitle"></svg-icon>-->
      <!--      <svg-icon src="assets/icons/widget-preview/default.svg" class="image-preview" *ngIf="!previewTitle"></svg-icon>-->
      <img src="{{route}}{{previewTitle}}{{format}}" class="image-preview" *ngIf="previewTitle" />
      <img src="assets/icons/widget-preview/default.svg" class="image-preview" *ngIf="!previewTitle" />
    </div>
  </div>
</div>
<evj-frame-bottom></evj-frame-bottom>
