<div class="body-container">
  <evj-widget-header [isPreview]="true" [icon]="icon" [code]="code" [title]="title"></evj-widget-header>
  <div class="unity-body-container">
      <!--      <svg-icon src="assets/icons/widget-preview/dispatcher-screen.svg" class="image-preview" *ngIf="previewTitle"></svg-icon>-->
      <!--      <svg-icon src="assets/icons/widget-preview/default.svg" class="image-preview" *ngIf="!previewTitle"></svg-icon>-->
      <img src="{{route}}/{{previewTitle}}{{format}}" class="image-preview" *ngIf="previewTitle" />
      <img src="{{route}}/default.svg" class="image-preview" *ngIf="!previewTitle" />
    </div>
</div>
