.container {
  display: flex;
  flex-flow: column;
  background-color: var(--color-astue-onpz-bg-card);
  height: 100%;
  width: 100%;

  &-body {
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid var(--color-cd-bg-border);
    overflow: hidden;
  }
}

.content-container {
  flex: 1;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.header {
  position: relative;
  width: 99%;
  box-sizing: border-box;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;

    min-width: 44px;
    height: 100%;
    background-color: var(--color-bg-sub);
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;

    font-weight: bold;
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    min-width: 500px;
    color: white;

    margin: 0;
    padding: 0;
    list-style: none;

    margin-left: 60px;

    &-item {
      padding-right: 12px;
      display: flex;
      align-items: center;
      min-width: 60px;
    }

    &-1 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: white;
      border-radius: 10px;
      margin-right: 10px;
    }

    &-2 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: var(--color-aps-active);
      border-radius: 10px;

      margin-right: 10px;
    }
  }
}

.line-diagram {
  font-family: Tahoma, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: var(--color-text-main);
  width: 100%;
  height: 100%;
  padding: 0 5px 0 0;
  margin: 0 0 2px;
  box-sizing: border-box;

  &__scroll {
    width: 100%;
    height: 100%;
    padding: 0 15px 0 15px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: -5px 0 0;
  }

  &__body {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;

    table {
      width: 100%;

      tbody {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  &__item {
    display: inline-flex;
    box-sizing: border-box;
    background-color: var(--color-astue-border-main);
    padding: 10px 7px;
    min-height: 65px;
    vertical-align: middle;
    text-align: center;
    min-width: 550px;
    flex: auto;
    width: 47%;

    &-active {
      background-color: var(--color-bg-active);
    }
  }

  .item {
    &__name {
      font-size: 18px;
      flex-basis: 45%;
      display: inline-flex;
      align-items: center;
      text-align: start;
      margin-left: 15px;
      color: var(--color-kpe-text-main);
    }

    &__count {
      font-size: 16px;
      flex-basis: 10%;
      display: inline-flex;
      align-items: center;

      &__text {
        font-size: 16px;
        background-color: var(--color-astue-onpz-bg-header);
        padding: 5px 15px;
        border-radius: 5px;
        white-space: nowrap;
      }
    }

    &__value {
      flex-basis: 25%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    &__graph {
      font-size: 16px;
      flex-basis: 45%;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &__line {
        position: relative;
        width: 100%;
        height: 8px;
        background-repeat: no-repeat;
        background-size: 100%;

        .line {
          &__accept {
            position: absolute;
            left: 2px;
            height: 8px;

            background-image: linear-gradient(90deg, var(--color-aps-active), var(--color-aps-active) 33.33%, transparent 33.33%, transparent 100%);
            background-size: 3px 100%;

            &--white {
              background-color: var(--color-kpe-eq-chart-title);
            }
          }

          &__circle {
            position: absolute;
            top: -8.8px;
            left: 0;
            z-index: 2;
          }

          &__warning {
            position: absolute;
            height: 8px;
            background-image: linear-gradient(90deg, var(--color-cd-warning), var(--color-cd-warning) 33.33%, transparent 33.33%, transparent 100%);
            background-size: 3px 100%;

            &--line {
              background-color: var(--color-cd-warning);
              background-image: none;
            }
          }

          &__value {
            position: absolute;
            top: 14px;
            white-space: nowrap;
          }

          &__value_warning {
            top: -20px;
          }

          &__divided {
            top: -5px;
            position: absolute;
            height: 20px;
            width: 1px;
            background-color: var(--color-cd-warning);
          }
        }
      }
    }


    &__max-graph {
      margin-left: 10px;
      flex-basis: 20%;

      &__text {
        background-color: var(--color-astue-onpz-bg-header);
        padding: 5px 20px;
        border-radius: 5px;
        font-size: 16px;
      }

    }
  }
}


