.title {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: var(--color-oil-border-line);
  color: var(--color-text-main);
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  display: flex;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  &__button-close {
    cursor: pointer;
    width: 12px;
    margin-right: 10px;
  }

  &__name {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
  }
}

.content {
  overflow: auto;
  overflow-x: hidden;
  height: calc(100% - 98px);
  background-color: var(--color-oil-menu);
  border-top: 1px solid var(--color-bg-main);
  border-bottom: 1px solid var(--color-bg-main);
  font-size: 14px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .chart {
    width: 100%;
    height: calc(100% - 30px);
  }

  .chart-scroll {
    width: 100%;
    height: 30px;

    box-sizing: border-box;
    padding: 0px 45px;
  }
}

.bottom {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: var(--color-oil-border-line);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &__block {
    margin: 0 auto;
    width: 45%;
    height: 80%;
    font-size: 15px;
    display: flex;
    border: 1px solid var(--color-text-main);
    border-radius: 20px;

    &:hover {
      cursor: pointer;
      border: 1px solid var(--color-border-active);
      color: var(--color-border-active);
    }
  }

  &__save-block {
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;
  }
}
