* {
  box-sizing: border-box;
}

.container {
  margin: 2px 0;

  display: flex;
  align-items: center;

  .title {
    height: 25px;
    width: 200px;

    padding-left: 14px;

    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;

    background: var(--sou-mvp-color-bg-title);
    border: 1px solid var(--sou-mvp-color-border);
    border-radius: 2px;

    position: relative;

    span {
      color: var(--sou-mvp-color-text-diagram-main);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .connection-circle {
      height: 8px;
      width: 8px;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      border-radius: 50%;
  
      background: var(--sou-mvp-color-bg-main);
      border: 1px solid var(--sou-mvp-color-border);
  
      position: absolute;
      left: -4px;
      z-index: 1;
    }

    .arrow-btn {
      margin-top: 1px;
      position: absolute;
      right: -8px;
      z-index: 1;

      svg-icon {
      }
    }
  }

  .line {
    height: 1px;
    flex: 1;
    border-top: 1px solid var(--sou-mvp-color-border);
  }
}


.disable {
  .title {
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-bg-title);

    span {
      color: var(--sou-mvp-color-text-diagram-sub);
    }

    .connection-circle {
      background: var(--sou-mvp-color-bg-main);
      border: 1px solid var(--sou-mvp-color-bg-title);
    }

    .arrow-btn {
      svg-icon {
        ::ng-deep {
          .circleArrow {
            fill: var(--sou-mvp-color-bg-title);
          }
          .pathArrow {
            stroke: var(--sou-mvp-color-text-diagram-sub);
          }
        }
      }
    }
  }

  .line {
    border-top: 1px solid var(--sou-mvp-color-bg-title);
  }
}

.selected {
  .title {
    background: var(--sou-mvp-color-bg-active-spec);
    border: 1px solid var(--sou-mvp-color-active);

    span {
      color: var(--sou-mvp-color-text-diagram-main);
    }

    .connection-circle {
      border: 1px solid var(--sou-mvp-color-active);
    }

    .arrow-btn {
      svg-icon {
        ::ng-deep {
          .circleArrow {
            fill: var(--sou-mvp-color-bg-active-spec);
          }
          .pathArrow {
            stroke: var(--sou-mvp-color-text-diagram-main);
          }
        }
      }
    }
  }

  .line {
    border-top: 1px solid var(--sou-mvp-color-active);
  }
}