<div class="selection">
    <div class="selection__header">
        <svg-icon class="icon" src="{{listIcon}}"></svg-icon>
        <div class="title">Выберите нужные параметры</div>
        <svg-icon class="close" src="{{closePopupIcon}}" (click)="onClose()"></svg-icon>
    </div>
    <div class="selection__body">
        <ng-container *ngFor="let item of items">
            <div class="item">
                параметр
            </div>
        </ng-container>
    </div>
    <div class="selection__footer">
        <evj-simple-button>
            Принять
        </evj-simple-button>
    </div>
</div>