<div class="event-card">
  <section class="event-card__section">
    <div class="row">
      <evj-event-dropdown [items]="['ОНПЗ']" [disabled]="true" style="width: 127px;">Предприятие:
      </evj-event-dropdown>
      <evj-event-dropdown [items]="['Производство 1']" [disabled]="true" style="width: 300px;">Производство:
      </evj-event-dropdown>
      <evj-event-dropdown [items]="['АВТ-10']" style="width: 127px;">Установка:
      </evj-event-dropdown>
    </div>
  </section>

  <div class="event-card__divider"></div>

  <section class="event-card__section">
    <h2>Причина отключения</h2>
    <div class="column">
      <div class="column__block">
        <div class="row">
          <evj-cmid-event-toggle (value)="setToggleValue($event)"></evj-cmid-event-toggle>
          <evj-event-dropdown [items]="['Технологические']">Тип причины отключения:</evj-event-dropdown>
        </div>
        <div class="row">
          <evj-event-dropdown [items]="['Неисправность технологического оборудования']">Причина отключения:
          </evj-event-dropdown>
        </div>
      </div>
      <div class="column__block">
        <div class="text">
          <div class="text__title">
            <span>Краткое описание причины отключения:</span>
          </div>
          <textarea
            required
            placeholder="Введите данные..."
            minlength="3"
          >
          </textarea>
        </div>
      </div>
    </div>
  </section>

  <div class="event-card__divider"></div>

  <section class="event-card__section">
    <h2>Позиции для отключения</h2>
    <div class="row">
      <div class="row__title">
        <span>Позиции КД ПАЗ по установке АВТ-10:</span>
      </div>
    </div>
    <div class="row">
      <evj-cmid-event-plan-table></evj-cmid-event-plan-table>
    </div>
    <div class="row">
      <evj-cmid-event-chips [toggleValue]="toggleValue"></evj-cmid-event-chips>
    </div>

    <div class="row">
      <evj-cmid-datetimepicker>{{ toggleValue === 'plan' ? 'Плановая' : 'Фактическая' }} дата и время отключения:</evj-cmid-datetimepicker>
      <evj-cmid-datetimepicker>Плановая дата и время включения:</evj-cmid-datetimepicker>
    </div>
  </section>

  <div class="event-card__divider"></div>

  <section class="event-card__section">
    <h2>Сопроводительная документация</h2>
    <div class="row">
      <div class="row__title">
        <span>Номер и дата НРД:</span>
      </div>
    </div>
    <div class="row">
      <div class="custom-input" style="width: 261px;">
        <input type="text" placeholder="Введите данные..."/>
      </div>
      <evj-cmid-datetimepicker [enableTime]="false" style="margin-top: -7px;"></evj-cmid-datetimepicker>
    </div>

    <div class="row">
      <evj-cmid-event-file-dropzone></evj-cmid-event-file-dropzone>
    </div>

    <div class="column">
      <div class="column__block">
        <div class="chat-title">
          <span>Корректирующие мероприятия</span>
          <div class="chat-title__counter">1</div>
        </div>
        <evj-chat
          dataTitle="Корректирующие мероприятия"
          placeholder="Введите текст меропрития..."
          viewType="cmid"
        ></evj-chat>
      </div>
      <div class="column__block">
        <div class="chat-title">
          <span>Комментарии</span>
          <div class="chat-title__counter">1</div>
        </div>
        <evj-chat
          dataTitle="Комментарии"
          placeholder="Введите комментарий..."
          viewType="cmid"
        ></evj-chat>
      </div>
    </div>
  </section>
</div>
