<div class="group-selector" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <span class="group-selector__name">
    {{selector.selected[0]?.name}}
  </span>

  <div class="group-selector__dropdown dropdown" *ngIf="isDropdownShowing">
    <ng-container *ngFor="let group of groups">
      <div class="dropdown__row">
        <evj-group-selector-row
          [isClaimsAvailable]="getClaims(group?.id)"
          [group]="group"
          (selectGroup)="onSelect(group)"
          (editGroup)="onEdit(group, $event)"
          (deleteGroup)="onDelete(group)"
        ></evj-group-selector-row>
      </div>
    </ng-container>
    <div class="dropdown__row create">
      <input class=" create__input input" type="text" [formControl]="formControl" />
      <div
        class="create__add add"
        [class.add_active]="!!formControl.value"
        (click)="onCreateGroup()"
      ></div>
    </div>
  </div>

  <svg-icon class="group-selector__collapse" src="assets/icons/collapse.svg"></svg-icon>
</div>
