<div class="card" *ngIf="!!transformedData">
  <div class="card__header header">
    <div class="header__tag bg-color--{{ color }}"></div>
    <div class="header__title color--{{ color }}">{{transformedData.title}}</div>
    <svg-icon
      class="header__icon"
      [class.header__icon__active]="(sharedGraph | async)?.title === transformedData?.title"
      src="assets/icons/widgets/ASTUE-ONPZ/fullscreen.svg"
      (click)="graphOpen()"
      [svgStyle]="{ 'width.px': 25, 'height.px': 25 }"
    ></svg-icon>
    <div class="header__button"></div>
  </div>
  <div class="card-border">
    <div class="card__legend legend">
      <div class="legend__units">{{transformedData.units}}</div>
      <div class="legend__value value">
        <div class="value__card">{{transformedData.currentFactValue}}</div>
      </div>
    </div>
    <div class="card__chart">
      <evj-planning-chart
        [isSpline]="false"
        [data]="transformedData.graph"
        [intervalHours]="[12, 12]"
        [size]="scaleCounter"
      >
      </evj-planning-chart>
    </div>
  </div>
</div>
