input {
  width: calc(100% - 27px);
  height: 100%;
  outline: none;
  padding-left: 17px;
  background: var(--color-input);
  font-size: 12px;
  border: none;
  color: var(--color-text-main);
  border-bottom: 1px solid var(--color-text-main-transparent);
  padding-top: 0px;

  &:hover {
    border-bottom: 1px solid var(--color-border-active);
    color: var(--color-text-main);
    &::placeholder {
      color: var(--color-text-main);
    }
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-text-main);
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

.input-block {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;

  &__button-search {
    z-index: 999;
    cursor: pointer;
    height: 100%;
    position: absolute;

    ::ng-deep {
      svg {
        height: 100%;
      }
    }
  }

  &__input {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: linear-gradient(90deg, transparent 10%, var(--color-text-main) 100%);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .input-back {
      position: relative;
      width: calc(100% - 20px);
      height: calc(100% - 2px);
      margin: auto;
      border-radius: inherit;
      background: var(--color-bg-main);
      margin-right: 1px;

      input {
        border-bottom: none !important;
      }
    }
  }

  &__input-active {
    background: linear-gradient(90deg, transparent 10%, var(--color-active) 100%);
  }
}
.search_white {
  color: #ffffff;
}

.search_blue {
  color: #41a7f3;
}
