* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .content {
    height: calc(100% - 40px);
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background: var(--bg-body-color);

    border: 1px solid var(--border-vidget-color);
    border-radius: 0px 0px 2px 2px;

    .diagram-item {
      display: flex;
      height: 50%;
      .gauge {
        padding-top: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .graph {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__title {
          height: 40px;
          width: 90%;
          min-width: 200px;

          display: flex;
          align-items: center;

          overflow: hidden;

          font-size: 16px;
          line-height: 19px;
          color: var(--text-contrast-color);
        }

        &__chart {
          height: calc(100% - 52px);
          flex-shrink: 1;
        }
      }
    }
  }
}
