.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 430px;
}

.content {
  height: 100%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);

  display: flex;
  overflow: auto;
  flex-direction: column;
}

.mock {
  display: block;
  height: 200px;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  .line {
    color: var(--color-text-sub-heading);
    margin: 0 auto;
    padding-left: 160px;
  }
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
  }
}

p {
  margin: 0;
}

.block-top {
  display: flex;

  margin-right: 20px;
  margin-left: 15px;

  .calendar {
    min-height: 385px;
    min-width: 350px;
  }
  .main-team {
    min-height: 270px;
    min-width: 250px;
    max-height: 316px;
    margin-left: 20px;

    .title {
      font-size: 15px;
      padding: 15px 0;
    }
    &__container {
      height: 100%;
      .list {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        height: 100%;
        max-height: 350px;
      }
    }
  }
}

.block-bottom {
  display: flex;

  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;

  .duty-schedule {
    min-height: 200px;
    min-width: 350px;

    position: relative;

    .shift-yesterday {
      color: var(--color-text-sub);
      display: flex;
      justify-content: space-between;
      //   &:hover {
      //     background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
      //       no-repeat;
      //     // background-size: cover;
      //   }
      padding: 10px 18px;
    }

    .date-yesterday {
      color: var(--color-text-sub);
      padding: 10px 18px;
      font-size: 15px;
    }
    .date-today {
      padding: 10px 18px;
    }
    .shift-today {
      display: flex;
      justify-content: space-between;
      padding: 10px 18px;
      &-item {
        width: 102px;
        text-align: end;
      }
      &--active {
        background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
          no-repeat;
      }
      &:hover {
        background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
          no-repeat;
      }
    }

    .title {
      font-size: 15px;

      padding: 0px 18px;
      padding-bottom: 10px;
    }

    .btn {
      cursor: pointer;
    }

    .shift-overlay {
      display: none;
      position: absolute;
      right: 3px;
      top: 33px;
      width: 94px;
      height: 231px;
      opacity: 0;
      animation: slide 200ms ease forwards;

      background-color: var(--color-bg-main);
      z-index: 2;
      padding: 5px;

      background-image: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-hover-block-list.svg");
      background-repeat: no-repeat;

      box-shadow: 20px 0px 82px -34px #42a5f51f;
      .icon {
        width: 20px;
        height: 20px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          text-align: center;
          padding: 10px 10px;
          cursor: pointer;
          &:hover:not(:first-child) {
            background-image: url("./../../../../../assets/icons/widgets/admin-shift-schedule/bg-hover-list.svg");
            background-repeat: no-repeat;
          }
          &:first-child {
            padding: 0px 10px;
            padding-top: 5px;
          }
          &:last-child {
            padding: 10px 10px;
            padding-bottom: 15px;
          }
        }
      }
    }
    @keyframes slide {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .additional-team {
    max-height: 300px;
    min-height: 200px;
    min-width: 350px;
    margin-left: 20px;

    .title {
      font-size: 15px;
      padding-bottom: 15px;
    }

    &__container {
      max-height: 210px;
      overflow: auto;
      .list {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        height: 100%;
      }
    }
  }
}

.insert-component {
  display: block;
  width: 350px;
  height: 95px;
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  z-index: 999;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
  margin: 20px;
}
::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-main);
  border-radius: 25px;
}
:hover::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-border-main);
  border-radius: 25px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  border-radius: 25px;
}
::-webkit-resizer {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
