<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [id]="id"
    [units]=""
    [uniqId]="uniqId"
  ></evj-widget-header>

  <div></div>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="block-top">
      <section class="calendar">
        <mat-calendar
          [dateClass]="dateClass()"
          #calendar
          [(selected)]="selectedDate"
          ngClass="calendar-red"
          locale="ru"
        ></mat-calendar>
      </section>
      <section class="main-team">
        <p>Основной состав бригады</p>
        <div class="main-team__container">
          <ul class="list">
            <li *ngFor="let i of size">
              <evj-worker-card
                class="insert-component"
                [isSmallCard]="true"
                [person]="man"
              ></evj-worker-card>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="block-bottom">
      <section class="duty-schedule">
        <div class="title"><p>График дежурств</p></div>
        <div class="date-yesterday"><p>7 января - 8 января 2020</p></div>
        <div class="shift-yesterday">
          <p>I смена</p>
          <p>20.00-06.00</p>
          <p>Бригада 1</p>
        </div>
        <div class="date-today">
          <p>{{ selectedDate | date:'d MMMM yyyy' }}</p>
        </div>
        <div class="shift-today">
          <p>I смена</p>
          <p>20.00-06.00</p>
          <p>Назначить</p>
        </div>
        <div class="shift-today">
          <p>II смена</p>
          <p>20.00-06.00</p>
          <p>Назначить</p>
        </div>
        <div class="shift-today">
          <p>III смена</p>
          <p>20.00-06.00</p>
          <p>Назначить</p>
        </div>
      </section>
      <section class="additional-team">
        <p>Дополнительный состав бригады</p>
        <div class="additional-team__container">
          <ul class="list">
            <li *ngFor="let i of size">
              <evj-worker-card
                class="insert-component"
                [isSmallCard]="true"
                [person]="man"
              ></evj-worker-card>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
