.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 430px;
}

.content {
  height: 100%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);

  display: flex;
  overflow: auto;
  flex-direction: column;
}

.mock {
  display: block;
  height: 200px;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  .line {
    color: var(--color-text-sub-heading);
    margin: 0 auto;
    padding-left: 160px;
  }
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
  }
}

.block-top {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;

  .calendar {
    width: 55%;
    min-height: 320px;
    min-width: 250px;
  }
  .main-team {
    width: 100%;
    min-height: 270px;
    min-width: 250px;
  }
}

.block-bottom {
  display: flex;
  justify-content: space-between;
  .duty-schedule {
    width: 55%;
    min-height: 300px;
    min-width: 250px;
    .shift-yesterday {
      color: var(--color-text-sub);
      display: flex;
      justify-content: space-between;
      padding: 0px 18px;
      &:hover {
        background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
          no-repeat;
        background-size: cover;
      }
    }
    .date-yesterday {
      color: var(--color-text-sub);
      padding: 0px 18px;
    }
    .shift-today {
      display: flex;
      justify-content: space-between;
      &:hover {
        background: url("./../../../../../assets/icons/widgets/admin-shift-schedule/border-shift.svg")
          no-repeat;
        background-size: cover;
      }
      padding: 0px 18px;
    }
    .date-today {
      padding: 0px 18px;
    }

    .title {
      padding: 0px 18px;
    }
  }

  .additional-team {
    width: 100%;
    min-height: 300px;
    min-width: 250px;
  }
}
