<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header [title]="title" [id]="id" [units]="" [uniqId]="uniqId"></evj-widget-header>

  <div></div>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="block-top" *ngIf="scheduleShiftMonth.length > 0">
      <section class="calendar">
        <mat-calendar
          [dateClass]="dateClass()"
          [(selected)]="selectedDay.date"
          (selectedChange)="dateChanged($event)"
          ngClass="calendar-red"
          locale="ru"
        ></mat-calendar>
      </section>
      <section class="main-team" *ngIf="selectedBrigade">
        <p class="title">Основной состав бригады</p>
        <div class="main-team__container">
          <ul class="list">
            <li *ngFor="let i of allBrigade[0].users;">
              <evj-worker-card
                class="insert-component"
                [isSmallCard]="true"
                [person]="i"
              ></evj-worker-card>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <div class="block-bottom" *ngIf="selectedDay && yesterday">
      <section class="duty-schedule">
        <div class="title"><p>График дежурств</p></div>
        <div class="date-yesterday">
          <p>
            {{ yesterday.date | date:'d MMMM yyyy' }} - {{ selectedDay.date | date:'d MMMM yyyy' }}
          </p>
        </div>
        <div class="shift-yesterday" *ngFor="let i of yesterday.items">
          <p>I смена</p>
          <p>{{ i.start | date:'HH' }} - {{ i.end | date:'HH' }}</p>
          <p>Бригада 1</p>
        </div>
        <div class="date-today"><p>{{ selectedDay.date | date:'d MMMM yyyy' }}</p></div>
        <div class="shift-today" *ngFor="let i of selectedDay.items; let idx = index">
          <p>{{ idx + 1 }} смена</p>
          <p>{{ i.start | date:'HH' }} - {{ i.end | date:'HH' }}</p>
          <p class="btn" (click)="openOverlay($event, i, true)">
            Назначить
          </p>
          <p class="btn" (click)="openOverlay($event, i, true)" *ngIf="i">
            Бригада
          </p>
        </div>
        <div class="shift-overlay" #shiftOverlay>
          <ul>
            <li (click)="openOverlay($event, null, false)">
              <svg-icon
                class="icon"
                [svgStyle]="{'width.px':10,'fill':'rgb(150,50,255)','padding.px':1,'margin.px':3}"
                src="./assets/icons/widgets/admin-shift-schedule/close.svg"
              ></svg-icon>
            </li>
            <li *ngFor="let b of allBrigade;" (click)="onChooseBrigade(b, selectedDay)">
              Бригада {{ b.brigadeNumber }}
            </li>
          </ul>
        </div>
      </section>
      <section class="additional-team" *ngIf="selectedBrigade">
        <p class="title">Дополнительный состав бригады</p>
        <div class="additional-team__container">
          <ul class="list">
            <li *ngFor="let i of allBrigade[0].users">
              <evj-worker-card
                (click)="onClickCard(i)"
                [active]="activeUsers.isSelected(i)"
                class="insert-component"
                [isSmallCard]="true"
                [person]="i"
              ></evj-worker-card>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
