<div class="add">
  <div class="add__header">
    <div class="title">
      <svg-icon class="icon" src="{{addIcon}}"></svg-icon>
      <span>Добавление папки</span>
    </div>
    <div class="close" (click)="onClickCancel()">
      <div class="close__button">
        <svg-icon
          [svgStyle]="{'height.px':'21', 'width.px': '21'}"
          [src]="'assets/icons/widgets/alert-window/close.svg'"
        >
        </svg-icon>
      </div>
    </div>
  </div>
  <div
    class="add__body"
    [formGroup]="form"
  >
    <div class="add__body__label">Имя папки</div>
    <div class="add__body__input">
      <div class="input-block">
        <div class="input-block__input">
          <div class="input-back">
            <input
              type="text"
              formControlName="name"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="add__body__buttons">
      <evj-simple-button (click)="onClickCancel()">Отменить</evj-simple-button>
      <evj-simple-button (click)="onClickCreate()">Сохранить</evj-simple-button>
    </div>
  </div>
</div>
