<div class="claims scroll-bar">
  <div class="row">
    <div class="row__title">Права</div>
    <div class="row__items">
      <evj-aws-claim-card
        *ngFor="let item of claims"
        [name]="item.name"
        [isActive]="true"
      ></evj-aws-claim-card>
    </div>
  </div>
  <div class="row">
    <div class="row__title">Доступные виджеты</div>
    <div class="row__items">
      <evj-aws-claim-card
        *ngFor="let item of availableWidgets"
        [name]="item.name"
        [isActive]="true"
      ></evj-aws-claim-card>
    </div>
  </div>
</div>
