<div class="settings">
    <div class="settings__switch">
        <div class="case"
        [ngClass]="{'clicked': parameters === 1}"
        (click)="openParameters()"
        >Параметры</div>
        <div class="case"
        [ngClass]="{'clicked': parameters === 2}"
        (click)="openAccessLevel()"
        >Уровень доступа</div>
    </div>
    <div class="settings__buttons">
        <button class="button" (click)="openSelect()">
            Изменить параметры
        </button>
        <button class="button">
            Сохранить
        </button>
        <button class="button">
            Отменить
        </button>
    </div>
</div>