<div class="indicator-selector">
  <svg-icon class="indicator-selector__icon"
            src="./assets/icons/flask.svg"></svg-icon>

  <span class="indicator-selector__name">
        Качество сырья
  </span>

  <div class="dropdown-content">
    <div class="dropdown-component">Экран 1</div>
    <div class="dropdown-component">Экран 2</div>
    <div class="dropdown-component">Экран 3</div>
  </div>

  <svg-icon class="indicator-selector__collapse"
            src="./assets/icons/collapse.svg"></svg-icon>
</div>
