<div class="indicator-selector" (mouseenter)="ScreenActive()" (mouseleave)="ScreenDisable()">
  <svg-icon class="indicator-selector__icon" src="./assets/icons/screen.svg"></svg-icon>

  <span class="indicator-selector__name">
    {{ nameScreen }}
  </span>

  <div class="dropdown-container" [class.dropdown-container_active]="isShowScreens">
    <div class="dropdown-component create-screen">
      <div class="dropdown-component_search">
        <!--        ngIf для затирания строки и переоткрытия компонента-->
        <evj-input-custom
          [options]="inputOptions"
          [ngModel]="searchScreen"
          (ngModelChange)="screensFilter($event)"
        ></evj-input-custom>
        <!-- <evj-input
          *ngIf="isShowScreens"
          [placeholder]="'Поиск экрана'"
          [iconSrc]="'assets/icons/search-icon.svg'"
          (inputedValue)="screensFilter($event)"
          [appearance]="'none'"
        ></evj-input> -->
      </div>
    </div>
    <div class="dropdown-content scroll scroll-bar">
      <div class="dropdown-content__list">
        <ng-container *ngFor="let screen of dataScreen">
          <ng-container *ngIf="screen.isFilter">
            <div [id]="'screen_'+screen.id" class="dropdown-component">
              <div class="screen_block">
                <div class="screen_blocks">
                  <div
                    class="screen-card"
                    *ngIf="!screen.updateScreen"
                    (click)="this.setActiveScreen(screen)"
                    (click)="LoadScreen(idScreen)"
                  >
                    <div class="screen_name">
                      {{ screen.screenName }}
                    </div>
                  </div>
                  <div
                    class="screen-card"
                    *ngIf="!!screen.updateScreen"
                    (click)="this.setActiveScreen(screen)"
                    (click)="LoadScreen(idScreen)"
                  >
                    <input class="update_input" [(ngModel)]="newNameScreen" />
                  </div>
                  <div class="hover-button" *ngIf="!screen.updateScreen">
                    <div
                      *ngIf="isScreenEdit(screen)"
                      class="update_screen"
                      (click)="onUpdateForm(screen.id)"
                    >
                      <svg-icon
                        class="indicator-selector__collapse"
                        src="assets/icons/edit.svg"
                      ></svg-icon>
                    </div>
                    <div
                      *ngIf="isScreenDelete(screen)"
                      class="delete_screen"
                      (click)="deleteScreenButton(screen)"
                    >
                      <svg-icon
                        class="indicator-selector__collapse"
                        src="assets/icons/garbage_bad_pic.svg"
                      ></svg-icon>
                    </div>
                  </div>
                  <div class="hover-button" *ngIf="!!screen.updateScreen">
                    <div
                      *ngIf="isScreenEdit(screen)"
                      class="update_screen2"
                      (click)="updateScreenButton(screen, this.newNameScreen)"
                    >
                      <svg-icon
                        class="indicator-selector__collapse"
                        src="assets/icons/checkmark.svg"
                      ></svg-icon>
                    </div>
                    <div
                      *ngIf="isScreenDelete(screen)"
                      class="delete_screen2"
                      (click)="closeEdit()"
                    >
                      <svg-icon
                        class="indicator-selector__collapse"
                        src="assets/icons/close_bad.svg"
                      ></svg-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div
      class="dropdown-component create-screen"
      *ngIf="claimScreens.includes(EnumClaimScreens.add)"
    >
      <input
        class="dropdown-component_input"
        [(ngModel)]="tempScreen"
        (ngModelChange)="onChangeAdder()"
      />
      <div
        class="dropdown-component_adder"
        (click)="this.addScreen()"
        [class.dropdown-component_adder__non-active]="!isReadyAdd"
        [class.dropdown-component_adder__active]="isReadyAdd"
      ></div>
    </div>
  </div>

  <svg-icon class="indicator-selector__collapse" src="./assets/icons/collapse.svg"></svg-icon>
</div>
