.indicator-selector {
  display: flex;
  align-items: center;
  left: 0;
  width: 200px;
  min-height: 60px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  position: relative;

  border-right: 1px solid var(--color-border-main);
  border-left: 1px solid var(--color-border-main);
  cursor: pointer;

  &__icon {
    margin-right: 15px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
  }

  &__collapse {
    justify-self: flex-end;
    margin-left: auto;
  }

  &__name {
    font-size: 15px;
  }

  &:hover {
    background-color: var(--color-bg-main);;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  width: calc(100% + 1px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 60px;
  left: 0px;
}

.dropdown-component {
  padding-left: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--color-bg-main);
  cursor: pointer;
  height: 45px;
  font-size: 13px;
  &:hover {
    transition: all 0.3s ease;
    background-color: var(--color-bg-sub);
  }
  &_input {
    background: transparent;
    border: solid 0.5px var(--color-border-main);
    border-radius: 5px;
    padding: 5px;
    color: inherit;
  }
  &_adder {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    &__non-active {
      background-color: var(--color-border-main);
      -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      pointer-events: none;
    }
    &__active {
      background-color: var(--color-text-sub);
      -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      pointer-events: all;
      &:hover {
        background-color: white;
        -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
        mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      }
    }
  }
}

.indicator-selector:hover .dropdown-content {
  display: block;
}


.screen_name{
 text-align: center;
 font-size: 15px;
 width: 160px;
 margin-top: 15px;
}
.delete_screen{
  display: inline-block;
  z-index: 999;
  padding-top: 17px;
  padding-left: 5px;
  height: 40px;
  width: 20px;
  fill: white;
}

.delete_screen2{
  display: inline-block;
  z-index: 999;
  padding-top: 17px;
  padding-left: 5px;
  height: 40px;
  width: 20px;
  fill: white;
}
.update_screen{
  display: inline-block;
  z-index: 999;
  padding-top: 17px;
  padding-left: 5px;
  height: 40px;
  width: 20px;
  fill: white;
}

.update_screen2{
  display: inline-block;
  z-index: 999;
  padding-top: 17px;
  padding-left: 10px;
  height: 40px;
  width: 20px;
  fill: white;
}

.update_screen2 ::ng-deep svg{
  width: 20px;
  height: 20px;
}

.delete_screen:hover{
  fill:gray;
}
.update_screen:hover{
  fill:gray;
}

.screen_blocks{
  display: flex;
}
.screen_block{
  display: flex;
}
.update_input{
  background: transparent;
  border: solid 0.5px #5B607D;
  border-radius: 5px  ;
  margin-top: 8px;
  width: 150px;
  height: 20px;
  color: white;
  padding: 5px;
}

.hover-button{
  height: 45px;
  margin-left: 15px;
  width: 70px;
  background:#272b35;
  display:none;
}

.screen_blocks:hover .hover-button{
  display: block;
}
.screen_blocks:hover{
  text-align: center;
}