.indicator-selector {
  display: flex;
  align-items: center;
  left: 0;
  width: 200px;
  min-height: 60px;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
  position: relative;

  border-right: 1px solid var(--color-border-main);
  border-left: 1px solid var(--color-border-main);
  cursor: pointer;

  &__icon {
    margin-right: 15px;
    margin-top: 3px;
    width: 20px;
    height: 20px;
  }

  &__collapse {
    justify-self: flex-end;
    margin-left: auto;
  }

  &__name {
    font-size: 15px;
  }

  &:hover {
    background-color: var(--color-bg-main);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  width: calc(100% + 1px);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 60px;
  left: 0px;

  &_active {
    display: block;
  }
}

.dropdown-component {
  padding-left: 10px;
  text-align: left;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--color-bg-main);
  cursor: pointer;
  font-size: 13px;
  &:hover {
    transition: all 0.3s ease;
    background-color: var(--color-bg-sub);
  }
  &_input {
    background: transparent;
    border: solid 0.5px var(--color-border-main);
    border-radius: 5px;
    padding: 5px 0 5px 5px;
    margin: 5px 0 5px 0;
    color: inherit;
  }
  &_adder {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    &__non-active {
      background-color: var(--color-border-main);
      -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      pointer-events: none;
    }
    &__active {
      background-color: var(--color-text-sub);
      -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      pointer-events: all;
      &:hover {
        background-color: white;
        -webkit-mask: url("../../../../assets/icons/plus.svg") no-repeat center;
        mask: url("../../../../assets/icons/plus.svg") no-repeat center;
      }
    }
  }
}

.screen_name {
  text-align: left;
  font-size: 15px;
  width: 160px;
  padding: 10px;
}
.delete_screen {
  display: inline-block;
  z-index: 999;
  padding-left: 5px;
  width: 20px;
  fill: white;
}

.delete_screen2 {
  display: inline-block;
  z-index: 999;
  padding-left: 5px;
  width: 20px;
  fill: white;
}
.update_screen {
  display: inline-block;
  z-index: 999;
  padding-left: 5px;
  width: 20px;
  fill: white;
}

.update_screen2 {
  display: inline-block;
  z-index: 999;
  padding-left: 10px;
  width: 20px;
  fill: white;
}

.update_screen2 ::ng-deep svg {
  width: 20px;
}

.delete_screen:hover {
  fill: gray;
}
.update_screen:hover {
  fill: gray;
}

.screen_blocks {
  display: flex;
}
.screen_block {
  display: flex;
}
.update_input {
  background: transparent;
  border: solid 0.5px #5b607d;
  border-radius: 5px;
  padding: 5px;
  width: 170px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hover-button {
  padding-left: 5px;
  width: 70px;
  background-color: var(--color-bg-main);
  display: flex;
  align-items: center;
  opacity: 0;
}

.screen_blocks:hover .hover-button {
  transition: all 0.3s ease;
  opacity: 100%;
  background: #272b35;
}

* {
  margin: 0;
  padding: 0;
}
body {
  //background-image: url(http://joxi.ru/E2pWy79uBj4klm.jpg);
  //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
}
ul {
  list-style: none;
  background-color: var(--color-bg-main);
  width: 200px;
  border: 1px solid #2a323f;
  border-bottom: none;
  color: #fff;
}
ul li {
  border-bottom: 1px solid #2a323f;
  position: relative;
}
ul li:hover {
  background-color: var(--color-bg-sub);
}

ul li:hover ul {
  display: block;
}
ul li:hover ul li ul {
  display: none;
}
ul li a {
  color: #fff;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  //font-weight: bold;
}
ul li a:hover {
  background-color: var(--color-bg-sub);
  color: #fff;
}
ul li ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  left: 200px;
  top: 0px;
  display: none;
}
