<div class="widgets-panel" [class.widgets-panel_active]="active">
  <div class="widgets-panel__toggle"
       (click)="onToggleClick()">
    <svg-icon class="widgets-panel__icon"
              src="./assets/icons/settings.svg" [svgStyle]="{ 'width.px':20, 'height.px':20 }"></svg-icon>
  </div>

  <h4 class="widgets-panel__heading">
    Доступные виджеты
  </h4>

  <div class="widgets-panel__list scroll-bar">
    <ng-container *ngFor="let w of widgets">

      <ng-container *ngIf="w.widgetType === 'manual-input'">
        <evj-manual-input
          [id]="w.id"
          [showMock]="true"
          [dndDraggable]="{widget: w}"
          [name]="w.title"
          (dndDrag)="this.active = false"
          class="widgets-panel__widget widgets-panel__widget___mi">
        </evj-manual-input>
      </ng-container>

      <ng-container *ngIf="w.widgetType === 'events'">
        <evj-events
          [id]="w.id"
          [name]="w.title"
          [showMock]="true"
          [dndDraggable]="{widget: w}"
          (dndDrag)="this.active = false"
          class="widgets-panel__widget widgets-panel__widget___mi">
        </evj-events>
      </ng-container>

      <ng-container *ngIf="w.widgetType === 'line-chart'">
        <evj-line-chart *ngIf="w"
                        [id]="w.id"
                        [code]="w.code"
                        [name]="w.title"
                        [units]="w.units"
                        [options]="w.widgetOptions"
                        [position]="w.id"
                        [dndDraggable]="{widget: w}"
                        (dndDrag)="this.active = false"
                        class="widgets-panel__widget"></evj-line-chart>
      </ng-container>

    </ng-container>
  </div>

</div>
