<div class="filter-button" (click)="onClick(filter.type)" [class.active-filter]="isPopoverOpened" [attr.id]="filter.type">
    <div class="filter-button__icon">
        <svg-icon *ngIf="isPopoverOpened" src="assets/icons/widgets/oil-control-all/document-coding/filter-blue.svg">
        </svg-icon>
        <svg-icon *ngIf="!isPopoverOpened" src="assets/icons/widgets/oil-control-all/document-coding/filter.svg"></svg-icon>
    </div>
    <div class="filter-button__text">
        <div class="name">{{ filter.name }}</div>
        <div class="icon">
            <svg-icon src="assets/icons/widgets/oil-control-all/document-coding/arrow.svg">
            </svg-icon>
        </div>
    </div>
</div>
