<div style="height: 100%; padding-left: 5px;">
  <div class="title">
    <div class="title__name">График изменения массы в резервуаре</div>
    <div class="title__button-close" (click)="close()">
      <svg-icon
        src="assets/icons/widgets/oil-control-all/oil-operations/close-line.svg"
        class="add_button_icon"
      >
      </svg-icon>
    </div>
  </div>
  <div class="content">
    <div class="chart">
      <evj-line-chart-shared
      [data]="data"
      [points]="points"
      chartType='oil-operations'
    ></evj-line-chart-shared>
    </div>
    <div class="chart-scroll">
      <evj-smart-scroll [(sbThumbWidth)]="sbWidth" [(sbThumbLeft)]="sbLeft"></evj-smart-scroll>
    </div>
  </div>
  <div class="bottom"></div>
</div>
