.widget-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    evj-kpe-charts-analytic-header-toggle {
      height: max-content;
      margin: auto 0;
    }
  }

  .container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: 17px;
    padding: 16px 18px 18px 16px;
    border: 1px solid rgba(39, 42, 56, 0.5);
    border-radius: 2px;
    background: #1C1F2B;
    box-sizing: border-box;
  }
}

.area {
  display: flex;
  height: 100%;
  flex-flow: column;
  //background: red;

  &__chart {
    flex-grow: 1;
  }

  &__stats {
    width: 190px;
  }

  .cards {
    width: 100%;
    height: 112px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px 16px;
    grid-template-areas:
    ". ."
    ". .";
  }
}
