<div class="widget-container">
  <evj-contemporary-widget-header
    type="astue"
    [widgetTitle]="widgetTitle"
    [uniqId]="widgetUniqId"
  >
    <div class="header-container">
      <evj-kpe-charts-analytic-header-select></evj-kpe-charts-analytic-header-select>
      <evj-kpe-charts-analytic-header-toggle></evj-kpe-charts-analytic-header-toggle>
    </div>
  </evj-contemporary-widget-header>

  <div class="container"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()">
    <div class="area area__chart"></div>

    <div class="area area__stats">
      <div class="selects">
        <div class="dropdown">
          <mat-select class="dropdown__select" placeholder="График">
            <mat-option> Не выбрано </mat-option>
          </mat-select>
        </div>
        <div class="dropdown">
          <div class="dropdown__label"> <span> Y </span> </div>
          <mat-select class="dropdown__select" placeholder="Ед. измерения">
            <mat-option> Не выбрано </mat-option>
          </mat-select>
        </div>
        <div class="dropdown">
          <div class="dropdown__label"> <span> X </span> </div>
          <mat-select class="dropdown__select" placeholder="Временной интервал">
            <mat-option> Не выбрано </mat-option>
          </mat-select>
        </div>
      </div>
      <div class="cards">
        <evj-kpe-charts-analytic-card type="fact" value="76.146"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="deviation" value="-0.289"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="plan" value="76.009"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="interval" value="0.3"></evj-kpe-charts-analytic-card>
      </div>
      <evj-checker class="checker"></evj-checker>
      <evj-kpe-charts-analytic-dates-picker></evj-kpe-charts-analytic-dates-picker>
    </div>
  </div>
</div>
