<div class="widget-container">
  <evj-contemporary-widget-header type="astue" [widgetTitle]="widgetTitle" [uniqId]="widgetUniqId">
    <div class="header-container">
      <evj-kpe-charts-analytic-header-select (setActiveIndicator)="subscribeToIndicator($event)" [manufactures]="manufactures$ | async" [formGroup]="entryStates"></evj-kpe-charts-analytic-header-select>
      <evj-kpe-charts-analytic-header-toggle [formGroup]="entryStates"></evj-kpe-charts-analytic-header-toggle>
    </div>
  </evj-contemporary-widget-header>

  <div class="container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="area area__chart">
      <div class="area__chart-container">

        <ng-container
          *ngComponentOutlet="viewComponent; injector: (widgetId | fn:getInjector : (selectedChartType$ | async): (chartIntervalDates$ | async): (chartUnits$ | async): (channelId$ | async));"
        ></ng-container>
      </div>

      <div class="area__smart-scroll">
        <evj-smart-scroll
          [limits]="selectedPeriod"
          [data]="scrollData"
          [(sbThumbLeft)]="sbLeft"
          [(sbThumbWidth)]="sbWidth"
        ></evj-smart-scroll>
      </div>
    </div>

    <div class="area area__stats">
      <div class="selects" [formGroup]="entryStates">
        <div class="dropdown">
          <mat-select class="dropdown__select" (ngModelChange)="setChartType($event)" formControlName="chartType" placeholder="Тип графика">
            <ng-container *ngFor="let option of chartTypeOptions">
              <mat-option [value]="option.type"> {{ option.name }} </mat-option>
            </ng-container>
          </mat-select>
        </div>
        <div class="dropdown">
          <div class="dropdown__label"><span> Y </span></div>
          <mat-select class="dropdown__select" placeholder="Ед. измерения" [formControlName]="'engUnit'">
            <ng-container *ngFor="let option of unitsOptions">
              <mat-option [value]="option.type"> {{ option.name }} </mat-option>
            </ng-container>
          </mat-select>
        </div>
        <div class="dropdown">
          <div class="dropdown__label"><span> X </span></div>
          <mat-select class="dropdown__select" formControlName="dateInterval" placeholder="Временной интервал" disabled>
            <ng-container *ngFor="let option of timePeriodOptions">
              <mat-option [value]="option.type"> {{ option.name }} </mat-option>
            </ng-container>
          </mat-select>
        </div>
      </div>
      <div class="cards">
        <evj-kpe-charts-analytic-card type="fact" [value]="cardValues.factValue"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="deviation" [value]="cardValues.deviation"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="plan" [value]="cardValues.planValue"></evj-kpe-charts-analytic-card>
        <evj-kpe-charts-analytic-card type="interval" [value]="0"></evj-kpe-charts-analytic-card>
      </div>
      <evj-checker
        (changeValue)="syncChange($event)"
        [value]="entryStates.get('isSync').value"
        class="checker"
      ></evj-checker>
      <evj-kpe-charts-analytic-dates-picker [formGroup]="sharedStates" [disabled]="!isDateRangePickerEnabled"></evj-kpe-charts-analytic-dates-picker>
    </div>
  </div>
</div>
