:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--color-text-main);
  }
}

.calculations {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card {
    width: 100%;
    height: 50px;
  }
}

.card {
  border-radius: 12px;
  box-shadow: 0px 4px 4px var(--gradient-main-color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-aw-header-bg);
  overflow: hidden;

  &__begin,
  &__finish {
    position: relative;
    width: 170px;
    height: 100%;
  }

  &__begin {
    margin: 0 15px;
  }

  &__submit {
    width: 134px;
    height: 100%;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-disable-transparent);
  color: var(--text-main-color);

  &:hover {
    cursor: pointer;
    color: var(--color-text-main);
  }
}

.label {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 10px;
  color: var(--text-main-color);
}
