
# {{ milestone.attributes.title }} / {{ milestone.attributes.due_date  }}
## Closed Issues:
{% for closed_issue in closed_issues  -%}
*   #{{ closed_issue.iid }} {{ closed_issue.title  }} / {{ closed_issue.created_at }}
{{ closed_issue.description }}  
Closed by {{ closed_issue.attributes['closed_by']['name'] }} at {{ closed_issue.closed_at  }}  

{% endfor %}

## Opened Issues:
{% for opened_issue in opened_issues  -%}
*   #{{ opened_issue.iid }} {{ opened_issue.title  }} / {{ opened_issue.created_at }}
{{ opened_issue.description }}  

{% endfor %}
