<div class="docs-record-container">
  <div class="docs-record-container__block-info">
    <div class="short">{{ data.numberR }}</div>
    <div class="short">{{ data.rR }}</div>
    <div class="middle pasport">
      <div class="pasport__icon">
        <svg-icon src="assets/icons/widgets/oil-control-all/quality-docs-panel/pdf.svg"
          [svgStyle]="{ 'width.px':30, 'height.px':40, 'margin-top.px': 5 }"></svg-icon>
      </div>
      <div class="pasport__name">
        {{ data.pasportId }}
      </div>
    </div>
    <div class="middle">{{ data.date }}</div>
    <div class="middle">{{ data.codeSAP }}</div>
    <div class="big">
      <div *ngFor="let i of data.product">
        {{ i }}
      </div>
    </div>
    <div class="short">{{ data.group }}</div>
    <div class="middle">{{ data.park }}</div>
    <div class="middle creator">{{ data.creator }}</div>
    <div class="middle">{{ data.arm }}</div>
    <div class="key" id="tooltipDocsRecord{{data.id}}" (click)="blocked()" [class.key-blocked]="data.blocked">
      <svg-icon *ngIf="!data.blocked" src="assets/icons/widgets/oil-control-all/quality-docs-panel/key-open.svg"
        [svgStyle]="{ 'width.px':15, 'height.px':15, 'margin-top.px': 5 }">
      </svg-icon>
      <svg-icon *ngIf="data.blocked" src="assets/icons/widgets/oil-control-all/quality-docs-panel/key-close.svg"
      [svgStyle]="{ 'width.px':15, 'height.px':15, 'margin-top.px': 5 }">
    </svg-icon>
    </div>
  </div>
</div>