<div class="references">
  <div class="reference-left">
    <div class="title-reference">Наименование файла</div>
    <div class="reference-container">
      <div id="leftScrollAddReport" class="scroll-block">
        <div *ngFor="let item of data; let i = index">
          <div
            class="reference-container__block"
            [class.block-active]="item.id === clickItemId"
            (click)="getTemplate(item)"
          >
            <div *ngIf="!item.edit" class="reference-container__block-info">
              <div>{{ item.name }}</div>
              <div class="reference-container__button-edit" (click)="editNameReportFile(item)">
                <svg-icon
                  *ngIf="item.id === clickItemId"
                  class="indicator-selector__collapse"
                  src="assets/icons/widgets/reports/edit_white.svg"
                ></svg-icon>
              </div>
              <div
                data-tooltip="Удалить файл"
                class="reference-container__button-remove"
                (click)="deleteReportFile(item)"
                *ngIf="item.id === clickItemId"
              ></div>
            </div>
            <div *ngIf="item.edit" class="reference-container__add-block">
              <div class="reference-container__add-block-input">
                <input type="text" [(ngModel)]="newName" placeholder="Введите имя файла..." />
              </div>
              <div class="reference-container__add-block-icon" (click)="onEditName(item)">
                <svg-icon
                  src="assets/icons/widgets/reports/accept.svg"
                  class="add_button_icon"
                ></svg-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-reference-left">
      <div class="bottom-reference-left__block">
        <div
          data-tooltip="Добавить новый файл"
          class="bottom-reference-left__button-add"
          (click)="onOpenUpload()"
        ></div>
        <div class="bottom-reference-left__input-block">
          <div class="bottom-reference-left__button-search">
            <svg-icon
              *ngIf="!isRepInput"
              class="button_filter_icon"
              src="assets/icons/widgets/references/search_white.svg"
            ></svg-icon>

            <svg-icon
              *ngIf="isRepInput"
              class="indicator-selector__collapse"
              src="assets/icons/widgets/references/search_blue.svg"
            ></svg-icon>
          </div>
          <div
            class="bottom-reference-left__input"
            [class.bottom-reference-left__input-active]="isRepInput"
          >
            <input
              type="text"
              (focus)="isRepInput = true"
              (blur)="isRepInput = false"
              (keyup)="searchReport($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="reference-right">
    <div class="title-reference">
      <div class="title-reference__title-name">
        <div class="title-reference__title-name-fio">
          Шаблоны
        </div>
      </div>
    </div>
    <div class="references-container-scroll-block">
      <div id="rightScrollAddReport" class="reference-container-value" #test>
        <ng-container *ngFor="let item of this.dataTemplate">
          <div class="reference-container-value__block">
            <div class="reference-container-value__fio-block">
              <div class="reference-container-value__fio">{{item.name}}</div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngFor="let item of this.blockOut">
          <div class="reference-container-value__block">
            <div class="reference-container-value__fio-block">
              <div class="reference-container-value__fio"></div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="bottom-reference-right"></div>
  </div>
</div>
<div *ngIf="isUploadBlock" id="upload" class="upload" (click)="uploadClose()">
  <evj-upload-drop-zone [extension]="extension" (file)="uploadFile($event)" ></evj-upload-drop-zone>
</div>
