<div class="container" [ngClass]="{'container_warning': contentData?.percentStatus === 'warning'}">
  <div class="gauge" [style.width.%]="cardConfig[currentType].gaugeWidth">
    <evj-kpe-gauge-chart-multi-color
      [type]="0"
      [style.width.%]="100"
      [data]="gaugeChart"
    ></evj-kpe-gauge-chart-multi-color>
  </div>
  <div class="content" [style.width.%]="100 - cardConfig[currentType].gaugeWidth">
    <span class="title">{{contentData?.name}}</span>
    <span class="subtitle">{{contentData?.title}}</span>
    <div class="percent-info" [ngClass]="{'percent-info': contentData?.percentStatus, 'warning':  contentData?.percentStatus === 'warning'}">{{contentData?.percentageInfluence.toFixed(2)}}%</div>
    <div class="line-diagram" *ngIf="cardConfig[currentType].haveLineChart && !onlyPercent">
      <evj-kpe-universal-card-line-chart
        *ngIf="contentData"
        [onlyPercent]="onlyPercent"
        [data]="contentData"
      ></evj-kpe-universal-card-line-chart>
    </div>
    <div class="month-indicators">
      <div
        class="dash"
        *ngFor="let day of currentMonth;"
        [style.background]="'var(--color-kpe-universal-card-month-' + day.status + ')'"
      ></div>
    </div>
  </div>
</div>
