.container {
  display: flex;
  flex-flow: column;
  gap: 2px;
  box-sizing: border-box;
  padding: 9px;
  background: var(--gray-G12-color);
  border: solid 1px var(--border-blue-color);
  border-radius: 2px;

  .item {
    height: 40px;
    padding: 0 16px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    background: var(--gray-G9-color);
    color: var(--text-accent-color);
    transition: .2s;

    &:hover {
      color: var(--text-alwaysWhite-color);
      background: var(--border-blue-color);
      transition: .4s;
    }
  }
}
