<div class="filter">
  <div class="filter_settings-body">
    <div class="filter_block" (click)="setSort(true)">
      <div class="filter_block__settings">
        <div class="filter_block__settings__title-block">
          <span class="vertical-middle">По возрастанию</span>
        </div>
        <div class="filter_block__settings__radio-button-block">
          <div class="radio-button">
            <div class="radio-button_circle" *ngIf="filterSetting?.isUp"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter_block" (click)="setSort(false)">
      <div class="filter_block__settings">
        <div class="filter_block__settings__title-block">
          <span class="vertical-middle">По убыванию</span>
        </div>
        <div class="filter_block__settings__radio-button-block">
          <div class="radio-button">
            <div class="radio-button_circle" *ngIf="filterSetting?.isDown"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter_block__search" *ngIf="isSearch">
    <div class="filter_block__search__input-block">
      <input class="vertical-middle" [(ngModel)]="filterSetting.text" (keyup)="setText($event?.target?.value)" />
    </div>
    <div class="filter_block__search__icon-block">
      <svg-icon class="icon" src="assets/icons/search-icon.svg"></svg-icon>
    </div>
  </div>
</div>
