.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
}
