.col {
  height: 100%;
  width: 100%;
  min-width: 25px;

  box-sizing: border-box;
  border-left: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__plan {
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    color: var(--color-text-sub);
  }

  &__dia {
    position: relative;
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    border: 0.5px solid var(--color-lines-bg-dia);
    border-left: none;

    .dia {
      &__line {
        position: absolute;
        width: 100%;
        height: 1px;
        box-sizing: border-box;
        border-top: 0.5px solid var(--color-lines-bg-dia);
        z-index: -2;
      }

      &__pusher {
        width: 10px;
        background: transparent;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        transition: 0.5s;
      }

      &__current {
        width: 100%;
        min-height: 20px;
        font-size: 14px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &__deviation {
        width: 10px;
        background: var(--color-deviation);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        transition: 0.5s;
      }

      &__fact {
        width: 100%;
        background: var(--color-fact);

        transition: 0.5s;
      }
    }
  }

  &__icon {
    height: 50px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon {
      width: 20px;
      height: 20px;
    }
  }
}
