<ng-template cdk-portal #overlayTemplate="cdkPortal">
  <div class="overlay-container" (mouseenter)="resetSetTimeout()">
    <div class="overlay-header">
      <h3>Производственные <br> задания и распоряжения</h3>
      <div (click)="closeOverlay()">
        <svg-icon src="assets/icons/widgets/EVJ/events/close-overlay.svg" class="overlay-header__icon"></svg-icon>
      </div>
    </div>
    <div class="divider"></div>
    <div class="overlay-body">
      <div class="overlay-body__checkboxes">
        <div class="checkbox">
          <mat-checkbox
            class="checkbox__item"
            color="primary"
            (change)="limitationsChange($event)"
          ></mat-checkbox>
          <label [class.active]="limitationsEnabled">Ограничения</label>
        </div>
        <div class="checkbox">
          <mat-checkbox
            class="checkbox__item"
            color="primary"
            (change)="allChange($event)"
            [(ngModel)]="allEnabled"
          ></mat-checkbox>
          <label [class.active]="allEnabled">Выбрать все</label>
        </div>
      </div>

      <div class="overlay-body__subcategories">
        <ng-container *ngFor="let item of data?.subCategories">
          <div class="subcategory" [class.active]="subCategoriesSelected.isSelected(item.id)">
            <div class="subcategory__name" matRipple matRippleColor="#FFFFFF" (click)="toggle(item.id)">
              <span>{{ item.description }}</span>
            </div>
            <div class="subcategory__source" matRipple matRippleColor="#FFFFFF" (click)="onClickUrl($event, '#')">
              <span>СИ</span>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="overlay-body__checkboxes">
        <h3>СМПО</h3>
        <div class="checkbox">
          <mat-checkbox
            class="checkbox__item"
            color="primary"
            (change)="allSmpoChange($event)"
          ></mat-checkbox>
          <label [class.active]="allSmpoEnabled">Выбрать все</label>
        </div>
      </div>

      <div class="overlay-body__subcategories">
        <div class="subcategory">
          <div class="subcategory__name" matRipple matRippleColor="#FFFFFF">
            <span>Причины и мероприятия</span>
          </div>
          <div class="subcategory__source" matRipple matRippleColor="#FFFFFF">
            <span>СИ</span>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="overlay-actions">
      <div class="buttons">
        <div class="buttons__apply" matRipple matRippleColor="#FFFFFF" (click)="apply()">Применить</div>
        <div class="buttons__cancel" matRipple matRippleColor="#FFFFFF" (click)="cancel()">Отменить</div>
      </div>
    </div>
  </div>
</ng-template>
<div class="categories">
  <div
    class="categories__item"
    [class.categories__item--active]="data?.isActive"
    (click)="onCLickItem(data)"
    cdkOverlayOrigin
    (mouseenter)="openOverlay()"
    (mouseleave)="closeOverlay()"
    matRipple
    [matRippleColor]="'white'"
  >
    <div class="categories__item__name">{{data?.name}}</div>
    <div class="categories__item__footer">
      <div class="categories__item__footer__icon">
        <svg-icon
          class="categories__item__footer__icon"
          [class.categories__item__footer__icon--active]="data?.isActive"
          [applyCss]="true"
          [src]="data.iconUrl"
        ></svg-icon>
      </div>
      <div class="categories__item__footer__value">
        <span class="counts__count">{{data?.notificationsCounts?.open}}</span>
        <span class="counts__count">/</span>
        <span class="counts__count">{{data?.notificationsCounts?.all}}</span>
      </div>
    </div>
  </div>
  <div class="categories__link">
    <button
      matRipple
      [matRippleColor]="'white'"
      class="categories__link__btn"
      [disabled]="data?.url === '#'"
      (click)="onClickUrl($event, data?.url)"
    >
      В систему источник
    </button>
  </div>
</div>
