.indicator-diagram {
  width: 60px;
  min-height: 60px;
  box-sizing: border-box;
  position: relative;
  border-left: 1px solid var(--color-border-header);
  border-right: 1px solid var(--color-border-header);

  background-image: url(../../../../assets/icons/indicator-diagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

::ng-deep {
  .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: 5px;
    top: 6px;
  }

  .mat-badge-content {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text-main);
    background: var(--color-badge-notification-header);
  }

  .mat-badge-medium .mat-badge-content {
    width: 18px;
    height: 18px;
    line-height: 18px;
  }
}
