<div class="diagram-list">
    <svg-icon 
        src = 'assets/icons/widgets/OZSM/ozsm-resources-circle-diagram/customBorder.svg' 
        class="custom-border"
    ></svg-icon>

    <evj-ozsm-resources-circle-diagram-visual
        [percentage] = "99"
        [title] = "'Вода'"
    ></evj-ozsm-resources-circle-diagram-visual>
    <evj-ozsm-resources-circle-diagram-visual
        [percentage] = "99"
        [title] = "'Теплоэнергия'"
    ></evj-ozsm-resources-circle-diagram-visual>
    <evj-ozsm-resources-circle-diagram-visual
        [percentage] = "99"
        [title] = "'Топливо'"
    ></evj-ozsm-resources-circle-diagram-visual>
    <evj-ozsm-resources-circle-diagram-visual
        [percentage] = "99"
        [title] = "'Электроэнергия'"
    ></evj-ozsm-resources-circle-diagram-visual>
</div>
