<div class="container">
    <evj-widget-header-smp
        [uniqId]="uniqId"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseExit()"
        *ngIf="isHover"
    >
    </evj-widget-header-smp>
    <div class="diagram-list"
        (mouseenter)="onMouseEnter()"
        (mouseleave)="onMouseExit()"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
    >
        <div class="custom-border-right">
            <div class="custom-border__inner-circle">
            </div>
        </div>

        <div class="custom-border-left">
            <div class="custom-border__inner-circle">
            </div>
        </div>
        <div class="diagram-list__items" #scrollContainer>
            <evj-ozsm-resources-circle-diagram-visual [data]="diagram" *ngFor="let diagram of data | async">
            </evj-ozsm-resources-circle-diagram-visual>
        </div>
    </div>
</div>
