<div class="table-display">
  <div class="table-display__header header">
    <div class="header__buttons">
      <div class="button" (click)="clickDisplayButton()">Графическое отображение</div>
      <div class="button button_active">Табличное отображение</div>
    </div>
    <div class="header__right">
      <div class="button button_active">Сформировать отчет</div>
      <div class="button">Сохранить</div>
      <div class="button">Отмена</div>
    </div>
  </div>
  <div class="table-display__table table"></div>
</div>
