<div class="overlay-retrieval">
  <div class="overlay-retrieval__body" (click)="$event.stopPropagation()">
    <ng-container>
      <section
        *ngIf="ewService.retrievalEvent"
        class="workspace"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div class="workspace__header">
          <evj-ui-block class="workspace__header__block" status="normal">
            <mat-form-field class="status">
              <mat-label>Статус</mat-label>
              <mat-select
                panelClass="mat-select-custom"
                [(ngModel)]="ewService.retrievalEvent.status"
                [compareWith]="compareFn"
              >
                <mat-option *ngFor="let p of ewService.status" [value]="p"
                  >{{ ewService.statuses[p.name] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </evj-ui-block>
          <evj-ui-block
            class="workspace__header__block"
            status="{{ewService.retrievalEvent.priority.name}}"
          >
            <mat-form-field class="{{ewService.retrievalEvent.priority.name}}">
              <mat-label>Приоритет</mat-label>
              <mat-select
                panelClass="mat-select-custom"
                [(ngModel)]="ewService.retrievalEvent.priority"
                [compareWith]="compareFn"
              >
                <mat-option *ngFor="let p of ewService.priority" [value]="p"
                  >{{ ewService.priorities[p.name] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </evj-ui-block>
          <evj-ui-block
            class="workspace__header__block"
            status="{{ewService.retrievalEvent.isAcknowledged}}"
          >
            <mat-form-field class="card-{{ewService.retrievalEvent.isAcknowledged}}">
              <mat-label>Событие</mat-label>
              <mat-select
                panelClass="mat-select-custom"
                [(ngModel)]="ewService.retrievalEvent.isAcknowledged"
                [compareWith]="compareFn"
              >
                <mat-option [value]="true">
                  Квитировано
                </mat-option>
                <mat-option [value]="false">
                  Не квитировано
                </mat-option>
              </mat-select>
            </mat-form-field>
          </evj-ui-block>
        </div>

        <div class="workspace__body">
          <div class="workspace__body__left">
            <div class="select__block">
              <div class="first_block">
                <div class="categories">
                  <evj-ui-block class="workspace__body__categories" status="normal">
                    <mat-form-field class="categories_selectbox">
                      <mat-label>Категория</mat-label>
                      <mat-select
                        panelClass="mat-select-custom"
                        [(ngModel)]="ewService.retrievalEvent.category"
                        [compareWith]="compareFn"
                      >
                        <mat-option *ngFor="let cat of ewService.category" [value]="cat">
                          {{ ewService.categories[cat.name] }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </evj-ui-block>
                </div>
                <div class="type">
                  <evj-ui-block class="workspace__body__categories" status="normal">
                    <mat-form-field class="categories_selectbox">
                      <mat-label>Тип оборудования</mat-label>
                      <mat-select
                        panelClass="mat-select-custom"
                        [(ngModel)]="ewService.retrievalEvent.equipmentCategory"
                        [compareWith]="compareFn"
                      >
                        <mat-option *ngFor="let p of ewService.equipmentCategory" [value]="p"
                          >{{ p.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </evj-ui-block>
                </div>
              </div>
              <div
                class="second_block"
                *ngIf="ewService.retrievalEvent.category.name === 'equipmentStatus'"
              >
                <div class="type_incident">
                  <evj-ui-block class="workspace__header__block" status="normal">
                    <mat-form-field>
                      <mat-label>Тип происшествия</mat-label>
                      <mat-select
                        panelClass="mat-select-custom"
                        [(ngModel)]="ewService.retrievalEvent.eventType"
                        [compareWith]="compareFn"
                      >
                        <mat-option *ngFor="let p of ewService.eventTypes" [value]="p"
                          >{{ p.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </evj-ui-block>
                </div>
                <div class="number_position">
                  <evj-ui-block class="workspace__header__block" status="normal">
                    <div class="input_position">
                      <mat-form-field class="example-full-width">
                        <mat-label>Номер позиции</mat-label>
                        <input
                          matInput
                          placeholder="Текст..."
                          [value]="ewService.retrievalEvent.positionNumber"
                          [(ngModel)]="ewService.retrievalEvent.positionNumber"
                        />
                      </mat-form-field>
                    </div>
                    <div class="position_icon">
                      <svg-icon
                        src="./assets/icons/edit.svg"
                        [svgStyle]="{ 'width.px':25, 'height.px':20 }"
                      >
                      </svg-icon>
                    </div>
                  </evj-ui-block>
                </div>
              </div>
            </div>

            <evj-event-description
              class="description"
              [ngClass]="{'description_small':ewService.retrievalEvent.category.name === 'equipmentStatus'}"
              [description]="ewService.retrievalEvent.description"
              [isRetrievalEvent]="true"
              (changedDescription)="onChangeEventDescription($event)"
            ></evj-event-description>

            <div class="fact_block">
              <div class="title_fact_block">
                <div class="title_fact_block_text">
                  Установленные факты
                </div>
              </div>
              <div class="fact_content_create_event" #factScroll>
                <div
                  class="fact_new"
                  *ngFor="let fact of ewService.retrievalEvent.facts; let i = index"
                >
                  <div class="fact_text">
                    <p>{{fact.comment}}</p>
                  </div>
                  <div class="fact_menu">
                    <div class="fact_info">
                      <div class="fact_info_user">{{fact.displayName}}</div>
                      <div class="fact_info_date">
                        {{fact.createdAt | dateFormat:'DD-MM-YY hh:mm'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="empty"></div>
              <div class="fact_comment">
                <div class="comment__new">
                  <input
                    type="text"
                    class="comment__text gridster-item-content"
                    placeholder="Укажите факты..."
                    (keypress)="onEnterPush($event)"
                    #factInput
                  />
                  <button type="submit" class="button comment__file   gridster-item-content">
                    <svg-icon
                      class="button__icon"
                      src="./assets/icons/widgets/change-shift/add_file.svg"
                    >
                    </svg-icon>
                  </button>
                  <button
                    type="submit"
                    class="button comment__submit  gridster-item-content"
                    (click)="onSendMessage(false)"
                  >
                    <svg-icon
                      class="button__icon"
                      src="./assets/icons/widgets/change-shift/send.svg"
                    ></svg-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="workspace__body__right">
            <div class="info_block">
              <div class="creator">
                <div class="creator_title">
                  Автор
                </div>
                <div class="creator_body">
                  {{ewService.retrievalEvent.responsibleOperator.displayName}}
                </div>
              </div>
              <div class="place">
                <evj-ui-block class="workspace__body__categories" status="normal">
                  <mat-form-field class="categories_selectbox">
                    <mat-label>Место</mat-label>
                    <mat-select
                      panelClass="mat-select-custom"
                      [(ngModel)]="ewService.retrievalEvent.unit"
                      [compareWith]="compareFn"
                    >
                      <mat-option *ngFor="let cat of ewService.units" [value]="cat">
                        {{ cat.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </evj-ui-block>
              </div>
              <div class="deadline">
                <div class="date-info">
                  <div class="deadline-title">Срок выполнения</div>
                  <evj-time-data-picker
                    [data]="ewService.retrievalEvent.deadline"
                    (dateTimePicker)="ewService.setDeadlineToEvent($event,true)"
                  ></evj-time-data-picker>
                </div>
                <div class="deadline_bottom_angles"></div>
              </div>
            </div>
            <div class="responsible">
              <div *ngIf="ewService.retrievalEvent.fixedBy.id" class="choosenUser">
                <div class="name_user">
                  <div class="name_user_responsible">
                    Ответственный
                  </div>
                  <div class="name_user_info">
                    <div>{{ ewService.retrievalEvent.fixedBy.displayName }}</div>
                    <div>{{ ewService.retrievalEvent.fixedBy.positionDescription }}</div>
                  </div>
                </div>
                <div class="brigade_user">
                  <div class="brigade_user_text">
                    Бригада № {{ ewService.retrievalEvent.fixedBy.id }}
                  </div>
                </div>
                <div class="avatar_user">
                  <div class="avatar_user_img">
                    <img [src]="ewService.getUserAvatarUrl(ewService.retrievalEvent.fixedBy)" />
                  </div>
                </div>
              </div>
              <evj-ui-block class="workspace__header__block" status="normal">
                <mat-form-field>
                  <mat-label>Ответственный</mat-label>
                  <mat-select
                    panelClass="mat-select-custom"
                    [(ngModel)]="ewService.retrievalEvent.fixedBy"
                  >
                    <mat-option
                      *ngFor="let p of ewService.users"
                      [value]="p"
                      (click)="chooseMeropRespons(p)"
                      >{{ p.lastName }} {{ p.firstName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </evj-ui-block>
            </div>
            <div class="comments_block">
              <div class="title_comments_block">
                <div class="title_comments_block_text" #commentScroll>
                  Комментарии
                </div>
              </div>
              <div class="comments_content_create_event">
                <div
                  class="comment_new"
                  *ngFor="let comment of ewService.retrievalEvent.comments; let i = index"
                >
                  <div class="comment_text">
                    <p>{{comment.comment}}</p>
                  </div>
                  <div class="comment_menu">
                    <div class="comment_info">
                      <div class="comment_info_user">{{comment.displayName}}</div>
                      <div class="comment_info_date">
                        {{ comment.createdAt | dateFormat:'DD-MM-YY hh:mm'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="empty"></div>
              <div class="fact_comment">
                <div class="comment__new">
                  <input
                    type="text"
                    class="comment__text gridster-item-content"
                    placeholder="Напишите свой комментарий..."
                    (keypress)="onEnterPush($event)"
                    #commentInput
                  />
                  <button type="submit" class="button comment__file   gridster-item-content">
                    <svg-icon
                      class="button__icon"
                      src="./assets/icons/widgets/change-shift/add_file.svg"
                    >
                    </svg-icon>
                  </button>
                  <button
                    type="submit"
                    class="button comment__submit  gridster-item-content"
                    (click)="onSendMessage(true)"
                  >
                    <svg-icon
                      class="button__icon"
                      src="./assets/icons/widgets/change-shift/send.svg"
                    ></svg-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="overlay-retrieval__footer">
          <div class="workspace__submit">
            <div class="submit__frame submit__frame-left"></div>
            <div class="submit__frame submit__frame-right"></div>
            <button type="submit gridster-item-content" (click)="overlayClose()">
              Отменить
            </button>
          </div>
          <div class="workspace__submit" style="margin-left: 5px;">
            <div class="submit__frame submit__frame-left"></div>
            <div class="submit__frame submit__frame-right"></div>
            <button
              *ngIf="!ewService.isEditRetrievalEvent"
              type="submit gridster-item-content"
              (click)="saveRetrieval()"
            >
              Сохранить
            </button>
            <button
              *ngIf="ewService.isEditRetrievalEvent"
              type="submit gridster-item-content"
              (click)="editSaveRetrieval()"
            >
              Изменить и сохранить
            </button>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</div>
