.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  width: calc(100% - 2px);
  height: 100%;
  display: flex;

  &__left {
    width: 35%;
    min-width: 170px;
    border: 0.8px solid var(--color-smp-border);
    border-left: none;
    border-right: none;

    .b-a {
      position: relative;

      &:before {
        content: "";
        z-index: 999;
        width: 22px;
        height: 10px;
        position: absolute;
        left: -7px;
        top: -2px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(-225deg);
      }

      &:after {
        content: "";
        z-index: 999;
        width: 22px;
        height: 10px;
        position: absolute;
        right: -7px;
        top: 5px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(-45deg);
      }
    }

    .frame-top {
      height: 15px;
      background: linear-gradient(180deg, #5b607d 0%, rgba(91, 96, 125, 0) 100%);
      opacity: 0.2;
    }

    .frame-bottom {
      height: 15px;
      position: relative;
      background: var(--color-bg-header-table);

      &:before {
        content: "";
        width: 24px;
        height: 12px;
        position: absolute;
        left: -8px;
        top: 7px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        width: 24px;
        height: 10px;
        position: absolute;
        right: -8px;
        top: 0px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(-135deg);
      }
    }
  }

  &__middle {
    width: 100%;
  }

  &__right {
    width: 35%;
    min-width: 170px;
    border: 0.8px solid var(--color-smp-border);
    border-left: none;
    border-right: none;

    .b-a {
      position: relative;

      &:before {
        content: "";
        width: 22px;
        height: 10px;
        position: absolute;
        left: -7px;
        top: 5px;
        z-index: 999;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(45deg);
      }

      &:after {
        content: "";
        width: 22px;
        height: 12px;
        position: absolute;
        right: -7px;
        top: -4px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(-135deg);
      }
    }

    .frame-top {
      height: 15px;
      border-bottom: none;
      position: relative;
      background: linear-gradient(180deg, #5b607d 0%, rgba(91, 96, 125, 0) 100%);
      opacity: 0.2;
    }

    .frame-bottom {
      height: 15px;
      position: relative;
      background: var(--color-bg-header-table);

      &:before {
        content: "";
        width: 24px;
        height: 10px;
        position: absolute;
        left: -8px;
        top: 0px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(135deg);
      }

      &:after {
        content: "";
        width: 24px;
        height: 12px;
        position: absolute;
        right: -7px;
        top: 7px;
        border-top: 0.8px solid var(--color-smp-border);
        background: var(--color-bg-main);
        transform: rotate(-45deg);
      }
    }

    ::ng-deep {
      .container-park {
        margin: 0 auto;
        margin-right: 0px;
      }
    }
  }
}
