::ng-deep .background {
  & > * {
    fill: var(--gray-G12-color);
  }
}

::ng-deep .main {
  & > * {
    fill: var(--border-blue-color);
  }
}

::ng-deep .sub {
  & > * {
    fill: var(--index-error-color);
  }
}

::ng-deep .serif-active {
  & > * {
    stroke: var(--border-blue-color);
  }
}

::ng-deep .serif-warning {
  & > * {
    stroke: var(--index-error-color);
  }
}

::ng-deep .text {
  &__value {
    fill: var(--text-contrast-color);
    font-size: 12px;
  }

  &__deviation {
    fill: var(--text-subscript-color);
    font-size: 7px;
  }

  &__plan {
    fill: var(--text-subscript-color);
    font-size: 7px;
  }
}

::ng-deep .line {
  stroke: var(--border-icon-color);
  stroke-width: 1;
  opacity: 0.7;
}

::ng-deep {
  .needle {
    fill: var(--gray-G1-color);
  }

  .needle-hover-circle-back-d {
    fill: var(--color-kpe-key-p-d-bg-d);
  }

  .kpe-gauge-hide-down-sector-d {
    fill: var(--color-kpe-key-p-d-bg-d);
  }

  .needle-hover-circle-back {
    fill: var(--bg-body-color);
  }

  .kpe-gauge-hide-down-sector {
    fill: var(--bg-body-color);
  }

  .needle-shadow-gradient-1 {
    stop-color: var(--gradient-main-color-3);
  }

  .needle-shadow-gradient-2 {
    stop-color: transparent;
    stop-opacity: 0;
  }
}
