<div class="container">
    <div class="title">
        <svg-icon 
            src = 'assets/icons/widgets/events/letter.svg'
            class = 'title__icon'
        ></svg-icon>
        <span class="title__text">Новые события</span>
        <svg-icon
            src = 'assets/icons/close.svg'
            class = 'close-btn'
            (click)="toggleMenu()"
        ></svg-icon>
    </div>
    <div class="body-container">
        <div class="events-list">
            <evj-user-events-item
                [icon2] = "'smotr'"
                [eventStatus] = "'default'" 
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'smotr'"
                [eventStatus] = "'default'"            
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'drops'"
                [eventStatus] = "'danger'"               
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'smotr'"
                [eventStatus] = "'normal'"     
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'smotr'"
                [eventStatus] = "'danger'"              
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'drops'"
                [eventStatus] = "'normal'"            
            ></evj-user-events-item>
    
            <evj-user-events-item
                [icon2] = "'drops'"
                [eventStatus] = "'normal'"              
            ></evj-user-events-item>
        </div>
    </div>
</div>

<div class="treangle">
</div>

