.line-diagram {
  height: 40px;
  width: 100%;
  border: 1px solid var(--ozsm-color-border);
  border-radius: 2px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &__info {
    height: 100%;;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
    padding-right: 8px;
  }
  &__title {
    height: 14px;
    width: 100%;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__value {
    height: 100%;
    width: 60px;
    background-color: var(--ozsm-color-line-bg);
    border-radius: 0px 2px 2px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  &__level-empty {
    height: 8px;
    width: 100%;
    border: 1px solid var(--color-gray80);
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    .level {
      height: 100%;
      box-sizing: border-box;
      background-color: var(--ozsm-color-active);
      border: 1px solid var(--ozsm-color-bg-main);
      border-radius: 2px;
    }
  }
}
