.line-diagram {
  display: flex;
  height: 40px;
  width: 100%;
  gap: 1px;
  color: var(--ozsm-color-text-main);
  border-left: 2px solid var(--ozsm-color-border-due);
  justify-content: space-between;
  box-sizing: border-box;

  & > * {
    background: var(--ozsm-color-bg-card);
  }

  &__info {
    height: 100%;
    width: calc(100% - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 8px;
  }
  &__title {
    height: 14px;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__value {
    height: 100%;
    width: 60px;
    background-color: var(--ozsm-color-line-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  &__level-empty {
    height: 8px;
    width: 100%;
    padding: 1px;
    border: 1px solid var(--ozsm-color-border-due);
    border-radius: 2px;
    box-sizing: border-box;
    .level {
      height: 100%;
      box-sizing: border-box;
      background-color: var(--ozsm-color-active);
      border-radius: 1px;
    }
  }
}

.disabled {
  color: var(--ozsm-color-text-disabled);
}
