<div class="container">
  <evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle" type="astue" icon="calculator">
    <div class="header-unit">
      <span class="unit">%</span>
      <span class="description">ед.изм</span>
    </div>
  </evj-contemporary-widget-header>
  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="settings" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div
        *ngFor="let setting of data; let i = index"
        class="settings__item"
        [ngClass]="{'active': choosenItem === i}"
        (click)="changeSettings(i)"
      >
        <span>{{setting?.title}}</span>
        <span class="value">{{setting?.value}} <span class="unit">%</span></span>
      </div>
    </div>
    <div class="products-container">
      <div class="products" *ngFor="let item of data[choosenItem]?.product">
        <div class="products__name">
          <span class="name">{{item?.productTitle}}</span>
          <span class="value">{{item?.value}}</span>
        </div>
        <div class="shadow"></div>
        <div class="products__list">
          <div class="product" *ngFor="let product of item.items">
            <span class="product__name">{{product?.name}}</span>
            <span class="product__value">{{product?.value}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
