.filter_name{
    font-size: 6px;
    color: var(--color-text-sub);
}
.result_search{
    color: white;
    width: 120px;
    height: 35px;
    background-color: var(--color-bg-sub);
    border-radius: 5px;
    margin: 3px auto;
    font-size: 14px;
    text-align: center;
    line-height: 35px;

    &:hover{
        background-color: gray;
        cursor: pointer;
    }
}


.result_list{
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}