$color-preparation-mbo: #054f8a;
$color-passport-system-mbo: #076a96;
$color-shipment-mbo: #89b9d3;
$color-quality-stock-mbo: #c88823;
$color-substandard-mbo: #b4433c;
$color-holding-tank: #757a8f;

.widget-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.outside-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block;
  z-index: 10;
}

.container {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid var(--color-border-new-mbo);

  z-index: 999;

  &-body {
    display: flex;
    flex-direction: column;

    border: 2px solid var(--color-aps-border);

    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 7px;
    z-index: 999;
    position: relative;

    width: calc(100% - 3px);
    height: calc(100% - 43px);

    background-size: auto;
    background-color: var(--color-aps-bg);

    &::before {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      bottom: 3px;
      width: 90px;
      height: 15px;
      left: 7px;
      margin-top: -6px;
      margin-left: -2px;
      transform: scaleY(-1);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      width: 90px;
      height: 15px;
      bottom: 3px;
      right: 0;
      margin-top: -6px;
      margin-left: -2px;
      transform: scale(-1, -1);
    }
  }

  &-table {
    position: sticky;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: block;
    height: 40%;
  }
}

.content-container {
  display: flex;
  align-items: center;
}

p {
  padding: 5px 0;
}

.mat-cell {
  font-size: 12px;
}

.header {
  min-height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  overflow: hidden;

  &__button {
    min-width: 144px;
    font-size: 11px;
    margin-top: 5px;
    text-align: center;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/btn-right.svg) no-repeat;
  }
  &__button {
    &-left-top {
      cursor: pointer;
      min-width: 52px;
      height: 24px;
      font-size: 11px;
      text-align: center;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/button-left-top.svg) no-repeat;
    }
  }
  &__title {
    display: flex;
    min-width: 325px;
    font-weight: 500;
    font-size: 14px;
    color: var(--color-text-sup);
    &_text {
      padding-top: 4px;
    }
  }

  &__right {
    &__buttons {
      display: flex;
      //   margin-left: 30px;
      //   margin-top: 5px;
      min-height: 24px;
      min-width: 236px;
    }
  }

  &__info {
    display: flex;
    min-width: 500px;
    color: #5a5f82;

    margin: 0;
    padding: 0;
    list-style: none;

    margin-left: 60px;

    &-item {
      padding-right: 12px;
      display: flex;
      align-items: center;
      min-width: 60px;
    }

    &-1 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-timeLowerOrIncrease));
      border-radius: 10px;
      margin-right: 10px;
    }

    &-2 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-fixedSelection));
      border-radius: 10px;

      margin-right: 10px;
    }

    &-3 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-minOrMaxLoad));
      border-radius: 10px;

      margin-right: 10px;
    }

    &-4 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-fixedLoad));
      border-radius: 10px;

      margin-right: 10px;
    }

    &-5 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-engagementRate));
      border-radius: 10px;

      margin-right: 10px;
    }

    &-6 {
      height: 10px;
      min-width: 10px;
      width: 10px;
      background-color: rgb(var(--color-aps-fixedQualityScore));
      border-radius: 10px;
      margin-right: 10px;
    }
  }

  &__right {
    display: flex;

    margin-left: 30px;
    // min-width: 645px;
    min-height: 24px;

    &__button-date {
      width: 645px;
    }
  }
}

.children-table {
  tr {
    td:nth-child(2) {
      display: flex;
      align-items: center;
      margin-left: 175px;
      border-left: 1px solid #2d3344;
    }

    td {
      &:first-of-type {
        background: var(--color-bg-mbo-active);

        width: 175px;
        padding: 0 !important;
      }

      &:hover {
        &:first-of-type {
          background: var(--color-hover-mbo-table);

          width: 175px;
          padding: 0 !important;
        }

        // background: url(../../../../../assets/icons/widgets/gantt-chart/bg-line.svg);
        background-size: cover;
      }
    }
  }
}

.line {
  height: 15px;
  width: 100%;
  display: flex;
  position: relative;

  .timeLowerOrIncrease {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 12px;
    background-color: rgba(var(--color-aps-timeLowerOrIncrease), 0.6);
    border: 2px solid rgba(var(--color-aps-timeLowerOrIncrease), 1);
    z-index: 11;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }

  .fixedSelection {
    pointer-events: fill;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 14px;
    background-color: rgba(var(--color-aps-fixedSelection), 0.6);
    border: 2px solid rgba(var(--color-aps-fixedSelection), 1);
    z-index: 12;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }

  .minOrMaxLoad {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 14px;
    background-color: rgba(var(--color-aps-minOrMaxLoad), 0.6);
    border: 2px solid rgba(var(--color-aps-minOrMaxLoad), 1);
    z-index: 13;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }

  .fixedLoad {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 14px;
    background-color: rgba(var(--color-aps-fixedLoad), 0.6);
    border: 2px solid rgba(var(--color-aps-fixedLoad), 1);
    z-index: 14;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }

  .engagementRate {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 14px;
    background-color: rgba(var(--color-aps-engagementRate), 0.6);
    border: 2px solid rgba(var(--color-aps-engagementRate), 1);
    z-index: 15;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }

  .fixedQualityScore {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 14px;
    background-color: rgba(var(--color-aps-fixedQualityScore), 0.6);
    border: 2px solid rgba(var(--color-aps-fixedQualityScore), 1);
    z-index: 16;
    &--first {
      &:after {
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid var(--color-bg-mbo-component);
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        height: 6px;
        width: 0;
      }
    }
    &--last {
      &:before {
        content: "";
        right: 0;
        bottom: 0;
        position: absolute;
        border-left: 4px solid transparent;
        border-top: 4px solid var(--color-bg-mbo-component);
        border-bottom: 4px solid var(--color-bg-mbo-component);
        height: 6px;
        width: 0;
      }
    }
  }
  &__icon {
    position: absolute;
    left: 0px;
    top: 0.8px;
  }

  .icon {
    &__preparation {
      cursor: pointer;
      position: absolute;
      z-index: 18;
      top: -5px;

      &--preparation {
        fill: $color-preparation-mbo;
      }
      &--passport-system {
        fill: $color-passport-system-mbo;
      }
      &--holding-tank {
        fill: #757a8f;
      }
      &--substandard {
        fill: $color-substandard-mbo;
      }
      &--quality-stock {
        fill: $color-quality-stock-mbo;
      }
    }
    &__select {
      position: relative;
      top: -6px;
      z-index: 19;
    }
    &__select-right {
      position: absolute;
      top: -6px;
      z-index: 19;
    }
  }
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.expand_panel {
  background: var(--color-bg-mbo-active);
}

.mat-footer-row {
  align-items: stretch;
}

.expand__table {
  td {
    height: 54px;
    padding: 0 !important;
  }
}

// Scroll
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  margin-left: 270px;
  //   margin-right: 178px;
  margin-top: 37px;
}

::-webkit-scrollbar-track-piece {
  border: solid 1px var(--color-scroll);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll);
  border-radius: 25px;
}

::-webkit-scrollbar-corner {
  border-radius: 25px;
}

::-webkit-resizer {
  border-radius: 25px;
}

.table {
  font-family: Tahoma;
  font-size: 12px;

  border-spacing: 0px 5px;
  border-collapse: separate;

  height: calc(100% - 9px);

  &__header {
    &__row {
      height: 30px;
      background-color: var(--color-bg-row-header);
    }

    &__column {
      font-size: 12px;
      width: 94px;
      font-weight: normal;
      top: 0px;
      position: sticky;
      z-index: 100;

      &:first-of-type {
        color: #8998b3;
        background: var(--color-bg-mbo-component);
        position: sticky;
        left: 0;
        z-index: 101;
        // background: url(../../../../../assets/icons/widgets/gantt-chart/product-name.svg), #1b1f2c;
        background-repeat: no-repeat;
        background-size: 78px 32px;

        &::after {
          content: "";
          position: absolute;
          width: 20px;
          height: 40px;
          right: -20px;
          top: -4px;
          background: url(../../../../assets\icons\widgets\APS\aps-gantt-chart\gradient-black.svg);
          background-repeat: no-repeat;
        }
      }

      &__title {
        font-size: 8px;
        padding: 0 3px;
        &-product {
          margin-top: -4px;
          //   background: url(../../../../../assets/icons/widgets/gantt-chart/product-name.svg);
        }
        &-production {
          padding-left: 37px;
        }
      }
      &__titles {
        display: flex;
        padding-top: 10px;
      }

      &__name {
        &__gradient {
          position: absolute;
          left: 0;
          top: 1px;
        }
        &__icon {
          position: absolute;
          left: 9px;
          top: 7px;
        }
        &__text {
          color: var(--color-aps-border-light);
        }
        &__pims {
          margin-left: 33px;
          color: var(--color-aps-border-light);
        }
        &__search {
          margin-left: 74px;
        }
      }
    }
  }

  &__body {
    &__row {
      font-size: 12px;
      height: 41px;
      // border: 1px solid var(--color-aps-border);
      // border-left: 2px solid var(--color-aps-border-sub);
      transition: all 150ms;

      &--active {
        // border: 1px solid var(--color-aps-active);
        // border-left: 2px solid var(--color-aps-active);
      }

      &:hover:not(.last-tr) {
        // background: var(--color-hover-mbo-table);
        td {
          &:first-of-type {
            border-right: none;
            background: var(--color-aps-bg-sub-2);
          }
        }
      }
      &.expanded-row {
        background: none;
        box-shadow: none;
      }

      &.last-tr {
        height: 100%;
        background: none;
        box-shadow: none;
        td {
          //   background: url(../../../../../assets/icons/widgets/gantt-chart/bg-line.svg);
          background: auto;

          &:first-of-type {
            min-width: 173px;
            max-width: 173px;
            padding: 0 !important;
            // background: var(--color-bg-mbo-sup);

            position: sticky;
            left: 0;
            z-index: 1;
            border-right: none;
          }
          &:nth-child(2) {
            // background: url(../../../../../assets/icons/widgets/gantt-chart/bg-line.svg);
            // background-position: left, center;
            background-size: auto;
          }
        }
        &:hover {
          background: none;
        }
      }
    }

    &__column {
      width: 94px;
      height: 27px;

      text-align: center;
      //   border-right: 1px solid #2d3344;
      //   background: url(../../../../../assets/icons/widgets/gantt-chart/bg-line.svg);
      background-size: cover;

      border-top: 1px solid var(--color-aps-border);
      border-bottom: 1px solid var(--color-aps-border);

      &__children {
        &:first-child {
          border-left: 2px solid transparent !important;
        }

        &--active {
          border-top: 1px solid var(--color-aps-active);
          border-bottom: 1px solid var(--color-aps-active);

          &:first-child {
            border-left: 2px solid transparent !important;
          }
          &:last-of-type {
            padding: 0 !important;
            border-right: 1px solid var(--color-aps-active) !important;
          }
        }
      }

      &--active {
        border-top: 1px solid var(--color-aps-active);
        border-bottom: 1px solid var(--color-aps-active);

        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }
        &:last-of-type {
          padding: 0 !important;
          border-right: 1px solid var(--color-aps-active) !important;
        }
      }

      &--expand {
        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }
      }

      &:first-child {
        min-width: 262px;
        max-width: 262px;
        padding: 0 !important;
        border-left: 2px solid var(--color-aps-border-sub);
        background: var(--color-aps-bg-sub-2);

        position: sticky;
        left: 0;
        z-index: 20;
        border-right: none;

        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 45px;
          right: -10px;
          top: 0px;
          background: url(../../../../assets\icons\widgets\APS\aps-gantt-chart\gradient-black.svg);
          background-repeat: no-repeat;
        }
      }

      &:last-of-type {
        padding: 0 !important;
        border-right: 1px solid var(--color-aps-border);
      }

      &__row-title {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__icon {
          stroke: var(--color-aps-bg-icon);
          margin-left: 9px;
          z-index: 1;
          transition: all 200ms;
          &--active {
            stroke: var(--color-aps-active);
            transform: rotateZ(45deg);
          }

          &__background {
            position: absolute;
            top: -1px;
            left: 0;

            &-children {
              position: absolute;
              top: -1px;
              left: 18px;
            }
          }
        }

        &__text {
          margin-left: 10px;
          width: 115px;
          max-width: 115px;
          text-align: left;
        }

        &__value {
          &__background {
            position: absolute;
            left: 150px;
            top: 1px;
          }

          &__texts {
            margin-left: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &__text {
            &--orange {
              color: var(--color-aps-orange);
            }
          }
        }

        .row-title {
          user-select: none;
          &__icon {
            &-arrow-top {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }
            &-arrow-bottom {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-border {
              width: 2px;
              max-width: 2px;
              height: 13px;
              fill: var(--color-border-main);
              &-warning {
                fill: var(--color-warning);
              }
            }
            &-circle {
              min-width: 6px;
              height: 14px;
              stroke: var(--color-active);
              &-warning {
                stroke: var(--color-warning);
              }
            }
            &-line {
              width: 13px;
              left: 1px;
              top: -20px;
              z-index: -1;
              position: absolute;
            }
          }
        }

        &--no-active {
          color: var(--color-aps-text-sub);
        }

        &-children {
          margin-left: 25px;

          &__left-block {
            position: absolute;
            left: -2px;
            top: -26px;

            &__background {
              fill: var(--color-bg-main);
            }

            &--first {
              position: absolute;
              left: -2px;
              top: -9px;
            }
          }
          .row-title {
            &__icon {
              &-border {
                width: 7.2px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

.header {
  border-top: 1px solid var(--color-border-new-mbo);
  padding-top: 1.5px;
  &::before {
    content: "";
    position: absolute;
    z-index: 9999;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
    width: 90px;
    height: 15px;

    left: 4px;
    top: 5px;
  }

  &__right {
    &::before {
      content: "";
      position: absolute;
      z-index: 9999;
      // background: url(../../../../../assets/icons/widgets/gantt-chart/border-left-top.svg) no-repeat;
      width: 94px;
      height: 15px;
      top: 3px;
      right: -6px;
      margin-top: 2px;
      margin-right: 4px;
      transform: scale(-1, 1);
    }
  }
}

.frame {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 5px;

  img {
    width: 100%;
  }

  &-top {
    top: 10px;
  }

  &-bottom {
    bottom: 10px;
  }
}

.gradient {
  position: absolute;

  width: 100%;
  height: 30px;

  &-top {
    top: 12px;
    background: linear-gradient(to bottom, var(--color-bg-widget-gradient) 0%, transparent 60%);

    &::before {
      content: "";
      position: absolute;

      width: 15px;
      height: 15px;

      top: -9px;
      left: -9px;

      transform: rotate(45deg);

      background: var(--color-bg-main);
    }

    &::after {
      content: "";
      position: absolute;

      width: 15px;
      height: 15px;

      top: -9px;
      right: -9px;

      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &-bottom {
    bottom: 10px;
    background: linear-gradient(to top, var(--color-bg-widget-gradient) 0%, transparent 60%);
  }

  &::before {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;

    bottom: -9px;
    left: -9px;

    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &::after {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;

    bottom: -9px;
    right: -9px;

    transform: rotate(45deg);

    background: var(--color-bg-main);
  }
}

.table__expand {
  height: 290px;
}

.bottom-btn__expand {
  cursor: pointer;

  position: absolute;
  z-index: 9999;
  // background: url(../../../../../assets/icons/widgets/recipe-diagram/btn-expand.svg) no-repeat;
  width: 94px;
  height: 15px;
  bottom: 3px;
  left: 47%;

  &-arrow-open {
    position: absolute;
    z-index: 9999;
    width: 11px;
    height: 5px;
    bottom: 8px;
    left: 45%;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/arrow-bottom.svg) no-repeat;
  }
  &-arrow-close {
    position: absolute;
    z-index: 9999;
    width: 11px;
    height: 5px;
    bottom: 8px;
    left: 45%;
    // background: url(../../../../../assets/icons/widgets/gantt-chart/arrow-top.svg) no-repeat;
  }
}

select {
  position: relative;
  z-index: 2;

  box-sizing: border-box;

  color: var(--color-text-main);
  background: transparent;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  option {
    background: var(--color-bg-main);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

.select-gantt {
  height: 26px !important;
  top: -6px;
  opacity: 0.25;
  border-radius: 3px;
}

.opacity {
  &--shipment {
    background-color: #2e3d4b !important;
  }

  &--preparation {
    background-color: #16283e !important;
  }

  &--holding-tank {
    background-color: #3a3c42 !important;
  }

  &--passport-system {
    background-color: #173349 !important;
  }

  &--quality-stock {
    background-color: #684d26 !important;
  }

  &--substandard {
    background-color: #35222b !important;
  }
}

.z-index-chooseElement {
  z-index: 19 !important;
}

.opacity {
  opacity: 0.6;
}

.gradient1 {
  background: linear-gradient(90deg, #be6630 0%, #b4433c 10px, #b4433c 80%, #b4433c 100%);
}

.gradient1 {
  background: linear-gradient(90deg, #c88823 0%, #c88823 10px, #c88823 80%, #be6630 100%);
}

.preparation-quality-stock-shipment {
  background: linear-gradient(90deg, #be6630 0%, #b4433c 10px, #b4433c 80%, #b4433c 100%);
}
