@import '../../../../../theme/mixins/mixin-centering';

:host * {
    box-sizing: border-box;
}

.radar-chart {
  background: var(--bg-body-color);
  padding: 10px 16px 6px 16px;
  border: 1px solid var(--border-vidget-color);
  border-radius: 2px;

  &_selected {
    border-color: var(--border-blue-color);
    box-shadow: 0 0 9px var(--opacity-plan-50-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &::ng-deep {
      .mat-checkbox-frame {
        border-radius: 50%;
      }
      .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
      .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        background-color: var(--border-blue-color);
        border-radius: 50%;

        .mat-checkbox-checkmark {
          display: none;
        }
      }

      .mat-checkbox-checked.mat-accent .mat-checkbox-background {
        &::before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: var(--gray-G1-color);
          border-radius: 50%;
        }
      }
    }
  }

  &__name-wrapper {
    display: flex;
  }

  &__name {
    font-size: 13px;
    line-height: 16px;
    color: var(--text-contrast-color);
  }

  &__graph {
    max-width: 428px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: var(--text-contrast-color);
  }
}

.radar {
  height: 255px;

  ::ng-deep {
    .radar__grow-up {
      fill: var(--index-green1-color);
    }

    .radar__grow-down {
      fill: var(--index-error-color);
    }
  }
}
