@import '../../../../../theme/mixins/mixin-centering';

:host * {
    box-sizing: border-box;
}

.radar-chart {
  background: var(--bg-body-color);
  padding: 16px;
  border: 1px solid var(--border-vidget-color);
  border-radius: 2px;

  &_selected {
    border-color: var(--border-blue-color);
    box-shadow: 0 0 9px var(--opacity-plan-50-color);
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &::ng-deep {
      .mat-radio-label-content {
        display: none;
      }

      .mat-radio-container {
        width: 16px;
        height: 16px;
      }

      .mat-radio-outer-circle {
        width: 16px;
        height: 16px;
        border: 1px solid var(--toggler-border);
      }

      .mat-radio-checked {
        .mat-radio-outer-circle {
          border-color: var(--border-blue-color);
          border-width: 3px;
        }

        .mat-radio-inner-circle {
          @include center-xy;

          background-color: var(--text-accent-color);
          height: 10px;
          width: 10px;
        }
      }
    }
  }

  &__name-wrapper {
    display: flex;
  }

  &__name {
    font-size: 13px;
    line-height: 16px;
    color: var(--text-contrast-color);
  }

  &__graph {
    height: 255px;
    max-width: 428px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__icon {
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    color: var(--text-contrast-color);
  }
}

.radar {
  ::ng-deep {
    .radar__grow-up {
      fill: var(--index-green1-color);
    }

    .radar__grow-down {
      fill: var(--index-error-color);
    }
  }
}
