<div class="container">
  <table class="table">
    <thead class="table__header">
      <tr class="table__header__shadow">
        <ng-container *ngFor="let column of columnsToDisplay">
          <ng-container [ngSwitch]="column.id">
            <th *ngSwitchCase="'1'">
              <div class="input">
                <div class="input-block">
                  <div class="search-icon">
                    <svg-icon [svgStyle]="{'height.px':'16', 'width.px': '16'}" [src]="'assets/icons/search-icon.svg'">
                    </svg-icon>
                  </div>
                  <div class="input-block__input">
                    <div class="input-back">
                      <input type="text" placeholder="Поиск по компонентам" [(ngModel)]="search" />
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th *ngSwitchCase="'4'">
              <evj-kpe-select-header
              [items]="averageConsumption"
              [type]="'average'"
              ></evj-kpe-select-header>
            </th>
            <th *ngSwitchCase="'5'">
              <evj-kpe-select-header
              [items]="instantConsumption"
              [type]="'instant'"
              ></evj-kpe-select-header>
            </th>
            <th *ngSwitchCase="'9'">
              <div class="deviation-header">
                <pre><span>  Откл. прогноза от плана  </span></pre>
                <div class="deviation-header__value-left">
                  <span>т</span>
                </div>
                <div class="deviation-header__value-right">
                  <span>%</span>
                </div>
              </div>
            </th>
            <th *ngSwitchDefault>
              <span>{{ column.name }}</span>
            </th>
          </ng-container>
        </ng-container>
      </tr>
      <tr class="table__header__empty"></tr>
    </thead>
    <tbody class="table__body">
      <ng-container *ngFor="let element of (data$ | async)">
        <tr
          class="table__body__row"
          [class.last-tr]="element.name === 'last-row'"
          [class.table__body__row--active]="selectedRowProduct === element.name"
        >
          <ng-container *ngIf="element.name !== 'last-row'">
            <td
              class="table__body__column"
              [class.table__body__column--active]="selectedRowProduct === element.name"
              (click)="onClickRow($event, element)"
              colspan="11"
            >
              <div
                (click)="onClickRow($event, element)"
                class="table__body__column__row-title"
                [class.table__body__column__row-title__border-active]="selectedRowProduct === element.name"
              >
                <svg-icon
                  class="table__body__column__row-title__icon"
                  (click)="onClickTr($event, element)"
                  [ngClass]="{
                  'table__body__column__row-title__icon--active': !expandedElement.isSelected(element.name)
                  }"
                  src="assets/icons/widgets/APS/aps-gantt-chart/plus.svg"
                >
                </svg-icon>
                <div class="table__body__column__row-title">
                  <div class="table__body__column__row-title__text__name">
                    <span>{{ element.name }}</span>
                  </div>
                </div>
                <div class="table__body__column__row-title__text__name__value-right">
                  <div class="deviations">
                    Отклонений:
                    <div class="default-text">{{ element.eventCount }}</div>
                  </div>
                  <div class="deviations">
                    Некритичные:
                    <div class="warning-text">{{ element.nonCriticalEventCount }}</div>
                  </div>
                  <div class="deviations">
                    Критичные:
                    <div class="danger-text">{{ element.criticalEventCount }}</div>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>
        </tr>
        <ng-container *ngFor="let elementChildren of element.rows | kpeComponentsSearch: search">
          <tr
            *ngIf="!expandedElement.isSelected(element.name)"
            class="table__body__row expanded-row"
            (click)="onClickRowChildren($event, elementChildren)"
          >
            <td
              *ngFor="let column of columnsToDisplay"
              class="expanded-column table__body__column table__body__column__children"
              [ngClass]="{
                'expanded-column__warning': column.id === '9' && elementChildren.deviationColor === '2',
                'expanded-column__danger': column.id === '9' && elementChildren.deviationColor === '1'
                }"
              [matTooltip]="elementChildren?.name"
            >
              <div
                *ngIf="column.id === '1'"
                class="table__body__column__row-title table__body__column__row-title-children"
                [class.opacity]="selectedRow.isSelected(element.name) && this.selectedRowProduct"
              >
                <svg-icon
                  class="table__body__column__row-title-children__left-block--first"
                  [class.table__body__column__row-title-children__left-block--first__warning]="elementChildren.deviationColor === '2'"
                  [class.table__body__column__row-title-children__left-block--first__danger]="elementChildren.deviationColor === '1'"
                  [class.table__body__column__row-title-children__left-block--first__default]="selectedRowProduct !== elementChildren.name"
                  [class.table__body__column__row-title-children__left-block--first__active]="selectedRowProduct === elementChildren.name && elementChildren.deviationColor === '1'"
                  [class.table__body__column__row-title-children__left-block--first__active-warning]="selectedRowProduct === elementChildren.name && elementChildren.deviationColor === '2'"
                  [src]="'assets/icons/widgets/KPE/kpe-table/dropdown.svg'"
                >
                </svg-icon>
                <div
                  class="table__body__column__row-title__text__subname"
                  [class.table__body__column__row-title--no-active]="selectedRow.isSelected(element.name)"
                >
                  <span>{{ elementChildren.name }}</span>
                </div>
                <div
                  class="table__body__column__row-title__engUnit"
                  [class.table__body__column__row-title--no-active]="selectedRow.isSelected(element.name)"
                ></div>
              </div>
              <ng-container *ngIf="column.id === '2'">
                <div class="value">
                  <span>{{elementChildren.plan }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '3'">
                <div class="value">
                  <span>{{elementChildren.valuePlan }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '4'">
                <div class="value">
                  <span>{{ selectAverageUnit === 0 ? elementChildren.averageTonne : elementChildren.averageM3}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '5'">
                <div class="value">
                  <span>{{ selectInstantUnit === 0 ? elementChildren.instantTonne : elementChildren.instantM3 }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '6'">
                <div class="value">
                  <span>{{elementChildren.total }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '7'">
                <div class="value">
                  <span>{{elementChildren.planPercent }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '8'">
                <div class="value">
                  <span>{{elementChildren.prediction }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '9'">
                <div class="value">
                  <span>{{elementChildren.deviation}}</span>
                  <span>{{elementChildren.deviationPercent }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '10'">
                <div class="value">
                  <span>{{elementChildren.valueRecommended }}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="column.id === '11'">
                <div class="value">
                  <div class="icon">
                    <svg-icon
                      [svgStyle]="{'height.px':'16', 'width.px': '16'}"
                      [src]="'assets/icons/widgets/KPE/kpe-table/comment.svg'"
                    >
                    </svg-icon>
                  </div>
                </div>
              </ng-container>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
  <div class="container__footer">
    <div class="button">
      <div class="button__cloud">
        <svg-icon src="assets/icons/widgets/KPE/kpe-table/cloud.svg"></svg-icon>
      </div>
      <div class="button__text">
        Загрузить
      </div>
    </div>
    <div class="container__date">
      <div class="container__date__title">Время и дата</div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
    <div class="container__date">
      <div class="container__date__title">Время начала отсчета</div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
    <div class="container__date">
      <div class="container__date__title">Прогнозное время</div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
    <div class="button">
      <div class="button__text">Рассчитать</div>
    </div>
  </div>
</div>
