<div class="container">
  <evj-contemporary-widget-header
    [icon]="null"
    [uniqId]="widgetUniqId"
    [widgetTitle]="widgetTitle"
    type="astue"
  ></evj-contemporary-widget-header>
  <!--TODO временно скрыто в соответсвии с реализацией тикета 2181-->
  <!--<div class="filter-panel" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <ng-container *ngTemplateOutlet="filterSelect; context: {label: 'Ресурс'}"></ng-container>
    <ng-container *ngTemplateOutlet="filterSelect; context: {label: 'Производство'}"></ng-container>
    <ng-container *ngTemplateOutlet="filterSelect; context: {label: 'Установка'}"></ng-container>
  </div>-->
  <div class="table-content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="scroll-container scroll-bar">
      <ng-container *ngFor="let item of data">
        <ng-container *ngTemplateOutlet="card; context: {cardData: item}"></ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #card let-card="cardData">
  <div class="card">
    <div class="card_header">
      <div class="card_header__icon">
        <svg-icon src="assets/icons/widgets/ASTUE-ONPZ/astue-onpz-deviation-cards/header-icon.svg"></svg-icon>
      </div>
      <span class="card_header__title">{{card.category.description}}</span>
      <span style="flex-grow: 1"></span>
      <span class="card_header__unit">{{card.unit.name || 'Не известно'}}</span>
    </div>
    <div class="card_content">
      <div class="card_content__icon">
        <svg-icon
          [svgStyle]="{'width': '100%', 'height': '100%'}"
          src="assets/icons/widgets/SOU/warning.svg"
        ></svg-icon>
      </div>
      <div class="card_content__textarea">
        <span>{{card.description}}</span>
      </div>
    </div>
    <div class="card_footer">
      <span class="text_status">{{card.status.description}}</span>
      <span class="text_date">{{card.eventDateTime | date:"dd.MM.yyyy HH:MM"}}</span>
    </div>
  </div>
</ng-template>

<ng-template #filterSelect let-label="label">
  <div class="filter-select" [class.filter-select__mini]="label === 'Ресурс'">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <mat-select panelClass="mat-select-custom">
        <mat-option *ngFor="let p of ['Коллоны и реакторы']" [value]="p"> {{ p }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</ng-template>
