:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.container {
  flex-grow: 1;
  width: 100%;
  padding: 0 5px 5px 0;
  border: 1px var(--color-aps-border);
  border-style: none solid solid solid;
  background: var(--color-aps-structure-bg-main);
  box-sizing: border-box;
  overflow: hidden;
}

.btn-container {
  padding: 0 10px;

  flex: 1;
  display: flex;
  justify-content: flex-end;

  button {
    height: 30px;
    width: 177px;
    margin: 0 5px;
    padding: 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    background-color: var(--color-aps-bg-btns);
    color: var(--color-aps-white);

    outline: none;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: var(--color-aps-active);
    }
  }
}

.table-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}

table {
  position: relative;
  width: 100%;
  border-spacing: 1px 1px;
  border-collapse: separate;
  height: 100%;

  .text {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;

    display: flex;
    align-items: center;

    position: relative;

    &__value {
      width: 100%;
      height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      display: flex;
      align-items: center;
    }

    .shadow {
      display: none;
      pointer-events: none
    }
  }

  tr {
    background: var(--color-aps-table-bg-main);

    td {
      text-align: center;
      height: 40px;
      font-size: 14px;
      line-height: 17px;
      color: var(--color-aps-table-text-sub);

      .text {
        border: 1px solid var(--color-aps-main-axis);
        border-right: none;
        border-left: none;
      }

      &:first-child {
        .text {
          border-left: 2px solid var(--color-aps-bg-icon);
          .shadow {
            display: block;

            height: 40px;
            width: 60%;

            background: linear-gradient(90deg, var(--color-border-main) 0%, transparent 83.8%);
            opacity: 0.3;
            position: absolute;
            left: 0;

            pointer-events: none
          }
        }
      }
      &:last-child {
        .text {
          border-right: 2px solid var(--color-aps-bg-icon);
        }
      }
    }

    input {
      height: 30px;
      flex: 1;
      
      padding: 0 5px 0 5px;
      background: transparent;
      outline: none;
      border: none;
      color: var(--color-aps-table-text-sub);
      &::-webkit-input-placeholder {
        color: var(--color-aps-table-text-sub);
      }
    }
  }

  .active-row {
    background: var(--color-aps-table-bg-main-active);

    td {
      color: var(--color-aps-active-line);

      .text {
        border: 1px solid var(--color-aps-active);
        border-right: none;
        border-left: none;
      }

      &:first-child {
        .text {
          border-left: 2px solid var(--color-aps-active);
          .shadow {
            background: linear-gradient(90deg, var(--color-aps-active) 0%, transparent 83.8%);
            opacity: 0.4;

            pointer-events: none
          }
        }
      }
      &:last-child {
        .text {
          border-right: 2px solid var(--color-aps-active);
        }
      }
    }

    input {
      color: var(--color-aps-active-line);
      &::-webkit-input-placeholder {
        color: var(--color-aps-active-line);
      }
    }

    .active-col {
      background: var(--color-aps-bg-active-col);
    }
  }

  thead {
    tr {
      th {
        position: sticky;
        top: -2px;
        height: 70px;
        font-size: 13px;
        line-height: 16px;
        color: var(--color-aps-table-text-sub);
        .text {
          justify-content: center;
          background: var(--color-aps-table-bg-main);
          border: none;
          z-index: 900;
          svg-icon {
            display: none;
          }
        }
      }

      .active-col-title {
        .text {
          color: var(--color-aps-active-line);
          svg-icon {
            display: block;
            position: absolute;

            top: 5px;
          }
        }
      }
    }
  }
}
