:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.chart {
  width: 100%;
  height: 100%;
}

$column-width: 4px;

::ng-deep {
  .rect {
    height: 1px;
    width: $column-width;
    border-radius: 0.5px;
  }

  .rect-normal {
    fill: var(--index-plan-color);
  }

  .rect-white {
    fill: var(--index-fact-color);
  }

  .rect-orange {
    fill: var(--index-error-color);
  }

  .background-col {
    line {
      stroke-width: $column-width;
      border-radius: 1px;
    }

    path {
      color: transparent;
    }
  }

  .active {
    color: var(--opacity-plan-20-color);
  }

  .normal {
    color: var(--chart-segment-color);
  }

  .step-line {
    stroke: var(--index-plan-color);
    fill: transparent;
    stroke-width: 0.75px;
  }
}
