<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [id]="id"
    [units]=""
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <!-- <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <mat-calendar
      [dateClass]="dateClass()"
      #calendar
      [(selected)]="selectedDate"
      ngClass="calendar-red"
      locale="ru"
    ></mat-calendar>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
