.container_widget {
  height: 100%;
}

.content_block {
  height: calc(100% - 60px);
  width: calc(100% - 3px);
  border: 1px var(--color-border-main);
  border-style: none dashed none dashed;
  overflow: none;
  position: relative;
}

.blocks {
  width: 100%;
  min-width: 100px;
  height: calc(100%);
}

.components {
  display: flex;
  height: 100%;
}

.left_block {
  min-width: 310px;
  max-width: 310px;
  height: 100%;
  margin-left: 3px;
}

.middle_block {
  z-index: 999;
  width: 100%;
  height: 100%;
}

.right_block {
  min-width: 310px;
  max-width: 310px;
  height: 100%;
  margin-right: 3px;
}
