.container-info-content {
    height: 100%;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 5px;

    &__content {
        display: flex;
        border-radius: 15px;
        height: 100%;
        width: 100%;
        background-color: var(--color-oil-table);
        font-size: 14px;

        .block {
            margin-left: 40px;
            width: 50%;
            .time {
                height: 33%;
                align-items: center;
                display: flex;

                &__icon {
                }

                &__value {
                    color: white;
                }
            }

            .info {
                height: 33%;
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding-right: 30px;

                &__name {
                    width: 50%;
                    color: var(--color-text-sub);
                }

                &__value {
                }

                &__percent {
                }

                .normal {
                    color: white;
                }

                .active {
                    color: var(--color-border-active);
                }

                .notActive {
                    color: var(--color-text-sub);
                }
            }
        }
    }
}
