<div class="container-info-content">
    <div class="container-info-content__content">
        <div class="block">
            <div class="time">
                <div class="time__icon">
                    <svg-icon src="assets/icons/widgets/oil-control-all/reasons-deviations/clock.svg"
                        [svgStyle]="{ 'width.px':17, 'height.px':17 }">
                    </svg-icon>
                </div>
                <div class="time__value">
                    {{ data.timeFrom }} - {{ data.timeTo }}
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Отгружено по резервуару:
                </div>
                <div class="info__value">
                    {{ data.shipped.value | number : '0.0-2' }} т.
                </div>
                <div class="info__percent">
                    {{ data.shipped.percent | number : '0.0-2' }} %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    По данным отгрузки:
                </div>
                <div class="info__value">
                    {{ data.dataShipped.value | number : '0.0-2' }} т.
                </div>
                <div class="info__percent">
                    {{ data.dataShipped.percent | number : '0.0-2' }} %
                </div>
            </div>
        </div>
        <div class="block">
            <div class="info">
                <div class="info__name">
                    Дебаланс:
                </div>
                <div class="info__value">
                    {{ data.unbalance.value | number : '0.0-2' }} т.
                </div>
                <div class="info__percent">
                    {{ data.unbalance.percent | number : '0.0-2' }} %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Допустимый дебаланс:
                </div>
                <div class="info__value active">
                    {{ data.allowUnbalance.value | number : '0.0-2' }} т.
                </div>
                <div class="info__percent active">
                    {{ data.allowUnbalance.percent | number : '0.0-2' }} %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Отклонение:
                </div>
                <div class="info__value notActive" >
                    {{ data.deviation.value | number : '0.0-2' }} т.
                </div>
                <div class="info__percent notActive">
                    {{ data.deviation.percent | number : '0.0-2' }} %
                </div>
            </div>
        </div>
    </div>
</div>
