<div class="container-info-content">
    <div class="container-info-content__content">
        <div class="block">
            <div class="time">
                <div class="time__icon">
                    <svg-icon src="./assets/icons/login/visibility.svg" [svgStyle]="{ 'width.px':20, 'height.px':20 }">
                    </svg-icon>
                </div>
                <div class="time__value">
                    02:03:20 - 04:08:38
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Отгружено по резервуару:
                </div>
                <div class="info__value">
                    1667 т.
                </div>
                <div class="info__percent">
                    98.7 %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    По данным отгрузки:
                </div>
                <div class="info__value">
                    1667 т.
                </div>
                <div class="info__percent">
                    98.7 %
                </div>
            </div>
        </div>
        <div class="block">
            <div class="info">
                <div class="info__name">
                    Дебаланс:
                </div>
                <div class="info__value">
                    1667 т.
                </div>
                <div class="info__percent">
                    98.7 %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Допустимый дебаланс:
                </div>
                <div class="info__value">
                    1667 т.
                </div>
                <div class="info__percent">
                    98.7 %
                </div>
            </div>
            <div class="info">
                <div class="info__name">
                    Отклонение:
                </div>
                <div class="info__value">
                    1667 т.
                </div>
                <div class="info__percent">
                    98.7 %
                </div>
            </div>
        </div>
    </div>
</div>