<div class="events-correct">
  <div class="events-correct__header">
    <div [class.left-title]="!isSmotr">Корректирующие мероприятия</div>
    <div
      matTooltip="Привязать существующее событие"
      class="button__search"
      (click)="openSearchRetrieval()"
      [class.button__search_bottom]="!isSmotr"
    >
      <svg-icon
        src="assets/icons/widgets/workspace/searchWindow.svg"
        [svgStyle]="{ 'width.px':20, 'height.px':20, 'margin-top.px': 3}"
      ></svg-icon>
    </div>
    <div
      matTooltip="Добавить новое событие"
      class="button__add"
      [class.button__add_bottom]="!isSmotr"
      (click)="addRetrieval()"
    ></div>
    <div class="date" *ngIf="!isSmotr">
      <div class="date__title">Начало события</div>
      <div class="date__info">{{ewService.event.eventDateTime | date:'dd-MM-yyyy HH:mm' }}</div>
    </div>
  </div>
  <div class="events-correct__body scroll scroll-bar">
    <div class="cards-list">
      <ng-container *ngFor="let retrieval of ewService.event.retrievalEvents">
        <div class="card">
          <evj-events-correct-card [event]="retrieval" [isClickable]="true"></evj-events-correct-card>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="events-correct__footer">
    <!--    <div class="button__add button__add_bottom" *ngIf="!isSmotr" (click)="addRetrieval()"></div>-->
    <div class="date" *ngIf="!isSmotr && ewService.event.eventEndDateTime">
      <div class="date__title">Завершение события</div>
      <div class="date__info">{{ewService.event.eventEndDateTime | date:'dd-MM-yyyy HH:mm'}}</div>
    </div>
  </div>
</div>

<!-- <div class="evj-events-correct">
  <div class="evj-events-correct-block">
    <div class="event_info">
      <div class="event_info_title">Корректирующие мероприятия</div>
      <div class="event_info_date">
        <div class="event_info_date_title">Начало события</div>
        <div class="event_info_date_body">
          {{ewService.event.eventDateTime | date:'dd-MM-yyyy HH:mm' }}
        </div>
      </div>
    </div>
    <div class="events">
      <ng-container *ngFor="let retrieval of ewService.event.retrievalEvents">
        <div
          class="events_content"
          [class.events_closed]="retrieval.innerNotification.status.name === 'closed'"
        >
          <div class="events_container" (click)="onLoadEvent(retrieval.innerNotification.id)">
            <div class="events_info">
              <div class="events_info_title">
                <div>Краткое описание</div>
                <div style="margin-left: 10px">
                  <svg-icon
                    *ngIf="retrieval.timerPercentage > 99"
                    src="assets/icons/widgets/workspace/attantion.svg"
                    [svgStyle]="{ 'width.px':18, 'height.px':18, 'margin-top.px': 2 }"
                  ></svg-icon>
                </div>
              </div>
              <div class="events_info_body">
                {{ retrieval.innerNotification.description }}
              </div>
            </div>
            <div class="events_status">
              <div
                class="events_status-{{retrieval.innerNotification.priority.name}}"
                *ngIf="retrieval.innerNotification.status"
              >
                {{ ewService.statuses[retrieval.innerNotification.status.name] }}
              </div>
              <div class="events_status_datetime">
                <div class="datetime_title">Срок исполнения</div>
                <div class="datetime_body">
                  {{ retrieval.innerNotification.deadline | date:'dd-MM-yyyy HH:mm' }}
                </div>
              </div>
              <div class="events_status_responsible">
                <div class="responsible_title">Ответственный</div>
                <div class="responsible_body" *ngIf="retrieval.innerNotification.fixedBy">
                  {{ retrieval.innerNotification.fixedBy.lastName }} {{
                  retrieval.innerNotification.fixedBy.firstName }} {{
                  retrieval.innerNotification.fixedBy.middleName }}
                </div>
              </div>
            </div>
          </div>
          <div class="events_menu">
            <div class="events_check" *ngIf="retrieval.innerNotification.isAcknowledged">
              <svg-icon
                src="assets/icons/widgets/workspace/accept.svg"
                [svgStyle]="{ 'width.px':15, 'height.px':15 }"
              >
              </svg-icon>
            </div>
            <div class="events_button">
              <div clas="events_button_delete" (click)="overlayConfirmationOpen()">
                <svg-icon
                  class="delete_button_icon"
                  src="assets/icons/widgets/workspace/delete.svg"
                  [svgStyle]="{ 'width.px':16, 'height.px':16 }"
                >
                </svg-icon>
              </div>
              <div
                clas="events_button_update"
                (click)="onEditRetrieval(retrieval.innerNotification)"
              >
                <svg-icon
                  class="edit_button_icon"
                  src="assets/icons/widgets/workspace/edit.svg"
                  [svgStyle]="{ 'width.px':20, 'height.px':20 }"
                >
                </svg-icon>
              </div>
            </div>
          </div>
          <div
            ngClass="progress-line-{{retrieval.innerNotification.priority.name}}"
            [style.width.%]="retrieval.timerPercentage"
          ></div>
        </div> -->

<!--DELETE EVENT-->
<!-- <div
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  id="overlay-confirmation"
  *ngIf="ewService.isOverlayConfirmOpen"
>
  <div class="overlay-confirmation__body" (click)="$event.stopPropagation()">
    <span>Вы действительно хотите удалить выбранное Мероприятие?</span>
    <div style="display: flex;">
      <div class="workspace__submit">
        <div class="submit__frame submit__frame-left"></div>
        <div class="submit__frame submit__frame-right"></div>
        <button
          type="submit gridster-item-content"
          (click)="ewService.deleteRetrievalEvent(retrieval)"
        >
          Удалить
        </button>
      </div>
      <div class="workspace__submit">
        <div class="submit__frame submit__frame-left"></div>
        <div class="submit__frame submit__frame-right"></div>
        <button type="submit gridster-item-content" (click)="overlayConfirmationClose()">
          Отменить
        </button>
      </div>
    </div>
  </div>
</div> -->
<!--DELETE EVENT-->
<!-- </ng-container>
    </div>
    <div class="events_bottom_info">
      <div class="add_events">
        <svg-icon
          src="assets/icons/add_button.svg"
          class="add_button_icon"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
          (click)="addRetrieval()"
        ></svg-icon>
      </div>
      <div class="end_events">
        <div class="end_events_title">Завершение события</div>
        <div class="end_events_body" *ngIf="ewService.event.eventEndDateTime">
          {{ewService.event.eventEndDateTime | date:'dd-MM-yyyy HH:mm'}}
        </div>
      </div>
    </div>
  </div>
  <div class="evj-events-correct-progress">
    <div class="line_progress">
      <div class="top_frame_line"></div>
      <div class="middle_line" #progress>
        <div class="progress" [style.height.px]="progressLineHeight"></div>
      </div>
      <div class="bottom_frame_line"></div>
    </div>
  </div>
</div> -->
