<ng-container *ngIf="info?.isShow">
  <div class="loading-shade loading-shade__blur" (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()">
    <div class="confirm-container">
      <div class="confirm-container__body confirm-container-body">
        <div class="confirm-container-body__header">
          <div class="confirm-container-body-header__icon">
            <img src="assets/icons/widgets/events/mail.svg" />
          </div>
          <div class="confirm-container-body-header__title">
            <span>Поиск событий</span>
          </div>
          <div class="confirm-container-body-header__close">
            <div class="close-button" (click)="cancel()">
              <img src="assets/icons/widgets/alert-window/close.svg" />
            </div>
          </div>
        </div>
        <div class="confirm-container-body__input">
          <evj-rectangle-input (searchChange)="searchTerm$.next($event)" placeholder="Поиск"></evj-rectangle-input>
        </div>

        <div class="confirm-container-body__content">
          <div class="block">
            <ng-container *ngFor="let retrieval of results">
              <div class="card" (click)="selectCard(retrieval)" [class.active]="selectId === retrieval.innerNotificationId">
                <evj-events-correct-card [isClickable]="false" [event]="retrieval"></evj-events-correct-card>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="confirm-container__footer">
        <div class="button-container">
          <evj-new-button [textButton]="'Подтвердить'" (click)="accept()" [isChangingState]="false"
            [type]="'primary'"></evj-new-button>
        </div>
        <div class="button-container">
          <evj-new-button [textButton]="'Отменить'" (click)="cancel()" [isChangingState]="false">
          </evj-new-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
