<div class="input">
  <mat-form-field class="input__search">
    <mat-label>Введите ФИО сотрудника</mat-label>
    <input type="search" matInput />
    <mat-icon matSuffix><img class="icon" src="../../../../assets/icons/search-icon.svg"></mat-icon>
  </mat-form-field>
</div>

<!-- <div class="search input__container">
  <input
    class="input search"
    type="text"
    [placeholder]="onFocus()"
    (focus)="isFocused=true"
    (blur)="isFocused=false"
  />
  <div class="input__frame input__frame-right"></div>
  <div class="input__frame input__frame-left"></div>
</div> -->
