:host {
  min-width: 100px;
  min-height: 16px;

  * {
    box-sizing: border-box;
  }

  &.ng-dirty {
    .input-container_focus:not(.input-container_warning):not(.input-container_danger) {
      --input-text-color: var(--color-header-text-main);
      --input-additional-color: var(--color-header-bg-active);
    }

    &.ng-touched.ng-invalid {
      .input-container:not(.input-container_warning):not(.input-container_danger) {
        --input-text-color: var(--color-header-text-main);
        --input-additional-color: var(--color-danger);
      }
    }
  }
}

.input-container {
  // VARIABLES
  --padding-sides: 5px;
  --input-text-color: var(--color-header-text-main);
  --input-additional-color: var(--color-header-text-sub);

  position: relative;
  z-index: 2;

  width: inherit;
  height: inherit;

  font-size: inherit;
  text-align: inherit;
  color: var(--input-text-color);

  padding: 0px var(--padding-sides);
  border: none;

  transition: 0.3s;

  &_icon {
    padding-right: 30px;
  }

  &_disabled {
    opacity: 0.5;
  }

  &_focus {
    .placeholder {
      transform: translateY(-100%) scale(0.8);
    }
  }

  &_underlined {
    border-bottom: 1px solid var(--input-additional-color);
  }

  // STATES
  &_normal {
    &.input-container {
      --input-text-color: var(--color-header-text-main);
      --input-additional-color: var(--color-text-sub);
    }
  }

  &_warning {
    &.input-container {
      --input-text-color: var(--color-header-text-main);
      --input-additional-color: var(--color-warning);
    }
  }

  &_danger {
    &.input-container {
      --input-text-color: var(--color-header-text-main);
      --input-additional-color: var(--color-danger);
    }
  }

  &_rounded {
    border: 1px solid var(--input-additional-color);
    padding: 0px 5%;

    &.input-container_icon {
      padding-right: 10%;
    }

    .placeholder {
      visibility: hidden;
    }

    .icon {
      right: 5%;
    }
  }
}

.input {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;
  outline: none;
  border: none;

  font-size: inherit;
  text-align: inherit;
  color: var(--input-text-color);
  caret-color: var(--input-additional-color);

  background: transparent;

  &::placeholder {
    color: var(--input-additional-color);
  }
}

.placeholder {
  position: absolute;
  z-index: -1;

  width: max-content;
  height: max-content;

  left: var(--padding-sides);
  top: 0;
  bottom: 0;
  margin: auto;

  font-size: inherit;
  color: var(--input-additional-color);

  transition: inherit;
  transform-origin: left top;

  & + .input {
    &::placeholder {
      visibility: hidden;
    }
  }
}

.icon {
  position: absolute;

  width: max-content;
  height: max-content;

  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;

  color: var(--input-additional-color);

  transition: inherit;

  fill: white;

  &:hover {
    fill: gray;
  }

  &_clickable {
    &:hover {
      cursor: pointer;
    }
  }
}
