.input {
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;

  &__search {
    width: 100%;
    height: 100%;
  }

  ::ng-deep {
    & .mat-form-field-appearance-legacy {
      & .mat-form-field-underline {
        background-color: var(--color-button-border);
      }
    }

    .mat-form-field-label {
      color: var(--color-button-border);
      font-style: italic;
      font-size: 12px;
    }
  }
}
