<div
  class="input-container input-container_{{options.state}}"
  [class.input-container_underlined]="!options.withoutUnderline"
  [class.input-container_icon]="!!options.icon"
  [class.input-container_disabled]="isDisabled"
  [class.input-container_focus]="isInput"
>
  <div class="placeholder" [ngClass]="{'placeholder_focus':isInput}" *ngIf="options.isMovingPlaceholder">
    {{options.placeholder}}
  </div>
  <input
    class="input"
    [type]="options.type"
    [placeholder]="options.placeholder"
    (focus)="isInput=true"
    (input)="onInput($event.target.value)"
    (blur)="onBlur($event.target.value)"
    #input
  />
  <svg-icon
    class="icon"
    [ngClass]="{'icon_clickable':options.icon.isClickable}"
    [src]="options.icon.src"
    [svgStyle]="options.icon.svgStyle"
    (click)="onClickIcon()"
    *ngIf="!!options.icon"
  ></svg-icon>
</div>
