<div class="section">
  <div class="header">
    <div class="header__title-block">
      <svg-icon
        class="header__icon"
        src="assets/icons/widgets/SOU/sou-streams/chart_mountain.svg"
        [ngStyle]="{ 'height.px':16 }"
      ></svg-icon>
      <div class="header__title">Резервуар 503</div>
    </div>
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/SOU/sou-streams/close_modal.svg"
      [ngStyle]="{ 'height.px':16 }"
    ></svg-icon>
  </div>
  <div class="chart-section">
    <div class="chart-section__info">
      <div class="chart-section__info__legends">
        <svg-icon
          class="chart-section__info__legends__icon"
          src="assets/icons/widgets/SOU/sou-workspace/legend_1.svg"
          [ngStyle]="{ 'height.px':10 }"
        ></svg-icon>
        <span class="chart-section__info__legends__text">Наименование легенды</span>
        <svg-icon
          class="chart-section__info__legends__icon"
          src="assets/icons/widgets/SOU/sou-workspace/legend_2.svg"
          [ngStyle]="{ 'height.px':10 }"
        ></svg-icon>
        <span class="chart-section__info__legends__text">Наименование легенды</span>
      </div>
    </div>
  <evj-trends></evj-trends>
  </div>
</div>
