:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.chart {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .grid {
    color: var(--chart-segment-color);
    stroke-width: 1;
    fill: var(--color-sou-bg);

    path {
      fill: var(--chart-background-color);
    }
  }

  .y-axis {
    text {
      fill: var(--text-subscript-color);
      font-size: 10px;
    }
  }

  .x-axis {
    text {
      fill: var(--text-subscript-color);
      font-size: 10px;
    }
  }

  .fact-curve,
  .plan-curve {
    stroke-width: 2;
    fill: none;
  }

  .fact-curve {
    stroke: var(--index-fact-color);
  }

  .plan-curve {
    stroke: var(--index-plan-color);
  }

  .day-threshold-line {
    stroke: transparent;
    stroke-width: 1px;
  }

  .deviation-line {
    stroke: var(--index-error-color);
    stroke-width: 1px;
  }

  .deviation-circle {
    stroke: var(--index-error-color);
    fill: var(--bg-body-color);
  }

  .day-circle-1,
  .day-circle-2,
  .day-circle-3,
  .day-circle-4 {
    fill: var(--bg-body-color);
  }

  .day-circle-1 {
    opacity: 0.05;
  }

  .day-circle-2 {
    opacity: 0.2;
  }

  .day-circle-3 {
    opacity: 0.5;
  }

  .day-circle-4 {
    opacity: 1;
  }

  .rect-left {
    fill: var(--bg-dashboard-color);
    opacity: 0.6;
  }
}
