<div class="title" *ngIf="enableTitles">
  <span>Выбранные позиции:</span>
</div>
<div class="chips">
  <ng-container *ngFor="let chip of chips">
    <div class="chip planned" [attr.id]="chip.positionId" (click)="chipClick(chip)">
      <span>{{ chip.positionName }}</span>
      <svg-icon
        *ngIf="enableControls"
        (click)="$event.stopPropagation(); removeItem(chip)"
        class="icon"
        src="assets/icons/widgets/workspace/cmid/chips-close.svg"
      ></svg-icon>
    </div>
  </ng-container>
  <!--<div class="add-chip" *ngIf="enableControls">
    <svg-icon class="add-chip" src="assets/icons/widgets/workspace/cmid/chips-add.svg"></svg-icon>
  </div>-->
  <div class="counter" *ngIf="enableTitles && chips?.length">
    <span class="selected">{{ chips.length }} / {{ totalCount }} </span>
  </div>
</div>
