<div class="title" *ngIf="enableTitles">
  <span>Выбранные позиции:</span>
</div>
<div class="chips">
  <ng-container *ngFor="let chip of chips">
    <div class="chip planned" [attr.id]="chip.name" (click)="chipClick(chip)">
      <span>{{ chip.name }}</span>
      <svg-icon
        *ngIf="enableControls"
        class="icon"
        src="assets/icons/widgets/workspace/cmid/chips-close.svg"
      ></svg-icon>
    </div>
  </ng-container>
  <!--<div class="add-chip" *ngIf="enableControls">
    <svg-icon class="add-chip" src="assets/icons/widgets/workspace/cmid/chips-add.svg"></svg-icon>
  </div>-->
  <div class="counter" *ngIf="enableTitles">
    <span><span class="selected">5</span> / 602</span>
  </div>
</div>
