<div class="container">
  <div class="brigades__list scroll-bar">
    <div class="brigades__cards">
      <ng-container *ngFor="let brigade of brigades">
        <div class="brigades__card block__frame-left">
          <div class="card__name">Бригада №{{brigade.number}}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="brigades__persons">
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
    <div class="person">
      <evj-worker-card [isSmallCard]="true" [person]="workers[0]"></evj-worker-card>
    </div>
  </div>
</div>
