:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--color-text-main);
  }
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }

  .header {
    position: relative;
    border-radius: 12px;
    margin-bottom: 7px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-aw-header-bg);
    overflow: hidden;

    &__button {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      right: 17px;
      margin: auto;

      .icon {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .button {
      .icon-unactive {
        visibility: visible;
      }

      .icon-active {
        visibility: hidden;
      }

      &_active {
        .icon-unactive {
          visibility: hidden;
        }

        .icon-active {
          visibility: visible;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__content {
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

    &__item {
      width: 100%;
      height: max-content;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__card {
      width: 100%;
      min-height: 45px;

      &.card {
        position: relative;
        padding-left: 19px;
        margin: 1px 0px;
        display: flex;
        align-items: center;
        background: var(--color-bg-sub);
        user-select: none;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &_active {
          background: var(--color-bg-active);

          &::after {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--color-active);
          }
        }
      }
    }

    &_list {
      padding: 12px 0px;
      border-radius: 12px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
      background: var(--color-aw-container-body-transparent);
    }

    &::-webkit-scrollbar-track {
      margin-top: 13px;
      margin-bottom: 13px;
    }
  }
}
