<div class="workspace">
  <div class="workspace__selects selects">
    <div class="selects__item left-block">
      <evj-ui-block status="normal">
        <mat-form-field class="categories_selectbox">
          <mat-label>Категория</mat-label>
          <mat-select
            panelClass="mat-select-custom"
            [(ngModel)]="ewService.event.category"
            [compareWith]="compareFn"
            (selectionChange)="ewService.changeCategory()"
          >
            <mat-option *ngFor="let cat of ewService.category" [value]="cat">
              {{ ewService.categories[cat.name] }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </evj-ui-block>
    </div>
    <div class="selects__item right-block">
      <div class="creator">
        <div class="creator_title">
          Номер журнала
        </div>
        <div class="creator_body">
          {{ ewService.event?.ejsData?.ejsFailCodeChr }}
        </div>
      </div>
      <evj-ui-block status="normal">
        <div class="creator creator_link">
          <div class="creator_body creator_body-center">
            Перейти к карточке ЭЖС
          </div>
          <svg-icon
            class="creator_icon"
            src="assets/icons/widgets/EVJ/event/ejs-event/link.svg"
            [svgStyle]="{ 'width.px':28, 'height.px':28 }"
          ></svg-icon>
        </div>
      </evj-ui-block>
    </div>
  </div>
  <div class="workspace__selects-two selects--three">
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="deadline">
          <div class="deadline__title">Срок выполнения</div>
          <evj-time-data-picker
            [data]="ewService.event.deadline"
            (dateTimePicker)="dateTimePicker($event)"
          ></evj-time-data-picker>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Метод обнаружения
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsDeteMethChr }}
          </div>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Влияние на производительность
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsStopReduce }}
          </div>
        </div>
      </evj-ui-block>
    </div>
  </div>
  <div class="workspace__selects-three selects--three">
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            ID оборудования
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsEquiIdChr }}
          </div>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Оборудование
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsEquiIdChr }}
          </div>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Вид технического объекта, тип ЕО
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsEquiChrEO }}
          </div>
        </div>
      </evj-ui-block>
    </div>
  </div>
  <div class="workspace__selects-four selects--three">
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Техническое место
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsFuncLocaChr }}
          </div>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Описание технического места
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsFuncLocaDescChr }}
          </div>
        </div>
      </evj-ui-block>
    </div>
    <div class="selects__item">
      <evj-ui-block status="normal">
        <div class="creator">
          <div class="creator_title">
            Влияние на производительность, тип ТМ
          </div>
          <div class="creator_body">
            {{ ewService.event?.ejsData?.ejsStopReduceTM }}
          </div>
        </div>
      </evj-ui-block>
    </div>
  </div>
  <div class="workspace__selects-comment selects--one">
    <evj-ui-block status="normal">
      <div class="creator">
        <div class="creator_title">
          Комментарий оператора/инициатора
        </div>
        <div class="creator_body">
          {{ ewService.event?.ejsData?.ejsOperInitCommTx }}
        </div>
      </div>
    </evj-ui-block>
  </div>
  <div class="workspace__selects-checkbox selects--two">
    <evj-ui-block status="normal">
      <div class="creator">
        <div class="creator_title">
          Обращение в ЭНЕРГОСЕВРИС
        </div>
        <mat-checkbox class="creator_checkbox" color="primary"
                      [checked]="ewService.event?.ejsData?.ejsEnerNotiFlg">
        </mat-checkbox>
        <div class="creator_body">
          {{ ewService.event?.ejsData?.ejsEnerNotiCommTx }}
        </div>
      </div>
    </evj-ui-block>
    <evj-ui-block status="normal">
      <div class="creator">
        <div class="creator_title">
          Обращение в Автоматика-сервис
        </div>
        <mat-checkbox class="creator_checkbox" color="primary"
                      [checked]="ewService.event?.ejsData?.ejsEnerNotiFlg">
        </mat-checkbox>
        <div class="creator_body">
          {{ ewService.event?.ejsData?.ejsAutoServNotiCommTx }}
        </div>
      </div>
    </evj-ui-block>
  </div>
  <div class="workspace__selects-event selects--one">
    <evj-ui-block status="normal">
      <div class="creator">
        <div class="creator_title">
          Компенсирующие мероприятия
        </div>
        <div class="creator_body">
          {{ ewService.event?.ejsData?.ejsMitiConsWorkTx }}
        </div>
      </div>
    </evj-ui-block>
  </div>
  <div class="workspace__selects-info selects--three">
    <div class="creator">
      <div class="creator_title">
        ФИО оператора
      </div>
      <div class="creator_body">
        {{ ewService.event?.ejsData?.ejsNameOfOperChr }}
      </div>
    </div>
    <div class="creator">
      <div class="creator_title">
        Дата создания события
      </div>
      <div class="creator_body">
        {{ ewService.event?.ejsData?.ejsDateOfCreaDt | date:"dd.MM.yyyy | HH:mm"  }}
      </div>
    </div>
    <div class="creator">
      <div class="creator_title">
        Дата изменения события
      </div>
      <div class="creator_body">
        {{ ewService.event?.ejsData?.ejsDateOfUpdaDt | date:"dd.MM.yyyy | HH:mm"  }}
      </div>
    </div>
  </div>
</div>
