.container-security {
    height: calc(100% - 22px);
    width: 100%;
    border-left: 1px solid var(--color-smp-border);
    border-right: 1px solid var(--color-smp-border);
    position: relative;

    &__title {
        font-size: 10px;
        color: var(--color-smp-text-sub);
        position: absolute;
        top: -6px;
        left: 15px;
    }

    &__content {
        height: 100%;
        padding: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .block {
            border-left: 2px solid var(--color-active);
            font-size: 11px;

            &__title {
                padding-left: 5px;
            }

            &__value {
                height: 30px;
                align-items: center;
                padding-left: 10px;
                display: flex;
                background: linear-gradient(
                    to right,
                    rgba(20, 54, 77, 0.7) 2%,
                    rgba(20, 54, 77, 0.63) 6%,
                    rgba(20, 54, 77, 0.46) 16%,
                    rgba(20, 54, 77, 0.32) 26%,
                    rgba(20, 54, 77, 0.2) 38%,
                    rgba(20, 54, 77, 0.11) 50%,
                    rgba(20, 54, 77, 0.05) 63%,
                    rgba(20, 54, 77, 0.01) 79%,
                    rgba(20, 54, 77, 0) 102%
                );
            }
        }
    }
}
