<div class="widgets-panel" [class.widgets-panel_active]="active">
    <div class="widgets-panel__toggle"
         (click)="onToggleClick()"
         (mouseover)="isOverPanel($event)"
        (mouseleave)="isLeavePanel($event)">
     <svg-icon class="widgets-panel__icon"
                src="./assets/icons/settings.svg" [svgStyle]="{ 'width.px':20, 'height.px':20 }"></svg-icon>
    </div>
  
    <h4 class="widgets-panel__heading">
      Доступные виджеты
    </h4>
    <div class="widget_menu">
      <label class="mycheckbox">
        <input type="checkbox" id="checkBoxFix" value="Swap Items" class="mycheckbox__default" (click)="changeSwap()">
        <div class="mycheckbox__new"></div>
        <div class="mycheckbox__descr">Зафиксировать виджеты</div>
    </label>
    <label class="mycheckbox">
      <input type="checkbox" id="checkBoxGrid" value="Swap Items" class="mycheckbox__default" (click)="getGridView()">
      <div class="mycheckbox__new"></div>
      <div class="mycheckbox__descr">Сетка</div>
  </label>
    </div>
  
          <div class="widgets-panel__list scroll-bar">
            <div class="options-header">
                <ng-container *ngFor="let item of widgets; trackBy: dataById">
                  <div  *ngIf="WIDGETS[item.widgetType]"  draggable="true" (dragstart)="dragStartHandler($event, item.id)" class="widget">
                        <ng-container *ngComponentOutlet="WIDGETS[item.widgetType]; injector: (item.id | fn:getInjector);" >
                        </ng-container>
                  </div>
                </ng-container>
              </div>
            </div>
    
  </div>
