<div class="body">
    <div class="parks-list">
        <evj-ozsm-loading-parks-diagram></evj-ozsm-loading-parks-diagram>
        <evj-ozsm-loading-parks-diagram></evj-ozsm-loading-parks-diagram>
        <evj-ozsm-loading-parks-diagram></evj-ozsm-loading-parks-diagram>
        <evj-ozsm-loading-parks-diagram></evj-ozsm-loading-parks-diagram>
        <evj-ozsm-loading-parks-diagram></evj-ozsm-loading-parks-diagram>
    </div>
    <div class="info-container">
        <div class="info">
            <span class="info__title">Текущий уровень</span>
            <span class="info__value">627 920</span>
        </div>
        <div class="info">
            <span class="info__title">Страховой уровень</span>
            <span class="info__value">127 920</span>
        </div>
    </div>
</div>
