<evj-widget-preview
  [title]="widgetTitle"
  [code]="widgetCode"
  [icon]="widgetIcon"
  [previewTitle]="widgetType"
  *ngIf="isMock"
></evj-widget-preview>

<div style="height: 100%; width: 100%;" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div
      class="content_block"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="blocks">
        <div style="display:flex; height: 100%;">
          <div *ngFor="let data of datas;" class="block">
            <evj-widget-pie [data]="data"></evj-widget-pie>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
