.container {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .content {
    width: calc(100% - 2px);
    height: 100%;
    display: flex;
  
    &__left {
      width: 50%;
      min-width: 170px;
      
      .frame-top {
        height: 10px;
        border: 1px solid var(--color-smp-border);
        border-bottom: none;
        position: relative;
        box-shadow: inset 0px 10px 9px -10px var(--color-border-box-shadow);
  
        &:before {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          left: -6px;
          top: -3px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(-225deg);
        }
  
        &:after {
          content: "";
          width: 15px;
          height: 8px;
          position: absolute;
          right: -7px;
          top: -3px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(-135deg);
        }
      }
  
      .frame-bottom {
        height: 10px;
        border: 1px solid var(--color-smp-border);
        border-top: none;
        position: relative;
  
        &:before {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          left: -6px;
          top: 4px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(45deg);
        }
  
        &:after {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          right: -7px;
          top: 3px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(-45deg);
        }
      }
    }

    &__right {
      width: 50%;
      min-width: 170px;
      margin-left: 10px;
  
      .frame-top {
        height: 10px;
        border: 1px solid var(--color-smp-border);
        border-bottom: none;
        position: relative;
        box-shadow: inset 0px 10px 9px -10px var(--color-border-box-shadow);
  
        &:before {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          left: -5px;
          top: 3px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(45deg);
        }
  
        &:after {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          right: -6px;
          top: -3px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(-135deg);
        }
      }
  
      .frame-bottom {
        height: 10px;
        border: 1px solid var(--color-smp-border);
        border-top: none;
        position: relative;
  
        &:before {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          left: -6px;
          top: -2px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(135deg);
        }
  
        &:after {
          content: "";
          width: 14px;
          height: 8px;
          position: absolute;
          right: -6px;
          top: 4px;
          border-top: 1px solid var(--color-smp-border);
          background: var(--color-bg-main);
          transform: rotate(-45deg);
        }
      }
  
      ::ng-deep{
        .container-park{
          margin: 0 auto;
          margin-right: 0px;
        }
      }
    }
  }
  