.frame {
  width: 100%;

  border: 0.35px solid var(--color-axis);
  border-bottom: transparent;
  position: relative;

  &_top {
    &:after {
      z-index: 3;
      content: "";
      position: absolute;
      top: -4px;
      right: -3px;
      height: 12px;
      width: 12px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);
      border-left: 0.35px solid var(--color-axis);
      background: var(--color-bg-main);
    }
  }
}
