<div class="container">
  <evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle" icon="astue-predictors" type="astue">
  </evj-contemporary-widget-header>
  <div class="container-body" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="content">
      <!--<ng-container-->
        <!--style="height: 100%"-->
        <!--*ngComponentOutlet="specialComponent; injector: (widgetId | fn:getInjector : (subchannelId$ | async));"-->
      <!--&gt;</ng-container>-->
      <evj-ec-widget-predictors-item [data]="data$"></evj-ec-widget-predictors-item>
    </div>
  </div>
</div>
