<div style="height: 100%; width: 100%;" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="widgetId"
    [icon]="widgetIcon"
    [uniqId]="widgetUniqId"
    [widgetType]="widgetType"
    (ejcoTabClicked)="handleTabClick($event)"
  ></evj-widget-header>

  <evj-ejco-onpz-frame-top></evj-ejco-onpz-frame-top>

  <div
    class="content_block"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="wrapper">
      <div class="chart-container">
        <div class="gauge-card">
          <div class="gauge-card__content">
            <div class="gauge-card__diagram-main">
              <evj-ejco-gauge-chart
                [fact]="data?.chartData?.fact"
                [plan]="data?.chartData?.fact"
                [deviation]="data?.chartData?.deviation"
              ></evj-ejco-gauge-chart>
            </div>
            <div class="gauge-card__label">
              {{ data?.chartData?.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="devider"></div>
      <div class="cards-container">
        <ng-container *ngFor="let chart of data?.chartCards">
          <div class="gauge-card">
            <div class="gauge-card__content">
              <div class="gauge-card__diagram">
                <evj-ejco-gauge-chart
                  [fact]="chart?.fact"
                  [plan]="chart?.plan"
                  [deviation]="chart?.deviation"
                ></evj-ejco-gauge-chart>
              </div>
              <div class="gauge-card__label">
                {{ chart?.title }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <evj-ejco-onpz-frame-bottom></evj-ejco-onpz-frame-bottom>
</div>
