.widget-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.content_block {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  pointer-events: fill;
  border: 1px solid var(--border-vidget-color);
  background: var(--bg-body-color);
}

.header-container {
  display: flex;
  flex-grow: 1;

  .button {
    padding: 0 17px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin-left: auto;
    cursor: pointer;
    border-radius: 2px;
    color: var(--text-contrast-color);
    background: var(--gray-G9-color);
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;

  .chart-container,
  .cards-container {
    height: 100%;
  }

  .chart-container {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cards-container {
    width: calc(100% - 150px);
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    overflow-y: auto;
    gap: 5px;
  }
}

.gauge-card {
  width: 80%;
  height: 80%;

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    overflow: hidden;
  }

  &__diagram-main,
  &__diagram {
    flex-grow: 1;
    width: 100px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__diagram {
    width: 100px;
  }

  &__diagram-main {
    width: 120px;
  }

  &__label {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    color: var(--text-contrast-color);
  }
}

.devider {
  width: 0.5px;
  height: 80%;
  background: var(--border-forms-color);
  position: relative;
  margin-right: 10px;

  &:before,
  &:after {
    z-index: 3;
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    border-radius: 50%;
    border: 0.5px solid var(--border-forms-color);
  }

  &:before {
    top: -4px;
    right: -2px;
  }

  &:after {
    bottom: -4px;
    right: -2px;
  }
}
