<div class="paginator-container">
  <!--  <button
      (click)="onClick(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="paginator-button paginator-button-prev"
    ></button> -->
  <div *ngIf="countPages < maxButons + 2; then single else several"></div>
  <ng-template #single>
    <button
      *ngFor="let page of pages; let i = index;"
      (click)="onClick(page)"
      [class.critical]="mass.indexOf(page) > -1"
      [disabled]="currentPage === page"
      class="paginator-button"
    >
      {{ page }}
    </button>
  </ng-template>

  <ng-template #several>
    <button
      *ngFor="let page of leftPages"
      (click)="onClick(page)"
      [class.critical]="mass.indexOf(page) > -1"
      [disabled]="currentPage === page"
      class="paginator-button"
    >
      {{ page }}
    </button>
    <span *ngIf="currentPage > middleValue" class="paginator-dots">...</span>
    <button
      *ngFor="let page of middlePages"
      (click)="onClick(page)"
      [disabled]="currentPage === page"
      class="paginator-button"
    >
      {{ page }}
    </button>
    <span *ngIf="currentPage < countPages - middleValue + 1" class="paginator-dots">...</span>
    <button
      *ngFor="let page of rightPages"
      (click)="onClick(page)"
      [disabled]="currentPage === page"
      [class.critical]="mass.indexOf(page) > -1"
      class="paginator-button"
    >
      {{ page }}
    </button>
  </ng-template>
  <!--  <button
      (click)="onClick(currentPage + 1)"
      [disabled]="currentPage === countPages"
      class="paginator-button paginator-button-next"
    ></button> -->
  <select (change)="onChangePer($event.target.value)" *ngIf="showPersSelect">
    <option *ngFor="let per of pers" [selected]="per === perPage" [value]="per">{{ per }}</option>
  </select>
</div>
