<div class="container">
  <evj-widget-header
    [title]="title"
    [units]="unitsA"
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="line-diagram"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="line-diagram__scroll scroll-bar">
      <div class="line-diagram__body">
        <table>
          <tbody>
            <tr class="line-diagram__item" *ngFor="let item of data">
              <td class="item__name">{{ item.name }}</td>
              <td class="item__count">
                {{ item.curValue | number: "1.0-0" }}{{ item.units }}
              </td>
              <td class="item__graph">
                <svg width="100%" height="4">
                  <rect
                    x="0"
                    y="0"
                    [attr.width]="drawGraph(item.count)"
                    height="4"
                    rx="4"
                    ry="4"
                    [attr.fill]="fillGraph(item.critical)"
                  />
                </svg>
                <div class="item__max-graph">
                  {{ item.planValue }}{{ item.units }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
