$bg-color: var(--ozsm-color-bg-dark);
$br-color: var(--ozsm-color-border);

.padding-container {
  height: 100%;
  width: calc(100% - 15px);
  padding: 10px;
  box-sizing: border-box;
}

.column-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.abs-container {
  position: absolute;
  left: 50%;
  top: 50%;
}

.scale-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.graph-container {
  position: relative;
  width: 1220px;
  height: 800px;

  .arrow-container {
    position: absolute;
  }

  .card-container {
    display: flex;
    justify-content: space-between;

    &__group-v {
      position: absolute;
      flex-flow: column;
      top: 60px;
      left: 117px;
      width: 320px;
      height: 579px;

      > * {
        height: 100px;
        margin-bottom: 26px;
      }
    }

    &__group-q {
      position: absolute;
      flex-flow: row wrap;
      top: 91px;
      left: 500px;
      width: 310px;
      height: 569px;

      > * {
        width: 310px;
        position: relative;
      }
    }
  }

  .line-card-container {
    position: absolute;
    display: flex;
    justify-content: space-between;

    &__group-widgets {
      flex-flow: column;
      top: 193px;
      left: 825px;
      width: 410px;
      height: 340px;
    }

    &__group-number {
      top: 438px;
      left: 573px;
      width: 655px;
      height: 59px;
    }
  }

  .diagram-container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 825px;
    top: 573px;
    width: 410px;
    height: 88px;
  }

  .simple-diagrams {
    position: absolute;
    left: 825px;
    top: 677px;
  }

  .circle-diagram-full {
    height: 100px;
    width: 385px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: absolute;
    left: 60px;
    top: 680px;

    &__diagram {
      width: 110px;
    }

    .custom {
      height: 10px;
      width: 25px;
      display: flex;
      align-items: center;
    
      .circle {
        height: 5px;
        width: 5px;
    
        border: 1px solid var(--ozsm-color-marker-diagram);
        border-radius: 50%;
      }
    
      .line {
        height: 1px;
        background: var(--ozsm-color-marker-diagram);
        flex: 1;
      }
    }
  }

  .top-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
  }
}

.circle {
  width: 120px;
  height: 120px;
  background: $bg-color;
  border: solid 1px $br-color;
  border-radius: 50%;
}

.line-card {
  background: $bg-color;
  border: solid 1px $br-color;
  border-radius: 2px;

  &__clear {
    width: 115px;
    height: 59px;
  }

  &__icon {
    width: 150px;
    height: 72px;
  }

  &__number {
    width: 95px;
    height: 59px;
  }
}

.diagram-card {
  background: $bg-color;
  border: solid 1px $br-color;
  border-radius: 2px;
  width: 182px;
  height: 88px;
}

.top-card {
  background: $bg-color;
  border-radius: 2px;
  height: 40px;

  &__left {
    width: 614px;
  }

  &__right {
    width: 594px;
  }
}

.widget-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &__header {
    width: 100%;
    height: 40px;
    background: var(--ozsm-color-bg-header);
    border: 1px solid $br-color;
    border-radius: 2px 2px 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    span.icon {
      margin-left: 20px;
      flex: 1 1;
    }

    span.title {
      font-size: 12px;
      color: var(--ozsm-color-text-main);
      flex: 10 10;
    }
  }
  &__body {
    width: calc(100% - 50px);
    background: $bg-color;
    border: 1px solid $br-color;
    border-top: none;
    border-radius: 0 0 2px 2px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 25px;

    > * {
      width: 100%;
    }
  }
}
