<div class="container-operation-adjustment">
    <div style="height: 100%;">
        <div class="title">
            <div class="title__button-close" (click)="exit()">
                <svg-icon src="assets/icons/widgets/reports/close.svg" class="add_button_icon">
                </svg-icon>
            </div>
            <div class="title__name">Ручная корректировка</div>
        </div>
        <div class="content">
            <div class="content__back">
              <div class="row">
                <div class="mass-container">
                  <div class="input">
                    <div class="input-label">Масса</div>
                    <div class="oc-shipment-mc-mat-input">
                      <mat-form-field>
                        <label>
                          <input matInput [formControl]="massInput">
                        </label>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="reason-container">
                  <div class="select">
                    <div class="select-label">Причина корректировки</div>
                    <div class="oc-shipment-mc-mat-select">
                      <mat-form-field>
                        <mat-select [formControl]="reasonSelect"
                                    (selectionChange)="onReasonSelect($event)">
                          <mat-option *ngFor="let reason of reasons" [value]="reason.id">
                            {{ reason.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input">
                  <div class="input-label">Примечание</div>
                  <div class="oc-shipment-mc-mat-input">
                    <mat-form-field>
                      <label>
                        <input matInput [formControl]="noteInput">
                      </label>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom__block">
                <div class="bottom__save-block" (click)="save()">
                    <div class="bottom__button-save">Сохранить</div>
                </div>
            </div>
        </div>
    </div>
</div>
