<div class="container">
  <div class="graph">
    <evj-line-chart-shared
      chartType="production-trend"
      [data]="graphData$ | async"
      [limits]="graphDateTimeInterval"
      [isShowingLegend]="true">
    </evj-line-chart-shared>
  </div>
  <div class="scroll">
    <evj-smart-scroll
      [data]="scrollData$ | async"
      [limits]="dateTimeInterval"
      [(sbThumbWidth)]="sbWidth"
      [(sbThumbLeft)]="sbLeft"
      (sbThumbLeftChange)="scrollHandler()"
      (sbThumbWidthChange)="scrollHandler()">
    </evj-smart-scroll>
  </div>
</div>
