.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.graph {
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  margin-bottom: 5px;
}
.scroll {
  max-height: 30px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 45px;
}
