:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.mock {
  position: relative;
  display: block;
  height: 144px;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  .devi-circle {
    width: 70%;
    border: none;
    margin: 0 auto;
  }
}

.devi-circle {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  padding: 0 20px;

  overflow: hidden;

  .diagram {
    position: relative;

    flex-basis: 100%;
    height: 100%;

    min-height: 120px;
    min-width: 120px;

    &__title {
      position: absolute;
      z-index: 2;

      width: 50px;
      height: 20px;

      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      margin: auto;

      text-align: center;
      font-size: 18px;
      color: var(--color-plan);
    }

    .svg {
      &__title {
        font-size: 5px;
        fill: var(--color-fact);
        font-weight: bold;
      }

      &__txt {
        font-size: 2px;
        fill: var(--color-text-sub-heading);
      }

      &__number {
        font-size: 4px;
      }
    }
  }
}
