<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="widgetId"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div class="devi-circle">
      <div class="diagram">
        <svg width="100%" height="100%" viewBox="0 0 50 50">
          <!-- outer contour dia -->
          <image
            x="10.2"
            y="10"
            width="30"
            height="30"
            xlink:href="assets/icons/widgets/deviation-circle-diagram/outer_contour.svg"
          />

          <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="radius" [attr.fill]="colorMain"></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorDeviation"
            stroke-width="0.7"
          ></circle>

          <!-- improvement line -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorFull"
            stroke-width="0.7"
            [attr.stroke-dasharray]="diaLine(radius, blockDiagram.improvement)"
            [attr.stroke-dashoffset]="
              diaOffset(radius, blockDiagram.improvement)
            "
            style="transition: 0.5s"
          ></circle>

          <!-- верхняя линия -->
          <line [attr.x1]="centerX" [attr.y1]="10.4" x2="21" y2="6" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="21" [attr.y1]="6" x2="2" y2="6" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="2" [attr.y1]="6" x2="1" y2="5" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="1" [attr.y1]="5" x2="1" y2="3" [attr.stroke]="colorContour" stroke-width="0.2" />

          <!-- точка на верхней линии -->
          <circle
            [attr.cx]="1"
            [attr.cy]="3"
            [attr.r]="0.4"
            [attr.fill]="colorMain"
            [attr.stroke]="colorContour"
            stroke-width="0.2"
          ></circle>

          <!-- верхняя точка на диаграмме -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="10.4"
            [attr.r]="1"
            fill="colorMain"
            [attr.stroke]="colorContour"
            stroke-width="0.2"
          ></circle>
          <circle [attr.cx]="centerX" [attr.cy]="10.4" [attr.r]="0.5" [attr.fill]="colorContour"></circle>

          <!-- нижняя линия -->
          <line [attr.x1]="34" [attr.y1]="36" x2="47" y2="36" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="47" [attr.y1]="36" x2="48" y2="37" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="48" [attr.y1]="37" x2="48" y2="49" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="48" [attr.y1]="49" x2="47" y2="50" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="47" [attr.y1]="50" x2="3" y2="50" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="3" [attr.y1]="50" x2="2" y2="49" [attr.stroke]="colorContour" stroke-width="0.2" />
          <line [attr.x1]="2" [attr.y1]="49" x2="2" y2="45" [attr.stroke]="colorContour" stroke-width="0.2" />

          <!-- нижняя точка на диаграмме -->
          <circle
            [attr.cx]="34"
            [attr.cy]="36"
            [attr.r]="0.4"
            [attr.fill]="colorMain"
            [attr.stroke]="colorContour"
            stroke-width="0.2"
          ></circle>
          <circle
            [attr.cx]="2"
            [attr.cy]="45"
            [attr.r]="0.4"
            [attr.fill]="colorMain"
            [attr.stroke]="colorContour"
            stroke-width="0.2"
          ></circle>

          <text [attr.x]="centerX" [attr.y]="27" text-anchor="middle" class="svg__title">
            {{ blockDiagram.improvement }}%
          </text>
          <text [attr.x]="3" [attr.y]="3.5" class="svg__txt">Блокировки и усовершенствованное управление</text>
          <text [attr.x]="11" [attr.y]="45" text-anchor="middle" class="svg__txt">Отключенных</text>
          <text [attr.x]="11" [attr.y]="48" text-anchor="middle" class="svg__txt">блокировок</text>
          <text [attr.x]="37" [attr.y]="45" text-anchor="middle" class="svg__txt">Не указана причина</text>
          <text [attr.x]="37" [attr.y]="48" text-anchor="middle" class="svg__txt">снятия блокировок</text>
          <text [attr.x]="11" [attr.y]="42" text-anchor="middle" [attr.fill]="colorDeviation" class="svg__number">
            {{blockDiagram.disabled}}%
          </text>
          <text [attr.x]="37" [attr.y]="42" text-anchor="middle" [attr.fill]="colorNormal" class="svg__number">
            {{blockDiagram.noReason}}%
          </text>
        </svg>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
