<div class="indicator-selector" (mouseenter)="screenActive()" (mouseleave)="screenDisable()">
  <svg-icon class="indicator-selector__icon" src="assets/icons/screen.svg"></svg-icon>

  <span class="indicator-selector__name"> {{ nameScreen }} </span>

  <div class="screens-container" [class.screens-container_active]="isShowScreens">
    <div class="find-screen">
      <evj-input [options]="inputOptions" [ngModel]="searchScreen" (ngModelChange)="screensFilter($event)"></evj-input>
    </div>
    <div class="screen-list">
      <ng-container *ngFor="let screen of dataScreen">
        <ng-container *ngIf="screen.isFilter && (isScreenEdit(screen) || !screen.isHidden)">
          <div [id]="'screen_'+screen.id" class="screen-list__item">
            <div class="screen-card" (click)="screenCardClick(screen)">
              <div *ngIf="!screen.updateScreen" class="screen_name" [class.screen_name--isHidden]="screen.isHidden">
                {{ screen.screenName }}
              </div>
              <input *ngIf="!!screen.updateScreen" class="update_input" [(ngModel)]="newNameScreen" />
            </div>
            <div class="btn-list">
              <div class="btns">
                <svg-icon
                  *ngIf="isScreenEdit(screen) && !screen.updateScreen"
                  (click)="onHiddenScreen(screen)"
                  [svgStyle]="{'height.px':20, 'width.px':20}"
                  [src]="'assets/icons/header/visibility' + (!screen.isHidden ? '' : '_off') + '.svg'"
                ></svg-icon>
                <svg-icon
                  *ngIf="isScreenEdit(screen) && !screen.updateScreen"
                  (click)="onUpdateForm(screen.id)"
                  src="assets/icons/header/edit.svg"
                ></svg-icon>
                <svg-icon
                  *ngIf="isScreenDelete(screen) && !screen.updateScreen"
                  (click)="deleteScreenButton(screen)"
                  src="assets/icons/header/garbage_bad_pic.svg"
                ></svg-icon>
                <svg-icon
                  *ngIf="isScreenEdit(screen) && !!screen.updateScreen"
                  (click)="updateScreenButton(screen, this.newNameScreen)"
                  src="assets/icons/header/checkmark.svg"
                ></svg-icon>
                <svg-icon
                  *ngIf="isScreenDelete(screen) && !!screen.updateScreen"
                  (click)="closeEdit()"
                  class="close-icon"
                  src="assets/icons/header/close_bad.svg"
                ></svg-icon>
              </div>
            </div>
          </div>
          <div class="border"></div>
        </ng-container>
      </ng-container>
    </div>
    <div class="dropdown-component create-screen" *ngIf="claimScreens.includes(EnumClaimScreens.add)">
      <input
        class="dropdown-component_input"
        [(ngModel)]="tempScreen"
        (ngModelChange)="onChangeAdder()"
        (keyup.enter)="addScreen()"
      />
      <svg-icon
        src="assets/icons/header/plus.svg"
        class="dropdown-component_adder"
        (click)="addScreen()"
        [class.dropdown-component_adder__non-active]="!isReadyAdd"
        [class.dropdown-component_adder__active]="isReadyAdd"
      ></svg-icon>
    </div>
  </div>
  <svg-icon class="indicator-selector__collapse" src="assets/icons/collapse.svg"></svg-icon>
</div>
