* {
  box-sizing: border-box;
}
::ng-deep {
}
.container {
  height: 620px;
  width: 490px;

  background: var(--color-group-control-bg-main);
  border-radius: 2px;

  .header {
    height: 55px;
    margin: 0 28px 0 16px;
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--color-group-control-border-main);

    font-size: 14px;
    line-height: 17px;

    color: var(--color-group-control-text);

    svg-icon {
      color: var(--color-group-control-bg-icons);
    }

    &__title {
      padding-left: 12px;
      flex: 1;
    }

    &__icon {
      cursor: pointer;
      &_close {
        margin-right: 4px;
      }
    }
  }

  .content {
    height: 440px;
    margin: 16px 8px 40px 16px;
    padding-right: 12px;

    overflow-y: auto;
    overflow-x: hidden;

    .project-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  .buttons {
    height: 60px;
    margin: 0 24px 0 16px;
    display: flex;
    align-items: center;

    border-top: 2px solid var(--color-group-control-border-main);

    font-size: 14px;
    line-height: 17px;

    color: var(--color-group-control-text);

    .save-cancel {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .btn {
      height: 32px;
      padding: 0 18px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      background: var(--color-group-control-icon-upload-bg);
      opacity: 0.5;
      border-radius: 2px;

      font-size: 13px;
      line-height: 16px;

      cursor: pointer;

      &:hover {
        opacity: 1;
        background: var(--color-group-control-bg-active);
        color: var(--color-group-control-bg-icons-active);
      }
    }
  }
}
