<evj-widget-preview
  [title]="widgetTitle"
  [code]="widgetCode"
  [icon]="widgetIcon"
  [previewTitle]="widgetType"
  *ngIf="isMock"
>
</evj-widget-preview>

<div class="container" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [widgetType]="widgetType"
    [icon]="widgetIcon"
    (selected)="openTable($event)"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
    <evj-alert-window [info]="reportService.alertWindow$ | async"></evj-alert-window>
    <ng-container *ngIf="isTable">
      <div class="references">
        <!--LEFT SIDE-->
        <div class="reference-left">
          <div class="title-reference">Наименование отчета</div>
          <div class="reference-container">
            <div class="scroll-block" id="leftScrollReportConfig">
              <!---TREE--->
              <tree-root
                #tree
                [state]="state"
                [options]="optionsTree"
                [focused]="true"
                [nodes]="this.dataFolder"
                (dragover)="$event.stopPropagation()"
                (blur)="onEventTree($event)"
                (moveNode)="onMovedItem($event)"
              >
                <ng-template #treeNodeTemplate let-node let-index="index">
                  <!--TEMPLATE-->
                  <div
                    *ngIf="node.data.type === 'Template'"
                    class="tree-template"
                    (click)="onClickReference(node.data, index)"
                    [class.activeFolder]="node.data.idTemplate === this.isIdReport"
                  >
                    <div *ngIf="!node.data.openEdit">
                      <!-- <span [class]="node.data.className + 'Index'">Файл-шаблон: </span> -->
                      <span [class]="node.data.className" [class.title]="true"
                        >{{ node.data.name }}</span
                      >
                      <div
                        *ngIf="this.isIdReport === node.data.idTemplate"
                        class="reference-container__button-edit"
                        (click)="$event.stopPropagation()"
                      >
                        <svg-icon
                          class="indicator-selector__collapse"
                          src="assets/icons/widgets/reports/edit_white.svg"
                          (click)="onEdit(node.data)"
                        ></svg-icon>
                      </div>
                      <div
                        *ngIf="this.isIdReport === node.data.idTemplate"
                        data-tooltip="Удалить отчёт"
                        class="reference-container__button-remove"
                        (click)="deleteReportTemplate(node.data)"
                      ></div>
                    </div>

                    <div *ngIf="node.data.openEdit" class="reference-container__block-info">
                      <div
                        class="reference-container__add-block-input"
                        (click)="$event.stopPropagation()"
                      >
                        <input
                          type="text"
                          [(ngModel)]="newRecord"
                          placeholder="Новое наименование..."
                        />
                      </div>
                      <div
                        class="reference-container__add-block-icon"
                        (click)="editReference(node.data)"
                      >
                        <svg-icon
                          src="assets/icons/widgets/reports/accept.svg"
                          class="add_button_icon"
                        ></svg-icon>
                      </div>
                    </div>
                  </div>
                  <!--FOLDER-->
                  <div
                    *ngIf="node.data.type === 'Folder'"
                    [class.activeFolder]="node.data.idFolder === folderActive"
                    (click)="onFolder(node.data)"
                    (click)="tree.treeModel.getFocusedNode().toggleExpanded()"
                  >
                    <div *ngIf="!node.data.openEdit" [class.displayOff]="node.data.idFolder === 0">
                      <div [class]="node.data.className" [class.title]="true">
                        {{ node.data.name }}
                      </div>
                      <div
                        *ngIf="folderActive === node.data.idFolder && folderActive !== 0 && folderActive !== undefined"
                        class="reference-container__button-edit"
                        (click)="$event.stopPropagation()"
                      >
                        <svg-icon
                          class="indicator-selector__collapse"
                          src="assets/icons/widgets/reports/edit_white.svg"
                          (click)="onEdit(node.data)"
                        ></svg-icon>
                      </div>
                      <div
                        *ngIf="folderActive === node.data.idFolder && folderActive !== 0 && folderActive !== undefined"
                        class="reference-container__button-remove"
                        data-tooltip="Удалить папку"
                        (click)="deleteFolder(node.data)"
                      ></div>
                    </div>

                    <div *ngIf="node.data.openEdit" class="reference-container__block-info">
                      <div
                        class="reference-container__add-block-input"
                        (click)="$event.stopPropagation()"
                      >
                        <input
                          type="text"
                          [(ngModel)]="newRecord"
                          placeholder="Новое наименование..."
                        />
                      </div>
                      <div
                        class="reference-container__add-block-icon"
                        (click)="editFolder(node.data)"
                      >
                        <svg-icon
                          src="assets/icons/widgets/reports/accept.svg"
                          class="add_button_icon"
                        ></svg-icon>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="addItem && (folderIdActive === undefined) && (node.data.idFolder === 0)"
                    class="reference-container__add-block"
                  >
                    <div class="reference-container__add-block-input">
                      <input
                        *ngIf="createReport"
                        type="text"
                        [(ngModel)]="newRecord"
                        placeholder="Введите название файла-шаблона..."
                      />
                      <input
                        *ngIf="createFolder"
                        type="text"
                        [(ngModel)]="newRecord"
                        placeholder="Введите название папки..."
                      />
                    </div>
                    <div class="reference-container__add-block-icon" (click)="onPushReport()">
                      <svg-icon
                        src="assets/icons/widgets/references/accept.svg"
                        class="add_button_icon"
                      ></svg-icon>
                    </div>
                  </div>
                  <div
                    *ngIf="addItem && node.data.id === folderIdActive"
                    class="reference-container__add-block"
                  >
                    <div class="reference-container__add-block-input">
                      <input
                        *ngIf="createReport"
                        type="text"
                        [(ngModel)]="newRecord"
                        placeholder="Введите название файла-шаблона..."
                      />
                      <input
                        *ngIf="createFolder"
                        type="text"
                        [(ngModel)]="newRecord"
                        placeholder="Введите название папки..."
                      />
                    </div>
                    <div class="reference-container__add-block-icon" (click)="onPushReport()">
                      <svg-icon
                        src="assets/icons/widgets/references/accept.svg"
                        class="add_button_icon"
                      ></svg-icon>
                    </div>
                  </div>
                </ng-template>
              </tree-root>
            </div>
          </div>
          <div class="bottom-reference-left">
            <div class="bottom-reference-left__block">
              <div class="bottom-reference-left__button-add" (click)="addMenu()">
                <svg-icon
                  src="assets/icons/widgets/references/add_white.svg"
                  class="add_button_icon"
                >
                </svg-icon>
              </div>
              <div class="bottom-reference-left__input-block">
                <div class="bottom-reference-left__button-search">
                  <svg-icon
                    *ngIf="!isRepInput"
                    class="button_filter_icon"
                    src="assets/icons/widgets/references/search_white.svg"
                  ></svg-icon>
                  <svg-icon
                    *ngIf="isRepInput"
                    class="indicator-selector__collapse"
                    src="assets/icons/widgets/references/search_blue.svg"
                  ></svg-icon>
                </div>
                <div
                  class="bottom-reference-left__input"
                  [class.bottom-reference-left__input-active]="isRepInput"
                >
                  <input
                    type="text"
                    (focus)="isRepInput = true"
                    (blur)="isRepInput = false"
                    id="filter"
                    #filter
                    (keyup)="tree.treeModel.filterNodes(filter.value)"
                  />
                </div>
              </div>
              <div
                class="bottom-reference-left__add-menu"
                [class.bottom-reference-left__add-menu-active]="addMenuClick"
                (mouseleave)="leaveAddBlock($event)"
              >
                <div class="button" (click)="pushBlockInRef()">Добавить раздел</div>
                <div class="button" (click)="pushBlockInRec()">Добавить отчет</div>
              </div>
            </div>
          </div>
        </div>
        <!--RIGHT SIDE-->
        <div class="reference-right">
          <div class="title-reference">
            <div class="title-reference__title-name">
              <div class="title-reference__title-name-fio">
                Наименование параметра
              </div>
            </div>
            <div class="title-reference__title-type">
              <div class="title-reference__title-type-date">
                Показатель параметров
              </div>
            </div>
          </div>
          <div class="references-container-scroll-block">
            <div id="rightScrollReportConfig" class="reference-container-value">
              <div
                *ngIf="isIdReport"
                class="reference-container-value__block"
                style="height: 40px !important;"
              >
                <div class="reference-container-value__fio-block">
                  <div class="reference-container-value__fio" style="line-height: 40px;">
                    Выбранный файл-шаблон
                  </div>
                </div>
                <div class="reference-container-value__type" (click)="openSelectBox()">
                  <div class="name-type">{{ selectFile.name }}</div>
                </div>
                <div *ngIf="isSelectBox" (mouseleave)="closeSelectBox()">
                  <evj-report-file-select-box [data]="dataFile" (selectFile)="selectBoxFile($event)"></evj-report-file-select-box>
                </div>
              </div>
              <ng-container *ngFor="let item of optionsActive">
                <div class="reference-container-value__block">
                  <div class="reference-container-value__fio-block">
                    <div class="reference-container-value__fio">
                      {{item.templateSystemOption.name}}
                    </div>
                  </div>
                  <div
                    class="reference-container-value__type"
                    (click)="onClickParamReference(item)"
                  >
                    <ng-container
                      *ngIf="item.templateSystemOption.systemOptionType !== 'customOptions'"
                    >
                      <ng-container *ngIf="item.templateSystemOption.type === 'selectBox'">
                        <mat-form-field class="categories_selectbox">
                          <mat-select panelClass="mat-select-custom" [(ngModel)]="item.value">
                            <mat-option *ngFor="let p of systemOptionType" [value]="p"
                              >{{ p }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-container *ngIf="item.templateSystemOption.type === 'checkBox'">
                        <div class="typeCheck">
                          <label class="mycheckbox">
                            <input
                              type="checkbox"
                              id="checkBoxValue"
                              class="mycheckbox__default"
                              [checked]="item.value === 'true'"
                              (click)="changeSwapSystemOptions(item)"
                            />
                            <div
                              class="mycheckbox__new"
                              [class.mycheckbox__checked]="item.value === 'true'"
                            ></div>
                          </label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="item.templateSystemOption.type === 'comboBox'">
                      </ng-container>
                      <ng-container *ngIf="item.templateSystemOption.type === 'textBox'">
                        <div class="reference-container-value__fio">{{item.value}}</div>
                        <div class="reference-container-value__edit-button">
                          <svg-icon
                            *ngIf="item.open"
                            class="indicator-selector__collapse"
                            src="assets/icons/widgets/references/edit_white.svg"
                          ></svg-icon>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="item.templateSystemOption.type === 'custom'">
                        <div class="reference-container-value__fio">{{item.value}}</div>
                      </ng-container>
                    </ng-container>
                    <ng-container
                      *ngIf="item.templateSystemOption.systemOptionType === 'customOptions'"
                    >
                      <div class="reference-container-value__fio">{{item.value}}</div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
            <!---POPUP-CHECK-BLOCK--->
            <div class="references-container-check-block" *ngIf="isOpenCheckBlock">
              <div class="references-container-check-block__title-block">
                <div class="references-container-check-block__title-param">
                  Наименование параметра
                </div>
                <div class="references-container-check-block__title-status">Статус</div>
              </div>
              <div
                class="references-container-check-block__content-block"
                *ngFor="let item of this.options"
              >
                <div class="references-container-check-block__name-item">{{item.name}}</div>
                <div class="references-container-check-block__check-item">
                  <label class="mycheckbox">
                    <input
                      type="checkbox"
                      id="checkBoxValue"
                      class="mycheckbox__default"
                      (click)="changeSwap(item)"
                      [checked]="item.isActive"
                    />
                    <div class="mycheckbox__new" [class.mycheckbox__checked]="item.isActive"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-reference-right">
            <div class="bottom-reference-right__block-edit" *ngIf="isAddOptionsButton">
              <div class="bottom-reference-right__block-add">
                <div class="bottom-reference-right__button-add" (click)="openCheckBoxBlock()">
                  <svg-icon
                    data-tooltip="Редактировать параметры отчета"
                    *ngIf="!isOpenCheckBlock"
                    src="assets/icons/widgets/reports/edit.svg"
                    class="add_button_icon"
                  >
                  </svg-icon>
                  <svg-icon
                    *ngIf="isOpenCheckBlock"
                    src="assets/icons/widgets/reports/edit_blue.svg"
                    class="add_button_icon"
                  >
                  </svg-icon>
                </div>
              </div>
            </div>
            <div class="bottom-reference-right__block" *ngIf="isAddOptionsButton">
              <div class="bottom-reference-right__save-block" (click)="saveReport(isIdReport)">
                <div class="bottom-reference-right__button-save">Сохранить</div>
              </div>
            </div>
          </div>
        </div>
        <!---POPUP-BLOCK--->
        <div *ngIf="popupUserOptions" class="popup-user-param">
          <ng-container *ngIf="popupUserCustomOptions">
            <evj-popup-user-options
              [data]="optionsCustom"
              (close)="closeOptions($event)"
            ></evj-popup-user-options>
          </ng-container>
          <ng-container *ngIf="!popupUserCustomOptions">
            <evj-popup-system-options
              [optionsType]="popupOptionsActive"
              [templateData]="reportTemplate"
              (close)="closeOptions($event)"
            >
            </evj-popup-system-options>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <!---ADD-FILE-COMPONENT--->
    <ng-container *ngIf="!isTable">
      <evj-add-report-file
        style="width: 100%;"
        (fileUpload)="updateFiletemplate($event)"
      ></evj-add-report-file>
    </ng-container>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
