<evj-widget-preview [title]="widgetTitle" [code]="widgetCode" [previewTitle]="widgetType" *ngIf="isMock">
</evj-widget-preview>

<div class="container" *ngIf="!isMock">
  <evj-widget-header [title]="widgetTitle" [units]="widgetUnits" [code]="widgetCode" [id]="id" [uniqId]="uniqId"
    [widgetType]="widgetType" [icon]="widgetIcon" (selected)="openTable($event)"></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <ng-container *ngIf="isTable">
      <div class="references">
        <div class="reference-left">
          <div class="title-reference">Наименование отчета</div>
          <div class="reference-container">
            <div class="scroll-block" id="leftScrollReportConfig">
              <div *ngFor="let item of data; let i = index">
                <div class="reference-container__block">
                  <div *ngIf="!item.openEdit" class="reference-container__block-info"
                    [class.block-info-active]="item.id === folderActive" (click)="onClickReference(item, i)">
                    <!-- <div class="reference-container__button">
                    <svg-icon *ngIf="item.open" src="./assets/icons/widgets/manual-input/arrow_down.svg"
                      [svgStyle]="{ 'width.px':10, 'height.px':10 }"></svg-icon>

                    <svg-icon *ngIf="!item.open" src="./assets/icons/widgets/manual-input/arrow_right.svg"
                      [svgStyle]="{ 'width.px':10, 'height.px':10 }"></svg-icon>
                  </div> -->
                    <div class="reference-container__name">{{item.name}}</div>

                    <div class="reference-container__button-edit" (click)="onEdit(item)">
                      <svg-icon *ngIf="item.id === folderActive" class="indicator-selector__collapse"
                        src="./assets/icons/widgets/reports/edit_white.svg"></svg-icon>
                    </div>
                  </div>

                  <div *ngIf="item.openEdit" class="reference-container__block-info" [class.block-active]="item.open">
                    <div class="reference-container__add-block-input">
                      <input type="text" [(ngModel)]="item.name" placeholder="Новое наименование..." />
                    </div>
                    <div class="reference-container__add-block-icon" (click)="editReference(item)">
                      <svg-icon src="./assets/icons/widgets/reports/accept.svg" class="add_button_icon"></svg-icon>
                    </div>
                  </div>
                  <div class="reference-container__button-remove" (click)="deleteReportTemplate(item)"
                    *ngIf="item.id === folderActive">
                  </div>
                  <!-- <div cdkDropList id="{{item.name}}" [cdkDropListData]="item.columns" (cdkDropListDropped)="drop($event)"
                  [cdkDropListConnectedTo]="connectedTo" [@Branch]="(item.open) ? 'expanded' : 'collapsed'">
                  <div class="reference-container__block-contant" *ngFor="let i of item.templates" cdkDrag
                    (click)="onClickItemReference(i)" [class.block-info-active]="i.id === isIdReport">
                    {{i.name}}
                  </div>
                  <div *ngIf="clickPushRec && item.id === folderActive" class="reference-container__add-block">
                    <div class="reference-container__add-block-input">
                      <input type="text" [(ngModel)]="newRecord" placeholder="Введите название отчета..." />
                    </div>
                    <div class="reference-container__add-block-icon" (click)="onPushReport()">
                      <svg-icon src="./assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
                    </div>
                  </div>
                </div> -->
                </div>
              </div>
            </div>
            <!--ДЛЯ ОДНОГО ФАЙЛА-->
            <div *ngIf="clickPushRec" class="reference-container__add-block">
              <div class="reference-container__add-block-input">
                <input type="text" [(ngModel)]="newRecord" placeholder="Введите название отчета..." />
              </div>
              <div class="reference-container__add-block-icon" (click)="onPushReport()">
                <svg-icon src="./assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
              </div>
            </div>
            <!-- <div *ngIf="clickPushRef" class="reference-container__add-block">
              <div class="reference-container__add-block-input">
                <input type="text" [(ngModel)]="newFolder" placeholder="Введите название папки..." />
              </div>
              <div class="reference-container__add-block-icon" (click)="onPushFolder()">
                <svg-icon src="./assets/icons/widgets/references/accept.svg" class="add_button_icon"></svg-icon>
              </div>
            </div> -->
          </div>
          <div class="bottom-reference-left">
            <div class="bottom-reference-left__block">
              <div class="bottom-reference-left__button-add" (click)="addMenu()">
                <svg-icon src="./assets/icons/widgets/references/add_white.svg" class="add_button_icon">
                </svg-icon>
              </div>
              <div class="bottom-reference-left__input-block">
                <div class="bottom-reference-left__button-search">
                  <svg-icon *ngIf="!isRepInput" class="button_filter_icon"
                    src="./assets/icons/widgets/references/search_white.svg"></svg-icon>

                  <svg-icon *ngIf="isRepInput" class="indicator-selector__collapse"
                    src="./assets/icons/widgets/references/search_blue.svg"></svg-icon>
                </div>
                <div class="bottom-reference-left__input" [class.bottom-reference-left__input-active]="isRepInput">
                  <input type="text" (focus)="isRepInput = true" (blur)="isRepInput = false"
                    (keyup)="searchReportFolder($event)" />
                </div>
              </div>
              <div class="bottom-reference-left__add-menu"
                [class.bottom-reference-left__add-menu-active]="addMenuClick">
                <div class="button" (click)="pushBlockInRef()">Добавить раздел</div>
                <div class="button" (click)="pushBlockInRec()">Добавить отчет</div>
              </div>
            </div>
          </div>
        </div>
        <div class="reference-right">
          <div class="title-reference">
            <div class="title-reference__title-name">
              <div class="title-reference__title-name-fio">
                Наименование параметра
              </div>
            </div>
            <div class="title-reference__title-type">
              <div class="title-reference__title-type-date">
                Показатель параметров
              </div>
            </div>
          </div>
          <div class="references-container-scroll-block">
            <div id="rightScrollReportConfig" class="reference-container-value">
              <div *ngIf="folderActive !== undefined" class="reference-container-value__block">
                <div class="reference-container-value__fio-block">
                  <div class="reference-container-value__fio">Выбранный файл-шаблон</div>
                </div>
                <div class="reference-container-value__type">
                  <mat-form-field class="categories_selectbox">
                    <mat-select panelClass="mat-select-custom" [(ngModel)]="selectFile">
                      <mat-option *ngFor="let p of dataFile" [value]="p.name">{{ p.name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <ng-container *ngFor="let item of optionsActive">
                <div class="reference-container-value__block">
                  <div class="reference-container-value__fio-block">
                    <div class="reference-container-value__fio">{{item.templateSystemOption.name}}</div>
                  </div>
                  <div class="reference-container-value__type" (click)="onClickParamReference(item)">
                    <div class="reference-container-value__fio">{{item.fio}}</div>
                    <div class="reference-container-value__edit-button">
                      <svg-icon *ngIf="item.open" class="indicator-selector__collapse"
                        src="./assets/icons/widgets/references/edit_white.svg"></svg-icon>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

            <div class="references-container-check-block" *ngIf="isOpenCheckBlock">
              <div class="references-container-check-block__title-block">
                <div class="references-container-check-block__title-param">Наименование параметра</div>
                <div class="references-container-check-block__title-status">Статус</div>
              </div>
              <div class="references-container-check-block__content-block" *ngFor="let item of this.options">
                <div class="references-container-check-block__name-item">{{item.name}}</div>
                <div class="references-container-check-block__check-item">
                  <label class="mycheckbox">
                    <input type="checkbox" id="checkBoxValue" class="mycheckbox__default" (click)="changeSwap(item)" />
                    <div class="mycheckbox__new"></div>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-reference-right">
            <div class="bottom-reference-right__block-edit" *ngIf="isAddOptionsButton">
              <div class="bottom-reference-right__block-add">
                <div class="bottom-reference-right__button-add" (click)="openCheckBoxBlock()">
                  <svg-icon *ngIf="!isOpenCheckBlock" src="./assets/icons/widgets/references/add_white.svg"
                    class="add_button_icon">
                  </svg-icon>
                  <svg-icon *ngIf="isOpenCheckBlock" src="./assets/icons/widgets/references/add_blue.svg"
                    class="add_button_icon">
                  </svg-icon>
                </div>
              </div>
            </div>
            <div class="bottom-reference-right__block" *ngIf="isAddOptionsButton">
              <div class="bottom-reference-right__save-block" (click)="saveReport(isIdReport)">
                <div class="bottom-reference-right__button-save">Сохранить</div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="popupUserParam" class="popup-user-param">
          <evj-popup-user-options [data]="optionsCustom" (close)="closeOptions($event)"></evj-popup-user-options>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="!isTable">
      <evj-add-report-file style="width: 100%;"></evj-add-report-file>
    </ng-container>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>