<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [id]="id"
    [units]="units"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="references">
      <div class="reference-left">
        <div class="title-reference">Наименование справочника</div>
        <div class="reference-container">
          <ng-container *ngFor="let item of data; let i = index">
            <div class="reference-container__block" (click)="onClickReference(item, i)">
              <div class="reference-container__block-info" [class.block-active]="item.open">
                <div class="reference-container__name">{{item.name}}</div>
              </div>
              <div cdkDropList #item.id="cdkDrop" cdkDropListConnectedTo="this.id">
                <div class="reference-container__block-contant" *ngFor="let i of item.columns">
                  {{i.name}}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="bottom-reference-left">
          <div class="bottom-reference-left__block">
            <div class="bottom-reference-left__input-block">
              <div class="bottom-reference-left__button-search">
                <svg-icon
                  class="button_filter_icon"
                  src="./assets/icons/widgets/references/search_white.svg"
                ></svg-icon>
              </div>
              <div class="bottom-reference-left__input">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reference-right">
        <div class="title-reference" [class.isLongBlock]="isLongBlock">
          <!--NG-CONTAINER FOR TITLE-->
          <div
            class="title-reference__title-name"
            (click)="onClickTitle('fio')"
            [class.block-active]="clickFio"
          >
            <div class="title-reference__title-name-check">
              <label class="mycheckbox">
                <input
                  type="checkbox"
                  id="checkBoxValue"
                  class="mycheckbox__default"
                  (click)="changeSwap()"
                />
                <div class="mycheckbox__new" [class.mycheckbox__checked]="!valueCheck"></div>
              </label>
            </div>
            <div class="title-reference__title-name-fio">
              ФИО
            </div>
          </div>
          <div
            class="title-reference__title-type"
            (click)="onClickTitle('date')"
            [class.block-active]="clickDate"
          >
            <div class="title-reference__title-type-check">
              <label class="mycheckbox">
                <input
                  type="checkbox"
                  id="checkBoxValue"
                  class="mycheckbox__default"
                  (click)="changeSwap()"
                />
                <div class="mycheckbox__new" [class.mycheckbox__checked]="!valueCheck"></div>
              </label>
            </div>
            <div class="title-reference__title-type-date">
              Дата рождения
            </div>
          </div>
        </div>
        <div class="references-container-scroll-block">
          <div class="reference-container-value" [class.isLongBlock]="isLongBlock">
            <ng-container *ngFor="let item of data[this.indexColumn].referenceColumns">
              <div
                class="reference-container-value__block"
                [class.block-active]="item.open"
                (click)="onClickItemReference(item)"
              >
                <div class="reference-container-value__fio-block" [class.block-active]="item.open">
                  <div class="reference-container-value__fio">{{item.name}}</div>
                  <div class="reference-container-value__edit-button">
                    <svg-icon
                      *ngIf="item.open"
                      class="indicator-selector__collapse"
                      src="./assets/icons/widgets/references/edit_white.svg"
                    ></svg-icon>
                  </div>
                </div>
                <div class="reference-container-value__type" [class.block-active]="item.open">
                  <div class="reference-container-value__fio">{{item.name}}</div>
                  <div class="reference-container-value__edit-button">
                    <svg-icon
                      *ngIf="item.open"
                      class="indicator-selector__collapse"
                      src="./assets/icons/widgets/references/edit_white.svg"
                    ></svg-icon>
                  </div>
                </div>
                <div
                  class="reference-container-value__delete-button-none"
                  [class.reference-container-value__delete-button]="item.open"
                  [class.isNotButton]="isLongBlock"
                >
                  <svg-icon
                    class="indicator-selector__collapse"
                    src="./assets/icons/widgets/references/delete_blue.svg"
                  ></svg-icon>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="bottom-reference-right" [class.isLongBlock]="isLongBlock">
          <div class="bottom-reference-right__block">
            <div class="bottom-reference-right__button-add">
              <svg-icon
                src="./assets/icons/widgets/references/add_white.svg"
                class="add_button_icon"
              >
              </svg-icon>
            </div>
            <div class="bottom-reference-right__input-block">
              <div class="bottom-reference-right__button-search">
                <svg-icon
                  class="button_filter_icon"
                  src="./assets/icons/widgets/references/search_white.svg"
                >
                </svg-icon>
              </div>
              <div class="bottom-reference-right__input">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
