<div style="height: 100%; width: 100%;" >

        <evj-widget-header [title]="title" [units]="units" [code]="code" [id]="id" [uniqId]="uniqId" [icon]="icon"></evj-widget-header>

        <evj-frame-top></evj-frame-top>
        
        <ng-container>
                <div class="content_block" (mousedown)="$event.stopPropagation()" 
                (touchstart)="$event.stopPropagation()">
                        <div class="blocks">
                                <div *ngIf="isMock === true"  style="width: 100%; height: 100%;">
                                                <div class="imgblock" >
                                                                <img src='../../../../../assets/img/pie.png'>
                                                </div>
                                </div>
                                <div *ngIf="isMock === false" style="display:flex; height: 100%;">
                                        <div *ngFor="let data of datas;" class="block" >
                                                <evj-widget-pie [data]="data" ></evj-widget-pie>
                                        </div>
                                </div>
                         </div>
                </div>
        </ng-container>
        
        <evj-frame-bottom></evj-frame-bottom>
  </div>
