<div class="header">
    <div class="search">
        <svg-icon class="icon" src="assets/icons/widgets/admin/admin-report-server-configurator/search.svg"></svg-icon>
        <input class="input" type="text" placeholder="Поиск по названию файла или папки" />
    </div>
    <button class="button" matRipple matRippleColor="white" cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        (click)="addFile = !addFile">
        <svg-icon src="{{addIcon}}"></svg-icon>
        Добавить
    </button>
    <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="addFile">
        <div class="header__add">
            <div class="item" (click)="addFolder()">Папка</div>
            <div class="item">Отчёт</div>
        </div>
    </ng-template>

</div>