<div class="header">
    <div class="search">
        <svg-icon class="icon" src="{{searchIcon}}"></svg-icon>
        <input class="input" type="text" placeholder="Поиск по названию файла или папки" />
    </div>
    <button #button matRipple matRippleColor="white" (click)="addFile()">
        <svg-icon
        [svgStyle]="{'height.px':'21', 'width.px': '21'}"
        src="{{addIcon}}"></svg-icon>
        Добавить
    </button>
    <ng-template>
        <div class="header__add">
            <div class="item" (click)="addFolder()">
                <svg-icon class="icon" src={{folderIcon}}></svg-icon>
                <span>Папка</span>
            </div>
            <div class="item" (click)="addReport()">
                <svg-icon class="icon" src={{reportIcon}}></svg-icon>
                <span>Отчёт</span>
            </div>
        </div>
    </ng-template>

</div>