<div class="block">
  <ng-container *ngFor="let data of dates">
    <div class="calendar-column">
      <div
        class="calendar-column_date"
        [class.calendar-column_date__last]="data.isLast"
        [class.calendar-column_date__current]="data.isActive"
        [class.calendar-column_date__future]="data.isFuture"
        [class.calendar-column_date__period]="!dateFromSelector.status && data.day >= dateFromSelector.start && data.day <= dateFromSelector.end"
        id="dateLine"
      >
        {{data.day}}
      </div>
      <div *ngIf="data.isActive" class="calendar-column_time" id="widthBlock">
        {{this.currentData | date:'HH:mm'}}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="this.dateFromSelector.status === false">
    <div class="line-block" id="startLine" #startLine>
      <div
        class="line-start"
        [class.eline-not-finish]="(dateFromSelector.otherMonth === 'past') || (dateFromSelector.otherMonth === 'all')"
      >
        <div class="rectangle"></div>
      </div>
      <div
        class="middle-line"
        [class.mline-not-finish]="(dateFromSelector.otherMonth === 'past') || (dateFromSelector.otherMonth === 'all')"
        [class.mline-not-finish-end]="(dateFromSelector.otherMonth === 'future')"
      ></div>
      <div
        class="line-end"
        [class.eline-not-finish]="(dateFromSelector.otherMonth === 'future') || (dateFromSelector.otherMonth === 'all')"
      >
      <div class="rectangle"></div>
    </div>
    </div>
  </ng-container>
</div>
