<div class="block">
  <ng-container *ngFor="let data of dates">
    <div class="calendar-column">
      <div
        class="calendar-column_date"
        [class.calendar-column_date__last]="data.isLast"
        [class.calendar-column_date__current]="data.isActive"
        [class.calendar-column_date__future]="data.isFuture"
        id="dateLine"
      >
        {{data.day}}
      </div>
      <div *ngIf="data.isActive === true" class="calendar-column_time" id="widthBlock">
        {{this.currentData | date:'HH:mm'}}
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="this.dateFromSelector.status === false">
    <div class="line-block" id="startLine" #startLine>
      <div class="line-start"></div>
      <div class="middle-line"></div>
      <div class="line-end"></div>
    </div>
  </ng-container>
</div>
