.container {
  display: flex;
  width: 100%;
  height: 42px;
  padding: 0 15px;
  background: var(--gray-G10-50-color);
  box-sizing: border-box;

  & > * {
    margin: auto 0;
  }

  svg-icon {
    color: var(--text-subscript-color);
  }

  .datetime {
    font-size: 12px;
    color: var(--text-subscript-color);
    margin-left: 9px;
  }

  .free-space {
    flex-grow: 1;
  }

  .button {
    padding: 0 16px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
    color: var(--text-contrast-color);
    background: var(--gray-G9-color);
    cursor: pointer;
    white-space: nowrap;
  }
}
