* {
  box-sizing: border-box;
}

.temperature {
  height: 150px;
  width: 50px;

  position: absolute;
  right: 10px;
  top: 15px;

  border-radius: 0px 0px 3px 3px;

  background: var(--nk-color-bg-component);

  .temperature__title {
    height: 20px;

    background: var(--nk-color-bg-component-title);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px 2px 0 0;

    line-height: 14px;
    font-size: 12px;
    color: var(--nk-color-font-title-sub);
  }

  .temperature__value {
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 19px;
    font-size: 16px;
    color: var(--nk-color-font-title-main);
  }
}

.thermometer-container {
  height: 104px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thermometer {
  height: 80px;
  width: 5px;

  border: 1px solid #292d3f;
  border-bottom: none;
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.thermometer-inner {
  width: 4px;
  margin-bottom: -5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--nk-color-temperature-gradient);
  border: 1px solid #222634;

  border-radius: 10px 10px 0 0;

  position: relative;
}

.thermometer-circle {
  height: 12px;
  width: 12px;

  margin-top: -1px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #292d3f;
  border-radius: 50%;
}

.thermometer-circle__inner {
  height: 5px;
  width: 5px;

  background: #00a99d;

  border-radius: 50%;

  z-index: 9000;

  bottom: 0px;
}
