<div class="cb">
  <div #circle class="item-b"></div>

  <div class="back-image" [class.back-image__warning]="data.pieStatus === 'warning'"
    [class.back-image__danger]="data.pieStatus === 'danger'">
    <svg-icon src="./assets/icons/widgets/SMP/circle-back.svg" [svgStyle]="{ 'width.px':69, 'height.px':69 }">
    </svg-icon>
  </div>
  <!--LEFT-BUTTON-->

  <div class="scale__top">
    <svg-icon src="./assets/icons/widgets/SMP/scale-top.svg" [svgStyle]="{ 'width.px':10, 'height.px':14 }">
    </svg-icon>
  </div>
  <div class="scale__middle">
    <svg-icon src="./assets/icons/widgets/SMP/scale-middle.svg" [svgStyle]="{ 'width.px':4.2, 'height.px':11 }">
    </svg-icon>
  </div>
  <div class="scale__bottom">
    <svg-icon src="./assets/icons/widgets/SMP/scale-bottom.svg" [svgStyle]="{ 'width.px': 10, 'height.px':14 }">
    </svg-icon>
  </div>

  <div class="left-top-button {{data.productFiling}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-left-top-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':20 }"></svg-icon>
  </div>
  <div class="left-bottom-button {{data.productUpdate}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-left-bottom-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':20 }"></svg-icon>
  </div>
  <div class="left-button {{data.productCrowded}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-left-big-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':42 }"></svg-icon>
  </div>
  <!--RIGHT-BUTTON-->
  <div class="right-top-button {{data.productFlask}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-right-top-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':20 }"></svg-icon>
  </div>
  <div class="right-bottom-button {{data.productList}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-right-bottom-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':20 }"></svg-icon>
  </div>
  <div class="right-button {{data.productBuild}}">
    <svg-icon src="./assets/icons/widgets/SMP/product-group-planning/middle-side/middle-right-big-button.svg"
      [svgStyle]="{ 'width.px':24, 'height.px':42 }"></svg-icon>
  </div>
  <!--circle-->
  <div class="point_right"></div>
  <div class="point_left"></div>
</div>