%warning-fill {
  fill: #f4a321;
  stroke: #f4a321;
  fill-opacity: 0.35;
}

%warning-stroke {
  fill: none;
  stroke: #f4a321;
}

%danger-fill {
  fill: #f9031b;
  stroke: #f9031b;
  fill-opacity: 0.35;
}

%danger-stroke {
  fill: none;
  stroke: #f9031b;
}

.cb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  margin-top: 16px;
}

.item-b {
  border-left: 2px solid var(--color-bg-main);
  width: 100%;
  height: 70px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.item-b ::ng-deep svg {
  height: 100%;
}

.item-b ::ng-deep .arc {
  transform: rotate(134deg);
}

.line {
  background: url(../../../../../../../assets/icons/widgets/SMP/product-group-planning/line1.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 80px;
  left: 352px;
  position: absolute;
  margin-top: -36px;
}

.left-top-button {
  position: absolute;
  right: 144px;
  top: 28px;
}

.left-middle-button {
  position: absolute;
  right: 144px;
  top: 42.2px;
}

.left-bottom-button {
  position: absolute;
  right: 144px;
  top: 57px;
}

.right-top-button {
  position: absolute;
  right: 51px;
  top: 28px;
}

.right-bottom-button {
  position: absolute;
  right: 51px;
  top: 50px;
}

.danger {
  ::ng-deep {
    .a05fe2ee-dc51-4b41-981b-2ed2c4d52c53 {
      @extend %danger-stroke;
    }

    .a0b87cd4-2066-4285-a34e-05420cfc7ab3 {
      @extend %danger-fill;
    }

    .a4d182d0-b676-414d-b4ae-d69759ad88c5 {
      @extend %danger-stroke;
    }

    .a1ea6938-8d1c-4e9b-970f-5f8af8bfd62e {
      @extend %danger-fill;
    }

    .ebd376e7-b54a-4ac4-b03f-45abd4515ac1 {
      @extend %danger-stroke;
    }

    .bd0e29a2-e1ef-4c26-a7db-8a876d32a45a {
      @extend %danger-fill;
    }

    .bef079be-ce38-404e-a011-111b5eb8f7fc {
      @extend %danger-stroke;
    }

    .e78de1f4-3a41-48c5-ba79-88f3a7e79b9c {
      @extend %danger-fill;
    }

    .b45e1ef5-73df-40a9-be00-744aa17898df {
      @extend %danger-stroke;
    }

    .b987d2f4-a5d1-4677-8a12-56d725b554f1 {
      @extend %danger-fill;
    }
  }
}

.warning {
  ::ng-deep {
    .a05fe2ee-dc51-4b41-981b-2ed2c4d52c53 {
      @extend %warning-stroke;
    }

    .a0b87cd4-2066-4285-a34e-05420cfc7ab3 {
      @extend %warning-fill;
    }

    .a4d182d0-b676-414d-b4ae-d69759ad88c5 {
      @extend %warning-stroke;
    }

    .a1ea6938-8d1c-4e9b-970f-5f8af8bfd62e {
      @extend %warning-fill;
    }

    .ebd376e7-b54a-4ac4-b03f-45abd4515ac1 {
      @extend %warning-stroke;
    }

    .bd0e29a2-e1ef-4c26-a7db-8a876d32a45a {
      @extend %warning-fill;
    }

    .bef079be-ce38-404e-a011-111b5eb8f7fc {
      @extend %warning-stroke;
    }

    .e78de1f4-3a41-48c5-ba79-88f3a7e79b9c {
      @extend %warning-fill;
    }

    .b45e1ef5-73df-40a9-be00-744aa17898df {
      @extend %warning-stroke;
    }

    .b987d2f4-a5d1-4677-8a12-56d725b554f1 {
      @extend %warning-fill;
    }
  }
}

.scale {
  &__top {
    position: absolute;
    top: 28.5px;
    left: 157px;
  }

  &__middle {
    position: absolute;
    top: 42.2px;
    left: 162px;
  }

  &__bottom {
    position: absolute;
    top: 57px;
    left: 157px;
  }
}
