<div class="container-tank-level">
    <div class="container-tank-level__title"> {{ data.name }} </div>
    <div class="container-tank-level__content">
        <div class="values">
            <div class="values__block">
                <div class="title">Вместимость</div>
                <div class="value"> {{ data.capacity | spaceNumber }} тонн</div>
            </div>
            <div class="values__block">
                <div class="title">Отгружено</div>
                <div class="value"> {{ data.shipped | spaceNumber }} тонн</div>
            </div>
        </div>
        <div class="tank">
            <div class="first-circle">
                <div class="first-circle__level" [style.height.%]="data.percent">

                </div>
            </div>
            <div class="second-circle">
            </div>
            <div class="tank__value" [style.bottom.%]="textLevel">{{ data.valueLevel }}</div>
        </div>
    </div>
    <div class="container-tank-level__type-title">{{ data.type }}</div>
</div>