$color-bg-main: #1b1e27;
$color-lines-bg-dia: #272a38;
$color-bg-card-body: #1e212d;
$color-bg-component-title: #303549;
$color-font-title: #D7E2F2;
$color-bg-component: rgba(48, 53, 73, 0.25);
$color-bg-active-bright: #0089FF;
$color-table-main: #1b1f2c;
$color-border-main: #5b607d;
$color-temperature-gradient: linear-gradient(0deg,  #00A99D 4.3px, #F4A321 39px, #FF0000 84px);
$color-innage-axis: #E8E6DD;
$color-border-unactive: #8c99b2;