<div class="widget-container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="widgetTitle"
    type="kpe"
    icon="energy"
  >
    <div class="content-container">
      <div class="header">
        <ul class="header__info">
          <li class="header__info-item">
            <div class="header__info-1"></div>
            <span>Факт</span>
          </li>
          <li class="header__info-item">
            <div class="header__info-2"></div>
            <span>План</span>
          </li>
        </ul>
      </div>
    </div>
  </evj-contemporary-widget-header>
  <div class="container">
    <div class="scroll-container">
      <div #gauge class="chart-container" [style]="chartWidth">
        <evj-kpe-gauge-chart isPercent="true"
                             [background]="'dark'"
                             [plan]="data?.diagram?.plan || 100"
                             [fact]="data?.diagram?.fact || 100"
                             [deviation]="data?.diagram?.deviation || 100"
        ></evj-kpe-gauge-chart>
      </div>
      <ng-container *ngIf="displayMode === 'line'">
      <evj-kpe-deviation-diagram style="min-width: 400px;" [data]="deviationChartData" [currentMonth]="displayedMonth"></evj-kpe-deviation-diagram>
      </ng-container>
      <ng-container *ngIf="displayMode === 'tiled'">
        <evj-kpe-deviation-diagram style="min-width: 400px; width: calc(100% - 1400px);" [data]="deviationChartData" [currentMonth]="displayedMonth"></evj-kpe-deviation-diagram>
      </ng-container>
      <evj-kpe-energy-tab *ngFor="let tab of data?.tabs" [data]="tab"></evj-kpe-energy-tab>
    </div>
  </div>
</div>

