input {
  background-color: var(--color-aps-bg);
  border: none;
  border-left: 2px solid var(--color-aps-bg-sub);
  color: var(--color-aps-button-color);
  min-height: 36px;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
}

input[type="text"]:focus {
  outline: none;
}

.input__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  &__title {
    font-size: 11px;
    color: var(--color-aps-bg-icon);
  }
}
