.diagram {
  height: 100%;
  width: 70px;
  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  background: linear-gradient(0deg, rgba(34, 37, 46, 0.34), transparent);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .graph {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .pusher {
      width: 100%;
    }
    .point {
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      &__disable {
        background: var(--color-text-diagram-transparent);
        border: 1px solid var(--color-text-diagram-half-transparent);
        color: var(--color-plan);
      }
      &__normal {
        background: var(--color-text-main-transparent);
        border: 1px solid var(--color-text-main);
        color: var(--color-text-main);
      }
      &__critical {
        background: var(--color-warning-transparent);
        border: 1px solid var(--color-warning);
        color: var(--color-warning);
      }
    }
  }
  .label {
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 14px;

    sub,
    sup {
      display: block;
    }

    &__disable {
      color: var(--color-text-sub-heading);
    }
    &__normal {
      color: var(--color-text-main);
    }
    &__critical {
      color: var(--color-warning);
    }
  }
}

.item {
  width: 70px;
  height: 40px;

  margin-left: 15px;

  &:first-child {
    margin-left: 0;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-bg-diagram);

  font-size: 14px;

  &__active {
    color: var(--color-plan);
  }
  &__disable {
    color: var(--color-text-sub-heading);
  }
}
