<div class="menu">
  <div class="menu_item">

    <div class="menu_item__container">
      <div class="menu_item__title-text">Всего</div>
      <div class="menu_item__count-text">12</div>
    </div>
    <div class="menu_item__border"></div>
  </div>

  <div class="menu_item">
    <div class="menu_item__container">
      <div class="menu_item__title-text">Новые</div>
      <div class="menu_item__count-text">12</div>
    </div>
    <div class="menu_item__border"></div>
  </div>

  <div class="menu_item">
    <div class="menu_item__container">
      <div class="menu_item__title-text">В работе</div>
      <div class="menu_item__count-text">12</div>
    </div>
    <div class="menu_item__border"></div>
  </div>

  <div class="menu_item">
    <div class="menu_item__container">
      <div class="menu_item__title-text">Отложено</div>
      <div class="menu_item__count-text">12</div>
    </div>
    <div class="menu_item__border"></div>
  </div>

  <div class="menu_item">
    <div class="menu_item__container">
      <div class="menu_item__title-text">Закрыто</div>
      <div class="menu_item__count-text">12</div>
    </div>
    <div class="menu_item__border"></div>
  </div>

</div>
