<div class="widget-container">
  <div class="container">
    <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
    </evj-widget-header-smp>

    <div
      class="content"
      (mouseenter)="onMouseEnter()"
      (mouseleave)="onMouseExit()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <ng-container *ngIf="!!(data$ | async)">
        <ng-container *ngFor="let item of (data$ | async)">
          <div class="content__item">
            <ng-container
              *ngComponentOutlet="chartComponent; injector: (widgetId | fn:getInjector : item);"
            ></ng-container>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
