:host {
  width: inherit;
  height: inherit;
  user-select: none;
}

.graph {
  width: 100%;
  height: 100%;

  * {
    fill: none;
    stroke: var(--color-text-sub);
    stroke-width: 2px;
  }

  ::ng-deep {
    .longer-rect {
      fill: var(--color-aw-container-body-transparent);
    }

    .longer-rect-default {
      fill: none;
    }
  }
}
