<div class="aps-header">
  <div [ngClass]="type ? 'aps-header__background-' + type : 'aps-header__background'"></div>
  <div class="aps-header__interface">
    <ng-container *ngIf="widgetTitle">
      <img alt="" *ngIf="icon" class="icon" src="assets/pic/{{icon}}.svg"/>
      <div class="title">{{widgetTitle}}</div>
    </ng-container>

    <ng-content></ng-content>

    <div
      class="buttons"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
      *ngIf="!!additionalMenuItems.length || claimWidgets.includes(EnumClaimWidgets.delete)"
    >
      <div class="button button_menu" (click)="toggleMenu()">
        <img src="assets/pic/menu.svg"/>
      </div>
    </div>
  </div>
  <div
    class="aps-header__menu menu"
    [ngClass]="{'menu_open':isMenuOpen}"
    (mouseleave)="closeMenu()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="menu__item" *ngFor="let item of additionalMenuItems" (click)="item.action()">
      {{item.title}}
    </div>
    <div
      class="menu__item"
      (click)="onRemoveButton()"
      *ngIf="claimWidgets.includes(EnumClaimWidgets.delete)"
    >
      <span>Удалить с экрана</span>
      <svg-icon
        src="assets/pic/delete.svg"
      ></svg-icon>
    </div>
  </div>
</div>
