:host {
  width: 100%;
  height: max-content;

  * {
    box-sizing: border-box;
    color: var(--color-text-main);
    font-size: 12px;
  }
}

.aps-header {
  position: relative;
  width: 100%;
  height: 40px;
  min-height: 40px;
  max-height: 40px;

  &__background-kpe,
  &__background-astue {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &__background-kpe {
    border-radius: 5px 5px 0 0;
    background: var(--color-contemporary-header-bg);
  }

  &__background-astue {
    border-radius: 2px 2px 0 0;
    background: var(--color-astue-onpz-widget-border);
  }

  &__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: var(--color-aps-bg-header);

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      top: -7px;
      left: -7px;
      background: var(--color-bg-main);
    }

    &::after {
      left: auto;
      right: -8px;
    }
  }

  &__interface {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0px 22px;
    display: flex;
    align-items: center;
  }

  &__menu {
    width: 200px;
    height: max-content;
  }
}

.icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: #8c99b2;
}

.title {
  width: max-content;
  height: max-content;
  cursor: default;
}

.buttons {
  margin-left: auto;
  width: auto;
  height: 16px;
  display: flex;
  align-items: center;

  .button {
    width: max-content;
    height: 100%;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

.menu {
  position: absolute;
  z-index: 1000;
  min-height: 40px;
  top: 100%;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--color-bg-main);
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s;

  &__item {
    position: relative;
    z-index: 1002;
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 0px 10px;
    margin: 2px 0px;
    display: flex;
    align-items: center;

    svg-icon {
      margin-right: 10px;
      color: var(--color-event-card-font-sub);
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1001;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--color-aps-bg-sub);
      opacity: 0.1;
    }

    &:hover {
      cursor: pointer;

      svg-icon {
        color: var(--color-new-header-active);
      }

      &::before {
        opacity: 0.4;
      }
    }
  }

  &_open {
    transform: scaleY(1);
  }
}
