.admin {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  padding: 20px;

  overflow: hidden;

  &__header {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .header {
      &__search {
        width: 390px;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .search {
          width: 350px;
          height: 25px;
        }
      }

      &__title {
        flex-basis: 390px;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-size: 14px;
        color: var(--color-text-sub-heading);
      }
    }
  }

  &__worker {
    height: 500px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    .worker {
      &__column {
        height: 100%;
        width: 390px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .options {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          height: 280px;
          width: 100%;

          overflow-x: hidden;
          overflow-y: auto;

          direction: rtl;
          padding-left: 5px;

          margin-top: 10px;
          margin-left: -20px;

          .card {
            width: 100%;
            height: 60px;

            direction: ltr;

            margin-bottom: 10px;
          }
        }

        .claims {
          height: max-content;
          width: 104%;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;

          margin-top: 20px;

          .title {
            font-size: 14px;
            color: var(--color-text-sub-heading);

            width: 100%;
            text-align: left;

            margin-bottom: 10px;
            margin-left: 20px;
          }

          .card {
            width: 100%;
            height: 60px;
            margin-bottom: 10px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            box-sizing: border-box;
            padding-left: 30px;

            color: var(--color-text-main-transparent);

            background-image: url(../../../../../assets/icons/widgets/admin/option-card.svg);
            background-repeat: no-repeat;
            background-size: contain;

            &-active {
              background-image: url(../../../../../assets/icons/widgets/admin/option-card-active.svg);
              color: var(--color-text-main);
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &__main {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .avatar {
          position: relative;

          width: 100%;
          flex: 1;

          .frame {
            position: absolute;

            height: 250px;
            width: 250px;

            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            margin: auto;

            border-radius: 50%;
            box-sizing: border-box;
            background-image: url(../../../../../assets/icons/widgets/admin/avatar-frame.svg);
            background-repeat: no-repeat;
            background-size: contain;

            transition: 0.5s;

            .photo {
              position: absolute;

              height: 210px;
              width: 210px;

              top: -38px;
              right: 0px;
              bottom: 0px;
              left: 0px;
              margin: auto;
            }

            &-moved {
              top: -150px;
            }
          }

          .alert {
            position: absolute;

            width: 100%;
            height: max-content;

            top: 290px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            overflow: hidden;

            transition: 0.5s;

            .checkbox,
            .message {
              transition: 0.5s;
            }

            .checkbox {
              height: 30px;
              width: 30px;

              box-sizing: border-box;
              border-radius: 50%;
              border: 2px solid var(--color-warning);

              margin-bottom: 10px;

              &:hover {
                cursor: pointer;
              }

              &-active {
                position: relative;
                border-color: var(--color-active);

                &:after {
                  content: "";
                  position: absolute;

                  width: 10px;
                  height: 10px;

                  top: 0px;
                  right: 0px;
                  bottom: 0px;
                  left: 0px;
                  margin: auto;

                  box-sizing: border-box;
                  border-radius: 50%;

                  background: var(--color-active);
                }
              }
            }

            .message {
              font-size: 12px;
              color: var(--color-text-main);
              text-align: center;

              span {
                color: var(--color-danger);
              }
            }

            &-hidden {
              .checkbox,
              .message {
                transform: translateY(100px);
              }
            }
          }
        }

        .buttons {
          height: 50px;
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;

          margin-bottom: 35px;

          .button {
            height: 100%;
            width: 45%;

            &-disabled {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
}

.line {
  width: 80px;
  height: 1px;
  background: var(--color-border-main);
  position: relative;

  &::after {
    content: "";

    width: 4px;
    height: 4px;

    box-sizing: border-box;
    border: 1px solid var(--color-border-search-line);
    border-radius: 50%;

    position: absolute;
    left: 0px;
    top: -2px;

    background: var(--color-bg-main);
  }

  &::before {
    content: "";

    width: 4px;
    height: 4px;

    box-sizing: border-box;
    border: 1px solid var(--color-border-search-line);
    border-radius: 50%;

    position: absolute;
    right: 0px;
    top: -2px;

    background: var(--color-bg-main);
  }
}
