<div class="admin">
  <evj-widget-preloader *ngIf="isDataLoading" [isLoading]="isDataLoading"></evj-widget-preloader>

  <div class="admin__header">
    <div class="header__search">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите название пункта'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchField($event)"
        ></evj-input>
      </div>
    </div>
    <div class="header__title">
      <div class="line"></div>
      <div class="title">Информация о сотруднике</div>
      <div class="line"></div>
    </div>
    <div class="header__search">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите название рабочей области'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchWorkspace($event)"
        ></evj-input>
      </div>
    </div>
  </div>
  <div class="admin__worker">
    <div class="worker__column worker__info">
      <evj-aws-fields
        [worker]="worker"
        [workerUnit]="workerUnit"
        [searchingFieldName]="searchingFieldName"
        (workerData)="onChangeWorkerData($event)"
        (responsible)="onSetResponsible($event)"
      ></evj-aws-fields>
      <div class="claims">
        <div class="title">Права доступа</div>
        <div
          class="card"
          [ngClass]="{'card-active':isClaimsShowing}"
          (click)="isClaimsShowing=true"
        >
          Права
        </div>
        <div
          class="card"
          [ngClass]="{'card-active':!isClaimsShowing}"
          (click)="isClaimsShowing=false"
        >
          Доступные рабочие области
        </div>
      </div>
      <div class="block" *ngIf="!isCreateNewUser">
        <evj-aws-block
          class="block__component"
          [isLockedUser]="false"
          (changeLockUser)="onChangeLockWorker()"
        ></evj-aws-block>
      </div>
    </div>
    <div class="worker__column worker__main">
      <div class="avatar">
        <div
          class="frame"
          [ngClass]="{'frame-moved':isAlertShowing}"
          (mouseenter)="isAvatarButtonShowing=true"
          (mouseleave)="isAvatarButtonShowing=false"
        >
          <img [src]="returnPhotoPath()" class="photo" />
          <div
            class="photo__add"
            [ngClass]="{'photo__add_active':isAvatarButtonShowing}"
            (click)="isPopUpShowing=true"
          ></div>
        </div>
        <div class="alert" [ngClass]="{'alert-hidden':!isAlertShowing}">
          <div
            class="checkbox"
            [ngClass]="{'checkbox-active':isCheckBoxClicked}"
            (click)="isCheckBoxClicked=!isCheckBoxClicked"
          ></div>
          <div class="message">
            Подтверждаю внесенные изменения и<br />
            <span>высокий уровень</span> доступа<br />
            для данного сотрудника
          </div>
        </div>
      </div>
      <div class="buttons">
        <evj-button class="button" [textButton]="'Вернуться'" (click)="onReturn()"></evj-button>
        <evj-button
          class="button"
          [textButton]="'Сохранить'"
          [ngClass]="{'button-disabled':!isCheckBoxClicked}"
          (click)="onSave()"
        ></evj-button>
      </div>
    </div>
    <evj-aws-workspaces
      class="worker__column worker__workspaces scroll-bar"
      *ngIf="!isClaimsShowing"
      [allWorkspaces]="allWorkspaces"
      [workerScreens]="workerScreens"
      [workerScreensDetached]="workerScreensDetached"
      [workspacesClaims]="workspacesClaims"
      [searchingWorkspaceValue]="searchingWorkspaceValue"
      (workspacesData)="onChangeWorkspacesData()"
    ></evj-aws-workspaces>
    <div class="worker__column worker__claims scroll-bar" *ngIf="isClaimsShowing">
      <div class="title">Права</div>
      <div class="cards">
        <evj-aws-claim-card
          [name]="'Высокий уровень доступа'"
          [isActive]="false"
          [isChangingCardState]="true"
          (click)="onSelectClaim()"
        ></evj-aws-claim-card>
        <evj-aws-claim-card
          [name]="'Открытый доступ'"
          [isActive]="true"
          [isChangingCardState]="true"
        ></evj-aws-claim-card>
        <evj-aws-claim-card
          [name]="'Доступ с ограничениями'"
          [isActive]="false"
          [isChangingCardState]="true"
          (click)="onSelectClaim()"
        ></evj-aws-claim-card>
      </div>
    </div>
  </div>
  <evj-aws-avatar
    class="admin__popup"
    [ngClass]="{'admin__popup_active':isPopUpShowing}"
    (closePopUp)="onClosePopUp($event)"
  ></evj-aws-avatar>
  <evj-aws-responsible-alert
    class="admin__popup"
    [ngClass]="{'admin__popup_active':isBrigadeResponsibleAlertShowing}"
    [worker]="worker"
    [isSetResponsible]="isSetResponsible"
    (choose)="onCloseResponsibleAlert()"
  ></evj-aws-responsible-alert>
  <evj-aws-password-alert
    class="admin__popup"
    [ngClass]="{'admin__popup_active':isPasswordAlertShowing}"
    (confirmed)="onSetWorkerPassword($event)"
  ></evj-aws-password-alert>
</div>
