<div class="poser">
    <div class="back">
<!--        <div class="photo">-->
<!--            <div class="img"></div>-->
<!--        </div>-->
        <div class="block-top">
            <div class="fio-text text-formatter">

            </div>
        </div>

        <div class="block-middle text-formatter">
            Ожидание...
        </div>

        <div class="block-bottom">
            <div class="text text-formatter">
                Используйте USB ключ для верификации!
            </div>
            <div class="loader">
                <img class="loader-img" src="../../../../../assets/gif/card-verify.gif" />
            </div>
        </div>
        <div class="exit">
            <img
                    class="exit-img"
                    src="../../../../../assets/icons/widgets/change-shift/close-button.svg"
            />
        </div>
    </div>
</div>
