<div class="poser">
  <div class="back">
    <div class="block-top text-formatter">
      USB Авторизация
    </div>

    <div class="block-middle text-formatter">
      Ожидание...
    </div>

    <div class="block-bottom">
      <div class="text text-formatter">
        Используйте USB ключ для верификации!
      </div>
      <div class="loader">
        <img class="loader-img" src="../../../../../assets/gif/usb-verify.gif" />
      </div>
    </div>
    <div class="exit" (click)="closeVerifyWindow()">
      <img
        class="exit-img"
        src="../../../../../assets/icons/widgets/change-shift/close-button.svg"
      />
    </div>
  </div>
</div>
