<div class="container">
    <div class="title">
      <div class="title__button-close" (click)="closeOptions()">
        <svg-icon  src="./assets/icons/widgets/reports/close.svg"
        class="add_button_icon">
    </svg-icon>
    </div>
    <div class="title__name">Выберите необходимые параметры</div>
    </div>
    <div class="content">
        <ng-container *ngFor="let item of data">
            <div class="content__item-title" (click)="onShowOptions(item)">
                <div class="name-item">
                    {{item.name}}
                </div>
                <div class="check-item">
                    <label class="mycheckbox">
                      <input type="checkbox" id="checkBoxValue" class="mycheckbox__default" (click)="changeSwap(item)" />
                      <div class="mycheckbox__new"></div>
                    </label>
                  </div>
            </div>
            
            <div *ngIf="item.open" class="content__item-options">
                <div *ngFor="let options of objectKeys(item)" class="options">
                  
                    <div class="options"> {{ options }}</div>
                    <div class="value"> {{ item[options] }}</div>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="bottom">
        <div class="bottom__block-edit">
            <div class="bottom__input-block">
                <div class="bottom__button-search">
                  <svg-icon *ngIf="!isRepInput" class="button_filter_icon"
                    src="./assets/icons/widgets/references/search_white.svg"></svg-icon>

                  <svg-icon *ngIf="isRepInput" class="indicator-selector__collapse"
                    src="./assets/icons/widgets/references/search_blue.svg"></svg-icon>
                </div>
                <div class="bottom__input" [class.bottom-reference-left__input-active]="isRepInput">
                  <input type="text" (focus)="isRepInput = true" (blur)="isRepInput = false"
                    (keyup)="search($event)" />
                </div>
              </div>
          </div>
          <div class="bottom__block">
            <div class="save-block" (click)="saveOptions()">
              <div class="bottom-reference-right__button-save">Сохранить</div>
            </div>
          </div>
    </div>
</div>