<ng-container *ngIf="info?.isShow">
  <div class="loading-shade loading-shade__blur"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
  >
    <div class="container">
      <div class="container__header">
        <div class="title">
          <span>Дополнительные параметры</span>
        </div>
        <div class="close">
          <div class="close__button" matRipple matRippleColor="white" (click)="cancel()">
            <svg-icon
              [svgStyle]="{'height.px':'21', 'width.px': '21'}"
              [src]="'assets/icons/widgets/alert-window/close.svg'"
            >
            </svg-icon>
          </div>
        </div>
      </div>
      <div class="container__body">
        <div class="kpe-parameters">
          <div class="title">
            <span>Установленные факты</span>
          </div>
          <div class="container__body__parameters">
            <div class="dropdown">
              <evj-events-workspace-select
                [dataType]="'eventType'"
              ></evj-events-workspace-select>
            </div>
            <div class="value">

            </div>
          </div>
        </div>
        <div class="extra-options">
          <div class="title">
            <span>Зависимые параметры</span>
          </div>
          <div class="container__body__parameters">
            <div class="dropdown">
              <div class="add-button" matRipple matRippleColor="white">
                <span>Добавить зависимые параметры</span>
              </div>
            </div>
            <div class="value">
              <div class="add-button" matRipple matRippleColor="white">
                <span>Удалить параметр</span>
              </div>
            </div>
          </div>
          <ng-container *ngFor="let item of [1, 2]">
            <div class="container__body__parameters">
              <div class="dropdown">
                <evj-events-workspace-select
                  [dataType]="'eventType'"
                ></evj-events-workspace-select>
              </div>
              <div class="value">
                <div class="value__text">

                </div>
              </div>
            </div>
          </ng-container>
          <div class="save-buttons">
            <div class="container__body__parameters">
              <div class="dropdown">
                <div class="add-button" matRipple matRippleColor="white" (click)="cancel()">
                  <span>Сбросить</span>
                </div>
              </div>
              <div class="value">
                <div class="add-button" matRipple matRippleColor="white" (click)="accept()">
                  <span>Сохранить</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
