.loading-shade {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  background: var(--color-aw-shade-bg-transparent);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;

  &__blur {
    backdrop-filter: blur(1.5px);
    transition: backdrop-filter 0.5s;
  }
}

.container {
  position: relative;
  width: 500px;
  height: 600px;

  background-color: var(--color-bg-card);
  box-shadow: 0 0 35px var(--color-aw-container-shadow-transparent);
  border-radius: 5px;

  &__header {
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px 4px 0 0;

    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: #d7e2f2;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-display: row;
    justify-content: space-between;

    .title {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .close {
      cursor: pointer;
      width: 20%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &__button {
        width: 21px;
        height: 21px;
      }
    }
  }

  &__body {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    height: calc(100% - 100px);
    box-sizing: border-box;
    padding: 30px 60px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__kpe-parameters {
      width: 100%;
      height: 80px;
      padding-bottom: 20px;
    }

    &__parameters {
      width: 100%;
      height: 38px;
      margin-bottom: 9px;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .dropdown {
      height: 100%;
      width: 60%;
      margin-right: 9px;

      &__select {
        height: 100%;
        width: 100%;
      }
    }

    .value {
      height: 100%;
      width: 40%;

      &__text {
        position: relative;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        border-radius: 2px;
        background-color: var(--header-events-color-bg-main);
        border: 1px solid var(--evj-events-workspace-color-border-extra);
      }
    }

    .add-button {
      height: 100%;
      width: 100%;
      border-radius: 2px;
      background-color: var(--evj-events-workspace-color-button-extra);
      font-size: 13px;
      line-height: 16px;
      color: var(--color-text-sub);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .title {
      width: 100%;
      height: 16px;
      margin-bottom: 8px;
      font-size: 13px;
      line-height: 16px;
      color: var(--color-text-sub);
    }
  }

  .save-buttons {
    position: absolute;
    bottom: 0px;
    width: 380px;

    height: 90px;
    padding: 10px 0;
    background-color: var(--color-bg-card);
    display: flex;
    align-items: center;
  }
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2px;
  border: 0px;
  background: var(--header-events-color-bg-main);
  color: white;
}

.options {
  width: 100%;
  height: 280px;
  overflow: scroll;
}

.event-mat-select {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 36px;
  min-width: 50px;
  color: var(--header-events-color-font-main);
  border: 1px solid var(--color-astue-mat-select-border);
  background-color: var(--header-events-color-bg-main);

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--header-events-color-font-main) !important;
    }
  }

  .mat-select {
    width: calc(100% - 2px) !important;
  }

  mat-label {
    line-height: 16px;
    font-size: 17px !important;
    color: var(--color-text-sub);
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-underline {
      height: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-ripple {
      height: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      display: flex;
      padding-top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-select-value-text {
      margin-left: 10px;
      font-size: 13px;
      color: inherit;
    }

    .mat-select-arrow {
      margin-right: 10px !important;
      margin-top: 5px !important;
    }

    .mat-form-field-label-wrapper {
      top: -20px;
    }
  }
}

.disabled {
  cursor: not-allowed;
}

.input-transperent {
  pointer-events: none;
  position: absolute;
  background: transparent;
  top: -2px;
  left: 87px;
}

input:focus {
  outline: 0;
}
