<evj-new-widgets-panel
  *ngIf="!fullscreen"
  (onSwap)="onSwap($event)"
  (onGrid)="onGrid($event)"
  (ngModelChange)="changedOptions()"
>
</evj-new-widgets-panel>

<gridster [options]="options">
  <gridster-item
    [item]="item"
    *ngFor="let item of widgetService.dashboard; let i = index"
    (dragstart)="dragStart($event, item)"
    (dragstop)="dragStop($event,item)"
    style="height: 1600px;"
  >
    <ng-container
      *ngComponentOutlet="WIDGETS[item.widgetType]; injector: (item.id | fn:getInjector : item.uniqid);"
    >
    </ng-container>
  </gridster-item>
</gridster>
