.container-park {
  height: calc(100% - 32px);
  width: calc(100% - 17px);
  border-left: 0.5px solid var(--color-smp-border);
  border-right: 0.5px solid var(--color-smp-border);
  position: relative;
  background: var(--color-bg-header-table);

  &__title {
    font-size: 10px;
    color: var(--color-smp-text-sub);
    position: absolute;
    top: -6px;
    left: 15px;
  }

  &__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    .tank {
      height: 100%;
    }

    .value {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;

      .value-block {
        margin-top: 6px;

        &__title {
          color: var(--color-smp-text-sub);
          font-size: 10px;
        }
        &__value {
          font-size: 16px;
        }
      }
    }
  }
}
