<ng-container *ngIf="isShow">
  <div
    class="loading-shade loading-shade__blur"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="confirm-container">
      <div class="confirm-container__body confirm-container-body">
        <div class="confirm-container-body__header confirm-container-body-header">
          <div
            class="confirm-container-body-header__icon confirm-container-body-header__icon_input"
          >
            <img src="assets/icons/components/alert-password/shield-icon.svg" />
          </div>
          <span>Создание пароля</span>
        </div>

        <div class="confirm-container-body__content confirm-container-body__content_prompt">
          <form class="form" [formGroup]="formGroup">
            <div class="input__block" [ngClass]="setPasswordStyle('password')">
              <input
                class="input"
                placeholder="Введите пароль"
                [type]="hide ? 'password' : 'text'"
                formControlName="password"
              />
              <svg-icon
                class="input__icon input__icon_visibility"
                [src]="hide ? invisibleIcon : visibleIcon"
                [svgStyle]="{ 'width.px':20, 'height.px':20 }"
                (click)="hide=!hide"
              ></svg-icon>
              <svg-icon
                class="input__icon input__icon_key"
                src="assets/icons/components/alert-password/key-icon.svg"
                [svgStyle]="{ 'width.px':20, 'height.px':20 }"
              ></svg-icon>
            </div>
            <div class="input__block" [ngClass]="setPasswordStyle('confirmPassword')">
              <input
                class="input"
                placeholder="Подтвердите пароль"
                [type]="hide ? 'password' : 'text'"
                formControlName="confirmPassword"
              />
              <svg-icon
                class="input__icon input__icon_visibility"
                [src]="hide ? invisibleIcon : visibleIcon"
                [svgStyle]="{ 'width.px':20, 'height.px':20 }"
                (click)="hide=!hide"
              ></svg-icon>
              <svg-icon
                class="input__icon input__icon_key"
                src="assets/icons/components/alert-password/key-icon.svg"
                [svgStyle]="{ 'width.px':20, 'height.px':20 }"
              ></svg-icon>
            </div>
          </form>
        </div>
      </div>
      <div class="confirm-container__footer">
        <div class="button-container">
          <evj-button
            textButton="Сохранить"
            (click)="onClickConfirm()"
            [isChangingState]="false"
            [isRounded]="true"
            [type]="'primary'"
          ></evj-button>
        </div>
        <div class="button-container">
          <evj-button
            textButton="Отменить"
            (click)="onClickBack()"
            [isChangingState]="false"
            [isRounded]="true"
          ></evj-button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <div class="container">
  <div class="alert">
    <div class="alert__password">
      <form [formGroup]="formGroup">
        <mat-form-field>
          <input
            matInput
            placeholder="Пароль"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            (focus)="formGroup.controls.password.markAsTouched()"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <svg-icon
              *ngIf="hide"
              src="./assets/icons/login/visibility_off.svg"
              [svgStyle]="{ 'width.px':20, 'height.px':20 }"
            ></svg-icon>
            <svg-icon
              *ngIf="!hide"
              src="./assets/icons/login/visibility.svg"
              [svgStyle]="{ 'width.px':20, 'height.px':20 }"
            ></svg-icon>
          </button>
          <mat-error *ngIf="formGroup.controls.password.invalid">
            Пароль должен содержать от {{minLength}} до {{maxLength}} символов, хотя бы одну
            заглавную букву, цифру и символ из списка ?!.-_*#$@
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Подтвердите пароль"
            [type]="hide ? 'password' : 'text'"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="formGroup.hasError('notSame')">Пароли не совпадают</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Подтвердить'"
        (click)="onClickConfirm()"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Назад'"
        (click)="onClickBack()"
      ></evj-button>
    </div>
  </div>
</div> -->
