<div class="container">
  <div class="alert">
    <div class="alert__password">
      <form [formGroup]="formGroup">
        <mat-form-field>
          <input
            matInput
            placeholder="Пароль"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <svg-icon
              *ngIf="hide"
              src="./assets/icons/login/visibility_off.svg"
              [svgStyle]="{ 'width.px':20, 'height.px':20 }"
            ></svg-icon>
            <svg-icon
              *ngIf="!hide"
              src="./assets/icons/login/visibility.svg"
              [svgStyle]="{ 'width.px':20, 'height.px':20 }"
            ></svg-icon>
          </button>
          <mat-error *ngIf="formGroup.controls.password.invalid">
            Пароль должен содержать от 7 до 25 символов, хотя бы одну заглавную букву, цифру и
            символ из списка ?!.-_*#$
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Подтвердите пароль"
            [type]="hide ? 'password' : 'text'"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="formGroup.hasError('notSame')">Пароли не совпадают</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Назад'"
        (click)="onClickBack()"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Подтвердить'"
        (click)="onClickConfirm()"
      ></evj-button>
    </div>
  </div>
</div>
