<div class="search">
  <evj-search-input
    [data]="typeWidgetChoose"
    [dataWidget]="widgets"
    (onCheck)="onCheck($event)"
    [isReport]="isReport"
    (searchReport)="searchReports($event)"
  ></evj-search-input>
</div>
<ng-container *ngIf="!checkClick && newArrayType !== undefined">
  <div class="result_block">
    <evj-search-filter
      [data]="newArrayType"
      (onFilterMass)="onFilterMass($event)"
      [arrayClick]="newArrayClick"
    ></evj-search-filter>
  </div>
</ng-container>
