<div class="container-circle">
  <div class="container-circle__title">Запас качества</div>
</div>
<div class="container-circle__content">
  <div class="energetics__graphic">
    <div class="energetics__round">
      <svg width="100%" height="100%" viewBox="-7 -2 55 55">
        <!-- termo dia -->
        <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="termoRadius" [attr.fill]="colorMain"></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="termoRadius"
          fill="transparent"
          [attr.stroke]="colorBg"
          stroke-width="1"
          [attr.stroke-dasharray]="diaCounter(termoRadius)"
          stroke-dashoffset="0"
        ></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="termoRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.termo)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(termoRadius, energyCircleDiagram.termo)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(termoRadius, energyCircleDiagram.termo)
                "
        ></circle>
        <circle
          *ngIf="
                  energyCircleDiagram.termo > energyCircleDiagram.upperLimit
                "
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="termoRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.upperLimit)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(termoRadius, energyCircleDiagram.upperLimit)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(termoRadius, energyCircleDiagram.upperLimit)
                "
        ></circle>

        <!-- electro dia -->
        <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="electroRadius" [attr.fill]="colorMain"></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="electroRadius"
          fill="transparent"
          [attr.stroke]="colorBg"
          stroke-width="1"
          [attr.stroke-dasharray]="diaCounter(electroRadius)"
          stroke-dashoffset="0"
        ></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="electroRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.electro)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(electroRadius, energyCircleDiagram.electro)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(electroRadius, energyCircleDiagram.electro)
                "
        ></circle>
        <circle
          *ngIf="
                  energyCircleDiagram.electro > energyCircleDiagram.upperLimit
                "
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="electroRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.upperLimit)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(electroRadius, energyCircleDiagram.upperLimit)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(electroRadius, energyCircleDiagram.upperLimit)
                "
        ></circle>

        <!-- fuel dia -->
        <circle [attr.cx]="centerX" [attr.cy]="centerY" [attr.r]="fuelRadius" [attr.fill]="colorMain"></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="fuelRadius"
          fill="transparent"
          [attr.stroke]="colorBg"
          stroke-width="1"
          [attr.stroke-dasharray]="diaCounter(fuelRadius)"
          stroke-dashoffset="0"
        ></circle>
        <circle
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="fuelRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.fuel)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(fuelRadius, energyCircleDiagram.fuel)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(fuelRadius, energyCircleDiagram.fuel)
                "
        ></circle>
        <circle
          *ngIf="
                  energyCircleDiagram.fuel > energyCircleDiagram.upperLimit
                "
          [attr.cx]="centerX"
          [attr.cy]="centerY"
          [attr.r]="fuelRadius"
          fill="transparent"
          [attr.stroke]="diaFill(energyCircleDiagram.upperLimit)"
          stroke-width="0.7"
          [attr.stroke-dasharray]="
                  diaLine(fuelRadius, energyCircleDiagram.upperLimit)
                "
          [attr.stroke-dashoffset]="
                  diaOffset(fuelRadius, energyCircleDiagram.upperLimit)
                "
        ></circle>

        <!-- Точки на концах линий -->
        <circle
          *ngIf="energyCircleDiagram.termo <= 100"
          [attr.cx]="
                  diaEndsLine(energyCircleDiagram.termo, termoRadius).xCen
                "
          [attr.cy]="
                  diaEndsLine(energyCircleDiagram.termo, termoRadius).yCen
                "
          [attr.r]="radPoint"
          fill="colorBg"
          [attr.stroke]="diaFill(energyCircleDiagram.termo)"
          stroke-width="0.3"
        ></circle>
        <circle
          *ngIf="energyCircleDiagram.electro <= 100"
          [attr.cx]="
                  diaEndsLine(energyCircleDiagram.electro, electroRadius).xCen
                "
          [attr.cy]="
                  diaEndsLine(energyCircleDiagram.electro, electroRadius).yCen
                "
          [attr.r]="radPoint"
          fill="colorBg"
          [attr.stroke]="diaFill(energyCircleDiagram.electro)"
          stroke-width="0.3"
        ></circle>
        <circle
          *ngIf="energyCircleDiagram.fuel <= 100"
          [attr.cx]="
                  diaEndsLine(energyCircleDiagram.fuel, fuelRadius).xCen
                "
          [attr.cy]="
                  diaEndsLine(energyCircleDiagram.fuel, fuelRadius).yCen
                "
          [attr.r]="radPoint"
          fill="colorBg"
          [attr.stroke]="diaFill(energyCircleDiagram.fuel)"
          stroke-width="0.3"
        ></circle>

        <!-- limits line-->
        <line
          [attr.x1]="diaLimits(energyCircleDiagram.lowerLimit).x1"
          [attr.y1]="diaLimits(energyCircleDiagram.lowerLimit).y1"
          [attr.x2]="diaLimits(energyCircleDiagram.lowerLimit).x2"
          [attr.y2]="diaLimits(energyCircleDiagram.lowerLimit).y2"
          [attr.stroke]="colorNormal"
          stroke-width="0.2"
          stroke-dasharray="1 1"
        />
        <circle
          [attr.cx]="diaLimits(energyCircleDiagram.lowerLimit).x1"
          [attr.cy]="diaLimits(energyCircleDiagram.lowerLimit).y1"
          [attr.r]="0.5"
          fill="var(--color-text-main)"
        ></circle>
        <circle
          [attr.cx]="diaLimits(energyCircleDiagram.lowerLimit).x2"
          [attr.cy]="diaLimits(energyCircleDiagram.lowerLimit).y2"
          [attr.r]="0.5"
          fill="var(--color-text-main)"
        ></circle>

        <line
          [attr.x1]="diaLimits(energyCircleDiagram.upperLimit).x1"
          [attr.y1]="diaLimits(energyCircleDiagram.upperLimit).y1"
          [attr.x2]="diaLimits(energyCircleDiagram.upperLimit).x2"
          [attr.y2]="diaLimits(energyCircleDiagram.upperLimit).y2"
          [attr.stroke]="colorNormal"
          stroke-width="0.2"
          stroke-dasharray="1 1"
        />
        <circle
          [attr.cx]="diaLimits(energyCircleDiagram.upperLimit).x1"
          [attr.cy]="diaLimits(energyCircleDiagram.upperLimit).y1"
          [attr.r]="0.5"
          fill="var(--color-text-main)"
        ></circle>
        <circle
          [attr.cx]="diaLimits(energyCircleDiagram.upperLimit).x2"
          [attr.cy]="diaLimits(energyCircleDiagram.upperLimit).y2"
          [attr.r]="0.5"
          fill="var(--color-text-main)"
        ></circle>

        <!-- logo dia -->
        <image x="13" y="10" width="25" height="25" xlink:href="assets/icons/widgets/SMP/flask.svg" />
        <text x="15" y="32" class="logo-text">Запас качества</text>

        <!-- labels dia -->

        <!-- termo -->
        <text *ngIf="data?.termo !== 0" x="50%" y="3.6" class="svg__txt">{{ data?.termo }}%</text>

        <!-- electro -->
        <text *ngIf="data?.electro !== 0" x="50%" y="6.6" class="svg__txt">{{ data?.electro }}%</text>

        <!-- fuel -->
        <text *ngIf="data?.fuel !== 0" x="50%" y="9.6" class="svg__txt">{{ data?.fuel }}%</text>

        <!-- limits value -->
        <text
          class="limitLabel"
          [attr.x]="
        diaLimitsLabels(energyCircleDiagram.lowerLimit, true).x
      "
          [attr.y]="
        diaLimitsLabels(energyCircleDiagram.lowerLimit, true).y
      "
        >
          {{ energyCircleDiagram.lowerLimit }}%
        </text>
        <text
          class="limitLabel"
          [attr.x]="diaLimitsLabels(energyCircleDiagram.upperLimit).x"
          [attr.y]="diaLimitsLabels(energyCircleDiagram.upperLimit).y"
        >
          {{ energyCircleDiagram.upperLimit }}%
        </text>

        <circle [attr.cx]="46.8" [attr.cy]="23" [attr.r]="1" fill="var(--color-active)"></circle>
      </svg>
    </div>
  </div>
</div>
