<div class="responsible">
  <div (click)="clearFilter()">
    <mat-form-field>
      <mat-select panelClass="mat-select-custom" [disabled]="disabled" [(ngModel)]="unit" disableOptionCentering>
        <evj-mat-select-filter [formControl]="filter"></evj-mat-select-filter>
        <ng-container *ngFor="let u of units">
          <mat-option [value]="u.id" (click)="chooseUnit(u)">
            {{ u?.name || '-' }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
