<!-- <evj-header class="header">
  <div class="logo-gpn"></div>
  <evj-indicator-selector
    class="header__indicator-selector"
  ></evj-indicator-selector>
  <evj-line-datetime class="header__line-datetime"></evj-line-datetime>
  <evj-period-selector class="header__period-selector"></evj-period-selector>
  <evj-user-info class="header__user-info"></evj-user-info>
</evj-header>

<evj-content class="content"> -->
<!-- <evj-widgets-grid></evj-widgets-grid>
  <evj-widgets-panel></evj-widgets-panel>-->

<!-- <evj-new-widgets-grid></evj-new-widgets-grid>
</evj-content> -->

<div style="width:500px;height:300px">
  <!-- <evj-operation-efficiency style="margin: 20px;"></evj-operation-efficiency> -->
  <!-- <evj-calendar-plan style="margin: 20px;"></evj-calendar-plan> -->
  <evj-ecology-safety style="margin: 20px;"></evj-ecology-safety>
</div>
