<div class="page-container">
  <evj-header *ngIf="!fullscreen" class="header">
    <div class="logo-gpn"></div>
    <div class="arrow-gpn"></div>
    <evj-group-selector class="header__group-selector"></evj-group-selector>
    <evj-indicator-selector class="header__indicator-selector"></evj-indicator-selector>
    <evj-line-datetime class="header__line-datetime"></evj-line-datetime>
    <evj-period-selector class="header__period-selector"></evj-period-selector>
    <evj-user-info class="header__user-info"></evj-user-info>
    <evj-indicator-diagram class="header__indicator-diagram"></evj-indicator-diagram>
    <evj-menu-button class="header__menu-button"></evj-menu-button>
  </evj-header>

  <evj-content class="content">
    <evj-loading-shade [isLoading]="overlayService.dashboardIsLoad$ | async"></evj-loading-shade>
    <evj-alert-window [info]="overlayService.dashboardAlert$ | async"></evj-alert-window>
    <evj-alert-password [options]="overlayService.dashboardAlertPassword$ | async"></evj-alert-password>
    <evj-widgets-grid></evj-widgets-grid>
  </evj-content>
</div>
