<evj-header *ngIf="!fullscreen" class="header">
  <div class="logo-gpn"></div>
  <evj-indicator-selector class="header__indicator-selector"></evj-indicator-selector>
  <evj-line-datetime class="header__line-datetime"></evj-line-datetime>
  <evj-period-selector class="header__period-selector"></evj-period-selector>
  <evj-user-info class="header__user-info"></evj-user-info>
</evj-header>

<evj-content class="content">
  <evj-new-widgets-grid></evj-new-widgets-grid>
</evj-content>

<!-- <div style="width: 1350px; height: 715px; margin: 20px;">
  <evj-admin-panel></evj-admin-panel>
</div> -->
