.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  &__indicator-selector {
    height: 100%;
  }

  &__line-datetime {
    height: 100%;
    width: 100%;
  }

  &__period-selector {
    margin-left: 0;
  }

  &__user-info {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0;
    height: 100%;
    width: auto;
  }
}

.content {
  z-index: 0;
}

.logo-gpn {
  margin: 7px 15px 7px 5px;
  min-width: 240px;
  height: calc(100% - 15px);
  background: url("../../../../assets/icons/gpn-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.modal-window {
  display: none;
  border: 1px solid var(--color-border-main);
  border-radius: 5px;
  width: 200px;
  height: 70px;
  padding-left: 10px;
  z-index: 9999;

  background-color: #1a1f2d;

  position: absolute;

  font-size: 10px;

  .title {
    display: inline-block;

    font-size: 11px;
    padding: 9px 0;
    padding-left: 10px;

    .value {
      color: #009fe4;
    }
  }
  .text {
    color: #5a6587;
  }
}
