.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--border-forms-color);
  border-radius: 2px;
  box-sizing: border-box;
  background: var(--gray-G10-color);
  cursor: pointer;
  user-select: none;

  & > * {
    margin: 0 auto;
    max-width: 100%;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    color: var(--text-contrast-color);
  }

  .unit {
    color: var(--text-subscript-color);
  }

  &__deviation {
    border-color: var(--index-error-color);

    .value {
      color: var(--index-error-color);
    }

    .unit {
      color: var(--index-error-color);
    }
  }
}
