<div class="container-card">
    <div class="container-card__title">
        {{ data.name }}
    </div>
    <div class="container-card__content">
        <div class="value">
            <div> {{ data.valueLev }} СМ</div>
            <div> {{ data.valueGr }} C</div>
            <div> {{ data.valuePas }}</div>
        </div>
        <div class="tank">
            <evj-tank-filling [data]="data.tankFilling"></evj-tank-filling>
        </div>
        <div class="status">
            <svg-icon src="./assets/icons/widgets/oil-control-all/tank-information/{{data.status}}.svg"
                [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
        </div>
    </div>
    <div class="container-card__status {{data.operation}}"></div>
</div>