.container-card {
  cursor: default;
  min-height: 100px;
  width: 170px;
  border-radius: 15px;
  background-color: var(--color-oil-card);
  position: relative;
  padding: 5px 0 15px 15px;

  &__title {
    color: var(--color-text-sub);
    font-size: 12px;
    height: 20px;
    padding-top: 3px;
    margin-bottom: 5px;
    margin-left: -5px;
    &__chips {
      background: var(--color-bg-main);
      padding: 4px 7px;
      border-radius: 10px;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    min-height: calc(100 - 25px);

    .value {
      width: 48%;
      line-height: 20px;
      margin-top: 5px;
      height: 100%;
      font-size: 14px;
    }

    .tank {
      width: 35%;
      display: flex;
      align-items: center;
      margin-top: -10px;
    }

    .status {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15%;
      flex-direction: column;
      margin-top: 3px;
    }
  }

  &__status {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 20px;
  }

  &__text-status {
    position: absolute;
    font-size: 12px;
    right: 4px;
    bottom: 5px;
    padding: 0 10px;
    background: var(--color-bg-main);
    border-radius: 20px;
    color: var(--color-text-sub);
    line-height: 22px;
  }

  //.standart {
  //    background-color: var(--color-axis);
  //    opacity: 1;
  //
  //    &::after {
  //        content: "";
  //        position: absolute;
  //        top: 0px;
  //        right: 0px;
  //        height: 30px;
  //        width: 30px;
  //        border-bottom-left-radius: 35px;
  //        border-top-right-radius: 15px;
  //        background-color: var(--color-axis);
  //        opacity: 0.5;
  //    }
  //}

  //.in {
  //    background-color: var(--color-standard);
  //    opacity: 1;
  //
  //    &::after {
  //        content: "";
  //        position: absolute;
  //        top: 0px;
  //        right: 0px;
  //        height: 30px;
  //        width: 30px;
  //        border-bottom-left-radius: 35px;
  //        border-top-right-radius: 15px;
  //        background-color: var(--color-standard);
  //        opacity: 0.5;
  //    }
  //}

  .inOut,
  .in,
  .out {
    background-color: var(--color-active);
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 35px;
      border-top-right-radius: 15px;
      background-color: var(--color-active);
      opacity: 0.5;
    }
  }

  .hold {
    background-color: var(--color-standard);
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 35px;
      border-top-right-radius: 15px;
      background-color: var(--color-standard);
      opacity: 0.5;
    }
  }

  .unknown {
    background-color: var(--color-axis);
    opacity: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      height: 30px;
      width: 30px;
      border-bottom-left-radius: 35px;
      border-top-right-radius: 15px;
      background-color: var(--color-axis);
      opacity: 0.5;
    }
  }
}

.att-block {
  display: flex;
  height: 20px;
  font-size: 13px;
  align-items: center;
  margin-bottom: 3px;

  &__value {
    width: auto;
    white-space: nowrap;
  }

  &__unit {
    margin-left: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    color: var(--color-active);
  }
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  font-size: 10px;
  text-align: center;
  position: absolute;
  width: 80px;
  left: 50px;
  bottom: 0px;
  background: var(--color-bg-main);
  color: #fff;
  border: 1px solid var(--color-text-main);
  border-radius: 15px;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  pointer-events: none;
  opacity: 0;
  height: 15px;
  line-height: 15px;
  transition: 1s;
}

[data-tooltip]:hover::after {
  opacity: 1;
  bottom: 10px;
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}
