<div class="card" [ngClass]="{'card-active':selectEdit.hasValue()}">
  <div class="input">
    <mat-form-field class="input__search">
      <mat-label>{{ option.name }}</mat-label>
      <input
        type="text"
        matInput
        #input
        [formControl]="inputFormControl"
        [placeholder]="placeholder"
        prefix="{{prefix}}"
        [mask]="mask"
        [showMaskTyped]="showMaskTyped"
        (blur)="onInput()"
      />
      <mat-error *ngIf="inputFormControl.invalid"></mat-error>
    </mat-form-field>
  </div>
  <div
    class="button"
    *ngIf="selectEdit.isEmpty() && !isCreateNewUser && !disabled"
    [ngClass]="{'button-active':selectEdit.hasValue()}"
    (click)="onEditClick()"
  >
    <img src="assets/icons/widgets/admin/edit-button.svg" />
  </div>
  <div
    class="button button-x"
    *ngIf="!isCreateNewUser"
    [ngClass]="{'button-hidden':selectEdit.isEmpty()}"
    (click)="onCloseClick()"
  ></div>
</div>
