.content-container {
  height: 100%;
  width: 100%;
  margin-left: -22px;
}

.tabs-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;

  .tab {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--gray-G9-color);
    padding: 15px;
    cursor: pointer;

    &__title {
      font-size: 12px;
      color: var(--color-marker-diagram);
    }

    &--active {
      border-bottom: 2px solid var(--index-plan-color);
      background: linear-gradient(0deg, rgba(35, 120, 217, 0.25) 0px, rgba(35, 120, 217, 0.0001) 10px);

      .tab__title {
        color: var(--text-accent-color);
      }
    }
  }
}

.wrapper {
  background-color: var(--color-kpe-gaude-back);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -15px;

  .unit-selector {
    position: absolute;
    z-index: 20;
    top: 32px;
    right: 19px;
    display: flex;

    span {
      font-family: Tahoma;
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
    }

    &__unit,
    &__sign {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    &__unit {
      padding: 0 4px;
      height: 18px;
      background: var(--color-sou-border);
      border-radius: 2px 0 0 2px;

      span {
        color: var(--color-kpe-gaude-additional);
      }
    }

    &__sign {
      padding: 0 4px;
      height: 18px;
      background: rgba(0, 137, 255, 0.2);
      border: 1px solid var(--color-aps-active);
      border-radius: 0 2px 2px 0;
      box-sizing: border-box;

      span {
        color: var(--color-kpe-eq-chart-title);
      }
    }
  }

  .diagram-container {
    width: 50%;
  }

  .circle1,
  .circle2,
  .circle3,
  .circle4,
  .circle5 {
    stroke: none;
    border-radius: 50%;
    border: 1px solid var(--color-kpe-gaude-lines);
    position: absolute;
  }

  .circle1 {
    width: 60%;
  }

  .circle2 {
    width: 70%;
  }

  .circle3 {
    width: 80%;
  }

  .circle4 {
    width: 90%;
  }

  .circle5 {
    width: 100%;
  }
}
