<evj-widget-header-smp
  [uniqId]="uniqId"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseExit()"
  *ngIf="isHover"
>
</evj-widget-header-smp>
<div
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseExit()"
  class="mat-balance"
  evjContextMenu
  [items]="items"
>
  <evj-cd-modal-window [info]="modal"></evj-cd-modal-window>
  <div class="mat-balance__gauge">
    <evj-cd-mat-balance-gauge></evj-cd-mat-balance-gauge>
  </div>
  <div class="mat-balance__mnemonic">
    <evj-cd-mnemonic  [dataRef]="data?.sensors"></evj-cd-mnemonic>
  </div>
  <div class="mat-balance__chart mat-elevation-z6" *ngIf="isSelectedEl">
    <evj-cd-mat-balance-chart></evj-cd-mat-balance-chart>
  </div>
  <div class="mat-balance__right">
    <evj-cd-mat-balance-right></evj-cd-mat-balance-right>
  </div>
</div>
