.svg {
  &__circle {
    fill: var(--color-bg-main);
    stroke: var(--color-kpe-gaude-active);

    &--deviation {
      stroke: var(--color-kpe-eq-chart-row-over);
    }

    &__value {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.1s, opacity 0.1s linear;

      &--disabled {
        visibility: hidden;
        opacity: 0;
      }
    }

    &__eng-units {
      visibility: visible;
      opacity: 1;
      transition: visibility 0.1s, opacity 0.1s linear;

      &--disabled {
        visibility: hidden;
        opacity: 0;
      }
    }

    &--disabled {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__modal {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.1s linear;

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__icon {
    cursor: pointer;

  }
}

.mat-balance {
  background-color: var(--color-cd-bg-component);
  &__gauge {
    position: absolute;
    top: 0;
    background-color: var(--color-cd-bg-component);
  }

  &__mnemonic {
    min-width: 1200px;
    max-width: 1200px;

    svg {
      margin-top: 32px;
      margin-left: 69px;
    }
  }
}
