.mycheckbox {
  height: 100%;
  width: 100%;
  justify-content: center;
  margin-left: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mycheckbox__default {
  display: none;
}

.mycheckbox__descr {
  font-size: 14px;
}

.mycheckbox__default:checked + .mycheckbox__new::after {
  height: 10px;
  width: 10px;
  border-radius: 25px;
}

.mycheckbox__new {
  width: 16px;
  height: 16px;
  border-radius: 25px;
  border: 1px solid white;
  margin-right: 9px;
  position: relative;
}

.mycheckbox__checked {
  border: 1px solid var(--color-border-active);
}

.mycheckbox__new::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: var(--color-border-active);
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

input {
  width: calc(100% - 20px);
  height: 30px;
  outline: none;
  padding-left: 20px;
  background: rgb(33, 36, 45, 0.1);
  font-size: 14px;
  border: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    border-bottom: 1px solid var(--color-border-active);
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

.options {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 40px;
  border-bottom: 1px solid var(--color-bg-main);
  align-items: center;
  background-color: #1b1f2c;

  &__title {
    width: 50%;
    margin-left: 20px;
  }

  &__value {
    border-left: 1px solid var(--color-bg-main);
    width: 50%;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    position: relative;

    .edit-button {
      position: absolute;
      top: 2px;
      width: 12px;
      right: 30px;
      cursor: pointer;

      .collapse {
        ::ng-deep svg {
          height: 100%;
          width: 100%;
          margin-left: 5px;
        }
      }
    }

    .mat-form-field {
      width: 90%;

      ::ng-deep .mat-form-field-underline {
        display: none;
      }
    }

    .block-info {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .add-block-input {
      width: 100%;

      input {
        padding-left: 0;
      }
    }
    .add-block-icon {
      cursor: pointer;
      width: 20px;
      margin-top: 5px;
      position: absolute;
      right: 30px;
    }

    ::ng-deep .mat-chip-ripple {
      border: 1px solid var(--color-border-active) !important;
    }
    ::ng-deep .mat-chip-remove {
      opacity: 0.9 !important;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    ::ng-deep .mat-form-field-flex {
      padding: 0 !important;
    }
  }
}

.source{
  height: auto !important;
}

::ng-deep .mat-input-placeholder {
  color: white !important;
}
