<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>
  <evj-alert-window [info]="alertWindow"></evj-alert-window>
  <evj-workflow-table [data]="alertWorkspaceTable" [height]="heightModal"></evj-workflow-table>
  <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" #content>
    <div class="workflow">
      <div class="workflow__choose-scenario" #splitLeft>
        <evj-workflow-list style="height: 100%"></evj-workflow-list>
      </div>
      <div class="workflow__vertival-bar" #splitVertivalBar></div>
      <div class="workflow__right-block">
        <div class="workflow__action">
          <div class="workflow__action__title">Доступные инструменты</div>
          <div class="workflow__action__body">
            <div class="workflow__action__body__items">
              <div
                class="workflow__action__body__item"
                [draggable]="true"
                (dragstart)="dragStartHandler($event, actions[1].uid)"
              >
                <svg-icon
                  class="workflow__action__body__item__icon"
                  src="assets/icons/widgets/workflow/action-other.svg"
                  [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                ></svg-icon>
                <span class="workflow__action__body__item__title">Событие</span>
              </div>
              <div
                class="workflow__action__body__item"
                (dragstart)="dragStartHandler($event, actions[0].uid)"
                draggable="true"
              >
                <svg-icon
                  class="workflow__action__body__item__icon"
                  src="assets/icons/widgets/workflow/message_w.svg"
                  [svgStyle]="{ 'width.px':32, 'height.px':32 }"
                ></svg-icon>
                <span class="workflow__action__body__item__title">Отправить сообщение </span>
              </div>
            </div>
          </div>
        </div>

        <div class="workflow__scenario">
          <div class="workflow__scenario__title">Сценарий</div>

          <div class="workflow__scenario__body" #containerWorkflow>
            <div @fadeAnimation class="workflow__scenario__body__alert" *ngIf="comboAction || emailAction.length > 0">
              <div сlass="workflow__scenario__body__alert__text">Оповещение сотрудников при выполнение действии</div>
              <div
                сlass="workflow__scenario__body__alert__btn"
                style="
                  border-radius: 25px;
                  border: 2px solid white;
                  height: 19px;
                  padding: 4px 17px;
                  font-size: 12px;
                  align-items: center;
                  display: flex;
                  margin-left: 10px;
                  cursor: pointer;
                "
                (click)="saveProperty()"
              >
                Сохранить
              </div>
            </div>
            <div class="workflow__scenario__body__top" #splitTop [id]="LEADER_LINE_PARENT_CONTAINER">
              <gridster
                style="min-width: 100% !important; min-height: 100% !important"
                class="workflow__scenario__body__top__gridster"
                id="gridSize"
                [options]="options"
                (click)="chooseGridItem($event, null)"
                (scroll)="scrollHandler($event)"
              >
                <ng-container *ngFor="let i of items">
                  <gridster-item
                    #line
                    [item]="i"
                    (click)="chooseGridItem($event, i)"
                    style="height: 1600px; overflow: visible !important"
                    class="workflow__scenario__body__top__gridster__item"
                    [class.workflow__scenario__body__top__gridster__item--active]="activeActions === i"
                    [id]="i.scenarioAction"
                  >
                    <svg-icon
                      *ngIf="isSendMail(i.type)"
                      [matTooltip]="workflowActionsNameMap[workflowActions.SEND_EMAIL]"
                      class="workflow__action__body__item__icon"
                      src="assets/icons/widgets/workflow/message_w.svg"
                      [svgStyle]="{ 'width.px':widthSvgIconGrid, 'height.px':heightSvgIconGrid }"
                    ></svg-icon>
                    <svg-icon
                      *ngIf="isTableEvent(i.type)"
                      [matTooltip]="workflowActionsNameMap[workflowActions.GRADUATION_TABLE_EVENT]"
                      class="workflow__action__body__item__icon"
                      src="assets/icons/widgets/workflow/action-other.svg"
                      [svgStyle]="{ 'width.px':widthSvgIconGrid, 'height.px':heightSvgIconGrid }"
                    ></svg-icon>
                    <svg-icon
                      *ngIf="activeActions === i"
                      (click)="deleteAction(i.scenarioAction)"
                      style="position: absolute; bottom: -10px; right: -4px"
                      src="assets/icons/widgets/workflow/trash_w.svg"
                      [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                    ></svg-icon>
                  </gridster-item>
                </ng-container>
                <div [id]="LEADER_LINE_REMOVE_CONTAINER">
                  <div style="display: none">
                    <svg-icon
                      #removeLineTemplate
                      [id]="LEADER_LINE_REMOVE_TEMPLATE"
                      style="height: 18px"
                      class="remove-line__icon"
                      src="assets/icons/widgets/admin-shift-schedule/close.svg"
                      [svgStyle]="{ 'width.px':'10', 'height.px':'10' }"
                    ></svg-icon>
                  </div>
                </div>
              </gridster>
              <div [id]="LEADER_LINE_HOST_CONTAINER"></div>
            </div>
            <div class="workflow__scenario__body__bar" #splitBar></div>
            <div class="email__title" *ngIf="comboAction">
              <div>Выбор действия</div>
            </div>
            <div class="email__title" *ngIf="emailAction.length > 0">
              <div>Сообщение</div>
            </div>
            <div class="workflow__scenario__body__bottom" #splitBottom>
              <!-- Combo -->
              <ng-container *ngFor="let item of comboAction">
                <ng-container *ngIf="item.name !== 'NotificationsEventType'">
                  <div class="combo-box_title">
                    {{ item.description }}
                  </div>
                  <div class="combo-box">
                    <mat-form-field class="combo-box_selectbox">
                      <mat-select
                        [(ngModel)]="item.value"
                        panelClass="combo-box_selectbox"
                        (selectionChange)="chooseActionScenario($event, item)"
                      >
                        <mat-option *ngFor="let p of item.source" [value]="p">{{p.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>
              <!-- Email -->
              <div class="email" *ngIf="emailAction.length > 0">
                <ng-container *ngFor="let email of emailAction">
                  <div class="email__subject" *ngIf="email.name === 'EmailSubject'">
                    <div class="email__subject__title">{{ email.description }}</div>
                    <div class="email__subject__value">
                      <input placeholder="Введите тему..." [(ngModel)]="emailPropActionUI.emailSubject" />
                    </div>
                  </div>
                  <div class="email__recipient" *ngIf="email.name === 'EmailTo'">
                    <div class="email__recipient__title">
                      {{ email.description }}
                      <div class="email__recipient__title__icon" (click)="addUser('to')"></div>
                    </div>
                    <div class="email__recipient__value">
                      <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="valueInput selection">
                          <mat-chip
                            *ngFor="let value of emailPropActionUI.emailToArray"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(value, 'to')"
                          >
                            {{ value }}
                            <mat-icon matChipRemove>
                              <svg-icon
                                src="assets/icons/widgets/reports/close-icon.svg"
                                [svgStyle]="{ 'width.px':10, 'height.px':18, 'margin-top.px': 0}"
                              >
                              </svg-icon>
                            </mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Введите E-mail..."
                            #valueInputChips
                            [formControl]="emailPropActionUI?.emailTo"
                            [matChipInputFor]="chipList"
                            matChipInputAddOnBlur="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event, 'to')"
                          />
                        </mat-chip-list>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="email__copy" *ngIf="email.name === 'EmailCopy'">
                    <div class="email__copy__title">
                      {{ email.description }}
                      <div class="email__copy__title__icon" (click)="addUser('copy')"></div>
                    </div>
                    <div class="email__copy__value">
                      <mat-form-field class="example-chip-list">
                        <mat-chip-list #chipList aria-label="valueInput selection">
                          <mat-chip
                            *ngFor="let value of emailPropActionUI.emailCopyArray"
                            [selectable]="selectable"
                            [removable]="removable"
                            (removed)="remove(value, 'copy')"
                          >
                            {{ value }}
                            <mat-icon matChipRemove>
                              <svg-icon
                                src="assets/icons/widgets/reports/close-icon.svg"
                                [svgStyle]="{ 'width.px':10, 'height.px':18, 'margin-top.px': 0}"
                              >
                              </svg-icon>
                            </mat-icon>
                          </mat-chip>
                          <input
                            placeholder="Введите E-mail..."
                            #valueInputChips
                            [formControl]="emailPropActionUI?.emailCopy"
                            [matChipInputFor]="chipList"
                            matChipInputAddOnBlur="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event, 'copy')"
                          />
                        </mat-chip-list>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="email__text" *ngIf="email.name === 'EmailBody'">
                    <evj-email-editor
                      (emailChange)="onEmailText($event)"
                      [email]="emailPropActionUI?.emailBody"
                    ></evj-email-editor>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
