[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mock {
  display: block;
  height: 200px;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  .line {
    color: var(--color-text-sub-heading);
    margin: 0 auto;
    padding-left: 160px;
  }
  &-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  img {
    width: 80%;
    height: 100%;
  }
}

.content {
  height: calc(100% - 56px);
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
}

.mock {
  width: 100%;
  display: table;
  height: calc(100% - 60px);
  text-align: center;
  color: var(--color-text-sub);
  border-left: var(--border-style-dashed);
  border-right: var(--border-style-dashed);
  tr {
    height: 20%;
  }
}

.workflow {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
  height: calc(100% - 10px);

  &__choose-scenario {
    display: flex;
    flex-direction: column;

    width: 30%;
    // transition: width 200ms ease-in-out 0s;
    min-width: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    // height: calc(100% - 20px);
    margin-right: 5px;

    overflow-x: auto;
    overflow-y: hidden;
  }

  &__vertival-bar {
    cursor: col-resize;
    background-color: var(--color-bg-card-workflow);
    min-width: 8px;
    border-radius: 10px;
    margin: 0 auto;
    margin-right: 5px;
    height: 100%;
    background-image: url(./../../../../assets/icons/widgets/workflow/drag_w.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    z-index: 999;
  }

  &__right-block {
    flex: 1;
    display: flex;
    height: calc(100% - 20px);
  }

  &__action {
    width: 100%;
    min-width: 200px;
    max-width: 260px;
    margin-right: 10px;

    &__title {
      font-size: 12px;
      color: var(--color-text-sub);
      margin-left: 15px;
      margin-bottom: 10px;
    }
    &__body {
      background-color: var(--color-bg-card-workflow);
      border-radius: 15px;

      &__items {
        display: flex;
        flex-direction: column;
      }

      &__item {
        cursor: all-scroll;
        display: flex;
        align-items: center;
        padding: 7px 15px;

        &__title {
          padding-left: 10px;
        }
      }
    }
  }

  &__scenario {
    width: 100%;
    min-width: 200px;

    &__title {
      font-size: 12px;
      color: var(--color-text-sub);
      margin-left: 15px;
      margin-bottom: 10px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;

      overflow: hidden;

      &__alert {
        position: absolute;
        top: 0px;
        z-index: 999;
        background-color: var(--color-border-main);
        font-size: 12px;
        width: 100%;
        border-radius: 10px;
        min-height: 40px;
        display: flex;
        padding: 4px 10px;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-between;

        &__text {
          color: red;
        }

        &__btn {
          border-radius: 25px;
          // border: 2px solid aquamarine;
          height: 19px;
          padding: 4px 17px;
          font-size: 12px;
        }
      }

      &__top {
        height: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        background-color: var(--color-bg-card-workflow);
        margin-bottom: 5px;
        // transition: height 100ms ease-in-out 0s;

        &__gridster {
          &__item {
            cursor: pointer;
            &--active {
              box-shadow: 0 0 10px rgba(36, 124, 224, 0.781);
            }
          }
        }

        gridster {
          background: none;

          gridster-item {
            background: none;
            border-radius: 25px;
          }
        }

        .display-grid ::ng-deep .gridster-column {
          border-left: none !important;
          border-right: 1px solid var(--color-bg-sub) !important;
        }

        .display-grid ::ng-deep .gridster-row {
          border-top: none !important;
          border-bottom: 1px solid var(--color-bg-sub) !important;
        }
      }

      .email__title {
        font-size: 12px;
        margin-top: 5px;
        margin-left: 10px;
        display: flex;
        justify-content: flex-start;
        color: var(--color-text-sub-workflow);
      }

      .table__title {
        font-size: 12px;
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
        color: var(--color-text-sub-workflow);
      }

      &__bottom {
        flex: 1;
        overflow-y: scroll;
        border-radius: 15px;
        margin-top: 5px;
        background-color: var(--color-bg-card-workflow);
        box-sizing: border-box;

        input {
          width: calc(100% - 20px);
          height: 30px;
          outline: none;
          padding-left: 20px;
          background: rgb(33, 36, 45, 0.1);
          font-size: 14px;
          border: none;
          color: rgb(255, 255, 255);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          &::placeholder {
            color: var(--color-text-sub-workflow);
          }

          &:hover {
            border-bottom: 1px solid var(--color-border-active);
            color: white;
            &::placeholder {
              color: white;
            }
          }
        }

        .table {
          &__title {
            display: flex;
          }
          table {
            width: 100%;
            td {
              input {
                margin: 0px 10px;
                box-sizing: border-box;
              }
            }
          }
        }
        .combo-box {
          background-color: var(--color-bg-main);
          border-radius: 25px;
          margin: 10px;

          &_selectbox {
            width: 100%;
            max-height: 36px;
            ::ng-deep {
              .mat-form-field-infix {
                border-top: 5px solid transparent;
              }

              .mat-form-field-underline {
                display: none;
              }
              .mat-form-field-infix {
                padding-top: 0 !important;
              }
              .mat-form-field-flex {
                padding-top: 4px !important;
                padding-left: 20px !important;
              }
              .mat-select-arrow-wrapper {
                transform: translateY(9%);
              }
            }
          }
        }

        .email {
          height: 100%;

          &__subject {
            padding: 8px 14px;

            &__title {
              color: var(--color-text-sub-workflow);
              font-size: 12px;
              display: flex;
              align-items: center;
            }
          }

          &__recipient {
            padding: 0 14px;

            &__title {
              position: relative;
              height: 30px;
              color: var(--color-text-sub-workflow);
              font-size: 12px;
              display: flex;
              align-items: center;

              &__icon {
                cursor: pointer;
                position: absolute;
                left: 74px;
                top: 0px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../../../assets/icons/widgets/workflow/add-user_w.svg);
                &:hover {
                  background-image: url(../../../../assets/icons/widgets/workflow/add_user-active_w.svg);
                }
              }
            }
          }

          &__copy {
            padding: 0 14px;

            &__title {
              position: relative;
              height: 30px;
              color: var(--color-text-sub-workflow);
              font-size: 12px;
              display: flex;
              align-items: center;

              &__icon {
                cursor: pointer;
                position: absolute;
                left: 42px;
                top: 0px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../../../assets/icons/widgets/workflow/add-user_w.svg);
                &:hover {
                  background-image: url(../../../../assets/icons/widgets/workflow/add_user-active_w.svg);
                }
              }
            }
          }

          .mat-form-field {
            width: 90%;

            ::ng-deep .mat-form-field-underline {
              display: none;
            }
          }

          ::ng-deep .mat-chip-ripple {
            border: 1px solid var(--color-border-active) !important;
          }
          ::ng-deep .mat-chip-remove {
            opacity: 0.9 !important;
          }

          ::ng-deep .mat-form-field-wrapper {
            padding-bottom: 0 !important;
          }

          ::ng-deep .mat-form-field-flex {
            padding: 0 !important;
          }
          ::ng-deep .mat-form-field-infix {
            border-top: 0 !important;
          }
          ::ng-deep .mat-input-placeholder {
            color: white !important;
          }
        }
      }

      &__bar {
        cursor: row-resize;
        background-color: var(--color-bg-card-workflow);
        width: 90%;
        border-radius: 10px;
        margin: 0 auto;
        height: 8px;
        background-image: url(./../../../../assets/icons/widgets/workflow/drag_w.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 15px;
        z-index: 999;
      }
    }
  }
}

::ng-deep .combo-box_selectbox {
  mat-option {
    &.mat-option.mat-selected:not(.mat-option-disabled) {
      color: var(--color-active) !important;
    }
    &:hover {
      background-color: var(--color-bg-card-workflow) !important;
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}

.remove-line__icon {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
