<div class="operation-section">
  <div class="operation">
    <div class="operation__svg operation__svg__source">
      <svg-icon
        src="assets/icons/widgets/SOU/sou-workspace/chart_mountain.svg"
        class="operation__svg__button">
      </svg-icon>
    </div>
    <div class="operation__source">

      <div class="operation__source__weight operation__block">
        <div class="operation__img-block operation__source__img-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/mass_meter.svg">
          </svg-icon>
        </div>
        <div class="operation__info-block">
          <div class="operation__title">Масса по источнику</div>
          <div class="operation__text">45.32</div>
        </div>
      </div>

      <div class="line__vertical-dotted"></div>
      <div class="line__horizontal">
        <div class="line__horizontal__small"></div>
        <div class="line__dot"></div>
        <div class="line__horizontal__big"></div>
      </div>
      <div class="line__vertical-dotted"></div>

      <div class="operation__source__start-operation operation__block">
        <div class="operation__img-block operation__source__img-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/timer.svg">
          </svg-icon>
        </div>
        <div class="operation__info-block">
          <div class="operation__title">Начало операции</div>
          <div class="operation__text">15.02.2021, 09:00</div>
        </div>
        <div class="operation__edit-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/edit_pen.svg"
            [ngStyle]="{ 'height.px':12 }">
          </svg-icon>
        </div>
      </div>

    </div>

    <div class="operation__center-block">
      <div class="operation__center-block__title">
        2.02
      </div>
      <div class="operation__center-block__text">
        Δm
      </div>
    </div>

    <div class="operation__receiver">
      <div class="operation__receiver__weight operation__block">
        <div class="operation__img-block operation__receiver__img-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/mass_meter-green.svg">
          </svg-icon>
        </div>
        <div class="operation__info-block">
          <div class="operation__title">Масса по приёмнику</div>
          <div class="operation__text">47.34</div>
        </div>
      </div>

      <div class="line__vertical-dotted"></div>
      <div class="line__horizontal">
        <div class="line__horizontal__big"></div>
        <div class="line__dot"></div>
        <div class="line__horizontal__small"></div>
        <svg-icon
          class="line__horizontal__arrow"
          src="assets/icons/widgets/SOU/sou-workspace/arrow.svg">
        </svg-icon>
      </div>
      <div class="line__vertical-dotted"></div>

      <div class="operation__receiver__end-operation operation__block">
        <div class="operation__img-block operation__receiver__img-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/timer-green.svg">
          </svg-icon>
        </div>
        <div class="operation__info-block">
          <div class="operation__title">Конец операции</div>
          <div class="operation__text">15.02.2021, 18:00</div>
        </div>
        <div class="operation__edit-block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-workspace/edit_pen.svg"
            [ngStyle]="{ 'height.px':12 }">
          </svg-icon>
        </div>
      </div>

    </div>

    <div class="operation__svg operation__svg__receiver"></div>
  </div>
  <div class="operation-section__button" (click)="clickBtn()">
    <svg-icon
      class="operation-section__button__icon"
      src="assets/icons/widgets/SOU/sou-workspace/plus_add_circle.svg"
      [ngStyle]="{ 'height.px':16 }"
    ></svg-icon>
    <span>Умный тренд</span>
  </div>
</div>
