<div class="operation">
  <div class="operation__svg">
    <svg-icon
      src="assets/icons/widgets/SOU/sou-workspace/operation-1.svg"
      [ngStyle]="{ 'height.px':260 }"
    ></svg-icon>
  </div>
  <div class="operation__source">
    <div class="operation__source__weight"></div>
    <div class="operation__source__start-operation"></div>
  </div>
  <div class="operation__center-block"></div>
  <div class="operation__receiver">
    <div class="operation__receiver__weight"></div>
    <div class="operation__receiver__end-operation"></div>
  </div>
  <div class="operation__svg">
    <svg-icon
      src="assets/icons/widgets/SOU/sou-workspace/operation-2.svg"
      [ngStyle]="{ 'height.px':260 }"
    ></svg-icon>
  </div>
</div>
