/* Copyright © 1993-2019 Meridium, Inc. All rights reserved.  */
.icons-hd-expand-horizontal {
    background-image: url("../images/icons-hd/expand-horizontal.png");
    height: 26px;
    width: 26px;
}

.icons-hd-expandwidget {
    background-image: url("../images/icons-hd/expandwidget.png");
    height: 26px;
    width: 26px;
}

