/* Copyright © 1993-2019 Meridium, Inc. All rights reserved.  */
.icons-broken-link-icon {
    background-image: url("../images/icons/broken-link-icon.png");
    height: 18px;
    width: 20px;
}

.icons-hyperlink-utility-icon {
    background-image: url("../images/icons/hyperlink-utility-icon.png");
    height: 17px;
    width: 17px;
}

.icons-icon-asset-filter {
    background-image: url("../images/icons/icon-asset-filter.png");
    height: 18px;
    width: 18px;
}

.icons-icon-compliance {
    background-image: url("../images/icons/icon-compliance.png");
    height: 22px;
    width: 22px;
}

.icons-icon-dmw {
    background-image: url("../images/icons/icon-dmw.png");
    height: 22px;
    width: 22px;
}

.icons-icon-gaa-wind {
    background-image: url("../images/icons/icon-gaa-wind.png");
    height: 22px;
    width: 16px;
}

.icons-icon-scheduler {
    background-image: url("../images/icons/icon-scheduler.png");
    height: 22px;
    width: 22px;
}

.icons-mi-chart-area {
    background-image: url("../images/icons/mi-chart-area.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-bar {
    background-image: url("../images/icons/mi-chart-bar.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-bubble {
    background-image: url("../images/icons/mi-chart-bubble.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-column {
    background-image: url("../images/icons/mi-chart-column.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-donut {
    background-image: url("../images/icons/mi-chart-donut.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-line {
    background-image: url("../images/icons/mi-chart-line.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-pie {
    background-image: url("../images/icons/mi-chart-pie.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-polar {
    background-image: url("../images/icons/mi-chart-polar.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-pyramid {
    background-image: url("../images/icons/mi-chart-pyramid.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-radar {
    background-image: url("../images/icons/mi-chart-radar.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-scatter {
    background-image: url("../images/icons/mi-chart-scatter.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-stacked-area {
    background-image: url("../images/icons/mi-chart-stacked-area.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-stacked-bar {
    background-image: url("../images/icons/mi-chart-stacked-bar.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-stacked-column {
    background-image: url("../images/icons/mi-chart-stacked-column.png");
    height: 72px;
    width: 128px;
}

.icons-mi-chart-time-series {
    background-image: url("../images/icons/mi-chart-time-series.png");
    height: 59px;
    width: 108px;
}

.icons-mi-heatmap-chart {
    background-image: url("../images/icons/mi-heatmap-chart.png");
    height: 72px;
    width: 128px;
}

.icons-mi-stock-chart-area-stacked {
    background-image: url("../images/icons/mi-stock-chart-area-stacked.png");
    height: 72px;
    width: 128px;
}

.icons-mi-stock-chart-area {
    background-image: url("../images/icons/mi-stock-chart-area.png");
    height: 72px;
    width: 128px;
}

.icons-mi-stock-chart-line {
    background-image: url("../images/icons/mi-stock-chart-line.png");
    height: 72px;
    width: 128px;
}

.icons-no_connection_icon {
    background-image: url("../images/icons/no_connection_icon.png");
    height: 16px;
    width: 16px;
}

