.container {
  position: relative;
  width: 100%;
  // height: 100%;
  // min-width: 970px;
  height: 100%;
  box-sizing: border-box;
  // padding: 5px;
  margin-bottom: 20px;
  //padding-right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 24px;
  // height: 100%;
}

.mock {
  display: block;
  height: 200px;
  width: 100%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
}

.content {
  height: 100%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
}
