<evj-widget-preview
  [title]="widgetTitle"
  [previewTitle]="widgetType"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [id]="widgetId"
    [units]="widgetUnits"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="cb">
      <div #myCircle class="item-b"></div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
