.header-container {
  width: 100%;

  .mat-select-container {
    float: right;

    .dropdown {
      height: 24px;
      width: 167px;
      margin-right: 15px;

      display: flex;
      align-items: center;

      background: var(--bg-dashboard-color);

      border: 1px solid var(--border-forms-color);
      border-radius: 3px;

      &__select {
        margin-right: 10px;
        margin-left: 4px;

        ::ng-deep {
          .mat-select-placeholder {
            color: var(--text-contrast-color);
          }
        }
      }
    }
  }
}

.container {
  width: 100%;
  height: calc(100% - 40px);
  background-color: var(--bg-body-color);
  border: 1px solid var(--border-vidget-color);
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.panel__header_arrow {
  fill: var(--color-text-main);
}

.warning {
  color: var(--index-error-color);
}

.active {
  color: var(--index-plan-color)
}

.container-body {
  overflow: hidden;
  height: 100%;
}

.table {
  width: 100%;
  font-size: 12px;
  height: 100%;

  &__header {
    padding-right: 6px;
    position: relative;
    display: flex;
    background-color: var(--bg-body-color);
    color: var(--text-main-color);
    z-index: 1;
    font-weight: 400;
    text-align: center;
    width: calc(100% - 6px);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      box-shadow: 0px 4px 7px -4px #000000;
    }

    &__title {
      height: 30px;
      width: 100px;
      max-width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--bg-body-color);
      border-right: none;
      border-left: none;
      border-left: 1px solid var(--border-forms-color);

      &:nth-child(2) {
        border-left: 1px solid transparent;
      }

      &:first-child {
        padding-left: 16px;
        text-align: left;
        width: 100%;
        border-left: none;
        max-width: 100%;
        justify-content: start;
      }

      &:last-child {
        border-left: 1px solid var(--border-forms-color);

      }
    }
  }

  &__body {

    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;

    &__row {
      height: 32px;
      transition: all 150ms;
      color: var(--text-main-color);
      background: var(--gray-G10-color);
      display: flex;
      align-items: center;
      border: 1px solid var(--border-forms-color);
      border-left: none;
      border-top: none;
      justify-content: space-between;
      padding: 0 1rem;
      cursor: pointer;
      border-right: none;

      &__column {
        display: flex;
        align-items: center;

        &-title {
          padding-left: 10px;
        }
      }

      &__children {
        padding: 0;
        border: none;

        &__column {
          background-color: var(--bg-body-color);
          width: 100px;
          max-width: 100px;
          display: flex;
          align-items: center;
          border-top: 1px solid var(--border-forms-color);
          border-bottom: 1px solid var(--border-forms-color);
          justify-content: center;
          border-right: none;
          border-left: none;
          border-left: 1px solid var(--border-forms-color);
          padding: 0;

          &.warning-bgd {
            color: var(--index-error-color);
            background: var(--opacity-orange-20-color);
          }

          &:first-child {
            padding-left: 16px;
            text-align: left;
            border-left: none;
            width: 100%;
            max-width: 100%;
            justify-content: start;
          }

          &:last-child {
            border-left: 1px solid var(--border-forms-color);

          }
        }
      }

    }
  }

  ::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  ::-webkit-scrollbar:vertical {
    width: 6px;
    height: 100%;
    border-radius: 40px;
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--color-header-text-sub);
  }

  ::-webkit-resizer {
    background-color: var(--color-header-text-sub);
  }
}
