.container {
  width: 100%;
  height: calc(100% - 40px);
  background-color: var(--color-kpe-gaude-unactive);
  border: 1px solid var(--color-aps-border);

  box-sizing: border-box;
  position: relative;
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--color-text-sub);
  font-size: 13px;
  line-height: 16px;

  &__footer {
    position: sticky;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: var(--color-kpe-gaude-unactive);

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__date {
    height: 60px;
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;

    &__title {
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 5px;
      margin-left: 5px;
    }

    &__element {
      height: 100%;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .button {
    height: 30px;
    width: 150px;
    background-color: var(--color-kpe-table-select);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 20px;
    margin-left: 20px;
  }

  .input {
    height: 50px;
    box-sizing: border-box;
    background-color: var(--color-kpe-gaude-unactive);
    padding: 5px 0;
  }
}

thead th {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--color-kpe-gaude-unactive);
  color: var(--color-cd-text-sub-2);
  border-bottom: 1px solid var(--color-aps-border);
  z-index: 3;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

th,
td {
  text-align: center;
  min-width: 90px;
  width: 100%;
  height: 40px;

  &:first-child {
    text-align: left;
  }
}
pre {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.table {
  width: 100%;
  font-family: Tahoma;
  font-size: 12px;

  border-spacing: 0px 3px;
  border-collapse: separate;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  &__header {
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--color-aps-border);

    &__row {
      width: 100%;
      height: 60px;
    }

    &__column {
      color: var(--color-cd-text-sub-2);
      background-color: var(--color-bg-main);
    }
  }

  &__body {
    width: 100%;

    &__row {
      width: 100%;
      font-size: 12px;
      height: 28px;
      transition: all 150ms;
      color: var(--evj-color-white);
      background: var(--color-gray80);
      margin-bottom: 10px;
    }

    &__column {
      cursor: pointer;
      position: relative;
      height: 24px;
      max-width: 60px;
      margin-top: 5px;
      color: var(--color-cd-text-sub-2);
      text-align: center;

      border-top: 1px solid var(--color-kpe-gaude-unactive);
      border-bottom: 1px solid var(--color-kpe-gaude-unactive);
      border-left: 2px solid var(--color-aps-bg-icon);

      &--warning-border {
        z-index: 1;
        position: absolute;
        top: 0px;
        left: -2px;
        height: 100%;
        width: 2px;
        background-color: var(--color-aps-orange);
      }

      &.expanded-column {
        background-color: rgba(39, 42, 56, 0.5);

        &__warning {
          background-color: var(--color-kpe-deviation-warning);
          color: var(--color-aps-orange);
        }

        &__danger {
          background-color: var(--color-kpe-deviation-danger);
          color: var(--color-kpe-table-danger);
        }
      }

      &__children {
        border-left: 2px solid var(--color-gray80) !important;
      }

      &--active {
        z-index: 1;
        border-top: 1px solid var(--color-aps-active);
        border-bottom: 1px solid var(--color-aps-active);

        color: var(--color-text-main);

        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }

        &:last-of-type {
          padding: 0 !important;
          border-right: 1px solid var(--color-aps-active) !important;
        }
      }

      &--expand {
        &:first-child {
          border-left: 2px solid var(--color-aps-active) !important;
        }
      }

      &:first-child {
        border-left: 2px solid var(--color-aps-bg-icon);
      }

      &__row-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &__icon {
          stroke: var(--color-aps-bg-icon);
          margin-left: 9px;
          transition: all 200ms;
          margin-right: 10px;

          &--active {
            stroke: var(--color-aps-active);
            transform: rotateZ(45deg);
          }

          &__background {
            position: absolute;
            top: -1px;

            &-children {
              position: absolute;
              height: 30px;
            }

            &--orange {
              position: absolute;
              top: 2px;
              left: 0;
            }
          }
        }

        &__engUnit {
          position: absolute;
          top: 7px;
          right: 3px;
        }

        &__text {
          max-height: 27px;
          min-width: 60px;
          margin-left: 10px;
          margin-right: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          &__name {
            height: 100%;
            width: calc(100% - 300px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &__value-right {
              width: 300px;
              height: 100%;
              position: absolute;
              right: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .deviations {
                flex-grow: 1;
                display: flex;
                justify-content: space-around;

                default-text {
                  color: var(--color-kpe-text-main);
                }

                .danger-text {
                  color: var(--color-kpe-table-danger);
                }

                .warning-text {
                  color: var(--color-aps-orange);
                }
              }
            }
          }

          &__subname {
            height: calc(100% - 20px);
            width: calc(100% - 30px);
            padding-left: 7px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__val {
            height: 100%;
            width: 178px;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }

        &__value {
          &-block {
            display: flex;
            flex-direction: column;
          }

          &__background {
            position: absolute;
            left: 150px;
            top: 1px;
          }

          &__texts {
            margin-left: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &__text {
            &--orange {
              color: var(--color-aps-orange);
            }
          }
        }

        &__value {
          color: var(--color-aps-orange);
          width: 100%;
          height: 20.69px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid var(--color-aps-orange);

          &-big-orange {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-aps-orange);
            border-left: 1px solid var(--color-aps-orange);
            height: 30.69px;
          }
        }

        .row-title {
          user-select: none;

          &__icon {
            &-arrow-top {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-arrow-bottom {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-border {
              width: 2px;
              max-width: 2px;
              height: 13px;
              fill: var(--color-border-main);

              &-warning {
                fill: var(--color-warning);
              }
            }

            &-circle {
              min-width: 6px;
              height: 14px;
              stroke: var(--color-active);

              &-warning {
                stroke: var(--color-warning);
              }
            }

            &-line {
              width: 13px;
              left: 0px;
              top: -20px;
              position: absolute;
            }
          }
        }

        &--no-active {
          color: var(--color-aps-text-sub);
        }

        &-children {
          margin-left: 18px;
          justify-content: space-between;

          &__left-block {
            position: absolute;
            left: -2px;
            top: -26px;

            &__background {
              fill: var(--color-bg-main);
            }

            &--first {
              position: absolute;
              left: -2px;
              top: -14.6px;

              &__default {
                color: var(--color-aps-bg-icon);
              }

              &__warning {
                color: var(--color-aps-orange);
              }

              &__active {
                color: var(--color-aps-active);
              }

              &__danger {
                color: var(--color-kpe-table-danger);
              }

              &__active-warning {
                color: var(--color-aps-orange);
              }
            }
          }

          .row-title {
            &__icon {
              &-border {
                width: 7.2px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}

// Scroll
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  margin-left: 268px;
  margin-right: 365px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-aps-border-sub);
  border-radius: 25px;
}

.container-body {
  width: 100%;
}

input {
  width: 393px;
  height: 36px;
  outline: none;
  padding-left: 15px;
  background: var(--color-input);
  font-size: 12px;
  color: var(--color-text-main);
  border: 1px solid var(--color-text-main-transparent);

  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-border-active);
    color: var(--color-text-main);

    &::placeholder {
      color: var(--color-cd-text-sub-2);
    }
  }
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

::-webkit-input-placeholder {
  color: var(--color-cd-text-sub-2);
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

.input-block {
  display: flex;
  position: relative;
  align-items: center;
  width: 400px;
  height: calc(100% - 2px);

  &__input {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .input-back {
      width: 100%;
      height: 100%;
      background: var(--color-kpe-gaude-unactive);
    }
  }

  .search-icon {
    position: absolute;
    top: 10px;
    right: 30px;
    &:hover {
      color: var(--color-border-active);
    }
  }
}
.value {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.deviation-header {
  position: relative;
  height: 100%;
  width: calc(100% - 2px);
  border-right: 1px solid var(--color-aps-border);
  border-left: 1px solid var(--color-aps-border);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  &__value-left {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50%;
    width: 50%;
    border-top: 1px solid var(--color-aps-border);
    border-right: 1px solid var(--color-aps-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__value-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 50%;
    width: 50%;
    border-top: 1px solid var(--color-aps-border);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon {
  width: 16px;
  height: 16px;
}
