<div class="window">
  <div class="window__header header">
    <div class="button-icon button-icon__close" (click)="onClose()">
      <svg-icon [src]="closeIconSrc" [svgStyle]="{ 'width.px':27, 'height.px':27 }"></svg-icon>
    </div>
    <div class="title">{{title}}</div>
  </div>
  <div class="window__body list scroll scroll-bar">
    <div class="list__reasons">
      <ng-container *ngFor="let reason of reasonsList">
        <div class="row" (click)="setReason(reason)" *ngIf="reason.isActive">
          <div class="row__title">{{ reason.name }}</div>
          <div class="row__radio">
            <div class="radio" [class.radio_active]="isActiveCompare(reason)"></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="window__footer footer">
    <div class="search">
      <input class="search__input" type="text" (keyup)="onSearchValue($event?.target?.value)" />
    </div>
    <div class="button" (click)="onSave()">{{buttonText}}</div>
  </div>
</div>
