<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="459.15" height="230.49"
     viewBox="0 0 459.15 230.49">
  <defs>
    <style>.a, .ab, .ac, .af, .b, .l, .s, .t, .v, .w, .y {
      fill: none;
    }

    .a, .ac, .y {
      stroke: #fff;
    }

    .a, .ab, .ac, .b, .l, .m, .s, .t, .v, .w, .y {
      stroke-miterlimit: 10;
    }

    .a, .b, .l {
      stroke-width: 0.5px;
    }

    .ab, .b {
      stroke: #a2e2ff;
    }

    .c, .d, .e {
      fill: #a2e2ff;
    }

    .d, .f, .h, .q {
      font-size: 12px;
    }

    .d, .e, .f, .g, .h, .i, .o, .p, .q, .x {
      font-family: Tahoma;
    }

    .e, .g, .i {
      font-size: 18px;
    }

    .ad, .f, .g, .n, .p {
      fill: #fff;
    }

    .h, .i {
      fill: #f4a321;
    }

    .j {
      fill: #272b35;
    }

    .j, .k {
      fill-rule: evenodd;
    }

    .k, .m {
      fill: #0d1014;
    }

    .k, .y {
      opacity: 0.2;
    }

    .l, .s, .t, .v, .w {
      stroke: #616580;
    }

    .m {
      stroke: #8c99b2;
    }

    .ac, .m {
      stroke-width: 0.667px;
    }

    .n, .p {
      font-size: 14px;
    }

    .n {
      font-family: Tahoma-Bold, Tahoma;
      font-weight: 700;
    }

    .o, .q {
      fill: #8c99b2;
    }

    .o {
      font-size: 10px;
    }

    .r {
      opacity: 0.25;
    }

    .s, .t {
      stroke-width: 0.309px;
    }

    .s, .w {
      opacity: 0.5;
    }

    .aa, .u, .z {
      opacity: 0.1;
    }

    .v, .w {
      stroke-width: 0.501px;
    }

    .x {
      fill: #5b607d;
      font-size: 11px;
    }

    .y {
      stroke-dasharray: 1.246;
    }

    .z {
      fill: url(#a);
    }

    .aa {
      fill: url(#b);
    }

    .ae {
      stroke: none;
    }</style>
    <linearGradient id="a" x1="0.5" y1="1" x2="0.5" gradientUnits="objectBoundingBox">
      <stop offset="0" stop-color="#fff" stop-opacity="0.251"/>
      <stop offset="1" stop-color="#fff" stop-opacity="0"/>
    </linearGradient>
    <linearGradient id="b" x1="0.5" y1="0" x2="0.5" y2="1" xlink:href="#a"/>
  </defs>
  <g transform="translate(-1443.858 -329.88)">
    <path class="a"
          d="M1514.9,471.688c3.134.589,7.254,2.008,9.59,2.684,2.463.714,4.569,2.735,9.59,2.877a43.839,43.839,0,0,0,9.59-1.369c4.075-.979,7.489-3.321,9.59-4.449,2.8-1.5,6.736-4.575,9.59-6.073,2.071-1.087,2.732-3.978,9.59-4.279,3.122-.137,7.515.993,9.59,1.39,2.905.556,5.1,2.357,9.59,2.46,3.182.073,7.074-1.049,9.59-1.369,2.3-.292,7.671-.728,9.59-1.083a54.1,54.1,0,0,0,9.59-3.024c2.051-.857,4.754-2.841,9.59-3.337,2.018-.206,7.265-.093,9.59,0,2.452.1,7.687.248,9.59.514,4.095.572,7.173,2.343,9.59,3.123,2.379.766,6.874,2.323,9.59,3.061a89.012,89.012,0,0,0,9.59,2.243c2.022.288,7.4.551,9.59.806,2.714.317,7.223,1.123,9.59,1.5,2.429.391,6.79,1.262,9.59,1.583,2.156.248,7.191.547,9.59.729s6.941.749,9.59.726c2.809-.025,7.383-.663,9.59-.942,2.665-.337,7.551-1.105,9.59-1.54,2.979-.635,7.153-2.089,9.59-2.78,2.359-.67,6.119-2.134,9.59-2.666,1.95-.3,6.906-.746,9.59-.8,2.446-.049,7.4.186,9.59.367,2.833.234,7.114,1.024,9.59,1.346,2.327.3,9.59.674,9.59,1.153"/>
    <circle class="b" cx="3" cy="3" r="3" transform="translate(1799.595 456)"/>
    <circle class="c" cx="1.5" cy="1.5" r="1.5" transform="translate(1801.095 457.5)"/>
    <text class="d" transform="translate(1822.395 387.063)">
      <tspan x="0" y="0">План</tspan>
    </text>
    <text class="e" transform="translate(1822.395 409.52)">
      <tspan x="0" y="0">858.2</tspan>
    </text>
    <text class="f" transform="translate(1822.395 452.16)">
      <tspan x="0" y="0">Факт</tspan>
    </text>
    <text class="g" transform="translate(1822.395 474.618)">
      <tspan x="0" y="0">858.2</tspan>
    </text>
    <text class="h" transform="translate(1822.395 517.258)">
      <tspan x="0" y="0">Отклонение</tspan>
    </text>
    <text class="i" transform="translate(1822.395 539.715)">
      <tspan x="0" y="0">0</tspan>
    </text>
    <path class="j" d="M1889.008,329.88H1451.615l-6,6v24h449.393v-24Z"/>
    <path class="k" d="M1889.008,329.88H1451.615l-6,6v24h449.393v-24Z"/>
    <path class="j" d="M1490.387,329.88h-38.772l-6,6v24h44.772Z"/>
    <path class="l" d="M1901.008,385.908V365.88l-6-6H1445.864v26.028"/>
    <g class="m" transform="translate(1899.008 384.231)">
      <circle class="ae" cx="2" cy="2" r="2"/>
      <circle class="af" cx="2" cy="2" r="1.667"/>
    </g>
    <g class="m" transform="translate(1443.858 384.231)">
      <circle class="ae" cx="2" cy="2" r="2"/>
      <circle class="af" cx="2" cy="2" r="1.667"/>
    </g>
    <path class="l" d="M1901.008,534.092V554.12l-6,6H1451.864l-6-6V534.092"/>
    <g class="m" transform="translate(1899.008 532.092)">
      <circle class="ae" cx="2" cy="2" r="2"/>
      <circle class="af" cx="2" cy="2" r="1.667"/>
    </g>
    <g class="m" transform="translate(1443.864 532.092)">
      <circle class="ae" cx="2" cy="2" r="2"/>
      <circle class="af" cx="2" cy="2" r="1.667"/>
    </g>
    <text class="n" transform="translate(1455.912 349.682)">
      <tspan x="0" y="0">{{options.code}}</tspan>
    </text>
    <text class="o" transform="translate(1504.858 403.787)">
      <tspan x="-24.766" y="0">864.0</tspan>
    </text>
    <text class="o" transform="translate(1504.858 424.048)">
      <tspan x="-24.863" y="0">862.0</tspan>
    </text>
    <text class="o" transform="translate(1504.858 444.31)">
      <tspan x="-24.863" y="0">860.0</tspan>
    </text>
    <text class="o" transform="translate(1504.858 464.571)">
      <tspan x="-24.863" y="0">858.2</tspan>
    </text>
    <text class="o" transform="translate(1504.858 484.833)">
      <tspan x="-24.863" y="0">856.0</tspan>
    </text>
    <text class="o" transform="translate(1504.858 505.094)">
      <tspan x="-24.766" y="0">854.0</tspan>
    </text>
    <text class="o" transform="translate(1504.858 525.355)">
      <tspan x="-24.863" y="0">852.0</tspan>
    </text>
    <text class="p" transform="translate(1500.387 349.547)">
      <tspan x="0" y="0">{{options.name}}</tspan>
    </text>
    <text class="q" transform="translate(1885.008 349.547)">
      <tspan x="-29.76" y="0">{{options.units}}</tspan>
    </text>
    <g class="r">
      <line class="s" x1="286.836" transform="translate(1515.56 399.12)"/>
      <line class="t" x1="286.836" transform="translate(1515.56 419.568)"/>
      <line class="s" x1="286.836" transform="translate(1515.56 440.015)"/>
      <line class="s" x1="286.836" transform="translate(1515.56 460.463)"/>
      <line class="s" x1="286.836" transform="translate(1515.56 480.911)"/>
      <line class="t" x1="286.836" transform="translate(1515.56 501.358)"/>
      <line class="s" x1="286.836" transform="translate(1515.56 521.806)"/>
    </g>
    <g class="u">
      <line class="v" y2="122.686" transform="translate(1563.368 399.12)"/>
      <line class="v" y2="122.686" transform="translate(1658.982 399.12)"/>
      <line class="v" y2="122.686" transform="translate(1754.596 399.12)"/>
      <line class="w" y2="122.686" transform="translate(1515.56 399.12)"/>
      <line class="w" y2="122.686" transform="translate(1611.175 399.12)"/>
      <line class="w" y2="122.686" transform="translate(1706.789 399.12)"/>
      <line class="w" y1="122.686" transform="translate(1802.403 399.12)"/>
    </g>
    <text class="x" transform="translate(1515.56 540.12)">
      <tspan x="-3.002" y="0">1</tspan>
    </text>
    <text class="x" transform="translate(1563.367 540.12)">
      <tspan x="-3.002" y="0">5</tspan>
    </text>
    <text class="x" transform="translate(1611.374 540.12)">
      <tspan x="-6.005" y="0">10</tspan>
    </text>
    <text class="x" transform="translate(1658.88 540.12)">
      <tspan x="-6.005" y="0">15</tspan>
    </text>
    <text class="x" transform="translate(1706.888 540.12)">
      <tspan x="-6.005" y="0">20</tspan>
    </text>
    <text class="x" transform="translate(1754.596 540.12)">
      <tspan x="-6.005" y="0">25</tspan>
    </text>
    <text class="x" transform="translate(1802.595 540.12)">
      <tspan x="-6.005" y="0">31</tspan>
    </text>
    <path class="y" d="M1802.4,425.12h-80.062l-9.778,14.222h-42.244l-19.089-9.625h-75.257l-12.6-12.6H1515.56"/>
    <path class="z"
          d="M1802.4,425.12h-80.062l-9.778,14.222h-42.244l-19.089-9.625h-75.257l-12.6-12.6H1515.56v-18h287.035Z"/>
    <path class="aa"
          d="M1802.4,492.787h-80.062l-9.778,14.222h-42.244l-19.089-9.625h-75.257l-12.6-12.6H1515.56v37.019h287.035Z"/>
    <path class="ab" d="M1515.56,450.953h47.807l12.6,12.6h75.257l19.089,9.625h42.244l9.778-14.222H1802.4"/>
    <path class="y" d="M1515.56,484.787h47.807l12.6,12.6h75.257l19.089,9.625h42.244l9.778-14.222H1802.4"/>
    <circle class="ac" cx="4" cy="4" r="4" transform="translate(1798.595 460.571)"/>
    <circle class="ad" cx="2" cy="2" r="2" transform="translate(1800.595 462.571)"/>
  </g>
</svg>
