<div class="chart-header">
  <div class="chart-header__content">
    <div class="chart-header__code">
    <span>
      {{code}}
    </span>
    </div>
    <span class="chart-header__name">
    {{name}}
  </span>
    <span class="chart-header__units">
    {{units}}
  </span>
  </div>
</div>
<div class="frame frame_top">
  <div class="frame__circle frame__circle__left"></div>
  <div class="frame__circle frame__circle__right"></div>
</div>

<div class="content">
  <div class="line-chart" #chart></div>
  <div class="totals">

    <div class="totals__item totals__item_plan">
      <h3 class="totals__heading">
        План
      </h3>
      <h4 class="totals__count">{{data.totals.plan | number:'1.1-1'}}</h4>
    </div>


    <div class="totals__item totals__item_fact">
      <h3 class="totals__heading">
        Факт
      </h3>
      <h4 class="totals__count">{{data.totals.fact | number:'1.1-1'}}</h4>
    </div>

    <div class="totals__item totals__item_deviation">
      <h3 class="totals__heading">
        Отклонение
      </h3>
      <h4 class="totals__count">{{data.totals.deviation | number:'1.1-1'}}</h4>
    </div>


  </div>
</div>


<div class="frame frame_bottom">
  <div class="frame__circle frame__circle__left"></div>
  <div class="frame__circle frame__circle__right"></div>
</div>

