<div class="chart-header">
  <div class="chart-header__content">
    <div class="chart-header__code">
    <span>
      {{options.code}}
    </span>
    </div>
    <span class="chart-header__name">
    {{options.name}}
  </span>
    <span class="chart-header__units">
    {{options.units}}
  </span>
  </div>
</div>
<div class="frame frame_top">
  <div class="frame__circle frame__circle__left"></div>
  <div class="frame__circle frame__circle__right"></div>
</div>


<div class="d3-chart" #chart></div>

<div class="frame frame_bottom">
  <div class="frame__circle frame__circle__left"></div>
  <div class="frame__circle frame__circle__right"></div>
</div>

