<div class="title-block">
  <div class="title-block_text">Азот низкого давления</div>
</div>
<div class="cards-block">
  <div class="cards-block_card">
    <evj-production-trend-card-info></evj-production-trend-card-info>
  </div>
  <div class="cards-block_card">
    <evj-production-trend-card-info></evj-production-trend-card-info>
  </div>
  <div class="cards-block_card">
    <evj-production-trend-card-info></evj-production-trend-card-info>
  </div>
  <div class="cards-block_card">
    <evj-production-trend-card-info></evj-production-trend-card-info>
  </div>
</div>
