<div class="body-expandable">
  <div class="body-expandable__bottom">
    <div class="divider"></div>
  </div>
  <div class="button" (click)="onClick()">
    <div class="button__bottom">
      <div class="icon">
        <svg-icon
          src="assets/icons/widgets/APS/scenarios/expand-arrow-down.svg"
          [svgStyle]="{ 'width.px':11, 'height.px':6, 'margin-top.px': -5 }"
        >
        </svg-icon>
      </div>
    </div>
  </div>
  <div class="body-expandable__bottom-shape">
    <div class="left-segment"></div>
    <div class="body-expandable__expand-button-container">
      <div class="bottom"></div>
      <div class="expand-button-line"></div>
    </div>
    <div class="right-segment"></div>
  </div>
</div>
