%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 444px;
}

.mock {
  position: relative;
  display: block;
  height: 144px;
  .diagrams {
    position: relative;
    height: 100%;
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 10px;

    border-right: 0.5px dashed var(--color-border-main-transparrent);
    border-left: 0.5px dashed var(--color-border-main-transparrent);

    &__item {
      margin: 0 5px 0 0;
    }
  }
}

.frame {
  width: 100%;
  height: 28px;
  min-width: 430px;

  border: 0.5px solid var(--color-border-main-transparrent);
  border-bottom: transparent;
  position: relative;

  &__circle {
    @extend %circle;
    &__left {
      left: -2.5px;
    }

    &__right {
      right: -2.5px;
    }
  }

  &_top {
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: -3px;
      right: -1px;

      height: 7px;
      width: 7px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);

      border-left: 0.5px solid var(--color-border-main-transparrent);

      background: var(--color-bg-main);
    }
  }

  &_bottom {
    bottom: 0;
    border-bottom: 0.5px solid var(--color-border-main-transparrent);
    border-top: transparent;

    &:after {
      z-index: 1;
      content: "";
      position: absolute;

      bottom: -5px;
      right: -1px;

      height: 7px;
      width: 7px;

      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);

      border-top: 0.5px solid var(--color-border-main-transparrent);
      background: var(--color-bg-main);
    }

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      bottom: -3px;
      left: -1px;

      height: 6px;
      width: 6px;

      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(45deg);

      border-top: 0.5px solid var(--color-border-main-transparrent);
      background: var(--color-bg-main);
    }
  }

  &_bottom &__circle {
    top: 0;
  }
}

.circle {
  @extend %circle;
  &__left {
    left: -2.5px;

    &-top {
      top: -2.5px;
    }
    &-bottom {
      bottom: 0px;
    }
  }

  &__right {
    right: -2.5px;

    &-top {
      top: -2.5px;
    }
    &-bottom {
      bottom: 5px;
    }
  }
}

.point-diagram {
  position: relative;
  height: calc(100% - 60px);
  width: 100%;

  box-sizing: border-box;
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  padding: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--color-text-diagram);

  .line {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 133px;
    left: 0px;
    border-top: 0.5px dashed var(--color-text-diagram);

    &__circle {
      border: 0.5px solid var(--color-text-diagram);
    }
  }
  .title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 0 15px;
    margin: 10px 0;

    &__name,
    &__percent {
      font-size: 14px;
    }
  }
  .body {
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: auto;
    overflow-y: hidden;
    .row {
      margin: 15px 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      height: 50px;

      box-sizing: border-box;
      &__items {
        margin: 0 5px 0 0;
      }
    }
    .diagrams {
      position: relative;
      min-height: 250px;
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      box-sizing: border-box;

      &__item {
        margin: 0 5px 0 0;
      }
    }
  }
}
