<div class="card" [ngClass]="{'card-active':select.hasValue()}">
  <div
    class="button"
    *ngIf="isChangingCardState"
    (click)="changeCardState()"
    [ngClass]="{'button-active':select.hasValue()}"
  ></div>
  <div class="text">{{workspace.screenName}}</div>
  <div class="select" *ngIf="isActive">
    <mat-form-field>
      <mat-label>Права</mat-label>
      <mat-select
        [formControl]="selectFormControl"
        multiple
        (selectionChange)="onChangeSelect()"
        panelClass="admin-panel-select"
      >
        <mat-select-trigger>
          {{selectFormControl.value ? selectFormControl.value[selectFormControl.value.length - 1] : ''}}
          <span *ngIf="selectFormControl.value?.length > 1" class="example-additional-selection">
            (+{{selectFormControl.value.length - 1}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let claim of getValuesSelect()" [value]="claim">{{claim}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
