<div class="responsible">
  <div *ngIf="responsible?.login" class="choosenUser">
    <div class="name_user">
      <div class="name_user_responsible">
        Ответственный
      </div>
      <div class="name_user_info">
        <div>
          {{ responsible?.displayName }}
        </div>
        <div>{{ responsible?.positionDescription }}</div>
      </div>
    </div>
    <div class="brigade_user">
      <div class="brigade_user_name">
        Бригада
      </div>
      <div class="brigade_user_text">
        {{ responsible?.brigade?.number }}
      </div>
    </div>
    <div class="avatar_user">
      <div class="avatar_user_img">
        <img [src]="ewService.getUserAvatarUrl(responsible)" />
      </div>
    </div>
  </div>
  <evj-ui-block status="normal" (click)="clearFilter()">
    <mat-form-field>
      <mat-label>Отвественный</mat-label>
      <mat-select panelClass="mat-select-custom"
                  [(ngModel)]="responsible" disableOptionCentering
      >
        <evj-mat-select-filter [formControl]="filter"></evj-mat-select-filter>
        <ng-container *ngFor="let p of users">
          <mat-option [value]="p" (click)="chooseRespons(p)">
            {{ p.lastName }} {{ p.firstName }}
          </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </evj-ui-block>
</div>
