@import "../../../../../../mixins";

:host {
  height: inherit;
  width: inherit;
}

.responsible {
  height: inherit;
  width: inherit;
  // min-width: 350px;
  position: relative;
  min-height: 100px;
  background: var(--color-bg-card);

  ::ng-deep {
    .card-normal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    mat-form-field {
      width: 100%;
      box-sizing: border-box;
      padding: 0px 15px 0px 17px;

      mat-label {
        color: var(--color-text-sub);
      }
    }
  }

  .choosenUser {
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color: var(--color-bg-card);
    height: 100%;
    width: 88%;
    z-index: 1;

    .name_user {
      height: 100%;
      //   min-width: 165px;
      .name_user_responsible {
        margin-left: 15px;
        margin-top: 5px;
        height: 30%;
        color: var(--color-text-sub);
        font-size: 11px;
      }

      .name_user_info {
        margin-left: 15px;
        min-width: 150px;
        height: 100%;
        color: white;
        font-size: 11px;
      }
    }

    .brigade_user {
      min-width: 75px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .brigade_user_name {
        color: white;
        font-size: 11px;
        width: 100%;
      }

      .brigade_user_text {
        color: white;
        font-size: 11px;
        width: 100%;
        @include text-overflow;
        -webkit-line-clamp: 1;
      }
    }

    .avatar_user {
      min-width: 75px;
      height: 100%;
      .avatar_user_img {
        // margin-left: 75px;
        margin-top: 15px;
        height: 100%;
        img {
          border: 3px solid white;
          border-radius: 60px;
          height: 65%;
        }
      }
    }
  }
}
