.datetimepicker {
  width: 100%;
  position: relative;
  display: flex;
  margin: 0 10px;

  .date-info {
    width: 100%;

    .title {
      font-size: 13px;
      margin-bottom: 3px;
      color: var(--text-main-color);
    }

    .date {
      color: var(--text-contrast-color) !important;
      font-size: 13px;
      width: calc(100% - 22px);
      height: 25px;
      border-radius: 2px;
      background-color: var(--gray-G11-color);
      border: 1px solid var(--gray-G9-50-color);
      padding: 0px 10px 0px 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-form-field-underline {
        display: none !important;
      }

      .mat-form-field-flex {
        margin-top: 0 !important;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
        width: 100%;
      }

      .mat-datepicker-toggle {
        font-size: 14px !important;
      }
    }
  }

  .date-button {
    width: 11%;
    height: 100%;
    cursor: pointer;
  }

  .date-block {
    display: none;
  }
  .date-block-open {
    display: block;
    background-color: var(--gray-G10-color);
    border: 1px solid var(--gray-G6-color);
    width: 100px;
    position: absolute;
    z-index: 5;
    border-radius: 20px;
    height: 100px;
    padding-right: 10px;
    padding-left: 10px;
    top: 55px;
  }
}

.disabled {
  cursor: not-allowed;
}
