<div class="items">
  <div class="items__header header">
    <div class="header__item item item_active">Потребление</div>
    <div class="header__item item">Выработка</div>
  </div>
  <div class="items__content content">
    <evj-astue-efficiency-item-card [isActive]="true"></evj-astue-efficiency-item-card>
    <evj-astue-efficiency-item-card [isActive]="false"></evj-astue-efficiency-item-card>
    <evj-astue-efficiency-item-card [isActive]="false"></evj-astue-efficiency-item-card>
    <evj-astue-efficiency-item-card [isActive]="false"></evj-astue-efficiency-item-card>
    <evj-astue-efficiency-item-card [isActive]="false"></evj-astue-efficiency-item-card>
  </div>
</div>
