:host {
  height: calc(100% - 58px);
}

.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100% - 78px);
  border: 1px solid var(--color-astue-onpz-widget-border);
  background-color: var(--color-astue-onpz-widget-bg);
  padding: 18px;
  border-radius: 0 0 2px 2px;
}

.block {
  height: 27px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  span {
    font-size: 13px;
    color: var(--color-kpe-text-main);
  }

  &__title,
  &__value {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 3 3;
    background: var(--color-astue-onpz-btn);
    border-radius: 2px;

    span {
      margin-left: 19px;
    }
  }

  &__value {
    flex: 1 1;
    margin-left: 3px;
    border-left: 1px solid var(--color-cd-warning);
    background: linear-gradient(90deg, var(--color-astue-value-gr-start) 0%, transparent 89.86%);

    span {
      margin-left: 8px;
    }
  }

  .empty-value {
    flex: 1 1;
    margin-left: 3px;
  }
}

.block--active {
  .block__title {
    background-color: var(--color-aps-active) !important;
  }
}
