.container {
  display: flex;
  gap: 9px;
  color: var(--text-subscript-color);
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.checker {
  display: flex;
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin: auto 0;
  background: var(--bg-dashboard-color);
  border: 1px solid var(--border-forms-color);
  border-radius: 2px;

  svg-icon {
    margin: -2px auto;
    color: transparent;
    box-sizing: border-box;

    &::ng-deep {
      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__active {
    background: var(--border-blue-color);
    border-color: var(--border-blue-color);

    svg-icon {
      color: var(--text-alwaysWhite-color);
    }
  }
}

.text {
  flex-grow: 1;
  font-size: 12px;
}
