<div style="height: 100%; width: 100%">
  <div class="header">
    <div class="header__content drag handle">
      <div class="header__icon-wrapper">
        <img src="assets/icons/widget-title-icons/valve.png" *ngIf="!widgetCode" />
      </div>

      <div class="header__name">{{widgetTitle}}</div>
      <div class="header__units">{{widgetUnits}}</div>
      <div
        class="delete_widget"
        (click)="onRemoveButton()"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <svg-icon style="width: 100%; height: 100%; fill: #8c99b2" src="assets/icons/close_bad.svg"></svg-icon>
      </div>
    </div>
    <div class="bar_legend">
      <span style="color: rgb(158, 215, 245)">Всего</span>
      <span>В работе</span>
      <span style="color: orange">С отклонением</span>
    </div>
  </div>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div class="content_block" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div class="blocks">
        <div class="contant">
          <div *ngFor="let item of data;" class="block">
            <evj-bar-chart [data]="item"></evj-bar-chart>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
