.point {
  z-index: 50;
  position: absolute;
  margin: 0 auto;
  margin-left: 108px;
  margin-top: 90px;
}

.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 85%;
  width: 100%;
  background-color: rgb(27, 30, 39);
  color: white;
  display: block;
}
.item-a {
  min-height: 30px;
  min-width: 120px;
}
.item-b {
  margin: 10px auto;
  height: 100%;
}

[flex] {
  box-sizing: border-box;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cb {
  height: 100%;
  width: 100%;
  // display: flex;
  align-items: stretch;
}

.item-c {
  padding-top: 5%;
}

.blocks {
  width: 100%;
  min-width: 100px;
  height: calc(100%);
}

.block {
  // line-height: 5em;
  margin: 0 auto;
  position: relative;
  // min-height: 200px;
  height: 70%;
  margin-left: 10px;
}

.item-b.active ::ng-deep div {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(139, 139, 139);
}

.content_block {
  overflow-x: hidden;
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 56px);
  border: 1px dashed var(--color-border-main);
  border-style: none dashed none dashed;
  pointer-events: fill;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #999;
}
::-webkit-scrollbar-track-piece {
  background-color: rgb(27, 30, 39);
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #999;
}
::-webkit-resizer {
  background-color: #666;
}

.chart-header {
  position: relative;
  height: 30px;
  width: 400px;
  box-sizing: border-box;

  background-color: var(--color-bg-additional);

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__code {
    display: flex;
    align-items: center;

    min-width: 44px;
    height: 100%;
    background-color: var(--color-bg-sub);
    padding: 2px 10px;
    margin-right: 10px;
    box-sizing: border-box;

    font-weight: bold;
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.imgblock {
  margin: 0 auto;
}

.imgblock img {
  height: 130px;
}

.contant {
  overflow-x: scroll;
  overflow-y: none;
  align-items: center;
  height: 100%;
  display: flex;
}

.bar_legend {
  font-size: 0.875rem;
  position: absolute;
  line-height: 2.5;
  right: 30px;
  z-index: 50;
  min-width: 220px;
}

.bar_legend span {
  margin-left: 10px;
}

.header {
  display: flex;
  cursor: move !important;
  position: relative;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  z-index: 800;
  // background-color: var(--color-bg-additional);

  &__content {
    z-index: 100;
    width: 440px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;

    min-width: 44px;
    height: 100%;
    background-color: var(--color-bg-sub);
    padding: 9px 15px;

    box-sizing: border-box;

    font-weight: bold;
  }

  &__name {
    width: 100%;
    height: 100%;
    font-size: 0.875rem;
    line-height: 2.5;
    padding-left: 10px;
    background-color: var(--color-bg-additional);
  }

  &__units {
    margin: auto;
    padding-right: 10px;
    height: 100%;
    line-height: 2.5;
    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
    background-color: var(--color-bg-additional);
  }

  &:before {
    z-index: 200;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.delete_widget {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 44px;
  height: 100%;
  background-color: var(--color-bg-sub);
  padding: 9px 15px;
  box-sizing: border-box;
  z-index: 999;
  font-weight: bold;
  pointer-events: fill !important;
}
