.container-line{
    direction: ltr;
    position: absolute;
    left: 30px;
    top: 10%;
    height: 80%;
    z-index: 999;
    width: 55%;
    box-shadow: 0 0 10px var(--color-oil-popup-shadow);
    border-radius: 10px;
    display: flex;

    &__menu{
        width: 25%;
    }

    &__line-chart{
        width: 75%;
    }
}