.main {
  width: 100%;
  height: 61px;
  background: var(--color-new-header-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 13px;
  line-height: 16px;
}
.button {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1px;
  background-color: rgba(48, 53, 73, 0.5);
}
active-button {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1px;
  background-color: var(--color-active);
}
evj-rect-button {
  width: 100%;
  height: 100%;
}
