<div class="header-workspace">
  <div class="header-workspace__button" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="right-side">
      <div
        class="header-workspace__container hover-effect"
        matRipple
        [matRippleColor]="'white'"
        (click)="createEvent(true)"
      >
        <div class="title">Новое событие</div>
      </div>
      <div
        class="header-workspace__container hover-effect"
        matRipple
        [matRippleColor]="'white'"
        *ngIf="!!eventProdTask"
        (click)="changeStatus()"
      >
        <div class="title">{{eventProdTask}}</div>
      </div>
    </div>

    <evj-events-workspace-claim-checkbox [isVisible]="isClaimRestriction">
    </evj-events-workspace-claim-checkbox>

    <div class="right-side">
      <ng-container *ngIf="isLimitationAvailable()">
        <div class="header-workspace__checkbox">
          <mat-checkbox
            class="checkbox"
            color="primary"
            [checked]="ewService.event?.isRestrictions"
            (click)="emitAction($event)"
          ></mat-checkbox>
          <span>Ограничения</span>
        </div>
      </ng-container>
      <div class="header-workspace__container hover-effect" matRipple [matRippleColor]="'white'" (click)="backEvent()">
        <div class="title">Вернуться к событию</div>
        <div class="icon-wrapper"></div>
      </div>
      <div
        class="header-workspace__container active-button"
        matRipple
        [matRippleColor]="'white'"
        *ngIf="!createIcon && blockWorkspaceButton"
        (click)="createEvent(false)"
      >
        <div class="title">Сохранить</div>
      </div>
    </div>
  </div>
</div>
