.categories {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  color: var(--color-kpe-gaude-deviation);

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px;
    min-height: 65px;
    box-sizing: border-box;
    border: 1px solid var(--color-cd-bg-border);
    border-left: 2px solid var(--color-cd-bg-border-sub);
    transition: all 0.2s;
    background: linear-gradient(90deg, rgba(32, 38, 56, 1) 0%, rgba(53, 34, 43, 0) 76%);

    &:hover {
      border-left: 2px solid var(--color-kpe-gaude-active);
      color: var(--color-text-main);
    }

    &--active {
      border-left: 2px solid var(--color-kpe-gaude-active);
      background: linear-gradient(90deg, rgba(0, 137, 255, 0.24413515406162467) 0%, rgba(53, 34, 43, 0) 65%);
      color: var(--color-text-main);
    }

    &__name {
      font-size: 12px;
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      overflow: auto;
      font-size: 14px;

      &__icon {
        fill: var(--color-cd-text-sub);

        &--active {
          fill: var(--color-kpe-gaude-active);
        }
      }
    }
  }

  &__link {
    display: flex;
    flex: 1;
    max-height: 45px;

    &__btn {
      border: none;
      font: inherit;
      font-size: 14px;
      color: var(--color-kpe-gaude-deviation);
      background-color: var(--color-cd-bg-border);
      border-radius: 2px;
      cursor: pointer;
      width: 100%;
      transition: all 0.2s;

      &:hover {
        color: var(--color-text-main);
        background-color: var(--color-cd-bg-btn-active);
        border: 1px solid var(--color-kpe-gaude-active);
      }
    }
  }
}
