<div class="container">
  <div>
    <evj-contemporary-widget-header
    [uniqId]="uniqId" 
    [widgetTitle]="widgetTitle" 
    icon="drop"
    type="astue"
>
  <div class="header"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="option-select">
    </div>
    <div class="group-select">
    </div>
    <div class="filter-btn">
      <div class="filter-btn__item"
        *ngFor="let setting of settings; let i = index"
        [ngClass]="{active: i===choosenSetting}"
        (click)="changeSetting(i)"
      >{{setting}}</div>
    </div>
  </div>
</evj-contemporary-widget-header>
  </div>

  <div class="container-body" 
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
  >
  <div class="main-content-container">
    <div class="main-groups">
      <div class="main-groups__item" *ngFor="let item of flowIn">
        <div class="title">
          <div class="arrow-btn">
            <svg-icon
              src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
              [svgStyle]="{ 'width.px':16, 'height.px':16 }"
            ></svg-icon>
          </div>
          <span>{{item.srcName}}</span>
          <div class="connection-circle"></div>
        </div>
        <evj-sou-mvp-mnemonic-scheme-circle-diagram
          [title]="item.tag"
          [percentage]="item.tolerance"
          [warningStatus]="item.isExceedingConfInterval"
        ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
        <evj-sou-mvp-mnemonic-scheme-info
          [data]="item"
          [choosenSetting]="choosenSetting"
        ></evj-sou-mvp-mnemonic-scheme-info>
      </div>
    </div>
    <div class="streams-groups">
      <div class="streams-container">
        <div class="main-collector">
          <span>АВТ-10 <br> АБ</span>
        </div>
        <evj-sou-mvp-mnemonic-scheme-section
        *ngFor="let section of flowOut"
        [data]="section"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-section>
      </div>
    </div>
  </div>
  </div>
  <div class="footer"></div>
</div>