<div class="container">
  <div>
    <evj-contemporary-widget-header
      [uniqId]="uniqId"
      [widgetTitle]="widgetTitle"
      icon="drop"
      type="astue"
    >
      <div class="header"
           (mousedown)="$event.stopPropagation()"
           (touchstart)="$event.stopPropagation()"
      >
        <svg-icon
          class="arrow-circle"
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/arrowCircle.svg"
          [ngStyle]="{ 'width.px':14, 'height.px':14 }"
        ></svg-icon>

        <div class="option-select">
          <div class="dropdown">
            <div class="dropdown__marker">
            </div>
            <mat-select class="dropdown__select" [(ngModel)]="selectedInstallation">
              <mat-option *ngFor="let factory of factories; index as i" [value]="i">{{factory}}</mat-option>
            </mat-select>
          </div>
        </div>

        <svg-icon
          class="arrow-circle"
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/arrowCircle.svg"
          [ngStyle]="{ 'width.px':14, 'height.px':14 }"
        ></svg-icon>

        <div class="option-select">
          <div class="dropdown">
            <div class="dropdown__marker">
            </div>
            <mat-select
              class="dropdown__select"
              [value]="0"
            >
              <mat-option [value]="0"
                          *ngFor="let install of installations[selectedInstallation]"
                          (click)="changeInstall(install)"
              >{{install}}</mat-option>
            </mat-select>
          </div>
        </div>

        <div class="section-select">
          <div class="custom-border"></div>
          <div class="section-select__item"
               *ngFor="let section of sections[selectedInstallation]; let i = index"
               [ngClass]="{active: i === chosenSection}"
               (click)="changeSection(i)"
          >
            <span class="title">{{section?.title}}</span>
            <div class="value"
                 [ngClass]="{
            noTrust: section?.value > 0
          }"
            >{{section.value}}</div>
          </div>
        </div>

        <div class="option-select">
          <span>Отображаемые значения: </span>
          <div class="dropdown">
            <div class="dropdown__marker">
            </div>
            <mat-select class="dropdown__select" [value]="'измеренные'">
              <ng-container>
                <mat-option [value]="'измеренные'">
                  измеренные
                </mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>

        <div class="filter-btn">
          <div class="filter-btn__item"
               *ngFor="let setting of settings; let i = index"
               [ngClass]="{
          active: i === chosenSetting
        }"
               (click)="changeSetting(i)"
          >{{setting}}</div>
        </div>
      </div>
    </evj-contemporary-widget-header>
  </div>

  <div class="container-body"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
  >
    <div class="main-content-container">
      <evj-sou-mvp-mnemonic-scheme-ab-left
        *ngIf="selectedInstallation === 0 && chosenSection === 0"
        [sections]="sectionsData"
        [choosenSetting]="chosenSetting"
        [flowIn]="flowInAb"
      ></evj-sou-mvp-mnemonic-scheme-ab-left>

      <evj-sou-mvp-mnemonic-scheme-vb-left
        *ngIf="selectedInstallation === 0 && chosenSection === 1"
        [sections]="sectionsData"
        [choosenSetting]="chosenSetting"
        [flowIn]="flowInVb"
      ></evj-sou-mvp-mnemonic-scheme-vb-left>

      <evj-sou-mvp-mnemonic-scheme-izomalk-left
        *ngIf="selectedInstallation === 1"
        [sections]="sectionsDataIzo"
        [choosenSetting]="chosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-izomalk-left>

      <div class="streams-groups">
        <div class="streams-container"
             [class.streams-container_park]="this.factories[this.selectedInstallation] === 'Товарное производство'"
             (mousedown)="$event.stopPropagation()"
             (touchstart)="$event.stopPropagation()"
        >
          <div class="main-collector" *ngIf="selectedInstallation <= 1">
            <div class="main-collector-title">
              <span *ngIf="chosenSection !== 2">{{ installations[selectedInstallation] }}<br></span>
              <span *ngIf="chosenSection !== 0"> {{ sections[selectedInstallation][chosenSection]?.title }}</span>
            </div>
          </div>
          <evj-sou-mvp-mnemonic-scheme-section
            *ngIf="selectedInstallation === 0 && chosenSection === 0"
            [choosenSetting]="chosenSetting"
            [sections]="sectionsData"
          ></evj-sou-mvp-mnemonic-scheme-section>

          <evj-sou-mvp-mnemonic-scheme-section-vb
            *ngIf="selectedInstallation === 0 && chosenSection === 1"
            [choosenSetting]="chosenSetting"
            [sections]="sectionsData"
          ></evj-sou-mvp-mnemonic-scheme-section-vb>

          <evj-sou-mvp-mnemonic-scheme-section-izomalk
            *ngIf="selectedInstallation === 1"
            [choosenSetting]="chosenSetting"
            [sections]="sectionsDataIzo"
          ></evj-sou-mvp-mnemonic-scheme-section-izomalk>

          <evj-sou-schema *ngIf="selectedInstallation === 2" [sectionsDataPark]="sectionsDataPark"
                          [chosenSetting]="chosenSetting"></evj-sou-schema>
        </div>
      </div>
    </div>
  </div>

  <div class="popup-container"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
  >
    <div class="popup"
         [@Branch]="mvpService.isPopupOpen ? 'opened' : 'closed'"
    >
      <div class="popup__header" (click)="mvpService.closePopup()">
        <div class="close-btn">
          <img src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/popupClose.svg">
        </div>
      </div>
      <div class="popup__content">
        <div class="title">
          <div class="marker"></div>
          <span class="source-name">{{mvpService.popupData?.tag}}</span>
          <span class="product-name">{{mvpService.popupData?.productName}}</span>
        </div>
        <div class="information">
          Уровень доверия:&nbsp;<span>{{mvpService.popupData?.tolerance}}</span>
          Измеренное:&nbsp;<span [ngSwitch]="chosenSetting">
            <ng-template ngSwitchCase="1">{{mvpService.popupData?.valueByHour | number:'0.0-0'}}</ng-template>
            <ng-template ngSwitchCase="2">{{mvpService.popupData?.valueTank | number:'0.0-0'}}</ng-template>
            <ng-template ngSwitchDefault>{{mvpService.popupData?.valueMoment | number:'0.0-0'}}</ng-template>
           т</span>
          Скорректированное:&nbsp;<span>{{mvpService.popupData?.valueEdit}} т</span>
          Согласованное:&nbsp;<span>{{mvpService.popupData?.valueCalculate}} т</span>
          Погрешность:&nbsp; <span>{{mvpService.popupData?.error}} %</span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="footer__item">
      <div class="row-container">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/factoryIn.svg"
          [ngStyle]="{ 'width.px':16, 'height.px':17 }"
        ></svg-icon>
        <span class="title">Сумма входа, тн</span>
      </div>
      <div class="row-container">
        <div class="information">
          Накопленное:&nbsp;<span class="information__main">{{mainData?.sumInByDay}}</span>
          За час:&nbsp;<span class="information__sub">{{mainData?.sumInByHour}}</span>
        </div>
      </div>
    </div>
    <div class="footer__item">
      <div class="row-container">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/factoryOut.svg"
          [ngStyle]="{ 'width.px':16, 'height.px':11 }"
        ></svg-icon>
        <span class="title">Сумма выхода, тн</span>
      </div>
      <div class="row-container">
        <div class="information">
          Накопленное:&nbsp;<span class="information__main">{{mainData?.sumOutByDay}}</span>
          За час:&nbsp;<span class="information__sub">{{mainData?.sumOutByHour}}</span>
        </div>
      </div>
    </div>
    <div class="footer__item">
      <div class="row-container">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/delta.svg"
          [ngStyle]="{ 'width.px':14, 'height.px':15 }"
        ></svg-icon>
        <span class="title">Дельта</span>
      </div>
      <div class="row-container">
        <div class="information">
          Накопленное:&nbsp;<span class="information__sub">{{mainData?.delta}}т</span>&nbsp;|&nbsp;<span
          class="information__main">{{mainData?.deltaByPersent}}%</span>
          За час:&nbsp;<span class="information__sub">{{mainData?.deltaHour}}т</span>&nbsp;|&nbsp;<span
          class="information__main">{{mainData?.deltaHourByPercent}}%</span>
        </div>
        <!--        <div class="information">-->
        <!--        <span class="information__main"-->
        <!--              [style.color]="mainData?.lampOn ?'var(&#45;&#45;sou-mvp-color-warning)':'var(&#45;&#45;sou-mvp-color-text-diagram-main)'"-->
        <!--        >{{mainData?.delta}} тн</span>-->
        <!--          <span class="information__sub">{{mainData?.deltaByPersent}}%</span>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="footer__item">
      <div class="row-container">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/balance.svg"
          [ngStyle]="{ 'width.px':16, 'height.px':17 }"
        ></svg-icon>
        <span class="title">Допустимый дебаланс</span></div>
      <div class="row-container">
        <div class="information">
          Накопленное:&nbsp;<span class="information__sub">{{mainData?.balanceAllow}}т</span>&nbsp;|&nbsp;<span
          class="information__main">{{mainData?.balanceAllowByPercent}}%</span>
          За час:&nbsp;<span class="information__sub">{{mainData?.balanceAllowHour}}т</span>&nbsp;|&nbsp;<span
          class="information__main">{{mainData?.balanceAllowHourByPercent}}%</span>
        </div>
      </div>
    </div>
  </div>
</div>
