<div class="container">
  <div>
    <evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle" icon="drop" type="astue">
      <div
        class="header"
        [formGroup]="optionsGroup"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <svg-icon
          class="arrow-circle"
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/arrowCircle.svg"
          [ngStyle]="{ 'width.px':14, 'height.px':14 }"
        ></svg-icon>

        <div class="option-select">
          <div class="dropdown">
            <div class="dropdown__marker"></div>
            <mat-select placeholder="Производство" class="dropdown__select" formControlName="manufacture">
              <mat-option> Не выбрано </mat-option>
              <mat-option *ngFor="let manufacture of selectionOptions.manufactures$ | async" [value]="manufacture.name">
                {{manufacture.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>

        <svg-icon
          class="arrow-circle"
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/arrowCircle.svg"
          [ngStyle]="{ 'width.px':14, 'height.px':14 }"
        ></svg-icon>

        <div class="option-select">
          <div class="dropdown">
            <div class="dropdown__marker"></div>
            <mat-select placeholder="Установка" class="dropdown__select" formControlName="unit">
              <mat-option> Не выбрано </mat-option>
              <mat-option [value]="unit.id" *ngFor="let unit of selectionOptions.units$ | async"
                >{{ unit.name }}</mat-option
              >
            </mat-select>
          </div>
        </div>

        <div class="section-select">
          <div class="custom-border"></div>
          <div
            class="section-select__item"
            *ngFor="let section of (selectionOptions.sections$ | async)"
            [ngClass]="{ active: section.id === (optionsGroup.get('section').value) }"
            (click)="optionsGroup.get('section').setValue(section.id)"
          >
            <span class="title" *ngIf="!!section?.name">{{ section?.name }}</span>
            <div class="value" [ngClass]="{noTrust: false}">{{ 0 }}</div>
          </div>
        </div>

        <div class="option-select">
          <span>Отображаемые значения: </span>
          <div class="dropdown">
            <div class="dropdown__marker"></div>
            <mat-select class="dropdown__select" [value]="'измеренные'">
              <ng-container>
                <mat-option [value]="'измеренные'"> измеренные </mat-option>
              </ng-container>
            </mat-select>
          </div>
        </div>

        <div class="filter-btn">
          <div
            class="filter-btn__item"
            *ngFor="let setting of settings; let i = index"
            [ngClass]="{ active: i === (chosenSetting$ | async) }"
            (click)="chosenSetting$.next(i);"
          >
            {{setting}}
          </div>
        </div>
      </div>
    </evj-contemporary-widget-header>
  </div>

  <div class="container-body" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="view" *ngIf="!!(sectionSubchannel$ | async) && !!(schemeView$ | async)">
      <ng-container
        *ngComponentOutlet="viewComponent; injector: (widgetId | fn:getInjector : (sectionSubchannel$ | async) : (schemeView$ | async));"
      ></ng-container>
    </div>
  </div>

  <div class="popup-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <evj-sou-mvp-mnemonic-scheme-stats
      [popupData]="mvpService.popupData"
      [chosenSetting]="chosenSetting$ | async"
      [@Branch]="mvpService.isPopupOpen ? 'opened' : 'closed'"
      (closeWindow)="mvpService.closePopup()"
      style="width: 100%"
    >
    </evj-sou-mvp-mnemonic-scheme-stats>
  </div>
  <ng-container *ngIf="!!(unitSubchannel$ | async)"
    ><ng-container
      *ngComponentOutlet="footerComponent; injector: (widgetId | fn:getInjector : (unitSubchannel$ | async));"
    ></ng-container
  ></ng-container>
</div>
