$color-smp-blue-1: "003b64";
$color-bg-active-sub-workflow-2: "3f587c";
$color-active-3: "3fa9f5";
$color-marker-diagram-4: "606580";
$color-smp-ev-ws-grad2-5: "285c85";
$color-bg-active-gradient-6: "2d3f51";

$color-1: "003b64";
$color-2: "3f587c";
$color-3: "3fa9f5";
$color-4: "606580";
$color-5: "285c85";
$color-6: "2d3f51";
$color-7: "f28b4a";

$color-bg: "272b35";

$colors: (
  color-1: "003b64",
  color-2: "3f587c",
  color-3: "3fa9f5",
  color-4: "606580",
  color-5: "285c85",
  color-6: "2d3f51",
  color-7: "f28b4a",
);

@mixin element-color($color1, $color2, $color3, $color4, $color5, $color6) {
  background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='brigade-1' d='M32.4063 0.442322H34.4551L38.9145 4.83592V18.3611H32.4063V0.442322Z' fill='%23#{$color1}' /%3E%3Cpath id='brigade-2' d='M32.4063 38.3837L34.6984 38.3837L38.9145 34.1976V19.9001H32.4063V38.3837Z' fill='%23#{$color2}'/%3E%3Cpath id='brigade-3' d='M7.4812 0.442335L5.18907 0.442322L0.973028 4.62843L0.973027 18.9259L7.4812 18.9259L7.4812 0.442335Z' fill='%23#{$color3}'/%3E%3Cpath id='brigade-4' d='M7.4812 38.3837L5.43245 38.3837L0.973029 33.9901L0.97303 20.4649L7.4812 20.4649L7.4812 38.3837Z' fill='%23#{$color4}'/%3E%3Crect id='brigade-5' x='9.09039' y='31.8737' width='21.9212' height='6.51' fill='%23#{$color5}' /%3E%3Crect id='brigade-6' x='9.09039' y='0.442322' width='21.9212' height='6.51' fill='%23#{$color6}'/%3E%3C/svg%3E%0A");
  background-position: 45% 53%;
  background-repeat: no-repeat;
}

.item-1 {
  @for $color1 from 1 through 7 {
    &--color-#{$color1} {
      @include element-color(map-get($colors, color-#{$color1}), $color-bg, $color-bg, $color-bg, $color-bg, $color-bg);
      &item-2 {
        @for $color2 from 1 through 7 {
          &--color-#{$color2} {
            @include element-color(
              map-get($colors, color-#{$color1}),
              map-get($colors, color-#{$color2}),
              $color-bg,
              $color-bg,
              $color-bg,
              $color-bg
            );
            &item-3 {
              @for $color3 from 1 through 7 {
                &--color-#{$color3} {
                  @include element-color(
                    map-get($colors, color-#{$color1}),
                    map-get($colors, color-#{$color2}),
                    map-get($colors, color-#{$color3}),
                    $color-bg,
                    $color-bg,
                    $color-bg
                  );
                  &item-4 {
                    @for $color4 from 1 through 7 {
                      &--color-#{$color4} {
                        @include element-color(
                          map-get($colors, color-#{$color1}),
                          map-get($colors, color-#{$color2}),
                          map-get($colors, color-#{$color3}),
                          map-get($colors, color-#{$color4}),
                          $color-bg,
                          $color-bg
                        );
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.special-date {
  background: url('../../assets/icons/widgets/admin-shift-schedule/calendar-active-orange.svg') no-repeat center;
  background-size: 77%;
}

.calendar-red {
  .mat-calendar-header {
    padding: 0;
    background-color: transparent !important;
  }

  .mat-calendar-controls {
    margin-top: 0;
  }

  .mat-calendar-body-label,
  .mat-calendar-period-button {
    font-weight: normal;
  }

  .mat-calendar-content {
    padding: 0;
  }
  .mat-calendar-body-cell-content {
    border-radius: 0;
  }
  .mat-calendar-body-today {
    border: none;
    background-size: 87%;
    background-repeat: no-repeat;
  }
  .mat-calendar-body-selected {
    box-shadow: none;
    background: url('../../assets/icons/widgets/admin-shift-schedule/active-board.svg');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 105%, 100%;
    color: var(--color-text-main);
  }
  .special-date {
    .mat-calendar-body-selected {
      border: none;
      background: url('../../assets/icons/widgets/admin-shift-schedule/active-board.svg') center;
      background-size: 100%;
      background-repeat: no-repeat;
      color: var(--color-text-main);
    }
  }
  .mat-calendar-body-today.mat-calendar-body-selected {
    box-shadow: none;
    background:url('../../assets/icons/widgets/admin-shift-schedule/active-board.svg');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 87%, 100%;
    color: var(--color-text-main);
  }
  .mat-calendar-body-cell-content:hover {
    border: none;
    background: url('../../assets/icons/widgets/admin-shift-schedule/border-hover.svg') center;
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--color-text-main);
  }
  .mat-calendar-body-today:hover {
    box-shadow: none;
    background: url('../../assets/icons/widgets/admin-shift-schedule/border-hover.svg');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 87%, 100%;
    color: var(--color-text-main);
  }

  .mat-calendar-body-selected:hover {
    box-shadow: none;
    background: url('../../assets/icons/widgets/admin-shift-schedule/border-hover.svg');
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    color: var(--color-text-main);
  }

  .mat-calendar-previous-button {
    transform: rotate(90deg);
    height: 43px;
    width: 43px;
  }
  .mat-calendar-next-button {
    transform: rotate(90deg);
    height: 43px;
    width: 43px;
  }

  .mat-calendar-table-header {
    color: var(--color-text-main);
    .mat-calendar-table-header-divider {
      display: none;
    }
  }

  [aria-hidden="true"] .mat-calendar-body-label {
    display: none;
  }
  td.mat-calendar-body-label {
    visibility: hidden;
  }
}
