.mat-select-custom {
  &.mat-select-panel {
    background: var(--gray-G12-color) !important;
  }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--text-accent-color) !important;
  background-color: var(--gray-G12-color) !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  background-color: var(--gray-G12-color);
}

.mat-select-arrow {
  background-color: var(--color-text-sub);
  width: 13px !important;
  height: 7px !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  margin: 0 !important;
  -webkit-mask-image: url("../../assets/icons/widgets/workspace/arrow-work.svg");
  mask-image: url("../../assets/icons/widgets/workspace/arrow-work.svg");
}

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar:vertical {
  width: 5px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scroll-track);
}

::-webkit-scrollbar-track-piece {
  background-color: var(--color-scroll-track-piece);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: var(--color-scroll-thumb);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: var(--color-scroll-corner);
}

::-webkit-resizer {
  // background-color: #666;
}
