@import url(../fonts.css);

html,
body,
p,
code:before,
table {
  font-family: "Tahoma", sans-serif;
}

#shell #shell-screen nav.top-nav {
  background: var(--color-bg-main-dark);
  box-shadow: 0px -6px 20px 0px black;
  display: none;
}

#shell #shell-screen nav.leftnav {
  display: none;
}

#shell #shell-screen nav.top-nav nav.tab .top-nav-left-icons-one {
  display: none;
}

#shell #shell-screen section.content-wrapper {
  width: 100%;
  height: calc(100% - 51px);
  height: 100%;
}

div.rec-new-manager-shell div.rm-datasheet-container {
  padding: 0;
}

.rm-datasheet-container::-webkit-scrollbar {
  width: 5px;
}

.rm-datasheet-container::-webkit-scrollbar-thumb {
  background: var(--color-bg-sub);
  border-radius: 5px;
}

.rm-datasheet-container::-webkit-scrollbar-track {
  background: var(--color-bg-main);
  border-radius: 5px;
}

nav.status-bar {
  display: none;
}

div.rec-new-manager-shell div.rm-datasheet-container {
  height: 100% !important;
  background: var(--color-bg-main);
}

div.rec-new-manager-shell div.record-explorer div.rm-related-families {
  height: 100% !important;
}

div.rec-new-manager-shell div.record-explorer div.rm-related-families ul.rm-related-families-list {
  height: 100% !important;
  background: var(--color-bg-main-dark);
}

div.rec-new-manager-shell div.record-explorer div.rm-families-header {
  background: var(--color-bg-main-dark);
}

div.rec-new-manager-shell
  div.record-explorer
  div.rm-related-families
  ul.rm-related-families-list
  .rm-nav-list
  .list-data-block {
  color: white;
}

.ds-enabled-fontColor {
  color: white;
}

div.rec-new-manager-shell div.record-explorer .rm-nav-list-group.entity-ids {
  color: white;
}

div.rec-new-manager-shell div.record-explorer .rm-nav-list-group.entity-ids > li {
  background: var(--color-bg-main-dark);
}

div.rec-new-manager-shell div.record-explorer .rm-nav-list-group.entity-ids > li.active {
  background: var(--color-bg-main-dark);
}

div.rec-new-manager-shell
  div.record-explorer
  div.rm-related-families
  ul.rm-related-families-list
  .rm-nav-list
  .list-data-block:hover {
  background: var(--color-bg-main) !important;
}

div.rec-new-manager-shell div.record-explorer h1.title {
  background: var(--color-bg-main-dark);
  color: white;
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) .layout-tabbed-group .nav-tabs li.active > a,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .layout-tabbed-group .nav-tabs li > a {
  color: var(--color-text-sub-heading);
  max-width: 200px;
}

mi-site-selector div.readonly label,
output {
  color: white;
}

#shell #shell-screen nav.top-nav nav.tab .middle-content ul .test-border.active {
  background: var(--color-bg-main);
  border-left: none;
}

#shell #shell-screen nav.top-nav nav.tab .middle-content ul .test-border {
  border: none;
}

#shell #shell-screen nav.top-nav nav.tab .middle-content {
  border: none;
}

#shell #shell-screen nav.top-nav nav.app {
  border: none;
}

.datasheet-nav .datasheet-toolbar {
  border: none;
}

#shell #shell-screen nav.top-nav .second-top-icon {
  border: none;
}

#shell #shell-screen nav.top-nav .third-top-icon {
  border: none;
}

mi-select,
.datasheet-layout-container:not(.refdoc-datasheet-layout) mi-select .mi-select-container,
.datasheet-layout-container:not(.refdoc-datasheet-layout) mi-select .mi-select-container.disabled {
  background: var(--color-bg-card) !important;
  border: none !important;
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) mi-multi-value {
  background: var(--color-bg-card) !important;
  border: none !important;
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) mi-select[data-disabled="true"],
.datasheet-layout-container:not(.refdoc-datasheet-layout) mi-select {
  background: var(--color-bg-card) !important;
}

.layout-element-caption {
  color: var(--color-text-sub);
}

textarea::placeholder {
  color: var(--color-text-sub) !important;
}

input::placeholder {
  color: var(--color-text-sub) !important;
}

.record-explorer {
  display: none;
}

div.rec-new-manager-shell div.rm-datasheet-container {
  margin: 0 !important;
  width: 100% !important;
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-1,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-2,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-2-5,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-3,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-4,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-5,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-6,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-7,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-7-5,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-8,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-9,
.datasheet-layout-container:not(.refdoc-datasheet-layout) .block.span-10 {
  padding: 0 !important;
}

.form-control {
  background: var(--color-bg-card) !important;
  border: none;
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) button.custom-icon-field-button {
  background: var(--color-bg-card) !important;
}

span {
  color: var(--color-text-sub);
}

.datasheet-layout-container:not(.refdoc-datasheet-layout) .mi-multi-value-selector {
  background: var(--color-bg-card) !important;
}

.overview {
  background: var(--color-bg-main);
}

mi-dashboard div.dashboard-content mi-widget,
mi-dashboard-editor div.dashboard-content mi-widget {
  border: none !important;
  background: var(--color-bg-card) !important;
  padding: 15px;
  border-radius: 15px;
}

.overview mi-page-filter .page-filter-root header div h1 {
  color: var(--color-text-main);
}

mi-page-filter {
  //height: unset;
}

mi-dashboard div.dashboard-content mi-grid-layout mi-grid-layout-collection mi-grid-layout-item {
  min-height: 220px !important;
}

mi-dashboard div.dashboard-content mi-widget header {
  border: none;
  color: var(--color-text-main);
}

mi-dashboard div.dashboard-content mi-grid-layout mi-grid-layout-collection {
  min-height: 250px;
}

mi-dashboard div.dashboard-content mi-widget section.widget-body {
  padding: 15px;
}

mi-dashboard div.dashboard-content mi-widget header div.name {
  color: var(--color-text-sub-heading);
}

mi-page-filter .page-filter-root header {
  display: none;
}

#shell #shell-screen nav.top-nav nav.tab .middle-content div.active {
  background: var(--color-bg-main-dark);
  border-left: none;
}

a {
  color: var(--color-text-sub);
}

#shell #shell-screen section.content-wrapper section.content > div.region {
  background-color: var(--color-bg-main);
}

.query-landing-page div.query-results {
  height: calc(100%);
  padding: 20px 0;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable {
  display: none;
}

.dx-scrollable-container {
  direction: rtl;
  overflow-y: scroll;
}

.dx-scrollable-container::-webkit-scrollbar {
  width: 5px !important;
}

.dx-scrollable-container::-webkit-scrollbar-thumb {
  background: var(--color-bg-sub);
  border-radius: 5px;
}

.dx-scrollable-container::-webkit-scrollbar-track {
  background: var(--color-bg-main);
  border-radius: 5px;
}

.dx-scrollable-content {
  direction: ltr;
}

.dx-datagrid-headers {
  margin-left: 5px;
}

.dx-datagrid-rowsview {
  border: none;
}

.dx-datagrid-headers {
  color: var(--color-text-sub-heading);
}

.dx-gridbase-container > .dx-datagrid-rowsview {
  color: var(--color-text-sub);
}

.dx-datagrid-content .dx-datagrid-table {
  border-collapse: collapse;
}

.dx-datagrid .dx-datagrid-headers .dx-column-lines > :first-child {
  border: none !important;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  border: none;
}

.dx-datagrid-rowsview .dx-row {
  border: none;
}

.dx-datagrid .dx-column-lines > td {
  border: none;
  border-left: solid 1px var(--color-bg-sub);
}

.dx-datagrid-headers .dx-datagrid-table .dx-row {
  border: none;
  border-bottom: solid 1px var(--color-bg-sub);
}

mi-resultgrid .rg-header .totalCount {
  color: var(--color-text-sub);
}

.query-landing-page {
  padding: 0;
}

mi-page-filter,
.mi-page-filter {
  height: calc(100% - 10px);
}

#shell #shell-screen .small-screen-app-title-bar {
  display: none;
}
