.line-chart {

  .domain {
    display: none;
  }

  .tick .line {
    display: none;
  }

  .line {
    fill: transparent;
  }

  .tick {
    color: var(--color-text-sub-heading);
  }

  .x-axis {
    font-size: 0.6875rem;
  }

  .y-axis {
    font-size: 0.625rem;
  }

  .point {
  }

  .deviation-area {
    fill: rgba(244, 163, 33, 0.51);
    fill-opacity: .5;
  }

  .line-btw-point {

    stroke-width: 0.25px;
    stroke: white;
  }

}
