.mat-calendar-previous-button,
.mat-calendar-next-button {
  color: var(--color-header-text-sub) !important;
}

.mat-calendar-arrow {
  border-top-color: var(--color-header-text-period-selector-active) !important;
}

.mat-datepicker-toggle {
  color: var(--color-header-bg-icons) !important;
}

.mat-datepicker-toggle-active {
  color: var(--color-border-active) !important;
}

.mat-datepicker-content {
  background-color: var(--color-header-bg-calendar) !important;
  color: var(--color-header-text-main) !important;
}

.mat-calendar-header {
  background-color: var(--color-platform-bg-main);
}

.mat-calendar-table-header {
  color: var(--color-header-text-sub);
}

.mat-calendar-body-label {
  color: var(--color-header-text-sub) !important;
}

.mat-form-field-underline {
  //  background-color: var(--color-bg-main) !important;
}

.mat-stroked-button.mat-primary {
  color: var(--color-text-main);
}

.mat-stroked-button:not([disabled]) {
  border-color: var(--color-header-text-datetime-current) !important;
  border-radius: 20px;
}
.mat-calendar-body-selected {
  background: var(--color-header-bg-active) !important;
  color: var(--color-header-bg-period-selector) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: var(--color-header-bg-icons) !important;
}

.mat-calendar-body-today, .mat-calendar-body-selected {
  box-shadow: inset 0 0 0 1px var(--color-header-bg-calendar) !important;
}

.mat-calendar-table-header-divider::after {
  background: var(--color-header-bg-calendar-divider) !important;
}


