<div class="container">
  <div
    class="toggle-container"
    [class.toggle-container__active]="page === 'loading'"
    (click)="changePage.emit('loading')"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <svg-icon src="assets/icons/widgets/ASTUE-ONPZ/astue-onpz-factory-analysis/header/chart_dots.svg"></svg-icon>
    <span> Загрузки установок </span>
  </div>
  <div
    class="toggle-container"
    [class.toggle-container__active]="page === 'development'"
    (click)="changePage.emit('development')"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <svg-icon src="assets/icons/widgets/ASTUE-ONPZ/astue-onpz-factory-analysis/header/chart_squares.svg"></svg-icon>
    <span> Выработка компонентов </span>
  </div>
</div>
