.container {
  display: flex;
  height: 100%;

  .flex-spacer {
    flex-grow: 1;
  }

  .toggle-container {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 0 13px;
    height: 40px;
    color: -var(--text-subscript-color);
    border-bottom: solid 1px var(--border-icon-color);
    cursor: pointer;

    &__active {
      color: var(--text-alwaysWhite-color);
      border-color: var(--border-blue-color);
    }

    & > * {
      margin: auto 0;
    }
  }
}
