<div class="container pointer-event">
  <evj-widget-header [title]="title" [id]="id" [uniqId]="uniqId"></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div class="line">-----------.---------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
      <div class="line">---------------------</div>
    </div>

  </ng-container>

  <ng-container *ngIf="!isMock">


    <section class="table" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div class="table__header">
        <table>
          <thead>
            <tr class="header__items">
              <th class="header header__date">Дата</th>
              <th class="header header__production">Производство</th>
              <th class="header header__equipment">Установка</th>
              <th class="header header__suspenseBreakpoint">Простой останова</th>
              <th class="header header__suspenseDuration">Длительность простоя</th>
              <th class="header header__suspenseCause">Причина простоя</th>
              <th class="header header__suspenseRelated">Причина сопутствующая</th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="frame frame_top">
        <div class="frame__circle frame__circle__topleft"></div>
        <div class="frame__circle frame__circle__topright"></div>
      </div>
      <div class="table__body scroll-bar">
        <table>
          <tbody>
            <tr *ngFor="let item of data" class="table__item">
              <td class="item item__date">{{ item.date | date:'dd-mm-yyyy' }}</td>
              <td class="item item__production">{{ item.production }}</td>
              <td class="item item__equipment">{{ item.equipment }}</td>
              <td class="item item__suspenseBreakpoint">{{ item.suspenseBreakpoint }}</td>
              <td class="item item__suspenseDuration">{{ item.suspenseDuration }}</td>
              <td class="item item__suspenseCause">{{ item.suspenseCause }}</td>
              <td class="item item__suspenseRelated">{{ item.suspenseRelated }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>

  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>


</div>