<evj-widget-preview
  [title]="widgetTitle"
  [previewTitle]="widgetType"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <section
      class="table"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="table__header">
        <table>
          <thead>
            <tr class="header__items">
              <th class="header header__date">Дата</th>
              <th class="header header__production">Производство</th>
              <th class="header header__equipment">Установка</th>
              <th class="header header__suspenseBreakpoint">
                Простой останова
              </th>
              <th class="header header__suspenseDuration">
                Длительность простоя
              </th>
              <th class="header header__suspenseCause">Причина простоя</th>
              <th class="header header__suspenseRelated">
                Причина сопутствующая
              </th>
            </tr>
          </thead>
        </table>
      </div>

      <div class="frame frame_top">
        <div class="frame__circle frame__circle__topleft"></div>
        <div class="frame__circle frame__circle__topright"></div>
      </div>
      <div class="table__body scroll-bar">
        <table>
          <tbody>
            <tr *ngFor="let item of data.values" class="table__item">
              <td class="item item__date" *ngFor="let item2 of item">
                {{ getValue(item2.value) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
