$border-color: rgba(63, 169, 245, 0.05);

.workspace {
  //height: calc(100% + 61px);
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: var(--color-text-sub);
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;

  button {
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid var(--color-border-main-transparrent);
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    outline: none;
  }
  &__circles {
    flex-grow: 1;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__select-container {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
  }

  &__select-container-left {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 5px;
  }

  &__select-container-right {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
  }
  &__select-container-l {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5px;
  }
  &__select-container-r {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 5px;
  }

  &__header {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;

    .card-true {
      cursor: pointer;
      border: 1px solid var(--color-border-active);
      background: $border-color;
    }
  }
  &__popup {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 100%;

    top: 0;
    right: 0;
    left: 0;
    transform: scale(0);
    transform-origin: top;

    opacity: 0;
    transition: opacity 0.5s;

    background: var(--color-bg-main-opacity);

    &_active {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__third {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    &__right {
      flex-grow: 1;
      height: 100%;
      max-width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 13px;
      line-height: 16px;

      padding-right: 5px;
      padding-left: 5px;

      .place-date {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .responsible {
        width: 100%;
        height: 100px;
        min-width: 200px;
        min-height: 100px;
        margin-top: 3px;
        margin-bottom: 23px;
      }

      .events-correct {
        width: 100%;
        height: 100%;
        min-height: 200px;
      }

      .event-input {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .usual-text {
        height: 85px;
        width: 100%;
        margin-bottom: 24px;
      }
      .description {
        margin-top: 4px;
        height: 158px;
        width: 100%;
        margin-bottom: 24px;
      }

      .facts {
        height: 200px;
        width: 100%;
        margin-bottom: 23px;
      }

      .comments {
        height: 340px;
        width: 100%;
      }
    }
  }
}
.title {
  width: 100%;
  height: 16px;
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 16px;
}
.event-mat-select {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-astue-mat-select-border);
  border-radius: 2px;
  height: 36px;
  min-width: 50px;
  position: relative;

  .mat-select {
    width: calc(100% - 2px) !important;
  }

  mat-label {
    line-height: 16px;
    font-size: 17px !important;
    color: var(--color-text-sub);
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-underline {
      height: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-ripple {
      height: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      display: flex;
      padding-top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-select-value-text {
      margin-left: 10px;
      font-size: 13px;
      color: inherit;
    }

    .mat-select-arrow {
      margin-right: 10px !important;
      margin-top: 5px !important;
    }

    .mat-form-field-label-wrapper {
      top: -20px;
    }
  }
}
.creator {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__title {
    height: 18px;
    width: inherit;
    color: var(--color-text-sub);
    font-size: 13px;
  }

  &__field {
    height: 36px;
    width: inherit;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    border: 1px solid var(--color-astue-mat-select-border);
    border-radius: 2px;

    font-size: 13px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.events-workspace__scroll {
  ::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  ::-webkit-scrollbar:vertical {
    width: 4px;
    height: 100%;
    border-radius: 40px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--color-border-unactive);
  }

  ::-webkit-scrollbar-track-piece {
    border: 1px solid #8c99b2;
    border-radius: 40px;
    background-color: rgb(27, 30, 39);
  }

  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--color-border-unactive);
    border-radius: 40px;
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--color-border-unactive);
  }

  ::-webkit-resizer {
    background-color: var(--color-border-unactive);
  }
}

.header-workspace {
  width: 100%;
  height: 60px;
  background: var(--color-events-bg-filters);
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 13px;
  line-height: 16px;
  &__button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__container {
    flex-grow: 1;
    min-width: 100px;
    height: 34px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1px;
    background-color: var(--evj-color-bg-btn);
    border: 2px solid var(--color-events-bg-filters);
    cursor: pointer;
    color: var(--color-event-card-font-sub);

    &:focus {
      outline: none;
    }
  }
}
.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-button {
  background-color: var(--color-new-header-active);
  color: white;
}
evj-rect-button {
  width: 100%;
  height: 100%;
}
.button-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hover-effect {
  &:hover {
    background-color: var(--color-bg-sub-workflow);
  }
}
.production {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}
