<div class="card" [ngClass]="{'card-active':selectEdit.hasValue()}">
  <evj-input
    class="value value__input"
    [value]="option.value"
    [placeholder]="option.name"
    [isDisabled]="selectEdit.isEmpty()"
    (unfocus)="onInput($event)"
  ></evj-input>
  <div
    class="button"
    *ngIf="selectEdit.isEmpty() && !isCreateNewUser"
    [ngClass]="{'button-active':selectEdit.hasValue()}"
    (click)="onEditClick()"
  >
    <img src="assets/icons/widgets/admin/edit-button.svg" />
  </div>
  <div
    class="button button-x"
    *ngIf="!isCreateNewUser"
    [ngClass]="{'button-hidden':selectEdit.isEmpty()}"
    (click)="onCloseClick()"
  ></div>
</div>
