<evj-preloader [isLoading]="isLoadingData"></evj-preloader>
<div class="login-form" [class.swing]="swing" (ngSubmit)="onSubmit()">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <div class="logo-gpn"></div>

  <evj-input
    class="insert-component insert-component__login"
    [options]="loginOptions"
    [formControl]="username"
    (keyup.enter)="onSubmit()"
  ></evj-input>
  <evj-input
    class="insert-component insert-component__password"
    [options]="passwordOptions"
    [formControl]="password"
    (keyup.enter)="onSubmit()"
  ></evj-input>

  <div class="login__submit">
    <div class="submit__frame submit__frame-left"></div>
    <div class="submit__frame submit__frame-right"></div>
    <button type="submit gridster-item-content" name="Login" value="Войти" class="login-submit" (click)="onSubmit()">
      <mat-spinner
        *ngIf="isLoadingData"
        diameter="20"
        style="position: relative; margin-left: -10px; left: 50%"
      ></mat-spinner>
      <span *ngIf="!isLoadingData">Войти</span>
    </button>
  </div>
</div>
