body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  overflow: hidden;
}
input {
  &::placeholder {
    color: var(--color-text-sub);
  }
  ::-webkit-input-placeholder {
    color: var(--color-text-sub);
  }
  ::-moz-placeholder {
    color: var(--color-text-sub);
  }
  :-ms-input-placeholder {
    color: var(--color-text-sub);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.login-form {
  //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 400px;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}

.login-username,
.login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid var(--color-text-sub);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    border-bottom: 1px solid var(--color-border-active);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: var(--color-text-diagram-transparent);
    transition: 250ms background ease-in;
  }
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  //   margin: 1rem auto;
  min-width: 1px;
  padding: 0.25rem;
  transition: 250ms background ease-in;
  &:hover,
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.login {
  &__submit {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 10px 10px;
    max-width: 300px;

    .submit {
      &__frame {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 20px;
        border: 2px solid var(--color-border-unactive);
        box-sizing: border-box;
        background: transparent;
        &-left {
          left: 0px;
          top: 0px;
          border-right: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -2px;
            left: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -4px;
            left: -2px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
        &-right {
          right: 0px;
          top: 0px;
          border-left: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -3px;
            right: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -8px;
            right: -2px;

            height: 10px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
      }
    }

    &:hover {
      // border: 0.5px solid var(--color-border-active);
      button {
        border: 0.5px solid var(--color-border-active);
        background-color: var(--color-border-active-hover);
        cursor: pointer;
      }

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-active);
          box-sizing: border-box;
          background: transparent;
          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
        }
      }
    }
    button {
      width: 100%;
      height: 100%;
      position: relative;
      border: 0.5px solid var(--color-border-main-transparrent);
      background-color: var(--color-bg-main);
      color: var(--color-text-main);
      outline: none;
    }
  }
}

.logo-gpn {
  min-width: 240px;
  height: 90px;
  background: url("../../../../assets/img/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.insert-component {
  width: 100%;
  height: 25px;
  font-size: 14px;

  margin: 40px 0px;

  &__login {
    margin-bottom: 20px;
  }

  &__password {
    margin-top: 20px;
  }
}
