* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}
body {
  font-family: "Open Sans";
  font-weight: 100;
  display: flex;
  align-items: center;
  overflow: hidden;
}

input {

  &::placeholder {
    color: var(--text-main-color);
  }
  ::-webkit-input-placeholder {
    color: var(--text-main-color);
  }
  ::-moz-placeholder {
    color: var(--text-main-color);
  }
  :-ms-input-placeholder {
    color: var(--text-main-color);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
}

.main {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-dashboard-color);

  &__wall {
    position: absolute;
    bottom: 0;
    left: 0;
    color: var(--gray-G10-50-color);
  }

  &__auth {
    width: 100%;
    height: 190px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ::ng-deep { 
      .input-container {
        &:hover {
          border: 1px solid var(--border-blue-color) !important;
          background-color: var(--opacity-plan-20-color);
        }
      }
      .input-container_underlined {
        background-color: var(--bg-dashboard-color);
        border: 1px solid var(--bg-header-color) !important;
        height: 70px !important;
        padding: 0 60px !important;
      }
      .input {
        font-size: 18px !important;
        line-height: 103.2% !important;
      }
      .insert-component__login {
        height: 70px !important;
        margin: 0 !important;
      }
      .insert-component__password {
        height: 70px !important;
        margin: 0 !important;
      }
      .icon {
        right: 30px !important;
      }
    }

    &__error {
      height: 25px;
      width: 100%;
      display: flex;
      align-items: center;

      color: var(--index-critical-color);
      font-size: 14px;
    }
  }
}

.login-form {
  background-color: var(--gray-G10-50-color);
  min-height: 10rem;
  width: 600px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-blue-color);

  border-radius: 5px;
  padding: 60px 80px;
  backdrop-filter: blur(26px);

  z-index: 1;
}
.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: 0.5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}

.login-username,
.login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid var(--text-main-color);
  color: white;
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    border-bottom: 1px solid var(--color-border-active);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: var(--color-text-diagram-transparent);
    transition: 250ms background ease-in;
  }
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  //   margin: 1rem auto;
  min-width: 1px;
  padding: 0.25rem;
  transition: 250ms background ease-in;
  &:hover,
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.login {
  &__submit {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;

    &:hover {
      button {
        border: 1px solid var(--border-blue-color);
        background-color: var(--border-blue-color);
        color: var(--color-text-main);
        cursor: pointer;
      }

    
    }
    button {
      width: 100%;
      height: 100%;
      position: relative;
      border-radius: 2px;
      border: 1px solid var(--gray-G9-color);
      background-color: var(--gray-G9-color);
      color: var(--color-header-text-main);
      outline: none;
    }
  }
}

.logo {
  width: 100%;
  height: 64px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  &__icon {
    position: absolute;
    top: -7px;
    left: 0;
    width: 90px;
    height: 100%;
    color: var(--toggler-button-color-active);
  }

  &__title {
    height: 100%;
    width: 300px;
    border-left: 2px solid var(--toggler-button-color-active);
    margin-left: 17px;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    font-size: 21.9248px;
    line-height: 26px;
    color: var(--text-contrast-color);

    &__first {
      color: var(--border-blue-color);
    }
  }
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.swing {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.insert-component {
  width: 100%;
  height: 25px;
  font-size: 14px;

  margin: 40px 0px;

  &__login {
    margin-bottom: 20px;
  }

  &__password {
    margin-top: 20px;
  }
}
