.card {
  height: 100%;
  background-color: var(--ozsm-color-bg-dark);
  border: 1px solid var(--ozsm-color-border);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 8px;

  color: var(--text-contrast-color);

  &__title {
    height: 20%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    line-height: 12px;
    margin: 7% 0 0 10%;
  }

  &__line {
    position: relative;
    width: 80%;
    height: 4px;
    margin: 0 10% auto 10%;
    border-radius: 1px;
    overflow: hidden;
  }
}

.icon {
  height: 100%;
  color: var(--ozsm-color-marker-diagram);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.value {
  height: 20%;
  font-size: 14px;
  line-height: 17px;
  margin: 0 10%;
  gap: 5px;

  .fact {
    font-size: 12px;
  }

  &__icon {
    line-height: 16px;
    font-size: 16px;
  }

  &__deviation {
    line-height: 14px;
    font-size: 12px;

    .deviation {
      float: right;
      color: var(--ozsm-color-warning);
    }
  }
}

.name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &__icon {
    line-height: 14px;
    font-size: 12px;
  }
}

.line {
  position: absolute;
  height: 100%;

  &__active {
    background-color: var(--ozsm-color-active);
  }

  &__bg {
    width: 100%;

    &-active {
      background-color: var(--ozsm-color-bg-innage-diagram);
    }
    &-deviation {
      background-color: var(--ozsm-color-warning);
    }
    &-deviation-opacity {
      background-color: var(--ozsm-color-circle-diagram-bg-arc-deviation);
    }
    &-disabled {
      background-color: var(--ozsm-color-bg-disabled);
    }
  }
}

.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.disabled {
  * {
    color: var(--ozsm-color-text-disabled);
  }
}
