<div class="card" [ngClass]="{'disabled': isDisabled}">
  <div class="card__title">
    <div class="icon" [ngSwitch]="type">
      <ng-template ngSwitchCase="icon">
        <img src="assets/icons/widgets/OZSM/ozsm-card-line-diagram/{{icon}}.svg" />
      </ng-template>
      <ng-template ngSwitchCase="deviation-icon">
        <img src="assets/icons/widgets/OZSM/ozsm-card-line-diagram/{{icon}}.svg" />
      </ng-template>
      <ng-template ngSwitchCase="number"> {{index}} </ng-template>
      <ng-template ngSwitchCase="default"> </ng-template>
    </div>
    <div class="name" [class.name__icon]="type === 'icon' || type === 'deviation-icon'">
      {{type === 'number' ? 'Линия' : sourceData?.name}}
    </div>
  </div>
  <div *ngIf="type !== 'deviation-icon'; else deviationValue" class="value" [class.value__icon]="type === 'icon'">
    <span class="fact">{{+sourceData?.value | spaceNumber : 2}}</span>
  </div>
  <ng-template #deviationValue>
    <div class="value value__deviation">
      <span class="fact">{{+sourceData?.value | spaceNumber : 2}}</span>
      <span *ngIf="+sourceData?.plan - +sourceData?.value != 0" class="deviation"
        >{{+sourceData?.value - +sourceData?.plan | spaceNumber : 2}}</span
      >
    </div>
  </ng-template>
  <div class="card__line">
    <div class="line line__bg" [ngClass]="'line__bg-' + (!isDisabled? bgLineClass : 'disabled')"></div>
    <div class="line line__active" [style.width.%]="percentValue"></div>
  </div>
</div>
