.card {
  height: 17%;
  width: 33%;
  background-color: var(--ozsm-color-bg-dark);
  border: 1px solid var(--ozsm-color-border);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  &__title {
    height: 20%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    line-height: 12px;
    margin-top: 7%;
    margin-left: 10%;
  }
  &__value {
    width: 66%;
    height: 20%;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10%;
    gap: 5px;
  }
  &__line {
    width: 80%;
    height: 5%;
    background-color: var(--ozsm-color-bg-innage-diagram);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 1px;
    margin-bottom: 7%;
  }
}
.icon {
  height: 100%;
  color: var(--ozsm-color-marker-diagram);
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.line-active {
  height: 100%;
  width: 75%;
  background-color: var(--ozsm-color-active);
}
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
