<evj-contemporary-widget-header
  [uniqId]="uniqId"
  [widgetTitle]="widgetTitle"
  type="kpe"
  icon="kpe-quality-header-icon"
>
  <div class="content-container">
    <div class="header">
      <ul class="header__info">
        <li class="header__info-item">
          <div class="header__info-1"></div>
          <span>Факт</span>
        </li>
        <li class="header__info-item">
          <div class="header__info-2"></div>
          <span>План</span>
        </li>
      </ul>
    </div>
  </div>
</evj-contemporary-widget-header>
<div class="container">
  <div
    class="container-body"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="quality">
      <div class="quality__header">
        <div #mainGauge class="quality__header__gauge" [style]="gaugeWidth(mainGauge)">
          <evj-kpe-gauge-chart
            [fact]="deviationDiagram?.fact"
            [plan]="deviationDiagram?.plan"
            [deviation]="deviationDiagram?.deviation"
            isPercent="true"
          ></evj-kpe-gauge-chart>
        </div>
        <div class="quality__header__chart">
          <evj-kpe-deviation-diagram [data]="deviationChartData"></evj-kpe-deviation-diagram>
        </div>
      </div>
      <ng-container *ngFor="let main of cards; trackBy: trackByFuncMain">
        <div class="quality__main">
          <ng-container *ngFor="let card of main; trackBy: trackByFuncCard">
            <div class="quality__main__gauge element-container">
              <div class="card">
                <div class="card__content">
                  <div class="card__gauge-diagram">
                    <evj-kpe-gauge-chart background="dark"
                                         [fact]="card.gaugeChart?.fact"
                                         [plan]="card.gaugeChart?.plan"
                                         [deviation]="card.gaugeChart?.deviation"
                    ></evj-kpe-gauge-chart>
                    <div class="units">
                      <div class="units__unit"
                           [class.units__unit_active]="card?.gaugeChart?.unit"
                      >{{ card?.gaugeChart?.unit || 'ед.изм' }}</div>
                      <div class="units__unit"
                           [class.units__unit_active]="!card?.gaugeChart?.unit"
                      >%
                      </div>
                    </div>
                  </div>
                  <div class="card__eq-diagram">
                    <div class="title-area">
                      <span class="title-area__title">{{ card.gaugeChart.title }}</span>
                      <span class="title-area__comment">{{ card.description }}</span>
                    </div>
                    <div class="diagram-area">
                      <evj-kpe-equalizer-chart [data]="card.equalizerChartConverted"></evj-kpe-equalizer-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
