.card {
  height: 100%;
  width: 100%;

  &__title {
    font-size: 14px;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-aw-header-bg);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px 12px 0px 0px;
    z-index: 1;

    .brigade {
      position: absolute;
      left: 60px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      border-radius: 4px;
    }
  }

  &__content {
    height: calc(100% - 51px);
    background: var(--color-aw-container-body-transparent);
  }

  &__bottom {
    height: 11px;
    background: var(--color-aw-container-body-transparent);
    border-radius: 0px 0px 12px 12px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  z-index: 999;
}
:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  z-index: 999;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
  margin: 2px;
}
::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-main);
  border-radius: 25px;
}
:hover::-webkit-scrollbar-track-piece {
  border: solid 0.5px var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-border-main);
  border-radius: 25px;
}
:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  border-radius: 25px;
}
::-webkit-resizer {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
