<div class="container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
  <div class="alert">
    <evj-loading-shade [isLoading]="isDataLoading"></evj-loading-shade>

    <div class="button-close" (click)="onClose()"></div>
    <div class="alert__search">
      <evj-input class="insert-component" [options]="inputOptions" [(ngModel)]="searchedWorker"></evj-input>
    </div>
    <div class="alert__table scroll scroll-bar" (scroll)="onScroll($event)">
      <ng-container *ngIf="!workersLdap.length;else ldapUsers">
        <div class="table__message">Выполните поиск пользователя</div>
      </ng-container>
      <ng-template #ldapUsers>
        <div class="table">
          <ng-container *ngFor="let worker of workersLdap">
            <div
              class="table__row"
              [ngClass]="{'table__row_active':workerSelect.isSelected(worker),'table__row_disable': worker.isUserImported}"
              (click)="onSelectWorker(worker)"
            >
              <div class="row__name">{{worker.ldapUser.displayName}}</div>
              <div class="row__login">{{worker.ldapUser.samAccountName}}</div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
    <div class="alert__button">
      <evj-button
        class="insert-component"
        [isSmallButton]="false"
        [textButton]="'Добавить сотрудника'"
        [isChangingState]="false"
        [disabled]="workerSelect.isEmpty()"
        (click)="onClickAdd()"
      ></evj-button>
      <evj-button
        class="insert-component"
        [isSmallButton]="false"
        [textButton]="'Поиск сотрудника'"
        [isChangingState]="false"
        (click)="onClickSearch()"
      ></evj-button>
    </div>
  </div>
</div>
