<div class="container pointer-event">
  <evj-widget-header
    *ngIf="true"
    [title]="aboutWidget.title"
    [units]=""
    [code]=""
    [id]="id"
  ></evj-widget-header>

  <div
    class="frame frame_top"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div class="diagrams scroll-bar">
        <div class="diagrams__item" *ngFor="let item of array; let i = index">
          <evj-one-column
            [item]="item"
            [isDiagram]="true"
            [isMock]="true"
            *ngIf="i < 4"
          ></evj-one-column>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isMock">
    <div class="point-diagram" #widget>
      <div class="title">
        <div class="title__name">Норматив, мг/м^3</div>
        <div class="title__percent">ПДК 100%</div>
      </div>
      <div class="line">
        <div class="circle circle__left circle__left-top"></div>
        <div class="circle circle__right circle__right-top"></div>
      </div>
      <div class="body scroll-bar" #graphs>
        <div class="row">
          <div class="row__items" *ngFor="let item of array">
            <evj-one-column [item]="item" [isDiagram]="false"></evj-one-column>
          </div>
        </div>
        <div class="diagrams scroll-bar">
          <div class="diagrams__item" *ngFor="let item of array">
            <evj-one-column [item]="item" [isDiagram]="true"></evj-one-column>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div
    class="frame frame_bottom"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>
</div>
