<div class="padding-container">
  <div #graphContainer class="scale-container">
    <div [style]="styleTransform" class="abs-container">
      <div class="graph-container">
        <div class="top-container">
          <div class="top-card top-card__left">
            <evj-ozsm-loading-space [percentage]="(this.data$ | async)?.storagePercent || 0"></evj-ozsm-loading-space>
          </div>
          <div class="top-card top-card__right">
            <evj-ozsm-loading-parks [data]="(data$ | async)?.loadingPark"></evj-ozsm-loading-parks>
          </div>
        </div>
        <div class="circle-container circle-container__group-h">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'РП-3'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div style="margin-left: 33px" class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'РП-1'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'РП-4'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
        </div>
        <div class="circle-container circle-container__group-v">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'Деасфальтизация'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'Селективная очистка масел'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'Депарафинизация'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'Производство инертного газа'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
        </div>
        <div class="circle-container circle-container__group-q">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'Производство сульф. присадок'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'УЗЛС и ИТ'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'ТСУ-2'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram
              [data] = "{
                                    'current': 39227,
                                    'max': 39227,
                                    'title': 'ПЛП'
                                }"
            ></evj-ozsm-graph-circle-diagram>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-clear">
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                    'title': 'АССМ',
                                    'maxValue': 50000,
                                    'currentValue': 39227,
                                    'type': 'default'
                                }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                    'title': 'ТГ',
                                    'maxValue': 50000,
                                    'currentValue': 39227,
                                    'type': 'default'
                                }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                    'title': 'Н-152',
                                    'maxValue': 50000,
                                    'currentValue': 39227,
                                    'type': 'default'
                                }"
            ></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-icon">
          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                    'icon' : 'railway',
                                    'title': 'Отгрузка ЖД',
                                    'maxValue': 39227,
                                    'currentValue': 39227,
                                    'type': 'icon'
                                }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                    'icon' : 'automobile',
                                    'title': 'Отгрузка Авто',
                                    'maxValue': 39227,
                                    'currentValue': 39227,
                                    'type': 'icon'
                                }"
            ></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-number">
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 1,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 2,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 3,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 4,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 5,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data] = "{
                                'num': 6,
                                'title': 'Линия',
                                'maxValue': 50000,
                                'currentValue': 39227,
                                'type': 'number'
                            }"
            ></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="diagram-container">
          <div class="diagram-card">
            <evj-ozsm-cirle-diagram-icon
              diagramValue = 360
              deviation = 0
              innerValue = 35658
              titleText = 'Изговоление крышек'
              innerIcon='cap'
            ></evj-ozsm-cirle-diagram-icon>
          </div>
          <div class="diagram-card">
            <evj-ozsm-cirle-diagram-icon
              diagramValue = 0
              deviation = 35658
              innerValue = 35658
              titleText = 'Изготовление канистр'
              innerIcon='canister'
            ></evj-ozsm-cirle-diagram-icon>
          </div>
          <div class="diagram-card">
            <evj-ozsm-cirle-diagram-icon
              diagramValue = 120
              deviation = 23772
              innerValue = 35658
              titleText = 'Производство сжат. воздуха'
              innerIcon='oxygen'
            ></evj-ozsm-cirle-diagram-icon>
          </div>
        </div>
        <div class="arrow-container">
          <svg-icon
            src="assets/icons/widgets/OZSM/ozsm-production-graph/graph-arrows.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>

