<div class="padding-container">
  <div #graphContainer class="scale-container">
    <div [style]="styleTransform" class="abs-container">
      <div class="graph-container">
        <div class="top-container">
          <div class="top-card top-card__left">
            <evj-ozsm-loading-space [percentage]="(this.data$ | async)?.storagePercent || 0"></evj-ozsm-loading-space>
          </div>
          <div class="top-card top-card__right">
            <evj-ozsm-loading-parks [data]="(data$ | async)?.loadingPark"></evj-ozsm-loading-parks>
          </div>
        </div>
        <div class="circle-container circle-container__group-h">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(10) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div style="margin-left: 33px" class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(9) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(11) | async"></evj-ozsm-graph-circle-diagram>
          </div>
        </div>
        <div class="circle-container circle-container__group-v">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(1) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(2) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(3) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(4) | async"></evj-ozsm-graph-circle-diagram>
          </div>
        </div>
        <div class="circle-container circle-container__group-q">
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(5) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle" [style.marginRight.px]="40">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(19) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle">
            <evj-ozsm-graph-circle-diagram [data]="itemData$(6) | async"></evj-ozsm-graph-circle-diagram>
          </div>
          <div class="circle-twins">
            <div class="circle__small">
              <evj-ozsm-graph-circle-diagram [data]="itemData$(7) | async"></evj-ozsm-graph-circle-diagram>
            </div>
            <div class="circle__small">
              <evj-ozsm-graph-circle-diagram [data]="itemData$(8) | async"></evj-ozsm-graph-circle-diagram>
            </div>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-clear">
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram [data]="itemData$(12) | async" type="default"></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram [data]="itemData$(13) | async" type="default"></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__clear">
            <evj-ozsm-card-line-diagram [data]="itemData$(14) | async" type="default"></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-icon">
          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(15) | async"
              type="icon"
              icon="railway"
            ></evj-ozsm-card-line-diagram>
          </div>

          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(16) | async"
              type="icon"
              icon="railway"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(17) | async"
              type="icon"
              icon="automobile"
            ></evj-ozsm-card-line-diagram>
          </div>

          <div class="line-card line-card__icon">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(18) | async"
              type="icon"
              icon="automobile"
            ></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="line-card-container line-card-container__group-number">
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(20) | async"
              index="1"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(21) | async"
              index="2"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(22) | async"
              index="3"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(23) | async"
              index="4"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(24) | async"
              index="5"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
          <div class="line-card line-card__number">
            <evj-ozsm-card-line-diagram
              [data]="itemData$(25) | async"
              index="6"
              type="number"
            ></evj-ozsm-card-line-diagram>
          </div>
        </div>
        <div class="diagram-container">
          <div class="diagram-card">
            <evj-ozsm-cirle-diagram-icon [data]="itemData$(26) | async" innerIcon="cap"></evj-ozsm-cirle-diagram-icon>
          </div>
          <div class="diagram-card">
            <evj-ozsm-cirle-diagram-icon
              [data]="itemData$(27) | async"
              innerIcon="canister"
            ></evj-ozsm-cirle-diagram-icon>
          </div>
        </div>
        <div class="arrow-container">
          <svg-icon src="assets/icons/widgets/OZSM/ozsm-production-graph/graph-arrows.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>
