.poser {
  position: absolute;
  margin-left: 8px;
  margin-right: 10px;
  width: calc(100% - 20px);
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.back {
  position: relative;
  background: var(--color-bg-main-dark);
  border-radius: 20px;
  border: 1px solid var(--color-border-light);
  height: 100%;
  width: 100%;
  box-shadow: 0 0 100px rgba(0, 0, 0, 40);
}

.block-top {
  background-color: #20222d;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 0;
  justify-content: center;
  height: calc(25% - 10px);
}

.block-middle {
  border-radius: 10px;
  height: calc(10%);
  justify-content: center;
}

.block-bottom {
  background-color: #20222d;
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-top: 0;
  height: calc(65% - 20px);
}

.fio-text {
  width: 40%;
  height: 100%;
  bottom: 50%;
  text-align: left;
  margin: auto;
}

.type-text {
  width: 40%;
  height: 100%;
  bottom: 50%;
  margin: auto;
  justify-content: flex-end;
}

.loader {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-img {
  width: 150px;
  height: 160px;
  margin-left: 50px;
  margin-top: 40px;
}

.text {
  width: 40%;
  height: 100%;
  bottom: 50%;
  text-align: center;
  margin: auto;
  color: var(--color-border-light) !important;
}

.exit {
  position: absolute;
  background: var(--color-bg-main-dark);
  width: 50px;
  height: 50px;
  bottom: 0;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  border-radius: 50%;
  border: 1px solid var(--color-border-light);

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--color-border-light);
    cursor: pointer;
  }
}
.exit-img {
  width: 30%;
  height: 30%;
}

.text-formatter {
  color: white;
  display: flex;
  align-items: center;
  font-size: 13px;
}
