:host {
  width: inherit;
  height: inherit;
}

.events-correct {
  position: relative;

  width: inherit;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header,
  &__footer {
    position: relative;
    width: 100%;
    height: 30px;
  }

  &__header {
    color: var(--color-text-sub);
    font-size: 10px;
  }

  &__body {
    width: 100%;
    height: calc(100% - 60px);

    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__footer {
  }

  .cards-list {
    width: 100%;
    height: max-content;
    min-height: 100px;
  }

  .card {
    width: 100%;
    height: 120px;
  }

  .button {
    &__add {
      position: absolute;
      z-index: 2;

      width: 30px;
      height: 30px;

      top: 0px;
      right: 10px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 2;

        width: 16px;
        height: 2px;

        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;

        transition: 0.2s;

        background: var(--color-text-sub);
      }

      &::after {
        width: 2px;
        height: 16px;
      }

      &:hover {
        cursor: pointer;

        &::before,
        &::after {
          background: var(--color-text-main);
        }
      }

      &_bottom {
        left: 10px;
        right: auto;
      }
    }
  }

  .date {
    position: absolute;
    z-index: 2;

    width: max-content;
    height: 100%;

    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    &__title {
      font-size: 10px;
      line-height: 100%;
      color: var(--color-text-sub);
    }

    &__info {
      font-size: 12px;
      color: var(--color-text-main);
    }
  }
}

// .events-correct {
//   height: calc(100% - 200px);
//   display: flex;
//   min-height: 200px;

//   .events-correct-block {
//     padding-right: 10px;
//     width: calc(100% - 10px);

//     .event_info {
//       padding-left: 5px;
//       display: flex;
//       justify-content: space-between;
//       .event_info_title {
//         color: var(--color-text-sub);
//         font-size: 11px;
//         line-height: 40px;
//         margin-left: 10px;
//       }
//       .event_info_date {
//         line-height: 15px;
//         .event_info_date_title {
//           margin-top: 5px;
//           color: var(--color-text-sub);
//           font-size: 11px;
//           text-align: end;
//         }
//         .event_info_date_body {
//           color: white;
//           font-size: 14px;
//         }
//       }
//     }

//     .events {
//       //  max-height: 490px;
//       height: calc(100% - 90px);
//       overflow: auto;
//       direction: rtl;
//       padding-left: 5px;
//       .events_content {
//         margin-top: 10px;
//         direction: ltr;
//         .events_container {
//           max-height: 100px;
//           overflow: auto;
//           display: flex;
//           background: var(--color-bg-card);
//           border-top-right-radius: 10px;
//           border-top-left-radius: 10px;

//           .events_info {
//             cursor: pointer;
//             width: 70%;
//             margin-left: 10px;

//             .events_info_title {
//               display: flex;
//               font-size: 11px;
//               color: var(--color-text-sub);
//             }

//             .events_info_body {
//               word-wrap: break-word;
//               color: white;
//               font-size: 11px;
//             }
//           }

//           .events_status {
//             margin-top: 5px;
//             margin-left: -20px;
//             width: 30%;
//             text-align: end;
//             font-size: 10px;
//             line-height: 15px;

//             .events_status-danger {
//               color: var(--color-danger);
//             }

//             .events_status-standard {
//               color: var(--color-standard);
//             }

//             .events_status-warning {
//               color: var(--color-warning);
//             }

//             .events_status_datetime {
//               .datetime_title {
//                 font-size: 10px;
//                 color: var(--color-text-sub);
//               }
//               .datetime_body {
//                 font-size: 10px;
//                 color: white;
//               }
//             }

//             .events_status_responsible {
//               .responsible_title {
//                 font-size: 10px;
//                 color: var(--color-text-sub);
//               }
//               .responsible_body {
//                 font-size: 10px;
//                 color: white;
//               }
//             }
//           }
//         }

//         .events_menu {
//           justify-content: space-between;
//           display: flex;
//           height: 20px;
//           background: var(--color-bg-card);
//           border-bottom-left-radius: 10px;
//           border-bottom-right-radius: 10px;
//           position: relative;
//           .events_check {
//             margin-left: 10px;
//             svg-icon {
//               fill: var(--color-border-active);
//             }
//           }

//           .events_button {
//             right: 0;
//             position: absolute;
//             margin-right: 10px;
//             display: flex;
//             .events_button_delete {
//               cursor: pointer;
//             }
//             .events_button_update {
//               cursor: pointer;
//             }
//             svg-icon {
//               ::ng-deep .st0 {
//                 fill: var(--color-text-sub);
//               }
//               ::ng-deep .st1 {
//                 fill: var(--color-text-sub);
//               }
//             }

//             .delete_button_icon:hover {
//               cursor: pointer;
//               ::ng-deep .st0 {
//                 fill: var(--color-border-active);
//               }
//             }
//             .edit_button_icon:hover {
//               cursor: pointer;
//               ::ng-deep .st1 {
//                 fill: var(--color-border-active);
//               }
//             }
//           }
//         }

//         .progress-line-danger {
//           max-width: 98%;
//           margin-left: 5px;
//           height: 3px;
//           border-radius: 5px;
//           background: var(--color-danger);
//         }

//         .progress-line-standard {
//           max-width: 98%;
//           margin-left: 5px;
//           height: 3px;
//           border-radius: 5px;
//           background: var(--color-standard);
//         }

//         .progress-line-warning {
//           max-width: 98%;
//           margin-left: 5px;
//           height: 3px;
//           border-radius: 5px;
//           background: var(--color-warning);
//         }
//       }

//       .events_closed {
//         opacity: 0.4;
//       }
//     }

//     .events_bottom_info {
//       display: flex;

//       .add_events {
//         width: 60%;
//         line-height: 60px;

//         svg-icon {
//           cursor: pointer;
//           margin-left: 40px;
//         }

//         &:hover .add_button_icon {
//           ::ng-deep .cls-1 {
//             fill: white;
//           }
//         }
//       }

//       .end_events {
//         line-height: 15px;
//         width: 40%;

//         .end_events_title {
//           font-size: 11px;
//           text-align: end;
//         }

//         .end_events_body {
//           font-size: 14px;
//           text-align: end;
//           color: white;
//         }
//       }
//     }
//   }

//   .events-correct-progress {
//     width: 10px;
//     .line_progress {
//       height: 100%;
//       margin: 0 auto;
//       position: relative;
//       width: 4px;
//       background: rgba(63, 169, 245, 0.5);

//       .top_frame_line {
//         border-radius: 4px;
//         position: absolute;
//         height: 50px;
//         width: 4px;
//         background-color: white;
//         top: 0;
//       }

//       .middle_line {
//         height: 100%;
//         position: relative;
//         .progress {
//           position: absolute;
//           // height: 40px;
//           top: 52px;
//           width: 100%;
//           border-radius: 20px;
//           background-color: var(--color-border-active);
//         }
//       }

//       .bottom_frame_line {
//         border-radius: 4px;
//         position: absolute;
//         height: 50px;
//         width: 4px;
//         background-color: white;
//         bottom: 0;
//       }
//     }
//   }
// }
