<div class="container">
  <div class="left-wrapper">
    <div class="top">
      <evj-astue-onpz-factory-analysis-chart></evj-astue-onpz-factory-analysis-chart>
    </div>
    <div class="bottom">
      <evj-smart-scroll></evj-smart-scroll>
    </div>
  </div>
  <div class="right-wrapper">
    <evj-astue-onpz-factor-analysis-chart-info type="fact"></evj-astue-onpz-factor-analysis-chart-info>
    <evj-astue-onpz-factor-analysis-chart-info type="plan"></evj-astue-onpz-factor-analysis-chart-info>
    <evj-astue-onpz-factor-analysis-chart-info type="interval"></evj-astue-onpz-factor-analysis-chart-info>
  </div>
</div>
