<div class="menu">
    <div class="menu__header">
        <div class="menu__header__name">Название</div>
        <div class="menu__header__name">Последнее изменение</div>
    </div>
    <div class="menu__body" cdkDropList (cdkDropListDropped)="drop($event)">
        <evj-admin-report-server-configurator-file *ngFor="let item of arscService.data?.folders | searching: search"
            cdkDrag [item]="item"></evj-admin-report-server-configurator-file>
        <evj-admin-report-server-configurator-file *ngFor="let item of arscService.reports | searching: search" cdkDrag>
        </evj-admin-report-server-configurator-file>
        <evj-admin-report-server-configurator-file *ngFor="let item of childrens | searching: search" cdkDrag
            [childrens]="item"></evj-admin-report-server-configurator-file>
        <evj-admin-report-server-configurator-file *ngFor="let item of templates | searching: search" cdkDrag
            [templates]="item"></evj-admin-report-server-configurator-file>
    </div>
</div>