<div class="changes">
    <div class="changes__half">
        <div class="changes__description">
            <div class="label">Описание</div>
            <div class="description">
                <div class="description__content">
                    <div class="description__content_text">
                        <textarea required class="gridster-item-content" minlength="3" #textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="changes__half">
        <div class="element">
            <div class="label">Использовать отрицательное смещение</div>
            <evj-dropdown></evj-dropdown>
        </div>
        <div class="element">
            <div class="label">Формат отчёта</div>
            <evj-dropdown></evj-dropdown>
        </div>
        <div class="element">
            <div class="label">Редактирование макросов</div>
            <evj-dropdown></evj-dropdown>
        </div>
    </div>
</div>