<div class="admin">
  <evj-loading-shade [isLoading]="isDataLoading"></evj-loading-shade>

  <div class="admin__header">
    <div class="header__search">
      <div class="search">
        <evj-input class="insert-component" [options]="inputOptions" [(ngModel)]="searchingFieldName"></evj-input>
      </div>
    </div>
    <div class="header__title">
      <div class="line"></div>
      <div class="title">Информация о сотруднике</div>
      <div class="line"></div>
    </div>
    <div class="header__buttons">
      <evj-button
        class="button"
        textButton="Сохранить"
        [disabled]="!isDataChanged"
        (click)="onClickButton(true)"
      ></evj-button>
      <evj-button class="button" textButton="Вернуться" (click)="onClickButton(false)"></evj-button>
    </div>
  </div>
  <div class="admin__worker">
    <div class="worker__column worker__info">
      <evj-aws-fields
        [worker]="worker"
        [searchingFieldName]="searchingFieldName"
        [isCreateNewUser]="isCreateNewUser"
        [isImportNewWorker]="isImportNewWorker"
        (workerData)="onChangeWorkerData()"
        (password)="onChangePassword($event)"
      ></evj-aws-fields>
      <div class="claims">
        <div class="title">Права доступа</div>
        <div class="card" [ngClass]="{'card-active':isClaimsShowing}" (click)="isClaimsShowing=true">Права</div>
        <div class="card" [ngClass]="{'card-active':!isClaimsShowing}" (click)="isClaimsShowing=false">
          Доступные рабочие области
        </div>
      </div>
      <div class="block" *ngIf="!isCreateNewUser">
        <evj-aws-block
          [isLockedUser]="false"
          (changeLockUser)="onChangeLockWorker()"
          (removeUser)="onRemoveWorker()"
        ></evj-aws-block>
      </div>
    </div>
    <div class="worker__column worker__main">
      <div class="avatar">
        <div class="frame" (mouseenter)="isAvatarButtonShowing=true" (mouseleave)="isAvatarButtonShowing=false">
          <img [src]="returnPhotoPath()" class="photo" />
          <div
            class="photo__add"
            [ngClass]="{'photo__add_active':isAvatarButtonShowing}"
            (click)="isPopUpShowing=true"
          ></div>
        </div>
      </div>
    </div>
    <evj-aws-workspaces
      class="worker__column worker__workspaces scroll-bar"
      *ngIf="!isClaimsShowing"
      [workerScreens]="workerScreens"
      [workerSpecialClaims]="workerSpecialClaims"
      (changeWorkspaces)="onChangeWorkspacesData()"
    ></evj-aws-workspaces>
    <div class="worker__column worker__claims" *ngIf="isClaimsShowing">
      <div class="title">Общие права</div>
      <div class="cards">
        <evj-aws-claim-card
          *ngFor="let claim of allGeneralClaims"
          [name]="claim.description"
          [isActive]="checkForActiveClaim(claim.claimType)"
          [isChangingCardState]="true"
          (click)="onSelectGeneralClaim(claim)"
        ></evj-aws-claim-card>
      </div>
      <div class="title title__special">Специальные права</div>
      <div class="create-special-claim" (click)="createSpecialClaim()"></div>
      <div class="list">
        <ng-container *ngFor="let claim of allSpecialClaims">
          <div
            class="list__claim"
            [ngClass]="{'list__claim_active':claimsSelector.isSelected(claim)}"
            *ngIf="canShowSpecialClaim(claim)"
          >
            <div class="claim__title" (click)="onSelectSpecialClaim(claim)">
              {{claim.claimName}}
              <div class="claim__button claim__button-toggle"></div>
            </div>
            <div class="claim__items" *ngIf="claim?.claimName">
              <ng-container *ngFor="let item of getSelectedSpecialClaims(claim)">
                <div class="claim__item">
                  {{ item.description }}
                  <div class="claim__button claim__button-delete" (click)="onRemoveSpecialClaim(item)">
                    <img alt="" src="assets/icons/widgets/admin/admin-groups/delete-icon.svg" />
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <evj-aws-avatar
    class="admin__popup"
    [ngClass]="{'admin__popup_active':isPopUpShowing}"
    *ngIf="isPopUpShowing"
    (closePopUp)="onClosePopUp($event)"
  ></evj-aws-avatar>
  <evj-alert-password [options]="passwordOptions"></evj-alert-password>
  <evj-aws-create-claim
    class="admin__popup"
    [workerSpecialClaims]="workerSpecialClaims"
    [ngClass]="{'admin__popup_active':isCreateClaim}"
    *ngIf="isCreateClaim"
    (createdClaim)="onCreateSpecialClaim($event)"
  ></evj-aws-create-claim>

  <evj-alert-window [info]="alert"></evj-alert-window>
</div>
