<div class="container">
  <evj-widget-header [title]="widgetTitle" [units]="widgetUnits" [code]="widgetCode" [id]="id" [uniqId]="uniqId"
                     [widgetType]="widgetType" [icon]="widgetIcon">
  </evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="flex-box">
      <div class="content__line">
        <evj-reasons-deviations-line-chart [transfer]="selectedTransfer"></evj-reasons-deviations-line-chart>
      </div>
      <div class="content__info">
        <evj-reasons-deviations-info-content [data]="data"></evj-reasons-deviations-info-content>
      </div>
      <div class="content__tank">
        <evj-reasons-deviations-info-tank [data]="data"
                                          [transfer]="selectedTransfer"></evj-reasons-deviations-info-tank>
      </div>
    </div>
  </div>
  <evj-frame-bottom></evj-frame-bottom>
</div>
