<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div
      class="content"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div #myCircle class="item-b">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="100%"
          height="100%"
          viewBox="0 0 410 200"
          #svgContainerObservation
        >
          <defs>
            <radialGradient id="a" cx="88.83" cy="92.02" r="73" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#9ed7f5" />
              <stop offset="0.1" stop-color="#9ed7f5" stop-opacity="0.97" />
              <stop offset="0.26" stop-color="#9ed7f5" stop-opacity="0.89" />
              <stop offset="0.45" stop-color="#9ed7f5" stop-opacity="0.75" />
              <stop offset="0.66" stop-color="#9ed7f5" stop-opacity="0.57" />
              <stop offset="0.89" stop-color="#9ed7f5" stop-opacity="0.33" />
              <stop offset="1" stop-color="#9ed7f5" stop-opacity="0.2" />
            </radialGradient>
          </defs>

          <g>
            <circle
              #activeCircle
              class="progress-ring__circle"
              stroke="rgba(255, 255, 255, 0.5)"
              stroke-width="21"
              fill="transparent"
              r="60"
              cx="88.83"
              cy="92.02"
            />
          </g>

          <circle cx="89.27" cy="92.28" r="70.37" style="opacity:0.8;fill:url(#a)" />
          <g #warningPolygon></g>

          <circle
            #activeLine
            class="progress-ring__end__line"
            style="stroke-Dasharray: 380.3, 376;
                    stroke-Dashoffset: 379;"
            fill="transparent"
            stroke-width="21.5"
            r="60"
            cx="88.83"
            cy="92.02"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="89.27"
            y2="162.65"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="103"
            y2="161.3"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="116.2"
            y2="157.3"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="128.37"
            y2="150.79"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="139.03"
            y2="142.04"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="147.78"
            y2="131.38"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="154.29"
            y2="119.21"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="158.29"
            y2="106.01"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="159.64"
            y2="92.28"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="158.29"
            y2="78.56"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="154.29"
            y2="65.36"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="147.78"
            y2="53.19"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="139.03"
            y2="42.53"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="128.37"
            y2="33.77"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="116.2"
            y2="27.27"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="103"
            y2="23.27"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="89.27"
            y2="21.91"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="75.54"
            y2="23.27"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="62.34"
            y2="27.27"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="50.18"
            y2="33.77"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="39.51"
            y2="42.53"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="30.76"
            y2="53.19"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="24.26"
            y2="65.36"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="20.25"
            y2="78.56"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="18.9"
            y2="92.28"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <polyline
            points="20.25 106.01 40.22 102.04 89.27 92.28"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="24.26"
            y2="119.21"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="30.76"
            y2="131.38"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="39.51"
            y2="142.04"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="50.18"
            y2="150.79"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="62.34"
            y2="157.3"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <line
            x1="89.27"
            y1="92.28"
            x2="75.54"
            y2="161.3"
            style="fill:none;stroke:#1b1e27;stroke-miterlimit:10;stroke-width:0.160621000814253px"
          />
          <path
            d="M89.52,0a89.52,89.52,0,1,0,41.27,169s-1.92-.71-2.66-1a87.54,87.54,0,1,1,28.45-22.36l.43,2.68a89.48,89.48,0,0,0,20-77.92s3-3.81,5.59-7.12A97,97,0,0,0,138.77,6L129.7,9.57A88.84,88.84,0,0,0,89.52,0Z"
            style="fill:#5e6581;opacity:0.2"
          />
          <circle cx="89.27" cy="92.28" r="51.72" style="fill:#1b1e27" />
          <image
            width="1000"
            height="1000"
            transform="translate(51.83 52.62) scale(0.08)"
            xlink:href="assets\pic\Icons3D\12.png"
          />
          <text
            id="maxValue"
            transform="translate(83 17.18)"
            style="font-size:7.830049991607666px;fill:#9ed7f5;font-family:Tahoma, Tahoma"
          >
            0
          </text>
          <text
            id="minValue"
            transform="translate(85.12 51.08)"
            style="font-size:7.830049991607666px;fill:#9ed7f5;font-family:Tahoma, Tahoma"
          >
            0
          </text>
          <line
            x1="89.41"
            y1="22.24"
            x2="89.41"
            y2="40.41"
            style="fill:none;stroke:#9ed7f5;stroke-miterlimit:10;stroke-width:0.628939304601437px"
          />
          <circle
            cx="89.41"
            cy="40.41"
            r="1.24"
            style="fill:#1b1e27;stroke:#9ed7f5;stroke-miterlimit:10;stroke-width:0.64248400325701px"
          />
          <circle
            cx="89.41"
            cy="22"
            r="1.24"
            style="fill:#1b1e27;stroke:#9ed7f5;stroke-miterlimit:10;stroke-width:0.64248400325701px"
          />
          <g #lineAndCircle></g>
          <g #lastCircle style="display: none;">
            <image
              width="20"
              height="21"
              xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAYAAAAvg9c4AAAACXBIWXMAAAsSAAALEgHS3X78AAABOElEQVQ4T72U7U7DMAxFj1u0CSYNJnj/V+RDZNPC2vAj1yTtMpBgJZKVtHZPrx0nllLi2uPmO6eZWet9+kGJtfyCzQ0g1XYJfgYVsJP1sk7uERhkIzC2wJP0K2APrCrzuBMQK8PMzsBf0BlwDdwBG81rhR2BPRDIJTnq2wm4VurQlUA74AG41zMCvgIvek5ksNcZELTaGE97I+AjGb5RfKAIicAHuSSjmZmrnSv11B26A56ArWLeNA/kHxzISk8Vp5m+q70lw7cUKGRQUIx3xqSfOxYYtdJE6cNIUeQpo7WnHSn92m4pOQZyjQJ5h3v5DpoD8CxfUOxAC5pSSmbm0EiBQt6EoHXdUoGiNl3qU08/UgofgXfazb+X/yz9ydn/xTEdaJz/RS6U/7n6Js5rXtJ/HYucqEWgn3w7sm4oJ3JbAAAAAElFTkSuQmCC"
              style="opacity:0.75;mix-blend-mode:multiply"
            />
            <circle
              cx="9.97"
              cy="10.09"
              r="3.39"
              style="fill:none;stroke:#a2e2ff;stroke-miterlimit:10;stroke-width:0.64248400325701px"
            />
            <circle cx="9.97" cy="10.09" r="1.69" style="fill:#fff" />
          </g>
          <g #warningCircle>
            <!-- <circle cx="4.28" cy="4.94" r="1.69" style="fill:#f4a321" />
                        <polygon points="4.28 0.41 6.24 3.81 8.21 7.21 4.28 7.21 0.35 7.21 2.31 3.81 4.28 0.41"
                            class="circle-warning" /> -->
          </g>

          <text
            transform="translate(358.11 102.05)"
            style="font-size:20px;fill:#fff;font-family:Tahoma"
          >
            {{ factArray }}
          </text>
          <text
            transform="translate(358.11 47.22)"
            style="font-size:20px;fill:#9ed7f5;font-family:Tahoma"
          >
            {{ maxArray }}
          </text>
          <text
            transform="translate(358.11 165.73)"
            style="font-size:20px;fill:#f4a321;font-family:Tahoma"
          >
            {{ minArray }}
          </text>
          <path
            d="M89.52,0a89.52,89.52,0,1,0,41.27,169s-1.92-.71-2.66-1a87.54,87.54,0,1,1,28.45-22.36l.43,2.68a89.48,89.48,0,0,0,20-77.92s3-3.81,5.59-7.12A97,97,0,0,0,138.77,6L129.7,9.57A88.84,88.84,0,0,0,89.52,0Z"
            style="fill:#5e6581;opacity:0.2"
          />
          <text
            transform="translate(220.28 61.58)"
            style="font-size:14px;fill:#616580;font-family:Tahoma"
          >
            Максимальное
            <tspan x="-2.7" y="20">и минимальное</tspan>
            <tspan x="-12.68" y="40">зафиксированное</tspan>
            <tspan x="14.34" y="60">значение:</tspan>
          </text>
          <text
            transform="translate(358.11 79.68) scale(0.99 1)"
            style="font-size:16px;fill:#fff;font-family:Tahoma"
          >
            Факт
          </text>
          <text
            transform="translate(358.11 23.25) scale(0.99 1)"
            style="font-size:16px;fill:#9ed7f5;font-family:Tahoma"
          >
            Макс
          </text>
          <text
            transform="translate(358.11 140.39) scale(0.99 1)"
            style="font-size:16px;fill:#9ed7f5;font-family:Tahoma"
          >
            Мин.
          </text>
        </svg>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
