.container {
  position: relative;
  width: 100%;
  // height: 100%;
  // min-width: 970px;
  height: 100%;
  box-sizing: border-box;
  // padding: 5px;
  margin-bottom: 20px;
  //padding-right: 7px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 24px;
  // height: 100%;
}

.mock {
  display: block;
  height: 140px;
  width: 100%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  margin: 0 auto;
}

.content {
  position: relative;
  // overflow-x: hidden;
  // overflow-y: scroll;
  height: calc(100% - 56px);
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
}

.circle-warning {
  fill: none;
  stroke: #f4a321;
  stroke-miterlimit: 10;
  stroke-width: 0.406110529780143px;
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  stroke: rgba(255, 255, 255, 0.5);
  transform: rotate(-90deg);
  transform-origin: 89px 92px;
}

.progress-ring__end__line {
  transition: 0.35s stroke-dashoffset;
  // axis compensation
  stroke: rgba(255, 255, 255);
  transform-origin: 89px 92px;
}
