<div class="container" #container>
  <div
    class="gauge"
    #chart
    [ngStyle]="{
      'height': size + 'px',
      'width': size + 'px'
    }"
  >
    <evj-kpe-gauge-chart-multi-color
      class="gauge__chart"
      [type]="1"
      [showAxisValues]="false"
      [isPerformance]="true"
      [data]="data"
    ></evj-kpe-gauge-chart-multi-color>
    <span class="main-text">{{ data?.name }}</span>

    <span class="axis__value axis__value_1">{{ getExtremumValue('min') }}</span>
    <span class="axis__value axis__value_2">{{ getExtremumValue('max') }}</span>
  </div>
</div>
