* {
  box-sizing: border-box;
}

:host {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background: var(--bg-body-color);

  .gauge {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--bg-body-color);
    border-radius: 50%;

    position: relative;

    &__chart {
      width: 90%;
      position: absolute;

      ::ng-deep {
        .total {
          font-size: 10px;
          line-height: 13px;
        }

        .deviation{
          font-size: 6px;
          line-height: 9px;
        }
      }
    }

    .main-text {
      width: 48%;
      height: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      font-size: 13px;
      line-height: 16px;

      color: var(--text-contrast-color);

      position: absolute;
      bottom: 30px;
    }

    .axis__value {
      font-size: 13px;
      line-height: 16px;

      color: #606580;
      position: absolute;

      &_1 {
        top: 30px;
        left: 16px;
      }

      &_2 {
        top: 30px;
        right: 16px;
      }
    }
  }
}
