<div class="login-form" [class.swing]="swing" (ngSubmit)="onSubmit()">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <div style="position: relative; margin-bottom: 21px;">
    <h1 style="margin-bottom: 35px;">Сброс пароля</h1>
    <img class="avatar" [src]="photoPath" />
    <div>
      <p class="form-username">{{ user.firstName }} {{ user.lastName }} {{ user.middleName }}</p>
      <br />
      <span>{{ user.positionDescription }}</span>
    </div>
    <svg-icon
      (click)="closeOverlay()"
      class="icon_bad"
      style="fill: #5b607d"
      src="./assets/icons/close_bad.svg"
      [svgStyle]="{ 'width.px':20, 'height.px':20 }"
    ></svg-icon>
  </div>
  <form [formGroup]="myForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Старый пароль"
        [type]="hideOldPassword ? 'password' : 'text'"
        formControlName="oldPassword"
        (keyup.enter)="onSubmit()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideOldPassword = !hideOldPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideOldPassword"
      >
        <svg-icon
          *ngIf="hideOldPassword"
          src="./assets/icons/login/visibility_off.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
        <svg-icon
          *ngIf="!hideOldPassword"
          src="./assets/icons/login/visibility.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'oldPassword')">
        Пожалуйста введите старый пароль
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Новый пароль"
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        (keyup.enter)="onSubmit()"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <svg-icon
          *ngIf="hidePassword"
          src="./assets/icons/login/visibility_off.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
        <svg-icon
          *ngIf="!hidePassword"
          src="./assets/icons/login/visibility.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('required', 'password')">
        Пожалуйста введите новый пароль
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Повтор пароль"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        formControlName="confirmPassword"
        (keyup.enter)="onSubmit()"
        [errorStateMatcher]="matcher"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideconfirmPassword"
      >
        <svg-icon
          *ngIf="hideConfirmPassword"
          src="./assets/icons/login/visibility_off.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
        <svg-icon
          *ngIf="!hideConfirmPassword"
          src="./assets/icons/login/visibility.svg"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </button>
      <mat-error *ngIf="myForm.hasError('notSame')">
        Пароли не совпадает
      </mat-error>
    </mat-form-field>
  </form>

  <!-- <input type="submit" name="Login" value="Войти" class="login-submit" (click)="onSubmit()" /> -->
  <div class="login__submit" [style.opacity]="myForm.valid ? '1' : '0.4'">
    <div class="submit__frame submit__frame-left"></div>
    <div class="submit__frame submit__frame-right"></div>
    <button
      type="submit gridster-item-content"
      value="Войти"
      class="login-submit"
      (click)="myForm.valid ? onSubmit() : null"
    >
      <mat-spinner
        *ngIf="isLoadingData"
        diameter="20"
        style="position: relative;
            margin-left: -10px;
            left: 50%;"
      ></mat-spinner>
      <span *ngIf="!isLoadingData">Сбросить</span>
    </button>
  </div>
</div>
