* {
  box-sizing: border-box;
}

.table-content_wrapper {
  position: relative;
}

.table-container {
  height: 100%;
  width: 100%;

  overflow: overlay;

  table {
    width: 100%;

    td, th {
      min-width: 130px;
      padding: 5px 10px;

      border-right: 1px solid;
      border-color: var(--color-kpe-quality-table-border-sub);

      font-size: 13px;
      line-height: 16px;
      text-align: center;

      &:first-child {
        min-width: 240px;
        max-width: 240px;
        text-align: left;
      }
    }

    th {
      color: var(--color-kpe-quality-table-font-title);

      span {
        color: var(--color-kpe-quality-table-font-unit);
      }
    }

    td {
      color: var(--color-kpe-quality-table-font-main);
    }

    .warning {
      background: var(--color-kpe-quality-table-bg-main-warning);
    }

    .warning-cell {
      background: var(--index-error-color);
    }

    .danger-cell {
      background: var(--index-critical-color);
    }

    &.table-item {
      margin-bottom: 32px;
    }

    &::ng-deep thead {
      height: 54px;

      background: var(--color-kpe-quality-table-bg-main);
    }
  }
}

.shadow {
  height: 30px;
  width: 100%;

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 10%, rgba(0, 0, 0, 0) 100%);

  position: absolute;
  top: 51px;
  right: 0;
}
