<div class="input-container" [ngClass]="{'input-container_icon':!!options.icon}">
  <div
    class="placeholder"
    [ngClass]="{'placeholder_focus':isInput}"
    *ngIf="options.isMovingPlaceholder"
  >
    {{options.placeholder}}
  </div>
  <input
    class="input"
    [type]="options.type"
    [placeholder]="options.placeholder"
    (focus)="isInput=true"
    (input)="onInput($event.target.value)"
    (blur)="onBlur($event.target.value)"
    #input
  />
  <svg-icon
    class="icon"
    [ngClass]="{'icon_clickable':options.icon.isClickable}"
    [src]="options.icon.src"
    [svgStyle]="options.icon.svgStyle"
    (click)="onClickIcon()"
    *ngIf="!!options.icon"
  ></svg-icon>
</div>
