.container {
  display: flex;
  height: 100%;
  flex-flow: column;
  background: var(--color-bg-main);

  .header {
    display: flex;
    gap: 19px;
    width: 100%;
    height: 40px;
    background: var(--color-sou-bg-header);
    border-radius: 2px 2px 0 0;
    padding: 0 18px 0 16px;
    box-sizing: border-box;

    & > * {
      margin: auto 0;
    }

    &__icon {
      width: 19px;
      height: 19px;
    }

    &__button-close {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }

    &__label {
      font-size: 12px;
      color: var(--color-kpe-text-main);
    }
  }

  .table-content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    width: 100%;
    background: var(--color-sou-bg);
    border: 1px var(--color-sou-border);
    border-style: none solid solid solid;
    box-sizing: border-box;

    .scroll-container {
      display: flex;
      flex-flow: column;
      gap: 16px;
      height: 100%;
      padding: 0 13px 0 18px;
      margin: 20px 5px 20px 0;
      box-sizing: border-box;
      overflow-y: auto;
    }
  }
}

.card {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-height: 120px;
  min-height: 120px;
  background: #272a38;
  border-radius: 2px;
  padding: 12px;
  box-sizing: border-box;
  font-size: 12px;

  &_header {
    width: 100%;
    height: 15px;
  }

  &_content {
    display: flex;
    gap: 11px;
    flex-grow: 1;
    width: 100%;

    & > * {
      margin: auto 0;
    }

    &__icon {
      height: 18px;
      width: 18px;
    }

    &__textarea {
      flex-grow: 1;
    }
  }

  &_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15px;
  }

  .text {
    color: var(--color-text-main);

    &_status {
      color: var(--color-aps-active);
    }

    &_date {
      color: var(--color-aps-bg-icon);
    }
  }
}
