*{
  box-sizing: border-box;
}

%warning {
  fill: rgba(244, 163, 33, 0.2);
  stroke: #f4a321;
}


%danger {
  fill: #f9031b;
  stroke: #f9031b;
  fill-opacity: 0.22;
}

.reservoir-container {
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;

  font-size: 10px;
  line-height: 12px;

  position: absolute;
  right: 27px;
  top: 29px;

  transform: translate(44px, -10px);
  z-index: 90;
}

.bottom,
.mid,
.top {
    width: 13px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__inner {
        &_fact {
            width: 9px;
            background: var(--color-smp-free);

            position: absolute;
            bottom: 0;
        }
        &_plan {
            width: 9px;
            background: var(--color-smp-rest);
            
            position: absolute;
            bottom: 0;
        }    
    }
}

.top {
    height: 6px;
    padding-bottom: 0;
    border: 1px solid var(--color-smp-checkbox);
    border-bottom: none;

    transform: skewX(45deg) translate(-3px, 0px);

}

.bottom {
    height: 6px;
    padding-top: 0;
    border: 1px solid var(--color-smp-checkbox);
    border-top: none;

    transform: skewX(-45deg) translate(-3px, 0px);
}

.mid {
    height: 30px;
    padding: 0 2px;
    border-left: 1px solid var(--color-smp-checkbox);
    border-right: 1px solid var(--color-smp-checkbox);

    position: relative;

    &-line {
      height: 1px;
      width: 9px;
    
      border-top: 1px dashed var(--color-smp-white);
      position: absolute;
      
      &__bottom {
          bottom: 0px;
      }
    
      &__top {
          top: 0px;
      }
    }
}

.cb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
  margin-top: 3px;
}

.item-b ::ng-deep svg {
  height: 100%;
  width: 100%;
  position: absolute;
}

.item-b {
  background: var(--color-bg-main);
  height: 70px;
  margin-left: 35px;
  width: 182px;
  margin-top: 3px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.point_right {
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: 37px;
  border-radius: 15px;
  margin-left: 231px;
  background: var(--color-bg-main);
  border: 1px solid var(--color-border-main);
  z-index: 999;
}

.point_left {
  position: absolute;
  width: 4px;
  height: 4px;
  margin-top: 36px;
  border-radius: 6px;
  margin-left: 35px;
  background: var(--color-bg-main);
  z-index: 999;
  border: 1px solid var(--color-border-main);
}

.left-top-button {
  position: absolute;
  left: 40px;
  top: 19px;
  z-index: 20;
}

.left-button {
  position: absolute;
  left: 63px;
  top: 19px;
  z-index: 20;
}

.left-bottom-button {
  position: absolute;
  left: 40px;
  top: 41px;
  z-index: 20;
}

.right-top-button {
  position: absolute;
  right: 4px;
  top: 19px;
  z-index: 20;
}

.right-button {
  position: absolute;
  right: 27px;
  top: 19px;
  z-index: 20;
}

.right-bottom-button {
  position: absolute;
  right: 4px;
  top: 41px;
  z-index: 20;
}

.danger {
  ::ng-deep {
    .b195262e-0f36-4bd7-8b5d-a0004436b690,
    .e5bde44f-423f-4ebd-9e40-b8254243c480,
    .e265c3d5-5f8f-4caa-95ee-ecedde9f1cbf,
    .eace7803-5e18-410e-8515-7508218748cb,
    .a0f3c4b4-caba-4fe1-9614-0f32a4fa6d04,
    .b44481aa-ef74-4e7a-a657-ebc023d3b0d1,
    .a9ebed67-6d54-48c0-947f-27e74119477e,
    .abf06d33-10b4-4b45-83a9-ef44c5fa8fc7,
    .b5395a1a-5078-4461-97ee-2d7ecdb09673,
    .e72d58eb-7242-4b8d-a086-92e84ec30fcf,
    .ea6ef7ac-d2fe-402d-8a7f-c372a4ba690c,
    .befd9104-8ba5-4d66-b64c-dc2c6e40ac27 {
      @extend %danger;
    }
  }
}

.warning {
  ::ng-deep {
    .b195262e-0f36-4bd7-8b5d-a0004436b690
    .e5bde44f-423f-4ebd-9e40-b8254243c480,
    .e265c3d5-5f8f-4caa-95ee-ecedde9f1cbf,
    .eace7803-5e18-410e-8515-7508218748cb,
    .a0f3c4b4-caba-4fe1-9614-0f32a4fa6d04,
    .b44481aa-ef74-4e7a-a657-ebc023d3b0d1,
    .a9ebed67-6d54-48c0-947f-27e74119477e,
    .abf06d33-10b4-4b45-83a9-ef44c5fa8fc7,
    .b5395a1a-5078-4461-97ee-2d7ecdb09673,
    .e72d58eb-7242-4b8d-a086-92e84ec30fcf,
    .ea6ef7ac-d2fe-402d-8a7f-c372a4ba690c,
    .befd9104-8ba5-4d66-b64c-dc2c6e40ac27{
      @extend %warning;
    }
  }
}

.scale {
  &__top {
    position: absolute;
    top: 19px;
    left: 156px;
    z-index: 999;
  }

  &__middle {
    position: absolute;
    top: 30px;
    left: 161px;
    z-index: 999;
  }

  &__bottom {
    position: absolute;
    top: 45px;
    left: 156px;
    z-index: 999;
  }
}

.back-image {
  position: absolute;
  margin-left: 88px;
  z-index: 1001;
  margin-top: 5px;

  &__warning {
    ::ng-deep {
      .fb0d19dd-cfba-4ec5-8801-081f1b56374c {
        fill: var(--color-warning);
      }
    }
  }

  &__danger {
    ::ng-deep {
      .fb0d19dd-cfba-4ec5-8801-081f1b56374c {
        fill: var(--color-smp-danger);
      }
    }
  }
}
