@mixin variables-light() {
  --color-bg-main: #1b1e27;
  --color-bg-main-opacity: rgba(27, 30, 39, 0.4);
  --color-bg-main-dark: #181b23;
  --color-bg-sub: #272b35;
  --color-bg-additional: #21272e;
  --color-bg-disable: rgba(13, 16, 20, 0.2);
  --color-bg-active: rgba(63, 169, 245, 0.11);
  --color-bg-active-bright: #3fa9f5;
  --color-bg-diagram: rgba(34, 37, 46, 0.34);
  --color-bg-line-diagram: #0d1014;
  --color-bg-search: rgba(142, 151, 175, 0.12);
  --color-bg-card: #20222d;
  --color-bg-card-sec: #1d202a;
  --color-bg-card-workflow: #212530;
  --color-bg-sub-workflow: #323c51;
  --color-bg-active-sub-workflow: #3f587c;
  --color-bg-header-table: #1b1f2c;
  --color-bg-body: #191c24;
  --color-bg-overlay: #131722;
  --color-bg-table: #171b26;

  --color-border-main: #5b607d;
  --color-border-main-transparrent: rgba(91, 96, 125, 0.9);
  --color-border-active: #3fa9f5;
  --color-border-unactive: #8c99b2;
  --color-border-search: rgba(142, 151, 175, 0.8);
  --color-border-search-line: rgba(142, 151, 175, 1);
  --color-border-box-shadow: rgba(91, 96, 125, 0.5);

  --color-input: rgba(33, 36, 45, 0.1);
  --color-input-backgroud-table: rgb(41, 43, 56);

  --color-border-light: #9ed7f5;

  --color-table-hover: #0e2637;
  --color-table-header: #292b38;
  --color-bg-report: #1f222b;

  --color-bg-btn: #232735;

  // Стандартный скролл для светлой темы (Events-workspace)
  //--color-scroll-thumb: #D7E2F2;
  //--color-scroll-track: #ffffff;
  //--color-scroll-track-piece: #ffffff;
  //--color-scroll-corner: #12151E;

  // Стандартный скролл для темной темы (Events-workspace)
  --color-scroll-thumb: rgba(91, 96, 125, 0.2);
  --color-scroll-track: #999;
  --color-scroll-track-piece: rgb(27, 30, 39);
  --color-scroll-corner: #12151e;

  // Переделать под прозрачность
  --color-border-active-hover: #1e2b3a;

  --color-text-main: #ffffff;
  --color-text-main-transparent: rgb(100%, 100%, 100%, 0.2);
  --color-text-sub-workflow: rgba(129, 154, 181);
  --color-text-sub: #8c99b2;
  --color-text-sup-new: #778ca2;
  --color-text-sub-heading: #5b607d;
  --color-text-diagram: #a2e2ff;
  --color-text-diagram-half-transparent: rgb(64%, 89%, 100%, 0.5);
  --color-text-diagram-transparent: rgb(64%, 89%, 100%, 0.2);
  --color-text-header-table: #8d99b2;
  --color-marker-diagram: #606580;

  --color-table-main: #1b1f2c;
  --color-table-secelt-box-search: rgb(33, 38, 52);

  --color-plan: #a2e2ff;
  --color-fact: #ffffff;
  --color-deviation: #f4a321;

  --color-lines-bg-dia: #272a38;
  --color-axis: #616580;

  --color-active: #3fa9f5;
  --color-danger: #eb5757;
  --color-warning: #f4a321;
  --color-standard: #00a99d;
  --color-circle: #00ffff;
  --color-aqua: #00ffff;
  --color-orange: #f28b4a;

  --color-smp-blue: rgb(0, 59, 100);

  --color-danger-transparent: rgba(234, 31, 31, 0.2);
  --color-warning-transparent: rgba(244, 163, 33, 0.2);
  --color-disable-transparent: rgba(91, 96, 125, 0.2);
  --color-active-transparent: rgba(63, 169, 245, 0.2);
  --color-standard-transparent: rgba(111, 207, 151, 0.2);

  --color-bg-active-gradient: rgba(63, 169, 245, 0.2);
  --color-bg-active-gradient1: rgba(63, 169, 245, 0.6);

  --color-bg-human-disable: #2c2f38;

  //Карточка резервуара нефтеконтроль
  --color-oil-popup-shadow: rgba(0, 0, 0, 0.5);
  --color-oil-card: rgb(33, 38, 52);
  --color-oil-table: rgb(27, 31, 44);
  --color-oil-table-2: rgb(18, 25, 40);
  --color-oil-table-ref: rgb(27, 31, 44);
  --color-oil-border: rgba(93, 96, 123, 0.2);
  //--color-oil-menu: rgb(6, 33, 62);
  --color-oil-menu: rgb(18, 25, 40);
  --color-oil-button-hover: rgb(26, 69, 109);
  --color-oil-button-hover-inner: rgb(17, 75, 128);
  --color-oil-button-hover-outer: rgb(21, 72, 119);
  --color-oil-button-inner: rgb(1, 44, 88);
  --color-oil-button-outer: rgb(3, 39, 77);
  --color-oil-border-line: rgb(27, 34, 51);
  --color-oil-full-screen: rgb(40, 47, 66);
  --color-oil-tank: rgba(55, 53, 163, 0.7);
  --color-oil-danger: red;
  --color-oil-circle-disable: rgb(33, 36, 45);

  // Цвета статусов передачи смены
  --color-shift-status-init: #6fcf97;
  --color-shift-status-missing: #eb5757;
  --color-shift-status-absent: #a5a5a5;
  --color-shift-status-process: #9ed7f5;
  --color-shift-status-success: #ffffff;

  // Цвета компонентов
  --color-button-border: rgba(255, 255, 255, 0.5);
  --color-button-borderside: rgba(255, 255, 255, 1);

  // UI
  --table-border-radius: 15px;

  // Управление группами (Светлая тема)
  //--color-group-control-bg-main: #ffffff;
  //--color-group-control-border-main: #D7E2F2;
  //--color-group-control-bg-active: #0089FF;
  //--color-group-control-bg-active-light: rgba(0, 137, 255, 0.1);
  //--color-group-control-bg-icons: #8C99B2;
  //--color-group-control-bg-icons-active: #ffffff;
  //--color-group-control-text: #303549;
  //--color-group-control-bg-switch: #EBF1F9;
  //--color-group-control-bg-switch-circle: #EBF1F9;
  //--color-group-control-border-switch-circle: #D7E2F2;
  //--color-group-control-border-switch-circle-active: #0089FF;
  //--color-group-control-border-switch: #D7E2F2;
  //--color-group-control-bg-switch-active: #EBF1F9;
  //--color-group-control-border-switch-active: #D7E2F2;
  //--color-group-control-item-bg: #EBF1F9;
  //--color-group-control-icon-upload-bg: #D7E2F2;
  //--color-group-control-bg-shadow: rgba(0, 0, 0, 0.2);

  // Управление группами(Темная тема)
  --color-group-control-bg-main: #1c1f2b;
  --color-group-control-border-main: #272a38;
  --color-group-control-bg-active: #0089ff;
  --color-group-control-bg-active-light: rgba(0, 137, 255, 0.1);
  --color-group-control-bg-icons: #606580;
  --color-group-control-bg-icons-active: #ffffff;
  --color-group-control-text: #d7e2f2;
  --color-group-control-bg-switch: #12151e;
  --color-group-control-bg-switch-circle: #ffffff;
  --color-group-control-border-switch-circle: #ffffff;
  --color-group-control-border-switch-circle-active: #ffffff;
  --color-group-control-border-switch: #4b5169;
  --color-group-control-bg-switch-active: #0089ff;
  --color-group-control-border-switch-active: #0f62fe;
  --color-group-control-item-bg: #272a38;
  --color-group-control-icon-upload-bg: #303549;
  --color-group-control-bg-shadow: rgba(0, 0, 0, 0.5);

  // SMP
  --color-smp-tank-fact: rgb(0, 121, 222);
  --color-smp-tank-plan: rgb(0, 75, 134);
  --color-smp-free: #183d61;
  --color-smp-rest: #008afc;
  --color-smp-border: rgba(91, 96, 125, 0.5);
  --color-smp-text-sub: rgb(95, 101, 128);
  --color-smp-pie-normal: rgb(127, 169, 191);
  --color-smp-standard: rgba(0, 169, 157, 0.8);
  --color-smp-events-back: rgb(33, 38, 55);
  --color-smp-events-chats: rgba(38, 65, 95, 0.17);
  --color-smp-events-header: rgba(95, 101, 128, 0.1);

  --color-smp-ev-ws-grad1: #192330;
  --color-smp-ev-ws-grad2: rgba(40, 92, 133, 1);
  --color-smp-ev-ws-grad3: rgba(63, 169, 245, 1);

  --color-smp-danger: #d00100;
  --color-smp-warning: #ff9700;
  --color-smp-active: #6ba4ef;

  --color-smp-checkbox: rgba(95, 101, 128, 0.55);
  --color-smp-white: #ffffff;

  --color-smp-left-gauge: #7fa9bf;
  --color-smp-gauge-back: rgba(39, 42, 56);

  --color-smp-days-normal: #0089ff;
  --color-smp-days-warning: #f4a321;
  --color-smp-days-danger: #dc0000;
  --color-smp-days-unknown: rgba(39, 42, 56, 1);

  // APS
  --color-aps-warning: #ff931e;
  --color-aps-orange: #ff931e;
  --color-aps-bg: #161a28;
  --color-aps-bg-sub: #5e6582;
  --color-aps-bg-sub-2: #131827;
  --color-aps-bg-header: #202333;
  --color-aps-bg-widget: rgba(12, 19, 36, 0.25);
  --color-aps-bg-light: #1d2131;
  --color-aps-bg-window: #191c2a;
  --color-bg-row-header: #141928;
  --color-aps-table-td: #191c27;
  --color-aps-bg-btns: rgba(48, 53, 73, 0.5);

  --color-aps-border-sup: #0e1320;

  --color-aps-border-main: rgba(94, 101, 130, 0.25);
  --color-aps-text-chart: #5c607d;
  --color-aps-scroll-thumb: #393d52;
  --color-aps-scroll-thumb-track-piece: rgb(25, 30, 44);
  --color-aps-fact: #2378d9;

  --color-aps-border: #2a2e40;
  --color-aps-border-sub: #40455c;
  --color-aps-border-light: #5b607d;
  --color-aps-text-sub: #8d9eb8;

  --color-aps-active: #0089ff;
  --color-lco-trend-bg: rgb(28, 30, 39);
  --color-aps-white: #ffffff;

  // APS Gantt
  --color-aps-timeLowerOrIncrease: 103, 58, 183;
  --color-aps-fixedSelection: 63, 81, 181;
  --color-aps-minOrMaxLoad: 182, 225, 254;
  --color-aps-fixedLoad: 3, 169, 244;
  --color-aps-engagementRate: 0, 188, 212;
  --color-aps-fixedQualityScore: 11, 164, 163;
  //

  // APS dropdown menu
  --color-aps-dropdown-menu-bg: #202433;
  --color-aps-dropdown-border: #35394b;
  //

  --color-aps-bg-icon: #5f6580;

  --color-aps-btn-accept: #0c5395;
  --color-aps-button-color: #8c99b2;
  --color-aps-button-bg: #272c3d;
  --color-aps-innactive-tab: #343b4c;

  // APS raw-motion
  --color-aps-main-axis: #5e6582;
  --color-aps-col-border: #1d2131;
  --color-aps-limits: #b6e1fe;

  // APS indicator-load-deviation
  --color-aps-unactive-line: #333542;
  --color-aps-active-line: #ffffff;
  --color-aps-back-line: #1c1f2d;

  --color-aps-gaude-back: #1b1f2c;
  --color-aps-gaude-line: #3c4257;
  --color-aps-gaude-back-line: #111626;

  // APS table
  --color-aps-table-bg-main: #131725;
  --color-aps-table-bg-main-active: rgba(12, 19, 36, 1);
  --color-aps-table-text-sub: #61657f;
  --color-aps-structure-item: #1d2131;
  --color-aps-structure-bg-main: #161a28;
  --color-aps-structure-border: #2d3246;
  --color-aps-dropdown-bg: #181c2a;
  --color-aps-bg-active-col: rgba(0, 137, 255, 0.2);
  --color-aps-good-rgb: 0, 167, 61;

  // KPE font-color
  --color-kpe-text-main: #d7e2f2;
  --color-kpe-text-sub: #606580;
  --color-kpe-border-sub: #262a39;
  --color-kpe-pasportize-text: #8c99b2;
  --color-kpe-white: #ffffff;

  // KPE equalizer-chart

  --color-kpe-eq-chart-title: #d7e2f2;
  --color-kpe-eq-chart-area: #232532;
  --color-kpe-eq-chart-day-normal: rgba(96, 101, 128, 0.1);
  --color-kpe-eq-chart-day-active: rgba(0, 137, 255, 0.25);

  // KPE line-diagram

  --color-kpe-line-diagram-bg-sub: #1c1f2b;
  --color-kpe-line-diagram-active: #1f3d60;
  --color-kpe-bg-sub: #272a38;
  --color-kpe-bg-sub-opacity: rgba(39, 42, 56, 0.5);

  // KPE gauge-chart
  --color-kpe-gaude-main: #d7e2f2;
  --color-kpe-gaude-additional: #606580;
  --color-kpe-gaude-active: #0089ff;
  --color-kpe-gaude-deviation: #60647f;
  --color-kpe-gaude-lines: #272a38;
  --color-kpe-gaude-back: #12151e;
  --color-kpe-gaude-unactive: #1c1f2b;
  --color-kpe-gauge-circle: rgb(28, 31, 43);
  --color-kpe-gauge-bg: rgb(20, 23, 33);
  --color-kpe-gauge-tab-unactive: #4b5169;
  --color-kpe-key-p-d-bg: rgb(23, 25, 37);
  --color-kpe-key-p-d-bg-d: rgb(20, 22, 33);

  --color-kpe-table-select: #303549;
  --color-kpe-table-danger: #ff1d25;
  --color-kpe-deviation-warning: rgba(247, 147, 30, 0.2);
  --color-kpe-deviation-danger: rgba(255, 29, 37, 0.2);

  // KPE energy
  --color-kpe-energy-diagram-bg: rgb(21, 23, 33);

  // KPE readiness
  --color-kpe-deviation-diagram-circle-bg: rgb(20, 22, 33);
  --color-kpe-bg: #1c1f2b;
  --color-kpe-border: #272a38;
  --color-kpe-bg-dark: #12151e;

  // KPE pasportize
  --color-kpe-shadow-1: rgba(0, 0, 0, 0.5);
  --color-kpe-shadow-2: rgba(25, 28, 44, 0);
  --color-kpe-line-diagram-bg: rgba(96, 101, 128, 0.25);
  // kpe reserve
  --color-kpe-bg-active-col: rgba(0, 137, 255, 0.2);

  // kpe-total-reserve
  --color-kpe-total-reserve-bg-sub: rgba(18, 21, 30, 0.5);
  --color-kpe-total-reserve-bg-main: #1c1f2b;
  --color-kpe-total-reserve-border-product: #272a38;
  --color-kpe-total-reserve-text-product: #d7e2f2;

  //KPE column diagram
  --color-kpe-bg-column-diagram: #12151e;
  --color-kpe-danger-dashed-column-diagram: rgba(255, 29, 37, 0.2);
  --color-kpe-warning-dashed-column-diagram: rgba(247, 147, 30, 0.2);
  --color-kpe-zero-axis-column-diagram: #0089ff;
  --color-kpe-border-axis-column-diagram: #606580;
  --color-kpe-grid-column-diagram: #272a38;
  --color-kpe-select-column-diagram: rgba(0, 137, 255, 0.2);

  // CD
  --color-cd-bg-component: #151a29;
  --color-cd-bg-border: #2a2e41;
  --color-cd-bg-border-sub: #5a5f80;
  --color-cd-text-sub: #8a97b0;
  --color-cd-bg-btn-active: #11355f;
  --color-cd-bg-row-table: #1c2132;
  --color-cd-text-sub-2: #8a98b3;
  --color-cd-select: #1b1f30;
  --color-cd-warning: #fd911e;
  --color-cd-new-bg-block: #13161f;
  --color-cd-new-bg-border: #262a37;
  --color-cd-new-text-sub: #787f8e;
  --color-cd-new-border: #272d40;

  //NK
  --nk-color-bg-main: #1b1e27;
  --nk-color-bg-sub: #272a38;
  --nk-color-bg-component: rgba(48, 53, 73, 0.25);
  --nk-color-bg-card-body: rgba(39, 42, 56, 0.5);
  --nk-color-bg-component-title: #303549;
  --nk-color-bg-component-title-dark: rgb(38, 42, 58);
  --nk-color-font-title-main: #d7e2f2;
  --nk-color-font-title-sub: #8c99b2;
  --nk-color-bg-innage-daigram: rgba(0, 137, 255, 0.2);
  --nk-color-border-main: #5b607d;
  --nk-color-selected-filter: linear-gradient(0deg, rgba(35, 120, 217, 0.25) 0%, rgba(35, 120, 217, 0) 100%);
  --nk-color-font-unactive-filter: #606580;
  --nk-color-active: #0089ff;
  --nk-color-table-main: #1b1f2c;
  --nk-color-bg-volume-indicator: #1b1f2c;
  --nk-color-temperature-gradient: linear-gradient(0deg, #00a99d 4.3px, #f4a321 39px, #ff0000 84px);
  --nk-color-innage-axis: #e8e6dd;
  --nk-color-scroll-thumb: #272b35;
  --nk-color-bg-innage-min: #0c5395;
  --nk-color-bg-correct: #121928;
  --nk-color-bg-dark: #0c1421;
  --nk-color-table-row-bg: rgba(29, 31, 43);

  --nk-color-bg-selected: #282d3c;
  --nk-color-bg-lvl-last: #00549d;
  --nk-color-white: #ffffff;
  --nk-color-bg-body: #161922;
  --nk-color-bg-card-body: #1e212d;
  --nk-color-bg-filter-menu: rgba(39, 42, 56, 0.5);
  --nk-color-table-header-text: #8799b3;

  --color-gray80: #272a38;
  --color-gray40: #8c99b2;

  // ASTUE
  --color-astue-tag-0: #ffffff;
  --color-astue-onpz-bg-tag-0: #ffffff;
  --color-astue-tag-1: #9362d0;
  --color-astue-onpz-bg-tag-1: #342c4c;
  --color-astue-tag-2: #0ba4a4;
  --color-astue-onpz-bg-tag-2: #193a43;
  --color-astue-tag-3: #8090f0;
  --color-astue-onpz-bg-tag-3: #303652;
  --color-astue-tag-4: #0f62fe;
  --color-astue-onpz-bg-tag-4: #192c55;
  --color-astue-tag-5: #0089ff;
  --color-astue-onpz-bg-tag-5: #163455;
  --color-astue-tag-6: #039de0;
  --color-astue-onpz-bg-tag-6: #17384f;
  --color-astue-tag-7: #45c5fa;
  --color-astue-onpz-bg-tag-7: #244054;
  --color-astue-tag-8: #673ab7;
  --color-astue-onpz-bg-tag-8: #2b2447;
  --color-astue-tag-9: #00bcd4;
  --color-astue-onpz-bg-tag-9: #163e4d;
  --color-astue-tag-10: #78a9ff;
  --color-astue-onpz-bg-tag-10: #2e3b55;
  --color-astue-tag-11: #8c99b2;
  --color-astue-onpz-bg-tag-11: #323746;
  --color-astue-tag-12: #606580;
  --color-astue-onpz-bg-tag-12: #2a2d3c;

  --color-astue-tag-13: #ff1d25;
  --color-astue-onpz-bg-tag-13: #491f2a;
  --color-astue-tag-14: #ff791f;
  --color-astue-onpz-bg-tag-14: #493129;
  --color-astue-tag-15: #ffb100;
  --color-astue-onpz-bg-tag-15: #493c22;
  --color-astue-tag-16: #00a73d;
  --color-astue-onpz-bg-tag-16: #163a2f;

  --color-astue-onpz-bg-tag-17: #45c5fa;

  --color-astue-bg-table: #242832;

  // SOU
  --color-sou-bg: rgba(18, 21, 30, 0.5);
  --color-sou-bg-header: var(--nk-color-bg-card-body);
  --color-sou-border: rgba(96, 101, 128, 0.25);
  --color-sou-button: rgba(48, 53, 73, 0.5);
  --color-sou-bg-sup: #252836;
  --color-sou-text-sub: #41435f;

  // SOU MVP
  --sou-mvp-color-bg-main: #1c1f2b;
  --sou-mvp-color-border: #4b5169;
  --sou-mvp-color-bg-title: #272a38;
  --sou-mvp-color-border-unactive: #303549;
  --sou-mvp-color-text-diagram-main: #d7e2f2;
  --sou-mvp-color-text-diagram-sub: #606580;
  --sou-mvp-color-text-info: #8c99b2;
  --sou-mvp-color-warning: #f7931e;
  --sou-mvp-color-bg-warning: #483628;
  --sou-mvp-color-white: #ffffff;
  --sou-mvp-color-active: #0089ff;
  --sou-mvp-color-bg-active-spec: #163455;
  --sou-mvp-color-bg-active: rgba(0, 137, 255, 0.2);
  --sou-mvp-color-bg-select: #12151e;
  --sou-mvp-color-bg-select-custom-border: rgba(25, 28, 44, 0);
  --sou-mvp-color-popup-shadow: rgba(0, 0, 0, 0.3);

  // sou main indictors
  --color-sou-bg-indicators-opacity: rgba(39, 42, 56, 0.5);

  // sou-balance
  --sou-balance-setting-border: #303549;
  --sou-balance-product-bg: #272a38;

  // ASTUE-ONPZ
  --color-astue-onpz-bg-header: #222431;
  --color-astue-onpz-bg-card: rgba(18, 21, 30, 0.5);
  --color-astue-onpz-button: #616580;
  --color-astue-onpz-plan: #0089ff;
  --color-astue-onpz-fact: #ffffff;
  --color-astue-onpz-limit: #5c6585;
  --color-astue-onpz-area: rgba(96, 101, 128, 0.1);
  --color-astue-onpz-normal: #00a73d;
  --color-astue-onpz-warning: #f7931e;
  --color-astue-onpz-units: #606580;
  --color-astue-onpz-bg-legend: #232737;
  --color-astue-onpz-bg-header-table: #1f222e;
  --color-astue-onpz-table-border: #252937;

  --color-astue-onpz-bg-widget: #171a24;
  --color-astue-onpz-border-widget: rgba(96, 101, 128, 0.25);
  --color-astue-onpz-bg-scroll: #1f222e;

  --color-astue-onpz-bg-axis-1: #1b1e2a;
  --color-astue-onpz-bg-axis-2: #171a24;

  --color-astue-onpz-bg-data: #232737;
  --color-astue-onpz-bg-data-icon: #303549;

  --color-astue-onpz-header-bg: rgb(34, 36, 50);
  --color-astue-border-main: #1e212e;
  --color-astue-bg-main: rgba(24, 26, 36);
  --color-astue-mat-select-border: rgba(92, 101, 133, 0.25);
  --color-astue-mat-select-bg: rgb(20, 24, 36);
  --color-astue-value-gr-start: rgba(255, 140, 0, 0.2);
  --color-astue-onpz-btn: rgba(37, 39, 54);
  --color-contemporary-header-bg: rgb(34, 36, 47);

  --color-astue-onpz-widget-bg: #1c1f2b;
  --color-astue-onpz-widget-border: #272a38;

  --color-astue-onpz-predictors-slider-border: #4b5169;
  --astue-onpz-factorypredictors-slider-bg: #12151e;

  --astue-onpz-factory-analisys-grid: #4b5169;
  --astue-onpz-factory-analisys-grid-opacity: rgba(75, 81, 105, 0.5);
  --astue-onpz-factory-analisys-grid-bg: #12151e;
  --astue-onpz-factory-analisys-grid-bg-opacity: rgb(18, 21, 30, 0.5);
  --astue-onpz-factory-analisys-legend: #8c99b2;
  --astue-onpz-factory-analisys-label: #606580;
  --astue-onpz-factory-analisys-norm: 0, 137, 255;
  --astue-onpz-factory-analisys-bad: 162, 226, 255;
  --astue-onpz-factory-analisys-sum: 0, 167, 61;

  --color-astue-onpz-factory-analisys-contrast: #ffffff;
  --color-astue-onpz-factory-analisys-chart-card-bg: #272a38;

  --color-astue-onpz-mnemonic-furnace-box-text: #606580;
  --color-astue-onpz-mnemonic-furnace-main-text: #d7e2f2;
  --color-astue-onpz-mnemonic-furnace-sub-text: #8c99b2;
  --color-astue-onpz-mnemonic-furnace-unit-text: #606580;
  --color-astue-onpz-mnemonic-furnace-lines: #4b5169;
  --color-astue-onpz-mnemonic-furnace-norm: #f7931e;
  --color-astue-onpz-mnemonic-furnace-warning: #f7931e;
  --color-astue-onpz-mnemonic-furnace-warning-rgb: 247, 147, 30;
  --color-astue-onpz-mnemonic-furnace-active: #0089ff;
  --color-astue-onpz-mnemonic-furnace-active-rgb: 0, 137, 255;
  --color-astue-onpz-mnemonic-furnace-item-bg: #272a38;
  --color-astue-onpz-mnemonic-furnace-item-bg-light: #303549;
  --color-astue-onpz-mnemonic-furnace-item-bg-dark: #1c1f2b;

  // @shared/alert-window (aw)
  --color-aw-container-shadow-transparent: rgba(0, 0, 0, 0.25);
  --color-aw-container-body-transparent: #1c1e2b;
  --color-aw-header-bg: #272b35;
  --color-aw-red-icon-bg: #ff0106;
  --color-aw-shade-bg-transparent: rgba(0, 0, 0, 0.15);

  // @shared/button (btn)
  --color-btn-rounded-border: #3fa9f5;
  --color-btn-rounded-disabled-transparent: rgba(255, 255, 255, 0.1);
  --color-alert-button: #252939;

  // new-header-colors
  --color-new-header-bg: #272a38;
  --color-border-header: #191c2a;
  --color-new-header-active: #0089ff;
  --color-new-header-active-trans: rgba(0, 137, 255, 0.1);
  --color-new-header-linedate: #191c2a;

  // ejco
  --color-ejco-sub-border: #3c4053;

  // ozsm
  --ozsm-color-bg-border: rgba(39, 42, 56, 0.5);
  --ozsm-color-circle-diagram-bg-arc-deviation: rgba(247, 147, 30, 0.2);
  --ozsm-color-tank-storage-bg: rgb(18, 48, 80);
  --ozsm-color-bg-dark: rgba(18, 21, 30, 0.5);
  --ozsm-color-border: rgba(96, 101, 128, 0.25);
  --ozsm-color-bg-card: #272a38;
  --ozsm-color-circle-arc-bg: rgba(0, 137, 255, 0.25);
  --ozsm-color-active: #0089ff;
  --ozsm-color-white: #ffffff;
  --ozsm-color-warning: #f7931e;
  --ozsm-color-danger: #533920;
  --ozsm-color-border-l: rgba(96, 101, 128, 0.25);
  --ozsm-color-marker-diagram: #606580;
  --ozsm-color-line-bg: #272a38;
  --ozsm-color-text-main: #d7e2f2;
  --ozsm-color-text-plan: #0089ff;
  --ozsm-color-bg-header: rgba(39, 42, 56, 0.5);
  --ozsm-color-bg-main: #1b1e27;

  --ozsm--color-bg-loading-parks-title: #171a24;
  --ozsm-color-font-loading-parks-information: #00a73d;
  --ozsm-color-bg-dark-no-opacity: #1c1f2b;
  --ozsm-color-border-no-opacity: #303549;
  --ozsm-color-border-due: #4b5169;
  --ozsm-color-circle-diagram-icon-bg-sub: #1c1f2b;
  --ozsm-color-circle-diagram-inner-bg: #171a24;

  --ozsm-color-loading-space-bg-sub: #1c1f2b;
  --ozsm-color-bg-innage-diagram: rgba(0, 137, 255, 0.2);
  --ozsm-color-bg-data-icon: #303549;
  --ozsm-color-border-select: #4b5169;
  --ozsm-color-bg-btn: #303549;
  --ozsm-color-bg-main-toggle: #303549;
  --ozsm-color-bg-packing-list: #141721;
  --ozsm-color-border-packing-list: #282c39;
  --ozsm-color-bg-packing-marker: #303549;
  --ozsm-color-bg-packing-arc: #292d3b;
  --ozsm-color-circle-diagram: rgb(23, 25, 35);

  // ozsm-resources-circle-diagram
  --ozsm-resources-circle-diagram-color-border-main: #313445;
  --ozsm-resources-circle-diagram-color-bg-main: #171a24;
  --ozsm-resources-circle-diagram-color-bg-info-title: rgba(39, 42, 56, 0.5);
  --ozsm-resources-circle-diagram-color-bg-info-list: rgba(18, 21, 30, 0.5);
  --ozsm-resources-circle-diagram-color-font-main: #d7e2f2;
  --ozsm-resources-circle-diagram-color-font-sub: #606580;
  --ozsm-resources-circle-diagram-color-active: #0089ff;
  --ozsm-resources-circle-diagram-color-back: #1b1f2c;
  --ozsm-resources-circle-diagram-color-line: #3c4257;
  --ozsm-resources-circle-diagram-color-back-line: #111626;

  --color-badge-notification-header: #da2329;

  // Header events
  --header-events-color-bg-main: #161922;
  --header-events-color-font-main: #d7e2f2;
  --header-events-color-bg-item-main: rgba(27, 30, 41);
  --header-events-color-font-standard: #606580;
  --header-events-color-font-warning: #f7931e;
  --header-events-color-font-danger: #ff0000;
  --header-events-color-bg-active: #0089ff;
  --header-events-color-bg-hover: #1f222e;
  --header-events-color-bg-thumb: rgb(40, 43, 56, 0.46);

  // event
  --color-events-bg-card: #141721;
  --color-events-border: #35394a;
  --color-events-btn: #202330;
  --color-events-bg-filters: #181b25;
  --color-event-card-bg-sub: #1e212d;
  --color-event-card-bg-body: #1a1d28;
  --color-event-card-gradient: #222633;
  --color-event-card-gradient-danger: rgba(235, 87, 87, 0.2329306722689075);
  --color-event-card-gradient-warning: rgba(255, 140, 0, 0.29735644257703087);
  --color-event-card-font-sub: #8c99b2;
  --evj-events-preview: rgba(39, 42, 56, 0.5);
  --evj-events-icon-bg: #2a394a;
  --evj-events-icon: rgb(63, 168, 243);
  --evj-events-file-attachment: rgba(39, 43, 53, 0.75);

  // Admin shift
  --color-admin-shift-border: #4b5169;
  --color-admin-shift-active: #0089ff;
  --color-admin-shift-text-sub: #d7e2f2;
  --color-admin-shift-white: #ffffff;
  --color-admin-shift-active-bright: rgba(0, 137, 255, 0.2);
  --color-admin-title-bg: #242634;
  --color-admin-main-bg: #202330;

  --color-admin-shift-brigade-1-text: rgba(147, 98, 208);
  --color-admin-shift-brigade-1: rgba(147, 98, 208, 0.2);

  --color-admin-shift-brigade-2-text: rgba(120, 169, 255);
  --color-admin-shift-brigade-2: rgba(120, 169, 255, 0.2);

  --color-admin-shift-brigade-3-text: rgba(8, 189, 186);
  --color-admin-shift-brigade-3: rgba(8, 189, 186, 0.2);

  --color-admin-shift-brigade-4-text: rgba(255, 125, 150);
  --color-admin-shift-brigade-4: rgba(255, 125, 150, 0.2);

  --color-admin-shift-brigade-5-text: rgba(253, 209, 58);
  --color-admin-shift-brigade-5: rgba(253, 209, 58, 0.2);

  --color-admin-shift-brigade-6-text: rgba(69, 197, 250);
  --color-admin-shift-brigade-6: rgba(69, 197, 250, 0.2);

  --color-admin-shift-brigade-delete: #f7931e;

  // EVJ
  --evj-color-bg-footer: #272a38;
  --evj-color-bg-main: #12151e;
  --evj-color-item-bg-main: #1c202c;
  --evj-color-scrollbar-thumb: #282d3c;
  --evj-color-white: #ffffff;
  --evj-color-item-text-sub: #61657f;
  --evj-color-item-text-filter: #8d99b2;

  --evj-color-active: #0089ff;
  --evj-color-bg-btn: rgba(48, 53, 73, 0.5);
  --evj-color-bg-filter: rgba(39, 42, 56, 0.5);

  --evj-color-message-stroke: #1a1e29;
  --evj-color-scrollbar-corner: #999;
  --evj-color-scrollbar-resizer: #666;
  --evj-color-bg-info: rgba(32, 35, 51, 0.4);
  --evj-color-bg-machine-item: rgba(28, 32, 44, 0.8);
  --evj-color-bg-comment: rgba(23, 26, 36);
  --evj-color-border-comment: rgba(96, 101, 128, 0.25);
  --evj-color-bg-input: #161922;
  --evj-color-bg-hours: rgba(32, 35, 51, 0.75);

  // events workspace
  --evj-events-workspace-critical: #db0000;
  --evj-events-workspace-critical-bg: rgba(219, 0, 0, 0.15);
  --evj-events-workspace-minor: #f8921c;
  --evj-events-workspace-minor-bg: rgba(248, 146, 28, 0.15);
  --evj-events-workspace-button: #303549;
  --evj-events-workspace-button-active: #0089ff;
  --evj-events-workspace-bg-dark: rgba(18, 21, 30, 0.5);
  --evj-events-workspace-color-border: rgba(96, 101, 128, 0.25);
  --evj-events-workspace-responsible-bg: #171a24;
  --evj-events-workspace-white: #ffffff;
  --evj-events-workspace-item-border: rgba(96, 101, 128, 0.25);
  --evj-events-workspace-text-sub: #616580;
  --evj-events-workspace-item-title: #8a98b3;
  --evj-events-workspace-color-button-extra: rgba(48, 53, 73, 0.5);
  --evj-events-workspace-color-border-extra: rgba(92, 101, 133, 0.25);
  --evj-events-workspace-bg-card: #1c1f2b;
  --evj-events-workspace-color-active-select: rgba(0, 137, 255, 0.2);
  --evj-events-workspace-bg-component: #1c1f2b;
}
$--color-active: #3fa9f5;
$--color-danger: #eb5757;
$--color-warning: #f4a321;
$--color-standard: #00a99d;
$--color-circle: #00ffff;
$--color-aqua: #00ffff;
$--color-orange: #f28b4a;
