@import "dark-variables.scss";
@import "light-variables.scss";

@font-face {
  font-family: "Tahoma";
  src: url("../assets/fonts/Tahoma/Tahoma.eot");
  src: url("../assets/fonts/Tahoma/Tahoma.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Tahoma/Tahoma.woff2") format("woff2"), url("../assets/fonts/Tahoma/Tahoma.woff") format("woff"),
    url("../assets/fonts/Tahoma/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  min-height: -webkit-fill-available;
}

body {
  font-family: "Tahoma";
  color: var(--color-text-main);
  background: var(--color-bg-main);
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--color-scroll-thumb);
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: var(--color-bg-main);
  border-radius: 5px;
}

.pointer-events {
  pointer-events: fill !important;
}

.cdk-overlay-container {
  snack-bar-container {
    background-color: var(--color-active);
    color: white;
  }
  .mat-simple-snackbar {
    justify-content: center;
  }
  mat-dialog-container {
    padding: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: var(--color-text-main);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

.snackbar {
  &-red {
    background-color: var(--color-danger) !important;
  }
}

.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: var(--color-text-sub) !important;
}

.mat-select-disabled .mat-select-value {
  color: var(--color-text-sub);
}

textarea {
  &:disabled {
    color: var(--color-text-sub) !important;
  }
}

:root {
  .theme-light {
    @include variables-light();
    //@include angular-material-theme(theme-light);
  }
  .theme-dark {
    @include variables-dark();
    //@include angular-material-theme(theme-dark);
  }
}
