@font-face {
  font-family: "Tahoma";
  src: url("./assets/fonts/Tahoma/Tahoma.eot");
  src: url("./assets/fonts/Tahoma/Tahoma.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Tahoma/Tahoma.woff2") format("woff2"), url("./assets/fonts/Tahoma/Tahoma.woff") format("woff"),
    url("./assets/fonts/Tahoma/Tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Tahoma";
  color: var(--color-text-main);
  background: var(--color-bg-main);
  overflow: hidden;
}

.scroll-bar::-webkit-scrollbar {
  width: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--color-bg-sub);
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: var(--color-bg-main);
  border-radius: 5px;
}

.pointer-events {
  pointer-events: fill !important;
}

.cdk-overlay-container {
  snack-bar-container {
    background-color: var(--color-active);
    color: white;
  }
  .mat-simple-snackbar {
    justify-content: center;
  }
}
