
@font-face {
  font-family: 'Tahoma';
  src: url('./assets/fonts/Tahoma/Tahoma.eot');
  src: url('./assets/fonts/Tahoma/Tahoma.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Tahoma/Tahoma.woff2') format('woff2'),
  url('./assets/fonts/Tahoma/Tahoma.woff') format('woff'),
  url('./assets/fonts/Tahoma/Tahoma.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Tahoma';
  color: var(--color-text-main);
  background: var(--color-bg-main);
  overflow: hidden;
}
