:root {
  --color-bg-main: #1b1e27;
  --color-bg-main-opacity: rgba(27, 30, 39, 0.4);
  --color-bg-main-dark: #181b23;
  --color-bg-sub: #272b35;
  --color-bg-additional: #21272e;
  --color-bg-disable: rgba(13, 16, 20, 0.2);
  --color-bg-active: rgba(63, 169, 245, 0.11);
  --color-bg-active-bright: #3fa9f5;
  --color-bg-diagram: rgba(34, 37, 46, 0.34);
  --color-bg-line-diagram: #0d1014;
  --color-bg-search: rgba(142, 151, 175, 0.12);
  --color-bg-card: #20222d;

  --color-border-main: #5b607d;
  --color-border-main-transparrent: rgba(91, 96, 125, 0.9);
  --color-border-active: #3fa9f5;
  --color-border-unactive: #8c99b2;
  --color-border-search: rgba(142, 151, 175, 0.8);
  --color-border-search-line: rgba(142, 151, 175, 1);

  --color-border-light: #9ed7f5;

  // Переделать под прозрачность
  --color-border-active-hover: #1e2b3a;

  --color-text-main: #ffffff;
  --color-text-main-transparent: rgb(100%, 100%, 100%, 0.2);
  --color-text-sub: #8c99b2;
  --color-text-sub-heading: #5b607d;
  --color-text-diagram: #a2e2ff;
  --color-text-diagram-half-transparent: rgb(64%, 89%, 100%, 0.5);
  --color-text-diagram-transparent: rgb(64%, 89%, 100%, 0.2);
  --color-marker-diagram: #606580;

  --color-plan: #a2e2ff;
  --color-fact: #ffffff;
  --color-deviation: #f4a321;

  --color-lines-bg-dia: #272a38;
  --color-axis: #616580;

  --color-active: #3fa9f5;
  --color-danger: #eb5757;
  --color-warning: #f4a321;
  --color-standard: #6fcf97;
  --color-circle: #00ffff;
  --color-aqua: #00ffff;
  --color-orange: #f28b4a;

  --color-danger-transparent: rgba(234, 31, 31, 0.2);
  --color-warning-transparent: rgba(244, 163, 33, 0.2);
  --color-disable-transparent: rgba(91, 96, 125, 0.2);
  --color-active-transparent: rgba(63, 169, 245, 0.2);

  --color-bg-active-gradient: rgba(63, 169, 245, 0.2);
  --color-bg-active-gradient1: rgba(63, 169, 245, 0.6);

  --color-bg-human-disable: #2c2f38;

  // Цвета статусов передачи смены
  --color-shift-status-init: #6fcf97;
  --color-shift-status-missing: #eb5757;
  --color-shift-status-absent: #a5a5a5;
  --color-shift-status-process: #9ed7f5;
  --color-shift-status-success: #ffffff;

  // Цвета компонентов
  --color-button-border: rgba(255, 255, 255, 0.5);
  --color-button-borderside: rgba(255, 255, 255, 1);
}
