:root {
  --color-bg-main: #1B1E27;
  --color-bg-main-dark: #181B23;
  --color-bg-sub: #272B35;
  --color-bg-additional: #21272e;
  --color-bg-disable: rgba(13, 16, 20, 0.2);
  --color-bg-active: rgba(63, 169, 245, 0.11);
  --color-bg-active-bright: #3FA9F5;

  --color-border-main: #5B607D;
  --color-border-main-transparrent: rgba(91, 96, 125, 0.9);
  --color-border-active: #3FA9F5;
  --color-border-unactive: #8C99B2;

  // Переделать под прозрачность
  --color-border-active-hover: #1E2B3A;

  --color-text-main: #FFFFFF;
  --color-text-sub: #8C99B2;
  --color-text-sub-heading: #5B607D;

  --color-plan: #A2E2FF;
  --color-fact: #fff;
  --color-deviation: #F4A321;

  --color-danger: #EA1F1F;
  --color-warning: #F4A321;

  --color-danger-transparent: rgba(234, 31, 31, 0.2);
  --color-warning-transparent: rgba(244, 163, 33, 0.2);
  --color-disable-transparent: rgba(91, 96, 125, 0.2);
  --color-active-transparent: rgba(63, 169, 245, 0.2);
}


