:root {
  --color-bg-main: #1B1E27;
  --color-bg-sub: #272B35;
  --color-bg-disable: rgba(13, 16, 20, 0.2);
  --color-bg-active: rgba(63, 169, 245, 0.11);

  --color-border-main: #5B607D;
  --color-border-active: #3FA9F5;

  --color-text-main: #FFFFFF;
  --color-text-sub: #8C99B2;
  --color-text-sub-heading: #5B607D;
}


