<evj-widget-preview [icon]="widgetIcon" [title]="widgetTitle" [previewTitle]="widgetType" *ngIf="isMock">
</evj-widget-preview>

<ng-container *ngIf="!isMock">
  <div class="container pointer-event events-workspace__scroll">
    <!-- loading data -->
    <evj-loading-shade [isLoading]="ewService.isLoading"></evj-loading-shade>

    <evj-event-search-window [info]="ewService.searchWindow$ | async"></evj-event-search-window>

    <evj-widget-header
      [title]="widgetTitle"
      [icon]="widgetIcon"
      [units]="widgetUnits"
      [code]="widgetCode"
      [id]="widgetId"
      [uniqId]="widgetUniqId"
      [widgetType]="widgetType"
      (eventCreated)="createdEvent($event)"
      (eventBack)="backEvent()"
      [isEventOpen]="!ewService.isEditEvent"
      [blockWorkspaceButton]="canShowSaveButton()"
    >
    </evj-widget-header>

    <evj-frame-top></evj-frame-top>

    <!-- EVENT -->
    <div class="container-widget">
      <ng-container *ngIf="ewService.event" [ngSwitch]="ewService.event.category.code">
        <evj-smotr-event *ngSwitchCase="0"></evj-smotr-event>
        <evj-asus-event *ngSwitchCase="5"></evj-asus-event>
        <evj-usual-event *ngSwitchDefault></evj-usual-event>
      </ng-container>

      <!-- NO-SELECTED EVENT -->
      <ng-container *ngIf="!ewService.event">
        <div class="workspace__mock" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
          <div class="workspace__submit">
            Создайте или выберите событие
          </div>
        </div>
      </ng-container>
    </div>

    <evj-frame-bottom></evj-frame-bottom>

  </div>
</ng-container>