<!-- <div id="snackbar">Сохранено</div> -->


<div class="container pointer-event">
  <!-- loading data -->
  <!-- <div class="loading-shade" *ngIf="isLoading">
    <div class="item loading-6">
      <svg viewBox="25 25 50 50">
        <circle cx="50" cy="50" r="20"></circle>
      </svg>
    </div>
  </div> -->
  <evj-widget-header [title]="title" [id]="id"></evj-widget-header>
  <!-- <div class="header">
    <div class="header__content">
      <div class="header__icon-wrapper">
        <svg-icon class="header__icon" src="./assets/icons/widgets/workspace/events-list.svg"></svg-icon>
      </div>
      <span class="header__name">
        Рабочая область
      </span>
    </div>
  </div> -->

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock"></div>
  </ng-container>


  <ng-container *ngIf="!isMock && event">

    <div class="change-shift" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">

      <div class="workspace__header__block">

        <section class="workspace__blocks" style="margin-right: 10px;">

          <div class="workspace__block">
            <div class="workspace__block__title">
              Дата / время:
            </div>
            <div class="workspace__block__body">
              <div class="dates-selector__dates">
                <input type="datetime-local" class="dates-selector__date-input"
                  [ngModel]="event.eventDateTime | date:'yyyy-MM-ddTHH:mm'">
              </div>
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Организация:
            </div>
            <div class="workspace__block__body">
              {{event.organization}}
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Смена:
            </div>
            <div class="workspace__block__body">
              Бригада-3
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Подразделение:
            </div>
            <div class="workspace__block__body">
              {{ event.branch }}
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Место:
            </div>
            <div class="workspace__block__body">
              <!-- {{ event.place.name }} -->
              ГФУ-2 с БОР
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Зафиксировал:
            </div>
            <div class="workspace__block__body" style="max-width: 120px;">
              <div class="dropdown dropdown-dark">
                <select name="contactMethod" class="dropdown-select" [(ngModel)]="event.fixedBy.id">
                  <option *ngFor="let p of user" [value]="p.id">{{ p.lastName }} {{ p.firstName }}</option>
                </select>
              </div>
            </div>
          </div>

        </section>

        <section class="workspace__blocks">

          <div class="workspace__block__right">
            <div class="workspace__block__title">
              Старший оператор:
            </div>
            <div class="workspace__block__body">
              {{ event.responsibleOperator.lastName }} {{ event.responsibleOperator.firstName }}
            </div>
          </div>

          <div class="workspace__block__right">
            <div class="workspace__block__title">
              Статус:
            </div>
            <div class="workspace__block__body">
              <div class="dropdown dropdown-dark">
                <select name="contactMethod" class="dropdown-select" [(ngModel)]="event.status.id">
                  <option *ngFor="let p of status" [value]="p.id">{{ statuses[p.name] }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="workspace__block__right">
            <div class="workspace__block__title">
              Приоритет:
            </div>
            <div class="workspace__block__body">
              <div class="dropdown dropdown-dark">
                <select name="contactMethod" class="dropdown-select" [(ngModel)]="event.priority.id">
                  <option *ngFor="let p of priority" [value]="p.id">{{ priorities[p.name] }}</option>
                </select>
              </div>
            </div>
          </div>



          <div class="workspace__block-border">
            <div class="block-border__title">
              Краткое описание причины
            </div>
            <div class="block-border__body">
              <textarea class="gridster-item-content" placeholder="Введите значение..." minlength="3"
                [(ngModel)]="event.description">
              </textarea>
              <div class="block-border__footer">
              </div>
            </div>
          </div>

        </section>
      </div>

      <div class="workspace__block-border">
        <div class="block-border__title">
          Установленные факты:
        </div>
        <div class="block-border__body">
          <textarea class="gridster-item-content" placeholder="Введите значение..." minlength="6"
            [(ngModel)]="event.eventType">
          </textarea>
          <div class="block-border__footer">
          </div>
        </div>
      </div>


      <div class="incidents">
        <div class="workspace__block-border incidents__item">
          <div class="block-border__title">
            Тип происшествия:
          </div>
          <div class="block-border__body">
            <textarea class="gridster-item-content" placeholder="Введите значение..." minlength="6"
              [(ngModel)]="event.establishedFacts">
            </textarea>
            <div class="block-border__footer">
            </div>
          </div>
        </div>

        <div class="workspace__block-border incidents__item" style="margin-left: 10px;">
          <div class="block-border__title">
            Непосредственные / прямые причины:
          </div>
          <div class="block-border__body">
            <textarea class="gridster-item-content" placeholder="Введите значение..." minlength="6"
              [(ngModel)]="event.directReasons">
            </textarea>
            <div class="block-border__footer">
            </div>
          </div>
        </div>

      </div>

      <div class="blocks-bottom">

        <div class="workspace__block-border block-bottom">
          <div class="block-border__title">
            Корректирующие мероприятия
          </div>
          <div class="block-border__body">
            <ul class="events">
              <li class="event" *ngFor="let retrieval of event.retrievalEvents; let i = index">
                <div class="event__header">
                  <span> {{ i + 1 }} <span class="event__sub">Ответственный</span>
                  </span>
                  <span *ngIf="retrieval.status" class="event__sub-right">{{ statuses[retrieval.status.name] }}
                    <svg-icon class="event__delete" [applyCss]="true"
                      src="./assets/garbage_bad_pic.svg" (click)="deleteEvent(n.id)"
                      (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"></svg-icon></span>

                </div>
                <div class="event__body">
                  <input *ngIf="retrieval.isNew" type="text" class="comment__text gridster-item-content"
                    placeholder="Напишите..." #input [(ngModel)]="retrieval.description" />
                  <span *ngIf="!retrieval.isNew">{{ retrieval.description }}</span>
                </div>
                <div class="event__footer">

                  <span class="event__sub">Срок исполнения</span> <span class="event__date">
                    <div *ngIf="retrieval.isNew" class="dates-selector__dates">
                      <input type="datetime-local" class="dates-selector__date-input"
                        [ngModel]="retrieval.deadline | date:'yyyy-MM-ddTHH:mm'">
                    </div> <span *ngIf="!retrieval.isNew">{{ retrieval.deadline | date }}</span>
                  </span>
                </div>
              </li>
            </ul>
            <div class="workspace__submit events__btn">
              <div class="submit__frame submit__frame-left"></div>
              <div class="submit__frame submit__frame-right"></div>
              <button type="submit gridster-item-content" (click)="addRetrieval()">
                Добавить мероприятие
              </button>
            </div>
            <div class="block-border__footer">
            </div>
          </div>
        </div>

        <div class="block-bottom" style="margin-left: 10px">

          <div class="workspace__block-border media">
            <div class="block-border__title">
              Видео контент
            </div>
            <div class="media__items">

              <div class="media__item">
                <img src="./assets/img/1.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/2.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/1.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/2.png" alt="1" width="100" height="70">
              </div>
            </div>
          </div>

          <div class="workspace__block-border comment">
            <div class="block-border__title">
              Комментарий оператора
            </div>
            <div class="block-border__body">
              <div class="comment__display">
                <div class="messages scroll-bar" #scroll>
                  <div class="message" *ngFor="let comment of comments">
                    {{ comment }}
                  </div>
                </div>
              </div>
              <div class="block-border__footer">
                <input type="text" class="comment__text gridster-item-content"
                  placeholder="Напишите свой комментарий..." (keypress)="onEnterPush($event)" #input />
                <button type="submit" class="button comment__file   gridster-item-content">
                  <svg-icon class="button__icon" src="./assets/icons/widgets/change-shift/add_file.svg"></svg-icon>
                </button>
                <button type="submit" class="button comment__submit  gridster-item-content"
                  (click)="onSendMessage($event)">
                  <svg-icon class="button__icon" src="./assets/icons/widgets/change-shift/send.svg"></svg-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="workspace__save">
        <div class="workspace__submit">
          <div class="submit__frame submit__frame-left"></div>
          <div class="submit__frame submit__frame-right"></div>
          <button type="submit gridster-item-content" (click)="createEvent()">
            Создать событие
          </button>
        </div>
        <div class="workspace__submit">
          <div class="submit__frame submit__frame-left"></div>
          <div class="submit__frame submit__frame-right"></div>
          <button type="submit gridster-item-content" (click)="saveItem()">
            Сохранить
          </button>
        </div>

      </div>

    </div>

  </ng-container>


  <ng-container *ngIf="!isMock && !event">
    <div class="workspace__save" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div class="workspace__submit">
        <div class="submit__frame submit__frame-left"></div>
        <div class="submit__frame submit__frame-right"></div>
        <button type="submit gridster-item-content" (click)="createEvent()">
          Создать событие
        </button>
      </div>
    </div>
  </ng-container>



  <div class="frame frame_bottom">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

</div>