<div class="container pointer-event">
  <evj-widget-header [title]="title" [id]="id"></evj-widget-header>
  <!-- <div class="header">
    <div class="header__content">
      <div class="header__icon-wrapper">
        <svg-icon class="header__icon" src="./assets/icons/widgets/workspace/events-list.svg"></svg-icon>
      </div>
      <span class="header__name">
        Рабочая область
      </span>
    </div>
  </div> -->

  <div class="frame frame_top">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

  <ng-container *ngIf="isMock">
    <div class="mock"></div>
  </ng-container>
  <ng-container *ngIf="!isMock">

    <div class="change-shift">


      <div class="workspace__header__block">

        <section class="workspace__blocks">

          <div class="workspace__block">
            <div class="workspace__block__title">
              Дата / время:
            </div>
            <div class="workspace__block__body">
              22.11.2019 06:30:13
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Организация:
            </div>
            <div class="workspace__block__body">
              {{event.organization}}
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Смена:
            </div>
            <div class="workspace__block__body">
              Бригада-3
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Старший оператор:
            </div>
            <div class="workspace__block__body">
              Гребенщиков В.М.
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Зафиксировал:
            </div>
            <div class="workspace__block__body">
              Никонов С.Е.
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Статус:
            </div>
            <div class="workspace__block__body">
              В работе
            </div>
          </div>

        </section>

        <section class="workspace__blocks">

          <div class="workspace__block">
            <div class="workspace__block__title">
              Подразделение:
            </div>
            <div class="workspace__block__body">
              Производство 1
            </div>
          </div>

          <div class="workspace__block">
            <div class="workspace__block__title">
              Место:
            </div>
            <div class="workspace__block__body">
              ГФУ-2 с БОР
            </div>
          </div>

          <div class="workspace__block-border">
            <div class="block-border__title">
              Краткое описание причины
            </div>
            <div class="block-border__body">
              Остановка насоса Н-17А по блокировке поз. FISAL1043
              на установке ГФУ-2 с БОР производства №1.
              <div class="block-border__footer">
              </div>
            </div>
          </div>

        </section>
      </div>

      <div class="workspace__block-border">
        <div class="block-border__title">
          Установленные факты:
        </div>
        <div class="block-border__body">
          22.11.2019г. на установке ГФУ-2 с БОР было зафиксировано снижение расхода промывочной воды от Н-17А в К-3 и
          срабатывание
          блокировки поз. FISAL1043 при расходе менее 20 кг/ч. Снижение расхода промывочной воды от Н-17А в К-3
          произошло
          из-за забивания приемного трубопровода от емкости Е-17 к насосам Н-17/А,В.
          <div class="block-border__footer">
          </div>
        </div>
      </div>


      <div class="incidents">
        <div class="workspace__block-border incidents__item">
          <div class="block-border__title">
            Тип происшествия:
          </div>
          <div class="block-border__body">
           {{ event.eventType }}
            <div class="block-border__footer">
            </div>
          </div>
        </div>

        <div class="workspace__block-border incidents__item" style="margin-left: 10px;">
          <div class="block-border__title">
            Непосредственные / прямые причины:
          </div>
          <div class="block-border__body">
            Понижение расхода промывочной воды от Н-17А ниже
            20 кг/ч вследствие забивания приемного трубопровода
            от емкости Е-17 к Н-17/А,В
            <div class="block-border__footer">
            </div>
          </div>
        </div>

      </div>

      <div class="blocks-bottom">

        <div class="workspace__block-border block-bottom">
          <div class="block-border__title">
            Корректирующие мероприятия
          </div>
          <div class="block-border__body">
            <ul class="events">
              <li class="event">
                <div class="event__header">
                  <span> 1. <span class="event__sub">Ответственный</span> Нач. уст-ки ГФУ-2 с БОР Лебедев В.Д. </span>
                  <span class="event__sub-right">В работе</span>
                </div>
                <div class="event__body">
                  Сформировать и утвердить график промывки приемного
                  трубопровода Н-17/А,В. Дренирование отстойной зоны Е-17.
                  Выполнять промывку согласно графика.
                </div>
                <div class="event__footer">
                  <span class="event__sub">Срок исполнения</span> <span class="event__date">22.11.2019 16:30:13</span>
                </div>
              </li>
              <li class="event">
                <div class="event__header">
                  <span> 2. <span class="event__sub">Ответственный</span> Нач. уст-ки ГФУ-2 с БОР Лебедев В.Д. </span>
                  <span class="event__sub-right">В работе</span>
                </div>
                <div class="event__body">
                  Довести под роспись результат расследования до
                  технологического персонала установки ГФУ-2 с БОР.
                </div>
                <div class="event__footer">
                  <span class="event__sub">Срок исполнения</span> <span class="event__date">22.11.2019 16:30:13</span>
                </div>
              </li>
            </ul>

            <div class="block-border__footer">
            </div>
          </div>
        </div>




        <div class="block-bottom" style="margin-left: 10px;">

          <div class="workspace__block-border media">
            <div class="block-border__title">
              Комментарий оператора
            </div>
            <div class="media__items">

              <div class="media__item">
                <img src="./assets/img/1.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/2.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/1.png" alt="1" width="100" height="70">
              </div>
              <div class="media__item">
                <img src="./assets/img/2.png" alt="1" width="100" height="70">
              </div>
            </div>
          </div>

          <div class="workspace__block-border comment">
            <div class="block-border__title">
              Комментарий оператора
            </div>
            <div class="block-border__body">
              <div class="comment__display">
                <div class="messages scroll-bar" #scroll>

                </div>
              </div>
              <div class="block-border__footer">
                <input type="text" class="comment__text gridster-item-content"
                  placeholder="Напишите свой комментарий..." #input />
                <button type="submit" class="button comment__file   gridster-item-content">
                  <svg-icon class="button__icon" src="./assets/icons/widgets/change-shift/add_file.svg"></svg-icon>
                </button>
                <button type="submit" class="button comment__submit  gridster-item-content">
                  <svg-icon class="button__icon" src="./assets/icons/widgets/change-shift/send.svg"></svg-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="workspace__save">
        <div class="workspace__submit">
          <div class="submit__frame submit__frame-left"></div>
          <div class="submit__frame submit__frame-right"></div>
          <button type="submit gridster-item-content">
            Добавить мероприятие
          </button>
        </div>
        <div class="workspace__submit">
          <div class="submit__frame submit__frame-left"></div>
          <div class="submit__frame submit__frame-right"></div>
          <button type="submit gridster-item-content">
            Сохранить
          </button>
        </div>

      </div>

    </div>
  </ng-container>

  <div class="frame frame_bottom">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>
</div>