.card {
  position: relative;
  width: 390px;
  height: 60px;

  margin: 5px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background-image: url(../../../../../../assets/icons/widgets/admin/admin-groups/group-card-disable.svg);
  background-repeat: no-repeat;
  background-size: contain;

  .text {
    color: var(--color-text-main-transparent);
  }

  &_active {
    background-image: url(../../../../../../assets/icons/widgets/admin/admin-groups/group-card-active.svg);

    .text {
      color: var(--color-text-main);
    }
  }

  &__name {
    margin-left: 50px;
    margin-bottom: 5px;
  }

  &__description {
    margin-left: 50px;
    font-size: 12px;
  }

  &:hover {
    cursor: pointer;
  }
}
