<div class="container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="widgetTitle"
    icon="astue-predictors"
    type="astue"
  >
  </evj-contemporary-widget-header>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <!-- <div class="content__header header">
      <svg-icon
        class="header__icon"
        src="assets/icons/widgets/ASTUE-ONPZ/astue-onpz-conventional-fuel/conv-fuel.svg"
        [svgStyle]="{ 'width.px':25, 'height.px':25}"
      ></svg-icon>
      <div class="header__title">Условное топливо</div>
      <div class="header__unit">АВТ-10</div>
      <svg-icon
        class="header__icon"
        src="assets/icons/widgets/ASTUE-ONPZ/fullscreen.svg"
        [svgStyle]="{ 'width.px':25, 'height.px':25}"
      ></svg-icon>
      <div class="header__button"><span></span></div>
    </div> -->
    <evj-astue-onpz-multi-chart class="chart" [data]="data"></evj-astue-onpz-multi-chart>
    <evj-smart-scroll class="scroll"></evj-smart-scroll>
    <div class="mock"></div>
  </div>
</div>
