<div class="container">
  <evj-widget-header-smp
    [uniqId]="uniqId"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    *ngIf="isHover"
  >
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <evj-astue-onpz-multi-chart class="chart" [data]="data"></evj-astue-onpz-multi-chart>
    <evj-smart-scroll class="scroll"></evj-smart-scroll>
    <div class="mock"></div>
  </div>
</div>
