:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.container {
  position: relative;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: var(--color-bg-header-table);
}

.content {
  position: relative;
  width: calc(100% - 2px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chart {
  width: 100%;
  height: 65%;
}
