.container-line {
    display: flex;
    flex-flow: wrap;
    direction: ltr;

    &__title {
        margin-top: 15px;
        margin-left: 15px;
        min-height: 100px;
        width: 185px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__content {
        margin-top: 15px;
        margin-left: 15px;
    }
}
