.linechart {
  height: 210px;

  &::ng-deep {
    .tick {
      line{
        color: rgba(96, 101, 128, 0.25);
      }

      .domain {
        stroke-width: 0;
      }
    }
  }
}

.grid {
  .domain {
    visibility: hidden;
  }
}

