.container {
  padding: 0 20px;
  box-sizing: border-box;
  background-color: var(--color-events-bg-filters);
  overflow: hidden;
}

.events-filters {
  display: flex;
  height: 60px;

  &__selections {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 10;

    button {
      cursor: pointer;
      width: 100%;
      max-width: 150px;
      font-size: 13px;
      height: 30px;
      color: var(--color-text-sub);
      border-radius: 3px;

      border: 0;
      background-color: var(--color-events-btn);
      transition: all 200ms;

      &:focus {
        outline: 0;
      }

      &:hover {
        background-color: var(--color-bg-sub-workflow);
      }

      &:active {
        background-color: var(--color-bg-btn);
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    flex: 1;

    input[type="text"] {
      font-size: 13px;
      border: 1px solid var(--color-astue-mat-select-border);
      border-radius: 3px;
      background-color: var(--header-events-color-bg-main);
      outline: none;
      color: var(--color-text-main);
      height: 26px;
      padding-left: 8px;
      margin-left: 10px;

      &::placeholder {
        color: var(--color-aps-button-color);
      }
    }
  }
}

.event-mat-select {
  border: 1px solid var(--color-astue-mat-select-border);
  background-color: var(--header-events-color-bg-main);
  border-radius: 2px;
  height: 28px;
  min-width: 50px;

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-underline {
      height: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-ripple {
      height: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      display: flex;
      padding-top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-select {
      width: 100% !important;
    }

    .mat-select-value-text {
      margin-left: 15px;
      font-size: 13px;
      color: var(--color-kpe-text-main);
    }

    .mat-select-arrow-wrapper {
      padding: 7px 14px;
    }

    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
    .mat-form-field-appearance-legacy.mat-form-field-can-float
      .mat-input-server:focus
      + .mat-form-field-label-wrapper
      .mat-form-field-label {
      display: none;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: var(--color-aps-button-color);
      font-size: 13px;
      margin-left: 12px;
      margin-top: 4px;
    }
  }
}

::ng-deep {
  .evj-event-filters-background {
    background: var(--color-bg-main) !important;
    min-width: calc(100% + 32px) !important;
  }

  .mat-select-filter-no-entries-found {
    background: var(--color-bg-main) !important;
  }
}

.cursor-disabled {
  cursor: not-allowed !important;

  > * {
    cursor: not-allowed;
    pointer-events: none;
  }
}


