::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
  margin-top: 90px;
  margin-bottom: 90px;
}

::-webkit-scrollbar-track:vertical {
  width: 5px;
  height: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 25px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: var(--color-border-active);
}

:hover::-webkit-scrollbar-track-piece {
  border: solid 1px var(--color-border-active);
}

::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 25px;
  background-color: var(--color-border-main);
}

::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border: solid 1px var(--color-border-main);
  border-radius: 25px;
}

::-webkit-resizer {
  background-color: var(--color-border-active);
}

.container {
  position: relative;
  width: 100%;
  height: 99%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 24px;
}

.content {
  display: flex;
  height: calc(100% - 50px);
  border-left: dashed 0.5px var(--color-border-main);
  border-right: dashed 0.5px var(--color-border-main);
  overflow-x: auto;
}

input {
  width: calc(100% - 20px);
  height: 30px;
  outline: none;
  padding-left: 20px;
  background: rgb(33, 36, 45, 0.1);
  font-size: 12px;
  border: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover {
    border-bottom: 1px solid var(--color-border-active);
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

.references {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 20px);
  width: 100%;
  font-size: 11px;
}

.reference-left {
  width: 30%;
  height: 100%;
  padding: 10px;
  min-width: 220px;
  padding-bottom: 0;

  .title-reference {
    position: relative;
    height: 40px;
    margin: 0 auto;
    margin-right: 0;
    width: calc(100% - 10px);
    background-color: rgba(93, 96, 123, 0.2);
    color: var(--color-text-main);
    text-align: center;
    line-height: 40px;
    font-size: 11px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0px;
      left: -11px;
      height: 10px;
      width: 20px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-bottom: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 7px;
      right: -6px;
      height: 10px;
      width: 20px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(-135deg);
      border-top: 1px solid transparent;
      background: var(--color-bg-main);
    }
  }

  .reference-container {
    height: calc(100% - 80px);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    direction: rtl;
    margin-bottom: 2px;
    margin-top: 2px;

    .scroll-block {
      background-color: #1b1f2c;
      margin: 0 auto;
      width: calc(100% - 5px);
      margin-right: 0;
      height: 100%;
      line-height: 40px;
      min-height: 40px;
    }

    &__name {
      height: 40px;
      padding-left: 20px;
    }

    &__block {
      cursor: pointer;
      direction: ltr;
      display: flex;
      background-color: #1b1f2c;

      .block-active {
        background: var(--color-bg-active);
        border-left: 2px solid var(--color-border-active);
      }
    }

    &__block-info {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }

  .bottom-reference-left {
    position: relative;
    height: 40px;
    margin: 0 auto;
    margin-right: 0;
    width: calc(100% - 10px);
    background-color: rgba(93, 96, 123, 0.2);

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -6px;
      left: -8px;
      height: 7px;
      width: 18px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-135deg);
      border-bottom: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -3px;
      right: -3px;
      height: 7px;
      width: 17px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
      border-top: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &__block {
      display: flex;
      padding-left: 10px;
    }

    &__button-add {
      cursor: pointer;
      height: 30px;
      width: 30px;

      margin-top: 5px;
    }

    &__button-search {
      cursor: pointer;
      height: 30px;
      width: 30px;
      margin-top: 5px;
    }

    &__input {
      border: 1px solid;
      border-image: linear-gradient(90deg, transparent 10%, var(--color-text-main) 100%);
      border-image-slice: 1;
      border-left: none;
      border-right: none;
      left: 25px;
      top: 5px;
      height: 28px;
      position: absolute;
      width: 150px;

      &:after {
        content: "";
        position: absolute;
        height: 28px;
        width: 14px;
        top: -1px;
        right: -15px;
        border: 1px solid var(--color-text-main);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }

      input {
        border-bottom: none !important;
      }
    }

    &__input-active {
      border: 1px solid;
      border-image: linear-gradient(
        to left,
        rgba(107, 166, 241, 0.7) 2%,
        rgba(107, 166, 241, 0.63) 6%,
        rgba(107, 166, 241, 0.46) 16%,
        rgba(107, 166, 241, 0.32) 26%,
        rgba(107, 166, 241, 0.2) 38%,
        rgba(107, 166, 241, 0.11) 50%,
        rgba(107, 166, 241, 0.05) 63%,
        rgba(107, 166, 241, 0.01) 79%,
        rgba(107, 166, 241, 0) 102%
      );
      border-image-slice: 1;
      border-right: none;

      &:after {
        content: "";
        position: absolute;
        height: 28px;
        width: 14px;
        top: -1px;
        right: -15px;
        border: 1px solid var(--color-border-active);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }

    &__input-block {
      display: flex;
      position: relative;
      padding-left: 10px;
    }
  }
}

.reference-right {
  height: 100%;
  width: 70%;
  padding: 10px;
  min-width: 500px;
  padding-bottom: 0;
  padding-left: 0;

  .title-reference {
    color: white;
    position: relative;
    height: 40px;
    width: calc(100% - 50px);
    background-color: rgba(93, 96, 123, 0.2);
    display: flex;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    margin-left: 10px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      top: 0px;
      left: -11px;
      height: 10px;
      width: 20px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-bottom: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: 7px;
      right: -6px;
      height: 10px;
      width: 20px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(-135deg);
      border-top: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &__title-name {
      display: flex;
      width: 100%;
    }

    &__title-name-check {
      .redio-button label:before {
        border-radius: 8px;
      }
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 25px;
        margin-right: 15px;
        font-size: 13px;
      }

      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label:before {
        content: "\2022";
        color: var(--color-border-active);
        font-size: 30px;
        text-align: center;
        line-height: 13px;
      }

      label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 10px;
        bottom: -6px;
        border-radius: 10px;
        border: 1px solid var(--color-border-active);
      }
    }

    &__title-name-fio {
      cursor: pointer;
      width: 100%;
      font-size: 12px;
    }

    &__title-type {
      width: 50%;
      display: flex;
    }

    &__title-type-check {
    }

    &__title-type-date {
      cursor: pointer;
      width: 100%;
      font-size: 12px;
    }

    .block-active {
      background: var(--color-bg-active);
      // border-left: 2px solid var(--color-border-active);
    }
  }

  .references-container-scroll-block {
    overflow: auto;
    height: calc(100% - 80px);
    overflow-x: hidden;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
    position: relative;
    direction: rtl;

    .reference-container-value {
      height: 100%;
      background-color: #1b1f2c;
      width: calc(100% - 50px);
      min-height: 40px;
      direction: initial;
      margin: 0 auto;
      margin-left: 10px;
      position: relative;

      &__block {
        display: flex;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        direction: ltr;
        position: relative;
        background-color: #1b1f2c;
      }

      &__fio-block {
        cursor: pointer;
        position: relative;
        display: flex;
        border-bottom: 2px solid var(--color-bg-main);
        width: 100%;
        border-left: 1px solid var(--color-bg-main);
        /// background-color: #1b1f2c;

        ::ng-deep {
          .mat-form-field-infix {
            width: 100%;
          }
        }
      }

      &__fio-block2 {
        cursor: pointer;
        position: relative;
        display: flex;
        border-bottom: 2px solid var(--color-bg-main);
        width: 100%;
        border-left: 1px solid var(--color-bg-main);
        // background-color: #1b1f2c;
        background: none !important;
      }

      .block-active {
        background: var(--color-bg-active);
        border-left: 1px solid var(--color-border-active);
      }

      &__fio {
        width: 100%;
        text-align: center;
      }

      &__edit-button {
        position: absolute;
        top: 2px;
        width: 12px;
        right: 10px;
      }

      &__delete-button {
        display: block !important;
        cursor: pointer;
        position: absolute;
        right: -39px;
        top: 0px;
        width: 39px;
        height: 38px;
        background: var(--color-bg-active);
        background-image: url(../../../../assets/icons/widgets/references/delete_blue.svg) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;

        &:hover {
          background-image: url(../../../../assets/icons/widgets/references/delete_red.svg) !important;
        }

        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;

        .indicator-selector__collapse {
          ::ng-deep svg {
            height: 100%;
            width: 100%;
            margin-left: 5px;
          }
        }
      }

      &__add-block {
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 40px;
        direction: ltr;
        background-color: #1b1f2c;
      }

      &__add-block-input {
        width: 100%;

        input {
          padding-left: 0;
        }
      }

      &__add-block-icon {
        cursor: pointer;
        width: 20px;
        margin-top: 5px;
      }

      &__add-button {
        cursor: pointer;
        display: block !important;
        position: absolute;
        right: -35px;
        margin-top: 15px;
        width: 20px;
        background: var(--color-bg-main);
      }

      &__add-button-edit {
        cursor: pointer;
        display: block !important;
        position: absolute;
        right: 10px;
        width: 20px;
      }

      &__edit-value {
        display: flex;
        width: 80%;
      }

      &__edit-input {
        width: 100%;
        input {
          //   width: 100% !important;
        }
      }
    }
  }

  .bottom-reference-right {
    position: relative;
    height: 40px;
    width: calc(100% - 50px);
    background-color: rgba(93, 96, 123, 0.2);
    margin: 0 auto;
    margin-left: 10px ;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -6px;
      left: -8px;
      height: 7px;
      width: 18px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-135deg);
      border-bottom: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      bottom: -3px;
      right: -3px;
      height: 7px;
      width: 17px;
      box-sizing: border-box;
      -webkit-transform-origin: 43% 0;
      transform-origin: 43% 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
      border-top: 1px solid transparent;
      background: var(--color-bg-main);
    }

    &__block {
      display: flex;
      padding-left: 20px;
    }

    &__button-add {
      cursor: pointer;
      height: 30px;
      width: 30px;

      margin-top: 5px;
    }

    &__button-search {
      cursor: pointer;
      height: 30px;
      width: 30px;

      margin-top: 5px;
    }

    &__input {
      border: 1px solid;
      border-image: linear-gradient(90deg, transparent 10%, var(--color-text-main) 100%);
      border-image-slice: 1;
      border-left: none;
      border-right: none;
      left: 25px;
      top: 5px;
      height: 28px;
      position: absolute;
      width: 150px;

      &:after {
        content: "";
        position: absolute;
        height: 28px;
        width: 14px;
        top: -1px;
        right: -15px;
        border: 1px solid var(--color-text-main);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      input {
        border-bottom: none !important;
      }
    }

    &__input-active {
      border: 1px solid;
      border-image: linear-gradient(
        to left,
        rgba(107, 166, 241, 0.7) 2%,
        rgba(107, 166, 241, 0.63) 6%,
        rgba(107, 166, 241, 0.46) 16%,
        rgba(107, 166, 241, 0.32) 26%,
        rgba(107, 166, 241, 0.2) 38%,
        rgba(107, 166, 241, 0.11) 50%,
        rgba(107, 166, 241, 0.05) 63%,
        rgba(107, 166, 241, 0.01) 79%,
        rgba(107, 166, 241, 0) 102%
      );
      border-image-slice: 1;
      border-right: none;

      &:after {
        content: "";
        position: absolute;
        height: 28px;
        width: 14px;
        top: -1px;
        right: -15px;
        border: 1px solid var(--color-border-active);
        border-left: none;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }

    &__input-block {
      display: flex;
      padding-left: 10px;
      position: relative;
    }
  }
}

.isLongBlock {
  // width: calc(100% - 10px) !important;
  // margin: 0 auto;
  // margin-left: 0 !important;
}

.isNotButton {
  display: none;
}

.disabled {
  display: none;
}
