<div class="container" #container *ngIf="data">
  <div class="limit" [ngStyle]="{'height':getLimitHeightString(this.data.plan)}">
    <ng-container *ngFor="let item of array">
      <div class="line" [ngClass]="chooseColorClass(item)"></div>
    </ng-container>
  </div>
  <div class="block" [ngClass]="{'block-disable':!isActive}">
    {{array[0]?getDifference():''}}
  </div>
  <div
    class="border-block"
    [ngStyle]="{'height':getBorderBlockHeight(),'bottom':getBorderBlockBottom()}"
  ></div>
</div>
