<div class="card">
    <evj-nk-tank-information-title [title]="cardData.tankTitle"></evj-nk-tank-information-title>
    <div class="card__body">
        <evj-nk-tank-information-innage 
            [innageMin]="cardData.dieValue" 
            [innageCurrent]="cardData.currentValue"
            [innageMax]="cardData.absolutValue"
        ></evj-nk-tank-information-innage>
        <evj-nk-tank-information-temperature 
            [temperature]="cardData.temperature" 
            [maxTemperature]="cardData.maxTemperature"
        ></evj-nk-tank-information-temperature>
        <evj-nk-tank-information-reservoir 
            [volumeFillPercentage] = "cardData.fillLevelPercentage"
            [status] = "cardData.objectStatus"
        ></evj-nk-tank-information-reservoir>
    </div>
    <evj-nk-tank-information-card-info
        [volumeMax]="cardData.maxValue"
        [volumeCurrent]=(bigNum)
        [volumeFillPercentage] = "cardData.fillLevelPercentage"
    ></evj-nk-tank-information-card-info>
</div>


<!-- // [volumeCurrent]="cardData.measuredVolume" -->