.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  &-body {
    display: flex;
    flex-direction: column;

    border: 1px var(--border-vidget-color);
    border-style: solid;

    box-sizing: border-box;
    z-index: 1;
    position: relative;

    width: 100%;
    padding: 3px;
    flex-grow: 1;
    background: var(--bg-body-color);

    overflow: hidden;
  }
}
