.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  &-body {
    display: flex;
    flex-direction: column;

    border: 1px var(--color-astue-onpz-widget-border);
    border-style: none solid solid solid;

    box-sizing: border-box;
    z-index: 1;
    position: relative;

    width: 100%;
    height: calc(100% - 40px);
    background: var(--color-astue-onpz-widget-bg);
  }
}
