<div class="coding-table">
    <div class="coding-table__title">
        <div class="short">SAP</div>
        <div class="big">Продукт</div>
        <div class="middle">ГОСТ</div>
        <div class="short">Код ОКПД 2</div>
    </div>
    <div class="coding-table__container">
        <div id="scrollDocCodingTable" class="scroll-block" >
            <div *ngFor="let item of data" class="record-table" (click)="onClick(item)" [class.active]="activeRecordId === item.id">
                <div class="short">{{ item.sapCode || '-' }}</div>
                <div class="big">{{ item.name || '-' }}</div>
                <div class="middle gost">{{ item.gost || '-' }}</div>
                <div class="short">{{ item.okpd2Code || '-' }}</div>
            </div>
        </div>
    </div>
    <div class="coding-table__bottom">
        <div class="bottom-block">
          <ng-container *ngFor="let filter of filters">
            <div class="edit-button" (click)="openFilter(filter)" [class.active-filter]="isPopoverOpened.get(filter.type)" [attr.id]="filter.type + '-doc-coding'">
                <div class="edit-button__icon">
                    <svg-icon *ngIf="isPopoverOpened.get(filter.type)" src="assets/icons/widgets/oil-control-all/document-coding/filter-blue.svg"></svg-icon>
                    <svg-icon *ngIf="!isPopoverOpened.get(filter.type)" src="assets/icons/widgets/oil-control-all/document-coding/filter.svg"></svg-icon>
                </div>
                <div class="edit-button__text">
                    <div class="name">{{ filter.name }} {{ getFilterCountData(filter.type) || '' }}</div>
                    <div class="icon">
                        <svg-icon src="assets/icons/widgets/oil-control-all/document-coding/arrow.svg"></svg-icon>
                    </div>
                </div>
            </div>
          </ng-container>
        </div>
    </div>
</div>
