<ng-container [ngSwitch]="true">
  <ng-container *ngSwitchCase="widgetType === 'admin-shift-schedule'">
    <div class="header-schedule">
      <!--<div class="header-schedule">-->
      <div class="header-schedule__content">
        <div class="header-schedule__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-schedule__name text-overflow">
          {{title}}
        </span>
        <div
          class="header-schedule__button"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <div class="header-schedule__container">
            <mat-form-field>
              <mat-select
                [compareWith]="compareFn"
                (selectionChange)="onSelected($event)"
                [(ngModel)]="selectValue"
              >
                <ng-container *ngIf="shiftSchedule">
                  <mat-option *ngFor="let value of localeSelect" [value]="value"
                              [attr.as-platform-testing]="'shiftschedule-dropdown-unit-{' + value.id + '}'"
                  >
                    {{value.name}}
                  </mat-option>
                </ng-container>
                <ng-container *ngIf="!shiftSchedule">
                  <mat-option *ngFor="let value of localeSelect" [value]="value">
                    {{value.name}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <span class="header-schedule__units">{{units}}</span>
        <div
          *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>
      <div
        class="header-schedule__admin-button"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div
          class="button text-overflow"
          [class.active]="isEventOpen === true"
          (click)="onSelectedMenu(true)"
        >
          Назначение дежурства
        </div>
        <div
          class="button text-overflow"
          [class.active]="isEventOpen === false"
          (click)="onSelectedMenu(false)"
        >
          Управление бригадами
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'admin-shift-schedule-old'">
    <div class="header-schedule">
      <!--<div class="header-schedule">-->
      <div class="header-schedule__content">
        <div class="header-schedule__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-schedule__name text-overflow">
          {{title}}
        </span>
        <div
          class="header-schedule__button"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <div class="header-schedule__container">
            <mat-form-field>
              <mat-select
                [compareWith]="compareFn"
                (selectionChange)="onSelected($event)"
                [(ngModel)]="selectValue"
              >
                <mat-option *ngFor="let value of localeSelect" [value]="value">
                  {{value.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <span class="header-schedule__units">{{units}}</span>
        <div
          *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>
      <div
        class="header-schedule__admin-button"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div
          class="button text-overflow"
          [class.active]="isEventOpen === true"
          (click)="onSelectedMenu(true)"
        >
          Назначение дежурства
        </div>
        <div
          class="button text-overflow"
          [class.active]="isEventOpen === false"
          (click)="onSelectedMenu(false)"
        >
          Управление бригадами
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'production-trend'">
    <div class="header-trend">
      <div class="header-trend__content">
        <div class="header-trend__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-trend__name text-overflow">
          {{title}}
        </span>
        <div
          class="header-trend__button"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <div class="header-schedule__container">
            <mat-form-field>
              <mat-select
                [compareWith]="compareFn"
                (selectionChange)="onSelected($event)"
                [(ngModel)]="selectValue"
              >
                <mat-option *ngFor="let value of localeSelect" [value]="value">
                  {{value.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <span class="header-trend__units">{{units}}</span>
        <div
          *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'events-workspace'">
    <div class="header-workspace">
      <div class="header-workspace__content drag handle">
        <div class="header-workspace__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-workspace__name text-overflow">
          {{title}}
        </span>
        <span class="header-workspace__units">{{units}}</span>
        <div
          *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div
        class="header-workspace__button"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div class="header-workspace__container" *ngIf="!!eventProdTask" (click)="changeStatus()">
          <div class="title">{{eventProdTask}}</div>
          <div class="icon-wrapper">
            <svg-icon
              src="assets/icons/in-work.svg"
              class="icon__add-button"
              [svgStyle]="{ 'width.px':17, 'height.px':17 }"
            ></svg-icon>
          </div>
        </div>
        <div class="header-workspace__container" (click)="backEvent()">
          <div class="title">Назад</div>
          <div class="icon-wrapper">
            <svg-icon
              src="assets/icons/arrow-back.svg"
              class="icon__add-button"
              [svgStyle]="{ 'width.px':17, 'height.px':17 }"
            ></svg-icon>
          </div>
        </div>
        <div
          class="header-workspace__container"
          *ngIf="!createIcon && blockWorkspaceButton"
          (click)="createEvent(false)"
        >
          <div class="title">Сохранить</div>
          <div class="icon-wrapper">
            <svg-icon
              src="assets/icons/widgets/widget-header/checkmark.svg"
              class="icon__add-button"
              [svgStyle]="{ 'width.px':20, 'height.px':20 }"
            ></svg-icon>
          </div>
        </div>
        <div class="header-workspace__container" (click)="createEvent(true)">
          <div class="title">Создать</div>
          <div class="icon-wrapper">
            <svg-icon
              src="assets/icons/add_button.svg"
              class="icon__add-button"
              [svgStyle]="{ 'width.px':14, 'height.px':16 }"
            ></svg-icon>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'report-server-configurator'">
    <div class="header-report-configurator">
      <div class="header-report-configurator__content drag handle">
        <div class="header-report-configurator__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-report-configurator__name text-overflow">
          {{title}}
        </span>
        <span class="header-report-configurator__units">{{units}}</span>
        <div
          *ngIf="!isPreview"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div class="header-report-configurator__button">
        <div
          class="header-report-configurator__container"
          (click)="reportSelected(true)"
          [class.active]="isReportButton"
        >
          <div class="title">Отчеты</div>
        </div>
        <div
          class="header-report-configurator__container"
          (click)="reportSelected(false)"
          [class.active]="!isReportButton"
        >
          <div class="title">Файлы</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'tank-calibration-table'">
    <div class="header-report-configurator">
      <div class="header-report-configurator__content drag handle">
        <div class="header-report-configurator__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-report-configurator__name text-overflow">
          {{title}}
        </span>
        <span class="header-report-configurator__units">{{units}}</span>
        <div
          *ngIf="!isPreview"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div class="header-report-configurator__button">
        <div
          class="header-report-configurator__container"
          (click)="reportSelected(true)"
          [class.active]="isReportButton"
        >
          <div class="title">Данные</div>
        </div>
        <div
          class="header-report-configurator__container"
          (click)="reportSelected(false)"
          [class.active]="!isReportButton"
        >
          <div class="title">История изменений</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'tank-information'">
    <div class="header-tank-information">
      <div class="header-tank-information__content drag handle">
        <div class="header-tank-information__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-tank-information__name text-overflow">
          {{title}}
        </span>
        <span class="header-tank-information__units">{{units}}</span>
        <div
          *ngIf="!isPreview"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div class="header-tank-information__button" [class.active]="filterTankInfo">
        <div class="header-tank-information__container" (click)="onFilterTankInfo()">
          <div class="title">Фильтр</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'astue-efficiency'">
    <div class="header-efficiency">
      <div class="header-efficiency__content drag handle">
        <div class="header-efficiency__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header-efficiency__name text-overflow">
          {{title}}
        </span>
        <span class="header-efficiency__units">{{units}}</span>
        <div
          *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div
        class="header-efficiency__buttons"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div
          class="button"
          [ngClass]="{'button_active':toggleAstue}"
          (click)="toggleAstueEfficiency(true)"
        >
          Исходные данные
        </div>
        <div
          class="button"
          [ngClass]="{'button_active':!toggleAstue}"
          (click)="toggleAstueEfficiency(false)"
        >
          Планирование
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'ejco-onpz-unit-sou' || widgetType === 'ejco-onpz-unit-kpe'">
    <div class="ejco">
      <div class="ejco__content drag handle">
        <div class="ejco__icon-wrapper">
          <ng-container *ngIf="(!code && icon)">
            <svg-icon [src]="iconRoute + icon + '.svg'"></svg-icon>
          </ng-container>
        </div>
        <span class="ejco__name text-overflow">
          {{title}}
        </span>
        <span class="ejco__units">{{units}}</span>
        <div
          *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>

      <div
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
        class="ejco__buttons"
      >
        <ng-container *ngFor="let tab of ejcoTabs">
          <div class="ejco__button" [class.ejco__button--active]="tab.caption === ejcoActiveTab">
            <div class="ejco__container" (click)="handleEjcoTabClick(tab.caption)">
              <div class="title">{{ tab.caption }}</div>
            </div>
          </div>
        </ng-container>
        <div class="ejco__button">
          <div class="ejco__container" (click)="handleEjcoTabClick()">
            <div class="title">В источник</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="widgetType === 'ejco-onpz-fsb-load'">
    <div class="ejco">
      <div class="ejco__content-wide drag handle">
        <div class="ejco__icon-wrapper">
          <ng-container *ngIf="(!code && icon)">
            <svg-icon [src]="iconRoute + icon + '.svg'"></svg-icon>
          </ng-container>
        </div>
        <span class="ejco__name text-overflow">
          {{title}}
        </span>
        <span class="ejco__units">{{units}}</span>
        <div
          *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="width: 100%; height: 100%; fill: #8C99B2"
            src="assets/icons/close_bad.svg"
          ></svg-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="header">
      <div class="header__content drag handle">
        <div class="header__icon-wrapper">
          <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
          <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
          {{code}}
        </div>
        <span class="header__name text-overflow">
          {{title}}
        </span>
        <span class="header__units">{{units}}</span>
        <div
          *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
          class="delete_widget"
          (click)="onRemoveButton()"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
        >
          <svg-icon
            style="fill: #8C99B2"
            src="assets/icons/close_bad.svg"
            [svgStyle]="{ 'width.px':14, 'height.px':14}"
          >
          </svg-icon>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
