.header {
  cursor: move !important;
  position: relative;
  height: 35px;
  width: 100%;
  box-sizing: border-box;
  z-index: 800;
  background-color: var(--bg-header-color);

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 11pt;
    font-weight: bold;
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }
}

.delete_widget {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 44px;
  height: 100%;
  background-color: var(--bg-header-color);
  padding: 9px 15px;
  box-sizing: border-box;
  z-index: 999;
  font-weight: bold;
  pointer-events: fill !important;
}

.header-workspace {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    width: 130px;
    .title {
      padding-left: 15px;
      position: relative;
      font-size: 0.875rem;
      width: 130px;
      text-align: left;
      line-height: 35px;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -4px;
        left: -1px;

        height: 9px;
        width: 9px;
        box-sizing: border-box;

        transform-origin: 43% 0;
        transform: rotate(45deg);

        background: var(--color-bg-main);
      }
    }

    .icon-wrapper {
      pointer-events: fill;
      cursor: pointer !important;
      display: flex;
      min-width: 35px;
      height: 100%;
      padding: 9px 5px;
      //margin-right: 10px;
      box-sizing: border-box;
      line-height: 25px;

      &:hover svg-icon {
        ::ng-deep .cls-1 {
          fill: white !important;
        }
      }
    }
  }

  &__content {
    cursor: move !important;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }

  .disabled {
    display: none;
  }
}

.header-schedule {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 0px 13px;

    .icon-wrapper {
      pointer-events: fill;
      cursor: pointer !important;
      display: flex;
      min-width: 44px;
      height: 100%;
      padding: 9px 15px;
      margin-right: 10px;
      box-sizing: border-box;
      line-height: 25px;

      &:hover svg-icon {
        ::ng-deep .cls-1 {
          fill: white !important;
        }
      }
    }
  }

  &__content {
    cursor: move !important;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 90%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: var(--color-bg-sub);
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
    color: var(--color-text-sub);
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;
    min-width: 225px;
    height: 100%;
    mat-form-field {
      width: 100%;
      margin-top: -3px;
      border-bottom: 1px solid var(--color-active);
    }
  }

  &__admin-button {
    display: flex;

    .button {
      cursor: pointer;
      color: var(--color-text-sub);
      font-size: 14px;
      background: var(--color-bg-additional);
      position: relative;
      border-bottom: 2px solid var(--color-text-sub);
      margin-right: 5px;
      padding: 5px;
      line-height: 25px;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -4px;
        left: -1px;

        height: 9px;
        width: 9px;
        box-sizing: border-box;

        transform-origin: 43% 0;
        transform: rotate(45deg);

        background: var(--color-bg-main);
      }

      &:after {
        z-index: 1;
        content: "";
        position: absolute;
        top: -2px;
        right: -1px;

        height: 7px;
        width: 7px;
        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        background: var(--color-bg-main);
      }
    }

    .active {
      background: var(--color-active-transparent);
      color: var(--color-text-main);
      border-bottom: 2px solid var(--color-active);
    }
  }

  ::ng-deep {
    .mat-form-field-infix {
      padding: 0px 13px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 0;
      .mat-form-field-ripple {
        opacity: 0;
      }
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      background-color: var(--color-bg-main);
    }

    .mat-select-value-text {
      font-size: 0.875rem;
    }

    .mat-select-arrow {
      background-image: url(../../../../assets/icons/widgets/production-trend/arrow-bottom.svg);
    }
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.header-trend {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 0px 13px;

    .icon-wrapper {
      pointer-events: fill;
      cursor: pointer !important;
      display: flex;
      min-width: 44px;
      height: 100%;
      padding: 9px 15px;
      margin-right: 10px;
      box-sizing: border-box;
      line-height: 25px;

      &:hover svg-icon {
        ::ng-deep .cls-1 {
          fill: white !important;
        }
      }
    }
  }

  &__content {
    cursor: move !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 90%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    background-color: var(--color-bg-sub);
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
    color: var(--color-text-sub);
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;
    min-width: 225px;
    height: 100%;
    mat-form-field {
      width: 100%;
      margin-top: -3px;
      border-bottom: 1px solid var(--color-active);
    }
  }

  ::ng-deep {
    .mat-form-field-infix {
      padding: 0px 13px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
      height: 0;
      .mat-form-field-ripple {
        opacity: 0;
      }
    }
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
      background-color: var(--color-bg-main);
    }

    .mat-select-value-text {
      font-size: 0.875rem;
    }

    .mat-select-arrow {
      background-image: url(../../../../assets/icons/widgets/production-trend/arrow-bottom.svg);
    }
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.header-report-configurator {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    .title {
      //  padding-left: 10px;
      position: relative;
      font-size: 0.875rem;
      width: 145px;
      text-align: center;
      line-height: 35px;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -4px;
        left: -1px;

        height: 9px;
        width: 9px;
        box-sizing: border-box;

        transform-origin: 43% 0;
        transform: rotate(45deg);

        background: var(--color-bg-main);
      }
    }

    .icon-wrapper {
      pointer-events: fill;
      cursor: pointer !important;
      display: flex;
      min-width: 44px;
      height: 100%;
      padding: 9px 15px;
      margin-right: 10px;
      box-sizing: border-box;
      line-height: 25px;

      &:hover svg-icon {
        ::ng-deep .cls-1 {
          fill: white !important;
        }
      }
    }
  }

  &__content {
    cursor: move !important;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -4px;
    right: 2px;

    height: 12px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }

  .active {
    background-color: var(--color-border-active);
  }
}

.header-tank-information {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    .title {
      //  padding-left: 10px;
      position: relative;
      font-size: 0.875rem;
      width: 145px;
      text-align: center;
      line-height: 35px;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -4px;
        left: -1px;

        height: 9px;
        width: 9px;
        box-sizing: border-box;

        transform-origin: 43% 0;
        transform: rotate(45deg);

        background: var(--color-bg-main);
      }
    }

    .icon-wrapper {
      pointer-events: fill;
      cursor: pointer !important;
      display: flex;
      min-width: 44px;
      height: 100%;
      padding: 9px 15px;
      margin-right: 10px;
      box-sizing: border-box;
      line-height: 25px;
      &:hover svg-icon {
        ::ng-deep .cls-1 {
          fill: white !important;
        }
      }
    }
  }

  &__content {
    cursor: move !important;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;

    &:hover {
      background-color: var(--color-border-active);
    }
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -4px;
    right: 2px;

    height: 12px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }

  .active {
    background-color: var(--color-border-active);
  }
}

.header-efficiency {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__content {
    cursor: move !important;
    width: 50%;
    min-width: 440px;
    max-width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;

    &:hover svg-icon {
      ::ng-deep .cls-1 {
        fill: white !important;
      }

      ::ng-deep .cls-2 {
        fill: white !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__buttons {
    position: relative;
    height: 100%;
    width: 450px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;

    .button {
      position: relative;
      width: 220px;
      height: 30px;
      border-bottom: 2px solid var(--color-border-unactive);
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-aw-header-bg);
      font-size: 14px;
      color: var(--color-text-sub);

      &:hover {
        cursor: pointer;
        opacity: 0.7;
        border-color: var(--color-active);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 10px;
        height: 10px;
        top: -4px;
        left: -5px;
        background: var(--color-bg-main);
        transform: rotate(45deg);
      }

      &::after {
        left: auto;
        right: -5px;
      }

      &_active {
        background: var(--color-bg-active-gradient);
        border-color: var(--color-active);
        color: var(--color-text-main);

        &:hover {
          cursor: default;
          opacity: 1;
        }
      }
    }
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }
}

.icon {
  &__add-button {
    &::ng-deep {
      .cls-1 {
        fill: var(--color-text-sub);
      }
    }
  }
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ejco__content-wide {
  cursor: move !important;
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-additional);
  position: relative;

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 999;
    content: "";
    position: absolute;
    top: -3px;
    right: -2px;
    height: 9px;
    width: 9px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.ejco {
  position: relative;
  height: 35px;
  width: calc(100% - 5px);
  box-sizing: border-box;
  z-index: 800;
  display: flex;
  justify-content: space-between;

  &__content {
    cursor: move !important;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-bg-additional);
    position: relative;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }

    &:after {
      z-index: 999;
      content: "";
      position: absolute;
      top: -3px;
      right: -2px;
      height: 9px;
      width: 9px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);

      background: var(--color-bg-main);
    }
  }

  &__icon-wrapper {
    pointer-events: fill;
    cursor: pointer !important;
    display: flex;
    min-width: 44px;
    height: 100%;
    padding: 9px 15px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;
    background-color: var(--color-bg-sub);

    svg-icon {
      margin-top: -4px;

      ::ng-deep {
        fill: var(--color-text-sub) !important;
      }
    }
  }

  &__title {
    padding-left: 10px;
    position: relative;
    cursor: default;
    font-size: 0.875rem;
    width: 130px;
    text-align: center;
    line-height: 35px;
  }

  &__name {
    font-size: 0.875rem;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  &__button {
    background-color: var(--color-bg-additional);
    display: flex;
    position: relative;

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      top: -4px;
      left: -1px;

      height: 9px;
      width: 9px;
      box-sizing: border-box;

      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }

    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: -4px;
      right: -8px;
      height: 9px;
      width: 9px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(45deg);

      background: var(--color-bg-main);
    }
  }

  &__button--active {
    background: var(--color-aps-active) !important;
  }

  &__container {
    pointer-events: fill;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    padding: 0 7px;

    .title {
      position: relative;
      font-size: 0.875rem;
    }
  }

  .disabled {
    display: none;
  }
}
