<div class="day">
  <mat-form-field>
    <mat-label>Выберите день</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="date" />
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon (click)="clickDay()">
        <svg-icon
          src="assets/icons/widgets/reports/calend.svg"
          [svgStyle]="{ 'width.px':25, 'height.px':25}"
        >
        </svg-icon>
      </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #picker (daySelected)="chosenDayHandler($event, picker)"></mat-datepicker>
  </mat-form-field>
</div>
