<div class="main-container">
  <div
    class="line"
    [class.line--dashed]="disabled && !rightLineDashed"
    [ngClass]="{
    selectedLine: code === mvpService.selectedCode
  }"
  >
    <div
      class="connection-circle"
      [class.enabled]="flowData?.isEnable"
    ></div>
  </div>
  <div
    class="container"
    [ngClass]="{
      off:!flowData?.isEnable,
      warning:flowData?.isExceedingConfInterval && !!flowData?.isEnable,
      selected: code === mvpService.selectedCode
    }"
  >
    <div class="circle" #chart>
      <div class="diagram-values" *ngIf="!disabled">
        <span class="value">{{flowData?.tolerance | number:'0.0-0'}}</span>
        <span class="percent">%</span>
      </div>
    </div>
    <div class="title">
      <span>{{flowData?.tag}}</span>
      <div class="connection-circle" *ngIf="!noConnection"></div>
    </div>
  </div>
  <div
    *ngIf="!noConnection"
    class="line"
    [class.line--dashed]="rightLineDashed"
    [ngClass]="{
      enableLine: !flowData?.isEnable,
      selectedLine: code === mvpService.selectedCode
    }"
  ></div>
</div>
