<div class="main-container">
  <div class="line"
  [ngClass]="{
    selectedLine:flowData?.code === mvpService.selectedCode
  }">
    <div class="connection-circle"></div>
  </div>
  <div class="container"
    [ngClass]="{
      off:!flowData?.isEnable,
      warning:flowData?.isExceedingConfInterval,
      selected:flowData?.code === mvpService.selectedCode
    }"
  >
    <div class="circle" #chart>
      <div class="diagram-values">
        <span class="value">{{flowData?.tolerance | number:'0.0-0'}}</span>
        <span class="percent">%</span>
      </div>
    </div>
    <div class="title">
      <span>{{flowData?.tag}}</span>
      <div class="connection-circle" *ngIf="!noConnection"></div>
    </div>
  </div>
  <div 
    *ngIf="!noConnection"
    class="line"
    [ngClass]="{
      enableLine: !flowData?.isEnable,
      selectedLine:flowData?.code === mvpService.selectedCode
    }"
  ></div>
</div>

