* {
  box-sizing: border-box;
}

.container {
  margin-right: -2px;

  display: flex;
  align-items: center;

  .title {
    height: 25px;
    width: 70px;

    padding-left: 3px;

    font-size: 12px;
    line-height: 14px;

    display: flex;
    align-items: center;

    background: var(--sou-mvp-color-bg-title);
    border: 1px solid var(--sou-mvp-color-border);
    border-left: none;
    border-radius: 2px;

    transform: translate(-4.5px);

    position: relative;

    span {
      color: var(--sou-mvp-color-text-diagram-main);

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .circle {
    height: 44px;
    width: 44px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--sou-mvp-color-bg-title);

    border-radius: 50%;
    border: 1px solid var(--sou-mvp-color-border);
    position: relative;

    .diagram-values {
      height: 34px;
      width: 34px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;

      .value {
        font-size: 12px;
        line-height: 15px;

        color: var(--sou-mvp-color-text-diagram-main);
      }

      .percent {
        font-size: 8px;
        line-height: 10px;

        color: var(--sou-mvp-color-text-diagram-sub);
      }
    }
  }

  .connection-circle {
    height: 8px;
    width: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-border);

    position: absolute;
    right: -4px;
    z-index: 1;
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-border);
      }

      .diagram-value {
        fill: var(--sou-mvp-color-white);
      }
    }
  }
}

.off {
  .title {
    background: var(--sou-mvp-color-bg-main);
    border-color: var(--sou-mvp-color-border-unactive);

    span {
      color: var(--sou-mvp-color-text-diagram-sub);
    }
  }

  .circle {
    background: var(--sou-mvp-color-bg-main);
    border-color: var(--sou-mvp-color-border-unactive);

    .diagram-values {
      .value {
        color: var(--sou-mvp-color-text-diagram-sub);
      }

      .percent {
        color: var(--sou-mvp-color-text-diagram-sub);
      }
    }
  }

  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border-color: var(--sou-mvp-color-border-unactive);
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-bg-title);
      }
    }
  }
}

.warning {
  .title {
    background: var(--sou-mvp-color-bg-warning);
    border-color: var(--sou-mvp-color-warning);

    span {
      color: var(--sou-mvp-color-white);
    }
  }

  .circle {
    background: var(--sou-mvp-color-bg-warning);
    border-color: var(--sou-mvp-color-warning);

    .diagram-values {
      .value {
        color: var(--sou-mvp-color-white);
      }

      .percent {
        color: var(--sou-mvp-color-text-diagram-main);
      }
    }
  }

  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border-color: var(--sou-mvp-color-warning);
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-warning);
      }
    }
  }
}

.line {
  height: 1px;
  width: 23px;
  border-top: 1px solid var(--sou-mvp-color-border);

  position: relative;

  .connection-circle {
    height: 8px;
    width: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-border);

    position: absolute;
    top: -4px;
    left: -4px;
    z-index: 1;
  }
}

.main-container {
  margin: 5px 0;

  display: flex;
  align-items: center;
}

.selected {
  .title {
    background: var(--sou-mvp-color-bg-active-spec);
    border-color: var(--sou-mvp-color-active);

    span {
      color: var(--sou-mvp-color-text-diagram-main);
    }

    .connection-circle {
      border-color: var(--sou-mvp-color-active);
    }
  }

  .circle {
    background: var(--sou-mvp-color-bg-active-spec);
    border-color: var(--sou-mvp-color-active);

    .diagram-values {
      .value {
        color: var(--sou-mvp-color-text-diagram-main);
      }

      .percent {
        color: var(--sou-mvp-color-text-diagram-main);
      }
    }
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-border);
      }

      .diagram-value {
        fill: var(--sou-mvp-color-white);
      }
    }
  }
}

.enableLine {
  border-color: var(--sou-mvp-color-border-unactive);
}

.selectedLine {
  border-color: var(--sou-mvp-color-active);
}
