<div class="card" *ngIf="!!data" (click)="switchToIndicatorScreen()">
  <div class="card__header header">
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/{{data?.iconType}}.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__title">{{data?.productName}}</div>
    <div class="header__unit">{{data?.unitName}}</div>
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/fullscreen.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__button"><span></span></div>
  </div>
  <div class="card-border">
    <div class="card__legend legend">
      <div class="legend__units">{{data.units}}</div>
      <div class="legend__value value" [ngClass]="isDeviationChart?'economy':'plan'">
        <div class="value__title">{{data?.planText}}</div>
        <div class="value__card">{{data?.currentPlanValue}}</div>
      </div>
      <div class="legend__value value" [ngClass]="isDeviationChart?'over':''">
        <div class="value__title">{{data?.factText}}</div>
        <div class="value__card">{{data?.currentFactValue}}</div>
      </div>
    </div>
    <div class="card__chart">
      <evj-limits-chart
        [data]="data.graphs"
        *ngIf="!isDeviationChart else deviation"
      ></evj-limits-chart>
    </div>
  </div>
</div>

<ng-template #deviation>
  <evj-deviation-limits-chart
    [data]="data.graphs"
    [isLowerEconomy]="data.isLowerEconomy"
  ></evj-deviation-limits-chart>
</ng-template>
