<div class="card" *ngIf="!!data" (click)="switchToIndicatorScreen()">
  <div class="card__header header">
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/{{data?.iconType}}.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__title">{{data?.productName}}</div>
    <div class="header__unit">{{data?.unitName}}</div>
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/fullscreen.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__button"><span></span></div>
  </div>
  <div class="card-border">
    <div class="card__legend legend">
      <div class="legend__units">{{data.units}}</div>
      <ng-container *ngFor="let label of data.labels">
        <div class="legend__value value" [ngClass]="label.type">
          <div class="value__title">{{label?.text || '-'}}</div>
          <div class="value__card">{{ +label?.value }}</div>
        </div>
      </ng-container>
    </div>
    <div class="card__chart">
      <evj-limits-chart
        [data]="data.graphs"
        *ngIf="!isDeviationChart else deviation"
      ></evj-limits-chart>
    </div>
  </div>
</div>

<ng-template #deviation>
  <evj-deviation-limits-chart
    [data]="data.graphs"
    [isLowerEconomy]="data.isEconomy"
  ></evj-deviation-limits-chart>
</ng-template>
