<div class="card">
  <div class="card__header header">
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/electro.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__title">Электроэнергия</div>
    <div class="header__unit">АВТ-10</div>
    <svg-icon
      class="header__icon"
      src="assets/icons/widgets/ASTUE-ONPZ/fullscreen.svg"
      [svgStyle]="{ 'width.px':25, 'height.px':25}"
    ></svg-icon>
    <div class="header__button"><span></span></div>
  </div>
  <div class="card__legend legend">
    <div class="legend__units">Ед. измерения</div>
    <div class="legend__value value">
      <div class="value__title">Факт</div>
      <div class="value__card">500</div>
    </div>
    <div class="legend__value value plan">
      <div class="value__title">План</div>
      <div class="value__card">500</div>
    </div>
  </div>
  <div class="card__chart">
    <evj-limits-chart [data]="data"></evj-limits-chart>
  </div>
</div>
