.card {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 10px;

  svg {
    width: 100%;
    height: 100%;
  }

  .text {
    font-size: 3px;
    fill: var(--color-text-main-transparent);
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &-active {
    .text {
      fill: var(--color-text-main);
    }
  }
}
