.container-line{
    display: flex;
    flex-flow: wrap;
    direction: ltr;

    &__title{
        margin-top: 10px;
        margin-left: 20px;
        height: 130px;
        width: 200px;
        text-align: center;
        line-height: 130px;
    }

    &__content{
        margin-top: 10px;
        margin-left: 25px;
    }
}