.container-line{
    display: flex;
    flex-flow: wrap;
    direction: ltr;

    &__title{
        margin-top: 10px;
        margin-left: 15px;
        height: 100px;
        width: 190px;
        text-align: center;
        line-height: 100px;
    }

    &__content{
        margin-top: 7px;
        margin-left: 20px;
    }
}