<div class="container">
  <div class="header">
    <img alt="" src="assets/pic/pen.svg" />
    <div class="title">Корректировка плана на <span class="title__date"> {{ modifiedHeaderDate }} </span></div>
  </div>
  <form class="content" [formGroup]="correctionForm" (ngSubmit)="submitForm()">
    <textarea class="comment-input" type="text" placeholder="Введите данные..." formControlName="correctionText"></textarea>
    <div class="date">
      <div class="plan-date">
        <div class="title">Дата корректировки:</div>
        <div class="picker">
          <mat-form-field>
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <input matInput [matDatepicker]="picker" formControlName="correctionDate" />
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-dialog-actions>
      <div class="btns">
        <button class="save" matRipple matRippleColor="white">
          <svg-icon src="assets/icons/widgets/KPE/kpe-execution-production-program/save.svg"></svg-icon>
          Сохранить
        </button>
        <button class="cancel" matRipple matRippleColor="white" mat-dialog-close>Отменить</button>
      </div>
    </mat-dialog-actions>
  </form>
  <evj-alert-window [info]="alert"></evj-alert-window>
</div>
