<div class="diagram">
  <!-- frame -->
  <div class="diagram__frame diagram__frame_top">
    <div class="line"></div>
  </div>
  <div class="diagram__frame diagram__frame_bottom">
    <div class="line"></div>
  </div>
  <!-- frame -->

  <div class="diagram__body">
    <div class="diagram__header header">
      <div class="header__units">{{data.graphUnits}}</div>
      <div class="header__title">{{data.graphTitle}}</div>
      <div class="header__legend legend">
        <div class="legend__item">Факт</div>
        <div class="legend__item">План</div>
      </div>
    </div>
    <div class="diagram__graph graph">
      <div class="graph__axis axis">
        <div class="axis-x">
          <div
            class="axis-x__item"
            *ngFor="let col of data.columns"
            [ngClass]="{'axis-x__item_active':selection.isSelected(col)}"
          >
            {{col.date|date:"dd"}}
          </div>
        </div>
        <div class="axis-y"></div>
      </div>

      <ng-container *ngIf="data.graphType==='baseline';else noBaseline">
        <div class="graph__cols graph__cols_baseline">
          <div
            class="graph__limit"
            style.--limit-color="var(--color-smp-{{data?.limits.upType}})"
            [style.bottom]="limits.up"
          >
            <div class="limit"></div>
            <div
              class="limit__label"
              *ngIf="selection.selected[0]?.fact > selection.selected[0]?.limit.value && selection.selected[0].direction==='up'"
            >
              <svg-icon [src]="iconUrl" [svgStyle]="{ 'width.px':17, 'height.px':17 }"></svg-icon>
              +{{(selection.selected[0]?.fact - selection.selected[0]?.limit.value).toFixed(0)}}
            </div>
          </div>
          <div
            class="graph__col"
            *ngFor="let col of data.columns"
            [ngClass]="{'graph__col_active graph__col_active-baseline':selection.isSelected(col)}"
          >
            <evj-production-deviations-column
              *ngIf="col.direction==='up'"
              [data]="col"
            ></evj-production-deviations-column>
          </div>
        </div>
        <div class="graph__baseline"></div>
        <div class="graph__cols graph__cols_baseline graph__cols_down">
          <div
            class="graph__limit"
            style.--limit-color="var(--color-smp-{{data?.limits.downType}})"
            [style.bottom]="limits.down"
          >
            <div class="limit"></div>
            <div
              class="limit__label"
              *ngIf="selection.selected[0]?.fact > selection.selected[0]?.limit.value && selection.selected[0].direction==='down'"
            >
              <svg-icon [src]="iconUrl" [svgStyle]="{ 'width.px':17, 'height.px':17 }"></svg-icon>
              -{{(selection.selected[0]?.fact - selection.selected[0]?.limit.value).toFixed(0)}}
            </div>
          </div>
          <div class="graph__col" *ngFor="let col of data.columns">
            <evj-production-deviations-column
              *ngIf="col.direction==='down'"
              [data]="col"
            ></evj-production-deviations-column>
          </div>
        </div>
      </ng-container>
      <ng-template #noBaseline>
        <div class="graph__cols">
          <div
            class="graph__limit"
            style.--limit-color="var(--color-smp-{{data?.limits.upType}})"
            [style.bottom]="limits.up"
          >
            <div class="limit"></div>
            <div class="limit__label" *ngIf="selection.selected[0]?.fact > selection.selected[0]?.limit.value">
              <svg-icon [src]="iconUrl" [svgStyle]="{ 'width.px':17, 'height.px':17 }"></svg-icon>
              +{{(selection.selected[0]?.fact - selection.selected[0]?.limit.value).toFixed(0)}}
            </div>
          </div>
          <div
            class="graph__col"
            *ngFor="let col of data.columns"
            [ngClass]="{'graph__col_active':selection.isSelected(col)}"
          >
            <evj-production-deviations-column [data]="col"></evj-production-deviations-column>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="diagram__sidebar">
    <div class="label" *ngIf="data.graphType==='baseline';else labelNoBaseline">{{data?.plan.toFixed(0)}}</div>
    <ng-template #labelNoBaseline>
      <div class="label label_big">
        <div class="label__item">{{selection.selected[0]?.plan.toFixed(0)}}</div>
        <div class="label__item">{{selection.selected[0]?.fact.toFixed(0)}}</div>
      </div>
    </ng-template>
  </div>
</div>
