.selects {
  display: flex;
  gap: 2%;
  margin-left: 15px;

  & > * {
    margin: auto 0;
  }

  .option-select {
    display: flex;
    align-items: center;
    margin-left: 2px;

    .dropdown {
      height: 24px;
      width: 140px;

      display: flex;
      align-items: center;

      background: var(--sou-mvp-color-bg-select);

      border: 1px solid var(--sou-mvp-color-border);
      border-radius: 3px;

      &__select {
        margin-right: 10px;
        margin-left: 4px;

        ::ng-deep {
          .mat-select-placeholder {
            color: #d7e2f2;
          }
        }
      }
    }
  }
}
