<div class="container">
  <div class="top">
    <div class="top__title">
      <span>Электроэнергия</span>
    </div>
    <div class="top__units">
      <div class="unit top__units__block">
        <span>кВт*ч/с</span>
      </div>
      <div class="measure top__units__block top__units__active">
        <span>%</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main__diagram">
      <div class="circle-diagram">
        <svg-icon style="width: 100%; height: 100%" src="assets/icons/widgets/KPE/kpe-energetic/types/electricity.svg" class="icon"></svg-icon>
        <evj-kpe-energy-diagram></evj-kpe-energy-diagram>
      </div>
    </div>
    <div class="main__stats">
      <div class="titles">
        <span>Факт:</span>
        <span>Откл.:</span>
        <span>План:</span>
      </div>
      <div class="values">
        <span>99.7%</span>
        <span class="main__stats__warning">∆ 8.7%</span>
        <span class="main__stats__disabled">100%</span>
      </div>
    </div>
  </div>
</div>
