%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.disable-person {
  opacity: 0.85;
}

.onShift__person {
  width: 170px;
  height: 75px;
  display: inline-flex;
  position: relative;
  border-top: 0.5px dashed var(--color-border-main-transparrent);
  font-size: 10px;
  box-sizing: border-box;
  padding-top: 5px;
  margin: 0 5px 0 20px;

  .person {
    display: flex;
    &__avatar {
      flex-basis: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      box-sizing: border-box;
      position: relative;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        bottom: -2px;
        right: 0px;

        height: 3px;
        width: 13px;

        box-sizing: border-box;
        background: var(--color-bg-main);
      }
    }

    &__img {
      position: absolute;
      top: 5px;
      left: -4px;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      //background: url("../../../../../assets/pic/avatar_temp.jpg");
      //background-repeat: no-repeat;
      //background-size: contain;
    }

    &__info {
      flex-basis: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__name {
      color: var(--color-text-main);
      font-size: 13px;
    }

    &__position {
      color: var(--color-text-sub);
      font-size: 10px;
    }

    &__place {
      color: var(--color-text-sub-heading);
      font-size: 10px;
    }

    &__status {
      display: inline-flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding-top: 3px;
      border-top: 0.5px dashed var(--color-border-main-transparrent);
      position: relative;

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: 7px;
        left: -18px;

        height: 1px;
        width: 20px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-40deg);

        border-bottom: 0.5px dashed var(--color-border-main-transparrent);
        background: transparent;
      }

      .status {
        &__name {
          color: var(--color-text-main);
          &__success {
            color: var(--color-shift-status-success);
          }
          &__progress {
            color: var(--color-shift-status-process);
          }
          &__absent {
            color: var(--color-shift-status-absent);
          }
          &__missing {
            color: var(--color-shift-status-missing);
          }
          &__init {
            color: var(--color-shift-status-init);
          }
        }
        &__icon {
          width: 10px;
          height: 10px;
          border-radius: 50%;

          &__success {
            background-color: var(--color-shift-status-success);
            mask: url("../../../../../assets/icons/widgets/change-shift/statuses/success.svg")
              no-repeat center;
            mask-size: contain;
          }
          &__progress {
            background-color: var(--color-shift-status-process);
            mask: url("../../../../../assets/icons/widgets/change-shift/statuses/progress.svg")
              no-repeat center;
            mask-size: contain;
          }
          &__absent {
            background-color: var(--color-shift-status-absent);
            mask: url("../../../../../assets/icons/widgets/change-shift/statuses/absent.svg")
              no-repeat center;
            mask-size: contain;
          }
          &__missing {
            background-color: var(--color-shift-status-missing);
            mask: url("../../../../../assets/icons/widgets/change-shift/statuses/missing.svg")
              no-repeat center;
            mask-size: contain;
          }
          &__init {
            background-color: var(--color-shift-status-init);
            mask: url("../../../../../assets/icons/widgets/change-shift/statuses/init.svg")
              no-repeat center;
            mask-size: contain;
          }
        }
      }
    }
  }
}

.isOnShift {
  .person {
    &__avatar {
      border-bottom: 0.5px dashed var(--color-border-main-transparrent);
    }
    &__info {
      justify-content: space-between;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.allPeople {
  border-bottom: 0.5px dashed var(--color-border-main-transparrent);
  .person {
    &__info {
      justify-content: space-around;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.dropdown {
  position: absolute;
  width: 115px;
  //min-height: 20px;
  background: var(--color-bg-main);
  z-index: 1;
  display: flex;
  display: block;
  flex-direction: column;
  box-sizing: border-box;
  bottom: 0px;
  right: 0px;

  &__item {
    border: 0.5px dashed var(--color-border-main-transparrent);
    border-top: none;
    height: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background: var(--color-bg-active);
    }
  }
}

.disable {
  display: none;
}
