<div class="onShift__person  gridster-item-content" (click)="showMenu()" [ngClass]="(onShift)?'isOnShift':'allPeople'">
  <div class="circle circle__left circle__left-top"></div>
  <div class="circle circle__right circle__right-top"></div>
  <div class="person__avatar">
    <div class="circle circle__left circle__left-bottom"></div>
    <div class="person__img"></div>
  </div>
  <div class="person__info" *ngIf="person">
    <div class="person__name" *ngIf="person.employee">{{ person.employee.firstName}} {{person.employee.lastName}}</div>
    <div class="person__position" *ngIf="person.employee">{{ person.employee.position }}</div>
    <div class="person__place">Блок очистки</div>
    <div class="person__status" *ngIf="onShift">
      <div class="circle circle__right circle__right-top"></div>
      <div class="status__name">{{ person.status }}</div>
      <div class="status__icon"></div>
    </div>
  </div>
  <div *ngIf="onShift">
    <div class="dropdown disable" *ngIf="!person.main" #dropdown>
      <div class="dropdown__item" (click)="menuCheck($event)">Готов</div>
      <div class="dropdown__item" (click)="menuCheck($event)">Отсутствует</div>
      <div class="dropdown__item" (click)="menuCheck($event)">
        Сделать главным
      </div>
    </div>
  </div>
</div>
