<div style="height: 100%; width: 100%" class="container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()">
  <evj-widget-header-smp [uniqId]="widgetUniqId" *ngIf="isHover"></evj-widget-header-smp>

  <ng-container>
    <div class="content_block" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <div class="blocks">
        <div class="container_oils" id="test" [class.container_oils_short]="checkWidth">
          <div class="container_oil" [class.container_oil_short]="checkWidth">
            <div class="oilCircle" #oilCircle [class.oilCircle_short]="checkWidth">
              <svg
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
                id="Слой_1"
                x="0px"
                y="0px"
                viewBox="0 180 600 530"
                style="enable-background: new 0 0 595.3 841.9"
                class="svg-circle"
                [class.svg-circle-short]="checkWidth"
              >
                <linearGradient
                  id="XMLID_55_"
                  gradientUnits="userSpaceOnUse"
                  x1="387.7413"
                  y1="444.0312"
                  x2="587.8844"
                  y2="444.0312"
                >
                  <stop offset="0" style="stop-color: #22252f; stop-opacity: 0" />
                  <stop offset="1" style="stop-color: #22252f" />
                </linearGradient>
                <g id="3">
                  <path
                    id="XMLID_53_"
                    class="st0"
                    d="M409.8,446.9c0,39.4-7,77.2-19.8,112.2h178.1c12.8-35,19.8-72.8,19.8-112.2
                                                c0-41.6-7.8-81.4-22-117.9H387.7C401.9,365.5,409.8,405.3,409.8,446.9z"
                  />
                </g>
                <linearGradient
                  id="XMLID_57_"
                  gradientUnits="userSpaceOnUse"
                  x1="260.1254"
                  y1="684.8049"
                  x2="517.949"
                  y2="684.8049"
                >
                  <stop offset="0" style="stop-color: #22252f" />
                  <stop offset="1" style="stop-color: #22252f" />
                </linearGradient>
                <g id="5">
                  <path
                    id="XMLID_52_"
                    class="st1"
                    d="M339.8,648.6c-22.3,28.3-49.3,52.8-79.7,72.4h178.1c30.4-19.6,57.3-44.1,79.7-72.4H339.8z"
                  />
                </g>

                <linearGradient
                  id="XMLID_58_"
                  gradientUnits="userSpaceOnUse"
                  x1="345.6067"
                  y1="604.1593"
                  x2="564.9169"
                  y2="604.1593"
                >
                  <stop offset="0" style="stop-color: #22252f" />
                  <stop offset="1" style="stop-color: #22252f" />
                </linearGradient>
                <g id="4">
                  <path
                    id="XMLID_51_"
                    class="st2"
                    d="M564.9,567.3H386.8c-10.5,26.5-24.4,51.2-41.2,73.8h178.1C540.5,618.5,554.4,593.7,564.9,567.3z
                                                "
                  />
                </g>

                <linearGradient
                  id="XMLID_59_"
                  gradientUnits="userSpaceOnUse"
                  x1="341.2466"
                  y1="283.9031"
                  x2="562.569"
                  y2="283.9031"
                >
                  <stop offset="0" style="stop-color: #22252f" />
                  <stop offset="1" style="stop-color: #22252f" />
                </linearGradient>
                <g id="2">
                  <path
                    id="XMLID_50_"
                    class="st3"
                    d="M519.4,247H341.2c17.5,22.4,32,47.2,43.2,73.8h178.1C551.4,294.2,536.8,269.5,519.4,247z"
                  />
                </g>

                <linearGradient
                  id="XMLID_60_"
                  gradientUnits="userSpaceOnUse"
                  x1="250.8763"
                  y1="203.2574"
                  x2="513.3126"
                  y2="203.2574"
                >
                  <stop offset="0" style="stop-color: #22252f" />
                  <stop offset="1" style="stop-color: #22252f" />
                </linearGradient>
                <g id="1" class="st4">
                  <path
                    id="XMLID_49_"
                    class="st4"
                    d="M335.2,239.5h178.1c-23.7-28.7-52.2-53.2-84.3-72.4H250.9C283,186.2,311.5,210.8,335.2,239.5z"
                  />
                </g>
                <g>
                  <path
                    id="XMLID_48_"
                    class="st5"
                    d="M317.4,562.5H19.5c-4.3-4.7-6.7-7.4-10.9-12.1V337.1c4.3-4.7,6.7-7.4,10.9-12.1h297.9"
                  />
                </g>

                <g id="XMLID_56_">
                  <g id="XMLID_395_">
                    <path
                      id="XMLID_442_"
                      class="st6"
                      d="M228.5,362.5l-2.9-2.5c-0.4,0.5-0.8,1-1.3,1.5l2.9,2.5C227.6,363.5,228,363,228.5,362.5z"
                    />
                    <path
                      id="XMLID_441_"
                      class="st6"
                      d="M233.6,357.1l-2.7-2.7c-0.5,0.5-0.9,0.9-1.3,1.4l2.7,2.6
                                                        C232.7,357.9,233.1,357.5,233.6,357.1z"
                    />
                    <path
                      id="XMLID_440_"
                      class="st6"
                      d="M231,359.8l-2.8-2.6c-0.4,0.5-0.9,0.9-1.3,1.4l2.8,2.5C230.1,360.7,230.5,360.2,231,359.8z"
                    />
                    <path
                      id="XMLID_439_"
                      class="st6"
                      d="M221.5,371.3l-3.1-2.2c-0.4,0.5-1.3,1.9-1.7,2.4l3.7,1.4
                                                        C220.7,372.3,221.1,371.8,221.5,371.3z"
                    />
                    <path
                      id="XMLID_438_"
                      class="st6"
                      d="M226,365.4l-2.9-2.4c-0.4,0.5-0.8,1-1.2,1.5l3,2.4C225.2,366.4,225.6,365.9,226,365.4z"
                    />
                    <path
                      id="XMLID_437_"
                      class="st6"
                      d="M223.7,368.3l-3-2.3c-0.4,0.5-0.8,1-1.2,1.5l3,2.3C222.9,369.3,223.3,368.8,223.7,368.3z"
                    />
                    <path
                      id="XMLID_436_"
                      class="st6"
                      d="M244.7,347.1l-2.4-3c-0.5,0.4-1,0.8-1.5,1.2l2.4,3C243.7,347.9,244.2,347.5,244.7,347.1z"
                    />
                    <path
                      id="XMLID_435_"
                      class="st6"
                      d="M243.9,342.9l2.3,3c0.5-0.4,2.8-2.1,3.3-2.5l-4.1-1.7C244.9,342.1,244.4,342.5,243.9,342.9z"
                    />
                    <path
                      id="XMLID_434_"
                      class="st6"
                      d="M236.2,354.4l-2.6-2.8c-0.5,0.4-0.9,0.9-1.4,1.3l2.7,2.7
                                                        C235.3,355.3,235.8,354.9,236.2,354.4z"
                    />
                    <path
                      id="XMLID_433_"
                      class="st6"
                      d="M241.8,349.4l-2.4-2.9c-0.5,0.4-1,0.8-1.5,1.3l2.5,2.9C240.9,350.3,241.3,349.8,241.8,349.4z
                                                        "
                    />
                    <path
                      id="XMLID_432_"
                      class="st6"
                      d="M239,351.9l-2.5-2.8c-0.5,0.4-1,0.9-1.4,1.3l2.6,2.8C238.1,352.7,238.5,352.3,239,351.9z"
                    />
                    <path
                      id="XMLID_431_"
                      class="st6"
                      d="M407.2,360.9l2.8-2.6c-0.4-0.5-0.9-0.9-1.3-1.4l-2.7,2.6C406.4,360,406.8,360.4,407.2,360.9z
                                                        "
                    />
                    <path
                      id="XMLID_430_"
                      class="st6"
                      d="M404.7,358.2l2.7-2.7c-0.5-0.5-0.9-0.9-1.4-1.4l-2.7,2.7
                                                        C403.8,357.3,404.2,357.7,404.7,358.2z"
                    />
                    <path
                      id="XMLID_429_"
                      class="st6"
                      d="M409.7,363.7l2.9-2.5c-0.4-0.5-0.8-1-1.3-1.4l-2.8,2.5C408.9,362.7,409.3,363.2,409.7,363.7z
                                                        "
                    />
                    <path
                      id="XMLID_428_"
                      class="st6"
                      d="M402,355.5l2.6-2.8c-0.5-0.4-0.9-0.9-1.4-1.3l-2.6,2.8C401.1,354.7,401.5,355.1,402,355.5z"
                    />
                    <path
                      id="XMLID_427_"
                      class="st6"
                      d="M414.5,369.4l3-2.3c-0.4-0.5-0.8-1-1.2-1.5l-3,2.4C413.7,368.5,414.1,369,414.5,369.4z"
                    />
                    <path
                      id="XMLID_426_"
                      class="st6"
                      d="M412.2,366.5l2.9-2.4c-0.4-0.5-0.8-1-1.2-1.5l-2.9,2.5C411.4,365.6,411.8,366,412.2,366.5z"
                    />
                    <path
                      id="XMLID_425_"
                      class="st6"
                      d="M399.2,353l2.5-2.8c-0.5-0.4-1-0.9-1.4-1.3l-2.5,2.9C398.3,352.2,398.8,352.6,399.2,353z"
                    />
                    <path
                      id="XMLID_424_"
                      class="st6"
                      d="M392.8,342.8c-0.5-0.4-1-0.8-1.6-1.1l-4,1.8c0.5,0.4,2.8,2,3.3,2.4L392.8,342.8z"
                    />
                    <path
                      id="XMLID_423_"
                      class="st6"
                      d="M415.6,370.9c0.4,0.5,0.7,1,1.1,1.5l3.8-1.2c-0.4-0.5-1.5-2.1-1.9-2.6L415.6,370.9z"
                    />
                    <path
                      id="XMLID_422_"
                      class="st6"
                      d="M396.4,350.5l2.5-2.9c-0.5-0.4-1-0.8-1.5-1.2l-2.4,2.9C395.5,349.7,395.9,350.1,396.4,350.5z
                                                        "
                    />
                    <path
                      id="XMLID_421_"
                      class="st6"
                      d="M393.5,348.2l2.4-3c-0.5-0.4-1-0.8-1.5-1.2l-2.3,3C392.5,347.4,393,347.8,393.5,348.2z"
                    />
                    <path
                      id="XMLID_420_"
                      class="st6"
                      d="M232.3,527.7l-2.7,2.6c0.4,0.5,0.9,0.9,1.3,1.4l2.7-2.7C233.1,528.6,232.7,528.1,232.3,527.7
                                                        z"
                    />
                    <path
                      id="XMLID_419_"
                      class="st6"
                      d="M234.9,530.3l-2.7,2.7c0.5,0.5,0.9,0.9,1.4,1.3l2.6-2.8C235.8,531.2,235.3,530.8,234.9,530.3
                                                        z"
                    />
                    <path
                      id="XMLID_418_"
                      class="st6"
                      d="M224.9,519.2l-3,2.4c0.4,0.5,0.8,1,1.2,1.5l2.9-2.4C225.6,520.2,225.2,519.7,224.9,519.2z"
                    />
                    <path
                      id="XMLID_417_"
                      class="st6"
                      d="M237.6,532.9l-2.6,2.8c0.5,0.4,1,0.9,1.4,1.3l2.5-2.8C238.5,533.7,238.1,533.3,237.6,532.9z"
                    />
                    <path
                      id="XMLID_416_"
                      class="st6"
                      d="M227.2,522.1l-2.9,2.5c0.4,0.5,0.8,1,1.3,1.5l2.9-2.5C228,523.1,227.6,522.6,227.2,522.1z"
                    />
                    <path
                      id="XMLID_415_"
                      class="st6"
                      d="M229.7,524.9l-2.8,2.5c0.4,0.5,0.9,1,1.3,1.4l2.8-2.6C230.5,525.8,230.1,525.4,229.7,524.9z"
                    />
                    <path
                      id="XMLID_414_"
                      class="st6"
                      d="M222.6,516.3l-3,2.3c0.4,0.5,0.8,1,1.2,1.5l3-2.3C223.3,517.3,222.9,516.8,222.6,516.3z"
                    />
                    <path
                      id="XMLID_413_"
                      class="st6"
                      d="M240.4,535.4l-2.5,2.9c0.5,0.4,1,0.8,1.5,1.3l2.4-2.9C241.3,536.2,240.9,535.8,240.4,535.4z"
                    />
                    <path
                      id="XMLID_412_"
                      class="st6"
                      d="M220.4,513.2l-3.6,1.4c0.4,0.5,1.3,1.8,1.7,2.3l3.1-2.2C221.1,514.2,220.7,513.7,220.4,513.2
                                                        z"
                    />
                    <path
                      id="XMLID_411_"
                      class="st6"
                      d="M243.3,537.8l-2.4,3c0.5,0.4,1,0.8,1.5,1.2l2.4-3C244.2,538.6,243.7,538.2,243.3,537.8z"
                    />
                    <path
                      id="XMLID_410_"
                      class="st6"
                      d="M243.9,543.1c0.5,0.4,1,0.8,1.5,1.2l4.1-1.7c-0.5-0.4-2.8-2.1-3.3-2.5L243.9,543.1z"
                    />
                    <path
                      id="XMLID_409_"
                      class="st6"
                      d="M400.6,531.8l2.6,2.8c0.5-0.4,0.9-0.9,1.4-1.3l-2.6-2.8C401.5,531,401.1,531.4,400.6,531.8z"
                    />
                    <path
                      id="XMLID_408_"
                      class="st6"
                      d="M411,521l2.9,2.5c0.4-0.5,0.8-1,1.2-1.5l-2.9-2.4C411.8,520,411.4,520.5,411,521z"
                    />
                    <path
                      id="XMLID_407_"
                      class="st6"
                      d="M406,526.5l2.7,2.6c0.4-0.5,0.9-0.9,1.3-1.4l-2.8-2.6C406.8,525.6,406.4,526.1,406,526.5z"
                    />
                    <path
                      id="XMLID_406_"
                      class="st6"
                      d="M408.5,523.8l2.8,2.5c0.4-0.5,0.9-1,1.3-1.4l-2.9-2.5C409.3,522.9,408.9,523.3,408.5,523.8z"
                    />
                    <path
                      id="XMLID_405_"
                      class="st6"
                      d="M415.6,515.1l3.1,2.3c0.4-0.5,1.4-1.9,1.8-2.4l-3.7-1.4C416.4,514.1,416,514.6,415.6,515.1z"
                    />
                    <path
                      id="XMLID_404_"
                      class="st6"
                      d="M413.3,518.1l3,2.4c0.4-0.5,0.8-1,1.2-1.5l-3-2.3C414.1,517.1,413.7,517.6,413.3,518.1z"
                    />
                    <path
                      id="XMLID_403_"
                      class="st6"
                      d="M395,536.7l2.4,2.9c0.5-0.4,1-0.8,1.5-1.2l-2.5-2.9C395.9,535.9,395.5,536.3,395,536.7z"
                    />
                    <path
                      id="XMLID_402_"
                      class="st6"
                      d="M392,539l2.3,3c0.5-0.4,1-0.8,1.5-1.2l-2.4-3C393,538.3,392.5,538.7,392,539z"
                    />
                    <path
                      id="XMLID_401_"
                      class="st6"
                      d="M403.3,529.2l2.7,2.7c0.5-0.5,0.9-0.9,1.4-1.4l-2.7-2.7C404.2,528.3,403.8,528.8,403.3,529.2
                                                        z"
                    />
                    <path
                      id="XMLID_400_"
                      class="st6"
                      d="M387.2,542.6l4.1,1.7c0.5-0.4,1-0.8,1.6-1.1l-2.3-3.1C390,540.5,387.7,542.2,387.2,542.6z"
                    />
                    <path
                      id="XMLID_399_"
                      class="st6"
                      d="M397.8,534.3l2.5,2.9c0.5-0.4,1-0.8,1.4-1.3l-2.5-2.8C398.8,533.5,398.3,533.9,397.8,534.3z"
                    />
                    <path
                      id="XMLID_396_"
                      class="st6"
                      d="M442.6,407.1l-2.1-0.6c-3.9-12.9-9.8-25-17.3-35.9c1.8-0.7,4.4-1.6,6.1-2.1
                                                        c-12.7-19.3-30.3-35.2-51.1-45.7l-4.9,3.4h-2.1c-16.1-7.4-33.9-11.5-52.7-11.5c-18.8,0-36.7,4.1-52.7,11.5h0l-7.2-3.3
                                                        c-20.7,10.5-38.3,26.3-50.9,45.6c1.7,0.6,4.4,1.4,6.1,2.1c-7.5,10.9-13.4,22.9-17.3,35.9l-2.2,0.6c-3.3,11.4-5.1,23.5-5.1,36
                                                        c0,12.5,1.8,24.6,5.1,36l2.2,0.6c3.9,12.9,9.8,25,17.3,35.9c-1.8,0.7-4.4,1.6-6.1,2.1c12.7,19.3,30.3,35.2,51.1,45.7l4.9-3.4h2.1
                                                        c16.1,7.4,33.9,11.5,52.7,11.5c18.8,0,36.7-4.1,52.7-11.5h0l7.2,3.3c20.7-10.5,38.3-26.3,50.9-45.6c-1.7-0.6-4.4-1.4-6.1-2.1
                                                        c7.5-10.9,13.4-22.9,17.3-35.9l2.1-0.6c3.3-11.4,5.1-23.5,5.1-36C447.7,430.6,445.9,418.6,442.6,407.1z M436.1,481l2.3-0.6
                                                        c-8.2,26.5-25,49.3-47.1,65l-5.1-2.1c-12.5,8.7-26.8,15.1-42.2,18.4l-4.1-3.4h-43.4l-3.9,3.3c-15.2-3.4-29.3-9.7-41.8-18.3
                                                        l-5.1,2.1c-22.1-15.8-38.9-38.5-47.1-65l2.2,0.6c-3.8-11.9-5.9-24.6-5.9-37.8c0-13.2,2.1-25.9,5.9-37.8l-2.2,0.6
                                                        c8.2-26.5,25-49.2,47.1-65l5.1,2.1c12.5-8.7,26.8-15.1,42.2-18.4l4.1,3.4h43.4l3.9-3.3c15.2,3.4,29.3,9.7,41.8,18.3l5.1-2.1
                                                        c22.1,15.8,38.9,38.5,47.1,65l-2.3-0.6c3.8,11.9,5.9,24.6,5.9,37.8C442,456.3,439.9,469,436.1,481z"
                    />
                  </g>
                </g>
                <path
                  id="XMLID_2_"
                  class="st7"
                  d="M389,557.5h179.9c12.8-35,19.8-72.8,19.8-112.2c0-41.6-7.8-81.4-22-117.9H386.8"
                />
              </svg>
            </div>
            <div class="oil_info">
              <div id="start" class="oil_block_info" [class.oil_block_info_short]="checkWidth">
                <evj-oil-control-table
                  [(activeOperation)]="saveCurrentPage"
                  [data]="activeStorage"
                ></evj-oil-control-table>
                <div class="frame frame-left"></div>
                <div class="frame frame-right"></div>
              </div>

              <div class="line_on_picture" #line [class.line_on_picture_short]="checkWidth"></div>
              <div class="oil_picture" [class.oil_picture_short]="checkWidth">
                <evj-oil-control-tower [data]="activeStorage"></evj-oil-control-tower>
                <div class="arrow" [class.arrow_short]="checkWidth">
                  <svg
                    version="1.1"
                    id="Слой_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 -200 595.3 841.9"
                    style="enable-background: new 0 -200 595.3 841.9"
                    xml:space="preserve"
                  >
                    <g id="XMLID_2_">
                      <polygon
                        [class.st10-critical]="isCriticalArrow"
                        id="XMLID_6_"
                        class="st10"
                        points="417.3,524 479.4,413.5 417.3,303 501.7,303 563.8,413.5 501.7,524 	"
                      />
                      <polygon
                        [class.st11-critical]="isCriticalArrow"
                        id="XMLID_5_"
                        class="st11"
                        points="284.7,524 346.8,413.5 284.7,303 369.1,303 431.2,413.5 369.1,524 	"
                      />
                      <polygon
                        [class.st12-critical]="isCriticalArrow"
                        id="XMLID_4_"
                        class="st12"
                        points="152.1,524 214.2,413.5 152.1,303 236.5,303 298.6,413.5 236.5,524 	"
                      />
                      <polygon
                        [class.st13-critical]="isCriticalArrow"
                        id="XMLID_3_"
                        class="st13"
                        points="19.5,524 81.5,413.5 19.5,303 103.9,303 166,413.5 103.9,524 	"
                      />
                    </g>
                  </svg>
                </div>
                <div class="oil_icon" #oilIcon></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
