.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid var(--border-forms-color);
  border-radius: 50%;
  box-sizing: border-box;
  background: var(--gray-G10-color);
  cursor: pointer;
  user-select: none;
  transition: 0.2s;

  & > * {
    margin: 0 auto;
    max-width: 100%;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .value {
    color: var(--text-contrast-color);
  }

  .unit {
    color: var(--text-subscript-color);
  }

  &__norm {
    &__selected {
      background: var(--opacity-plan-20-color);
      border-color: var(--index-plan-color);
      transition: 0.2s;

      .value {
        color: var(--text-accent-color);
        transition: 0.2s;
      }

      .unit {
        color: var(--text-accent-color);
        transition: 0.2s;
      }
    }
  }

  &__deviation {
    background: var(--gray-G10-color);
    border-color: var(--index-error-color);
    transition: 0.3s;

    .value {
      color: var(--index-error-color);
      transition: 0.2s;
    }

    .unit {
      color: var(--index-error-color);
      transition: 0.2s;
    }

    &__selected {
      background: rgba(var(--color-astue-onpz-mnemonic-furnace-warning-rgb), 0.2);

      .value {
        color: var(--color-astue-onpz-mnemonic-furnace-main-text);
        transition: 0.2s;
      }

      .unit {
        color: var(--color-astue-onpz-mnemonic-furnace-main-text);
        transition: 0.2s;
      }
    }
  }
}
