<div class="container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="widgetTitle"
    type="astue"
    icon="sliders"
  ></evj-contemporary-widget-header>
  <div class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="diagram">
      <span class="diagram__header">
        Каждая &nbsp;<span> {{data?.rate}}-ая </span>&nbsp; паспортизация является некондицией
      </span>
      <div class="diagram__container">
        <div class="diagram-circle" #chart></div>
        <div class="diagram-inner-text">
          <span class="percent">{{data?.percentage| spaceNumber : 1}}</span>
          <span class="unit">%</span>
        </div>
        <div class="info">
          <div class="info__item">
            <span class="values values-fact">&bull; {{data?.total}}</span>
            <span class="description">Паспортизаций с первого предъявления</span>
          </div>
          <div class="info__item">
            <span class="values">&bull; {{data?.first}}</span>
            <span class="description">Зафиксированных случаев паспортизации</span>
          </div>
        </div>
      </div>
      <div class="diagram__footer">Число некондиций по продуктам</div>
    </div>
    <div class="shadow"></div>
    <div class="product-list-container">
      <div class="product-list">
        <evj-kpe-pasportize-percent-product
          *ngFor="let item of data?.products"
          [data]="item"
          [style.width.%]=100
        ></evj-kpe-pasportize-percent-product>
      </div>
    </div>
  </div>
</div>
