<div class="diagram">
  <!-- frame -->
  <div class="diagram__frame diagram__frame_top">
    <div class="line"></div>
  </div>
  <div class="diagram__frame diagram__frame_bottom">
    <div class="line"></div>
  </div>
  <!-- frame -->

  <div class="diagram__body">
    <div class="diagram__header header">
      <div class="header__units">тыс. т.</div>
      <div class="header__title">Отклонения по выработке</div>
      <div class="header__legend legend">
        <div class="legend__item">План</div>
        <div class="legend__item">Факт</div>
      </div>
    </div>
    <div class="diagram__graph graph">
      <div class="graph__col">
        <evj-production-deviations-column></evj-production-deviations-column>
      </div>
      <div class="graph__col">
        <evj-production-deviations-column></evj-production-deviations-column>
      </div>
    </div>
  </div>
  <div class="diagram__sidebar"></div>
</div>
