<div class="diagram">
  <!-- frame -->
  <div class="diagram__frame diagram__frame_top">
    <div class="line"></div>
  </div>
  <div class="diagram__frame diagram__frame_bottom">
    <div class="line"></div>
  </div>
  <!-- frame -->

  <div class="diagram__body">
    <div class="diagram__header header">
      <div class="header__units">тыс. т.</div>
      <div class="header__title">Отклонения по выработке</div>
      <div class="header__legend legend">
        <div class="legend__item">Факт</div>
        <div class="legend__item">План</div>
      </div>
    </div>
    <div class="diagram__graph graph">
      <div class="graph__axis axis">
        <div class="axis-x">
          <div class="axis-x__item" *ngFor="let col of data.columns">{{col.date|date:"dd"}}</div>
        </div>
        <div class="axis-y"></div>
      </div>

      <ng-container *ngIf="data.graphType==='baseline';else noBaseline">
        <div class="graph__cols graph__cols_baseline">
          <div class="graph__col" *ngFor="let col of data.columns">
            <evj-production-deviations-column
              *ngIf="col.direction==='up'"
              [data]="col"
            ></evj-production-deviations-column>
          </div>
        </div>
        <div class="graph__baseline"></div>
        <div class="graph__cols graph__cols_baseline">
          <div class="graph__col graph__col_down" *ngFor="let col of data.columns">
            <evj-production-deviations-column
              *ngIf="col.direction==='down'"
              [data]="col"
            ></evj-production-deviations-column>
          </div>
        </div>
      </ng-container>
      <ng-template #noBaseline>
        <div class="graph__cols">
          <div class="graph__col" *ngFor="let col of data.columns">
            <evj-production-deviations-column [data]="col"></evj-production-deviations-column>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="diagram__sidebar"></div>
</div>
