<div class="parameters">
    <div class="parameters__header">
        <div class="settings">
            <div class="settings__switch">
                <div class="case" [ngClass]="{'clicked': parameter === 1}" (click)="arscService.openParameters()">
                    Параметры
                </div>
                <div class="case" [ngClass]="{'clicked': parameter === 2}" (click)="arscService.openAccessLevel()">
                    Уровень доступа</div>
            </div>
            <div class="settings__buttons">
                <evj-simple-button class="button" (click)="openSelect()">
                    Изменить параметры
                </evj-simple-button>
                <evj-simple-button class="button" (click)="save()">
                    Сохранить
                </evj-simple-button>
                <evj-simple-button class="button">
                    Отменить
                </evj-simple-button>
            </div>
        </div>
    </div>
    <div class="parameters__body">
        <ng-container [ngSwitch]="this.arscService.headerSettingsPicker | async">
            <ng-container *ngSwitchDefault>
                <div class="empty">
                    <svg-icon src="assets/icons/widgets/admin/admin-report-server-configurator/empty-box.svg">
                    </svg-icon>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="report-info">
                    <div class="info">
                        <div class="info__title">Актуальная версия отчёта</div>
                        <div class="info__header">
                            <div class="name">Название</div>
                            <div class="name">Последнее изменение</div>
                        </div>
                        <div class="info__report" [formGroup]="form">
                            <div class="report-matselect">
                                <mat-form-field appearance="fill">
                                    <mat-select formControlName="reportFileTemplate" [compareWith]="compareFn">
                                        <mat-option *ngFor="let item of reportFileTemplate" [value]="item">
                                            <svg-icon src="{{reportIcon}}"></svg-icon>
                                            <span>{{item.name}}</span>
                                            <span>{{item.createdAt}}</span>
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="changes">
                            <div class="changes__half">
                                <div class="changes__description">
                                    <div class="label">Описание</div>
                                    <div class="description">
                                        <div class="description__content">
                                            <div class="description__content_text">
                                                <textarea required class="gridster-item-content" minlength="3"
                                                    #textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="changes__half">
                                <ng-container *ngFor="let element of data?.systemOptions">
                                    <div class="element">
                                        <div class="label">{{element.templateSystemOption.name}}</div>
                                        <div class="element__option">
                                            <ng-container [ngSwitch]="element.templateSystemOption.type">
                                                <div class="checkbox" *ngSwitchCase="'checkBox'">
                                                    <mat-form-field appearance="fill"
                                                        *ngIf="element.templateSystemOption.systemOptionType !=='customOptions'">
                                                        <mat-select [(ngModel)]="element.value">
                                                            <mat-option [value]="'true'">Да</mat-option>
                                                            <mat-option [value]="'false'">Нет</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <div class="custom"
                                                        *ngIf="element.templateSystemOption.systemOptionType ==='customOptions'"
                                                        (click)="openOption(element.templateSystemOption)">
                                                        <span>{{element.value}}</span>
                                                    </div>

                                                </div>
                                                <input class="textbox" *ngSwitchCase="'textBox'" type="text"
                                                    [(ngModel)]="element.value">
                                                <div class="custom" *ngSwitchCase="'custom'"
                                                    (click)="openOption(element.templateSystemOption)">
                                                    <span>{{element.value}}</span>
                                                </div>

                                            </ng-container>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="access">
                    <evj-admin-report-server-configurator-access>
                    </evj-admin-report-server-configurator-access>
                </div>
                <div class="access">
                    <evj-admin-report-server-configurator-access-denied>
                    </evj-admin-report-server-configurator-access-denied>
                </div>
            </ng-container>
        </ng-container>
    </div>
</div>