<div class="container">
  <table border="1" cellpadding="4" cellspacing="0" class="table">
    <tr class="table__title">
     <td rowspan="2" class="titles" (click)="openAll()">
      <svg-icon
        *ngIf="!machineData[historyIdx.machineIdx]?.open"
        src="assets/icons/widgets/manual-input/arrow_down.svg"
        [svgStyle]="{
          'widtd.px':14, 
          'height.px':8, 
          'cursor':'pointer'
        }"
      ></svg-icon>

      <svg-icon
        *ngIf="machineData[historyIdx.machineIdx]?.open"
        src="assets/icons/widgets/manual-input/arrow_top.svg"
        [svgStyle]="{
          'widtd.px':8, 
          'height.px':14, 
          'cursor':'pointer'
        }"
      ></svg-icon>
      <span>Параметры</span>
     </td>
     <td rowspan="2" class="units">
      Единицы измерения
     </td>
      <td *ngFor="let history of paramsData?.historyValues" [attr.colspan]="history.hourValues.length">
        {{history?.day | date: 'dd.MM.yyyy'}}
      </td>
    </tr>
    <tr>
      <td class="hour" *ngFor="let hour of this.hours">{{hour | date: 'HH:mm'}}</td>
    </tr>
    <tr>
      <td [attr.colspan]="2 + hours.length" class="machine" (click)="openAll()">
        <svg-icon
          *ngIf="!machineData[historyIdx.machineIdx]?.open"
          src="assets/icons/widgets/manual-input/arrow_down.svg"
          [svgStyle]="{
            'widtd.px':14, 
            'height.px':8, 
            'cursor':'pointer'
          }"
        ></svg-icon>

        <svg-icon
        *ngIf="machineData[historyIdx.machineIdx]?.open"
        src="assets/icons/widgets/manual-input/arrow_top.svg"
        [svgStyle]="{
          'widtd.px':8, 
          'height.px':14, 
          'cursor':'pointer'
        }"
        ></svg-icon>
        <span>{{machineTitle}}</span>
      </td>
    </tr>
    <tr [@Branch]="machineData[historyIdx.machineIdx]?.open? 'expanded' : 'collapsed'">
      <td [attr.colspan]="2 + hours.length" class="group" (click)="openGroup()">
        <svg-icon
          *ngIf="!machineData[historyIdx.machineIdx]?.groups[historyIdx.groupIdx]?.open"
          src="assets/icons/widgets/manual-input/arrow_down.svg"
          [svgStyle]="{
            'widtd.px':14, 
            'height.px':8, 
            'cursor':'pointer'
          }"
        ></svg-icon>

        <svg-icon
          *ngIf="machineData[historyIdx.machineIdx]?.groups[historyIdx.groupIdx]?.open"
          src="assets/icons/widgets/manual-input/arrow_top.svg"
          [svgStyle]="{
            'widtd.px':8, 
            'height.px':14, 
            'cursor':'pointer'
          }"
        ></svg-icon>
        <span>{{groupTitle}}</span>
      </td>
    </tr>
    <tr class="params" 
      [@Branch]="(machineData[historyIdx.machineIdx]?.open 
      && machineData[historyIdx.machineIdx]?.groups[historyIdx.groupIdx]?.open)?'expanded' : 'collapsed'"
    >
      <td class="params__title">{{paramTitle}}</td>
      <td class="params__unit">{{paramsData?.unit}}</td>
      <td class="hour" *ngFor="let value of this.hoursValue; let i = index" (click)="activateEditMode()">
        <span class="hours__item" *ngIf="!editMode">{{value}}</span>
        <input 
          (change)="onChangeHistoricalValue($event, i, value)"
          class="hours__item"
          *ngIf="editMode" placeholder={{value}}
        >
      </td>
    </tr>
  </table>
</div>
<div class="container-footer"></div>