<evj-contemporary-widget-header icon="chart" type="astue" [widgetTitle]="widgetTitle" [uniqId]="widgetUniqId">
</evj-contemporary-widget-header>

<div class="container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
  <evj-ec-widget-trend-analysis-multi-chart
    [chartsData]="data"
    [intervalHours]="[0, 72]"
  ></evj-ec-widget-trend-analysis-multi-chart>

  <evj-ec-widget-trend-analysis-chart-list
    [data]="data"
    (toggleChartItem)="toggleChartItem($event)"
  ></evj-ec-widget-trend-analysis-chart-list>
</div>
