<div class="workspace">
  <div class="workspace__header">
    <div class="workspace__select-container-left">
      <div class="mat-form-category">
        <div class="event-mat-select">
          <mat-form-field appearance="none">
            <mat-label>Категория</mat-label>
            <mat-select
              [(ngModel)]="ewService.event.category"
              [compareWith]="compareFn"
              (selectionChange)="ewService.changeCategory()"
              [disabled]="!ewService.isCategoryEdit"
            >
              <mat-option *ngFor="let item of ewService.categoryPipe | async" [value]="item">
                {{ ewService.categories[item.name] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="workspace__select-container">
      <div class="mat-form-category">
        <div class="event-mat-select">
          <div class="{{ewService.event.priority.name}}">
            <mat-form-field appearance="none">
              <mat-label>Приоритет</mat-label>
              <mat-select
                [(ngModel)]="ewService.event.priority"
                [compareWith]="compareFn"
              >
                <mat-option *ngFor="let p of ewService.priority" [value]="p"
                >{{ ewService.priorities[p.name] }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <div class="workspace__select-container-right">
      <evj-events-workspace-select
        [label]="'Ознакомление'"
        [dataType]="'event-shift'"
      >
      </evj-events-workspace-select>
    </div>
  </div>

  <div class="workspace__third">
    <div class="workspace__third__right">
      <div class="place-date">
        <div class="workspace__select-container-left">
          <evj-events-workspace-select
            [label]="'Подкатегория'"
            [dataType]="'subCategoriesFilter'"
          ></evj-events-workspace-select>
        </div>
        <div class="workspace__select-container-right">
          <evj-events-workspace-select
            [label]="'Статус'"
            [dataType]="'status'"
          ></evj-events-workspace-select>
        </div>
      </div>

      <div class="description">
        <div class="title">
          <span>Состав бригады</span>
        </div>
        <evj-event-description
          [disabled]="!ewService.isCreateNewEvent"
          [description]="ewService.event?.shiftPassEvent?.shiftMembers"
          (changedDescription)="onChangeEventDescription($event, 'shiftMembers')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Установленные факты</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftEstablishedFacts"
          (changedDescription)="onChangeEventDescription($event, 'shiftEstablishedFacts')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Находящиеся в работе насосы и компрессоры</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.compressorsInWork"
          (changedDescription)="onChangeEventDescription($event, 'compressorsInWork')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Замечания по работе и дефекты тех. оборудования</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.notes"
          (changedDescription)="onChangeEventDescription($event, 'notes')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Сведения о проведении работ повышенной опасности</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftDangerWorks"
          (changedDescription)="onChangeEventDescription($event, 'shiftDangerWorks')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Сведения о проведении других работ</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftRepairWorks "
          (changedDescription)="onChangeEventDescription($event, 'shiftRepairWorks')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Другие события</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftOtherEvents"
          (changedDescription)="onChangeEventDescription($event, 'shiftOtherEvents')"
        ></evj-event-description>
      </div>

      <div class="comments">
        <div class="title">
          <span>Комментарии</span>
        </div>
        <evj-chat
          [messages]="ewService.event.comments"
          dataTitle="Комментарии"
          placeholder="Напишите свой комментарий..."
          (addingMessage)="onSendMessage($event,'comments')"
        ></evj-chat>
      </div>
    </div>

    <div class="workspace__third__right">
      <div class="place-date">
        <div class="workspace__select-container-left">
          <evj-events-workspace-datetimepicker
            [label]="'Начало события'"
            [date]="ewService.event.eventDateTime"
          >
          </evj-events-workspace-datetimepicker>
        </div>
        <div class="workspace__select-container-right">
          <div class="title">
            <span>Место</span>
          </div>
          <evj-events-place></evj-events-place>
        </div>
      </div>
      <div class="responsible">
        <evj-events-workspace-responsible-select>

        </evj-events-workspace-responsible-select>
      </div>
      <div class="vent-description">
        <div class="title">
          <span>Состояние вентиляции</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.ventilationStatus"
          (changedDescription)="onChangeEventDescription($event, 'ventilationStatus')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Состояние средств пожаротушения и инд. защиты</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.fireExtinguishingEquipmentStatus"
          (changedDescription)="onChangeEventDescription($event, 'fireExtinguishingEquipmentStatus')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Состояние ППК и манометров</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.pressureGaugesStatus"
          (changedDescription)="onChangeEventDescription($event, 'pressureGaugesStatus')"
        ></evj-event-description>
      </div>

      <div class="half-description">
        <div class="half-description__left">
          <div class="title">
            <span>Состояние СБ и ПАЗ</span>
          </div>
          <evj-event-description
            [description]="ewService.event?.shiftPassEvent?.safetyAndEmergencyProtectionStatus "
            (changedDescription)="onChangeEventDescription($event, 'safetyAndEmergencyProtectionStatus')"
          ></evj-event-description>
        </div>
        <div class="half-description__right">
          <div class="title">
            <span>Оборудование в ремонте</span>
          </div>
          <evj-event-description
            [description]="ewService.event?.shiftPassEvent?.equipmentAtRepair"
            (changedDescription)="onChangeEventDescription($event, 'equipmentAtRepair')"
          ></evj-event-description>
        </div>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Находящееся в резерве оборудование и его состояние</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.equipmentReserved "
          (changedDescription)="onChangeEventDescription($event, 'equipmentReserved')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Тема инструктожа по ПБ, ОТ и ООС</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftInstruction"
          (changedDescription)="onChangeEventDescription($event, 'shiftInstruction')"
        ></evj-event-description>
      </div>

      <div class="usual-text">
        <div class="title">
          <span>Отметка о сдаче инвентаря и имущества</span>
        </div>
        <evj-event-description
          [description]="ewService.event?.shiftPassEvent?.shiftPropertyNotes"
          (changedDescription)="onChangeEventDescription($event, 'shiftPropertyNotes')"
        ></evj-event-description>
      </div>

      <div class="events-correct">
        <div class="title">
          <span>Корректирующие мероприятия</span>
        </div>
        <evj-events-correct></evj-events-correct>
      </div>

    </div>
  </div>
</div>
