<div
  class="event-card"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  [style]="{overflow: noOverflow ? 'auto' : 'visible'}"
>
  <section class="event-card__section">
    <div class="row bottom-align">
      <evj-event-dropdown [items]="['Производственные задания']" style="width: 281px;">Категория</evj-event-dropdown>
      <div class="critical-button active" [class.active]="!true">
        <svg-icon class="critical-button__icon" src="assets/icons/widgets/workspace/smpo/critical-icon.svg"
                  *ngIf="!false"></svg-icon>
        <svg-icon class="critical-button__icon" src="assets/icons/widgets/workspace/smpo/critical-icon-active.svg"
                  *ngIf="!true"></svg-icon>
      </div>
      <div class="checkbox-container">
        <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
        <label>Важность события</label>
      </div>
      <div class="checkbox-container">
        <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
        <label>Мероприятия не требуются</label>
      </div>
    </div>
    <div class="column">
      <div class="column__block">
        <div class="row">
          <evj-event-dropdown [items]="['СМПО']">Подкатегория</evj-event-dropdown>
          <evj-event-dropdown [items]="['В работе']">Статус</evj-event-dropdown>
        </div>
        <div class="row">
          <div class="text">
            <div class="text__title">
              <span>Краткое описание</span>
            </div>
            <textarea
              required
              placeholder="Введите данные..."
              minlength="3"
            >
          </textarea>
          </div>
        </div>
        <div class="row">
          <div class="row__container">
            <div class="chat-title">
              <span>Установленные факты</span>
            </div>
            <evj-chat
              viewType="smpo"
              dataTitle="Установленные факты"
              placeholder="Напишите свой комментарий..."
            ></evj-chat>
          </div>
        </div>
        <div class="row">
          <div class="row__container">
            <div class="chat-title">
              <span>Комментарии</span>
            </div>
            <evj-chat
              viewType="smpo"
              dataTitle="Комментарии"
              placeholder="Напишите свой комментарий..."
            ></evj-chat>
          </div>
        </div>
      </div>
      <div class="column__block">
        <div class="row">
          <evj-smpo-event-datetimepicker [label]="'Дата начала'" class="dtp-container"></evj-smpo-event-datetimepicker>
          <evj-smpo-event-datetimepicker [label]="'Дата закрытия'"
                                         class="dtp-container"></evj-smpo-event-datetimepicker>
        </div>
        <div class="row">
          <div class="row__title">
            <span>Активная фаза</span>
          </div>
        </div>
        <div class="row">
          <div class="custom-input">
            <input type="text" placeholder="Активная фаза"/>
          </div>
        </div>
        <div class="column">
          <div class="column__block">
            <div class="row">
              <div class="row__title">
                <span>ID в системе-источнике</span>
              </div>
            </div>
            <div class="row">
              <div class="custom-input">
                <input type="text" placeholder="ID в системе-источнике"/>
              </div>
            </div>
          </div>
          <div class="column__block">
            <div class="row">
              <div class="row__title">
                <span>Группа</span>
              </div>
            </div>
            <div class="row">
              <div class="custom-input">
                <input type="text" placeholder="Группа"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row__title">
            <span>Продукт</span>
          </div>
        </div>
        <div class="row">
          <div class="custom-input">
            <input type="text" placeholder="Продукт"/>
          </div>
        </div>
        <div class="row">
          <div class="row__title">
            <span>Отклонение 2-го уровня</span>
          </div>
        </div>
        <div class="row">
          <div class="custom-input">
            <input type="text" placeholder="Отклонение 2-го уровня"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
