<div
  class="event-card"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  [style]="{overflow: noOverflow ? 'auto' : 'visible'}"
>
  <section class="event-card__section smpo-card">
    <div class="row bottom-align d-flex">
      <div class="select-container control-group-size-1">
        <div class="title">
          <span>Категория</span>
        </div>
        <evj-events-workspace-select dataType="categories"></evj-events-workspace-select>
      </div>
      <div class="select-container d-flex control-group-size-2">
        <evj-smpo-event-critical [(ngModel)]="ewService.event.smpo.isCritical"></evj-smpo-event-critical>
        <div class="checkbox-container">
          <mat-checkbox class="checkbox" [(ngModel)]="ewService.event.smpo.isImportance" color="primary"></mat-checkbox>
          <label>Важность события</label>
        </div>
        <div class="checkbox-container">
          <mat-checkbox class="checkbox" [(ngModel)]="ewService.event.smpo.isNotNeedActivity" color="primary"></mat-checkbox>
          <label>Мероприятия не требуются</label>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="column__block">
        <div class="row">
          <div class="select-container">
            <div class="title">
              <span>Подкатегория</span>
            </div>
            <evj-events-workspace-select dataType="subCategoriesFilter"
                                         [categoryTypeSet]="'tasks'">
            </evj-events-workspace-select>
          </div>
          <div class="select-container">
            <div class="title">
              <span>Статус</span>
            </div>
            <evj-events-workspace-select dataType="status"></evj-events-workspace-select>
          </div>

        </div>
        <div class="row">
          <div class="text">
            <div class="text__title">
              <span>Краткое описание</span>
            </div>
            <evj-event-description
              [description]="ewService.event.description"
              [isRetrievalEvent]="false"
              (changedDescription)="onChangeEventDescription($event)"
              [disabled]="ewService.event.isRestrictions"
            ></evj-event-description>
          </div>
        </div>
        <div class="row">
          <div class="row__container">
            <div class="chat-title">
              <span>Установленные факты</span>
            </div>
            <evj-chat
              [messages]="ewService.event.facts"
              dataTitle="Установленные факты"
              placeholder="Укажите факты..."
              (addingMessage)="onSendMessage($event,'facts')"
            ></evj-chat>
          </div>
        </div>
        <div class="row">
          <div class="row__container">
            <div class="chat-title">
              <span>Комментарии</span>
            </div>
            <evj-chat
              viewType="smpo"
              [messages]="ewService.event.comments"
              dataTitle="Комментарии"
              placeholder="Напишите свой комментарий..."
              (addingMessage)="onSendMessage($event,'comments')"
            ></evj-chat>
          </div>
        </div>
      </div>
      <div class="column__block">
        <div class="row">

          <evj-smpo-event-datetimepicker
            [(ngModel)]="ewService.event.eventDateTime"
            [label]="'Дата начала'"
            class="dtp-container"></evj-smpo-event-datetimepicker>

          <evj-smpo-event-datetimepicker
            [(ngModel)]="ewService.event.eventEndDateTime"
            [label]="'Дата закрытия'"
            [emptyDateAvailable]="true"
            class="dtp-container"></evj-smpo-event-datetimepicker>

        </div>
        <div class="row">
          <evj-event-dropdown
            fieldName="name"
            [(ngModel)]="ewService.event.smpo.activePhase"
            [items]="phasesList"
          >Активная фаза</evj-event-dropdown>
        </div>
        <div class="column">
          <div class="column__block">
            <div class="row">
              <div class="row__title">
                <span>ID в системе-источнике</span>
              </div>
            </div>
            <div class="row">
              <div class="custom-input">
                <input [(ngModel)]="ewService.event.smpo.originalId" type="text"  placeholder="ID в системе-источнике"/>
              </div>
            </div>
          </div>
          <div class="column__block">
            <div class="row">
              <div class="row__title">
                <span>Группа</span>
              </div>
            </div>
            <div class="row">
              <div class="custom-input">
                <input [(ngModel)]="ewService.event.smpo.productGroup" type="text" placeholder="Группа"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row__title">
            <span>Продукт</span>
          </div>
        </div>
        <div class="row">
          <div class="custom-input">
            <input [(ngModel)]="ewService.event.smpo.product"  type="text" placeholder="Продукт"/>
          </div>
        </div>
        <div class="row">
          <div class="row__title">
            <span>Отклонение 2-го уровня</span>
          </div>
        </div>
        <div class="row">
          <div class="custom-input">
            <input [(ngModel)]="ewService.event.smpo.secondDeviation" type="text" placeholder="Отклонение 2-го уровня"/>
          </div>
        </div>

        <div class="row">
          <div class="reasons">
            <div class="title d-flex flex-justify-between">
              <span>Причины</span>
              <div class="button-block">
                <svg-icon (click)="openReasonsList()" src="assets/icons/widgets/EVJ/evj-events-workspace/plus.svg"></svg-icon>
              </div>
            </div>
            <evj-events-smpo-reasons [items]="reasons"
                                     [(ngModel)]="ewService.event.smpo.reasons"
                                     (onRemoveItem)="removeReason($event)" ></evj-events-smpo-reasons>
          </div>
        </div>

        <div class="row">
          <div class="reasons h-auto">
            <div class="title">
              <span>Корректирующие мероприятия</span>
              <div class="button-block">
                <svg-icon (click)="openEventsList()" src="assets/icons/widgets/EVJ/evj-events-workspace/plus.svg"></svg-icon>
              </div>
            </div>
            <evj-events-smpo-events [items]="events"
                                    [(ngModel)]="ewService.event.smpo.events"
                                    (onRemoveItem)="removeEvent($event)" ></evj-events-smpo-events>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
