:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.window {
  width: 369px;
  height: 435px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;

  background-color: var(--color-bg-main);

  .header {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: relative;

    background-color: var(--color-bg-main);
    border-radius: 2px 2px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    &__title {
      flex-grow: 1;
      font-size: 14px;
      line-height: 17px;
      color: var(--header-events-color-font-main);
    }

    &__icon {
      height: 21px;
      width: 21px;
      cursor: pointer;
    }
    &__line {
      width: 332px;
      height: 1px;
      background-color: var(--evj-color-bg-footer);
      position: absolute;
      left: 14px;
      bottom: 10px;
    }
  }

  &__footer {
    width: 100%;
    height: 73px;
    background-color: var(--color-bg-main);
    position: relative;
    padding: 0px 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__line {
      width: 332px;
      height: 1px;
      background-color: var(--evj-color-bg-footer);
      position: absolute;
      left: 14px;
      top: 10px;
    }
  }

  &__body {
    width: 100%;
    height: calc(100% - 96px);
  }

  .button {
    width: 100px;
    height: 32px;

    border-radius: 2px;
    padding: 0px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--color-text-main);
    font-size: 12px;

    background: var(--evj-events-workspace-button-active);

    &:hover {
      cursor: pointer;
      background: var(--evj-events-workspace-color-active-select);
    }
  }

  .list {
    box-sizing: border-box;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;

    &__reasons {
      width: 100%;
      height: max-content;
      min-height: 35px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .row {
    width: 327px;
    height: 34px;

    box-sizing: border-box;
    margin-bottom: 2px;
    border-left: 2px solid var(--header-events-color-font-standard);
    background-color: var(--evj-color-bg-footer);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--header-events-color-font-standard);

    &_active {
      border: 1px solid var(--evj-events-workspace-button-active);
      border-left: 2px solid var(--evj-events-workspace-button-active);
      background: var(--evj-events-workspace-color-active-select);
      color: var(--color-text-main);
    }

    &__title {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 0px 15px 0px 25px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 12px;
    }
  }

  .search {
    width: 218px;
    height: 32px;

    background: var(--color-bg-main);
    border: 1px solid var(--evj-color-bg-footer);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;

    &__icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 8px;
      left: 11px;
    }

    &__input {
      width: 100%;
      height: 100%;
      padding: 0 35px;

      outline: none;
      border: none;

      background: var(--evj-color-bg-main);

      color: var(--color-text-main);
      font-size: 12px;
    }
  }
}
