.person {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //   align-items: center;

  box-sizing: border-box;

  .small {
    user-select: none;
  }

  &__photo {
    position: absolute;
    z-index: 1;

    width: 325px;
    height: 325px;

    background: var(--color-bg-main);
    border-radius: 50%;

    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .photo {
      &__frame {
        width: 300px;
        height: 300px;
        box-sizing: border-box;
        border-radius: 50%;

        background-image: url(../../../../../../assets/icons/widgets/admin/photo_frame.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      &__avatar {
        width: 255px;
        height: 255px;
        box-sizing: border-box;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
  }

  &__item {
    position: relative;

    height: 65px;
    width: 100%;

    background: radial-gradient(
      circle,
      var(--color-bg-main),
      var(--color-bg-active-gradient),
      var(--color-bg-active-gradient1)
    );

    box-sizing: border-box;
    padding-left: 230px;

    color: var(--color-text-main);
    font-size: 16px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &-small {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding-left: 200px;

    .person {
      &__photo {
        position: absolute;
        z-index: 1;

        width: 325px;
        height: 325px;

        min-width: 200px;
        min-height: 200px;

        background: var(--color-bg-main);
        border-radius: 50%;

        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .photo {
          &__frame {
            width: 300px;
            height: 300px;
            box-sizing: border-box;
            border-radius: 50%;

            background-image: url(../../../../../../assets/icons/widgets/admin/photo_frame.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          &__avatar {
            width: 255px;
            height: 255px;
            box-sizing: border-box;
            border-radius: 50%;

            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
        }
      }

      &__item {
        position: relative;

        height: 47%;
        width: 100%;

        background: linear-gradient(
          to right,
          var(--color-bg-active-gradient1) 0%,
          var(--color-bg-active-gradient) 30%,
          var(--color-bg-main) 50%
        );

        box-sizing: border-box;
        padding-left: 30%;

        color: var(--color-text-main);
        font-size: 16px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

.block {
  &__frame {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 10px;
    box-sizing: border-box;
    top: 0px;

    &-left {
      left: 0px;

      &::after {
        content: "";

        width: 10px;
        height: 10px;

        box-sizing: border-box;

        background: var(--color-bg-main);

        position: absolute;
        left: -5px;
        top: -5px;

        transform: rotate(-45deg);
      }

      &::before {
        content: "";

        width: 10px;
        height: 10px;

        box-sizing: border-box;

        background: var(--color-bg-main);

        position: absolute;
        left: -5px;
        bottom: -5px;

        transform: rotate(45deg);
      }
    }

    &-right {
      right: 0px;

      &::after {
        content: "";

        width: 10px;
        height: 10px;

        box-sizing: border-box;

        background: var(--color-bg-main);

        position: absolute;
        right: -5px;
        top: -5px;

        transform: rotate(45deg);
      }

      &::before {
        content: "";

        width: 10px;
        height: 10px;

        box-sizing: border-box;

        background: var(--color-bg-main);

        position: absolute;
        right: -5px;
        bottom: -5px;

        transform: rotate(-45deg);
      }
    }
  }
}

.svg {
  &__txt {
    font-size: 2.7px;
    // font-size: 7px;
    fill: var(--color-text-main);

    &-small {
      font-size: 12px;
      fill: var(--color-text-main-transparent);

      &-active {
        fill: var(--color-text-main);
      }
    }
  }

  &__unactive {
    fill: var(--color-text-sub-heading);
  }
}
