<div class="container">
    <div class="content">
        <div class="content__header">
            <svg-icon
                src="assets/icons/widgets/SOU/sou-balance/{{data?.type}}.svg"
            ></svg-icon>
            <div class="title">
                <span>{{data?.title}}</span>
            </div>
            <div class="mass">
                <span>{{data?.mass | spaceNumber}}</span>
            </div>
        </div>
        <div class="content__diagram">
            <div class="diagram">
                <div class="diagram__inner">
                    <div 
                        class="diagram__inner_value"
                        [style.width.%]=data?.percent
                    ></div>
                </div>
            </div>
        </div>
    </div>
    <div class="percent">
        {{data?.percent | spaceNumber:2}}&nbsp;%
    </div>
</div>
