* {
    box-sizing: border-box;
}

.container {
    height: 44px;


    display: flex;
    border-left: 2px solid var(--sou-mvp-color-text-diagram-sub);

    .percent {
        width: 66px;
        margin-left: 1px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--sou-balance-product-bg);
        border-radius: 0px 2px 2px 0px;

        font-size: 12px;
        line-height: 14px;
        color: var(--sou-mvp-color-text-diagram-sub);

        span {
            margin-right: 5px;

            font-size: 14px;
            line-height: 17px;            
        }
    }

    .content {
        flex: 1;
        max-width: calc(100% - 67px);
        padding: 8px 0;
        padding-left: 12px;
        padding-right: 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background: var(--sou-balance-product-bg);

        &__header{
            display: flex;

            font-size: 14px;
            line-height: 17px;
            
            color: var(--sou-mvp-color-text-info);

            .title {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            svg-icon {
                margin-right: 12px;
            }
        }

        .diagram {
            height: 8px;
            display: flex;
            align-items: center;

            border: 1px solid var(--sou-mvp-color-border);
            border-radius: 2px;
            &__inner {
                height: 6px;
                flex: 1;

                background: var(--sou-mvp-color-bg-active);
                border: 1px solid var(--sou-balance-product-bg);
                &_value {
                    height: 4px;
    
                    background: var(--sou-mvp-color-active);
                }
            }
        }
    }
}