.year {
  ::ng-deep {
    .mat-form-field-infix {
      width: 100px;
    }
    .mat-form-field-underline {
      display: none;
    }
    input {
      border-bottom: 0;
    }
    .mat-icon {
      margin-top: -10px;
    }
    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select .mat-form-field-disabled .mat-form-field-infix::after {
      color: var(--color-text-main);
    }
  }
}

::ng-deep {
  .year {
    ::ng-deep {
      .mat-calendar-period-button {
        display: none;
      }
    }
  }
}
