<div class="dropzone">
  <span>Перетащите или <span class="dropzone__link">загрузите файл</span></span>
  <svg-icon class="doc-add" src="assets/icons/widgets/workspace/cmid/doc-add.svg"></svg-icon>
  <span>Не более 500 MB .pdf .doc .xls .jpg .png</span>
</div>
<div class="uploaded-files">
  <ng-container *ngFor="let item of ['Загруженный файл 1.pdf', 'Загруженный файл 2.pdf']">
    <div class="file">
      <svg-icon class="icon" src="assets/icons/widgets/workspace/cmid/file-icon.svg"></svg-icon>
      <span>{{ item }}</span>
      <svg-icon class="icon icon-close" src="assets/icons/widgets/workspace/cmid/file-delete.svg"></svg-icon>
    </div>
  </ng-container>
</div>
