<section
  class="workspace scroll scroll-bar"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  [style]="{overflow: noOverflow ? 'auto' : 'visible'}"
>
  <div class="workspace__header">
    <div class="workspace__select-container">
      <evj-events-workspace-select
        [label]="'Категория'"
        [dataType]="'categories'"
      >
      </evj-events-workspace-select>
    </div>

    <div class="workspace__select-container">
      <evj-events-workspace-select
        [label]="'Приоритет'"
        [dataType]="'priorities'"
        [type]="'critical'"
      >
      </evj-events-workspace-select>
    </div>

    <div class="workspace__select-container">
      <evj-events-workspace-select
        [label]="'Событие'"
        [dataType]="'event'"
      >
      </evj-events-workspace-select>
    </div>
  </div>
  <div class="workspace__header">
    <div class="workspace__select-container">
      <ng-container *ngIf="ewService.event.category.code!=='2' else subcategories">
        <evj-events-workspace-select
          [label]="'Тип оборудования'"
          [dataType]="'equipmentCategory'"
        ></evj-events-workspace-select>
      </ng-container>
    </div>

    <div class="workspace__select-container">
      <evj-events-workspace-select
        [label]="'Статус'"
        [dataType]="'status'"
      ></evj-events-workspace-select>
    </div>
    <div class="workspace__select-container">
      <div class="creator">
        <div class="creator__title">
          <span>Автор</span>
        </div>
        <div class="creator__body">
          <span>
          {{
            this.ewService.event.fixedBy?.displayName ?
              this.ewService.event.fixedBy?.displayName === 'Synchronizable S. S.' ?
                'Система' : this.ewService.event.fixedBy?.displayName : 'Не установлен' }}
            </span>
        </div>
      </div>
    </div>

    <div class="workspace__select-container">
      <evj-events-workspace-datetimepicker
        [label]="'Начало события'"
      >
      </evj-events-workspace-datetimepicker>
    </div>
  </div>

  <div class="workspace__third">
    <div class="workspace__third__left">
      <div class="select__block">

        <div class="second_block" *ngIf="ewService.event.category.name === 'equipmentStatus'">
          <div class="number_position">
            <evj-ui-block class="workspace__header__block">
              <div class="input_position">
                <evj-input
                  class="input"
                  [options]="inputOptions"
                  [(ngModel)]="ewService.event.positionNumber"
                ></evj-input>
              </div>
              <div class="position_icon">
                <svg-icon
                  src="assets/icons/edit.svg"
                  [svgStyle]="{ 'width.px':25, 'height.px':20 }"
                ></svg-icon>
              </div>
            </evj-ui-block>
          </div>
        </div>
      </div>

      <div class="description">
        <evj-event-description
          [ngClass]="{'description_small':ewService.event.category.name === 'equipmentStatus'}"
          [description]="ewService.event.description"
          [isRetrievalEvent]="false"
          (changedDescription)="onChangeEventDescription($event)"
        ></evj-event-description>
      </div>

      <div class="facts">
        <evj-chat
          [messages]="ewService.event.facts"
          dataTitle="Установленные факты"
          placeholder="Укажите факты..."
          [displayGraphImage]="!!ewService.event.graphValues?.graphs[0]"
          [onClickItem]="openLineChart.bind(this)"
          (addingMessage)="onSendMessage($event,'facts')"
        ></evj-chat>
      </div>

      <div class="comments">
        <evj-chat
          [messages]="ewService.event.comments"
          dataTitle="Комментарии"
          placeholder="Напишите свой комментарий..."
          (addingMessage)="onSendMessage($event,'comments')"
        ></evj-chat>
      </div>
    </div>

    <div class="workspace__third__right">

      <div class="place-date">
        <div class="workspace__select-container">
          <evj-events-workspace-select
            [label]="'Место'"
            [dataType]="'place'"
          ></evj-events-workspace-select>
        </div>
        <div class="workspace__select-container">
          <evj-events-workspace-datetimepicker
            [label]="'Срок исполнения'"
          >

          </evj-events-workspace-datetimepicker>
        </div>
      </div>
      <div class="responsible">
        <evj-events-workspace-responsible-select>

        </evj-events-workspace-responsible-select>
      </div>
      <div class="events-correct">
        <evj-events-correct></evj-events-correct>
      </div>
    </div>
  </div>
</section>

<ng-template #subcategories>
  <evj-events-workspace-select
    [label]="'Подкатегория'"
    [dataType]="'subCategories'"
  ></evj-events-workspace-select>
</ng-template>
