@import "../../../../../../theme/mixins/mixins-text-overflow";

.toggle-box {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  overflow-y: auto;
  min-width: 350px;
  max-height: 100%;

  &__wrapper {
    background: var(--bg-header-color);
    min-width: 270px;
    height: 30px;
    margin: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-contrast-color);
    padding: 0 8px;
    border-radius: 2px 0 0 2px;
  }

  &__title {
    flex: 1;
  }

  &__plan {
    @include text-overflow;
    display: block;
    max-width: 50px;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    cursor: default;
  }

  &__toggle {
    margin-left: 17px;
    display: flex;
  }
}

.title-wrapper {
  font-size: 11px;
  line-height: 16px;
  display: flex;
  cursor: default;

  &__title {
    @include text-overflow;
    display: block;
    max-width: 150px;
    white-space: nowrap;
  }

  &__unit {
    color: var(--text-subscript-color);
    margin-left: 5px;
  }
}

mat-slide-toggle {

  box-sizing: border-box;
  border-radius: 10px;
  height: 16px;

  ::ng-deep &.mat-checked .mat-slide-toggle-bar {
    background-color: var(--index-plan-color) !important;
    border: 1px solid var(--toggler-border-active) !important;
  }

  ::ng-deep .mat-slide-toggle-bar {
    background-color: transparent;
    border: 1px solid var(--toggler-border-active) !important;
    width: 30px;
  }

  ::ng-deep .mat-slide-toggle-thumb-container {
    width: 12px;
    height: 12px;
    top: 1px;
    left: 2px;
  }

  ::ng-deep &.mat-checked .mat-slide-toggle-thumb-container {
    left: auto;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    width: 12px;
    height: 12px;
    background-color: white !important;
  }

}
