<div class="wrapper" [ngClass]="{mirror:mirrorize}">
  <div class="card-container">
    <div class="content" [ngClass]="{mirror:mirrorize}">
      <span 
        class="fact"
        [ngClass]="{zeroDeviation:!data.deviation}"
      >{{ data.fact }}</span>
      <div class="info">
        <span *ngIf="data.deviation" class="deviation">{{ data.deviation}} </span>
        <span *ngIf="data.deviation" class="plan">&#160;/ {{ data.plan }}</span>
      </div>
    </div>
    <i class="card-container__circle">
      <div class="chart">
        <svg class="svg" viewBox="0 0 80 80"></svg>
      </div>
    </i>
  </div>
  <div class="additional-values" [ngClass]="{mirror:mirrorize}">
    <span class="additional-values__span">{{ data.percentage }}<span class="units">%</span></span>
    <span class="additional-values__span">{{ data.amount }}<span class="units">тн</span></span>
  </div>
</div>
