@import "../../../../../mixins";

::ng-deep {
  .bg-diagram-card {
    fill: var(--ozsm-color-circle-diagram);
  }

  .bg-arc-default {
    fill: var(--ozsm-color-circle-arc-bg);
  }

  .bg-arc-deviation {
    fill: var(--ozsm-color-circle-diagram-bg-arc-deviation);
  }

  .arc-value-default {
    fill: var(--ozsm-color-active);
  }

  .arc-value-deviation {
    fill: var(--ozsm-color-white);
  }

  .arc-deviation {
    fill: var(--ozsm-color-warning);
  }

  .ozsm-title-text {
    font-style: normal;
    font-weight: normal;
    font-family: Tahoma;
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 12px;
    fill: var(--ozsm-color-white);
  }

  .outer-arc-bg {
    fill: var(--ozsm-color-border-l);
  }

  .outer-arc-value {
    fill: var(--ozsm-color-white);
  }

  .ozsm-serif-active,
  .ozsm-serif-default {
    stroke-width: 1.5px;
  }

  .ozsm-serif-active {
    stroke: var(--ozsm-color-white);
  }

  .ozsm-serif-default {
    stroke: var(--ozsm-color-border-l);
  }

  .ozms-outer-arc {
    fill: var(--ozsm-color-border);
  }
}

span {
  font-family: Tahoma;
  font-style: normal;
  font-weight: normal;
}

.wrapper {
  height: calc(100% + 2px);
  width: 100%;
  display: flex;
  flex-direction: column;

  .card-container {
    border: 0.7px solid var(--ozsm-color-border);
    border-radius: 2px;
    background: var(--ozsm-color-circle-diagram);
    height: 40px;

    .content {
      width: calc(100% - 40px);
      height: 100%;
      margin: 0 10px 0 30px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      flex-direction: column;

      span {
        -webkit-line-clamp: 1;
        @include text-overflow;
        float: right;
      }
      .info {
        display: flex;
      }

      .fact {
        font-size: 14px;
        line-height: 17px;
        color: var(--ozsm-color-white);
      }

      .plan {
        font-size: 10px;
        line-height: 12px;
        color: var(--ozsm-color-active);
      }

      .deviation {
        font-size: 10px;
        line-height: 12px;
        color: var(--ozsm-color-warning);
      }

      .zeroDeviation {
        color: var(--ozsm-color-active);
      }
    }

    i {
      position: relative;
      top: calc(2px - 155%);
    }

    &__circle {
      float: left;
      margin-left: -40px;

      .chart {
        position: absolute;
        width: 80px;
        height: 80px;

        .svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .mirror {
      align-items: flex-start;
    }
  }

  .additional-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 18px;
    margin-left: 36px;

    &__span {
      &:last-child {
        margin-left: 10px;
      }
    }

    span {
      font-size: 12px;
    }

    .units {
      font-size: 10px;
      color: var(--ozsm-color-marker-diagram);
    }
  }
}

.mirror {
  transform: scale(-1, 1);
}
