<div class="widget-container">
  <evj-contemporary-widget-header
    type="astue"
    [widgetTitle]="widgetTitle"
    [uniqId]="widgetUniqId"
  ></evj-contemporary-widget-header>

  <div
    class="content_block"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="wrapper">
      <div class="chart-container">
        <div class="gauge-card">
          <div class="gauge-card__content">
            <div class="gauge-card__diagram">
              <evj-ejco-gauge-chart
                [fact]="data?.chartData?.fact"
                [plan]="data?.chartData?.plan"
                [deviation]="data?.chartData?.deviation"
              ></evj-ejco-gauge-chart>
            </div>
            <div class="gauge-card__label">
              {{ data?.chartData?.title }}
            </div>
          </div>
        </div>
      </div>
      <div class="table-container">
        <ng-container *ngFor="let row of data.data">
          <div class="table-container__row">
            <div class="table-container__col title-col" [matTooltip]="row.title">
               <span>{{ row.title }}</span>
            </div>
            <div class="table-container__col value-col">
              <ng-container *ngFor="let value of row.values">
                <div class="item" [matTooltip]="value">
                  <span>{{ value }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
