<div class="container pointer-event events-workspace__scroll">
  <!-- loading data -->
  <evj-loading-shade [isLoading]="ewService.isLoading"></evj-loading-shade>
  <evj-event-search-window [info]="ewService.searchWindow$ | async"></evj-event-search-window>
  <evj-alert-window [info]="this.ewService.ewAlertInfo$ | async"></evj-alert-window>

  <ng-container *ngIf="displayContainer">
    <evj-widget-header
      [title]="widgetTitle"
      [icon]="widgetIcon"
      [units]="widgetUnits"
      [code]="widgetCode"
      [id]="widgetId"
      [uniqId]="widgetUniqId"
      [widgetType]="widgetType"
      (eventCreated)="createdEvent($event)"
      (eventBack)="backEvent()"
      [isEventOpen]="!ewService.isEditEvent"
      [blockWorkspaceButton]="canShowSaveButton()"
      [eventProdTask]="eventProdButton"
      (eventProdTaskChange)="onChangeStatus()"
    >
    </evj-widget-header>

    <evj-frame-top></evj-frame-top>
  </ng-container>

  <!-- EVENT -->
  <div
    [class.container-widget]="displayContainer"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <ng-container *ngIf="ewService.event" [ngSwitch]="ewService?.event?.category?.code">
      <evj-smotr-event *ngSwitchCase="0"></evj-smotr-event>
      <ng-container *ngSwitchCase="2">
        <!-- Проверка на подкатегорию "Распоряжения" -->
        <evj-tasks-event
          [noOverflow]="displayContainer"
          *ngIf="ewService?.event?.productionTasks?.subCategory?.id === 1000 else shiftPass"
        ></evj-tasks-event>
        <ng-template #shiftPass>
          <evj-shift-pass
            *ngIf="ewService?.event?.productionTasks?.subCategory?.id === 1010 else usual">
          </evj-shift-pass>
        </ng-template>
        <ng-template #usual>
          <evj-usual-event [noOverflow]="displayContainer"></evj-usual-event>
        </ng-template>
      </ng-container>
      <evj-asus-event *ngSwitchCase="5" [noOverflow]="displayContainer"></evj-asus-event>
      <evj-ejs-event *ngSwitchCase="6" [noOverflow]="displayContainer"></evj-ejs-event>
      <evj-cdcp-event *ngSwitchCase="7" [noOverflow]="displayContainer"></evj-cdcp-event>
      <evj-usual-event *ngSwitchDefault [noOverflow]="displayContainer"></evj-usual-event>
    </ng-container>

    <!--       NO-SELECTED EVENT -->
    <ng-container *ngIf="!ewService.event">
      <div
        class="workspace__mock"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <div class="workspace__submit">
          {{ displayContainer ? 'Создайте или выберите событие' : 'Выберите событие' }}
        </div>
      </div>
    </ng-container>

    <div class="no-edit-shield" *ngIf="!displayContainer"></div>
  </div>

  <ng-container *ngIf="displayContainer">
    <evj-frame-bottom></evj-frame-bottom>
  </ng-container>
</div>

<div
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  id="overlay-chart"
  *ngIf="ewService.isOverlayChartOpen && ewService.event.graphValues?.graphs[0]"
  (click)="overlayChartClose()"
>
  <div
    class="overlay-chart__body"
    (click)="$event.stopPropagation()"
    *ngIf="ewService.event.graphValues"
  >
    <evj-line-chart-workspace
      [dataChartAttribute]="ewService.event.graphValues"
    ></evj-line-chart-workspace>
  </div>
</div>
