<div class="container">
  <div class="header">
    <div class="header_icon">
      <svg-icon src="assets/icons/widgets/SOU/sou-balance-card/header/{{data?.type}}.svg"></svg-icon>
    </div>
    <div class="header_label">{{data?.title}}</div>
  </div>
  <div class="content content_{{data?.type}}">
    <div class="content_icon">
      <svg-icon
        class="content_icon--grey"
        [class.content_icon--warning]="data.deviation"
        src="assets/icons/widgets/SOU/sou-balance-card/eco-lamp.svg"
      ></svg-icon>
    </div>
    <div class="content_values">
      <div class="item">
        <div class="label">Накопленное</div>
        <div class="value"><span>{{ data?.sumValue | spaceNumber }}</span></div>
      </div>
      <div class="item">
        <div class="label">За час</div>
        <div class="value">
          <span
            >{{((data?.type === 'in' || data?.type === 'out') ? data?.perHourValue : data?.percentageValue) |
            spaceNumber}}</span
          ><span class="unit">%</span>
        </div>
      </div>
    </div>
  </div>
</div>
