// vars region
$color-header: rgba(39, 42, 56, 0.5);
$color-bg: rgba(18, 21, 30, 0.5);
$color-text-main: #ffffff;
$color-text-header: #d7e2f2;
$color-text-sub: #8c99b2;

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: max-content;

  .header {
    display: flex;
    gap: 14px;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-radius: 2px;
    box-sizing: border-box;
    background: $color-header;

    & > * {
      margin: auto 0;
    }

    &_icon {
      width: 14px;
      height: 14px;
    }

    &_label {
      font-size: 12px;
      color: $color-text-header;
    }
  }

  .content {
    display: flex;
    flex-grow: 1;
    padding: 13px 26px;
    background: $color-bg;

    &_icon {
      display: none;
      width: 35px;
      height: 35px;
      margin: auto 0;

      &--grey {
        fill: $color-text-sub;
      }

      &--warning {
        fill: var(--color-cd-warning);
      }
    }

    &_values {
      display: flex;
      flex-flow: column;
      justify-content: center;
      flex-grow: 1;
      gap: 6px;
      text-align: right;

      .item {
        display: flex;
        flex-flow: column;
      }

      .label {
        font-size: 11px;
        color: $color-text-sub;
      }

      .value {
        font-size: 18px;
        color: $color-text-main;
        font-weight: bold;

        .unit {
          display: none;
        }
      }
    }

    &_delta {
      .content_icon {
        display: block;
      }
    }

    &_delta,
    &_balance {
      .label {
        display: none;
      }

      .unit {
        display: contents !important;
      }
    }
  }
}
