%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.selected-block {
  border: 1px solid var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.selected {
  .line {
    border-color: var(--color-border-active);
  }
  .line__circle {
    border-color: var(--color-border-active);
  }
  border-color: var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.delete_widget {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 44px;
  height: 100%;
  background-color: var(--color-bg-sub);
  padding: 9px 15px;
  box-sizing: border-box;
  font-weight: bold;
  pointer-events: fill !important;
}

// snackBar

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--color-border-active); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 9999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
  0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.complete {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: var(--color-border-active); /* Black background color */
}

#snackbar.error {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: var(--color-danger); /* Black background color */
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
// end snackBar

.mock-container {
  &_content {
    width: calc(100% - 1px);
    height: 140px;
    text-align: center;
    vertical-align: middle;
    line-height: 140px;
    font-size: 25px;
    color: var(--color-text-sub);
    border-left: dashed 0.5px var(--color-border-main);
    border-right: dashed 0.5px var(--color-border-main);
  }
}

.events {
  --categories-min-height: 150px;
  --filters-min-height: 40px;
  --margin-vertical: 38px;
  --line-border: 0.5px dashed var(--color-border-main-transparrent);

  position: absolute;
  display: block;
  width: 100%;
  height: calc(100% - var(--margin-vertical));
  top: var(--margin-vertical);
}

.header {
  // position: relative;
  height: 38px;
  width: 430px;
  box-sizing: border-box;

  background-color: var(--color-bg-additional);

  &__icon {
    fill: #8c99b2;

    &_bell {
      cursor: pointer;
      margin-right: 10px;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;

    min-width: 44px;
    height: 100%;
    background-color: var(--color-bg-sub);
    padding: 9px 15px;
    box-sizing: border-box;

    font-weight: bold;
  }

  &__name {
    width: 100%;
    font-size: 0.875rem;
    margin-left: 10px;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.frame-top {
  position: absolute;
  top: 36px;
  z-index: 1;
  width: 100%;
}

.frame-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.categories {
  display: flex;
  justify-content: space-between;
  min-height: var(--categories-min-height);
  box-sizing: border-box;
  padding: 0 20px 16px 20px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.category {
  position: relative;

  display: flex;
  flex-flow: column;
  cursor: pointer;
  justify-content: space-between;

  width: 100%;
  min-width: 120px;
  height: 72px;
  box-sizing: border-box;

  color: var(--color-text-sub-heading);

  &__row {
    flex: 1;
    min-height: 26px;
    box-sizing: border-box;
    padding: 0 10px;

    &_top {
      margin-bottom: 6px;
    }

    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__name {
    font-size: 0.75rem;
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: var(--color-text-sub);
  }

  &__line {
    position: absolute;
    width: calc(100% - 13px);
    left: 6.5px;

    &_top {
      top: -4px;
    }

    &_bottom {
      bottom: -4px;
    }
  }

  &_active &__icon {
    stroke: var(--color-border-active);
  }
  &_active {
    color: white;

    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, var(--color-bg-main) 0%, rgba(63, 169, 245, 0.1) 100%);
  }

  &_active &__icon {
    stroke: var(--color-border-active);
  }

  &_active &__line {
    border-color: var(--color-border-active);
  }

  &_active .line__circle {
    border-color: var(--color-border-active);
  }
}

.counts {
  font-size: 1.0625rem;
}

.notifications {
  --padding: 20px;

  position: relative;
  height: calc(100% - var(--filters-min-height) - var(--categories-min-height) - var(--padding));
  padding: var(--padding);
  box-sizing: border-box;

  background-color: var(--color-bg-main-dark);


  &--display-wall {
    border-left: 0.5px dashed var(--color-border-main-transparrent);
    border-right: 0.5px dashed var(--color-border-main-transparrent);
    height: 100%;
  }

  &--display-standart {
    border: 0.5px solid var(--color-border-main);
    border-radius: 5px;
    height: calc(100% - var(--filters-min-height) - var(--categories-min-height) - var(--padding));
  }

  &--display-ed {
    border: 0.5px solid var(--color-border-main);
    border-radius: 5px;
    height: calc(100% - var(--categories-min-height) - var(--padding));
  }

  &__list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &__block {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    &__item {
      background-color: var(--color-bg-sub);
      padding: 0 0 20px 20px;
      border-radius: 6px;
      margin-bottom: 15px;
      height: 160px;

      width: 340px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.line {
  position: relative;
  height: 4px;
  border-bottom: 1px dashed var(--color-border-main-transparrent);

  &__circle {
    @extend %circle;
    top: auto;
    bottom: -2.5px;

    &__left {
      left: -6.5px;
    }

    &__right {
      right: 1px;
    }
  }
}

.filters {
  position: relative;

  display: flex;
  justify-content: space-between;
  min-height: var(--filters-min-height);
  padding: 20px 20px 16px 20px;

  &__item {
    flex: 1 192px;
    margin: 0 16px;

    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 18px 10px 12px;
  border-bottom: 2px solid var(--color-border-main-transparrent);
  cursor: pointer;
  color: var(--color-text-sub);

  &_active {
    border-color: var(--color-border-active);
    color: var(--color-text-main);

    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
  }

  &__name {
    font-size: 0.75rem;
  }

  &__count {
    font-size: 0.875rem;
  }
}

.controls {
  pointer-events: fill !important;
  position: relative;
  box-sizing: border-box;
  height: calc(var(--categories-min-height) + var(--filters-min-height));

  &__ed {
    height: var(--categories-min-height);
  }

  &__line {
    position: absolute;
    top: 2px;
    width: 1px;
    height: calc(100%);

    box-sizing: border-box;

    &_left {
      left: 0;
      border-left: var(--line-border);
    }

    &_right {
      right: 0;
      border-right: var(--line-border);
    }
  }

  &__circle {
    @extend %circle;
    position: absolute;
    top: -2px;

    &_left {
      left: -2.25px;
    }

    &_right {
      right: -2.25px;
    }
  }
}

.list {
  fill: var(--color-border-active);
}

.blocks {
  fill: var(--color-border-active);
}

#overlay-confirmation-event {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;

  .overlay-confirmation {
    &__body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      font-family: Tahoma, sans-serif;
      font-size: 12px;
      font-weight: 100;
      color: var(--color-text-sub);

      background-color: var(--color-bg-main);
      min-height: 140px;
      max-width: 50%;
      margin: 0 auto;
      margin-top: 30%;
      cursor: default;

      border-radius: 5px;
      border: 1px solid var(--color-border-main);
      padding: 10px;

      span {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.workspace {
  &__header {
    &__block {
      display: flex;
      flex-direction: row;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
  }

  &__block {
    min-height: 40px;
    min-width: 160px;
    margin-bottom: 10px;

    &__right {
      min-width: 130px;
    }

    &__title {
      background-color: var(--color-bg-main);
      margin: 0 0 0 10px;
    }

    &__body {
      margin: 0 0 0 10px;
      color: var(--color-text-main);
    }

    &__body__drop-down {
      // margin: 0 0 0 10px;
      color: var(--color-text-main);
    }
  }

  &__block-border {
    margin-bottom: 10px;
    width: 100%;
  }

  &__save {
    display: flex;
  }

  &__mock {
    display: flex;
    flex: 1;
    border-right: 0.5px dashed var(--color-border-main-transparrent);
    border-left: 0.5px dashed var(--color-border-main-transparrent);

    .workspace__submit {
      margin: auto;
      width: 500px;
    }
  }

  &__submit {
    position: relative;
    // width: 100%;
    height: 50px;
    margin-top: 15px;
    min-height: 40px;

    .submit {
      &__frame {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 20px;
        border: 2px solid var(--color-border-unactive);
        box-sizing: border-box;
        background: transparent;
        &-left {
          left: 0px;
          top: 0px;
          border-right: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -2px;
            left: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -4px;
            left: -2px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
        &-right {
          right: 0px;
          top: 0px;
          border-left: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -3px;
            right: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -8px;
            right: -2px;

            height: 10px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
      }
    }

    &:hover {
      // border: 0.5px solid var(--color-border-active);
      button {
        border: 0.5px solid var(--color-border-active);
        background-color: var(--color-border-active-hover);
        cursor: pointer;
      }

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-active);
          box-sizing: border-box;
          background: transparent;
          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
        }
      }
    }
    button {
      width: 100%;
      height: 100%;
      position: relative;
      border: 0.5px solid var(--color-border-main-transparrent);
      background-color: var(--color-bg-main);
      color: var(--color-text-sub-heading);
      font-size: 14px;
      outline: none;
    }
  }
}

.event-confirm {
  &__header {
    &__block {
      display: flex;
      flex-direction: row;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
  }

  &__block {
    min-height: 40px;
    min-width: 160px;
    margin-bottom: 10px;

    &__right {
      min-width: 130px;
    }

    &__title {
      background-color: var(--color-bg-main);
      margin: 0 0 0 10px;
    }

    &__body {
      margin: 0 0 0 10px;
      color: var(--color-text-main);
    }

    &__body__drop-down {
      // margin: 0 0 0 10px;
      color: var(--color-text-main);
    }
  }

  &__block-border {
    margin-bottom: 10px;
    width: 100%;
  }

  &__save {
    display: flex;
  }

  &__mock {
    display: flex;
    flex: 1;
    border-right: 0.5px dashed var(--color-border-main-transparrent);
    border-left: 0.5px dashed var(--color-border-main-transparrent);

    .workspace__submit {
      margin: auto;
      width: 500px;
    }
  }

  &__submit {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 0 10px;

    .submit {
      &__frame {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 20px;
        border: 2px solid var(--color-border-unactive);
        box-sizing: border-box;
        background: transparent;
        &-left {
          left: 0px;
          top: 0px;
          border-right: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -2px;
            left: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -4px;
            left: -2px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
        &-right {
          right: 0px;
          top: 0px;
          border-left: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -3px;
            right: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -8px;
            right: -2px;

            height: 10px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
      }
    }

    &:hover {
      // border: 0.5px solid var(--color-border-active);
      button {
        border: 0.5px solid var(--color-border-active);
        background-color: var(--color-border-active-hover);
        cursor: pointer;
      }

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-active);
          box-sizing: border-box;
          background: transparent;
          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
        }
      }
    }
    button {
      width: 100%;
      height: 100%;
      position: relative;
      border: 0.5px solid var(--color-border-main-transparrent);
      background-color: var(--color-bg-main);
      color: var(--color-text-main);
      outline: none;
    }
  }
}
