<ng-container *ngFor="let cardData of cardDataArr">
  <div
    class="notification"
    (click)="eventClick(cardData?.id)"
    [class.notification--active]="cardData?.id === cardActiveId"
    [ngClass]="'notification--' + cardData?.priority?.name"
  >
    <div class="notification__header">
      <span class="notification__header__number"> {{ cardData?.id }} </span>
      <span *ngIf="cardData?.eventType" class="notification__header__name"> {{ cardData?.eventType?.name }} </span>
      <div class="notification__header__line--unit">
        <div></div>
      </div>
      <span class="notification__header__unit"> {{ cardData?.unit?.name || '-' }} </span>
      <div class="notification__header__line">
        <div></div>
      </div>
      <span class="notification__header__date-time"> {{ cardData?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }} </span>
    </div>

    <div class="notification__body">
      <div class="notification__body__info">
        <span class="notification__body__info-description"> {{ cardData?.description || '-' }} </span>
        <span class="notification__body__info-facts">
          {{ cardData?.facts[0] ? cardData?.facts[0].comment : '-' }}
        </span>
      </div>
      <div
        class="notification__body__extra"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <span
          class="notification__body__status"
          [ngClass]="cardData?.priority?.name ?
          'notification__body__icon_' + cardData?.priority?.name :
           'notification__body__icon_standard'"
        >
          {{ cardData?.statusName }}
        </span>
        <svg-icon
          class="notification__body__icon"
          [applyCss]="true"
          [src]="cardData?.iconUrl"
          [ngClass]="cardData?.priority?.name ?
          'notification__body__icon_' + cardData?.priority?.name :
           'notification__body__icon_standard'"
        ></svg-icon>
        <svg-icon
          *ngIf="!cardData?.source"
          class="notification__body__icon--delete"
          [applyCss]="true"
          src="assets/icons/remove.svg"
          (click)="deleteClick($event, cardData?.id)"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
          [svgStyle]="{ 'width.px':'14', 'height.px':'14' }"
        >
        </svg-icon>
        <span *ngIf="!cardData?.source" class="notification__body__icon--delete__mock"></span>
      </div>
    </div>
  </div>
</ng-container>
