<div class="container pointer-event">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div
      class="time-diagram"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="time-diagram__container scroll-bar">
        <div class="time-diagram__scroll">
          <ng-container *ngFor="let item of isMockData.values">
            <evj-time-diagram [data]="item" [isMock]="isMock"></evj-time-diagram>
          </ng-container>
        </div>
      </div>
    </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isMock">
    <div
      class="time-diagram"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="time-diagram__container scroll-bar">
        <div class="time-diagram__scroll">
          <ng-container *ngFor="let item of data.values">
            <evj-time-diagram [data]="item"></evj-time-diagram>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
