<div evjSchemaScrollResizer [scaleElement]="schemaContainer">
  <div
    class="main-content-container"
    #schema
  >
    <evj-sou-mvp-mnemonic-scheme-ab-left
      *ngIf="viewType === 'ab'"
      [sections]="(data$ | async)?.sectionsData"
      [choosenSetting]="chosenSetting$ | async"
      [flowIn]="(data$ | async)?.flowIn"
    ></evj-sou-mvp-mnemonic-scheme-ab-left>

    <evj-sou-mvp-mnemonic-scheme-vb-left
      *ngIf="viewType === 'vb'"
      [sections]="(data$ | async)?.sectionsData"
      [choosenSetting]="chosenSetting$ | async"
      [flowIn]="(data$ | async)?.flowIn"
    ></evj-sou-mvp-mnemonic-scheme-vb-left>

    <evj-sou-mvp-mnemonic-scheme-izomalk-left
      *ngIf="viewType === 'izomalk'"
      [sections]="(data$ | async)?.sectionsData"
      [choosenSetting]="chosenSetting$ | async"
    ></evj-sou-mvp-mnemonic-scheme-izomalk-left>

    <div class="streams-groups">
      <div
        class="streams-container"
        [class.streams-container_park]="viewType === 'svg'"
        (touchstart)="$event.stopPropagation()"
      >
        <div class="main-collector" *ngIf="viewType === 'ab' || viewType === 'vb' || viewType === 'izomalk'">
          <div class="main-collector-title">
            <span> {{ (this.data$ | async)?.name }} </span>
          </div>
        </div>
        <evj-sou-mvp-mnemonic-scheme-section
          *ngIf="viewType === 'ab'"
          [choosenSetting]="chosenSetting$ | async"
          [sections]="(data$ | async)?.sectionsData"
        ></evj-sou-mvp-mnemonic-scheme-section>

        <evj-sou-mvp-mnemonic-scheme-section-vb
          *ngIf="viewType === 'vb'"
          [chosenSetting]="chosenSetting$ | async"
          [sections]="(data$ | async)?.sectionsData"
        ></evj-sou-mvp-mnemonic-scheme-section-vb>

        <evj-sou-mvp-mnemonic-scheme-section-izomalk
          *ngIf="viewType === 'izomalk'"
          [choosenSetting]="chosenSetting$ | async"
          [sections]="(data$ | async)?.sectionsData"
        ></evj-sou-mvp-mnemonic-scheme-section-izomalk>

        <evj-sou-schema
          *ngIf="viewType === 'svg'"
          [chosenSetting]="chosenSetting$ | async"
          [sectionsDataPark]="(data$ | async)?.sectionsData"
          [unitName]="unitName"
          [sectionName]="sectionName"
        >
        </evj-sou-schema>
      </div>
    </div>
  </div>
</div>
