.main-content-container {
  height: 100%;
  padding-left: 15px;

  display: flex;
}

.streams-groups {
  width: 100%;
  padding-top: 14px;
  overflow-y: auto;
  overflow-x: hidden;

  .streams-container {
    min-height: 100%;
    padding: 10px 0;
    padding-left: 93px;

    position: relative;

    &_park {
      padding: 0px;
      padding-left: 0px;
    }
  }

  .main-collector {
    height: 100%;
    width: 50px;
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--sou-mvp-color-border);
    background: var(--sou-mvp-color-bg-title);
    border-radius: 100px;

    float: left;
    position: absolute;
    left: 0;

    .main-collector-title {
      position: fixed;
      top: 52%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .stream {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
}
