<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>

    <section
      class="table"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="table__header">
        <table>
          <thead>
            <tr class="header__items">
              <th class="header header__equipment">
                <svg-icon
                  class="icon-equipment"
                  src="assets/icons/widgets/deviations-table/1.svg"
                >
                </svg-icon>
                Установки
              </th>
              <th class="header header__icon">
                <svg-icon class="icon" src="assets/icons/widgets/deviations-table/2.svg">
                </svg-icon>
              </th>
              <th class="header header__icon">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/3.svg">
                </svg-icon>
              </th>
              <th class="header header__icon">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/4.svg">
                </svg-icon>
              </th>
              <th class="header header__icon">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/5.svg">
                </svg-icon>
              </th>
              <th class="header header__icon">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/6.svg">
                </svg-icon>
              </th>
              <th class="header header__icon">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/7.svg">
                </svg-icon>
              </th>
              <th class="header header__icon" style="max-width: 80px;">
                <svg-icon class="icon_svg" src="assets/icons/widgets/deviations-table/8.svg">
                </svg-icon>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table__body scroll-bar">
        <table>
          <tbody>
            <tr
              *ngFor="let item of data"
              class="table__item"
              [ngClass]="{'open': item.nonCritical}"
            >
              <td class="item item__equipment">{{ item.equipment }}</td>
              <td class="item item__fuel">
                <span *ngIf="item.gasContamination !== 0">{{ item.gasContamination }}</span>
                <span class="item__sub" *ngIf="item.gasContamination === 0">-</span>
              </td>
              <td class="item item__fuel">
                <span *ngIf="item.deLockKeys !== 0">{{ item.deLockKeys }}</span>
                <span class="item__sub" *ngIf="item.deLockKeys === 0">-</span>
              </td>
              <td class="item item__fuel">
                <span *ngIf="item.fireAlarm !== 0">{{ item.fireAlarm }}</span>
                <span class="item__sub" *ngIf="item.fireAlarm === 0">-</span>
              </td>
              <td class="item item__fuel">
                <span *ngIf="item.lockAndAlarm !== 0">{{ item.lockAndAlarm }}</span>
                <span class="item__sub" *ngIf="item.lockAndAlarm === 0">-</span>
              </td>
              <td class="item item__fuel">
                <span *ngIf="item.piDControllers !== 0">{{ item.piDControllers }}</span>
                <span class="item__sub" *ngIf="item.piDControllers === 0">-</span>
              </td>
              <td class="item item__fuel">
                <span *ngIf="item.vibrodiagnosticSystems !== 0"
                  >{{ item.vibrodiagnosticSystems }}</span
                >
                <span class="item__sub" *ngIf="item.vibrodiagnosticSystems === 0">-</span>
              </td>
              <td class="item item__fuel" style="max-width: 73px;">
                <span *ngIf="item.electricalHeatingSystems !== 0"
                  >{{ item.electricalHeatingSystems }}</span
                >
                <span class="item__sub" *ngIf="item.electricalHeatingSystems === 0">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
