<button
  class="button button__normal"
  [ngClass]="changeButtonStyle()"
  (mouseover)="isButtonHover=true"
  (mouseleave)="isButtonHover=false"
  (click)="onClick()"
>
  <div
    class="button__frame button__frame-left"
    [ngClass]="{'button__frame':isSmallButton,
    'button__frame-left':isSmallButton,
    'button__frame-normal':!isSmallButton,
    'button__frame-normal-left':!isSmallButton}"
  ></div>
  <div
    [ngClass]="{'button__frame':isSmallButton,
    'button__frame-right':isSmallButton,
    'button__frame-normal':!isSmallButton,
    'button__frame-normal-right':!isSmallButton}"
  ></div>
  <ng-container *ngIf="textButton; else image">
    {{textButton}}
  </ng-container>
  <ng-template #image>
    <div class="button__icon">
      <img [src]="changeButtonIcon()" alt="" />
    </div>
  </ng-template>
</button>
