<ng-container *ngIf="!isRounded; else roundedButtonTemplate;">
  <button
    class="button button__normal"
    [ngClass]="changeButtonStyle()"
    [ngClass]="{'button-active':isActive}"
    [disabled]="disabled"
    (mouseover)="isButtonHover=true"
    (mouseleave)="isButtonHover=false"
    (click)="onClick()"
  >
    <div class="button__frame-normal button__frame-normal-left"></div>
    <div class="button__frame-normal button__frame-normal-right"></div>
    <ng-container *ngIf="textButton; else image"> {{textButton}} </ng-container>
    <ng-template #image>
      <div class="button__icon">
        <img [src]="changeButtonIcon()" alt="" />
      </div>
    </ng-template>
  </button>
</ng-container>

<ng-template #roundedButtonTemplate>
  <button [disabled]="disabled" (click)="onClick()" [class]="'button-rounded' + ' ' + type">{{ textButton }}</button>
</ng-template>
