.button {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: 0;
  background: transparent;

  position: relative;
  color: var(--color-text-main);
  border: 0.5px solid var(--color-button-border);
  padding: 0 10px;

  font-size: 14px;

  &-small {
    border: none;
  }

  &__frame {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 10px;
    box-sizing: border-box;
    top: 0px;
    background: transparent;

    &-normal {
      position: absolute;
      z-index: 3;
      height: 103%;
      width: 20px;
      box-sizing: border-box;
      top: 0px;
      background: transparent;
      border: 1px solid var(--color-button-borderside);

      &-left {
        left: 0px;
        border-right: none;

        &::after {
          content: "";

          width: 10px;
          height: 10px;

          box-sizing: border-box;
          border-bottom: 1px solid var(--color-button-borderside);

          background: var(--color-bg-main);

          position: absolute;
          left: -5px;
          top: -5px;

          transform: rotate(-45deg);
        }

        &::before {
          content: "";

          width: 10px;
          height: 10px;

          box-sizing: border-box;
          border-top: 1px solid var(--color-button-borderside);

          background: var(--color-bg-main);

          position: absolute;
          left: -5px;
          bottom: -5px;

          transform: rotate(45deg);
        }
      }

      &-right {
        right: -1px;
        border-left: none;

        &::after {
          content: "";

          width: 10px;
          height: 10px;

          box-sizing: border-box;
          border-bottom: 1px solid var(--color-button-borderside);

          background: var(--color-bg-main);

          position: absolute;
          right: -5px;
          top: -5px;

          transform: rotate(45deg);
        }

        &::before {
          content: "";

          width: 10px;
          height: 10px;

          box-sizing: border-box;
          border-top: 1px solid var(--color-button-borderside);

          background: var(--color-bg-main);

          position: absolute;
          right: -5px;
          bottom: -5px;

          transform: rotate(-45deg);
        }
      }
    }
  }

  &__icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      height: 27px;
      width: 27px;
    }
  }

  &-active {
    cursor: pointer;
    color: var(--color-text-main);
    border-color: var(--color-border-active);
    background: var(--color-bg-active);

    .button {
      &__frame-normal {
        border-color: var(--color-border-active);

        &-left,
        &-right {
          &::after,
          &::before {
            border-color: var(--color-border-active);
          }
        }
      }
    }
  }

  &:focus {
    outline: none;
  }
}
