@import "../../../../../../mixins";

%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
}

.block-container {
  display: flex;
  flex-wrap: wrap;
}

.selected-block {
  // border: 1px solid var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.regular-block {
  // border: 1px solid transparent;
}

.selected {
  .line {
    border-color: var(--color-border-active);
  }

  .line__circle {
    border-color: var(--color-border-active);
  }

  border-color: var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.notifications {
  &__block {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    &__item {
      height: 160px;
      background-color: var(--color-bg-sub);
      padding: 0 0 20px 20px;
      margin-bottom: 15px;
      flex: 1 1 340px;

      clip-path: polygon(
        0% 6px,
        /* top left */ 6px 0%,
        /* top left */ calc(100% - 6px) 0%,
        /* top right */ 100% 6px,
        /* top right */ 100% calc(100% - 6px),
        /* bottom right */ calc(100% - 6px) 100%,
        /* bottom right */ 6px 100%,
        /* bottom left */ 0 calc(100% - 6px) /* bottom left */
      );
    }
  }

  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notification {
  cursor: pointer;
  margin-right: 10px;
  height: 88px;
  padding: 18px 0 5px 0;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main);
  }

  &__number {
    flex: 0 10px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 6px;

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }
  }

  &__unit {
    font-size: 10px;
    margin-left: -6px;
    -webkit-line-clamp: 1;
    @include text-overflow;
  }

  &__name {
    font-size: 0.625rem;
    color: var(--color-text-sub);
    max-width: 200px;
    -webkit-line-clamp: 1;
    @include text-overflow;
  }

  &__line {
    flex: 4;
    margin: 0 16px;

    &_top {
      margin: 0 16px;

      &-first {
        flex: 1;
      }
    }

    &_bottom {
      margin: -4px 0 0 6.5px;
    }
  }

  &:hover &__line {
    border-color: var(--color-border-active);
  }

  &:hover .line__circle {
    border-color: var(--color-border-active);
  }

  &__date-time {
    flex: 0 100px;
    font-size: 0.75rem;
    color: var(--color-text-sub);
    min-width: 100px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
  }

  &__icon_delete {
    display: none;
  }

  &__icon_delete__mock {
    display: block;
    width: 25px;
  }

  &:hover &__body {
    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);

    .notification__icon_delete {
      display: inline;
      margin: 2px 0 0 10px;
      width: 15px;
    }

    .notification__icon_delete__mock {
      display: none;
    }
  }

  &__info {
    flex: 2 750px;
    display: flex;
    flex-wrap: wrap;

    &-description,
    &-facts {
      @include text-overflow;
    }

    &-description {
      width: 100%;
      color: var(--color-text-sub);
      font-size: 0.875rem;
      height: 32px;
      -webkit-line-clamp: 2;
      margin-bottom: 5px;
    }

    &-facts {
      width: 100%;
      color: var(--color-text-main);
      font-size: 12px;
      height: 13px;
      -webkit-line-clamp: 1;
    }
  }

  &__extra {
    flex: 1 150px;
    max-width: 150px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__status {
    font-size: 0.75rem;
    color: var(--color-text-sub);

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }

    &_standart {
      color: var(--color-text-main);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-sub);
    margin-left: 10px;

    width: 26px;
    height: 26px;

    &_danger {
      stroke: var(--color-danger);
    }

    &_warning {
      stroke: var(--color-warning);
    }

    &_standard {
      stroke: var(--color-text-sub);
    }

    &_delete {
      fill: var(--color-border-unactive);

      &:hover {
        fill: var(--color-border-active);
      }
    }
  }
}

.notification__block {
  cursor: pointer;
  margin: 0 10px 10px 0;
  transition: background-color 100ms ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main);
  }

  &__number {
    font-size: 14px;
    font-weight: bold;
    margin-right: 6px;

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }
  }

  &__unit,
  &__name {
    font-size: 1rem;
  }

  &__unit {
    font-weight: normal;
    color: var(--color-text-main);
    -webkit-line-clamp: 1;
    @include text-overflow;
  }

  &__name {
    color: var(--color-text-sub);
  }

  &__line {
    flex: 1 130px;
    margin: 0 16px;

    &_top {
      margin: 0 16px;
    }

    &_bottom {
      margin: -4px 6.5px 0 6.5px;
    }
  }

  &:hover &__line {
    border-color: var(--color-border-active);
  }

  &:hover .line__circle {
    border-color: var(--color-border-active);
  }

  &__date-time {
    flex: 0 98px;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 0;
    flex-wrap: wrap;
    height: 95px;
  }

  &:hover {
    transition: background-color 200ms ease;
    background-color: var(--color-bg-active);
  }

  &__description,
  &__facts {
    @include text-overflow;
  }

  &__description {
    width: 100%;
    color: var(--color-text-main);
    font-size: 1.25rem;
    max-height: 50px;
    margin-bottom: 10px;
    -webkit-line-clamp: 3;
  }

  &__facts {
    width: 100%;
    color: var(--color-text-sub);
    font-size: 20px;
    max-height: 50px;
    -webkit-line-clamp: 2;
  }

  &__extra {
    flex: 1 98px;
    max-width: 200px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__status {
    margin-right: 15px;
    font-size: 14px;
    color: var(--color-text-sub);

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }

    &_closed {
      color: var(--color-bg-sub);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 26px;
    height: 26px;

    &__right {
      margin-top: 11px;
      margin-left: 13px;
      display: block;
    }

    &_danger {
      stroke: var(--color-danger);
    }

    &_warning {
      stroke: var(--color-warning);
    }

    &_standard {
      stroke: var(--color-text-main);
    }

    &_delete {
      fill: var(--color-border-unactive);

      &:hover {
        fill: var(--color-border-active);
      }
    }
  }

  .notification__block__span__icon {
    width: 40px;
    height: 40px;
    border-top-right-radius: 6px;
    background-color: var(--color-bg-active);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    color: var(--color-text-main);

    &-text {
      font-size: 14px;
    }

    &-date-time {
      font-size: 16px;
      margin-right: 12px;
    }
  }
}

.line {
  position: relative;
  height: 4px;
  border-bottom: 1px dashed var(--color-border-main-transparrent);

  &__circle {
    @extend %circle;
    top: auto;
    bottom: -2.5px;

    &__left {
      left: -6.5px;
    }

    &__right {
      right: 0;
    }
  }
}

.event-confirm {
  &__header {
    &__block {
      display: flex;
      flex-direction: row;
    }
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
  }

  &__block {
    min-height: 40px;
    min-width: 160px;
    margin-bottom: 10px;

    &__right {
      min-width: 130px;
    }

    &__title {
      background-color: var(--color-bg-main);
      margin: 0 0 0 10px;
    }

    &__body {
      margin: 0 0 0 10px;
      color: var(--color-text-main);
    }

    &__body__drop-down {
      // margin: 0 0 0 10px;
      color: var(--color-text-main);
    }
  }

  &__block-border {
    margin-bottom: 10px;
    width: 100%;
  }

  &__save {
    display: flex;
  }

  &__mock {
    display: flex;
    flex: 1;
    border-right: 0.5px dashed var(--color-border-main-transparrent);
    border-left: 0.5px dashed var(--color-border-main-transparrent);

    .workspace__submit {
      margin: auto;
      width: 500px;
    }
  }

  &__submit {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 0 10px;

    .submit {
      &__frame {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 20px;
        border: 2px solid var(--color-border-unactive);
        box-sizing: border-box;
        background: transparent;

        &-left {
          left: 0px;
          top: 0px;
          border-right: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -2px;
            left: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -4px;
            left: -2px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }

        &-right {
          right: 0px;
          top: 0px;
          border-left: none;

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -3px;
            right: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(45deg);

            border-bottom: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            bottom: -8px;
            right: -2px;

            height: 10px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-top: 2px solid var(--color-border-unactive);
            background: var(--color-bg-main);
          }
        }
      }
    }

    &:hover {
      // border: 0.5px solid var(--color-border-active);
      button {
        border: 0.5px solid var(--color-border-active);
        background-color: var(--color-border-active-hover);
        cursor: pointer;
      }

      .submit {
        &__frame {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 20px;
          border: 2px solid var(--color-border-active);
          box-sizing: border-box;
          background: transparent;

          &-left {
            left: 0px;
            top: 0px;
            border-right: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -2px;
              left: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -4px;
              left: -2px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }

          &-right {
            right: 0px;
            top: 0px;
            border-left: none;

            &:before {
              z-index: 1;
              content: "";
              position: absolute;

              top: -3px;
              right: -7px;

              height: 7px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(45deg);

              border-bottom: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }

            &:after {
              z-index: 1;
              content: "";
              position: absolute;

              bottom: -8px;
              right: -2px;

              height: 10px;
              width: 10px;

              box-sizing: border-box;
              transform-origin: 43% 0;
              transform: rotate(-45deg);

              border-top: 2px solid var(--color-border-active);
              background: var(--color-bg-main);
            }
          }
        }
      }
    }

    button {
      width: 100%;
      height: 100%;
      position: relative;
      border: 0.5px solid var(--color-border-main-transparrent);
      background-color: var(--color-bg-main);
      color: var(--color-text-main);
      outline: none;
    }
  }
}

.label-button {
  width: 110px;
  height: max-content;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-oil-border);
  color: var(--color-text-main);
  font-size: 12px;

  &_active {
    border: 1px solid var(--color-active);
    background: var(--color-bg-active);
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
