<div [class.block-container]="viewType === 'block'">
  <ng-container *ngFor="let cardData of cardDataArr">
    <ng-container
      *ngTemplateOutlet="viewType === 'block' ? block : list; context: {cardData: cardData}"
    ></ng-container>
  </ng-container>
</div>

<ng-template #list let-cardData="cardData">
  <div
    class="notification notifications__item"
    (click)="eventClick(cardData?.id)"
    [class.selected]="cardData?.id === cardActiveId"
  >
    <div class="notification__header">
      <span class="notification__number" [ngClass]="'notification__number_' + cardData?.priority">
        {{ cardData?.id }}
      </span>
      <span class="notification__name" *ngIf="cardData?.eventType">
        {{ cardData?.eventType?.name }}
      </span>
      <div class="line notification__line notification__line_top notification__line_top-first">
        <div class="line__circle line__circle__left"></div>
        <div class="line__circle line__circle__right"></div>
      </div>
      <span class="notification__unit">
        {{ cardData?.unit?.name || '-' }}
      </span>
      <div class="line notification__line notification__line_top">
        <div class="line__circle line__circle__left"></div>
        <div class="line__circle line__circle__right"></div>
      </div>
      <span class="notification__date-time">
        {{ cardData?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }}
      </span>
    </div>

    <div class="notification__body">
      <div class="notification__info">
        <span class="notification__info-description">
          {{ cardData?.category.name === 'tasks' ? cardData?.subCategory?.description : (cardData?.description ? cardData?.description : '-') }}
        </span>
        <span class="notification__info-facts">
          {{  cardData?.category.name === 'tasks' ? cardData?.shiftPassEstablishedFacts : (cardData?.facts[0] ? cardData?.facts[0].comment : '-') }}
        </span>
      </div>
      <div
        class="notification__extra"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <span
          class="notification__status"
          [ngClass]="'notification__status_' + cardData?.priority?.name"
        >
          {{ cardData?.statusName }}
        </span>
        <svg-icon
          class="notification__icon"
          [applyCss]="true"
          [src]="cardData?.iconUrl"
          [ngClass]="'notification__icon_' + cardData?.priority?.name"
        ></svg-icon>
        <svg-icon
          *ngIf="!cardData?.source"
          class="notification__icon_delete"
          [applyCss]="true"
          src="assets/icons/remove.svg"
          (click)="deleteClick(cardData?.id)"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        >
        </svg-icon>
        <span *ngIf="!cardData?.source" class="notification__icon_delete__mock"></span>
      </div>
    </div>
    <div class="line notification__line notification__line_bottom">
      <div class="line__circle line__circle__left"></div>
      <div class="line__circle line__circle__right"></div>
    </div>
  </div>
</ng-template>

<ng-template #block let-cardData="cardData">
  <div
    class="notification__block notifications__block__item"
    [class.notification-event]="!isCdEvents" [class.notification-cd-event]="isCdEvents"
    [class.selected-block]="cardData?.id === cardActiveId"
    (click)="eventClick(cardData?.id)"
  >
    <div class="notification__block__header">
      <span
        class="notification__block__number"
        [ngClass]="'notification__number_' + cardData?.priority"
      >
        {{ cardData?.id }}
      </span>
      <span class="notification__block__unit">
        {{ cardData?.unit?.name || '-' }}
      </span>

      <div
        class="label-button"
        [class.label-button_active]="cardData?.isAcknowledged"
        (click)="changeIsAcknowledged(cardData)"
        *ngIf="cardData?.category?.code!==0 && cardData?.category?.code!==5 && cardData?.category?.code!==6"
      >
        {{cardData?.isAcknowledged ? 'Квитировано' : 'Неквитировано'}}
      </div>

      <div class="notification__block__extra">
        <span
          class="notification__block__status"
          [ngClass]="'notification__block__status_' + cardData?.priority?.name"
        >
          {{ cardData?.statusName }}
        </span>
        <span class="notification__block__status">
          <svg-icon
            [applyCss]="true"
            [src]="cardData?.iconUrlStatus"
            [ngClass]="'notification__block__icon_' + cardData?.priority?.name"
            [svgStyle]="{'fill':'rgb(63, 168, 243)'}"
          >
          </svg-icon>
        </span>
        <span *ngIf="!cardData?.source" class="notification__block__status">
          <svg-icon
            class="notification__block__icon notification__block__icon_delete"
            [applyCss]="true"
            src="assets/icons/remove.svg"
            (click)="deleteClick(cardData?.id)"
            [svgStyle]="{ 'width.px':14, 'height.px':14 }"
          >
          </svg-icon>
        </span>
        <span class="notification__block__span__icon">
          <svg-icon
            [applyCss]="true"
            class="notification__block__icon__right"
            [src]="cardData?.iconUrl"
            [ngClass]="'notification__block__icon_'"
            [svgStyle]="{'fill':'rgb(63, 168, 243)'}"
          >
          </svg-icon>
        </span>
      </div>
    </div>
    <div class="notification__block__body">
      <span class="notification__block__description">
        {{ cardData?.description }}
      </span>
      <span class="notification__block__facts">
        {{ cardData?.facts[0] ? cardData?.facts[0].comment : '-' }}
      </span>
    </div>
    <div class="notification__block__footer">
      <span class="notification__block__footer-text">Начало события:</span>
      <span class="notification__block__footer-date-time"
      >{{ cardData?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }}</span
      >
    </div>
  </div>
</ng-template>
