<div class="employee-container">
  <div>
    <img class="employee-container__avatar" [src]="photoPath" />
  </div>
  <div class="employee-container__info">
    <div class="fio">{{data.lastName}} {{data.firstName}} {{data.middleName}}</div>
    <div class="specialty">{{data.positionDescription}}</div>
  </div>
  <div *ngIf="type === 'brigade'" class="employee-container__brigade">
    <div class="brigade">{{data.brigade.number}}</div>
  </div>

  <div class="employee-container__star" [class.star-active]="star" (click)="changeStatus()">
    <svg-icon
      src="assets/icons/widgets/admin-shift-schedule/star.svg"
      [svgStyle]="{ 'width.px':12, 'height.px':20 }"
    ></svg-icon>
  </div>

  <div *ngIf="garbage" class="employee-container__garbage" (click)="delete()">
    <svg-icon
      src="assets/icons/widgets/admin-shift-schedule/garbage.svg"
      [svgStyle]="{ 'width.px':8, 'height.px':11 }"
    ></svg-icon>
  </div>
</div>
