<div class="space">
  <div class="space__icon">
    <div class="logo"><img src="assets/icons/widgets/OZSM/ozsm-loading-space/loading-space.svg"></div>
  </div>
  <div class="space__value">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="space__percent"><span>76%</span></div>
</div>

