<p>ozsm-warehouse-loading works!</p>
<div class="space">
  <div class="space__icon">
    <img src="assets/icons/widgets/OZSM/ozsm-loading-space/loading-space.img" class="icon">
  </div>
  <div class="space__value">
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
    <div class="cell"></div>
  </div>
  <div class="space__percent"><span>76%</span></div>
</div>
<div class=:"title"><span>Складские помещения</span></div>
