<div class="space">
  <div class="space__icon">
    <img src="assets/icons/widgets/OZSM/ozsm-loading-space/loading-space.svg">
  </div>
  <div class="cells">
    <div class="title"><span>Складские помещения</span></div>
    <div class="space__value">
      <ng-container *ngFor="let i of arrayOfCells; index as idx">
        <div class="cell">
          <div class="full" *ngIf="data.percentageValue >= idx+1"></div>
          <div class="not-full" *ngIf="data.percentageValue >= idx"
               [ngStyle]="{width: data.percentageValue % 1 * 100 + '%'}"></div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="space__percent"><span>{{data.percentageValue * 10 + '%'}}</span></div>
</div>



