<div class="panel-container">
  <div class="panel_header">
    <div class="icon">
      <svg-icon
        [svgStyle]="{ 'width.%':100, 'height.%':100 }"
        src="assets/icons/widgets/CD/cd-mat-balance/settings.svg"
      ></svg-icon>
    </div>
    <div class="label">Мат. баланс</div>
    <span style="flex-grow: 1"></span>
    <div class="units">%масс</div>
  </div>
  <div class="panel panel_info">
    <div class="panel_info__buttons">
      <div class="button">
        <div class="gradient"></div>
        <span class="label">Cек. 100</span>
      </div>
      <div class="button button__big button__active">
        <div class="gradient"></div>
        <span class="label">Cек. 200-300</span>
      </div>
    </div>
    <div class="panel_info__value">
      <span class="text"> 100 </span>
    </div>
  </div>
  <div class="panel panel_content">
    <div class="scroll-container scroll-bar">
      <ng-container *ngFor="let item of data">
        <ng-container
          *ngTemplateOutlet="itemTemplate; context: {
            title: item?.name,
            percentValue: item?.percentLoad,
            value: item?.value,
            engUnits: item?.engUnits,
            id: item?.id,
            deviation: item?.deviation
            }"
        ></ng-container>
      </ng-container>
    </div>
  </div>
  <div class="panel panel_footer"></div>
</div>

<ng-template #itemTemplate
             let-title="title"
             let-percentValue="percentValue"
             let-value="value"
             let-engUnits="engUnits"
             let-id="id"
             let-deviation="deviation">
  <div class="item-container" (click)="clickItem(id, deviation)">
    <div class="diagram-circle" [class.diagram-circle--warning]="deviation !== 0"></div>
    <div class="label">{{title}}</div>
    <div class="percent-value">{{percentValue | number: "0.0-0"}}</div>
    <div class="unit-value">{{value.toFixed(1) | number: "0.1-2"}} {{ engUnits }}</div>
    <div class="vertical-line"></div>
    <div class="icon">
      <svg-icon
        [svgStyle]="{ 'width.px':17, 'height.px':17 }"
        src="assets/icons/widgets/CD/cd-mat-balance/tube.svg"
      ></svg-icon>
    </div>
  </div>
</ng-template>
