.card {
  display: flex;
  flex-flow: column;
  gap: 4px;
  height: 100%;
  width: 100%;
  padding: 7px 11px;
  background: var(--opacity-card-50);
  border-radius: 2px;
  box-sizing: border-box;

  .title {
    font-size: 10px;
    color: var(--text-main-color);
  }

  .value {
    font-size: 14px;

    &__fact {
    }

    &__plan {
      color: var(--index-plan-color);
    }

    &__deviation {
      color: var(--text-main-color);
    }

    &__interval {
      color: var(--text-subscript-color);
    }
  }
}
