<div class="widget-container">
  <evj-contemporary-widget-header type="astue" [widgetTitle]="widgetTitle" [uniqId]="widgetUniqId">
    <div class="header-container">
      <div class="tabs-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div
          *ngFor="let tab of tabs"
          class="tab"
          [class.tab__active]="tab.caption === currentTab"
          (click)="toggleTab(tab.caption)"
        >
          {{ tab.caption }}
        </div>
      </div>
      <div
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
        class="button"
        (click)="handleTabClick()"
        matRipple
        matRippleColor="white"
      >
        В источник
      </div>
    </div>
  </evj-contemporary-widget-header>
  <div class="content_block" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="wrapper">
      <div class="chart-container">
        <ng-container *ngFor="let chart of data?.chartData">
          <div class="gauge-card">
            <div class="gauge-card__content">
              <div class="gauge-card__diagram">
                <evj-ejco-gauge-chart
                  [fact]="chart?.fact"
                  [plan]="chart?.plan"
                  [deviation]="chart?.deviation"
                  displayType="limited"
                ></evj-ejco-gauge-chart>
              </div>
              <div class="gauge-card__label">{{ chart.title }}</div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="table-container">
        <ng-container *ngFor="let row of tableData">
          <div class="table-container__row">
            <div class="table-container__col title-col" [matTooltip]="row?.title">
              <span>{{ row?.title }}</span>
            </div>
            <div class="table-container__col value-col">
              <ng-container *ngFor="let value of row?.values">
                <div class="item" [matTooltip]="value">
                  <span>{{ value }}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
