<div class="main-container">
  <div class="container" [ngClass]="{warning:warningStatus}">
    <div class="connection__left">
      <div 
        class="connection-circle"
        *ngFor="let item of inputArr"
      ></div>
    </div>
    <span>{{title}}</span>
    <div class="connection__right">
      <div 
        class="connection-circle"
        *ngFor="let item of outputArr"
      ></div>
    </div>
  </div>
  <div class="line-container">
    <div 
      class="line"
      *ngFor="let item of outputArr"
    ></div>
  </div>
</div>

