* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 24px;
  padding: 10px 0;

  background: var(--sou-mvp-color-bg-title);
  border: 1px solid var(--sou-mvp-color-border);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  span {
    font-size: 12px;
    line-height: 14px;

    -webkit-writing-mode: vertical-rl; 
    writing-mode:tb-rl;

    color: var(--sou-mvp-color-text-diagram-main);
    white-space: nowrap;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    transform: rotate(-180deg);
  }

  .connection__left, .connection__right {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    position: absolute;
  }
  
  .connection {

    &__left {
      left: -4px
    }
    &__right {
      right: -4px;
    }
  }

  .connection-circle {
    height: 8px;
    width: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
  
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-border);
  }
}

.warning {
  background: var(--sou-mvp-color-bg-warning);
  border: 1px solid var(--sou-mvp-color-warning);

  span {
    color: var(--sou-mvp-color-white);
  }
  
  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-warning);
  }
}

.main-container {
  height: 100%;
  
  display: flex;
  align-items: center;

  .line {
    height: 1px;
    width: 30px;
    border-top: 1px solid var(--sou-mvp-color-border);
  }
}

.line-container {
  display: flex;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.off{
  background: var(--sou-mvp-color-bg-main);
  border: 1px solid var(--sou-mvp-color-bg-title);

  span {
    color: var(--sou-mvp-color-text-diagram-sub);
  }
  
  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-bg-title);
  }
}