.cb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  // margin: 40px auto;
}

.item-b {
  border-left: 2px solid var(--color-bg-main);
  width: 300px;
  margin-left: 35px;
}

.active {
  border-left: 2px solid var(--color-border-active);
  background: linear-gradient(to right, var(--color-border-active) -100%, #1b1e27);
}

.item-b ::ng-deep svg {
  height: 100%;
}

.item-b ::ng-deep .arc {
  transform: rotate(134deg);
}

.line {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line1.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 80px;
  left: 352px;
  position: absolute;
  margin-top: -36px;
}
