<div class="container">
    <evj-alert-window [info]="reportService.alertWindow$ | async"></evj-alert-window>
    <div class="container__header">
      <div class="title">
        <div class="logo">
          <svg-icon
            [src]="'assets/icons/widgets/admin/report-name-configurator-logo.svg'"
          >
          </svg-icon>
        </div>
        <span>Конфигуратор имени отчета</span>
      </div>
      <div class="close" (click)="onNoClick()">
        <div class="close__button">
          <svg-icon
            [svgStyle]="{'height.px':'21', 'width.px': '21'}"
            [src]="'assets/icons/widgets/alert-window/close.svg'"
          >
          </svg-icon>
        </div>
      </div>
    </div>
    <div class="container__body">
      <div class="template-parameters">
        <div class="title">
          <span>Имя отчёта</span>
        </div>
        <div class="container__body__parameters">
          <div class="input">
            <div class="input-block">
              <div class="input-block__input">
                <div class="input-back">
                  <input type="text" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="template-parameters">
        <div class="title">
          <span>Шаблон наименования файла</span>
        </div>
        <div class="container__body__template">
          <span></span>
          <!-- <ng-container *ngFor="let item of data.res.customOptionsFilenameSettings; last as last">
            {{  !last ?  item.name + ' | ' : item.name}}
          </ng-container> -->
        </div>
      </div>
      <div class="options">
        <div class="title">
          <span>Конструктор шаблона наименования файла</span>
        </div>
        <div class="container__body__options"
             cdkDropList
             (cdkDropListDropped)="drop($event)"
        >
          <!-- <div *ngFor="let item of data.res.customOptionsFilenameSettings"
               class="option"
               cdkDrag>
            <div class="option__name">{{ item.name }}</div>
            <div class="option__radio">
              <span class="slide">
                <mat-slide-toggle
                  disableRipple="true"
                ></mat-slide-toggle>
              </span>
            </div>
          </div> -->
        </div>
      </div>
      <div class="container__body__buttons">
        <div class="btn">
          <evj-rect-button
            class="add-button"
            matRipple
            matRippleColor="white"
            textButton="Cохранить"
            [isChangingState]="false"
            [type]="'primary'"
            (click)="dialogClose()"
          >
          </evj-rect-button>
        </div>
        <div class="btn">
          <evj-rect-button
            class="add-button"
            matRipple
            matRippleColor="white"
            textButton="Отменить"
            (click)="onNoClick()"
            [isChangingState]="false"
            [type]="'primary'"
          >
          </evj-rect-button>
        </div>
      </div>
    </div>
  </div>