<div class="container-employees">
  <div class="container-employees__title">Список сотрудников</div>
  <div class="container-employees__content">
    <div class="employees">
      <div class="search-input">
        <div class="search-input__height-input">
          <evj-circle-input placeholder="Введите ФИО сотрудника"></evj-circle-input>
        </div>
      </div>
      <div
        class="list-employee"
        id="0"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="data"
      >
        <ng-container *ngFor="let item of data">
          <evj-admin-shift-info-employee
            [data]="item"
            cdkDrag
            (cdkDragStarted)="dragStart(item.id)"
            brigade="true"
            [brigadeColors]="brigadeColors"
          ></evj-admin-shift-info-employee>
        </ng-container>
      </div>
      <div class="employees__bottom"></div>
    </div>
  </div>
</div>
