<div class="stream">
  <div class="stream__item padding">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 169
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 170
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item end">
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [style.marginRight]="'-2px'"
      [data]="{
        sections: sections,
        code: 168
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 169
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 170
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-simple-input
      [style.opacity]="0"
      [data]="{
        sections: sections,
        code: 168
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
  </div>
  <div class="stream__item row">
    <div class="special-dot-container">
      <div class="connection-circle"></div>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [outCount]="0"
      [inCount]="0"
      [data]="{
        sections: sections,
        code: 182
      }"
    ></evj-sou-mvp-mnemonic-scheme-collector>
    <div class="special-line-container">
      <div class="line line--dashed">
        <div class="connection-circle"></div>
      </div>
      <div class="line line--dashed ">
        <div class="connection-circle"></div>
      </div>
      <div class="line line--dashed">
        <div class="connection-circle"></div>
      </div>
      <div class="line line--dashed">
        <div class="connection-circle"></div>
      </div>
      <div class="line line--dashed">
        <div class="connection-circle"></div>
      </div>
    </div>
  </div>
  <div class="stream__item full">
    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 188,
          disabledCircle: true
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line line--dashed"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 210
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 189,
          disabledCircle: true
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line line--dashed"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 211
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 190,
          disabledCircle: true
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line line--dashed"></div>
      <evj-sou-mvp-mnemonic-scheme-output
        [data]="{
          sections: sections,
          code: 212
        }"
      ></evj-sou-mvp-mnemonic-scheme-output>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 232,
          disabledCircle: true
        }"
        [noPoint]="true"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
    </div>

    <div class="stream specificAB">
      <div class="stream__item">
        <div class="vertical-custom-connection">
          <div class="connection-circle"></div>
          <div class="line line--dashed"></div>
        </div>
        <evj-sou-mvp-mnemonic-scheme-collector
          [style.height.%]="100"
          [data]="{
            sections: sections,
            code: 191
          }"
          [dashedLine]="[1]"
          [outCount]="1"
          [inCount]="0"
        ></evj-sou-mvp-mnemonic-scheme-collector>
      </div>
      <div class="stream__item">
        <evj-sou-mvp-mnemonic-scheme-stream-diagram
          [data]="{
            sections: sections,
            code: 192,
            disabledCircle: true
          }"
          [choosenSetting]="choosenSetting"
        ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      </div>
      <div class="stream__item output">
        <evj-sou-mvp-mnemonic-scheme-output
          [data]="{
            sections: sections,
            code: 213
          }"
        ></evj-sou-mvp-mnemonic-scheme-output>
      </div>
    </div>

    <div class="center-flex">
      <evj-sou-mvp-mnemonic-scheme-stream-diagram
        [data]="{
          sections: sections,
          code: 193,
          disabledCircle: true
        }"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
      <div class="line line--dashed"></div>
      <evj-sou-mvp-mnemonic-scheme-simple-output
        [data]="{
          sections: sections,
          code: 214
        }"
      ></evj-sou-mvp-mnemonic-scheme-simple-output>
    </div>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 172
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item end">
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [data]="{
        sections: sections,
        code: 171
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 172
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
    <evj-sou-mvp-mnemonic-scheme-simple-input
      [data]="{
        sections: sections,
        code: 173
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-input>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 183
      }"
      [dashedLine]="[1,2,3,4]"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item relative">
    <svg-icon
      src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/path.svg"
      [svgStyle]="{'width.px':302}"
      class="path"
    ></svg-icon>
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 194,
        disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 195,
        disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 196,
        disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 197,
        disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [style.opacity]="0"
      [data]="{
        sections: sections,
        code: 215
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 215,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 216,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 217,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 174
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 175
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 174
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 175
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [outCount]="3"
      [inCount]="2"
      [dashedLine]="[1]"
      [data]="{
        sections: sections,
        code: 184
      }"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 198,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 199,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 200,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-simple-output
      [data]="{
        sections: sections,
        code: 218,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-output>

    <evj-sou-mvp-mnemonic-scheme-simple-output
      [data]="{
        sections: sections,
        code: 219,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-simple-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 220,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 176
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 177
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 176
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 177
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 185
      }"
      [dashedLine]="[2]"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 201
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 202,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 221
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 222,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 178
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 178
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 186
      }"
      [dashedLine]="[1,2,3,4,5]"
      [outCount]="5"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 203,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 204,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 205,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 206,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 207,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 223,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 224,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 225,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 226,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 227,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 179,
        disabled: true,
        rightLineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 179
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 187
      }"
      [dashedLine]="[1,2]"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 208,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 209,
         disabledCircle: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 228,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 229,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 180,
        disabled: true,
        rightLineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 180
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 230,
        lineDashed: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 181
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 181
      }"
      [choosenSetting]="choosenSetting"
      noLine="true"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 231
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
