.line-diagram {
  margin: 0;
  font-size: 13px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    &__title {
      color: var(--color-kpe-eq-chart-title);
    }

    &__btn {
      cursor: pointer;
      font-size: 10px;
      display: flex;
      border-radius: 2px;
      background-color: var(--color-kpe-line-diagram-bg-sub);

      &__left {
        padding: 5px;
        color: var(--color-text-sub-heading);

        &--active {
          color: var(--color-kpe-eq-chart-title);
          background-color: var(--color-kpe-line-diagram-active);
          border: 1px solid var(--color-aps-active);
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
      }

      &__right {
        padding: 5px;
        color: var(--color-text-sub-heading);

        &--active {
          color: var(--color-kpe-eq-chart-title);
          background-color: var(--color-kpe-line-diagram-active);
          border: 1px solid var(--color-aps-active);
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
        }
      }
    }
  }

  &__body {
    &__line-up {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;

      .percent__left {
        color: var(--color-kpe-gaude-active);
      }

      .percent__right {
        color: var(--color-kpe-gaude-main);

        &__warning {
          color: var(--color-cd-warning);
        }
      }
    }

    &__line {
      position: relative;
      width: 100%;
      height: 8px;
      background-image: url("./../../../../../assets/icons/widgets/KPE/kpe-line-diagram/line.svg");
      background-repeat: no-repeat;
      background-size: 100%;

      .line__accept {
        position: absolute;
        left: 2px;
        height: 4px;

        background-image: linear-gradient(90deg, var(--color-aps-active), var(--color-aps-active) 50%, transparent 50%, transparent 100%);
        background-size: 4px 100%;

        &--white {
          background-color: var(--color-kpe-eq-chart-title);
        }
      }

      .line__circle {
        position: absolute;
        top: -5.8px;
        z-index: 2;
      }

      .line__warning {
        position: absolute;
        height: 4px;
        background-image: linear-gradient(90deg, var(--color-cd-warning), var(--color-cd-warning) 50%, transparent 50%, transparent 100%);
        background-size: 4px 100%;

        &--line {
          background-color: var(--color-cd-warning);
          background-image: none;
        }
      }
    }
  }
}
