.container {
    position: relative;
    width: 100%;
    height: calc(100% - 1px);
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 24px;
}

.content {
    height: calc(100% - 60px);
    border-left: dashed 0.5px var(--color-border-main);
    border-right: dashed 0.5px var(--color-border-main);
    overflow: auto;
    overflow-y: hidden;
}




::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 25px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  
  ::-webkit-scrollbar-track:vertical {
    width: 5px;
    height: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 25px;
  }
  
  :hover::-webkit-scrollbar-thumb {
    background-color: var(--color-border-active);
  }
  
  :hover::-webkit-scrollbar-track-piece {
    border: solid 1px var(--color-border-active);
  }
  
  ::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 25px;
    background-color: var(--color-border-main);
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 25px;
  }
  ::-webkit-scrollbar-track-piece {
    border: solid 1px var(--color-border-main);
    border-radius: 25px;
  }
  
  ::-webkit-resizer {
    background-color: var(--color-border-active);
  }
