#preloader {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg-main);
  z-index: 9999;

  &.is-hidden {
    animation: ends ease 500ms forwards;
  }

  .is-loading {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 200px;

    transform: scale(0.9);
    opacity: 1;
    animation: pulse 2s ease-out infinite;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes ends {
  from {
    opacity: 1;
    z-index: 9999;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
