.mat-select-custom {
  --font-size: 13px;
  --color: var(--text-main-color);

  font-size: var(--font-size);

  .mat-select-placeholder {
    color: var(--color);
  }

  .mat-select-value {
    color: var(--color);
  }

  .mat-select-arrow {
    background-color: var(--color);
  }
}

.mat-select-panel-custom {
  .mat-optgroup-label, .mat-option {
    background-color: var(--gray-G12-color);
    color: var(--text-contrast-color);
  }
}

.autocomplete-panel-custom {
  min-width: 384px !important;
  transform: translate(40px, 7px)!important;

  .mat-option {
    height: 34px;
    padding: 0 6px;
    line-height: 36px;
    font-size: 12px;
    background-color: var(--color-bg-main);

    .mat-pseudo-checkbox {
      display: none;
    }
  }
}
