:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.chart {
  width: 100%;
  height: 100%;
}

$column-width: 9px;

::ng-deep {
  .grid {
    color: var(--border-icon-color);
    stroke-width: 1;
    stroke-opacity: 0.25;
    fill: var(--color-kpe-gaude-back);

    .tick {
      color: var(--border-icon-color);
    }

    path {
      fill: transparent;
    }

    &-first {
      path {
        fill: var(--bg-dashboard-color);
      }
    }
  }

  .line-active {
    stroke: var(--opacity-plan-20-color);
    stroke-width: $column-width * 2;
  }

  .rect {
    height: 1px;
    width: $column-width;
    border-radius: 0.5px;
  }

  .rect-normal {
    fill: var(--border-blue-color);
  }

  .rect-white {
    fill: var(--index-fact-color);
  }

  .rect-orange {
    fill: var(--index-error-color);
  }

  .active {
    color: var(--opacity-plan-20-color);
  }

  .step-line {
    stroke: var(--border-blue-color);
    fill: transparent;
    stroke-width: 0.75px;
  }

  .y-axis, .x-axis {
    text {
      fill: var(--text-main-color);
      font-size: 10px;
    }
  }
}
