<div class="factory-container">
  <div class="info warning">
    <div class="info_top">
      <span>ПРОИЗВОДСТВО 1</span>
      <span class="info_top__dig">1 600 537</span>
    </div>
    <div class="info_bottom">
      <span>-527</span>
    </div>
  </div>
  <svg-icon class="facility" src="assets/icons/widgets/APS/aps-factory-deviation/facility.svg"></svg-icon>
  <div class="perspective-container">
    <div class="factory">
      <svg-icon
        class="factory_background warning"
        src="assets/icons/widgets/APS/aps-factory-deviation/background-circle.svg"
      ></svg-icon>
      <div class="factory_circle">
        <div class="rot-1 normal">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/alert.svg"></svg-icon>
        </div>
        <div class="rot-2 warning">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/speed.svg"></svg-icon>
        </div>
        <div class="rot-3 normal">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/tank.svg"></svg-icon>
        </div>
        <div class="rot-4 normal">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/triangle.svg"></svg-icon>
        </div>
        <div class="rot-5 warning">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/tower.svg"></svg-icon>
        </div>
        <div class="rot-6 normal">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/one.svg"></svg-icon>
        </div>
        <div class="rot-7 warning">
          <svg-icon src="assets/icons/widgets/APS/aps-factory-deviation/circle-pie.svg"></svg-icon>
          <svg-icon class="rot-icon" src="assets/icons/widgets/APS/aps-factory-deviation/types/two.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
</div>
