::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-additional);
  border-radius: 25px;
}

.icon-wrapper {
  cursor: pointer;
  &:hover svg-icon {
    ::ng-deep .st0 {
      fill: var(--color-border-active) !important;
    }
  }
}


.reference {
  position: relative;
  // background: rgba(34, 36, 47, 0.5);
  background: var(--color-bg-main);
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-width: 1000px;
}

.reference_title {
  padding: 0 45px 0 40px;
  position: relative;
  background: var(--color-bg-sub);
  display: flex;
  justify-content: space-around;
  height: 40px;
  font-size: 10px;
  color: var(--color-text-sub);
  border-bottom: 1px solid var(--color-bg-main);

  &:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    top: -6px;
    left: -1px;
    transform: rotate(45deg);
    background: var(--color-bg-main);
  }

  &:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 10px;
    top: -6px;
    right: -1px;
    transform: rotate(136deg);
    background: var(--color-bg-main);
  }
}

.title_block {
  text-align: left;
  width: 100px;
}

.title {
  margin-top: 13px;
}

.reference_values {
  background: rgba(34, 36, 47, 0.5);
  height: calc(100% - 40px);
  overflow: auto;
}

.reference_values_short {
  //height: 280px;
  height: 100%;
  // max-height: 300px;
  overflow: auto;
  background: rgba(34, 36, 47, 0.5);
}

.values_block {
  display: flex;
  justify-content: space-around;
  font-size: 10px;
  color: white;
  padding: 10px 40px 10px 40px;
  &:hover {
    background-color: var(--color-active-transparent);
  }
  &__active {
    background-color: var(--color-active-transparent);
  }
}

.values {
  text-align: left;
  width: 100px;
  ::ng-deep .mat-select {
    padding-top: 5px;
    border-bottom: solid 1px var(--color-border-main-transparrent);
  }
  ::ng-deep .mat-select-arrow {
    width: 8px !important;
    height: 6px !important;
    margin-right: 5px !important;
  }
  ::ng-deep .mat-select-disabled .mat-select-value {
    color: white;
  }
}
::ng-deep .mat-option:hover .mat-option-ripple {
  background-color: var(--color-bg-active);
}

.value {
  padding-top: 5px;
}


.table-width {
  &__title {
    width: 35%;
  }
  &__unit {
    width: 10%;
  }
  &__datetime {
    width: 20%;
  }
  &__value {
    width: 25%;
  }
  &__buttons {
    width: 10%;
  }
}



.illustration_widget {
  height: 430px;
  min-height: 430px;
}

.shortReference {
  background: var(--color-bg-main);
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.test {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.menu {
  justify-content: space-between;
  height: 38px;
  width: 100%;
  display: flex;
  border-top: 4px solid var(--color-bg-main);
  background-color: var(--color-bg-main);
}

.left_button_menu {
  line-height: 24px;
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
}

.all_operation {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/left_button_left.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: 24px;

  &:hover {
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/left_button_left_a.svg);
    background-repeat: no-repeat;
    color: white;
  }
}

.open_operation {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/left_button_right.svg);
  background-repeat: no-repeat;
  width: 160px;
  height: 24px;

  &:hover {
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/left_button_right_a.svg);
    background-repeat: no-repeat;
    color: white;
  }
}

.right_button_menu {
  line-height: 24px;
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
}

.menu_text {
  margin-top: 5px;
  color: var(--color-text-sub-heading);
  width: 108px;
  height: 24px;
}

.right_button {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_osn.svg);
  background-repeat: no-repeat;
  width: 124px;
  height: 23px;

  &:hover {
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_osn_a.svg);
    background-repeat: no-repeat;
    color: white;
  }
}

.right_button_rezerv {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_ones.svg);
  background-repeat: no-repeat;
  width: 137px;
  height: 24px;

  &:hover {
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_ones_a.svg);
    background-repeat: no-repeat;
    color: white;
  }
}

.right_button_reference {
  cursor: pointer;
  text-align: center;
  margin-top: 5px;
  background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_seconds.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 24px;

  &:hover {
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/SVG/right_button_seconds_a.svg);
    background-repeat: no-repeat;
    color: white;
  }
}

.table_widget {
  width: 100%;
  height: calc(100% - 585px);
}

.return_button {
  position: absolute;
  right: 35px;
  top: 0px;
  z-index: 999;
  cursor: pointer;
}

.table_update_button {
  height: calc(100% - 581px);
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;

  .left_table {
    position: relative;
    width: 49%;
    border: 1px solid rgba(34, 36, 47, 0.5);
    .reference_values_short {
      background-color: rgba(34, 36, 47, 0.5);
      width: 100%;
      float: left;
      .values_block {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;

        &:nth-child(2n) {
          background: var(--color-bg-main);
          height: 40px;
        }

        .icon-wrapper {
          cursor: pointer;
          position: absolute;
          &:hover svg-icon {
            ::ng-deep .st0 {
              fill: var(--color-border-active) !important;
            }
          }
        }
      }
    }
    &::after {
      z-index: 2;
      content: "";
      position: absolute;
      top: -4px;
      right: -9px;
      height: 10px;
      width: 14px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(45deg);

      border-bottom: 1px solid rgba(34, 36, 47, 0.5);

      background: var(--color-bg-main);
    }

    &::before {
      z-index: 2;
      content: "";
      position: absolute;
      bottom: -19px;
      right: 0px;
      height: 14px;
      width: 10px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-135deg);

      border-right: 1px solid rgba(34, 36, 47, 0.5);

      background: var(--color-bg-main);
    }

    .before_after_left {
      &::after {
        z-index: 2;
        content: "";
        position: absolute;
        top: -2px;
        left: -9px;
        height: 10px;
        width: 14px;
        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-bottom: 1px solid rgba(34, 36, 47, 0.5);

        background: var(--color-bg-main);
      }

      &::before {
        z-index: 2;
        content: "";
        position: absolute;
        bottom: -8px;
        left: -9px;
        height: 14px;
        width: 10px;
        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-right: 1px solid rgba(34, 36, 47, 0.5);

        background: var(--color-bg-main);
      }
    }
  }

  .right_table {
    position: relative;
    border: 1px solid rgba(34, 36, 47, 0.5);
    width: 49%;
    font-size: 12px;
    .reference_values_short {
      background-color: rgba(34, 36, 47, 0.5);
      width: 100%;
      float: right;

      .values_block {
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;

        &:nth-child(2n) {
          background: var(--color-bg-main);
          height: 40px;
        }

        .icon-wrapper {
          &:hover svg-icon {
            ::ng-deep .st0 {
              fill: var(--color-border-active) !important;
            }
          }
        }
      }
    }
    &::after {
      z-index: 2;
      content: "";
      position: absolute;
      top: -4px;
      right: -9px;
      height: 10px;
      width: 14px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(45deg);

      border-bottom: 1px solid rgba(34, 36, 47, 0.5);

      background: var(--color-bg-main);
    }

    &::before {
      z-index: 2;
      content: "";
      position: absolute;
      bottom: -19px;
      right: 0px;
      height: 14px;
      width: 10px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-135deg);

      border-right: 1px solid rgba(34, 36, 47, 0.5);

      background: var(--color-bg-main);
    }

    .before_after_right {
      &::after {
        z-index: 2;
        content: "";
        position: absolute;
        top: -2px;
        left: -9px;
        height: 10px;
        width: 14px;
        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-bottom: 1px solid rgba(34, 36, 47, 0.5);

        background: var(--color-bg-main);
      }

      &::before {
        z-index: 2;
        content: "";
        position: absolute;
        bottom: -8px;
        left: -9px;
        height: 14px;
        width: 10px;
        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-right: 1px solid rgba(34, 36, 47, 0.5);

        background: var(--color-bg-main);
      }
    }
  }
}

.illustration_widget_param {
  height: 581px;
  min-height: 581px;

  &__title {
    height: 15px;
    padding-top: 5px;
    padding-left: 25px;
    font-size: 10px;
    color: var(--color-text-sub-heading);
  }

  &__unity {
    height: calc(100% - 20px);
  }
}

.active {
  background-image: linear-gradient(
    to right,
    rgba(107, 166, 241, 0.7) 2%,
    rgba(107, 166, 241, 0.63) 6%,
    rgba(107, 166, 241, 0.46) 16%,
    rgba(107, 166, 241, 0.32) 26%,
    rgba(107, 166, 241, 0.2) 38%,
    rgba(107, 166, 241, 0.11) 50%,
    rgba(107, 166, 241, 0.05) 63%,
    rgba(107, 166, 241, 0.01) 79%,
    rgba(107, 166, 241, 0) 102%
  ) !important;
}










.dates-selector {
  color: var(--color-text-sub-heading);
  position: relative;
  display: flex;
  align-items: center;
  height: 43px;
  padding: 4px 10px 20.8px 7.5px;
  font-size: 0.625rem;
  background-color: var(--color-bg-disable);
  border: 0.5px solid transparent;

  box-sizing: border-box;

  &__body {
    height: 100%;
  }

  &__heading {
    margin-bottom: 6.6px;
    color: var(--color-text-sub-heading);
  }

  &__dates {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__date {
    color: var(--color-text-sub);
  }

  &__date-input {
    margin-top: 5px;
    color: var(--color-text-sub);
    border: none;
    background: transparent;
    width: 100px;
    pointer-events: all;
    &___disabled {
      pointer-events: none;
    }
  }

  &__label {
    margin-top: 5px;
    margin-right: 5px;
  }

  &__picker {
    display: none;
  }

  &__picker-open {
    display: block;
    margin-top: 7px;
    right: -10px;
    z-index: 999;
    position: absolute;
    background-color: var(--color-bg-sub);
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;

    ::ng-deep {
      .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0.7em !important;
      }

      .mat-calendar-body-cell-content {
        &:hover {
          background-color: var(--color-border-active);
        }
      }
      .mat-form-field-wrapper {
        padding-bottom: 1.04375em;
      }

      .mat-form-field-flex {
        margin-top: 10px;
      }
      .cdk-overlay-pane {
        margin-top: 45px;
      }

      .mat-option:hover {
        background: var(--color-text-sub);
      }

      .ng-tns-c39-2 {
        font-size: 15px;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-underline {
        border-top: none;
      }

      .time {
        font-size: 12px;
        input {
          width: 90% !important;
          background-color: var(--color-bg-sub) !important;
        }
      }

      .date {
        color: white;
        font-size: 12px;
      }
    }
  }

  &__date-choose {
    min-width: 85px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: white;
    }

    &__disabled {
      pointer-events: none;
      //color: var(--color-text-sub-heading);
    }

    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
      display: none;
    }

    ::ng-deep {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      .mat-form-field-flex {
        margin-top: 0px !important;
      }

      .mat-form-field-infix {
        padding: 0;
        border-top: none;
        width: 100%;
        min-width: 100px;
      }

      .mat-input-element{
        border: none !important;
      }

    }
  }

  &__separator {
    margin: 7px 10px 0px 5px;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;

    height: 7px;
    width: 7px;

    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-sub);
    border-color: var(--color-bg-sub);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-sub);
    border-color: var(--color-bg-sub);
  }

  &_active {
    border: 0.5px solid var(--color-border-active);
    color: var(--color-text-sub);
    &:before {
      border-left: 0.5px solid var(--color-border-active);
    }
    &:after {
      border-top: 0.5px solid var(--color-border-active);
    }
  }
}

::-webkit-inner-spin-button {
  display: none;
}
::-webkit-clear-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  color: var(--color-text-sub);
  padding: 0;
  padding-left: 3px;
  &:hover {
    background: transparent;
  }
}

  ::ng-deep .mat-datepicker-popup {
    margin-top: -5px !important;
}


.icon-buttons {
  display: flex;
  justify-content: center;
}


input.data {
  text-align: left;
  font-size: 10px;
  width: 100%;
  background: transparent;
  border-color: transparent;
  border-bottom: solid 1px var(--color-border-main-transparrent);
  border-radius: 3px;
  color: white;
  pointer-events: none;

  &_active {
    pointer-events: fill;
    border-bottom: solid 1px var(--color-active);
  }
  &::placeholder {
    color: var(--color-text-sub);
  }
  &:focus {
    outline: none;
  }
}
