<div class="container" *ngIf="!isMock">
  <evj-widget-header [title]="widgetTitle" [units]="widgetUnits" [code]="widgetCode" [id]="id" [uniqId]="uniqId"
                     [widgetType]="widgetType" [icon]="widgetIcon"></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <evj-alert-window [info]="oilDocumentService.alertWindow$ | async"></evj-alert-window>
    <evj-loading-shade [isLoading]="oilDocumentService.documentScansLoader$ | async"></evj-loading-shade>

    <div class="documents-scans">
      <div class="documents-scans__title">
        <div class="time">Время</div>
        <div class="name">Имя файла</div>
      </div>
      <div class="documents-scans__container">
        <div id="scrollDocumentsScans" class="scroll-block">
          <div *ngFor="let item of data">
            <evj-documents-scans-report
              [isActive]="isItemActive(item)"
              [data]="item"
              (deleteItem)="delete($event)"
              (activeItem)="active($event)"
            ></evj-documents-scans-report>
          </div>
        </div>
      </div>
      <div class="documents-scans__bottom">
        <div class="bottom-block">
        </div>
      </div>
    </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
