<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F118'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F119'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'ДТЛ...',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'ДТЛ...',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PLDTvss10'"
      [warningStatus]="false"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FVss2006-1'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FVss2006-2'"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'1-й поток ДТЛ на г/о'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
    [title]="'1-й поток ДТЛ на г/о'"
    [status]="true"
  ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC120'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '2-ой погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL112POG2'"
      [warningStatus]="false"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1121'"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FC149'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор вакуумного газойля'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор мазута'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC121'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '3-ий погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL121POG3'"
      [warningStatus]="false"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F101-1'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F102-1'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F201-1'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F202-1'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Продажа ОЗСМ'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
    [title]="'Мазут'"
    [status]="false"
  ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Продажа ОЗСМ'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Мазут'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC122'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '3-ий погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL113POG3'"
      [warningStatus]="false"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1131'"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1133'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор вакуумного газойля'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор мазута'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC124'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '4-ый погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL113POG4'"
      [warningStatus]="false"
      [outCount]="6"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F7'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FR7'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F101-2'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F102-2'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F201-2'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F202-2'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор вакуумного газойля'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Установка 19/3'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Продажа ОЗСМ'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Мазут'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Продада ОЗСМ'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Мазут'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC123'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '4-ый погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL114POG4'"
      [warningStatus]="false"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1141'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1143'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор вакуумного газойля'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор мазута'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FI128'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F135'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: '5-ый погон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'ШМФ',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL114POG5'"
      [warningStatus]="false"
      [outCount]="4"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F11452'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FC-148'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FC-148.1'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1151'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор вакуумного газойля'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
    [title]="'Установка 19/3'"
    [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Мазут'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'ТП'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC125'"
      [percentage]="95"
      [warningStatus]="false"
      [enableStatus]="true"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'Гудрон',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [title]="'PL115GUD'"
      [warningStatus]="false"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1151'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FC-145'"
      [percentage]="95"
      [weight]="120"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'FC-145.1'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [title]="'F1152'"
      [percentage]="0"
      [weight]="0"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Коллектор гудрона'"
      [status]="true"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
    [title]="'Установка 19/3'"
    [status]="true"
  ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'Мазут по л.гудрона'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [title]="'ТП'"
      [status]="false"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
