.container-line-circle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;

  &__content {
    width: 100%;
    height: 100%;
    display: flex;

    .circle {
      width: 100%;
      height: 100%;
    }

    .arrow {
      width: 18%;
      height: 100%;
    }
  }

  &__arrow {
    height: 100%;
    width: 14%;
  }
}
