<evj-widget-preview
  [title]="widgetTitle"
  [icon]="widgetIcon"
  [previewTitle]="widgetType"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-events" *ngIf="!isMock">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="widgetId"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>
  <evj-frame-top></evj-frame-top>

  <div
    class="content-container"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="item item_s">
      <evj-astue-efficiency-items></evj-astue-efficiency-items>
    </div>
    <div class="item item_s">
      <evj-astue-efficiency-units></evj-astue-efficiency-units>
    </div>
    <div class="item item_l"></div>
    <div class="item item_m"></div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
