* {
    box-sizing: border-box;
}

button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    height: 40px;
    padding: 0 15px;

    border-radius: 2px 2px 0 0;

    display: flex;
    align-items: center;

    background: var(--nk-color-bg-sub);

    position: relative;

    span {
        margin-left: 10px;

        line-height: 22px;
        font-size: 18px;
        color: var(--nk-color-font-title-main);
    }

    img {
        width: 16px;
    }

    button {
        height: 25px;
        width: 120px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 3px;

        background: var(--nk-color-bg-component-title);

        line-height: 17px;
        font-size: 14px;
        color: var(--nk-color-font-title-main);

        position: absolute;
        right: 10px;
    }
}
