<div class="container pointer-event">
  <evj-widget-header
    [title]="title"
    [units]="'%'"
    [code]=""
    [id]="id"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div class="devi-circle">
        <div class="diagram">
          <div class="diagram__title">{{ isMockData.maxValue }}%</div>
          <svg width="100%" height="100%" viewBox="0 0 50 50">
            <!-- outer contour dia -->
            <image
              x="0"
              y="0"
              width="50"
              height="50"
              xlink:href="../../../../assets/icons/widgets/deviation-circle-diagram/outer_contour.svg"
            />

            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              [attr.fill]="colorMain"
            ></circle>
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorBg"
              stroke-width="3"
            ></circle>

            <!-- deviation line -->
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorDeviation"
              stroke-width="2"
              [attr.stroke-dasharray]="diaLine(radius, isMockData.deviation)"
              [attr.stroke-dashoffset]="diaOffset(radius, isMockData.deviation)"
            ></circle>

            <!-- improvement line -->
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorFull"
              stroke-width="2"
              [attr.stroke-dasharray]="diaLine(radius, isMockData.improvement)"
              [attr.stroke-dashoffset]="
                diaOffset(radius, isMockData.improvement)
              "
            ></circle>

            <line
              [attr.x1]="centerX"
              [attr.y1]="3"
              [attr.x2]="centerX"
              [attr.y2]="9"
              [attr.stroke]="colorFull"
              stroke-width="0.5"
            />
          </svg>
        </div>
        <div class="counters">
          <div class="counter counter-deviation">
            <div class="counter__title">Отклонение</div>
            <div class="counter__number">
              + 30
              <img
                class="rotate"
                src="../../../../assets/icons/widgets/calendar-plan/deviat_danger.svg"
                alt=""
              />
            </div>
          </div>
          <div class="counter">
            <div class="counter__title">Улучшение</div>
            <div class="counter__number">
              - 25
              <img
                class="rotate"
                src="../../../../assets/icons/widgets/calendar-plan/deviat.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMock">
    <div class="devi-circle">
      <div class="diagram">
        <div class="diagram__title">{{ deviationCircleDiagram.maxValue }}%</div>
        <svg width="100%" height="100%" viewBox="0 0 50 50">
          <!-- outer contour dia -->
          <image
            x="0"
            y="0"
            width="50"
            height="50"
            xlink:href="../../../../assets/icons/widgets/deviation-circle-diagram/outer_contour.svg"
          />

          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="3"
          ></circle>

          <!-- deviation line -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorDeviation"
            stroke-width="2"
            [attr.stroke-dasharray]="
              diaLine(radius, deviationCircleDiagram.deviation)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radius, deviationCircleDiagram.deviation)
            "
          ></circle>

          <!-- improvement line -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorFull"
            stroke-width="2"
            [attr.stroke-dasharray]="
              diaLine(radius, deviationCircleDiagram.improvement)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radius, deviationCircleDiagram.improvement)
            "
          ></circle>

          <line
            [attr.x1]="centerX"
            [attr.y1]="3"
            [attr.x2]="centerX"
            [attr.y2]="9"
            [attr.stroke]="colorFull"
            stroke-width="0.5"
          />
        </svg>
      </div>
      <div class="counters">
        <div class="counter counter-deviation">
          <div class="counter__title">Отклонение</div>
          <div class="counter__number">
            + 30
            <img
              class="rotate"
              src="../../../../assets/icons/widgets/calendar-plan/deviat_danger.svg"
              alt=""
            />
          </div>
        </div>
        <div class="counter">
          <div class="counter__title">Улучшение</div>
          <div class="counter__number">
            - 25
            <img
              class="rotate"
              src="../../../../assets/icons/widgets/calendar-plan/deviat.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
