<div class="container pointer-event">
  <evj-widget-header
    [title]="title"
    [units]="'%'"
    [code]=""
    [id]="id"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div class="devi-circle">
        <div class="diagram">
          <svg width="100%" height="100%" viewBox="0 0 50 50">
            <!-- outer contour dia -->
            <image
              x="0"
              y="0"
              width="50"
              height="50"
              xlink:href="../../../../assets/icons/widgets/deviation-circle-diagram/outer_contour.svg"
            />

            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              [attr.fill]="colorMain"
            ></circle>
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorBg"
              stroke-width="3"
            ></circle>

            <!-- deviation line -->
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorDeviation"
              stroke-width="2"
              [attr.stroke-dasharray]="diaLine(radius, isMockData.deviation)"
              [attr.stroke-dashoffset]="diaOffset(radius, isMockData.deviation)"
            ></circle>

            <!-- improvement line -->
            <circle
              [attr.cx]="centerX"
              [attr.cy]="centerY"
              [attr.r]="radius"
              fill="transparent"
              [attr.stroke]="colorFull"
              stroke-width="2"
              [attr.stroke-dasharray]="diaLine(radius, isMockData.improvement)"
              [attr.stroke-dashoffset]="
                diaOffset(radius, isMockData.improvement)
              "
            ></circle>

            <!-- start dia -->
            <line
              [attr.x1]="centerX"
              [attr.y1]="3"
              [attr.x2]="centerX"
              [attr.y2]="9"
              [attr.stroke]="colorFull"
              stroke-width="0.5"
            />
            <circle
              [attr.cx]="centerX"
              [attr.cy]="3"
              [attr.r]="radPoint"
              fill="colorMain"
              [attr.stroke]="colorFull"
              stroke-width="0.5"
            ></circle>
            <circle
              [attr.cx]="centerX"
              [attr.cy]="9"
              [attr.r]="radPoint"
              fill="colorMain"
              [attr.stroke]="colorFull"
              stroke-width="0.5"
            ></circle>

            <!-- dynamic points -->
            <circle
              [attr.cx]="diaLinePoint(isMockData.improvement, true).xCen"
              [attr.cy]="diaLinePoint(isMockData.improvement, true).yCen"
              [attr.r]="radPoint"
              fill="colorMain"
              [attr.stroke]="colorFull"
              stroke-width="0.5"
            ></circle>
            <circle
              [attr.cx]="diaLinePoint(isMockData.deviation, false).xCen"
              [attr.cy]="diaLinePoint(isMockData.deviation, false).yCen"
              [attr.r]="radPoint"
              fill="colorMain"
              [attr.stroke]="colorDeviation"
              stroke-width="0.5"
            ></circle>

            <text [attr.x]="17" [attr.y]="27" class="svg__txt">
              {{ isMockData.maxValue }}%
            </text>
          </svg>
        </div>
        <div class="counters">
          <div class="counter counter-deviation">
            <div class="counter__title">Отклонение</div>
            <div class="counter__number">
              + 30
              <img
                class="rotate"
                src="../../../../assets/icons/widgets/calendar-plan/deviat_danger.svg"
                alt=""
              />
            </div>
          </div>
          <div class="counter">
            <div class="counter__title">Улучшение</div>
            <div class="counter__number">
              - 25
              <img
                class="rotate"
                src="../../../../assets/icons/widgets/calendar-plan/deviat.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMock">
    <div class="devi-circle">
      <div class="diagram">
        <svg width="100%" height="100%" viewBox="0 0 50 50">
          <!-- outer contour dia -->
          <image
            x="0"
            y="0"
            width="50"
            height="50"
            xlink:href="../../../../assets/icons/widgets/deviation-circle-diagram/outer_contour.svg"
          />

          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="3"
          ></circle>

          <!-- deviation line -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorDeviation"
            stroke-width="2"
            [attr.stroke-dasharray]="
              diaLine(radius, deviationCircleDiagram.deviation)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radius, deviationCircleDiagram.deviation)
            "
          ></circle>

          <!-- improvement line -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radius"
            fill="transparent"
            [attr.stroke]="colorFull"
            stroke-width="2"
            [attr.stroke-dasharray]="
              diaLine(radius, deviationCircleDiagram.improvement)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radius, deviationCircleDiagram.improvement)
            "
          ></circle>

          <!-- dynamic points -->
          <circle
            [attr.cx]="
              diaLinePoint(deviationCircleDiagram.improvement, true).xCen
            "
            [attr.cy]="
              diaLinePoint(deviationCircleDiagram.improvement, true).yCen
            "
            [attr.r]="radPoint"
            fill="colorMain"
            [attr.stroke]="colorFull"
            stroke-width="0.5"
          ></circle>
          <circle
            [attr.cx]="
              diaLinePoint(deviationCircleDiagram.deviation, false).xCen
            "
            [attr.cy]="
              diaLinePoint(deviationCircleDiagram.deviation, false).yCen
            "
            [attr.r]="radPoint"
            fill="colorMain"
            [attr.stroke]="colorDeviation"
            stroke-width="0.5"
          ></circle>

          <!-- start dia -->
          <line
            [attr.x1]="centerX"
            [attr.y1]="3"
            [attr.x2]="centerX"
            [attr.y2]="9"
            [attr.stroke]="colorFull"
            stroke-width="0.5"
          />
          <circle
            [attr.cx]="centerX"
            [attr.cy]="3"
            [attr.r]="radPoint"
            fill="colorMain"
            [attr.stroke]="colorFull"
            stroke-width="0.5"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="9"
            [attr.r]="radPoint"
            fill="colorMain"
            [attr.stroke]="colorFull"
            stroke-width="0.5"
          ></circle>

          <text
            [attr.x]="17"
            [attr.y]="27"
            [attr.fill]="colorNormal"
            class="svg__txt"
          >
            {{ deviationCircleDiagram.maxValue }}%
          </text>
        </svg>
      </div>
      <div class="counters">
        <svg width="100%" height="100%" viewBox="0 0 50 50">
          <text
            [attr.x]="0"
            [attr.y]="5"
            [attr.fill]="colorDeviation"
            class="svg__name"
          >
            Отклонение
          </text>
          <text
            [attr.x]="3"
            [attr.y]="33"
            [attr.fill]="colorFull"
            class="svg__name"
          >
            Улучшение
          </text>
          <text
            [attr.x]="10"
            [attr.y]="18"
            [attr.fill]="colorDeviation"
            class="svg__numbers"
          >
            +{{ deviationCircleDiagram.deviation }}
          </text>
          <text
            [attr.x]="14"
            [attr.y]="46"
            [attr.fill]="colorFull"
            class="svg__numbers"
          >
            -{{ deviationCircleDiagram.improvement }}
          </text>
          <image
            x="-45"
            y="-47"
            width="10"
            height="10"
            xlink:href="../../../../assets/icons/widgets/calendar-plan/deviat.svg"
            style="transform: rotate(180deg);"
          />
          <image
            x="-45"
            y="-19"
            width="10"
            height="10"
            xlink:href="../../../../assets/icons/widgets/calendar-plan/deviat_danger.svg"
            style="transform: rotate(180deg);"
          />
        </svg>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
