<div class="container">
  <evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle" icon="calculator" type="astue">
    <div class="header">
      <div class="tabs" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div
          class="tabs__item"
          [class.tabs__item_active]="currentTab === i"
          *ngFor="let tab of tabsList$ | async; let i = index"
          (click)="changeTab(i)"
        >
          {{tab?.title}}
        </div>
      </div>
      <div class="filter" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div>
          <input id="percentage" type="radio" name="filter-option" [value]="0" [(ngModel)]="selectedOption" (ngModelChange)="changeUnits($event)">
          <label for="percentage" class="filter__option">%</label>
        </div>
        <div>
          <input id="units" type="radio" class="filter__option" name="filter-option" [value]="1" [(ngModel)]="selectedOption" (ngModelChange)="changeUnits($event)">
          <label for="units" class="filter__option">ед.изм</label>
        </div>
      </div>
      <div class="btn-list" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div class="btn">
          <svg-icon src="assets/icons/widgets/KPE/kpe-quality-reserve-table/doc.svg"></svg-icon>
        </div>

        <div class="btn">
          <svg-icon src="assets/icons/widgets/KPE/kpe-quality-reserve-table/sort.svg"></svg-icon>
        </div>
      </div>
    </div>
  </evj-contemporary-widget-header>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="shadow"></div>
    <ng-container
      *ngComponentOutlet="specialComponent; injector: (widgetId | fn:getInjector : (tabsList$ | async)[currentTab]?.id)"
    ></ng-container>
  </div>
</div>
