<div class="container">
  <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
  </evj-widget-header-smp>
  <div
    class="content"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseExit()"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="content__left">
      <div class="b-a">
        <div class="frame-top"></div>
      </div>
      <evj-quality-stock-security [data]="dataSecurity"></evj-quality-stock-security>
      <div class="frame-bottom"></div>
    </div>
    <div class="content__right">
      <div class="b-a">
        <div class="frame-top"></div>
      </div>
      <evj-quality-stock-circle [data]="dataCircle"></evj-quality-stock-circle>
      <div class="frame-bottom"></div>
    </div>
  </div>
</div>
