<div class="card">
  <div class="card__header header" (click)="isOpen=!isOpen">
    <img
      class="arrow"
      [ngClass]="{'arrow_open':isOpen}"
      src="assets/icons/widgets/ASTUE/astue-efficiency/units/arrow.svg"
    />
    <img class="icon-unit" src="assets/icons/widgets/ASTUE/astue-efficiency/units/unit.svg" />
    АВТ-6
    <div
      class="header__button button"
      [ngClass]="{'button_active':isClicked}"
      (click)="isClicked=!isClicked"
    >
      <img
        class="icon icon-unactive"
        src="assets/icons/widgets/ASTUE/astue-efficiency/units/non-select.svg"
      />
      <img
        class="icon icon-active"
        src="assets/icons/widgets/ASTUE/astue-efficiency/units/select.svg"
      />
    </div>
  </div>
  <div class="card__streams streams" [ngClass]="{'streams_open':isOpen}">
    <div class="streams__item">
      <evj-astue-efficiency-item-card></evj-astue-efficiency-item-card>
    </div>
    <div class="streams__item">
      <evj-astue-efficiency-item-card></evj-astue-efficiency-item-card>
    </div>
    <div class="streams__item">
      <evj-astue-efficiency-item-card></evj-astue-efficiency-item-card>
    </div>
  </div>
</div>
