:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
  }
}

.chart {
  width: 100%;
  height: 100%;

  &::ng-deep {
    .sub-text {
      fill: var(--color-kpe-gaude-additional);
      font-size: 18px;
    }

    .main-text {
      fill: var(--color-kpe-gaude-main);
      font-size: 28px;
    }

    .line {
      stroke: var(--color-kpe-gaude-additional);
      stroke-width: 1;
      opacity: 0.7;
    }

    .back-arc {
      fill: var(--color-kpe-gaude-back);
    }

    .unactive-arc {
      fill: var(--color-kpe-gaude-unactive);
    }

    .needle {
      stroke: var(--color-kpe-gaude-main);
      stroke-width: 5px;
    }

    .end-line {
      stroke: var(--color-kpe-gaude-lines);
      stroke-width: 5px;
    }

    .needle-arc {
      fill: var(--color-kpe-gaude-active);
    }
  }
}
