<div class="container">
  <div class="header">
    <div class="header__icon">
      <svg-icon
        [svgStyle]="{'width': '100%', 'height': '100%'}"
        src="assets/icons/widgets/SOU/header-icons/drop.svg"
      ></svg-icon>
    </div>
    <div class="header__label">Выработка по светлым нефтепродуктам</div>
  </div>
  <div class="table-content">
    <table border="1" class="table">
      <tr class="table_row__header">
        <th class="cell">Наименование</th>
        <th class="cell">Значение за час</th>
        <th class="cell">Накопленное значение</th>
      </tr>
      <ng-container *ngFor="let row of products">
        <ng-container *ngTemplateOutlet="contentRow; context: {row: row}"></ng-container>
      </ng-container>
    </table>
  </div>
</div>

<ng-template #contentRow let-row="row">
  <tr class="table_row__body">
    <td class="cell cell__title">{{ row.productName }}</td>
    <td class="cell cell__content">
      <div class="values">
        <span>{{row.hour | spaceNumber}} т</span>
        <span>{{ row?.hourPercent}}%</span>
      </div>
    </td>
    <td class="cell cell__content">
      <div class="values">
        <span>{{row.day | spaceNumber}} т</span>
        <span>{{ row?.dayPercent }}%</span>
      </div>
    </td>
  </tr>
</ng-template>
