.header-setting-panel-tab {
  &__wrapper {
    background: var(--gray-G10-50-color);
    margin-bottom: 8px;
  }
  &__header {
    position: relative;
    align-items: center;
    background: var(--gray-G10-color);
    padding: 12px 22px;
    display: flex;
    height: 28px;
    justify-content: space-between;
    font-size: 13px;
    color: var(--text-main-color);
    &.inactive {
      opacity: 0.5;
    }
  }
  &__group {
    .shadow {
      position: absolute;
      height: 19px;
      width: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) -0.04%, rgba(25, 28, 44, 0) 99.96%);
    }
    margin-top: 1px;
    .group-body {
      padding: 16px 22px;
      .relation-setting-input {
        ::ng-deep .header-setting-panel-relation-input__wrapper {
          margin-bottom: 8px;
        }
      }
      .buttons-list {
        display: flex;
        flex-direction: column;

        .filter-button {
          width: 100%;
          color: var(--text-contrast-color);
          &.active {
            ::ng-deep .setting-button {
              background: var(--opacity-plan-20-color);
              color: var(--text-accent-color);
              border: 1px solid var(--border-blue-color);
            }
          }

          ::ng-deep .setting-button {
            text-align: left;
          }
          margin-bottom: 8px;
        }

      }

    }
    &.size-3 {
      width: 30%;
    }
    &.size-7 {
      width: calc(70% - 1px);
    }
  }
  &__body {
    position: relative;
    display: flex;
    gap: 1px;
    flex-wrap: wrap;
    form {
      width: 100%;
      display: flex;
      gap: 1px;
      flex-wrap: wrap;
    }
  }
  &__title {
    color: var(--text-contrast-color);
  }
  &__controls {
    display: flex;
    align-items: center;
    .arrow-icon {
      cursor: pointer;
      transform: rotate(-180deg);
      color: var(--text-subscript-color);
      transition: all 0.5s ease-out;
      &.open {
        color: var(--text-contrast-color);
        transform: rotate(0) !important;
      }
    }
  }
}
.toggle-button {
  margin: 0 29px 0 32px;
}
.icon-buttons-block {
  display: flex;
  gap: 4px;
  .icon-button {
    background: var(--gray-G9-color);
    cursor: pointer;
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: var(--opacity-plan-50-color);
      svg-icon {
        color: var(--text-accent-color);
      }
    }
    svg-icon {
      color: var(--border-icon-color);
    }
  }
}

.icon-button {
  background: var(--gray-G9-color);
  cursor: pointer;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg-icon {
    color: var(--border-icon-color);
  }
}

.column-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
