<ng-container>
  <div class="container">
    <evj-widget-header
      [icon]="widgetIcon"
      [title]="widgetTitle"
      [units]="widgetUnits"
      [code]="widgetCode"
      [id]="widgetId"
      [uniqId]="widgetUniqId"
      [widgetType]="widgetType"
      [icon]="widgetIcon"
    ></evj-widget-header>
    <evj-frame-top></evj-frame-top>
    <div class="body-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>
      <ng-container *ngIf="src; else dataNull">
        <div class="document-viewer">
          <div class="document-viewer_tools">
            <div class="document-viewer_search-input">
              <evj-circle-input [(search)]="search" (searchChange)="searchInPDF($event)"></evj-circle-input>
            </div>
            <div class="document-viewer_paging-container" *ngIf="totalPages">{{page}}/{{totalPages}} стр.</div>
          </div>
          <div class="document-viewer_document">
            <div class="document-viewer_document__buttons-area">
              <div class="button" (click)="scaleDocument(true)"><span class="text-center">+</span></div>
              <div class="button" (click)="scaleDocument(false)"><span class="text-center">-</span></div>
              <div class="button button_fullscreen" (click)="openFullScreen()">
                <svg-icon src="assets/icons/full-screen.svg" class="text-center" style="width: 12px"></svg-icon>
              </div>
            </div>
            <div class="document-viewer_document__sizing-area">
              <pdf-viewer
                *ngIf="src"
                [zoom]="scalePercent"
                [autoresize]="true"
                [src]="src"
                [original-size]="false"
                [show-all]="true"
                [stick-to-page]="true"
                [(page)]="page"
                (after-load-complete)="afterLoadComplete($event)"
              ></pdf-viewer>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #dataNull>
        <div style="margin: auto">Выберите файл</div>
      </ng-template>
    </div>
    <evj-frame-bottom></evj-frame-bottom>
  </div>
</ng-container>
