<div class="container">
  <div class="connection__left">
    <div class="connection-circle"></div>
  </div>
  <div class="info">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <div class="values">
      <div class="values__item">
        <span class="value">{{weight}}</span>
        <span class="units">тн</span>
      </div>
      <div class="values__item">
        <span class="value">12.85</span>
        <span class="units">%</span>
      </div>
    </div>
  </div>
  <div class="numbers">
    <span class="numbers_item">0</span>
    <span class="numbers_item">0</span>
  </div>
  <div class="connection__right">
    <div class="connection-circle"></div>
    <div class="connection-circle"></div>
  </div>
</div>
