<div
  class="main-container"
  [ngClass]="{
    off:!flowData?.isEnable,
    selected:flowData?.code === mvpService.selectedCode
  }"
>
  <div class="container" (click)="mvpService.openPopup(sections, flowData?.code)">
    <div class="connection__left">
      <div class="connection-circle" *ngFor="let j of inputArr"></div>
    </div>
    <div class="info">
      <div class="title">
        <span>{{flowData?.productName}}</span>
      </div>
      <div class="values">
        <div class="values__item">
          <span [ngSwitch]="choosenSetting">
            <ng-template ngSwitchCase="1">{{flowData?.valueByHour}}</ng-template>
            <ng-template ngSwitchCase="2">{{flowData?.valueTank}}</ng-template>
            <ng-template ngSwitchDefault>{{flowData?.valueMoment}}</ng-template>
          </span>
          <span class="units">тн</span>
        </div>
        <div class="values__item">
          <span [ngSwitch]="choosenSetting">
            <ng-template ngSwitchCase="1">{{flowData?.valueByHourPercent}}</ng-template>
            <ng-template ngSwitchCase="2">{{flowData?.valueTankPercent}}</ng-template>
            <ng-template ngSwitchDefault>{{flowData?.valueMomentPercent}}</ng-template>
          </span>
          <span class="units">%</span>
        </div>
      </div>
    </div>
    <div class="connection__right">
      <div class="connection-circle" *ngFor="let i of outputArr"></div>
    </div>
  </div>
  <div class="line-container" *ngIf="!noLine">
    <div
      class="line"
      [ngClass]="{
        disable:!flowData?.isEnable,
        selectedLine: flowData?.code === mvpService?.selectedCode
      }"
      *ngFor="let i of outputArr"
    ></div>
  </div>
</div>
