* {
  box-sizing: border-box
}

.container {
  height: 48px;
  width: 180px;

  display: flex;

  border: 1px solid var(--sou-mvp-color-border);
  border-radius: 2px;
  background: var(--sou-mvp-color-bg-title);

  font-size: 12px;
  line-height: 14px;

  position: relative;

  .connection__left, .connection__right {
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    position: absolute;
  }
  
  .connection {
    &__left {
      left: -4px;
    }
    &__right {
      right: -4px;
    }
  }
  
  .info {
    height: 47px;
    width: 100%;

    display: flex;
    flex-direction: column;

    .title {
      height: 23px;

      border-bottom: 1px solid var(--sou-mvp-color-border);

      display: flex;
      align-items: center;

      span {
        padding-left: 10px;
        color: var(--sou-mvp-color-text-diagram-main);

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .values {
    height: 23px;
    padding-left: 10px;

    display: flex;
    align-items: center;

    background: var(--sou-mvp-color-bg-main);

    &__item {
      color: var(--sou-mvp-color-text-info);

      .units {
        margin-left: 3px;
      }

      &:last-child {
        color: var(--sou-mvp-color-text-diagram-sub);
        margin-left: 12px;
      }
    }
  }
}

.connection-circle {
  height: 8px;
  width: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: var(--sou-mvp-color-bg-main);
  border: 1px solid var(--sou-mvp-color-border);
}

.main-container {
  height: 100%;
  padding: 3px 0;
  
  display: flex;
  align-items: center;

  cursor: pointer;

  .line-container {
    display: flex;
  
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.off {
  .container {
    border: 1px solid var(--sou-mvp-color-border-unactive);
    background: var(--sou-mvp-color-bg-main);
    
    .info {
      .title {
        border-bottom: 1px solid var(--sou-mvp-color-border-unactive);
        span {
          color: var(--sou-mvp-color-text-diagram-sub);
        }
      }
    }
  
    .values {
      background: var(--sou-mvp-color-bg-main);
  
      &__item {
        color: var(--sou-mvp-color-text-diagram-sub);  
      }
    }
  }
  
  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-border-unactive);
  }
}

.selected {
  .container {
    border: 1px solid var(--sou-mvp-color-active);
    background: var(--sou-mvp-color-bg-active-spec);
    
    .info {
      .title {
        background: var(--sou-mvp-color-bg-active-spec);
        border-bottom: 1px solid var(--sou-mvp-color-active);
        span {
          color: var(--sou-mvp-color-text-diagram-main);
        }
      }
    }
  
    .values {
      background: var(--sou-mvp-color-bg-active-spec);
  
      &__item {
        color: var(--sou-mvp-color-text-diagram-main); 
      }
    }
  }
  
  .connection-circle {
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-active);
  }
}

.line {
  height: 1px;
  width: 30px;
  border-top: 1px solid var(--sou-mvp-color-border);
}

.disable {
  border-color: var(--sou-mvp-color-border-unactive);
}

.selectedLine {
  border-color: var(--sou-mvp-color-active);
}