<evj-widget-preview [title]="widgetTitle" [icon]="widgetIcon" [previewTitle]="widgetType" *ngIf="isMock"></evj-widget-preview>
<ng-container *ngIf="!isMock">
  <div class="container">
    <evj-widget-header-smp [uniqId]="uniqId" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()" *ngIf="isHover">
    </evj-widget-header-smp>
    <div class="frame-top"></div>
    <div class="content" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()"
      (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <ng-container *ngFor="let item of data">
        <evj-implementations [data]='item'></evj-implementations>
      </ng-container>
    </div>
    <div class="frame-bottom"></div>
  </div>
</ng-container>