<ng-container *ngIf="data">
  <div class="container">
    <div class="value" *ngIf="isLowerThanLimit()">{{deviation}}</div>
    <ng-container *ngIf="isActive">
      <div
        class="line"
        [ngClass]="{'lowerThanLimit':onLowerValue(), 'endOfThePeriod':endOfPeriod}"
      ></div>
    </ng-container>
    <ng-container *ngIf="!isActive">
      <div
        class="line"
        [ngClass]="{'line-disable':!endOfPeriod, 'endOfThePeriod':endOfPeriod}"
      ></div>
    </ng-container>
    <div class="block" [ngStyle]="{'height':blockHeight()}"></div>
    <div class="limit" [ngStyle]="{'bottom':getLimits(true)}"></div>
    <div class="limit" [ngStyle]="{'bottom':getLimits(false)}"></div>
    <div
      class="blur blur-higher"
      [ngStyle]="{'height':getBlurHeight(true),'bottom':getBlurBottom()}"
    ></div>
    <div class="blur blur-lower" [ngStyle]="{'height':getBlurHeight(false)}"></div>
  </div>
</ng-container>
