.container {
  position: relative;

  width: 100%;
  height: 100%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .value {
    font-size: 12px;
  }

  .line {
    width: 100%;
    height: 1px;
    background: var(--color-active);

    &-disable {
      opacity: 0.5;
    }
  }

  .block {
    height: 20%;
    width: 100%;
  }

  .lowerThanLimit {
    background: var(--color-warning);
    height: 5px;
  }

  .endOfThePeriod {
    height: 5px;
  }

  .limit {
    position: absolute;

    width: 100%;
    height: 1px;

    box-sizing: border-box;
    border-top: 1px dashed var(--color-border-main-transparrent);
  }

  .blur {
    position: absolute;

    width: 100%;

    bottom: 0;

    &-higher {
      background: linear-gradient(to top, rgba(93, 96, 123, 0.2) 0%, transparent 100%);
    }

    &-lower {
      bottom: 0;
      background: linear-gradient(to bottom, rgba(93, 96, 123, 0.2) 0%, transparent 100%);
    }
  }
}
