:host {
  .paginator-container {
    display: flex;
  }

  .paginator-button {
    font-family: inherit;
    margin: 3px 3px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: rgb(162, 226, 255);
    // border-radius: 100%;
    width: 20px;
    height: 32px;
    background-color: transparent;
  }

  .paginator-button:active,
  .paginator-button:focus {
    outline: none;
  }

  .critical {
    color: orange;
  }

  .paginator-button:disabled {
    cursor: default;
    color: white;
    border: none;
    background-image: url(../../../../../../assets/pic/OilControl/not_critical_button.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .critical:disabled {
    background-image: url(../../../../../../assets/pic/OilControl/critical_button.svg);
  }

  .paginator-button:not(:disabled):hover {
    color: white;
  }

  .paginator-dots {
    padding: 5px 5px;
    width: 5px;
    box-sizing: border-box;
    margin: 0 3px;
    color: #555;
    cursor: default;
  }

  .paginator-button-prev:not(:disabled),
  .paginator-button-next:not(:disabled) {
  }
  .paginator-button-prev:not(:disabled):hover,
  .paginator-button-next:not(:disabled):hover {
    background-color: #cb11ab;
  }

  .paginator-button-prev {
    background-color: black;
    //  mask: url(/assets/images/icons/svg/paging-prev.svg) no-repeat 50% 50%;
  }
  .paginator-button-next {
    background-color: black;
    //   mask: url(/assets/images/icons/svg/paging-next.svg) no-repeat 50% 50%;
  }
}
