<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div class="admin">
      <div class="admin__header">
        <div class="header__search">
          <div class="search input__container">
            <input class="input search" type="text" placeholder="Введите ФИО сотрудника" />
            <div class="input__frame input__frame-right"></div>
            <div class="input__frame input__frame-left"></div>
            
          </div>
          <button class="button group__button">
            <div class="button__frame button__frame-left"></div>
            <div class="button__frame button__frame-right"></div>
          </button>
          <button class="button new__button">
            <div class="button__frame button__frame-left"></div>
            <div class="button__frame button__frame-right"></div>
          </button>
        </div>
        <div class="header__title">
          <div class="line"></div>
          <div class="title">Основная информация</div>
          <div class="line"></div>
        </div>
        <div class="header__more">
          <button class="button more__button">
            <div class="button__frame button__frame-left"></div>
            <div class="button__frame button__frame-right"></div>
            Подробнее
          </button>
        </div>
      </div>
      <div class="admin__emloyee"></div>
      <div class="admin__workspace"></div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
