<div class="container">
  <mat-form-field class="date-range-picker" appearance="none">
    <mat-label></mat-label>
    <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
      <input matStartDate formControlName="dateStart" />
      <input matEndDate formControlName="dateEnd" />
    </mat-date-range-input>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>

    <mat-error *ngIf="formGroup.controls.dateStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="formGroup.controls.dateEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
  </mat-form-field>
</div>
