.svg_sou {
  &::ng-deep {
    .element {
      cursor: pointer;
    }

    .disabled {
      stroke: #272a38;

      &-text {
        fill: #606580;
      }

      &-arrow {
        stroke: #606580;
      }

      &-line {
        fill: #272a38;
      }
    }

    .standard {
      stroke: #4b5169;
      fill: #272a38;

      &-text {
        fill: #d7e2f2;
      }

      &-arrow {
        stroke: #d7e2f2;
      }

      &-line {
        fill: #4b5169;
      }
    }

    .deviation {
      stroke: #f7931e;
      fill: #483628;

      &-text {
        fill: #d7e2f2;
      }

      &-arrow {
        stroke: #d7e2f2;
      }

      &-line {
        fill: #f7931e;
      }
    }

    .active {
      stroke: #0089ff;
      fill: #163455;

      &-text {
        fill: #d7e2f2;
      }

      &-arrow {
        stroke: #d7e2f2;
      }

      &-line {
        fill: #0089ff;
      }
    }

    .text-anchor {
      text-anchor: middle;
    }
  }
}
