$darkBlueColor: #272a38;
$darkBlueColor2: #163455;
$darkestBlueColor: #1d1f2b;
$lightBlueColor: #606580;
$lightBlueColor2: #4b5169;
$whiteColor: #d7e2f2;
$blueColor: #0089ff;
$orangeColor: #f7931e;
$brownColor: #483628;

@mixin ellipse {
  &[id^=ellipse] {
    @content;
    stroke: transparent;
  }
}

.svg_sou {
  &::ng-deep {
    .element {
      cursor: pointer;
    }

    .standard {
      stroke: $lightBlueColor2;
      fill: $darkBlueColor;

      &-text {
        fill: $whiteColor;
      }

      &-arrow {
        stroke: $whiteColor;
      }

      &-line {
        fill: $lightBlueColor2;
      }

      @include ellipse {
        fill: white;
      }
    }

    .disabled {
      stroke: $darkBlueColor;
      fill: $darkestBlueColor;

      &-text {
        fill: $lightBlueColor;
      }

      &-arrow {
        stroke: $lightBlueColor;
      }

      &-line {
        fill: $darkBlueColor;
      }

      @include ellipse {
        fill: transparent;
      }
    }

    .deviation {
      stroke: $orangeColor;
      fill: $brownColor;

      &-text {
        fill: $whiteColor;
      }

      &-arrow {
        stroke: $whiteColor;
      }

      &-line {
        fill: $orangeColor;
      }

      @include ellipse {
        fill: white;
      }
    }

    .active {
      stroke: $blueColor;
      fill: $darkBlueColor2;

      &-text {
        fill: $whiteColor;
      }

      &-arrow {
        stroke: $whiteColor;
      }

      &-line {
        fill: $blueColor;
      }
    }

    .not-measurable {
      &-line {
        stroke-dasharray: 2px 4px;
      }

      &-text {
        fill: $lightBlueColor;
      }
    }

    .text-anchor-middle {
      text-anchor: middle;
    }

    .text-anchor-end {
      text-anchor: end;
    }
  }
}
