<div (click)="mvpService.redirectMnemonic(flowData?.linkId)" class="main-container">
  <div
    class="container"
    [ngClass]="{
    off:!flowData?.isEnable,
    warning: flowData?.isExceedingConfInterval && !!flowData?.isEnable
  }"
  >
    <div class="connection__left">
      <div class="connection-circle" *ngFor="let item of inputArr"></div>
    </div>
    <span>{{flowData?.name}}</span>
    <div class="connection__right">
      <div class="connection-circle" *ngFor="let item of outputArr"></div>
    </div>
  </div>
  <div class="line-container">
    <div
      *ngFor="let item of outputArr; index as index"
      class="line"
      [style.borderColor]="flowData?.isEnable? 'var(--sou-mvp-color-border)' : 'var(--sou-mvp-color-border-unactive)'"
      [class.line--dashed]="dashedLine.includes(index + 1)"
    ></div>
  </div>
</div>
