.dl-dia {
  width: 100%;
  height: 60px;
  min-width: 415px;
  min-height: 60px;

  box-sizing: border-box;
  padding: 0 20px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  &__title {
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .title {
      color: var(--color-text-sub);
    }

    .subtitle {
      font-size: 12px;
      line-height: 130%;
      margin-right: 5px;
      color: var(--color-axis);
    }

    .time {
      line-height: 100%;
      font-size: 20px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      color: var(--color-text-main);
    }
  }

  &__graph {
    min-width: 270px;
    width: 100%;
    height: 100%;

    color: var(--color-text-diagram);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding-top: 10px;

    .graph {
      &__line {
        position: relative;

        width: 100%;
        height: 12px;

        svg {
          background: var(--color-bg-line-diagram);
          border-radius: 12px;
          border: 0.5px solid var(--color-axis);

          box-sizing: border-box;
          padding: 0 2px;

          // rect {
          //   transition: 1s;
          // }
        }

        .line {
          position: absolute;

          width: 2px;

          background: transparent;
          border-left: 1px solid var(--color-text-diagram);

          &__marking {
            height: 5px;

            bottom: -7px;

            &-25 {
              left: 25%;
            }

            &-50 {
              left: 50%;
            }

            &-75 {
              left: 75%;
            }
          }
        }
      }
    }
  }
}
