.outage-card {
  min-width: 295px;
  width: 100%;
  border: 1px solid var(--color-group-control-border-main);
  border-radius: 2px;

  .mat-accordion {
    &::ng-deep {
      .mat-expansion-panel.mat-expansion-panel {
        &:last-of-type {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:first-of-type {
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }
}

.outage-table {
  &__header,
  &__row {
    border-bottom: 1px solid var(--color-group-control-border-main);
  }

  &__header {
    padding: 9px;
    display: flex;
    font-size: 9px;
    line-height: 12px;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px 8px 8px;

    font-size: 13px;
    line-height: 16px;
  }
}

.outage {
  &__name {
    display: flex;
    align-items: center;
    color: var(--text-contrast-color);
  }

  &__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    color: var(--index-default-color);
    fill-opacity: 0;

    &_unauthorized,
    &_expired,
    &_active{
      fill-opacity: 0.2;
    }

    &_unauthorized {
      color: var(--index-critical-color);
    }

    &_expired {
      color: var(--index-error-color);
    }

    &_active {
      color: var(--index-active-color);
    }
  }

  &__value {
    display: inline-block;

    & + & {
      margin-left: 24px;
    }

    &_unauthorized {
      color: var(--index-critical-color);
    }

    &_expired {
      color: var(--index-error-color);
    }

    &_total {
      color: var(--text-contrast-color);
    }
  }
}
