<div class="container pointer-event">
  <evj-widget-header [title]="title" [units]="units" [code]="code" [id]="id"></evj-widget-header>

  <div class="frame frame_top" (mousedown)="$event.stopPropagation()" 
  (touchstart)="$event.stopPropagation()"> 
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

  <ng-container *ngIf="isMock">
    <div class="mock"></div>
  </ng-container>
  <ng-container *ngIf="!isMock">
    <div class="change-shift" (mousedown)="$event.stopPropagation()" 
    (touchstart)="$event.stopPropagation()">
      <div class="change-shift__mainWorker">
        <div class="circle circle__left circle__left-top"></div>
        <div class="circle circle__right circle__right-top"></div>
        <div class="mainWorker__avatar">
          <div class="mainWorker__img"></div>
          <div class="circle circle__left circle__left-bottom"></div>
        </div>
        <div class="mainWorker__info">
          <div class="mainWorker__row">
            <div class="mainWorker__row_colInfo" *ngIf="getMain()">
              <div class="mainWorker__name" >
                {{ getMain().employee.firstName }}
                {{ getMain().employee.lastName }}
              </div>
              <div class="mainWorker__position" *ngIf="currentShift != null">
                {{ this.getDisplayPosition(getMain().employee.position) }}
              </div>
            </div>
            <div class="mainWorker__row_colIcon"></div>
          </div>
          <div class="mainWorker__row">
            <div class="circle circle__right circle__right-top"></div>
            <div class="mainWorker__squad">Бригада</div>
            <div class="mainWorker__number" *ngIf="currentShift != null">
              {{ currentShift.brigade.number }}
            </div>
          </div>
        </div>
      </div>
      <div class="change-shift__onShift">
        <div class="onShift__label">На смене</div>
        <ng-container *ngIf="currentShift != null">
          <div class="onShift__add gridster-item-content" (click)="showPeople($event)">+</div>
          <div class="onShift__people scroll-bar">
            <div *ngFor="let person of this.presentMembers">
              <evj-shift-person
                [person]="person"
                [shiftType]="this.aboutWidget.widgetType"
                [shiftId]="currentShift.id"
                [onShift]="true"
                [isPresent]="true"
              ></evj-shift-person>
            </div>
          </div>
          <div class="onShift__allPeople" #allPeople>
            <div class="allPeople__scroll scroll-bar">
              <div *ngFor="let person of allWorkers">
                <evj-shift-person
                  [person]="person"
                  [onShift]="false"
                ></evj-shift-person>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="change-shift__absent">
        <div class="absent__label">Отсутствуют</div>
        <ng-container *ngIf="currentShift != null">
          <div class="absent__people scroll-bar">
            <div class="absent__person" *ngFor="let person of absentMembers">
              <evj-shift-person
                [person]="person"
                [shiftType]="this.aboutWidget.widgetType"
                [shiftId]="currentShift.id"
                [onShift]="true"
                [isPresent]="false"
              ></evj-shift-person>
              <!--            <div class="circle circle__left circle__left-top"></div>-->
              <!--            <div class="circle circle__right circle__right-top"></div>-->
              <!--            <div class="person__avatar">-->
              <!--              <div class="circle circle__left circle__left-bottom"></div>-->
              <!--              <div class="person__img"></div>-->
              <!--            </div>-->
              <!--            <div class="person__info">-->
              <!--              <div class="person__name">{{ person.name }}</div>-->
              <!--              <div class="person__position">{{ person.position }}</div>-->
              <!--              <div class="person__place">{{ person.place }}</div>-->
              <!--              <div class="person__status">-->
              <!--                <div class="circle circle__right circle__right-top"></div>-->
              <!--                <div class="status__name">{{ person.status }}</div>-->
              <!--                <div class="status__icon"></div>-->
              <!--              </div>-->
              <!--            </div>-->
            </div>
          </div>
        </ng-container>
      </div>
      <div
        class="change-shift__comment"
        style="height: 200px; min-height: 200px;"
      >
        <div class="comment__title">
          Комментарий оператора
        </div>
        <div class="comment__body">
          <div class="comment__display">
            <div class="messages scroll-bar" #scroll>
              <div class="message" *ngFor="let comment of comments">
                {{ comment }}
              </div>
            </div>
          </div>
          <div class="comment__new">
            <input
              type="text"
              class="comment__text gridster-item-content"
              placeholder="Напишите свой комментарий..."
              (keypress)="onEnterPush($event)"
              #input
            />
            <button
              type="submit"
              class="button comment__file   gridster-item-content"
            >
              <svg-icon
                class="button__icon"
                src="./assets/icons/widgets/change-shift/add_file.svg"
              ></svg-icon>
            </button>
            <button
              type="submit"
              class="button comment__submit  gridster-item-content"
              (click)="onSendMessage($event)"
            >
              <svg-icon
                class="button__icon"
                src="./assets/icons/widgets/change-shift/send.svg"
              ></svg-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="change-shift__submit" *ngIf="aboutWidget">
        <div class="submit__frame submit__frame-left"></div>
        <div class="submit__frame submit__frame-right"></div>
        <button type="submit gridster-item-content">
          {{
            this.aboutWidget.widgetType === 'shift-pass'
              ? "Передать смену"
              : "Принять смену"
          }}
        </button>
      </div>
    </div>
  </ng-container>

  <div class="frame frame_bottom" (mousedown)="$event.stopPropagation()" 
  (touchstart)="$event.stopPropagation()">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

</div>