<div class="container">
  <div class="header">
    <div class="header__content">
      <div class="header__icon-wrapper">
        <svg-icon
          class="header__icon"
          src="./assets/icons/widgets/events/letter.svg"
        ></svg-icon>
      </div>
      <span class="header__name">
        Бригада передающая смену
      </span>
    </div>
  </div>

  <div class="frame frame_top">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>

  <div class="change-shift">
    <div class="change-shift__mainWorker">
      <div
        class="circle circle__left circle__left-top"
      ></div>
      <div
        class="circle circle__right circle__right-top"
      ></div>
      <div class="mainWorker__avatar">
        <div class="mainWorker__img"></div>
        <div
          class="circle circle__left circle__left-bottom"
        ></div>
      </div>
      <div class="mainWorker__info">
        <div class="mainWorker__row">
          <div class="mainWorker__row_colInfo">
            <div class="mainWorker__name">Гребенщиков В.М.</div>
            <div class="mainWorker__position">Старший оператор</div>
          </div>
          <div class="mainWorker__row_colIcon"></div>
        </div>
        <div class="mainWorker__row">
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="mainWorker__squad">Бригада</div>
          <div class="mainWorker__number">3</div>
        </div>
      </div>
    </div>
    <div class="change-shift__onShift">
      <div class="onShift__label">На смене</div>
      <div class="onShift__people">
        <div class="onShift__person">
          <div
            class="circle circle__left circle__left-top"
          ></div>
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="person__avatar">
              <div class="circle circle__left circle__left-bottom"></div>
            <div class="person__img"></div>
          </div>
          <div class="person__info">
            <div class="person__name">Гребенщиков В.М.</div>
            <div class="person__position">Старший оператор</div>
            <div class="person__place">Блок очистки</div>
            <div class="person__status">
                <div class="circle circle__right circle__right-top"></div>
                <div class="status__name">Сдал смену</div>
                <div class="status__icon"></div>
            </div>
          </div>
        </div>
        <div class="onShift__person">
          <div
            class="circle circle__left circle__left-top"
          ></div>
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="person__avatar">
              <div class="circle circle__left circle__left-bottom"></div>
            <div class="person__img"></div>
          </div>
          <div class="person__info">
            <div class="person__name">Гребенщиков В.М.</div>
            <div class="person__position">Старший оператор</div>
            <div class="person__place">Блок очистки</div>
            <div class="person__status">
                <div class="circle circle__right circle__right-top"></div>
                <div class="status__name">Сдал смену</div>
                <div class="status__icon"></div>
            </div>
          </div>
        </div>
        <div class="onShift__person">
          <div
            class="circle circle__left circle__left-top"
          ></div>
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="person__avatar">
              <div class="circle circle__left circle__left-bottom"></div>
            <div class="person__img"></div>
          </div>
          <div class="person__info">
            <div class="person__name">Гребенщиков В.М.</div>
            <div class="person__position">Старший оператор</div>
            <div class="person__place">Блок очистки</div>
            <div class="person__status">
                <div class="circle circle__right circle__right-top"></div>
                <div class="status__name">Сдал смену</div>
                <div class="status__icon"></div>
            </div>
          </div>
        </div>
        <div class="onShift__person">
          <div
            class="circle circle__left circle__left-top"
          ></div>
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="person__avatar">
              <div class="circle circle__left circle__left-bottom"></div>
            <div class="person__img"></div>
          </div>
          <div class="person__info">
            <div class="person__name">Гребенщиков В.М.</div>
            <div class="person__position">Старший оператор</div>
            <div class="person__place">Блок очистки</div>
            <div class="person__status">
                <div class="circle circle__right circle__right-top"></div>
                <div class="status__name">Сдал смену</div>
                <div class="status__icon"></div>
            </div>
          </div>
        </div>
        <div class="onShift__person">
          <div
            class="circle circle__left circle__left-top"
          ></div>
          <div
            class="circle circle__right circle__right-top"
          ></div>
          <div class="person__avatar">
              <div class="circle circle__left circle__left-bottom"></div>
            <div class="person__img"></div>
          </div>
          <div class="person__info">
            <div class="person__name">Гребенщиков В.М.</div>
            <div class="person__position">Старший оператор</div>
            <div class="person__place">Блок очистки</div>
            <div class="person__status">
                <div class="circle circle__right circle__right-top"></div>
                <div class="status__name">Сдал смену</div>
                <div class="status__icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="change-shift__absent"></div>
    <div class="change-shift__comment"></div>
    <div class="change-shift__submit"></div>
  </div>

  <div class="frame frame_bottom">
    <div class="frame__circle frame__circle__left"></div>
    <div class="frame__circle frame__circle__right"></div>
  </div>
</div>
