<div class="wrapper">
  <div class="chat">
    <div class="chat__header">{{title}}</div>
    <div class="chat__messages messages scroll scroll-bar" #scroll>
      <div class="messages__list">
        <div class="message__graph graph" *ngIf="displayGraphImage" (click)="onClickItem()">
          <svg-icon
            src="assets/icons/widgets/workspace/graph.svg"
            [svgStyle]="{ 'width.px':250, 'height.px':70 }"
          ></svg-icon>
        </div>
        <ng-container *ngFor="let message of messages; let i = index;">
          <div class="message" [ngClass]="{'message_odd':i%2===0}">
            <div class="message__text">{{message.comment}}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="chat-input input-line">
    <input class="input" type="text" [placeholder]="placeholder" (keypress)="onEnterPush($event)" #input />
    <button class="button" (click)="onSendMessage()">
      <svg-icon
        class="button__icon"
        src="assets/icons/widgets/change-shift/send.svg"
        [svgStyle]="{ 'width.px':15, 'height.px':15 }"
      ></svg-icon>
    </button>
  </div>
</div>
