.container {
  display: flex;
  width: 77px;
  height: 21px;
  font-size: 12px;
  line-height: 14px;
  background: var(--color-astue-onpz-mnemonic-furnace-item-bg-dark);
  border: 1px solid var(--color-astue-onpz-mnemonic-furnace-lines);
  border-radius: 2px;
  box-sizing: border-box;

  .number {
    display: flex;
    height: 100%;
    width: 20px;
    min-width: 20px;
    border-radius: 2px;
    background: var(--color-astue-onpz-mnemonic-furnace-item-bg);

    .text {
      margin: auto;
      color: var(--color-astue-onpz-mnemonic-furnace-sub-text);
    }
  }

  .value {
    display: flex;
    flex-grow: 1;
    height: 100%;

    .text {
      margin: auto;
      color: var(--color-astue-onpz-mnemonic-furnace-main-text);
    }
  }
}
