<div class="menu">
  <div class="menu__header">
    <div class="menu__header__name">Название</div>
    <div class="menu__header__name">Последнее изменение</div>
    <div class="menu__header__name">Автор</div>
    <div class="menu__header__name">Размер файла</div>
  </div>
  <div class="menu__body">
    <div
      *ngFor="let folder of folders"
      class="item"
    >
      <evj-admin-file-work-folder
        [folder]="folder"
        (onClickFolder)="onClickOpenFolder(folder)"
      ></evj-admin-file-work-folder>
    </div>
  </div>
</div>
