<div class="menu">
  <div class="menu__header">
    <div class="menu__header__name">Название</div>
    <div class="menu__header__name">Последнее изменение</div>
    <div class="menu__header__name">Автор</div>
    <div class="menu__header__name">Размер файла</div>
  </div>
  <div class="menu__body">
    <div
      *ngFor="let folder of folders"
      class="item"
    >
      <evj-admin-file-work-folder
        [folder]="folder"
        (folderClick)="onClickOpenFolder(folder)"
        (folderChanges)="onFolderOrFileChanges()"
      ></evj-admin-file-work-folder>
    </div>

    <div
      *ngFor="let file of files"
      class="item"
    >
      <evj-admin-file-work-svg-file
        [file]="file"
        (fileChanges)="onFolderOrFileChanges()"
      ></evj-admin-file-work-svg-file>
    </div>
  </div>
</div>
