<ng-container>
  <evj-widget-header
    [title]="widgetTitle"
    [icon]="widgetIcon"
    [id]="widgetId"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="table-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <div class="table">
      <div id="saveBarBlock">
        <div class="loader">
          <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20"></circle>
          </svg>
        </div>
      </div>
      <div id="saveBar"></div>
      <div class="table__menu">
        <div class="all-settings-button" (click)="onAllSettings()" [class.active]="allSettings">
          Все установки
          <div class="b-a"></div>
        </div>
        <div class="settings-button" #scroll>
          <div class="set-buttons" #truckScroll>
            <div
              class="set-button"
              *ngFor="let machine of data"
              (click)="onSettings(machine)"
              [ngClass]="{'active': machine?.active}"
            >
              {{machine?.name}}
              <div class="b-a"></div>
            </div>
          </div>
        </div>
        <div class="save-button" (click)="onButtonSave()" [style.opacity]="isSaveButton() ? '1' : '0.2'">
          Сохранить
          <div class="b-a"></div>
        </div>
      </div>
      <div class="table__container">
        <div class="container-header">
          <div class="container-header__button-list" (click)="onShowAllSettings()">
            <svg-icon
              *ngIf="openAllSettings"
              src="assets/icons/widgets/manual-input/arrow_down.svg"
              [svgStyle]="{ 'width.px':10, 'height.px':10 }"
            ></svg-icon>

            <svg-icon
              *ngIf="!openAllSettings"
              src="assets/icons/widgets/manual-input/arrow_right.svg"
              [svgStyle]="{ 'width.px':10, 'height.px':10 }"
            ></svg-icon>
          </div>
          <div class="container-header__info-blocks">
            <div class="block-param param" (click)="onShowAllSettings()">
              <div class="p1">Параметры</div>
            </div>
            <div class="block-param unit">
              <div class="p2">Единица Измерения</div>
            </div>
            <div class="block-param">
              <div class="p3">Предыдущая дата</div>
            </div>
            <div class="block-param lastValue">
              <div class="p4">Предыдущее значение</div>
            </div>
            <div class="block-param">
              <div class="p5">Текущая дата</div>
            </div>
            <div class="block-param curValue">
              <div class="p6">Текущее значение</div>
            </div>
            <div class="block-param minValue">
              <div class="p7">Минимальная граница</div>
            </div>
            <div class="block-param maxValue">
              <div class="p8">Максимальная граница</div>
            </div>
          </div>
        </div>
        <div class="container" id="container">
          <ng-container *ngIf="allSettings">
            <ng-container *ngFor="let machine of data">
              <div class="machine-name" (click)="onShowMachine(machine)">
                <div class="machine-name__button">
                  <svg-icon
                    *ngIf="machine.open"
                    src="assets/icons/widgets/manual-input/arrow_down.svg"
                    [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                  ></svg-icon>

                  <svg-icon
                    *ngIf="!machine.open"
                    src="assets/icons/widgets/manual-input/arrow_right.svg"
                    [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                  ></svg-icon>
                </div>
                <div class="machine-name__title">{{machine?.name}}</div>
                <div class="machine-name__icon">
                  <svg-icon
                    src="assets/icons/widgets/manual-input/fabric.svg"
                    [svgStyle]="{ 'width.px':15, 'height.px':15 }"
                  ></svg-icon>
                </div>
              </div>
              <div class="machines-container" [@Branch]="(machine.open) ? 'expanded' : 'collapsed'">
                <ng-container *ngFor="let item of machine.groups">
                  <div class="machine-container">
                    <div class="item-name" (click)="onShowItemMachine(item)">
                      <div class="item-name__button">
                        <svg-icon
                          *ngIf="item.open"
                          src="assets/icons/widgets/manual-input/arrow_down.svg"
                          [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                        ></svg-icon>

                        <svg-icon
                          *ngIf="!item.open"
                          src="assets/icons/widgets/manual-input/arrow_right.svg"
                          [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                        ></svg-icon>
                      </div>
                      <div class="item-name__title">{{item?.name}}</div>
                    </div>
                    <div class="item-container" [@Branch]="(item.open) ? 'expanded' : 'collapsed'">
                      <ng-container *ngFor="let i of item.params">
                        <div class="items">
                          <div class="item-block">
                            <div class="item-block__value name">{{i?.name}}</div>
                            <div class="item-block__value unit">{{i.unit}}.</div>
                            <div class="item-block__value">{{i.lastTime | date: 'dd.MM.yyyy HH:mm'}}</div>
                            <div class="item-block__value lastValue">{{i.lastValue}}</div>
                            <div class="item-block__value">{{i.curTime | date: 'dd.MM.yyyy HH:mm'}}</div>
                            <div class="item-block__value input_value">
                              <input
                                class="data"
                                type="text"
                                placeholder="--------"
                                [readOnly]="!isSaveButton()"
                                [(ngModel)]="i.curValue"
                                [class.data_notActive]="!i.isActive || !isSaveButton()"
                                [class.data_active]="i.isActive"
                                [class.data_active__saving]="i.isActive && i.isSave"
                                [class.data_active__warning]="i.isWarning && !i.isSave && i.isActive && !i.isError"
                                [class.data_active__error]="i.isError && !i.isSave"
                                (change)="onChangeValue(i.id)"
                                (focusout)="onUnfocusValue(i.id)"
                              />
                            </div>
                            <div class="item-block__value minValue">{{i.minValue}}</div>
                            <div class="item-block__value maxValue">{{i.maxValue}}</div>
                          </div>
                          <div
                            class="message"
                            (click)="onInputMessage(i)"
                            [ngClass]="{'activeIcon': i.openInput}"
                            [ngClass]="{'activeIcon': i.comment}"
                          >
                            <svg-icon
                              src="assets/icons/widgets/manual-input/message.svg"
                              [svgStyle]="{ 'width.px':27, 'height.px':25, 'margin-left.px': -13, 'margin-top.px': 8 }"
                            >
                            </svg-icon>
                          </div>
                          <div class="input-message-none" [ngClass]="{'input-message': i.openInput === true }">
                            <input
                              class="data"
                              type="text"
                              (change)="onChangeValue(i.id)"
                              (focusout)="onUnfocusValue(i.id)"
                              [(ngModel)]="i.comment"
                              placeholder="Напишите свой комментарий..."
                              [readOnly]="!isSaveButton()"
                              [class.data_notActive]="!i.isActive || !isSaveButton()"
                              [class.data_active__saving]="i.isActive"
                            />
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!allSettings">
            <div class="machines-container">
              <ng-container *ngFor="let item of chooseSetting.groups">
                <div class="machine-container">
                  <div class="item-name-short" (click)="onShowItemMachine(item)">
                    <div class="item-name__button">
                      <svg-icon
                        src="assets/icons/widgets/manual-input/arrow_down.svg"
                        [svgStyle]="{ 'width.px':10, 'height.px':10 }"
                      ></svg-icon>
                    </div>
                    <div class="item-name__title">{{item?.name}}</div>
                  </div>
                  <div class="item-container-short" [@Branch]="(item.open) ? 'expanded' : 'collapsed'">
                    <ng-container *ngFor="let i of item.params">
                      <div class="items">
                        <div class="item-block">
                          <div class="item-block__value name">{{i?.name}}</div>
                          <div class="item-block__value unit">{{i.unit}}.</div>
                          <div class="item-block__value">{{i.lastTime | date: 'dd.MM.yyyy HH:mm'}}</div>
                          <div class="item-block__value lastValue">{{i.lastValue}}</div>
                          <div class="item-block__value">{{i.curTime | date: 'dd.MM.yyyy HH:mm'}}</div>
                          <div class="item-block__value input_value">
                            <input
                              class="data"
                              type="text"
                              placeholder="--------"
                              [readOnly]="!isSaveButton()"
                              [(ngModel)]="i.curValue"
                              [class.data_notActive]="!i.isActive || !isSaveButton()"
                              [class.data_active]="i.isActive"
                              [class.data_active__saving]="i.isActive && i.isSave"
                              [class.data_active__warning]="i.isWarning && !i.isSave && i.isActive && !i.isError"
                              [class.data_active__error]="i.isError && !i.isSave"
                              (change)="onChangeValue(i.id)"
                              (focusout)="onUnfocusValue(i.id)"
                            />
                          </div>
                          <div class="item-block__value minValue">{{i.minValue}}</div>
                          <div class="item-block__value maxValue">{{i.maxValue}}</div>
                        </div>
                        <div
                          class="message"
                          (click)="onInputMessage(i)"
                          [ngClass]="{'activeIcon': i.openInput}"
                          [class.activeIcon]="i.comment"
                        >
                          <svg-icon
                            src="assets/icons/widgets/manual-input/message.svg"
                            [svgStyle]="{ 'width.px':27, 'height.px':25, 'margin-left.px': -13, 'margin-top.px': 8}"
                          >
                          </svg-icon>
                        </div>
                        <div class="input-message-none" [ngClass]="{'input-message': i.openInput === true }">
                          <input
                            class="data"
                            type="text"
                            (change)="onChangeValue(i.id)"
                            (focusout)="onUnfocusValue(i.id)"
                            placeholder="Напишите свой комментарий..."
                            [readOnly]="!isSaveButton()"
                            [(ngModel)]="i.comment"
                            [class.data_notActive]="!i.isActive || !isSaveButton()"
                            [class.data_active__saving]="i.isActive"
                          />
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <div class="container-footer"></div>
      </div>
    </div>
  </div>

  <evj-frame-bottom class="frame-bottom" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
  </evj-frame-bottom>
</ng-container>
