:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;

  // --border-style-dashed: dashed 3px var(--color-border-main);
  // --border-style-solid: solid 1px var(--color-border-main);
  // --space-top: 50px;

  --tree-width-1: 1%;
  --tree-width-2: 1%;
  --tree-width-3: 1%;
}

#saveBar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -135px;
  background-color: var(--color-border-active); /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 8px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
#saveBar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#saveBar.complete {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: var(--color-border-active); /* Black background color */
}
#saveBar.error {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: var(--color-danger); /* Black background color */
}

#saveBarBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 3px;
  bottom: 40px;
  background-color: var(--color-bg-main-opacity);
  z-index: 999;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  display: none;
}
#saveBarBlock.show {
  display: flex;
}

.loader {
  position: absolute;
  width: 7em;
  height: 7em;
  z-index: 10;
  display: block;
  svg {
    width: 7em;
    transform-origin: center;
    animation: rotate 2s linear infinite;
  }
  circle {
    fill: none;
    stroke: var(--color-border-active);
    stroke-width: 4;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash 1s ease-in-out infinite;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }
    100% {
      stroke-dashoffset: -125px;
    }
  }
}

.table-container {
  border-right: 1px dashed var(--color-border-main);
  border-left: 1px dashed var(--color-border-main);
  min-width: 450px;
  right: -1px;
  width: calc(100% - 2px);
  height: calc(100% - 56px);
  &:before {
    content: "";
    position: absolute;
    left: -2px;
    right: -5px;
    top: 0px;
    height: 100%;
    width: calc(100% - 2px);
    border-left: var(--border-style-dashed);
    border-right: var(--border-style-dashed);
  }
}

.b-a {
  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    bottom: -10px;
    left: -6px;

    height: 7px;
    width: 10px;

    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-135deg);

    border-bottom: 2px solid #1b1f2c;
    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;

    bottom: -7px;
    right: -3px;

    height: 10px;
    width: 10px;

    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    border-top: 2px solid #1b1f2c;
    background: var(--color-bg-main);
  }
}

.table {
  position: relative;
  height: 100%;
  padding-top: 10px;
  width: 99%;
  margin: 0 auto;
  overflow: hidden;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 99%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    .all-settings-button {
      min-width: 120px;
      position: relative;
      width: 150px;
      height: 100%;
      background-color: #1b1f2c;
      &:hover {
        cursor: pointer;
        background-color: var(--color-border-active);
      }

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -3px;
        left: -7px;

        height: 7px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-bottom: 2px solid #1b1f2c;
        background: var(--color-bg-main);
      }

      &:after {
        z-index: 1;
        content: "";
        position: absolute;

        top: 2px;
        right: -3px;

        height: 10px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-135deg);

        border-top: 2px solid #1b1f2c;
        background: var(--color-bg-main);
      }
    }

    .settings-button {
      margin-left: 10px;
      margin-right: 10px;
      padding-bottom: 5px;
      height: 110%;
      overflow-x: auto;
      overflow-y: hidden;
      .set-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .set-button {
          position: relative;
          min-width: 120px;
          max-width: 120px;
          margin-right: 10px;
          margin-left: 10px;
          height: 100%;
          background-color: #1b1f2c;

          &:hover {
            cursor: pointer;
            background-color: var(--color-border-active);
          }

          &:before {
            z-index: 1;
            content: "";
            position: absolute;

            top: -3px;
            left: -7px;

            height: 7px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-45deg);

            border-bottom: 2px solid #1b1f2c;
            background: var(--color-bg-main);
          }

          &:after {
            z-index: 1;
            content: "";
            position: absolute;

            top: 2px;
            right: -3px;

            height: 10px;
            width: 10px;

            box-sizing: border-box;
            transform-origin: 43% 0;
            transform: rotate(-135deg);

            border-top: 2px solid #1b1f2c;
            background: var(--color-bg-main);
          }
        }
      }
    }

    ::-webkit-scrollbar {
      width: 1px;
      height: 5px;
    }
    ::-webkit-scrollbar:vertical {
      width: 10px;
      height: 100%;
    }
    ::-webkit-scrollbar-track {
      margin-left: 10px;
      margin-right: 10px;
      background-color: var(--color-bg-main);
      border-radius: 10px;
    }
    ::-webkit-scrollbar-track-piece {
      border: 1px solid #8c99b2;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
      height: 20px;
      background-color: #8c99b2;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-corner {
      background-color: #999;
    }
    ::-webkit-resizer {
      background-color: #666;
    }

    .scroll-button {
      width: 210px;
      position: relative;
      ::-webkit-scrollbar {
        margin-left: 10px;
        margin-right: 10px;
        width: 200px;
        height: 5px;
      }
      ::-webkit-scrollbar:vertical {
        width: 10px;
        height: 100%;
      }
      ::-webkit-scrollbar-track {
        margin-left: 5px;
        margin-right: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        // box-shadow: inset 0 0 5px #8c99b2;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-track-piece {
        background-color: var(--color-bg-main);
        // border: 1px solid #8c99b2;
      }
      ::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: #8c99b2;
        border-radius: 10px;
      }
      ::-webkit-scrollbar-corner {
        background-color: #999;
      }
      ::-webkit-resizer {
        background-color: #666;
      }

      .topscroll {
        z-index: 999;
        position: absolute;
        width: 90%;
        height: 20px;
        direction: ltr;
        overflow-x: scroll;
        bottom: 20px;
        left: 5px;
        .fake {
          height: 100%;
          //    background-color: yellow;
        }
      }
    }

    .save-button {
      position: relative;
      width: 130px;
      background-color: rgba(63, 169, 245, 0.05);
      border: 1px solid;
      border-image: linear-gradient(90deg, transparent 0%, var(--color-border-active) 100%);
      border-image-slice: 1;
      min-width: 130px;
      &:hover {
        cursor: pointer;
        background-color: rgba(63, 169, 245, 0.3);
      }

      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        top: -3px;
        left: -7px;

        height: 7px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-bottom: 1px solid #1b1f2c;
        background: var(--color-bg-main);
      }

      &:after {
        z-index: 1;
        content: "";
        position: absolute;

        top: 4px;
        right: -3px;

        height: 10px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-135deg);

        border-top: 1px solid var(--color-border-active);
        background: var(--color-bg-main);
      }

      .b-a {
        &:after {
          border-top: 1px solid var(--color-border-active);
          right: -2px;
        }
      }
    }
  }

  &__container {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    height: calc(100% - 49px);

    .container-header {
      background-color: #1b1f2c;
      display: flex;
      width: 100%;
      height: 50px;
      margin: 0 auto;
      //line-height: 50px;
      font-size: 11px;
      color: var(--color-text-sub);
      &__button-list {
        cursor: pointer;
        width: 30px;
        line-height: 53px;
        text-align: center;
      }

      &__info-blocks {
        width: calc(100% - 55px);
        display: flex;
        //justify-content: space-between;
        //  align-items: center;

        .block-param {
          align-items: center;
          display: flex;
          width: 20%;
          word-wrap: break-word;
          border-left: 2px solid var(--color-bg-main);

          .p1 {
            text-align: left;
            width: 100%;
          }
          .p2 {
            text-align: center;
            width: 100%;
          }
          .p3 {
            text-align: center;
            width: 100%;
          }
          .p4 {
            text-align: center;
            width: 100%;
          }
          .p5 {
            text-align: center;
            width: 100%;
          }
          .p6 {
            text-align: center;
            width: 100%;
          }
          .p7 {
            text-align: center;
            width: 100%;
          }
          .p8 {
            text-align: center;
            width: 100%;
          }
        }

        .param {
          cursor: pointer;
        }

        .curValue {
          width: 10%;
        }

        .unit {
          width: 100px;
        }

        .lastValue {
          width: 100px;
        }

        .minValue {
          width: 100px;
        }

        .maxValue {
          width: 100px;
        }
      }
    }
    //// VERTICAL SCROLL
    ::-webkit-scrollbar {
      height: 5px;
    }
    ::-webkit-scrollbar:vertical {
      width: 5px;
      height: 50%;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: var(--color-bg-main);
      border-radius: 20px;
    }
    ::-webkit-scrollbar-track-piece {
      border: 1px solid #8c99b2;
      border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb {
      height: 20px;
      background-color: #8c99b2;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-corner {
      background-color: #999;
    }
    ::-webkit-resizer {
      background-color: #666;
    }

    .container-none {
      height: calc(100% - 100px);

      .machine-name {
        cursor: pointer;
        display: none;
      }

      .machine-container {
        display: none;
      }
    }

    .container {
      height: calc(100% - 100px);
      overflow-y: auto;
      overflow-x: hidden;
      font-size: 12px;
      width: 99%;
      margin: 0 auto;
      margin-right: 2px;
      //  padding-left: 5px;

      .machine-name {
        cursor: pointer;
        margin-top: 10px;
        height: 20px;
        display: flex;
        width: 100%;
        background-color: var(--color-bg-main);

        &__button {
          cursor: pointer;
          width: 20px;
        }

        &__title {
          width: calc(100% - 20px);
          color: var(--color-border-active);
          width: calc(100% - 20px);
        }

        &__icon {
          margin-left: -26px;
        }
      }

      .machines-container {
        .machine-container {
          background-color: var(--color-bg-main);
          width: 100%;
          .item-name {
            cursor: pointer;
            padding-left: 20px;
            box-shadow: inset -6px 3px 7px 1px rgba(0, 0, 0, 0.55);
            display: flex;
            width: 100%;
            height: 40px;
            line-height: 40px;

            &__button {
              cursor: pointer;
              width: 20px;
            }

            &__title {
              width: calc(100% - 20px);
            }
          }

          .item-container {
            padding-left: 20px;
            box-shadow: inset -6px 3px 7px 1px rgba(0, 0, 0, 0.55);
            background-color: var(--color-bg-main-dark);

            .items {
              display: flex;
              width: 100%;
              position: relative;
              .item-block {
                width: calc(100% - 20px);
                // border-bottom: 2px solid var(--color-bg-main);
                height: 45px;
                display: flex;
                //   justify-content: space-between;
                align-items: center;

                &__value {
                  width: 20%;
                  text-align: center;
                }

                .unit {
                  width: 100px;
                }

                .lastValue {
                  width: 100px;
                }

                .minValue {
                  width: 100px;
                }

                .maxValue {
                  width: 100px;
                }

                .name {
                  color: var(--color-text-sub-heading);
                  text-align: left;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  width: 20%;
                  min-width: 90px;
                }

                .input_value {
                  width: 10%;
                  //   margin-top: 5px;
                }
              }

              .message {
                cursor: pointer;
                width: 20px;
                height: 100%;
                &:hover svg-icon {
                  ::ng-deep .cls-1 {
                    fill: var(--color-border-active);
                    stroke: white;
                  }
                }

                .activeIcon {
                  svg-icon {
                    ::ng-deep .cls-1 {
                      fill: var(--color-border-active);
                      stroke: white;
                    }
                  }
                }
              }

              .activeIcon {
                svg-icon {
                  ::ng-deep .cls-1 {
                    fill: var(--color-border-active);
                    stroke: white;
                  }
                }
              }

              .input-message-none {
                display: none;
              }

              .input-message {
                border: 1px solid var(--color-border-active) !important;
                border-radius: 20px;
                display: block;
                height: 40px;
                width: 300px;
                position: absolute;
                background-color: var(--color-bg-main);
                top: 0px;
                right: 40px;

                input.data {
                  pointer-events: fill;
                  width: 90%;
                  margin-top: 10px;
                  margin-left: 10px;
                }
              }
            }
          }

          .item-container-none {
            display: none;
          }

          .item-name-short {
            display: flex;
            width: 100%;
            height: 40px;
            line-height: 40px;
            cursor: pointer;

            &__button {
              width: 20px;
            }

            &__title {
              width: calc(100% - 20px);
            }
          }

          .item-container-short {
            box-shadow: inset -6px 3px 7px 1px rgba(0, 0, 0, 0.55);
            background-color: var(--color-bg-main-dark);

            .items {
              display: flex;
              width: 100%;
              position: relative;
              .item-block {
                padding-left: 25px;
                width: calc(100% - 40px);
                // border-bottom: 2px solid var(--color-bg-main);
                height: 45px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &__value {
                  width: 20%;
                  text-align: center;
                }

                .name {
                  color: var(--color-text-sub-heading);
                  text-align: left;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  width: 20%;
                  min-width: 90px;
                }
                .input_value {
                  width: 10%;
                  margin-top: 5px;
                }

                .unit {
                  width: 100px;
                }

                .lastValue {
                  width: 100px;
                }

                .minValue {
                  width: 100px;
                }

                .maxValue {
                  width: 100px;
                }
              }

              .message {
                cursor: pointer;
                width: 20px;
                height: 100%;
                &:hover svg-icon {
                  ::ng-deep .cls-1 {
                    fill: var(--color-border-active);
                    stroke: white;
                  }
                }
              }

              .activeIcon {
                svg-icon {
                  ::ng-deep .cls-1 {
                    fill: var(--color-border-active);
                    stroke: white;
                  }
                }
              }

              .input-message-none {
                display: none;
              }

              .input-message {
                border: 1px solid var(--color-border-active) !important;
                border-radius: 20px;
                display: block;
                height: 40px;
                width: 300px;
                position: absolute;
                background-color: var(--color-bg-main);
                top: 0px;
                right: 40px;

                input.data {
                  pointer-events: fill;
                  width: 90%;
                  margin-top: 10px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }

      .machine-name-none {
        cursor: pointer;
        display: none;
      }

      .machine-container-none {
        display: none;
      }
    }

    .container-footer {
      width: 99%;
      margin: 0 auto;
      background-color: #1b1f2c;
      height: 20px;
      position: relative;
      &:before {
        z-index: 1;
        content: "";
        position: absolute;

        bottom: -10px;
        left: -6px;

        height: 7px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-135deg);

        border-bottom: 2px solid #1b1f2c;
        background: var(--color-bg-main);
      }

      &:after {
        z-index: 1;
        content: "";
        position: absolute;

        bottom: -7px;
        right: -3px;

        height: 10px;
        width: 10px;

        box-sizing: border-box;
        transform-origin: 43% 0;
        transform: rotate(-45deg);

        border-top: 2px solid #1b1f2c;
        background: var(--color-bg-main);
      }
    }
  }
}

.active {
  background-color: var(--color-border-active) !important;
}

input.data {
  font-size: 13px;
  width: 100%;
  height: 16px;
  background: var(--color-bg-main);
  border-bottom: solid 1px transparent;
  color: var(--color-text-sub);
  pointer-events: none;

  &_comment {
    pointer-events: fill;
  }

  &_val {
  }

  &_com {
  }

  &_active {
    pointer-events: fill;
    border-radius: 3px;
    border-color: transparent;
    border-bottom: solid 2px var(--color-warning);

    &__saving {
      border-color: transparent;
      border-bottom: solid 2px var(--color-border-active);
      //  border-color: transparent;
    }

    &__error {
      border-color: transparent;
      border-bottom: solid 2px var(--color-danger);
      //   border-color: var(--color-danger);
    }

    &__warning {
      //  border-color: var(--color-warning);
      border-color: transparent;
      border-bottom: solid 2px var(--color-warning);
      animation: blink 1s;
      animation-iteration-count: 3;
    }
    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
  }
  &_notActive {
    border-color: transparent;
  }

  &::placeholder {
    color: var(--color-text-sub);
  }

  &:focus {
    outline: none;
  }
}
