<div class="info-bar">
  <div class="about-section">

    <div class="about-section__subtitle"></div>

    <div class="about-section__title"></div>

    <div class="about-section__details">
      <div class="about-section__detail">
        <span class="about-section__detail__highlight"></span>
      </div>
      <div class="about-section__detail">
        <span class="about-section__detail__highlight"></span>
      </div>
      <div class="about-section__detail">
        <span class="about-section__detail__highlight"></span>
      </div>
    </div>

    <div class="about-section__highlight">
      <svg-icon
        class="class=about-section__highlight__icon"
        src="assets/icons/widgets/SOU/sou-workspace/cross_close_circle.svg"
        [ngStyle]="{ 'height.px':16 }"
      ></svg-icon>
      <div class="about-section__highlight__text"></div>
    </div>

    <div class="about-section__button">
      <svg-icon
        class="class=about-section__button__icon"
        src="assets/icons/widgets/SOU/sou-workspace/cross_close_circle.svg"
        [ngStyle]="{ 'height.px':16 }"
      ></svg-icon>
      <div class="about-section__button__text"></div>
    </div>

  </div>
  <div class="selectors-section">

    <div class="selectors-section__production">
      <div class="selectors-section__production__label"></div>
      <div class="option-select">
        <div class="dropdown">
          <div class="dropdown__marker"></div>
          <mat-select placeholder="Производство" class="dropdown__select">
            <mat-option> Не выбрано</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="selectors-section__object">
      <div class="selectors-section__object__label"></div>
      <div class="option-select">
        <div class="dropdown">
          <div class="dropdown__marker"></div>
          <mat-select placeholder="Производство" class="dropdown__select">
            <mat-option> Не выбрано</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="option-select">
        <div class="dropdown">
          <div class="dropdown__marker"></div>
          <mat-select placeholder="Производство" class="dropdown__select">
            <mat-option> Не выбрано</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

    <div class="selectors-section__product">
      <div class="selectors-section__product__label"></div>
      <div class="option-select">
        <div class="dropdown">
          <div class="dropdown__marker"></div>
          <mat-select placeholder="Производство" class="dropdown__select">
            <mat-option> Не выбрано</mat-option>
          </mat-select>
        </div>
      </div>
    </div>

  </div>
</div>
