.info-bar {
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 16px;

  background-color: var(--bg-body-color);
}

.about-section {
  position: relative;
  height: 225px;
  padding: 24px 16px 24px;
  background-repeat: no-repeat;
  background-position: right bottom;
  box-shadow: inset 0 -14px 20px -18px rgba(0, 0, 0, .8);

  &__subtitle {
    padding-bottom: 4px;
  }

  &__title {
    color: var(--text-contrast-color);
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    padding-bottom: 10px;
  }

  &__detail {
    color: var(--gray-G7-color);
    padding-bottom: 4px;

    &__highlight {
      padding-left: 8px;
      color: var(--text-contrast-color);
    }
  }

  &__bottom-block {
    position: absolute;
    bottom: 24px;
  }

  &__highlight {
    display: flex;
    align-items: center;

    &__text {
      padding-left: 10px;
    }
  }

  &__button {
    display: flex;
    align-items: center;

    height: 20px;

    padding: 0 8px;
    margin-top: 10px;

    border-radius: 2px;

    color: var(--gray-G6-color);
    background-color: var(--color-sou-dark-button);

    &__text {
      padding-left: 10px;
    }
  }
}

.selectors-section {
  padding: 16px 15px 0 16px;

  .option-select {
    height: 32px;
    display: flex;
    align-items: center;
    padding-bottom: 8px;

    .dropdown {
      height: 30px;
      width: 269px;
      color: var(--gray-G4-color);

      display: flex;
      align-items: center;

      background: var(--gray-G12-color);

      border: 1px solid var(--gray-G8-color);
      border-radius: 2px;

      &__select {
        margin-right: 8px;
        margin-left: 8px;
      }

      mat-option {
        width: 200px !important;
      }
    }
  }

  &__icon {
    margin-left: 6px;
  }

  &__label {
    font-size: 11px;
    color: var(--gray-G6-color);
    padding-bottom: 8px;
    padding-top: 4px;
  }

  &__product {
    margin-top: 4px;
  }

  .selectorDisabled {
    -webkit-mask-image: url("../../../../../../assets/icons/widgets/SOU/sou-workspace/disabled-mask.svg");
    mask-image: url("../../../../../../assets/icons/widgets/SOU/sou-workspace/disabled-mask.svg");
  }
}

