<ng-container>
  <div class="container pointer-event">
    <evj-widget-header
      [title]="widgetTitle"
      [units]="widgetUnits"
      [code]="widgetCode"
      [id]="id"
      [uniqId]="uniqId"
      [icon]="widgetIcon"
    ></evj-widget-header>
    <evj-frame-top></evj-frame-top>
    <div
      class="time-diagram"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="time-diagram__container scroll-bar">
        <div class="time-diagram__scroll" *ngIf="data.values">
          <ng-container *ngFor="let item of data.values">
            <evj-time-diagram
              class="time-diagram__line"
              [data]="item"
              [isMock]="isMock"
            ></evj-time-diagram>
          </ng-container>
        </div>
      </div>
    </div>
    <evj-frame-bottom></evj-frame-bottom>
  </div>
</ng-container>

