<div class="container pointer-event">
  <evj-widget-header
    [title]="'Производственная безопасность'"
    [units]=""
    [code]=""
    [id]="id"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="false"></ng-container>

  <ng-container *ngIf="true">
      <div class="production">
          <div class="pyramid">
              <div class="pyramid__title">Пирамида проишествий в соответствии с КТ-055</div>
              <div class="pyramid__body">
                  <div class="pyramid__graphs">
                      <div class="row pyramid__row1"></div>
                      <div class="row pyramid__row2"></div>
                      <div class="row pyramid__row3"></div>
                      <div class="row pyramid__row4"></div>
                  </div>
                  <div class="pyramid__labels">
                      <div class="row pyramid__label">Крупные</div>
                      <div class="row pyramid__label">Значительные</div>
                      <div class="row pyramid__label">Случайные</div>
                      <div class="row pyramid__label">Незначительные</div>
                  </div>
              </div>
          </div>
          <div class="daysCounter"></div>
      </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
