<div class="container pointer-event">
  <evj-widget-header
    [title]="aboutWidget"
    [units]=""
    [code]=""
    [id]="id"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock">
      <div class="mock-container">
        <img src="../../../../assets/img/pyramid.png" alt="" />
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isMock">
    <div
      class="production"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="pyramid">
        <div class="pyramid__title">
          <div class="title">
            <div class="label__circle"></div>
            <div class="label__line"></div>
            Пирамида проишествий в соответствии с КТ-055
          </div>
        </div>
        <div class="pyramid__body">
          <div class="pyramid__graphs">
            <div class="row pyramid__graph">
              <div class="graph graph__top graph__left">0 / 0</div>
              <div class="graph graph__top graph__right">0 / 0</div>
            </div>
            <div class="row pyramid__graph">
              <div class="graph graph__pretop graph__left">25 / 24</div>
              <div class="graph graph__pretop graph__right">5 / 4</div>
            </div>
            <div class="row pyramid__graph">
              <div class="graph graph__prebottom graph__left">
                <div class="label__line pyramid__line-horizontal"></div>
                <div class="label__line pyramid__line-vertical"></div>
                <div class="pyramid__point">
                  <div class="pyramid__dot"></div>
                </div>
                596 / 531
              </div>
              <div class="graph graph__prebottom graph__right">196 / 131</div>
            </div>
            <div class="row pyramid__graph">
              <div class="graph graph__bottom graph__left">1256 / 1256</div>
              <div class="graph graph__bottom graph__right">256 / 256</div>
            </div>
          </div>
          <div class="pyramid__labels">
            <div class="row pyramid__label">
              <div class="label__circle"></div>
              <div class="label__line label__line-top"></div>
              Крупные
            </div>
            <div class="row pyramid__label">
              <div class="label__circle"></div>
              <div class="label__line label__line-pretop"></div>
              Значительные
            </div>
            <div class="row pyramid__label">
              <div class="label__circle"></div>
              <div class="label__line label__line-prebottom"></div>
              Случайные
            </div>
            <div class="row pyramid__label">
              <div class="label__circle"></div>
              <div class="label__line  label__line-bottom"></div>
              Незначительные
            </div>
          </div>
        </div>
        <div class="pyramid__footer">
          <div class="footer__row">
            <div class="footer__left">Январь 2019 - Август 2019</div>
            <div class="footer__right">Август 2019</div>
          </div>
          <div class="footer__empty"></div>
        </div>
      </div>
      <div class="daysCounter">
        <div class="circle circle__left circle__left-top"></div>
        <div class="circle circle__right circle__right-top"></div>
        <div class="daysCounter__title">
          <div class="text">
            Количество дней
          </div>
        </div>
        <div class="daysCounter__counters">
          <div class="counter" *ngFor="let count of array">
            <img src="../../../../assets/pic/ncir1.svg" alt="" />
            <div class="counter__title">{{count.cardTitle}}</div>
            <div class="counter__days">{{count.daysCounter}}</div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
