:host {
  width: inherit;
  height: inherit;
}

.container {
  height: 100%;
  width: 100%;

  .scroll-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .sb {
      &__track {
        position: relative;
        width: 100%;
        height: 100%;
        //background-color: var(--color-bg-main-dark);
        border-radius: 5px;
      }

      &__thumb {
        position: absolute;

        width: 25%;
        height: 100%;

        top: 0;
        bottom: 0px;
        margin: auto;

        box-sizing: border-box;

        //border: 1px solid var(--color-active);
        border-radius: 5px;

        background: var(--color-bg-active);

        .thumb-body {
          position: absolute;
          z-index: 2;

          height: 100%;
          width: calc(100% - 10px);

          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto;
          background: transparent;
        }
      }

      &__dot {
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: var(--color-active);

        &_left {
          left: -10px;
        }

        &_right {
          right: -10px;
        }
      }

      &__button {
        position: relative;
        left: 11px;
        top: 2px;
        height: 100%;
        width: 15px;
        background-color: var(--color-bg-sub);
        border-radius: 5px;

        &_left {
          margin-right: 5px;
          background: url("./../../../../assets/icons/components/smart-scroll/left-right-icon.svg");
          background-repeat: no-repeat;

          //&:before {
          //  content: "";
          //  position: absolute;
          //
          //  width: 40%;
          //  height: 2px;
          //
          //  top: -4px;
          //  bottom: 0;
          //  left: 0;
          //  right: 0;
          //  margin: auto;
          //
          //  transform: rotate(-45deg);
          //
          //  background-color: var(--color-active);
          //}
          //
          //&:after {
          //  content: "";
          //  position: absolute;
          //
          //  width: 40%;
          //  height: 2px;
          //
          //  top: 4px;
          //  bottom: 0;
          //  left: 0;
          //  right: 0;
          //  margin: auto;
          //
          //  transform: rotate(45deg);
          //
          //  background-color: var(--color-active);
          //}
        }

        &_right {
          margin-left: 5px;
          left: -5px;
          background: url("./../../../../assets/icons/components/smart-scroll/left-right-icon.svg");
          background-repeat: no-repeat;
          //&:before {
          //  content: "";
          //  position: absolute;
          //
          //  width: 40%;
          //  height: 2px;
          //
          //  top: -4px;
          //  bottom: 0;
          //  left: 0;
          //  right: 0;
          //  margin: auto;
          //
          //  transform: rotate(45deg);
          //
          //  background-color: var(--color-active);
          //}
          //
          //&:after {
          //  content: "";
          //  position: absolute;
          //
          //  width: 40%;
          //  height: 2px;
          //
          //  top: 4px;
          //  bottom: 0;
          //  left: 0;
          //  right: 0;
          //  margin: auto;
          //
          //  transform: rotate(-45deg);
          //
          //  background-color: var(--color-active);
          //}
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .resizer {
      position: absolute;
      z-index: 3;

      height: 32px;
      width: 9px;

      top: 0px;
      bottom: 0px;
      margin: auto;

      //background-image: url(../../../../assets/icons/components/smart-scroll/scroll-resizer.svg);
      background-image: url(../../../../assets/icons/components/smart-scroll/right-resizer.svg);

      background-repeat: no-repeat;
      background-size: contain;

      &:hover {
        cursor: e-resize;
      }

      &_left {
        left: -5px;
        transform: rotate(180deg);
      }

      &_right {
        right: -5px;
      }
    }
  }
}
