<div class="main-groups">
  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>ТП</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FOIL'"
      [percentage]="95"
      [warningStatus]="false"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'Нефть обессоленная',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>ФСБ</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FFSB4'"
      [percentage]="95"
      [warningStatus]="false"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'НК-80',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>АВТ</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F80'"
      [percentage]="95"
      [warningStatus]="false"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        productName: 'Бензин нестабильный',
        valueByHour: 12000,
        valueTank: 13000,
        valueMoment: 1000,
        valueByHourPercent: 12.85,
        valueTankPercent: 13.5,
        valueMomentPercent: 1,
        isEnable: true
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
</div>
