<div class="container-employees">
  <div class="container-employees__title">Список сотрудников</div>
  <div class="container-employees__content">
    <div class="employees">
      <div class="search-input">
        <div class="search-input__height-input">
          <evj-circle-input
            placeholder="Введите ФИО сотрудника"
            (searchChange)="search($event)"
          ></evj-circle-input>
        </div>
      </div>
      <div
        class="list-employee"
        id="0"
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="data"
      >
        <ng-container *ngFor="let item of data">
          <ng-container *ngIf="!item?.isNotVisible">
            <evj-admin-shift-info-employee
              [colorBrigade]="brigadeColor(item)"
              [data]="item"
              cdkDrag
              (cdkDragStarted)="dragStart(item.id)"
              brigade="true"
            ></evj-admin-shift-info-employee>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
