<ng-container>
  <evj-widget-header
    [title]="widgetTitle"
    [id]="widgetId"
    [icon]="widgetIcon"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>
  <evj-frame-top></evj-frame-top>
  <div
    class="body-container"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="unity-body-container">
      <div class="loading-shade" *ngIf="!isStart && !isMock">
        <div class="loader">
          <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20"></circle>
          </svg>
        </div>
      </div>
      <div id="unityContainer_unity-dispatcher-screen" *ngIf="!isMock"></div>
      <div class="mock-container" *ngIf="isMock"></div>
    </div>
  </div>
  <evj-frame-bottom></evj-frame-bottom>
</ng-container>
