<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [icon]="widgetIcon"
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container>
    <div class="op-ef" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
      <evj-detailed-line-diagram class="dld" [data]="data"></evj-detailed-line-diagram>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
