@import "../../../../../../mixins";

:host {
  height: inherit;
  width: inherit;
}

.chat {
  height: inherit;
  width: inherit;
  min-height: 160px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: var(--color-bg-card);

  &__header {
    position: relative;

    width: 100%;
    height: 30px;

    box-sizing: border-box;
    padding-left: 15px;

    font-size: 10px;

    background: var(--color-bg-card);

    color: var(--color-text-sub);

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;

      width: 10px;
      height: 10px;

      top: -5px;
      left: -5px;
      right: auto;

      background: var(--color-bg-main);

      transform: rotate(45deg);
    }

    &::after {
      top: -5px;
      left: auto;
      right: -5px;
    }
  }

  &__messages {
    width: 100%;
    height: calc(100% - 100px);
    min-height: 60px;
    flex: 2 1 160px;
  }

  &__input {
    position: relative;

    width: 100%;
    height: 70px;

    font-size: 10px;

    background: var(--color-bg-card-sec);

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;

      width: 10px;
      height: 10px;

      bottom: -5px;
      left: -5px;
      right: auto;

      background: var(--color-bg-main);

      transform: rotate(45deg);
    }

    &::after {
      bottom: -5px;
      left: auto;
      right: -5px;
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
    overflow-y: scroll;

    &__list {
      width: 100%;
      height: max-content;
      min-height: inherit;

      background: var(--color-bg-card);
    }
  }

  .message {
    position: relative;

    width: 100%;
    height: max-content;
    min-height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__graph {
      justify-content: center;
    }

    &__text {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 0px 15px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      font-size: 10px;
      color: var(--color-text-main);
    }

    &__info {
      width: 100%;

      bottom: 0px;
      right: 0px;
    }

    &_odd {
      background: var(--color-bg-card-sec);
    }

    &_files {
      width: 100%;

      &__list {
        width: calc(100% - 30px);
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        .list-item {
          width: 80px;
          height: 28px;
          border-radius: 5px;
          margin: 0 8px 8px 0;
          background: var(--color-aw-container-body-transparent);
          position: relative;
          padding: 7px 7px 13px 7px;
          cursor: pointer;

          &__icon {
            margin: 0 10px 0 0;
            float: left;
          }

          &__name,
          &__size {
            font-size: 9px;
            float: left;
            color: var(--color-text-main);
            line-height: normal;
          }

          &__name {
            width: 100%;
            margin-top: -2px;
            @include text-overflow;
            -webkit-line-clamp: 1;
          }

          &__size {
            width: 40px;
            margin-top: 3px;
          }
        }
      }
    }
  }

  .info {
    height: 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__author,
    &__date {
      font-size: 9px;
      line-height: 100%;
      color: var(--color-text-sub);
    }
  }

  .graph {
    width: 70px;
    cursor: pointer;
  }

  .empty-line {
    position: absolute;
    width: 100%;
    height: 10px;

    top: 0;
    left: 0;

    background: var(--color-bg-main);
  }

  .input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 10px 15px 0px;
  }

  .input {
    height: 100%;
    flex: 0.9;

    display: block;

    border: none;
    outline: none;

    background: transparent;

    font-size: 12px;
    color: var(--color-text-sub);

    &::placeholder{
      color: var(--color-text-sub-heading);
    }
  }

  .button {
    display: block;
    outline: none;

    width: 35px;
    height: 35px;

    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid var(--color-text-sub);

    background: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: 0.2s;

    &--active {
      border-color: var(--color-active);
      background-color: var(--color-bg-active);
    }

    &__icon {
      width: 15px;
      height: 15px;
    }

    &__files-flag {
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 2px;
      right: 2px;
      background-color: var(--color-active);
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
      border-color: var(--color-active);
    }
  }

  .scroll-bar {
    &::-webkit-scrollbar-track-piece {
      background: var(--color-bg-card);
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}
