@import "../../../../../../mixins";

:host {
  height: inherit;
  width: inherit;
}

.chat {
  height: inherit;
  width: inherit;
  min-height: 160px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  line-height: 18px;

  border: 1px solid var(--evj-events-workspace-color-border);
  background: var(--evj-events-workspace-bg-dark);

  &__messages {
    width: 100%;
    height: 100%;
    min-height: 60px;
    flex: 2 1 160px;
    background-color: var(--evj-events-workspace-bg-dark);
  }

  &__input {
    position: relative;

    width: 100%;
    height: 59px;

    font-size: 10px;

    background-color: transparent;
  }

  .messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;

    &__list {
      width: 100%;
      height: 100%;
      min-height: inherit;

      background: transparent;
    }
  }
  .title {
    position: relative;

    width: inherit;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    box-sizing: border-box;

    font-size: 13px;
    line-height: 16px;

    background: var(--evj-events-workspace-bg-dark);

    color: var(--color-text-sub);
  }

  .message {
    position: relative;

    width: 100%;
    height: max-content;
    min-height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__graph {
      justify-content: center;
    }

    &__text {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 0px 15px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      font-size: 10px;
      color: var(--color-text-main);
    }

    &__info {
      width: 100%;

      bottom: 0px;
      right: 0px;
    }

    &_files {
      width: 100%;

      &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;

        .list-item {
          width: 80px;
          height: 28px;
          border-radius: 5px;
          margin: 0 8px 8px 0;
          background: var(--evj-events-workspace-bg-dark);
          position: relative;
          padding: 7px 7px 13px 7px;
          cursor: pointer;

          &__icon {
            margin: 0 10px 0 0;
            float: left;
          }

          &__name,
          &__size {
            font-size: 9px;
            float: left;
            color: var(--color-text-main);
            line-height: normal;
          }

          &__name {
            width: 100%;
            margin-top: -2px;
            @include text-overflow;
            -webkit-line-clamp: 1;
          }

          &__size {
            width: 40px;
            margin-top: 3px;
          }
        }
      }
    }
  }

  .info {
    height: 22px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    &__author,
    &__date {
      font-size: 9px;
      line-height: 100%;
      color: var(--color-text-sub);
    }
  }

  .graph {
    width: 70px;
    cursor: pointer;
  }

  .input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--evj-events-workspace-bg-dark);
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;
  }
  .line {
    position: absolute;
    top: 0px;
    left: 4%;
    height: 1px;
    width: 92%;
    background-color: var(--evj-events-workspace-color-border);
  }

  .input {
    height: 100%;
    flex: 0.9;

    display: block;

    border: none;
    outline: none;

    background: transparent;

    font-size: 12px;
    color: var(--color-text-sub);

    &::placeholder{
      color: var(--color-text-sub-heading);
    }
  }

  .button {
    display: block;
    outline: none;

    width: 35px;
    height: 35px;

    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid var(--evj-events-workspace-color-border);

    background: var(--evj-events-workspace-bg-dark);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: 0.2s;

    &--active {
      border-color: var(--color-active);
      background-color: var(--color-bg-active);
    }

    &__icon {
      width: 15px;
      height: 15px;
    }

    &__files-flag {
      width: 6px;
      height: 6px;
      position: absolute;
      bottom: 2px;
      right: 2px;
      background-color: var(--color-active);
      border-radius: 50%;
    }

    &:hover {
      cursor: pointer;
      border-color: var(--color-active);
    }
  }

  .scroll-bar {
    &::-webkit-scrollbar-track-piece {
      background: var(--evj-events-workspace-bg-dark);
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--evj-events-workspace-bg-dark);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}
