<evj-widget-preview [title]="title" [previewTitle]="previewTitle" *ngIf="isMock"></evj-widget-preview>

<div class="container" *ngIf="!isMock">
  <evj-widget-header [title]="title" [id]="id" [units]="units" [uniqId]="uniqId"></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div class="content" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <!-- <div class="references">
      <div class="reference-input-block">
        <div class="reference-input">
          <input
            (click)="onRefInputClick();"
            [class.activeInputRef]="inputClickRef"
            type="text"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Введите название справочника'"
            placeholder="Введите название справочника"
          />
        </div>
        <div class="reference-input-button">
          <svg-icon
            class="button_add_icon"
            src="./assets/pic/AdminReferences/button_add2.svg"
          ></svg-icon>
        </div>
      </div>
      <div class="reference-text-block">
        <ng-container *ngFor="let item of data">
          <div
            class="reference-text-container"
            [class.isActiveReference]="massCheck.indexOf(item) > -1"
          >
            <div class="reference-text-button">
              <div class="button_delete">
                <svg-icon
                  class="delete-reference-icon"
                  src="./assets/pic/AdminReferences/delete.svg"
                ></svg-icon>
              </div>
              <div class="button_update">
                <svg-icon
                  class="delete-reference-icon"
                  src="./assets/pic/AdminReferences/edit.svg"
                ></svg-icon>
              </div>
            </div>
            <div class="reference-text" (click)="onClickReference(item)">
              {{item.name}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="references">
      <div class="reference-name-input-block">
        <div class="name-input">
          <input
            (click)="onNameInputClick();"
            [class.activeInputName]="inputClickName"
            type="text"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'Введите ФИО'"
            placeholder="Введите ФИО"
          />
        </div>
        <div class="reference-input-button ">
          <svg-icon
            class="button_add_icon"
            src="./assets/pic/AdminReferences/button_add2.svg"
          ></svg-icon>
        </div>
      </div>
      <div class="reference-name-text-block">
        <ng-container *ngIf="isReference">
          <ng-container *ngFor="let item of data[referencesOn].referenceFIO">
            <div class="name-text-container">
              <ng-container *ngIf="!isChangeName">
                <div class="name-text" (click)="onChangeName()">
                  {{item.name}}
                </div>
                <div class="name-text-button">
                  <svg-icon
                    class="delete-name-icon"
                    src="./assets/pic/AdminReferences/delete.svg"
                  ></svg-icon>
                </div>
              </ng-container>
              <ng-container *ngIf="isChangeName">
                <input
                  class="input_name"
                  type="text"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Введите ФИО'"
                  placeholder="Введите ФИО"
                />
                <div class="name_button_add_block">
                  <svg-icon
                    class="button_add_icon"
                    src="./assets/pic/AdminReferences/edit.svg"
                    (click)="onChangeName()"
                  ></svg-icon>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div> -->
    <div class="references">
      <div class="reference-left">
        <div class="title-reference">Наименование справочника</div>
        <div class="reference-container">
              <ng-container *ngFor="let item of data">
                <div class="reference-container__block">
                  <div class="reference-container__block-info">
                    <div class="reference-container__name">{{item.name}}</div>
                    <div class="reference-container__button-edit"></div>
                  </div>
                  <div class="reference-container__button-remove"></div>
                </div>
              </ng-container>

        </div>
        <div class="bottom-reference-left">
          <div class="bottom-reference-left__block">
            <div class="bottom-reference-left__button-add"></div>
            <div class="bottom-reference-left__input-block">
              <div class="bottom-reference-left__button-search"></div>
              <div class="bottom-reference-left__input">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reference-right">
        <div class="title-reference">
          <div class="title-reference__title-name">Наименование колонны</div>
          <div class="title-reference__title-type">Тип</div>
          <div class="title-reference__title-value">Обязательное значение</div>
          <div class="title-reference__title-uniqValue">Уникальное значение</div>
        </div>
        <div class="reference-container-value">
          <ng-container *ngFor="let item of data">
            <div class="reference-container-value__block">
              <div class="reference-container-value__fio-block">
                <div class="reference-container-value__fio">{{item.name}}</div>
                <div class="reference-container-value__button-edit"></div>
              </div>
              <div class="reference-container-value__type">
                <mat-form-field class="categories_selectbox">
                  <mat-select panelClass="mat-select-custom">
                    <mat-option *ngFor="let p of data" [value]="p">{{ p.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="reference-container-value__value">
                <label class="mycheckbox">
                  <input type="checkbox" id="checkBoxValue" class="mycheckbox__default" (click)="changeSwap()" />
                  <div class="mycheckbox__new" [class.mycheckbox__checked]="!valueCheck"></div>
                </label>
              </div>
              <div class="reference-container-value__uniqValue"> <label class="mycheckbox">
                  <input type="checkbox" id="checkBoxUniqValue" class="mycheckbox__default"
                    (click)="changeUniqSwap()" />
                  <div class="mycheckbox__new" [class.mycheckbox__checked]="!valueUniqCheck"></div>
                </label></div>
            </div>
          </ng-container>
        </div>
        <div class="bottom-reference-right">
          <div class="bottom-reference-right__block">
            <div class="bottom-reference-right__button-add"></div>
            <div class="bottom-reference-right__input-block">
              <div class="bottom-reference-right__button-search"></div>
              <div class="bottom-reference-right__input">
                <input type="text" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>