<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [id]="id"
    [units]="units"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <div
    class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
        <div class="references">
            <div class="reference-input-block">
                <div class="reference-input">
                    <input type="text" placeholder="Введите название справочника" />
                </div>
                <div class="reference-input-button">
                    <!--СДЕЛАТЬ SVG-ICON-->
                </div>
            </div>
            <div class="reference-text-block">
                <ng-container *ngFor="let item of data">
                    <div class="reference-text-container" [class.isActiveReference]="massCheck.indexOf(item) > -1">
                        <div class="reference-text-button"> 
                            <div class="button_delete">
                                <svg-icon class="delete-reference-icon" src="./assets/pic/AdminReferences/delete.svg"></svg-icon>
                            </div>
                            <div class="button_update">
                                <svg-icon class="delete-reference-icon" src="./assets/pic/AdminReferences/edit.svg"></svg-icon>
                            </div>
                        </div>
                        <div class="reference-text" (click)="onClickReference(item)">
                            {{item.name}}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="references">
            <div class="reference-name-input-block">
                <div class="name-input">
                    <input type="text" placeholder="Введите ФИО" />
                </div>
                <div class="name-input-button">
                </div>
            </div>
            <div class="reference-name-text-block">
                <ng-container *ngIf="isReference">
                    <ng-container *ngFor="let item of data[referencesOn].referenceFIO">
                        <div class="name-text-container">
                            <div class="name-text">    
                                {{item.name}}
                            </div>
                            <div class="name-text-button">
                                <svg-icon class="delete-name-icon" src="./assets/pic/AdminReferences/delete.svg"></svg-icon>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>