<div class="top_block_middle">
  <div class="title_block">{{data.nameReference1}}</div>
</div>
<div class="bottom_block_middle">
  <ng-container *ngFor="let item of data.reference1">
    <div class="click_button">
      <div class="button_name_short">{{item.name}}</div>
      <div class="button_icon_short">
        <svg-icon
          src="./assets/icons/widgets/petroleum-products-movement/{{item.status}}.svg"
          [svgStyle]="{ 'width.px':25, 'height.px':25 }"
        >
        </svg-icon>
      </div>
    </div>
  </ng-container>
</div>
