$color-bg-border: rgba(92, 101, 133, 0.25);
$color-text-label: #D7E2F2;
$color-text-value: #8A98B3;
$color-diagram-bg: #0B1325;
$color-diagram-active: #0089FF;
$color-diagram-sub: rgba(92, 101, 133, .2);
$color-header-bg: rgba(92, 101, 133, 0.1);

.line-charts {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 570px;
  height: 100%;
  min-height: 320px;

  .header {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 2px;
    background: $color-header-bg;
  }

  .timeline {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 50px;
    width: 100%;
    padding: 0 86px 0 47px;
    box-sizing: border-box;
    border: 1px $color-header-bg;
    border-style: none solid none solid;

    &__date {
      height: 20px;
      width: 100%;
      font-size: 10px;
      margin-left: 310px;
      display: flex;
      color: $color-diagram-active;
    }

    &__time {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-grow: 1;

      .item {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &_line {
          margin: auto;
          max-height: 13px;
          height: 13px;
          width: 1px;
          background: var(--color-cd-bg-border);
        }

        &_hour {
          width: 15px;
          margin: auto;
          font-size: 10px;
          text-align: center;
          color: var(--color-cd-text-sub);
        }

        &_active {
          .item_line {
            background-color: var(--color-cd-text-sub-2);
          }
          .item_hour {
            color: $color-diagram-active;
          }
        }
      }
    }
  }

  .body {
    position: relative;
    width: 100%;
    flex-grow: 1;
    border: 1px $color-header-bg;
    border-style: none solid none solid;
    padding-right: 5px;
    box-sizing: border-box;
    overflow: hidden;

    .scroll-container {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: $color-header-bg;
        border-radius: 10px;
        width: 1px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background: $color-header-bg;
  }
}

.line-chart {
  display: flex;
  flex-flow: column;
  $scroll-margin: 5px;
  width: calc(100% - #{$scroll-margin});
  height: 180px;
  min-height: 180px;

  &_header {
    position: relative;
    display: flex;
    gap: 5px;
    width: calc(100% - 39px);
    margin-left: 39px;
    height: 40px;
    border: 1px var(--color-cd-bg-border);
    border-left: 4px var(--color-cd-bg-border-sub);
    border-style: solid none solid solid;
    box-sizing: border-box;
    padding: 0 10px 0 25px;

    &__title {
      z-index: 1;
      margin: auto;
      color: $color-text-value;
      font-size: 13px;
    }

    &__icon {
      display: flex;
      height: 14px;
      width: 14px;
      margin: auto;
      border: solid 1px var(--color-cd-bg-border);
      border-radius: 50%;
      cursor: pointer;

      .top-arrow {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        box-sizing: border-box;
        transform: translateY(calc(50% - 1px)) rotateZ(45deg);
        border: 1px var(--color-cd-bg-border);
        border-style: solid none none solid;
      }

      .bottom-arrow {
        position: absolute;
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
        box-sizing: border-box;
        transform: translateY(calc(50% - 3px)) rotateZ(225deg);
        border: 1px var(--color-cd-bg-border);
        border-style: solid none none solid;
      }

      .close {
        position: relative;
        width: 6px;
        height: 6px;
        margin: auto;

        &:before {
          $width: 1px;
          content: "";
          display: block;
          position: absolute;
          background: var(--color-cd-bg-border);
          left: 50%;
          top: 50%;
          width: #{$width};
          height: 100%;
          transform: translateX(-50%) translateY(calc(-50%)) rotateZ(45deg);
          transform-origin: calc(#{$width} / 2);
        }

        &:after {
          $width: 1px;
          content: "";
          display: block;
          position: absolute;
          background: var(--color-cd-bg-border);
          left: 50%;
          top: 50%;
          width: #{$width};
          height: 100%;
          transform: translateX(-50%) translateY(calc(-50%)) rotateZ(135deg);
          transform-origin: calc(#{$width} / 2);
        }
      }
    }

    .gradient {
      position: absolute;
      left: 0;
      width: 60px;
      top: 0;
      bottom: 0;
      background: linear-gradient(to right, var(--color-cd-bg-border), transparent);
      opacity: 0.7;
    }
  }

  &_body {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;


    .legend {
      display: flex;
      flex-flow: column;
      $width: 65px;
      width: $width;
      max-width: $width;
      min-width: $width;
      height: 100%;
      border-left: solid 1px var(--color-cd-bg-border);
      box-sizing: border-box;
      box-shadow: -5px 0 13px -3px rgba(0, 0, 0, 0.2);

      &_item {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        width: 100%;
        padding: 7px;
        border-bottom: solid 1px var(--color-cd-bg-border);
        box-sizing: border-box;

        &:last-child {
          border: none;
        }

        &__title {
          font-size: 10px;
          flex-grow: 1;

          .fact {
            color: $color-text-label;
          }

          .plan {
            color: $color-diagram-active;
          }

          .deviation {
            color: orange;
          }

          .disable {
            color: var(--color-text-sub-heading);
          }
        }

        &__value {
          flex-grow: 1;
          font-size: 16px;

          .fact,
          .plan,
          .deviation {
            color: $color-text-label;
          }

          .disable {
            color: var(--color-text-sub-heading);
          }
        }

        &__icon {

        }
      }
    }

    .chart-container {
      position: relative;
      flex-grow: 1;
      height: 100%;

      svg {
        //position: absolute;
        width: 100%;
        height: 100%;
      }

      //background: white;
      //opacity: 0.02;
    }
  }

  &__warning {
    .line-chart_header {
      border-left-color: orange;

      &__title {
        color: $color-text-label;
      }

      .gradient {
        background: linear-gradient(to right, orange, transparent);
      }
    }
  }
}
