:host {
  width: 100%;
  height: max-content;

  * {
    box-sizing: border-box;
  }
}


$color-bg-border: rgba(92, 101, 133, 0.25);
$color-text-label: #D7E2F2;
$color-text-value: #8A98B3;
$color-diagram-bg: #0B1325;
$color-diagram-active: #0089FF;
$color-diagram-sub: rgba(92, 101, 133, .2);
$color-header-bg: rgba(92, 101, 133, 0.1);
$color-button: #5C6585;

.line-charts {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 570px;
  height: 100%;
  min-height: 320px;
  border: 1px solid var(--color-cd-bg-border);

  .header {
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-radius: 2px;
    background: $color-header-bg;
  }

  .timeline {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 50px;
    width: 100%;
    padding: 0 86px 0 47px;
    box-sizing: border-box;
    border: 1px $color-header-bg;
    border-style: none solid none solid;

    &__date {
      height: 20px;
      width: 100%;
      font-size: 10px;
      margin-left: 310px;
      display: flex;
      color: $color-diagram-active;
    }

    &__time {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-grow: 1;

      .item {
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &_line {
          margin: auto;
          max-height: 13px;
          height: 13px;
          width: 1px;
          background: var(--color-cd-bg-border);
        }

        &_hour {
          width: 15px;
          margin: auto;
          font-size: 10px;
          text-align: center;
          color: var(--color-cd-text-sub);
        }

        &_active {
          .item_line {
            background-color: var(--color-cd-text-sub-2);
          }

          .item_hour {
            color: $color-diagram-active;
          }
        }
      }
    }
  }

  .body {
    position: relative;
    width: 100%;
    flex-grow: 1;
    border: 1px $color-header-bg;
    border-style: none solid none solid;
    padding-right: 5px;
    box-sizing: border-box;
    overflow: hidden;

    .scroll-container {
      display: flex;
      flex-flow: column;
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar-thumb {
        height: 50px;
        background-color: $color-header-bg;
        border-radius: 10px;
        width: 1px;
      }
    }
  }

  .footer {
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background: $color-header-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;

    &__mat-select {
      border: 1px solid var(--color-cd-bg-border);
      border-radius: 3px;
      height: 30px;
      width: 170px;
      margin-right: 10px;

      ::ng-deep {
        .mat-form-field {
          max-width: 155px;
        }

        .mat-form-field-underline {
          height: 0 !important;
        }

        .mat-form-field-appearance-legacy .mat-form-field-ripple {
          height: 0;
        }

        .mat-form-field-appearance-legacy .mat-form-field-infix {
          padding: 0;
          display: flex;
          padding-top: 5px;
        }

        .mat-form-field-wrapper {
          padding-bottom: 0;
          margin: 0;
        }

        .mat-select-value {
          color: var(--color-text-main);
        }

        .mat-form-field-infix {
          border-top: none;
        }



        .mat-select-value-text {
          margin-left: 10px;
          font-size: 13px;
          color: var(--color-cd-text-sub);
        }

        .mat-select-arrow-wrapper {
          padding-top: 4px;
        }
      }
    }


    &__btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 145px;
      font-size: 13px;
      border-radius: 3px;
      background-color: var(--color-cd-bg-border);
      color: var(--color-cd-text-sub);

      &:hover {
        background-color: var(--color-cd-bg-border-sub);
      }

    }
  }
}

.line-chart {
  display: flex;
  flex-flow: column;
  $scroll-margin: 5px;
  width: calc(100% - #{$scroll-margin});
  height: 180px;
  min-height: 180px;

  &_header {
    position: relative;
    display: flex;
    gap: 5px;
    width: calc(100% - 39px);
    margin-left: 39px;
    height: 40px;
    border: 1px var(--color-cd-bg-border);
    border-left: 4px var(--color-cd-bg-border-sub);
    border-style: solid none solid solid;
    box-sizing: border-box;
    padding: 0 10px 0 25px;

    &__title {
      z-index: 1;
      margin: auto;
      color: $color-text-value;
      font-size: 13px;
    }

    &__icon {
      display: flex;
      height: 14px;
      width: 14px;
      margin: auto;
      border: solid 1px $color-button;
      border-radius: 50%;
      cursor: pointer;

      .top-arrow {
        position: absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        box-sizing: border-box;
        transform: translateY(calc(50% - 1px)) rotateZ(45deg);
        border: 1px $color-button;
        border-style: solid none none solid;
      }

      .bottom-arrow {
        position: absolute;
        left: 4px;
        right: 4px;
        top: 4px;
        bottom: 4px;
        box-sizing: border-box;
        transform: translateY(calc(50% - 3px)) rotateZ(225deg);
        border: 1px $color-button;
        border-style: solid none none solid;
      }

      .close {
        position: relative;
        width: 6px;
        height: 6px;
        margin: auto;

        &:before {
          $width: 1px;
          content: "";
          display: block;
          position: absolute;
          background: $color-button;
          left: 50%;
          top: 50%;
          width: #{$width};
          height: 100%;
          transform: translateX(-50%) translateY(calc(-50%)) rotateZ(45deg);
          transform-origin: calc(#{$width} / 2);
        }

        &:after {
          $width: 1px;
          content: "";
          display: block;
          position: absolute;
          background: $color-button;
          left: 50%;
          top: 50%;
          width: #{$width};
          height: 100%;
          transform: translateX(-50%) translateY(calc(-50%)) rotateZ(135deg);
          transform-origin: calc(#{$width} / 2);
        }
      }
    }

    .gradient {
      position: absolute;
      left: 0;
      width: 60px;
      top: 0;
      bottom: 0;
      background: linear-gradient(to right, var(--color-cd-bg-border), transparent);
      opacity: 0.6;
    }
  }

  &_body {
    display: flex;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;


    .legend {
      display: flex;
      flex-flow: column;
      $width: 65px;
      width: $width;
      max-width: $width;
      min-width: $width;
      height: 100%;
      border-left: solid 1px var(--color-cd-bg-border);
      box-sizing: border-box;
      box-shadow: -5px 0 13px -3px rgba(0, 0, 0, 0.2);

      &_item {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        width: 100%;
        padding: 7px;
        border-bottom: solid 1px var(--color-cd-bg-border);
        box-sizing: border-box;

        &:last-child {
          border: none;
        }

        &__title {
          font-size: 10px;
          flex-grow: 1;

          .fact {
            color: $color-text-label;
          }

          .plan {
            color: $color-diagram-active;
          }

          .deviation {
            color: var(--color-cd-warning);
          }

          .disable {
            color: var(--color-text-sub-heading);
          }
        }

        &__value {
          flex-grow: 1;
          font-size: 16px;

          .fact,
          .plan,
          .deviation {
            color: $color-text-label;
          }

          .disable {
            color: var(--color-text-sub-heading);
          }
        }

        &__icon {

        }
      }
    }

    .chart-container {
      position: relative;
      flex-grow: 1;
      height: 100%;

      svg {
        //position: absolute;
        width: 100%;
        height: 100%;
      }

      //background: white;
      //opacity: 0.02;
    }
  }

  &__warning {
    .line-chart_header {
      border-left-color: var(--color-cd-warning);

      &__title {
        color: $color-text-label;
      }

      .gradient {
        background: linear-gradient(to right, var(--color-cd-warning), transparent);
      }
    }
  }
}


.header {
  position: relative;
  width: 100%;
  height: 40px;
  min-height: 40px;
  max-height: 40px;

  &__background-kpe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: var(--color-aps-bg-header);
    border-radius: 5px;
  }

  &__background {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background: var(--color-aps-bg-header);

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      top: -7px;
      left: -7px;
      background: var(--color-bg-main);
    }

    &::after {
      left: auto;
      right: -8px;
    }
  }

  &__interface {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding: 0px 22px;
    display: flex;
    align-items: center;
    box-sizing: border-box;

  }

  &__menu {
    width: 200px;
    height: max-content;
  }
}

icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: #8c99b2;
}

.title {
  margin-left: 10px;
  font-size: 14px;
}

.buttons {
  margin-left: auto;
  width: auto;
  height: 16px;
  display: flex;
  align-items: center;

  .button {
    width: max-content;
    height: 100%;
    padding: 0 10px;

    &:hover {
      cursor: pointer;
    }
  }

  &__mat-select {
    border: 1px solid var(--color-cd-bg-border);
    border-radius: 3px;
    max-height: 30px;
    width: 120px;
    margin-right: 10px;

    &__icon {
      margin-left: 8px;
    }

    ::ng-deep {
      .mat-form-field {
        max-width: 120px;
      }

      .mat-form-field-underline {
        height: 0 !important;
      }

      .mat-form-field-appearance-legacy .mat-form-field-ripple {
        height: 0;
      }

      .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0;
        display: flex;
        padding-top: 5px;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0;
      }

      .mat-select-value {
        color: var(--color-text-main);
      }

      .mat-form-field-infix {
        border-top: none;
      }

      .mat-select {
        width: 85px !important;
      }

      .mat-select-value-text {
        margin-left: 10px;
        font-size: 13px;
        color: var(--color-cd-text-sub);
      }

      .mat-select-arrow-wrapper {
        padding-top: 4px;
      }
    }
  }
}

.menu {
  position: absolute;
  z-index: 1000;
  min-height: 40px;
  top: 100%;
  right: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: var(--color-bg-main);
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.2s;

  &__item {
    position: relative;
    z-index: 1002;
    width: 100%;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 0px 10px;
    margin: 2px 0px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      z-index: 1001;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: var(--color-aps-bg-sub);
      opacity: 0.1;
    }

    &:hover {
      cursor: pointer;

      &::before {
        opacity: 0.4;
      }
    }
  }

  &_open {
    transform: scaleY(1);
  }
}

select {
  height: 40px;
  width: 100%;
  background-color: var(--color-cd-select);
  padding: 10px;
  border: 1px solid var(--color-cd-bg-border);
  border-radius: 3px;
  color: var(--color-text-main);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 10px;
}

select:focus {
  outline: none;
}

i::after {
  position: absolute;
  top: 18px;
  right: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .25em;
  vertical-align: .25em;
  content: "";
  border-top: .25em solid;
  border-right: .25em solid transparent;
  border-bottom: 0;
  border-left: .25em solid transparent;
}

select::-ms-expand {
  display: none; /* hide the default arrow in ie10 and ie11 */
}
