<div class="chips-autocomplete">
  <ul class="chips-autocomplete__list">
    <button *ngIf="graphLines.length"
            class="chips-autocomplete__clear"
            (click)="onClearFilter()">
      {{graphLines.length}}
    </button>
    <li *ngFor="let lines of graphLines; let last = last" class="chips-autocomplete__items">
      {{lines}}
      <ng-container *ngIf="!last">;</ng-container>
    </li>
  </ul>
  <input
    #filterInput
    class="chips-autocomplete__field"
    [placeholder]="!this.graphLines.length ? 'Выберите показатели' : null"
    [formControl]="filterControl"
    [matAutocomplete]="auto">
  <span class="chips-autocomplete__arrow" [class.chips-autocomplete__arrow_toggled]="auto.isOpen"></span>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectOption($event)">
    <mat-option *ngFor="let lines of filterItems" [value]="lines">
      {{lines.label}}
    </mat-option>
  </mat-autocomplete>
</div>

