<ng-container *ngIf="isDiagram">
  <div class="diagram">
    <div class="graph">
      <div class="pusher" [ngStyle]="{ height: getGraphHeight(item.percentageValue) }"></div>
      <div
        class="point"
        [ngStyle]="{
          'height.px': getDiameter(item.percentageValue),
          'width.px': getDiameter(item.percentageValue)
        }"
        [ngClass]="getColor(item.percentageValue, item.isCritical, true)"
      >
        {{ item.percentageValue }}%
      </div>
    </div>
    <div
      class="label"
      [ngClass]="getColor(item.percentageValue, item.isCritical, false)"
      [innerHTML]="item.title | powIndex"
    ></div>
  </div>
</ng-container>

<ng-container *ngIf="!isDiagram">
  <div class="item" [ngClass]="item.percentageValue !== 0 ? 'item__active' : 'item__disable'">
    {{ item.percentageValue }}
  </div>
</ng-container>
