<ng-container *ngIf="isDiagram">
  <div class="diagram">
    <div class="graph">
      <div
        class="pusher"
        [ngStyle]="{ height: getGraphHeight(item.percent) }"
      ></div>
      <div
        class="point"
        [ngStyle]="{
          'height.px': getDiameter(item.percent),
          'width.px': getDiameter(item.percent)
        }"
        [ngClass]="getColor(item.percent, item.isCritical, true)"
      >
        {{ item.percent }}%
      </div>
    </div>
    <div
      class="label"
      [ngClass]="getColor(item.percent, item.isCritical, false)"
    >
      {{ item.label }}
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!isDiagram">
  <div
    class="item"
    [ngClass]="item.percent !== 0 ? 'item__active' : 'item__disable'"
  >
    {{ item.count }}
  </div>
</ng-container>
