<div class="container-operation-adjustment">
    <div style="height: 100%;">
        <div class="title">
            <div class="title__button-close" (click)="exit()">
                <svg-icon src="assets/icons/widgets/reports/close.svg" class="add_button_icon">
                </svg-icon>
            </div>
            <div class="title__name">Укажите параметры</div>
        </div>
        <div class="content">
            <div class="content__back">
                <div class="content__block" (click)="active('idea')" [class.active]="isActive === 'idea'">
                    <div class="icon">
                        <svg-icon src="assets/icons/widgets/oil-control-all/oil-operations/idea.svg"
                            [svgStyle]="{ 'width.px':30, 'height.px':30 }"></svg-icon>
                    </div>
                    <div class="info">
                        <div class="info__title">
                            Выберите причину
                        </div>
                        <div class="info__name">
                            Прокачка на автотерминал
                        </div>
                    </div>
                </div>
                <div class="content__block" (click)="active('filter')" [class.active]="isActive === 'filter'">
                    <div class="icon">
                        <svg-icon src="assets/icons/widgets/oil-control-all/oil-operations/filter-operation.svg"
                            [svgStyle]="{ 'width.px':30, 'height.px':30 }"></svg-icon>
                    </div>
                    <div class="info">
                        <div class="info__title">
                            Выберите резервуар
                        </div>
                        <div class="info__name">
                            Резервуар №432
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottom__block">
                <div class="bottom__save-block" (click)="save()">
                    <div class="bottom__button-save">Добавить</div>
                </div>
            </div>
        </div>
    </div>
</div>
