:host {
  width: 100%;
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

.chart {
  width: 100%;
  height: 100%;
}

::ng-deep {
  .lowerBorder,
  .higherBorder {
    fill: none;
    stroke-dasharray: 2 1;
    stroke: var(--border-icon-color);
    opacity: 1;
    &-area {
      fill: var(--gray-G7-50-color);
      opacity: 0.25;
    }
  }

  .lowerColorize,
  .higherColorize {
    fill: none;
    stroke-dasharray: 2 1;
    stroke: var(--index-error-color);
    opacity: 1;
    &-area {
      fill: var(--index-error-color);
      opacity: 0.1;
    }
  }

  .grid {
    color: var(--border-icon-color);
    stroke-width: 1;
    stroke-opacity: 0.25;
    fill: var(--color-kpe-gaude-back);

    .tick {
      color: var(--border-icon-color);
    }

    path {
      fill: transparent;
    }

    &-first {
      path {
        fill: var(--bg-dashboard-color);
      }
    }
  }

  .y-axis, .x-axis {
    text {
      font-family: Tahoma;
      fill: var(--text-subscript-color);
      font-size: 12px;
    }
  }

  .fact-curve,
  .plan-curve {
    stroke-width: 1;
    fill: none;
  }

  .fact-curve {
    stroke: var(--index-fact-color);
    &-dashed {
      fill: none;
      stroke: var(--gray-G6-color);
      stroke-dasharray: 4 4;
    }
  }

  .plan-curve {
    stroke: var(--index-plan-color);
  }

  .day-threshold-line {
    stroke: var(--border-icon-color);
    stroke-width: 1px;
  }

  .day-text, .value-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    fill: var(--sou-mvp-color-text-diagram-main);
  }

  .deviation-line {
    stroke: var(--color-astue-onpz-warning);
    stroke-width: 1px;
  }

  .deviation-circle {
    stroke: var(--color-astue-onpz-warning);
    fill: var(--color-kpe-deviation-diagram-circle-bg);
  }

  .day-circle-1,
  .day-circle-2,
  .day-circle-3,
  .day-circle-4 {
    fill: var(--text-main-color);
  }

  .day-circle-1 {
    opacity: 0.05;
  }

  .day-circle-2 {
    opacity: 0.2;
  }

  .day-circle-3 {
    opacity: 0.5;
  }

  .day-circle-4 {
    opacity: 1;
  }

  .rect-left {
    fill: none;
  }
}
