<div class="filter">
  <div class="filter_settings-body">
    <div class="filter_block">
      <div class="filter_block__settings">
        <div class="filter_block__settings__title-block">
          <span class="vertical-middle">По возрастанию</span>
        </div>
        <div class="filter_block__settings__radio-button-block">
          <div class="radio-button">
            <div class="radio-button_circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter_block">
      <div class="filter_block__settings">
        <div class="filter_block__settings__title-block">
          <span class="vertical-middle">По убыванию</span>
        </div>
        <div class="filter_block__settings__radio-button-block">
          <div class="radio-button">
<!--            <div class="radio-button_circle"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filter_block__search">
    <div class="filter_block__search__input-block">
      <input class="vertical-middle">
    </div>
    <div class="filter_block__search__icon-block">
<!--      <div class="icon"></div>-->
      <svg-icon class="icon" src="assets/icons/search-icon.svg"></svg-icon>
    </div>
  </div>
</div>
