<div
  *ngIf="widgetId"
  class="onShift__person gridster-item-content"
  (click)="addToShift(person.employee.id)"
  [class.disable-person]="!isPresent && onShift"
  [ngClass]="(onShift)?'isOnShift':'allPeople'"
  #insideElement
  (mouseover)="onMouseOver()"
  (mouseout)="onMouseOut()"
>
  <div class="person__avatar">
    <img class="person__img" [src]="photoPathUser" />
    <svg-icon class="person__frame" src="assets/icons/change-shift-avatar-frame.svg"> </svg-icon>
  </div>
  <div class="person__info" *ngIf="person">
    <div class="person__name" *ngIf="isPersonExist()">
      {{person.employee.lastName}} {{ person.employee.firstName.charAt(0).toUpperCase() }}.
    </div>
    <div class="person__position" *ngIf="person.employee">{{ this.getDisplayPosition(person.position) }}</div>
    <div class="person__place">{{ person.employee.positionDescription }}</div>
    <div class="person__status" *ngIf="onShift">
      <div
        class="status__name"
        [class.status__name__success]="(person.status === 'passed' || person.status === 'accepted')"
        [class.status__name__progress]="(person.status === 'inProgressPassed' || person.status === 'inProgressAccepted')"
        [class.status__name__absent]="(person.status === 'absent')"
        [class.status__name__missing]="(person.status === 'missing')"
        [class.status__name__init]="(person.status === 'initialization')"
      >
        {{ this.getDisplayStatus(person.status) }}
      </div>
      <div
        class="status__icon"
      >
        <svg-icon src="{{getIconType(person.status)}}"></svg-icon>
      </div>
    </div>
  </div>
  <div *ngIf="onShift">
    <div class="dropdown disable" *ngIf="!isMain" #dropdown>
      <div class="dropdown__item" *ngFor="let dropdownEl of this.dropdownMenu" (click)="menuCheck($event, person)">
        {{ dropdownEl }}
      </div>
    </div>
  </div>
</div>
