<div class="card">
  <div class="card_item">
    <div class="card_item__top">
      <div class="card_item__top___left">
        <div class="product-text">
          АИ-92
        </div>
        <div class="date-text">
          30.04.2020
        </div>
      </div>
      <div class="card_item__top___right">
        <div class="status-text">
          В работе
        </div>
      </div>
    </div>
    <div class="card_item__middle">
      <div class="card_item__middle___icon-block">
        <div class="icon">
          <svg-icon
            src="assets/icons/widgets/petroleum-products-movement/Voskl.svg"
            [svgStyle]="{ 'width.%':100, 'height.%':100 }"
          >
          </svg-icon>
        </div>
      </div>
      <div class="card_item__middle___text-block">
        <div class="info-text">
          Дефицит полезной вместимости
        </div>
      </div>
    </div>
    <div class="card_item__bottom">
      <div class="time-text">
        1д.
      </div>
    </div>
  </div>
  <div class="card_item__loader">
    <div class="card_item__loader___active"></div>
  </div>
</div>

