$add-button-color: #303549;
$main-border-color: rgba(96, 101, 128, 0.25);

.events-correct {
  width: inherit;
  height: 525px;
  background-color: var(--evj-events-workspace-bg-dark);
  border: 1px solid $main-border-color;
  border-radius: 2px;
  box-sizing: border-box;

  &__header {
    width: 100%;
    height: 63px;
    margin-bottom: 10px;
    background-color: var(--header-events-color-bg-hover);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__body {
    width: 100%;
    height: 440px;
    background-color: transparent;
    box-sizing: border-box;
    padding-right: 19.2px;
    padding-left: 21.8px;
    overflow: auto;
  }

  &__search {
    background-color: var(--color-new-header-active);
    color: white;
  }

  &__add {
    background-color: $add-button-color;
    color: var(--color-event-card-font-sub);
  }
}

.button {
  flex-grow: 1;
  min-width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 1px;
  margin-right: 5px;
  margin-left: 5px;
}

.cards-list {
  width: 100%;
  height: 100%;
}
.card {
  height: 150px;
  width: 100%;
  margin-bottom: 14px;
}

