:host {
  width: inherit;
  height: inherit;
}

.left-title {
  position: absolute;
  left: 45px;
  top: 5px;
}

.events-correct {
  position: relative;

  width: inherit;
  height: inherit;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header,
  &__footer {
    position: relative;
    width: 100%;
    height: 30px;

    color: var(--color-text-sub);
  }

  &__header {
    color: var(--color-text-sub);
    font-size: 10px;

    box-sizing: border-box;
    padding-left: 15px;
  }

  &__body {
    width: 100%;
    height: calc(100% - 60px);

    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__footer {
  }

  .cards-list {
    width: 100%;
    height: max-content;
    min-height: 100px;
  }

  .card {
    width: 100%;
    height: 120px;
    margin: 15px 0px;

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .button {
    &__add {
      position: absolute;
      z-index: 2;

      width: 26px;
      height: 26px;

      top: 0px;
      bottom: 0px;
      right: 0px;
      margin: auto;

      &::before,
      &::after {
        content: "";
        position: absolute;
        z-index: 2;

        width: 16px;
        height: 2px;

        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;

        transition: 0.2s;

        background: var(--color-text-sub);
      }

      &::after {
        width: 2px;
        height: 16px;
      }

      &:hover {
        cursor: pointer;

        &::before,
        &::after {
          background: var(--color-text-main);
        }
      }

      &_bottom {
        top: 5px;
        left: 18px;
        right: auto;
      }
    }

    &__search {
      position: absolute;
      z-index: 2;

      width: 26px;
      height: 26px;

      top: 0px;
      bottom: 0px;
      right: 20px;
      margin: auto;

      svg-icon {
        cursor: pointer;

        &:hover ::ng-deep path {
          fill: var(--color-text-main);
        }
      }

      &_bottom {
        top: 5px;
        left: 0px;
        right: auto;
      }
    }
  }

  .date {
    position: absolute;
    z-index: 2;

    width: max-content;
    height: 100%;

    top: 0px;
    right: 0px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    &__title {
      font-size: 10px;
      line-height: 100%;
      color: var(--color-text-sub);
    }

    &__info {
      font-size: 12px;
      color: var(--color-text-main);
    }
  }
}


::ng-deep .mat-tooltip {
  font-size: 12px;
  background-color: var(--color-bg-main);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.349);
}
