$main-bg-color: #12151e;
$add-button-color: #303549;
$main-border-color: rgba(96, 101, 128, 0.25);

.events-correct {
  width: 432px;
  height: 554px;
  background-color: $main-bg-color;
  border: 1px solid $main-border-color;
  box-sizing: border-box;

  &__header {
    width: 100%;
    height: 63px;
    margin-bottom: 10px;
    background-color: var(--header-events-color-bg-hover);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__body {
    width: 100%;
    height: 481px;
    background-color: transparent;
    box-sizing: border-box;
    padding-right: 19.2px;
    padding-left: 21.8px;
    overflow: auto;
  }

  &__search {
    background-color: var(--color-new-header-active);
    color: white;
  }

  &__add {
    background-color: $add-button-color;
    color: var(--color-event-card-font-sub)
  }
}

.button {
  width: 190px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  :hover {

  }
}

.cards-list {
  width: 100%;
  height: 100%;
}
.card {
  height: 150px;
  width: 391px;
  margin-bottom: 14px;
}

