:host {
  display: block;
}

:host::ng-deep {
  .mat-select {
    height: 32px;
    background: var(--gray-G12-color);
    border: 1px solid var(--gray-G8-color);
    border-radius: 2px;
    box-sizing: border-box;
  }

  .mat-select-panel .mat-option {
    height: 2.5em;
  }

  .mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding: unset;
  }

  .mat-form-field-infix {
    padding: unset;
    border-top: none;
  }

  .mat-select-value-text {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
  }

  .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
    transform: unset;
  }

  .mat-select-arrow-wrapper {
    vertical-align: unset;
  }

  .mat-form-field-label-wrapper {
    top: -20px;
  }

  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: unset;
  }

  .mat-select-trigger {
    height: 100%;
    padding: 4px 10px 4px 4px;
  }

  .mat-option-text {
    line-height: 1;
  }

  .work {
    .mat-select-value-text {
      background-color: var(--opacity-plan-20-color);
      color: var(--index-plan-color);
    }
  }

  .repair {
    .mat-select-value-text {
      background-color: var(--opacity-orange-20-color);
      color: var(--index-error-color);
    }
  }

  .defective {
    .mat-select-value-text {
      background-color: var(--opacity-red-20-color);
      color: var(--index-critical-color);
    }
  }

  .inactive {
    .mat-select-value-text {
      background-color: var(--gray-G6-20-color);
      color: var(--index-active-color);
    }
  }
}

.wrapper {
  &_edit {
    border: 1px solid var(--border-blue-color);
  }
}

.status {
  font-size: 12px;

  &_work {
    color: var(--index-plan-color);
  }

  &_repair {
    color: var(--index-error-color);
  }

  &_defective {
    color: var(--index-critical-color);
  }

  &_inactive {
    color: var(--index-active-color);
  }
}
