<div class="container">
  <div class="header">
    <div class="header__icon">
      <svg-icon [svgStyle]="{'width.%': 100, 'width.%': 100}" src="assets/icons/widgets/SOU/header-icons/drop.svg"></svg-icon>
    </div>
    <div class="header__label">Выработка по светлым нефтепродуктам</div>
  </div>
  <div class="table-content">
    <table border="1" class="table">
      <tr class="table_row__header">
        <th class="cell">Наименование</th>
        <th class="cell">Значение за час</th>
        <th class="cell">Накопленное значение</th>
      </tr>
      <ng-container *ngTemplateOutlet="contentRow; context: {title: 'Бензин'}"></ng-container>
      <ng-container *ngTemplateOutlet="contentRow; context: {title: 'ТС-1'}"></ng-container>
      <ng-container *ngTemplateOutlet="contentRow; context: {title: 'ДТЛ'}"></ng-container>
      <ng-container *ngTemplateOutlet="contentRow; context: {title: 'Всего светлых'}"></ng-container>
    </table>
  </div>
</div>

<ng-template #contentRow let-title="title">
  <tr class="table_row__body">
    <td class="cell cell__title">{{title}}</td>
    <td class="cell cell__content">
      <div class="values">
        <span>5 400 т/ч</span>
        <span>85%</span>
      </div>
    </td>
    <td class="cell cell__content">
      <div class="values">
        <span>55 400 т.</span>
        <span>85%</span>
      </div>
    </td>
  </tr>
</ng-template>
