.tree {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  color: var(--border-icon-color);

  &__header {
    display: flex;
    align-items: center;
    min-height: 26px;

    &__icon {
      cursor: pointer;
      &_close {
        color: var(--border-icon-color);
      }
    }

    &__title {
      cursor: pointer;
      width: 100%;
      padding: 5px;
      padding-left: 10px;
      font-size: 14px;

      &:hover, &-selected {
        color: var(--text-accent-color);
      }
    }
  }

  &__body {
    padding-top: 5px;
  }
}
