::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  // background-color:var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4d4f;
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
::-webkit-resizer {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

.reference-left {
  height: 100%;
}

.top-frame {
  position: relative;
  // background: linear-gradient(to bottom, var(--color-border-active) -60%, rgba(34, 36, 47, 0.5) 80%);
  height: 10px;
  // border-right: 0.5px solid var(--color-border-active);
  // border-top: 0.5px solid var(--color-border-active);

  &:before {
    content: "";
    position: absolute;
    height: 17px;
    width: 15px;
    top: 3px;
    left: -7px;
    transform: rotate(-46deg);
    background: var(--color-bg-main);
  }

  &:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 15px;
    top: -7px;
    right: -8px;
    transform: rotate(136deg);
    background: var(--color-bg-main);
    //  border-right: 1px solid var(--color-border-active);
  }
}

.middle {
  // background: rgba(34, 36, 47, 0.5);
  height: calc(100% - 25px);
  // border-right: 0.5px solid var(--color-border-active);
  width: calc(100% - 12px);
  margin-left: 12px;
}

.top_block_middle {
  height: 55px;
  padding-top: 5px;
}

.bottom_block_middle {
}

.bottom_frame {
  position: relative;
  // background: rgba(34, 36, 47, 0.5);
  width: calc(100% - 12px);
  height: 10px;
  // border-right: 0.5px solid var(--color-border-active);
  // border-bottom: 0.5px solid var(--color-border-active);
  margin-left: 12px;

  &:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 15px;
    bottom: -7px;
    right: -8px;
    transform: rotate(219deg);
    background: var(--color-bg-main);
    // border-right: 0.5px solid var(--color-border-active);
  }
}

.workspace {
  height: 26%;
  min-height: 185px;
  padding-top: 25px;
}

.workspace_title {
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.workspace_button {
  .button_operation {
    font-size: 12px;
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/right-button.svg);
    background-repeat: no-repeat;
    height: 71px;
    width: 260px;
    margin: 8px auto;
    text-align: center;
    line-height: 70px;
    cursor: pointer;

    &:hover {
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
      background-repeat: no-repeat;
    }
  }

  .button_edit_param {
    font-size: 12px;
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/right-button.svg);
    background-repeat: no-repeat;
    height: 71px;
    width: 260px;
    margin: 8px auto;
    text-align: center;
    line-height: 70px;
    cursor: pointer;

    &:hover {
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
      background-repeat: no-repeat;
    }
  }
}

.filter {
  height: 26%;
  min-height: 185px;
  padding-top: 25px;
}

.filter_title {
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.filter_buttons {
  .filter_button {
    font-size: 12px;
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/right-button.svg);
    background-repeat: no-repeat;
    height: 71px;
    width: 260px;
    margin: 8px auto;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    &__active {
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
      background-repeat: no-repeat;
    }
    &:hover {
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
      background-repeat: no-repeat;
    }
  }
}

.reports {
  min-height: 300px;
  height: 40%;
  overflow: auto;
}

.reports_title {
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.reports_button {
  .button_rep {
    font-size: 12px;
    background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/right-button.svg);
    background-repeat: no-repeat;
    height: 71px;
    width: 260px;
    margin: 8px auto;
    text-align: center;
    line-height: 70px;
    cursor: pointer;

    &:hover {
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
      background-repeat: no-repeat;
    }
  }
}

.buttons {
  width: 85%;
  text-align: end;
}

.additionally_title {
  color: var(--color-text-sub);
  font-size: 10px;
  display: flex;
  justify-content: space-around;
}

.additionally {
  min-height: 300px;
  height: 40%;
  overflow: auto;

  .additionally_button {
    .button_additionally {
      font-size: 12px;
      background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/right-button.svg);
      background-repeat: no-repeat;
      height: 71px;
      width: 260px;
      margin: 8px auto;
      text-align: center;
      line-height: 70px;
      cursor: pointer;

      &:hover {
        background: url(../../../../../../assets/icons/widgets/petroleum-products-movement/active-background-button-right.svg);
        background-repeat: no-repeat;
      }
    }
  }
}
