<div class="reference-left">
  <div class="top-frame"></div>
  <div class="middle">
    <div class="workspace">
      <div class="workspace_title">
        <div>Рабочая область</div>
        <div>
          <svg-icon
            src="assets/icons/widgets/petroleum-products-movement/work-space.svg"
            [svgStyle]="{ 'width.px':15, 'height.px':15 }"
          ></svg-icon>
        </div>
      </div>
      <div class="workspace_button">
        <div class="button_operation" (click)="createOperation()">
          <div class="buttons">
            Создание операций
          </div>
        </div>
        <div class="button_edit_param" (click)="changeParam()">
          <div class="buttons">
            Редактирование параметров
          </div>
        </div>
      </div>
    </div>
    <div class="filter">
      <div class="filter_title">
        <div>Фильтр</div>
        <div>
          <svg-icon
            src="assets/icons/widgets/petroleum-products-movement/filter.svg"
            [svgStyle]="{ 'width.px':15, 'height.px':15 }"
          ></svg-icon>
        </div>
      </div>
      <div class="filter_buttons">
        <div class="filter_button"
            [class.filter_button__active]="!isOpen"
            (click)="filterClick(false)">
          <div class="buttons">
            Все операции за период
          </div>
        </div>
        <div class="filter_button"
             [class.filter_button__active]="isOpen"
             (click)="filterClick(true)">
          <div class="buttons">
            Только открытые операции
          </div>
        </div>
      </div>
    </div>

    <div class="reports_title">
      <div>Отчеты</div>
      <div>
        <svg-icon
          src="assets/icons/widgets/petroleum-products-movement/Analytic.svg"
          [svgStyle]="{ 'width.px':15, 'height.px':15 }"
        ></svg-icon>
      </div>
    </div>
    <div class="reports">
      <div class="reports_button">
        <ng-container *ngFor="let item of data">
          <div class="button_rep">
            <div class="buttons">
              {{item}}
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!--  <div class="bottom_frame"></div>-->
</div>
