:host {
  --border: 1px solid var(--color-aps-border-light);
  --border-right: 1px solid var(--color-aps-border);
}

.notched-container-wrapper {
  display: flex;
  flex-direction: row;

  .notched-container-left {
    width: 36px;
    border-top: var(--border);
    border-bottom: var(--border);
    border-left: var(--border);
    position: relative;
    background: linear-gradient(90deg, rgba(91, 96, 125, 0.2) 0%, rgba(91, 96, 125, 0) 53.8%);
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      margin-right: 5px;
    }

    &::after {
      width: 5px;

      background-color: var(--color-aps-bg);
      border-left: var(--border);
      right: 0;

      top: calc((100% - (100% - 9px)) / 2);
      height: calc(100% - 9px);

      content: "";
      position: absolute;
      z-index: 2;
    }

    &__top-frame {
      position: absolute;
      top: 0;
      width: 100%;

      &::before,
      &::after {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        background: var(--color-bg-main);
      }

      &::before {
        border-right: var(--border);
        left: -5px;
        top: -5px;
      }

      &::after {
        border-left: var(--border);
        right: -4px;
        top: 1px;
      }
    }

    &__bottom-frame {
      position: absolute;
      bottom: 0;
      width: 100%;

      &::before,
      &::after {
        width: 8px;
        height: 8px;
        content: "";
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
      }

      &::before {
        border-top: var(--border);
        left: -5px;
        top: -4px;
        background: var(--color-bg-main);
      }

      &::after {
        border-bottom: 1px solid var(--color-aps-border-light);
        right: -4px;
        top: -10px;
        background: var(--color-aps-bg);
      }
    }
  }

  .notched-container-right {
    width: calc(100% - 36px);
    border-top: var(--border-right);
    border-right: var(--border-right);
    border-bottom: var(--border-right);
    background-color: var(--color-aps-bg);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__content-container {
      width: 85%;
      height: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    &__value-container {
      height: calc(100% - 6px);
      margin-right: 3px;
      width: 15%;
      background-color: var(--color-aps-bg-light);
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      justify-content: center;

      &::before {
        width: 8px;
        left: -2px;

        top: calc((100% - (100% - 10px)) / 2);
        height: calc(100% - 10px);

        content: "";
        position: absolute;
        z-index: 2;
        background: var(--color-aps-bg);
      }

      .top-frame {
        position: absolute;
        top: 0;
        width: 100%;

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          transform: rotate(45deg);
          background: var(--color-aps-bg);
        }

        &::before {
          width: 8px;
          height: 8px;
          left: -4px;
          top: 1px;
        }

        &::after {
          width: 8px;
          height: 2px;
          right: -3px;
          top: -1px;
        }
      }

      .bottom-frame {
        position: absolute;
        bottom: 0;
        width: 100%;

        &::before,
        &::after {
          content: "";
          position: absolute;
          z-index: 2;
          transform: rotate(45deg);
          background: var(--color-aps-bg);
        }

        &::before {
          width: 8px;
          height: 8px;
          left: -4px;
          top: -9px;
        }

        &::after {
          width: 2px;
          height: 8px;
          right: 0;
          top: -5px;
        }
      }
    }

    &__top-frame {
      position: absolute;
      top: 0;
      width: 100%;

      &::after {
        width: 8px;
        height: 8px;

        border-bottom: var(--border-right);
        left: auto;
        right: -5px;
        top: -5px;

        content: "";
        position: absolute;
        z-index: 2;

        transform: rotate(45deg);
        background: var(--color-bg-main);
      }
    }

    &__bottom-frame {
      position: absolute;
      bottom: 0;
      width: 100%;

      &::after {
        width: 8px;
        height: 8px;

        border-left: var(--border-right);
        left: auto;
        right: -5px;
        top: -3px;

        content: "";
        position: absolute;
        z-index: 2;

        transform: rotate(45deg);
        background: var(--color-bg-main);
      }
    }
  }
}
