* {
  user-select: none;
}

.widget-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .container {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 5px;
    background: var(--bg-body-color);
    border: 1px solid var(--border-vidget-color);
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .scale-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: grab;
  }

  .abs-container {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  .schema {
    position: relative;
    display: flex;
    width: 1483px;
    height: 655px;
    transform: perspective(1px) translateZ(0);

    &__background {
      margin: auto;
    }

    .wrapper {
      position: absolute;
      display: flex;
      flex-flow: column;
      padding: 14px;
      gap: 15px;
      box-sizing: border-box;
      overflow: hidden;

      .title {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: var(--text-subscript-color);
      }

      .streams {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        gap: 12px;
        width: max-content;
        margin: auto;
        overflow: auto;
        padding-right: 10px;
      }

      &__left-top {
        left: 224px;
        top: 11px;
        width: 355px;
        height: 350px;
      }

      &__left-bottom {
        left: 224px;
        top: 439px;
        width: 355px;
        height: 212px;
      }

      &__middle {
        left: 646px;
        top: 461px;
        width: 354px;
        height: 190px;
      }

      &__right {
        width: 284px;
        height: 350px;
        left: 1062px;
        top: 11px;
      }
    }

    .wrapper-up {
      position: absolute;
      display: flex;
      flex-flow: column;
      height: 90px;
      width: 42px;
      top: 10px;

      &__left {
        left: 697px;
      }

      &__right {
        left: 897px;
      }

      &__center {
        left: 799px;
        gap: 7px;
      }

      .title {
        font-size: 12px;
        width: max-content;
        line-height: 14px;
        color: var(--text-main-color);
        text-align: center;
        white-space: nowrap;
        transform: translateX(-50%);
        margin-left: 21px;
      }

      .main-arrow {
        margin: 0 auto;
      }

      .arrow {
        position: relative;
        flex-grow: 1;
        width: 1px;
        margin: 10px auto 0;
        background: var(--border-forms-color);

        .triangle {
          position: absolute;
          transform: translateX(-50%) translateY(-100%);
          left: 0.5px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 3px 6px 3px;
          border-color: transparent transparent var(--border-forms-color) transparent;
        }

        .counter {
          position: absolute;
          font-size: 12px;
          bottom: 2px;
          left: 3px;
          color: var(--text-contrast-color);
        }

        &__deviation {
          background: var(--index-error-color);

          .triangle {
            border-color: transparent transparent var(--index-error-color) transparent;
          }
        }
      }

      .circle {
        border-radius: 50%;
        background: var(--gray-G11-color);
        overflow: hidden;
      }
    }

    .wrapper-popup {
      display: block;
      position: absolute;
      top: 130px;

      &__none {
        display: none;
      }

      &__left {
        left: 750px;
      }

      &__center {
        left: 853px;
      }

      &__right {
        left: 950px;
      }
    }

    .wrapper-title {
      position: absolute;
      width: 104px;
      height: 16px;
      left: 767px;
      top: 257px;
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

.selects {
  display: flex;
  gap: 15px;
  margin-left: 15px;

  & > * {
    margin: auto 0;
  }

  .option-select {
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 2px;

    .dropdown {
      height: 24px;
      width: 150px;
      display: flex;
      align-items: center;
      background: var(--gray-G12-color);
      border: 1px solid var(--chart-segment-color);
      border-radius: 3px;

      &__select {
        margin-right: 10px;
        margin-left: 4px;
      }

      &__marker {
        height: 16px;
        width: 3.5px;
        background-color: var(--index-error-color);
        margin-left: 4px;
      }
    }
  }
}
