<div class="expand-block">
  <div class="expand-block__item">
    <div class="description">
      <div class="description__title">
        Уточнения объемов прокачек и потребления топливного и природного газа на ПНР КГПН
      </div>
      <div class="custom-block"></div>
      <div class="description__btn">
        <div class="timer-btn">
          <svg-icon
            src="assets/icons/widgets/KPE/kpe-accuracy-timelines-data/timer.svg"
            class="timer"
          ></svg-icon>
          30.10.2020
        </div>
      </div>
    </div>
  </div>
</div>
