<div class="expand-block">
  <div class="expand-block__item">
    <div class="description">
      <div class="description__title">
        {{ rowData.commentOfAdjustment }}
      </div>
      <div class="custom-block"></div>
      <div class="description__btn">
        <div class="timer-btn">
          <svg-icon
            src="assets/icons/widgets/KPE/kpe-accuracy-timelines-data/timer.svg"
            class="timer"
          ></svg-icon>
          {{ rowData.dateOfAdjustment | date: 'dd.MM.yyyy' }}
        </div>
      </div>
    </div>
  </div>
</div>
