<div class="container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseExit()">
  <div class="root">
    <evj-widget-header-smp [uniqId]="uniqId" *ngIf="isHover$ | async">
    </evj-widget-header-smp>
    <div class="complexes-header">
      <span class="complexes-uptitle">МНПЗ</span>
      <h1 class="complexes-title">Комплексы</h1>
    </div>

    <div class="complexes-list">
      <evj-complexes-item
        *ngFor="let item of data$ | async; trackBy: trackByIndex"
        [chartPage]="item.chartPage"
        [data]="item.data"
        [title]="item.title"
        [indicators]="item.indicators"
      ></evj-complexes-item>
    </div>
  </div>

</div>
