<div class="user-info" (mouseover)="ScreenActive()" (mouseleave)="ScreenDisable()">
  <div class="user-info_avatar"></div>
  <div *ngIf="data" class="user-info_data">
    <div class="user-name">
      <span>
        {{ data.lastName ? data.lastName : data.login }} {{ data.firstName | slice : 0 : 1 }}.{{
        data.middleName | slice : 0 : 1 }}
      </span>
    </div>
    <div class="user-position">{{ data.positionDescription }}</div>
    <div class="user-groupe">Бригада {{ data.brigade?.number }}</div>
  </div>
</div>

<div class="dropdown-content" [class.dropdown-content_active]="this.isShowScreens">
  <ng-container>
    <div
      (click)="fullScreen()"
      class="dropdown-component"
      (mouseover)="isOverScreen()"
      (mouseleave)="isLeaveScreen()"
    >
      <div class="screen_block">
        <div class="screen_blocks">
          <div class="screen_name">
            Полный экран
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="logOut()"
      class="dropdown-component"
      (mouseover)="isOverScreen()"
      (mouseleave)="isLeaveScreen()"
    >
      <div class="screen_block">
        <div class="screen_blocks">
          <div class="screen_name">
            Выйти
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
