<div class="user-info" (mouseover)="ScreenActive()" (mouseleave)="ScreenDisable()">
  <div></div>
  <img class="user-info_avatar" [src]="photoPath" />
  <div *ngIf="data" class="user-info_data">
    <div class="user-name">
      <span>
        {{ data?.displayName ? data?.displayName : data.login }}
      </span>
    </div>
    <div *ngIf="data?.positionDescription" class="user-position">
      {{ data.positionDescription }}
    </div>
    <div *ngIf="data?.brigade?.number" class="user-groupe">Бригада {{ data.brigade?.number }}</div>
  </div>
</div>

<div class="dropdown-content" [class.dropdown-content_active]="this.isShowScreens">
  <ng-container>
    <div
      (click)="fullScreen()"
      class="dropdown-component"
      (mouseover)="isOverScreen()"
      (mouseleave)="isLeaveScreen()"
    >
      <div class="screen_block">
        <div class="screen_blocks">
          <div class="screen_name">
            Полный экран
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="resetPassword()"
      class="dropdown-component"
      (mouseover)="isOverScreen()"
      (mouseleave)="isLeaveScreen()"
    >
      <div class="screen_block">
        <div class="screen_blocks">
          <div class="screen_name">
            Изменение пароля
          </div>
        </div>
      </div>
    </div>
    <div
      (click)="logOut()"
      class="dropdown-component"
      (mouseover)="isOverScreen()"
      (mouseleave)="isLeaveScreen()"
    >
      <div class="screen_block">
        <div class="screen_blocks">
          <div class="screen_name">
            Выйти
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
