<div class="container">
  <div class="alert">
    <div class="alert__message" *ngIf="isSetResponsible">
      Вы действительно хотите изменить<br />Главного для Бригады {{worker.brigade.id}}<br />с
      {{lastResponsible}}<br />на {{newResponsible}}
    </div>
    <div class="alert__message" *ngIf="!isSetResponsible">
      Вы действительно хотите убрать<br />Главного для Бригады {{worker.brigade.id}}
    </div>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Нет'"
        (click)="onClickNo()"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Да'"
        (click)="onClickYes()"
      ></evj-button>
    </div>
  </div>
</div>
