<div class="container">
  <div class="alert">
    <div class="alert__message">
      Вы действительно хотите изменить<br />Главного для Бригады ххх<br />с Имя1<br />на Имя2
    </div>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Нет'"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Да'"
      ></evj-button>
    </div>
  </div>
</div>
