::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    margin-left: 50px;
    margin-right: 50px;
}

::-webkit-scrollbar-track:vertical {
    width: 4px;
    height: 4px;
    border-radius: 25px;
}

:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-border-active);
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 25px;
    background-color: var(--color-border-main);
}

::-webkit-scrollbar-track {
    border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
    border-radius: 25px;
}

::-webkit-resizer {
    background-color: var(--color-border-active);
}

.container-operation-free-shipment {
    direction: ltr;
    position: absolute;
    left: 1000px;
    top: 10%;
    height: 75%;
    z-index: 999;
    width: 30%;
    box-shadow: 0 0 20px var(--color-oil-popup-shadow);
    border-radius: 20px;
    min-width: 385px;
}

.title {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #1b1f2c;
    color: var(--color-text-main);
    text-align: center;
    font-size: 12px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &__button-close {
        cursor: pointer;
        width: 30px;
        margin-top: 7px;
        margin-left: 20px;
    }

    &__block-name {
        font-size: 14px;
        width: 100%;
        display: flex;

        .shipment-title {
            width: 75%;
            text-align: left;
            margin-top: 5px;
            padding-left: 20px;

            &__title {
                font-size: 14px;
            }

            &__date {
                font-size: 12px;
                color: var(--color-text-sub);
            }
        }

        .shipment-value {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__block {
                background: var(--color-active);
                border-radius: 25px;
                width: 76px;
                height: 25px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.title-content {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-oil-table-2);
    color: var(--color-text-sub);
    font-size: 14px;
    height: 40px;
    line-height: 40px;

    &__name {
        text-align: center;
    }

    .pasp {
        width: 80%;
    }

    .rr {
        width: 50%;
    }

    .mass {
        width: 50%;
    }

    .point {
        width: 100%;
    }
}

.content {
    overflow: auto;
    overflow-x: hidden;
    height: calc(100% - 144px);
    background-color: var(--color-oil-table);
    border-bottom: 7px solid var(--color-bg-main);

    .item {
        font-size: 14px;
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        position: relative;
        display: flex;
        border-bottom: 1px solid var(--color-bg-main);


        &__name {
            color: var(--color-text-sub);
            width: 100%;
            border-right: 1px solid var(--color-bg-main);
            padding-left: 60px;
        }

        &__title-button {
            cursor: pointer;
            position: absolute;
            left: 30px;
        }

        &__shadow-block {
            background-color: var(--color-bg-main);
            height: auto;
            box-shadow: inset 0px 14px 19px -7px var(--color-oil-popup-shadow);
        }

        &__i {
            display: flex;
            border-bottom: 1px solid var(--color-oil-popup-shadow);
            height: 40px;
            line-height: 40px;
            justify-content: space-evenly;
            font-size: 12px;
            cursor: pointer;

            .name-param {
                width: 80%;
                text-align: center;
                border-right: 1px solid var(--color-oil-popup-shadow);
            }

            .capacity-param {
                width: 50%;
                text-align: center;
                border-right: 1px solid var(--color-oil-popup-shadow);
            }

            .check-param {
                width: 50%;
                text-align: center;
                border-right: 1px solid var(--color-oil-popup-shadow);
            }

            .limit-param {
                width: 100%;
                text-align: center;
                display: flex;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &__value {
                    width: calc(100% - 10px);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: 5px;
                }

                &__icon {
                    cursor: pointer;
                    width: 50%;
                    margin-top: 5px;
                }
            }
        }
    }
}

.bottom {
    position: relative;
    height: 50px;
    padding-top: 10px;
    width: 100%;
    background-color: var(--color-oil-table);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;

    &__save-block {
        margin: 0 auto;
        margin-right: 20px;
        width: 30%;
        height: 27px;
        font-size: 15px;
        display: flex;
        border: 1px solid white;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
            border: 1px solid var(--color-border-active);
            color: var(--color-border-active);
        }

        .save-block {
            display: flex;
            position: relative;
            margin: 0 auto;
            align-items: center;
        }
    }

    &__search {
        height: 60%;
        margin-left: 20px;

        ::ng-deep {
            .input-back {
                background: var(--color-oil-table) !important;
            }
        }
    }
}

.active {
    .item__name {
        color: var(--color-active);
    }

    ::ng-deep {
        .cls-14323dsdfdsfdsf {
            fill: var(--color-active);
        }
    }

    //NG-DEEP ICON
}

.active-block {
    background: var(--color-bg-active);

    ::ng-deep {
        .e4dfc319-7cf8-4b52-b52c-6c71849d7e16 {
            fill: var(--color-active);
        }
    }
}
