$border-color: rgba(63, 169, 245, 0.05);

.workspace {
  height: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: var(--color-text-sub);
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  button {
    width: 100%;
    height: 100%;
    position: relative;
    border: 0.5px solid var(--color-border-main-transparrent);
    background-color: var(--color-bg-main);
    color: var(--color-text-main);
    outline: none;
  }

  &__select-container {
    flex-grow: 1;
    width: 100%;
    height: 60px;
    border-radius: 2px;
    min-width: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 5px;
    padding-left: 5px;
  }
  &__select-container-big {
    flex-grow: 1;
    width: 100%;
    height: 120px;
    border-radius: 2px;
    min-width: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
    padding-right: 5px;

  }
  &__select-container-biggest {
    width: 100%;
    height: 115px;
    border-radius: 2px;
    min-width: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__select-container-biggest-double {
    flex-grow: 1;
    width: 100%;
    height: 115px;
    border-radius: 2px;
    min-width: 53px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__third {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    &__right {
      flex-grow: 1;
      height: 100%;
      min-width: 220px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 13px;
      line-height: 16px;

      padding-right: 5px;
      padding-left: 5px;

      .place-date {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .table {
        width: 100%;
        height: 185px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__group {
          width: 100%;
          height: 65px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .responsible {
        width: 100%;
        height: 100px;
        min-width: 200px;
        min-height: 100px;
        margin-bottom: 14px;
        margin-top: 6px;
      }

      .events-correct {
        width: 100%;
        height: 100%;
        min-height: 200px;
      }

      .event-input {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .description {
        margin-top: 3px;
        height: 160px;
        width: 100%;
        margin-bottom: 24px;
      }

      .facts {
        height: 200px;
        width: 100%;
        margin-bottom: 23px;
      }

      .comments {
        height: 300px;
        width: 100%;
      }
    }
  }
}

.value {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(92, 101, 133, 0.25);
  border-radius: 1px;
}

.standard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  color: var(--header-events-color-font-main);
  border: 1px solid var(--color-astue-mat-select-border);
  background-color: var(--header-events-color-bg-main);

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--header-events-color-font-main) !important;
    }
  }
}

.warning {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  color: var(--evj-events-workspace-minor);
  border: 1px solid var(--evj-events-workspace-minor);
  background-color: var(--evj-events-workspace-minor-bg);

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--evj-events-workspace-minor) !important;
    }
  }
}

.danger {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: -1px;
  color: var(--evj-events-workspace-critical);
  border: 1px solid var(--evj-events-workspace-critical);
  background-color: var(--evj-events-workspace-critical-bg);

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--evj-events-workspace-critical) !important;
    }
  }
}

.mat-form-category {
  color: var(--header-events-color-font-main);
  border: 1px solid var(--color-astue-mat-select-border);
  background-color: var(--header-events-color-bg-main);
  border-radius: 2px;

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--header-events-color-font-main) !important;
    }
  }
}

.event-mat-select {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 36px;
  min-width: 50px;
  position: relative;

  .mat-select {
    width: calc(100% - 2px) !important;
  }

  mat-label {
    font-size: 17px !important;
    color: var(--color-text-sub);
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-underline {
      height: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-ripple {
      height: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      display: flex;
      padding-top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-select-value-text {
      margin-left: 10px;
      font-size: 13px;
      color: inherit;
    }

    .mat-select-arrow {
      margin-right: 10px !important;
      margin-top: 5px !important;
    }

    .mat-form-field-label-wrapper {
      top: -20px;
    }
  }
}

.events-workspace__scroll {
  ::-webkit-scrollbar {
    width: 1px;
    height: 4px;
  }

  ::-webkit-scrollbar:vertical {
    width: 4px;
    height: 100%;
    border-radius: 40px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--color-border-unactive);
  }
  ::-webkit-scrollbar-track-piece {
    border: 1px solid #8c99b2;
    border-radius: 40px;
    background-color: rgb(27, 30, 39);
  }

  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: var(--color-border-unactive);
    border-radius: 40px;
  }

  ::-webkit-scrollbar-corner {
    background-color: var(--color-border-unactive);
  }

  ::-webkit-resizer {
    background-color: var(--color-border-unactive);
  }
}
.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
}

.title {
  width: 100%;
  height: 16px;
  margin-bottom: 2px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.value {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 2px;
}
.creator {
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__field {
    height: 36px;
    width: inherit;
    padding-left: 10px;
    color: white;
    font-size: 13px;
    border: 1px solid var(--color-astue-mat-select-border);
    border-radius: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__field-big {
    height: 97px;
    width: inherit;
    padding-left: 10px;
    color: white;
    font-size: 13px;
    border: 1px solid var(--color-astue-mat-select-border);
    border-radius: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__field-biggest {
    height: 85px;
    width: inherit;
    padding-left: 10px;
    color: white;
    font-size: 13px;
    border: 1px solid var(--color-astue-mat-select-border);
    border-radius: 2px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.header-workspace {
  width: 100%;
  height: 60px;
  background: var(--color-events-bg-filters);
  border-right: 1px solid var(--color-cd-bg-border);
  border-left: 1px solid var(--color-cd-bg-border);
  box-sizing: border-box;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 13px;
  line-height: 16px;
  &__button {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__container {
    flex-grow: 1;
    min-width: 100px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1px;
    background-color: var(--evj-color-bg-btn);
    cursor: pointer;
    color: var(--color-event-card-font-sub);
  }
}
.right-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active-button {
  background-color: var(--color-new-header-active);
  color: white;
}
evj-rect-button {
  width: 100%;
  height: 100%;
}
.button-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
