<div class="container">
  <h3>{{ chip.name || '-' }}</h3>
  <div class="container__info">
    <span class="text">
      <span class="title">Описание: </span>{{ chip.description || '-' }}
    </span>
  </div>
  <div class="container__info">
    <span class="text">
      <span class="title">Позиция: </span>{{ chip.position || '-' }}
    </span>
  </div>
  <div class="container__info">
    <span class="text">
      <span class="title">PI тег: </span>{{ chip.piTag || '-' }}
    </span>
  </div>
</div>
