* {
  box-sizing: border-box;
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  height: 24px;
  width: 200px;
  margin: 3px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 24px 2px 2px 24px;
  border: 1px solid var(--sou-mvp-color-border);
  background: var(--sou-mvp-color-bg-title);

  cursor: pointer;

  position: relative;

  .diagram-container {
    height: 100%;

    flex: 1;
    display: flex;

    border-right: 1px solid var(--sou-mvp-color-border);
    border-radius: 14px 0 0 14px;
  } 

  .diagram {
    height: 24px;
    width: 24px;
  }

  .diagram-values {
    .value {
      font-size: 12px;
      line-height: 14px;
      color: var(--sou-mvp-color-text-info);
    }

    .unit {
      font-size: 8px;
      line-height: 10px;
      color: var(--sou-mvp-color-text-diagram-sub);
    }
  }

  .weight {
    height: 100%;
    width: 56px;
    padding: 0 10px;

    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 14px;
    color: var(--sou-mvp-color-text-info);

    background: var(--sou-mvp-color-bg-main);
  }

  .diagram-title {
    max-width: 90px;
    display: flex;
    align-items: center;

    padding-left: 5px;
    .title {
      font-size: 12px;
      line-height: 14px;
  
      color: var(--sou-mvp-color-text-diagram-main);
    }
  }

  .connection-circle {
    height: 8px;
    width: 8px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
  
    background: var(--sou-mvp-color-bg-main);
    border: 1px solid var(--sou-mvp-color-border);
  
    position: absolute;
    right: -4px;
    z-index: 9999;
  }

  ::ng-deep {
    svg {
        .diagram-inner {
          fill: var(--sou-mvp-color-border);
        }
  
        .diagram-value {
          fill: var(--sou-mvp-color-white);
        }
    }
  }
}


.off {
  border: 1px solid var(--sou-mvp-color-bg-title);
  background: var(--sou-mvp-color-bg-main);

  .diagram-container {
    border-right: 1px solid var(--sou-mvp-color-bg-title);
  }

  .diagram-values {
    .value {
      color: var(--sou-mvp-color-text-diagram-sub);
    }

    .unit {
      color: var(--sou-mvp-color-text-diagram-sub);
    }
  }

  .weight {

    color: var(--sou-mvp-color-text-diagram-sub);
    background: var(--sou-mvp-color-bg-main);
  }

  .diagram-title {
    .title {
      color: var(--sou-mvp-color-text-diagram-sub);
    }
  }

  .connection-circle {
    border: 1px solid var(--sou-mvp-color-bg-title);
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-bg-title);
      }
    }
  }
}

.warning {
  border: 1px solid var(--sou-mvp-color-warning);
  background: var(--sou-mvp-color-bg-warning);

  .diagram-container {
    border-right: 1px solid var(--sou-mvp-color-warning);
  }

  .diagram-values {
    .value {
      color: var(--sou-mvp-color-text-diagram-main);
    }

    .unit {
      color: var(--sou-mvp-color-text-diagram-main);
    }
  }

  .weight {
    color: var(--sou-mvp-color-text-diagram-main);
    background: var(--sou-mvp-color-bg-warning);
  }

  .diagram-title {
    .title {
      color: var(--sou-mvp-color-text-diagram-main);
    }
  }

  .connection-circle {
    border: 1px solid var(--sou-mvp-color-warning);
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-warning);
      }
    }
  }

}

.selected {
  border: 1px solid var(--sou-mvp-color-active);
  background: var(--sou-mvp-color-bg-active-spec);

  .diagram-container {
    background: var(--sou-mvp-color-bg-active-spec);
    border-right: 1px solid var(--sou-mvp-color-active);
  }

  .diagram-values {
    .value {
      color: var(--sou-mvp-color-text-diagram-main);
    }

    .unit {
      color: var(--sou-mvp-color-text-diagram-main);
    }
  }

  .weight {
    color: var(--sou-mvp-color-text-diagram-main);
    background: var(--sou-mvp-color-bg-active-spec);
  }

  .diagram-title {
    .title {
      color: var(--sou-mvp-color-text-diagram-main);
    }
  }

  .connection-circle {
    border: 1px solid var(--sou-mvp-color-active);
  }

  ::ng-deep {
    svg {
      .diagram-inner {
        fill: var(--sou-mvp-color-border);
      }

      .diagram-value {
        fill: var(--sou-mvp-color-white);
      }
    }
  }
}
