<div class="container"
  [ngClass]="{
    off: !flowData?.isEnable,
    warning: flowData?.isExceedingConfInterval && !!flowData?.isEnable,
    selected: flowData?.code === mvpService.selectedCode
  }"
  (click)="mvpService.openPopup(sections, flowData?.code)"
>
  <div class="diagram-container">
    <div class="diagram" #chart></div>
    <div class="diagram-values">
      <span class="value">{{flowData?.tolerance}}</span>
      <span class="unit">%</span>
    </div>
    <div class="diagram-title">
      <span class="title">{{flowData?.tag}}</span>
    </div>
  </div>
  <div class="weight">
    <span [ngSwitch]="choosenSetting">
      <ng-template ngSwitchCase="1">{{flowData?.valueByHour}}</ng-template>
      <ng-template ngSwitchCase="2">{{flowData?.valueTank}}</ng-template>
      <ng-template ngSwitchDefault>{{flowData?.valueMoment}}</ng-template>
    </span> тн
  </div>
  <div
    class="connection-circle"
    *ngIf="!noPoint"
  ></div>
</div>
