<div class="container">
  <div class="alert">
    <div class="claims">
      <div class="list">
        <ng-container *ngFor="let claim of allClaims">
          <div
            class="card"
            *ngIf="claimsFilter(claim)"
            [ngClass]="{'card_active':selectClaim.isSelected(claim)}"
            (click)="selectClaim.select(claim)"
          >
            {{claim.claimName}}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="search" *ngIf="selectClaim.hasValue()">
      <input type="text" placeholder="Поиск" [(ngModel)]="search" (keyup)="searchFn($event)">
    </div>
    <div class="list-button" *ngIf="selectClaim.hasValue()" (click)="onClickListButton()">
      {{checkIsAllSelected() ? 'Выделить все' : 'Снять выделение'}}
    </div>
    <div class="items">
      <div class="list" *ngIf="selectClaim.hasValue()">
        <ng-container *ngFor="let widget of selectClaim?.selected[0]?.widgets">
          <div
            class="card"
            [ngClass]="{'card_active': widget.isActive}"
            (click)="changeActiveWidget(widget)"
          >
            {{widget.title}}
          </div>
        </ng-container>
        <ng-container *ngFor="let unit of selectClaim?.selected[0]?.units">
          <div
            class="card"
            [ngClass]="{'card_active': unit.isActive}"
            (click)="changeActiveUnit(unit)"
          >
            {{unit.name}}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Подтвердить'"
        (click)="onSave()"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        [textButton]="'Назад'"
        (click)="onBack()"
      ></evj-button>
    </div>
  </div>
</div>
