<div class="container pointer-event">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [id]="id"
    [uniqId]="uniqId"
    [icon]="widgetIcon"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>
  <div class="content">
    <section
      class="table"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="table__header scroll-bar">
        <table *ngIf="data">
          <thead>
            <tr class="header__items">
              <th class="header header__date" *ngFor="let column of displayedColumns">
                {{ column.caption }}
              </th>
            </tr>
          </thead>
          <tbody class="table__body">
            <tr class="table__item" *ngFor="let item of data.values">
              <td class="item item__date" *ngFor="let item2 of item">
                {{ getValue(item2.value) }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>

  <evj-frame-bottom></evj-frame-bottom>
</div>
