<div class="in-streams">
  <table class="table">
    <thead class="table__header">
    <tr class="header__row">
      <th class="header__column"></th>
      <th class="header__column header__column__trust-value">Уровень доверия</th>
      <th class="header__column"></th>
      <th class="header__column header__column__diff">Мгновен. значение</th>
      <th class="header__column header__column__diff">Значение за час</th>
      <th class="header__column header__column__diff">Накоп.</th>
      <th class="header__column">Согл.</th>
      <th class="header__column"></th>
      <th class="header__column"></th>
    </tr>
    </thead>
    <tbody class="table__body">
    <tr class="body__row"
        *ngFor="let item of flowOut; let idx = index"
        [class.body__row_inactivity]="!item.isEnable">
      <td class="body__column body__column--padding-disabled">
        <div class="column__block-pims">
          <div class="column__block-pims__slide">
            <mat-slide-toggle [(ngModel)]="item.isEnable" disableRipple="true"></mat-slide-toggle>
          </div>
          <span class="column__block-pims__value"
                [class.column__block-pims__value_deviation]="item.isExceedingConfInterval"
                [class.column__block-pims__value--no-active]="!item.isEnable"
                [matTooltip]="item.tag">{{ item.tag }}</span>
        </div>
      </td>
      <td class="body__column column body__column--padding-disabled body__column__trust-level">
        <span class="body__column column__trust-level"
              [class.column__trust-level_deviation]="item.isExceedingConfInterval"
              [class.column__trust-level--no-active]="!item.isEnable">{{ item.tolerance }}%</span>
      </td>
      <td class="body__column">{{ item.productName }}</td>
      <td
        class="body__column">
        <div class="column">
          <div class="column__block">
            <svg-icon
              class="column__icon"
              src="assets/icons/widgets/SOU/sou-in-streams/lightning.svg"
              [svgStyle]="{ 'width.px': 8, 'height.px': 12 }"
            ></svg-icon>
            <span class="column__value">{{ item.valueMoment | spaceNumber }}</span>
            <span class="column__eng-value">т/ч</span>
          </div>

          <span class="column__percent"
                [class.column__percent_inactivity]="!item.isEnable">{{ item?.valueMomentPercent }}
            %</span>
        </div>
      </td>
      <td class="body__column">
        <div class="column__block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-in-streams/stopwatch.svg"
            [svgStyle]="{ 'width.px': 8, 'height.px': 9 }"
          ></svg-icon>
          <span class="column__value">{{ item.valueByHour | spaceNumber }}</span>
          <span class="column__eng-value">т</span>
        </div>

        <span class="column__percent"
              [class.column__percent_inactivity]="!item.isEnable">{{ item?.valueByHourPercent }}
          %</span>
      </td>
      <td class="body__column">
        <div class="column__block">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-in-streams/accum.svg"
            [svgStyle]="{ 'width.px': 8, 'height.px': 9 }"
          ></svg-icon>
          <span class="column__value"> {{ item.valueTank | spaceNumber }}</span>
          <span class="column__eng-value">т</span>
        </div>

        <span class="column__percent"
              [class.column__percent_inactivity]="!item.isEnable">{{ item?.valueTankPercent }}
          %</span>
      </td>
      <td class="body__column body__column__text_grey">{{ item.valueCalculate }}</td>
      <td class="body__column body__column__text_grey">{{ item.valueMeasuring }}
        <svg-icon
          *ngIf="item.dscFlow.length > 0"
          class="column__svg_row"
          src="assets/icons/widgets/SOU/sou-out-streams/tree__line__row.svg"
          [svgStyle]="{ 'width.px': 7, 'height.px': 2 }"
        ></svg-icon>
      </td>
      <td class="body__column">

        <ul class="column__list">
          <li *ngFor="let i of item.dscFlow; let idx = index; last as isLast"
              class="list__item"
              [class.list__item_inactivity]="!i.isEnable"
          >
            <ng-container *ngIf="item.dscFlow.length > 1">
              <svg-icon
                *ngIf="idx === 0"
                class="item__svg_first"
                src="assets/icons/widgets/SOU/sou-out-streams/tree__line__first.svg"
                [svgStyle]="{ 'width.px': 2, 'height.px': 11 }"
              ></svg-icon>
              <svg-icon
                *ngIf="idx !== 0 && !isLast"
                class="item__svg_middle"
                src="assets/icons/widgets/SOU/sou-out-streams/tree__line__middle.svg"
                [svgStyle]="{ 'width.px': 2, 'height.px': 17 }"
              ></svg-icon>
              <svg-icon
                *ngIf="isLast"
                class="item__svg_last"
                src="assets/icons/widgets/SOU/sou-out-streams/tree__line__first.svg"
                [svgStyle]="{ 'width.px': 12, 'height.px': 9 }"
              ></svg-icon>
            </ng-container>
            <svg-icon
              class="item__svg"
              src="assets/icons/widgets/SOU/sou-out-streams/tree__line.svg"
              [svgStyle]="{ 'width.px': 12, 'height.px': 3 }"
            ></svg-icon>
            {{ i.name }}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="footer">
    <ng-container *ngFor="let section of sections">
      <ng-container *ngIf="!section.isEnable">
        <div class="footer__items">
          <ul class="footer__list">
            <ng-container *ngFor="let item of section.flowOut">
              <li class="footer__item"
                  [class.footer__item_deviation]="item.isExceedingConfInterval">{{ item.tag }}</li>
            </ng-container>
          </ul>
        </div>
        <div class="footer__block-btn">
          <div class="footer__btn"
               matRipple
               [matRippleColor]="'black'">
            <svg-icon
              src="assets/icons/widgets/SOU/sou-in-streams/factory.svg"
              [svgStyle]="{ 'width.px': 17, 'height.px': 16 }"
            ></svg-icon>
            <span class="footer__text"
            >{{ section.name }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
