* {
  font-size: 12px;
  box-sizing: border-box;
}

.in-streams {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;

  .table {
    border-collapse: collapse;

    &__header {
      .header {
        &__column {
          font-size: 11px;
          vertical-align: bottom;
          padding: 0 7px 10px 7px;

          &__diff {
            min-width: 85px;
          }
          &__trust-value {
            max-width: 50px;
          }
        }
      }
    }

    &__body {
      .body {
        &__row {
          &_inactivity {
            color: var(--color-sou-text-sub) !important;
          }
        }

        &__column {
          padding: 0 7px;
          height: 32px;
          position: relative;

          &__svg-line {
            margin-left: 8px;
          }

          &__text_grey {
            color: var(--color-border-main);
          }

          &--padding-disabled {
            padding: 0;
          }

          &__trust-level {
            text-align: end;
          }

          .column {
            display: flex;
            flex-direction: column;

            &__svg_row {
              position: absolute;
              right: -14px;
              top: 50%;
              transform: translate(-50%, -70%);
            }

            &__list {
              list-style: none;
              padding: 0;
              margin: 0;

              margin-left: 20px;

              .list__item {
                position: relative;

                &_inactivity {
                  color: var(--color-sou-text-sub) !important;
                }

                .item {
                  &__svg {
                    position: absolute;
                    top: 50%;
                    left: -12px;
                    transform: translate(-50%, -70%);

                    &_first {
                      position: absolute;
                      left: -18px;
                      top: 6px;
                    }

                    &_middle {
                      position: absolute;
                      left: -18px;
                      top: -1px;
                    }

                    &_row {
                      position: absolute;
                      top: 0;
                      bottom: 0;
                      margin: auto;
                      left: 0;
                      right: 0;
                    }

                    &_last {
                      position: absolute;
                      left: -23px;
                      top: -4px;
                    }
                  }
                }
              }
            }

            &__block {
              display: flex;
              justify-content: flex-start;
            }

            &__eng-value {
              margin-left: 8px;
              font-size: 11px;
            }

            &__value {
              margin-left: 7px;
              font-size: 14px;
            }

            &__trust-level {
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
              background-color: var(--color-gray80);
              display: flex;
              align-items: center;
              height: 20px;

              &_inactivity {
                color: var(--color-sou-text-sub);
              }

              &_deviation {
                background-color: var(--color-cd-warning);
              }

              &--no-active {
                background-color: var(--color-sou-bg-sup);
              }
            }

            &__block-pims {
              display: flex;
              justify-content: flex-end;

              &__value {
                display: flex;
                align-items: center;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                background-color: var(--color-astue-onpz-bg-data-icon);
                height: 20px;
                padding-left: 6px;
                padding-right: 31px;
                margin-top: 2px;
                font-size: 14px;
                width: 80px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &_deviation {
                  background-color: var(--color-cd-warning);
                }

                &--no-active {
                  background-color: var(--color-sou-bg-sup);
                }
              }

              &__slide {
                margin-left: 10px;
                min-width: 36px;

                ::ng-deep {
                  .mat-slide-toggle-bar {
                    height: 10px !important;
                    width: 23px !important;
                  }

                  .mat-slide-toggle-thumb {
                    height: 14px !important;
                    width: 14px !important;
                    margin-top: 1px;
                  }

                  .mat-slide-toggle .mat-slide-toggle-ripple {
                    height: 30px;
                    width: 30px;
                  }

                  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
                    background-color: var(--color-kpe-gaude-active);
                  }

                  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
                    background-color: var(--color-text-main);
                  }

                  .mat-ripple-element {
                    background-color: transparent;
                  }
                }
              }
            }

            &__percent {
              display: flex;
              justify-content: flex-start;
              color: var(--color-border-main);
              margin-left: 16px;
              white-space: nowrap;

              &_inactivity {
                color: var(--color-sou-text-sub);
              }
            }
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 15px;

    &__items {
    }

    &__list {
      list-style: none;
      padding: 0;
      margin: 0;

      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 5px;
      margin-right: 10px;
    }

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 35px;
      width: 66px;
      border-radius: 2px;

      background-color: var(--color-gray80);

      &_deviation {
        background-color: var(--color-cd-warning);
      }
    }

    &__block-btn {
      display: flex;
      align-items: flex-end;
    }

    &__btn {
      cursor: pointer;
      height: 35px;
      width: 165px;
      border-radius: 2px;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--color-gray80);
    }

    &__text {
      margin-left: 10px;
    }
  }
}
