<div class="main-container">
  <evj-contemporary-widget-header [uniqId]="widgetUniqId" type="astue">
    <div class="header">
      <div class="tabs" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div
          class="tabs__item"
          [class.tabs__item_active]="currentTab === i"
          *ngFor="let tab of tabsList$ | async; let i = index"
          (click)="changeTab(i)"
        >
          {{tab?.name === 'Вкладка 1' ? 'Загрузка установок' : 'Выработка компонентов'}}
        </div>
      </div>

      <div class="btn-list" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
        <div class="button-add" matRipple [matRippleColor]="'white'">
          <div class="button-container">
            <svg-icon [svgStyle]="{'height.px':'16', 'width.px': '16'}" src="assets/icons/add_button.svg"></svg-icon>
          </div>
        </div>
        <div class="button-download" matRipple [matRippleColor]="'white'">
          <div class="button-container">
            <svg-icon [svgStyle]="{'height.px':'16', 'width.px': '16'}" src="assets/icons/download_button.svg"></svg-icon>
          </div>
        </div>
      </div>
    </div>    
  </evj-contemporary-widget-header>
  <div class="component" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
    <ng-container style="height: 100%"
    *ngComponentOutlet="specialComponent; injector: (widgetId | fn:getInjector : (tabsList$ | async)[currentTab]?.id);"
    ></ng-container>
  </div>
</div>
