<evj-contemporary-widget-header
  [uniqId]="widgetUniqId"
  type="astue"
>
  <div class="button-add" matRipple [matRippleColor]="'white'"
  >
    <div class="button-container">
      <svg-icon
        [svgStyle]="{'height.px':'16', 'width.px': '16'}"
        src="assets/icons/add_button.svg"
      ></svg-icon>
    </div>
  </div>
  <div class="button-download" matRipple [matRippleColor]="'white'"
  >
    <div class="button-container">
      <svg-icon
        [svgStyle]="{'height.px':'16', 'width.px': '16'}"
        src="assets/icons/download_button.svg"
      ></svg-icon>
    </div>
  </div>
</evj-contemporary-widget-header>
<div
  class="container"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
>
  <table class="table">
    <thead class="table__header">
    <tr>
      <ng-container *ngFor="let column of columnsToDisplay">
        <ng-container *ngIf="column.id === '1'; else names">
          <th>
            <div class="input">
              <evj-rectangle-input placeholder="Поиск по компонентам"></evj-rectangle-input>
            </div>
          </th>
        </ng-container>
        <ng-template #names>
          <th>
            <span>{{ column.name }}</span>
          </th>
        </ng-template>
      </ng-container>
    </tr>
    </thead>
    <tbody class="table__body">
    <ng-container *ngFor="let element of data">
      <tr
        class="table__body__row"
        [class.last-tr]="element.unit.name === 'last-row'"
        [class.table__body__row--active]="selectedRowProduct === element.unit.name"
      >
        <ng-container *ngIf="element.unit.name !== 'last-row'">
          <td
            class="table__body__column"
            [class.table__body__column--active]="selectedRowProduct === element.unit.name"
            (click)="onClickRow($event, element)"
            colspan="10"
          >
            <div
              (click)="onClickRow($event, element.unit)"
              class="table__body__column__row-title"
              [class.table__body__column__row-title__border-active]="selectedRowProduct === element.unit.name"
            >
              <svg-icon
                class="table__body__column__row-title__icon"
                (click)="onClickTr($event, element.unit)"
                [ngClass]="{
                  'table__body__column__row-title__icon--active':expandedElement.isSelected(element.unit.name)
                  }"
                src="assets/icons/widgets/APS/aps-gantt-chart/plus.svg"
              >
              </svg-icon>
              <div class="table__body__column__row-title">
                <div class="table__body__column__row-title__text__name">
                  <span>{{ element.unit.name }}</span>
                </div>
                <div class="table__body__column__row-title__text__name__value-right"
                >
                  <div class="deviations">
                    Отклонений:
                    <div class="default-text">{{ deviationCount(element) }}</div>
                  </div>
                  <div class="deviations">
                    Некритичные:
                    <div class="warning-text">{{ notCriticalCount(element) }}</div>
                  </div>
                  <div class="deviations">
                    Критичные:
                    <div class="danger-text">{{ criticalCount(element) }}</div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
      <ng-container *ngFor="let elementChildren of element.parameters;  index as i;">
        <tr
          *ngIf="expandedElement.isSelected(element.unit.name)"
          class="table__body__row expanded-row"
          (click)="onClickRowChildren($event, elementChildren)"
        >
          <td
            *ngFor="let column of columnsToDisplay"
            class="expanded-column table__body__column table__body__column__children"
            [ngClass]="{
                  'expanded-column__warning': column.id === '8' && elementChildren.isNotCritical !== 0
                  || column.id === '9' && elementChildren.isNotCritical !== 0,
                  'expanded-column__danger': column.id === '8' && elementChildren.isCritical !== 0
                  || column.id === '9' && elementChildren.isCritical !== 0
                  }"

            [matTooltip]="elementChildren?.name"
          >
            <div
              *ngIf="column.id === '1'"
              class="table__body__column__row-title table__body__column__row-title-children"
              [class.opacity]="selectedRow.isSelected(element.unit.name) && this.selectedRowProduct"
            >

              <svg-icon
                [svgStyle]="{'height.px':'43', 'width.px': '21'}"
                class="table__body__column__row-title-children__left-block--first"
                [class.table__body__column__row-title-children__left-block--first__warning]="elementChildren.isNotCritical !== 0"
                [class.table__body__column__row-title-children__left-block--first__danger]="elementChildren.isCritical !== 0"
                [class.table__body__column__row-title-children__left-block--first__default]="selectedRowProduct !== elementChildren.name"
                [class.table__body__column__row-title-children__left-block--first__active]="selectedRowProduct === elementChildren.name && elementChildren.isNotCritical === 0"
                [class.table__body__column__row-title-children__left-block--first__active-warning]="selectedRowProduct === elementChildren.name && elementChildren.isNotCritical !== 0"

                [src]="'assets/icons/widgets/APS/aps-recipe-diagram/astue-table-left-row-block-recipe.svg'"
              >
              </svg-icon>
              <div
                class="table__body__column__row-title__text__subname"
                [class.table__body__column__row-title--no-active]="selectedRow.isSelected(element.unit.name)">
                <span>{{ elementChildren.name }}</span>
              </div>
              <div
                class="table__body__column__row-title__engUnit"
                [class.table__body__column__row-title--no-active]="selectedRow.isSelected(element.unit.name)"
              >
              </div>
            </div>
            <ng-container *ngIf="column.id === '2'">
              <div class="value">
                <span>{{elementChildren.plan }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '3'">
              <div class="value">
                <span>{{elementChildren.average }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '4'">
              <div class="value">
                <span>{{elementChildren.instant }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '5'">
              <div class="value">
                <span>{{elementChildren.accumulation }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '6'">
              <div class="value">
                <span>{{elementChildren.percentPlan }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '7'">
              <div class="value">
                <span>{{elementChildren.predictPercent }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '8'">
              <div class="value">
                <span>{{elementChildren.deviationValue }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '9'">
              <div class="value">
                <span>{{elementChildren.deviationPercent }}</span>
              </div>
            </ng-container>
            <ng-container *ngIf="column.id === '10'">
              <div class="value">
                <span>{{elementChildren.recommended }}</span>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </table>
  <div class="container__footer">
    <div class="container__date">
      <div class="container__date__title">
        Время и дата
      </div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
    <div class="container__date">
      <div class="container__date__title">
        Время начала отсчета
      </div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
    <div class="container__date">
      <div class="container__date__title">
        Прогнозное время
      </div>
      <div class="container__date__element">
        <evj-kpe-select></evj-kpe-select>
      </div>
      <div class="container__date__element">
        <evj-kpe-datetimepicker></evj-kpe-datetimepicker>
      </div>
    </div>
  </div>
</div>

