.main-container {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.component {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  background-color: var(--bg-body-color);
  border: 1px solid var(--border-vidget-color);
}
.button-add {
  position: absolute;
  top: 6px;
  right: 75px;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background-color: var(--gray-G9-color);

  display: flex;
  align-items: center;
  justify-content: center;
}
.button-download {
  position: absolute;
  top: 6px;
  right: 42px;
  width: 28px;
  height: 28px;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container {
  width: 16px;
  height: 16px;
  
  &:hover {
    cursor: pointer;
  }
}

.header {
  height: 40px;

  flex: 1;
  display: flex;
  align-items: center;

  .tabs {
    display: flex;

    &__item {
      height: 40px;
      padding: 0 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: 2px solid var(--gray-G9-color);

      font-size: 13px;
      line-height: 16px;
      color: var(--text-main-color);

      cursor: pointer;

      &_active {
        border-color: var(--border-blue-color);
        color: var(--text-alwaysWhite-color);
      }
    }
  }
}
