.chart {
  ::ng-deep {
    .total {
      font-size: 11px;
      line-height: 14px;

      fill: var(--index-fact-color);
    }

    .deviation{
      font-size: 7px;
      line-height: 10px;

      &__grey {
        fill: var(--text-subscript-color);
      }
      &__yellow {
        fill: var(--index-error-color);
      }
      &__green {
        fill: var(--index-green1-color);
      }
    }

    .unit {
      font-size: 7px;
      line-height: 10px;

      fill: #606580;
    }


    .desc {
      font-size: 6px;
      line-height: 10px;

      fill: #fff;
    }

    .circle__dark {
      fill: var(--bg-dashboard-color);
    }

    .background-pie {
      fill: transparent;
    }

    .serif {
      fill: var(--gray-G6-color);
    }

    .axis-value {
      fill: #606580;

      font-size: 7px;
      line-height: 10px;
    }

    .diagram-section{
      &-Red {
        fill: var(--index-critical-color);
        opacity: 0.25;
      }
      &-Yellow {
        fill: var(--index-error-color);
        opacity: 0.25;
      }
      &-Blue {
        fill: var(--index-plan-color);
        opacity: 0.25;
      }
      &-Green {
        fill: var(--index-green1-color);
        opacity: 0.25;
      }
    }

    .diagram-section-serif{
      &-Red {
        fill: var(--index-critical-color);
      }
      &-Yellow {
        fill: var(--index-error-color);
      }
      &-Blue {
        fill: var(--index-plan-color);
      }
      &-Green {
        fill: var(--index-green1-color);
      }
    }

    .needle {
      fill: var(--index-fact-color);
    }

    .needle-shadow-gradient-1 {
      stop-color: var(--index-fact-color);
      stop-opacity: 0.15;
    }

    .needle-shadow-gradient-2 {
      stop-color: transparent;
      stop-opacity: 0;
    }
  }
}
