<div class="person">
  <ng-container *ngIf="!isSmallCard; else smallCard">
    <svg width="100%" height="100%" viewBox="0 0 50 50">
      <image
        x="-39"
        y="-0.5"
        width="120"
        height="50"
        xlink:href="../../../../../assets/icons/widgets/admin/worker-card.svg"
      />
      <image
        x="-36"
        y="0"
        width="42"
        height="42"
        xlink:href="../../../../../assets/icons/widgets/admin/default_avatar.svg"
      />
      <text x="33" y="9" text-anchor="start" class="svg__txt">
        {{person.phone}}
      </text>
      <text x="33" y="20" text-anchor="start" class="svg__txt">
        {{person.email}}
      </text>
      <text x="33" y="32" text-anchor="start" class="svg__txt">
        {{person.brigade}}
      </text>
      <text x="33" y="43" text-anchor="start" class="svg__txt">
        {{person.accessLevel}}
      </text>
    </svg>
  </ng-container>

  <ng-template #smallCard>
    <svg width="100%" height="100%" viewBox="0 0 50 50">
      <image
        x="-74.4"
        y="0"
        width="200"
        height="50"
        [attr.xlink:href]="(isActiveCard)?srcCardActive:srcCardNormal"
      />
      <image
        x="-36"
        y="0.5"
        width="42"
        height="42"
        xlink:href="assets/icons/widgets/admin/default_avatar.svg"
      />

      <text
        x="20"
        y="15"
        text-anchor="start"
        class="svg__txt-small"
        [ngClass]="{'svg__txt-small-active':isActiveCard}"
      >
        {{person.name}}
      </text>
      <text
        x="20"
        y="39"
        text-anchor="start"
        class="svg__txt-small"
        [ngClass]="{'svg__txt-small-active':isActiveCard}"
      >
        {{person.position}}
      </text>
    </svg>
  </ng-template>
</div>
