<div class="person" *ngIf="person">
  <ng-container *ngIf="!isSmallCard; else smallCard">
    <svg width="100%" height="100%" viewBox="0 0 50 50">
      <image x="-36" y="3.5" width="42" height="42" style="clip-path: circle(16px at center);" [attr.xlink:href]="photoPath" />

      <image
        x="-39"
        y="-0.5"
        width="120"
        height="50"
        xlink:href="assets/icons/widgets/admin/worker-card.svg"
      />

      <text x="33" y="9" text-anchor="start" class="svg__txt">
        {{person.phone}}
      </text>
      <text x="33" y="20" text-anchor="start" class="svg__txt">
        {{person.email}}
      </text>
      <text x="33" y="32" text-anchor="start" class="svg__txt" *ngIf="person.id; else noselected">
        {{getPersonUnit()}}{{getPersonBrigade()}}
      </text>
      <ng-template #noselected>
        <text x="33" y="32" text-anchor="start" class="svg__txt">
          {{getPersonUnit()}}{{getPersonBrigade()}}
        </text>
      </ng-template>
      <text x="33" y="43" text-anchor="start" class="svg__txt">
        {{1}}
      </text>
      <image
        x="-35"
        y="40"
        width="9"
        height="9"
        [attr.xlink:href]="mainWorkerPath"
        *ngIf="checkPersonResponsibility()"
      />
    </svg>
  </ng-container>

  <ng-template #smallCard>
    <svg width="100%" height="100%" viewBox="0 0 200 100" class="small">
      <image x="-36" y="10" width="80" height="80" style="clip-path: circle(32px at center);" [attr.xlink:href]="photoPath" />
      
      <image
        x="-65"
        y="0"
        width="300"
        height="100"
        [attr.xlink:href]="(isActiveCard)?srcCardActive:srcCardNormal"
      />

      <text
        x="65"
        y="32"
        text-anchor="start"
        class="svg__txt-small"
        [ngClass]="{'svg__txt-small-active':isActiveCard}"
      >
        {{getPersonName()}}
      </text>
      <text
        x="65"
        y="79"
        text-anchor="start"
        class="svg__txt-small"
        [ngClass]="{'svg__txt-small-active':isActiveCard}"
      >
        {{getPersonPosition()}}
      </text>
      <image
        x="-40"
        y="75"
        width="25"
        height="25"
        [attr.xlink:href]="mainWorkerPath"
        *ngIf="checkPersonResponsibility() && isActiveCard"
      />
      <image
        x="-40"
        y="75"
        width="25"
        height="25"
        [attr.xlink:href]="mainWorkerPathDisable"
        *ngIf="checkPersonResponsibility() && !isActiveCard"
      />
    </svg>
  </ng-template>
</div>
