<!-- <div [ngClass]="{'person':!isSmallCard,'person-small':isSmallCard}">
  <div class="person__photo">
    <div class="photo__frame">
      <div class="photo__avatar">
        <img src="" alt="" />
      </div>
    </div>
  </div>
  <ng-container *ngIf="!isSmallCard; else smallCard">
    <div class="person__item block__frame-right">+7 (925) 599-99-87</div>
    <div class="person__item block__frame-right">Ivanov@gazprom-neft.ru</div>
    <div class="person__item block__frame-right">Бригада №1</div>
    <div class="person__item block__frame-right">Высокий уровень доступа</div>
  </ng-container>
  <ng-template #smallCard>
    <div class="person__item block__frame-right">Бригада №1</div>
    <div class="person__item block__frame-right">Высокий уровень доступа</div>
  </ng-template>
</div> -->

<div class="person">
  <ng-container *ngIf="!isSmallCard; else smallCard">
    <svg width="100%" height="100%" viewBox="0 0 50 50">
      <image
        x="-40"
        y="-0.5"
        width="50"
        height="50"
        xlink:href="../../../../../assets/icons/widgets/admin/frame.svg"
      />
      <image
        x="-36"
        y="0"
        width="42"
        height="42"
        xlink:href="../../../../../assets/icons/widgets/admin/default_avatar.svg"
      />

      <image
        x="-1.5"
        y="0.5"
        width="87"
        height="10"
        xlink:href="../../../../../assets/icons/widgets/admin/long-line.svg"
      />
      <image
        x="10"
        y="13"
        width="75"
        height="10"
        xlink:href="../../../../../assets/icons/widgets/admin/small-line.svg"
      />
      <image
        x="10"
        y="26"
        width="75"
        height="10"
        xlink:href="../../../../../assets/icons/widgets/admin/small-bottom-line.svg"
      />
      <image
        x="-2"
        y="39"
        width="87"
        height="10"
        xlink:href="../../../../../assets/icons/widgets/admin/long-bottom-line.svg"
      />
      <text x="33" y="6.5" text-anchor="start" class="svg__txt">
        {{person.phone}}
      </text>
      <text x="33" y="18.5" text-anchor="start" class="svg__txt">
        {{person.email}}
      </text>
      <text x="33" y="31.5" text-anchor="start" class="svg__txt">
        {{person.brigade}}
      </text>
      <text x="33" y="44.5" text-anchor="start" class="svg__txt">
        {{person}}
      </text>
    </svg>
  </ng-container>

  <ng-template #smallCard>
    <svg width="100%" height="100%" viewBox="0 0 100 50">
      <image
        *ngIf="active"
        x="-40"
        y="0"
        width="50"
        height="50"
        xlink:href="../../../../../assets/icons/widgets/admin/small-circle.svg"
      />
      <image
        *ngIf="!active"
        x="-40"
        y="0"
        width="50"
        height="50"
        xlink:href="../../../../../assets/icons/widgets/admin/border-no-active.svg"
      />
      <image
        x="-36"
        y="0.5"
        width="42"
        height="42"
        xlink:href="../../../../../assets/icons/widgets/admin/default_avatar.svg"
      />

      <image
        *ngIf="active"
        x="-7"
        y="0"
        width="110"
        height="22"
        xlink:href="../../../../../assets/icons/widgets/admin/double-line.svg"
      />
      <image
        *ngIf="!active"
        x="-7"
        y="0"
        width="110"
        height="22"
        xlink:href="../../../../../assets/icons/widgets/admin/double-no-active.svg"
      />
      <image
        *ngIf="active"
        x="-7"
        y="28"
        width="110"
        height="22"
        xlink:href="../../../../../assets/icons/widgets/admin/double-bottom-line.svg"
      />
      <image
        *ngIf="!active"
        x="-7"
        y="28"
        width="110"
        height="22"
        xlink:href="../../../../../assets/icons/widgets/admin/double-no-active-bottom.svg"
      />
      <text
        x="25"
        y="12"
        text-anchor="start"
        class="svg__txt"
        [ngClass]="{'svg__unactive': !active}"
      >
        {{person.lastName}} {{person.firstName}} {{person.middleName}}
      </text>
      <text
        x="25"
        y="40"
        text-anchor="start"
        class="svg__txt"
        [ngClass]="{'svg__unactive': !active}"
      >
        {{person.positionDescription}}
      </text>
    </svg>
  </ng-template>
</div>
