<div class="container">
  <div class="content">
    <div class="chart-container">
      <div class="axis" [style.top.%]="12.5">
        <div class="value">900</div>
        <div class="line-danger"></div>
      </div>
      <div class="axis axis_zero">
        <div class="value">0</div>
        <div class="line"></div>
      </div>
      <div class="axis" [style.bottom.%]="12.5">
        <div class="value">-900</div>
        <div class="line-danger"></div>
      </div>
      <div class="axis" [style.top.%]="25">
        <div class="value">600</div>
        <div class="line-warning"></div>
      </div>
      <div class="axis" [style.bottom.%]="25">
        <div class="value">-600</div>
        <div class="line-warning"></div>
      </div>
      <div class="axis" [style.top.%]="37.5">
        <div class="value">300</div>
      </div>
      <div class="axis" [style.bottom.%]="37.5">
        <div class="value">-300</div>
      </div>
      <div class="chart">
        <div
          class="chart__item"
          *ngFor="let item of dataToDisplay; let d = index"
          (click)="chooseDay(d)"
          [ngClass]="{'chart__item_selected':d + 1 === chosenDay}"
        >
          <ng-container *ngIf="item.y >= 0 else bottom">
          <div class="chart__top" [ngStyle]="{'height': item.y * scale + '%'}">
              <div class="value"></div>
          </div>
          </ng-container>

          <ng-template #bottom>
          <div class="chart__bottom" [ngStyle]="{'height': (-1) * item.y * scale + '%'}">
              <div class="value"></div>
          </div>
          </ng-template>
          <div class="day" *ngIf="(d+1) % 2 === 1">{{item.x}}</div>
        </div>
      </div>
      <div class="shadow"></div>
    </div>
    <div class="days"></div>
  </div>
</div>
