:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.mock {
  position: relative;
  display: block;
  height: 144px;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  img {
    width: 63%;
    height: 144px;
    margin-left: 85px;
  }
}

.col-chart {
  position: relative;

  width: 100%;
  height: calc(100% - 60px);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  padding: 0 10px 0 35px;

  .graphic {
    width: 100%;
    height: 100%;
  }

  .axis {
    position: absolute;
    width: 1px;
    height: 100%;
    z-index: 2;

    &-name {
      position: absolute;
      text-align: center;
      font-size: 15px;
      width: 200px;
      transform: rotate(-90deg);
      left: -115px;
      bottom: 50%;
      color: var(--color-text-sub-heading);
    }

    &-y {
      position: absolute;
      height: calc(100% - 100px);
      width: 1px;
      box-sizing: border-box;
      border-left: 0.5px solid var(--color-axis);
      z-index: 2;
      left: 0px;
      bottom: 50px;

      &__arrow {
        position: absolute;
        height: 15px;
        width: 10px;
        z-index: 3;
        left: -4px;
        top: 36px;

        svg-icon {
          fill: var(--color-axis);
          height: 100%;
          width: 100%;
        }
      }
    }

    &-x {
      position: absolute;
      width: 99%;
      height: 1px;
      box-sizing: border-box;
      border-bottom: 0.5px solid var(--color-axis);
      z-index: 2;
      bottom: 50px;
      left: 0px;

      &__arrow {
        position: absolute;
        height: 15px;
        width: 10px;
        z-index: 3;
        right: 4px;
        bottom: 43px;
        transform: rotate(90deg);

        svg-icon {
          fill: var(--color-axis);
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .graph {
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow-x: auto;
    overflow-y: hidden;

    &__cols {
      width: 100%;
      height: 100%;

      box-sizing: border-box;
      padding: 1px;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .col-component {
        height: 100%;
        width: 80px;
        min-width: 25px;
      }
    }
  }
}
