<div class="container pointer-event">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]=""
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="isMock">
    <div class="mock"></div>
  </ng-container>

  <ng-container *ngIf="!isMock">
      <div class="col-chart">
        <div class="axis-name">{{'количество отклонений'|uppercase}}</div>
        <div class="graph">
            <div class="axis-x__arrow"></div>
            <div class="axis-y__arrow"></div>
            <div class="axis-x"></div>
            <div class="axis-y"></div>
            <div class="graph__cols">
                <ng-container *ngFor="let col of cols">
                    <evj-ccs-one-column style="height: 100%;"></evj-ccs-one-column>
                </ng-container>
            </div>
        </div>
      </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
