<div class="chart-section" (mousedown)="$event.stopPropagation()"
     (touchstart)="$event.stopPropagation()">
  <div class="chart-section__info">
    <div class="chart-section__info__legends">
      <svg-icon
        class="chart-section__info__legends__icon"
        src="assets/icons/widgets/SOU/sou-workspace/legend_1.svg"
        [ngStyle]="{ 'height.px':10 }"
      ></svg-icon>
      <span class="chart-section__info__legends__text">Наименование легенды</span>
      <svg-icon
        class="chart-section__info__legends__icon"
        src="assets/icons/widgets/SOU/sou-workspace/legend_2.svg"
        [ngStyle]="{ 'height.px':10 }"
      ></svg-icon>
      <span class="chart-section__info__legends__text">Наименование легенды</span>
    </div>

    <label class="chart-section__info__switch">
      <input type="checkbox">
      <span class="slider round"></span>
      <label class="label">Источник</label>
      <label class="checked-label">Приемник</label>
    </label>

  </div>
  <div class="chart" #chart></div>
  <div class="chart-section__scroll">
    <evj-smart-scroll
      class="chart-section__scroll__smart"
      [limits]="selectedPeriod"
      [data]="data[0].graph"
      [(sbThumbLeft)]="sbLeft"
      [(sbThumbWidth)]="sbWidth"
    ></evj-smart-scroll>
  </div>
  <div class="chart-section__button" (click)="clickBtn()">
    <svg-icon
      class="chart-section__button__icon"
      src="assets/icons/widgets/SOU/sou-workspace/close.svg"
      [ngStyle]="{ 'height.px':16 }"
    ></svg-icon>
    <span>Закрыть</span>
  </div>
</div>
