:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
  }
}

.chart-section {
  width: 100%;
  background-color: var(--gray-G11-color);
  padding-top: 42px;
  padding-left: 10px;
  padding-right: 30px;
  min-height: 370px;

  &__info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-right: 30px;

    &__legends {
      padding-left: 44px;

      &__icon {
        line-height: 5px;
      }

      &__text {
        padding-left: 8px;
        padding-right: 32px;
      }
    }

    &__switch {
      position: relative;
      display: inline-block;
      width: 213px;
      height: 20px;

      input {
        display:none;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        width: 50px;
        top: -4px;
        left: 80px;
        right: 0;
        bottom: 0;
        background-color: var(--index-plan-color);
        border: 1px solid var(--index-blue1-color);
        -webkit-transition: .4s;
        transition: .4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }


      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }

      .label {
        color: var(--text-contrast-color);
        padding-right: 10px;
      }

      .checked-label {
        position: absolute;
        left: 145px;
      }

      input:checked ~ .checked-label {
        color: var(--text-contrast-color);
      }

      input:checked ~ .label {
        color: var(--text-main-color);
      }
    }
  }

  &__scroll {
    height: 50px;
    min-height: 50px;
    max-height: 50px;

    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px 20px;

    &__smart {
      width: 100%;
      height: 100%;

      &::ng-deep {
        .scroll-bar .sb__track {
          background: var(--bg-body-color) !important;
        }
      }
    }
  }

  &__button {
    height: 24px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 98px;

    display: flex;
    align-items: center;

    border-radius: 2px;

    color: var(--gray-G1-color);
    background-color: var(--index-plan-color);
    padding: 0 13px;

    &__icon {
      margin-right: 9px;
    }
  }
}

.chart {
  width: 100%;
  height: 50%;

  &::ng-deep {
    .graph-line {
      &-fact,
      &-plan,
      &-lowerBorder,
      &-higherBorder {
        fill: none;
        opacity: 1;
        stroke: var(--index-fact-color);
      }

      &-fact,
      &-plan {
        stroke-width: 2;
      }

      &-lowerBorder,
      &-higherBorder {
        stroke: var(--index-plan-color);
      }

      &-plan {
        stroke: var(--index-plan-color);
      }

      &_warning {
        stroke: var(--index-error-color);
      }

      &_normal {
        stroke: var(--index-green1-color);
      }
    }

    .graph-area {
      &-higherBorder,
      &-lowerBorder {
        fill: var(--opacity-plan-20-color);
        opacity: 0.2;
      }

      &_warning {
        fill: var(--index-error-color);
        opacity: 0.2;
      }

      &_normal {
        fill: var(--index-green1-color);
        opacity: 0.2;
      }
    }

    .label {
      fill: var(--text-main-color);
      font-size: 12px;
    }

    .point {
      fill: var(--gray-G11-color);
      stroke-width: 2;

      &_plan {
        stroke: var(--index-plan-color);
      }

      &_fact {
        fill: var(--index-fact-color);
      }
    }

    .future {
      fill: var(--gray-G11-color);
      opacity: 0.5;

      &-line {
        stroke: var(--chart-axes-color);
        stroke-width: 2;
      }

      &-with-line {
        stroke: var(--gray-G1-color);
        stroke-width: 1;

        &_hor {
          stroke-width: 3;
        }
      }
    }

    .data {
      fill: var(--gray-G10-color);

      &-fact,
      &-plan,
      &-date {
        font-size: 13px;
        fill: var(--index-fact-color);
      }

      &-date {
        font-size: 11px;
      }

      &-plan {
        fill: var(--index-plan-color);
      }

      &-icon {
        fill: var(--gray-G9-color);
      }
    }
  }
}


