<div class="poser">
    <div class="back">
        <div class="photo">
        </div>
        <div class="block-top">
            <div class="fio-text text-formatter">
                Гребенщиов В.М.
            </div>
            <div class="type-text text-formatter">
                Старший оператор
            </div>
        </div>
        <div class="block-middle text-formatter">
            Успешно!
        </div>
        <div class="block-bottom">
            <div class="text text-formatter">
                Приложите Вашу карточку к считывателю!
            </div>
            <div class="loader">
                <img class="loader-img" src="../../../../../assets/gif/card-verify.gif">
            </div>
        </div>
        <div class="exit" (click)="closeVerifyWindow()">
            <img class="exit-img" src="../../../../../assets/icons/widgets/change-shift/close-button.svg">
        </div>
    </div>
</div>
