<div class="page-container">
  <div class="widget-container">



  </div>
</div>




<!--<div class="column-container">-->
<!--  <evj-sou-balance-card [data]="{type: 'in', title: 'Сумма входа'}"></evj-sou-balance-card>-->
<!--  <evj-sou-balance-card [data]="{type: 'out', title: 'Сумма выхода'}"></evj-sou-balance-card>-->
<!--  <evj-sou-balance-card [data]="{type: 'delta', title: 'Дельта'}"></evj-sou-balance-card>-->
<!--  <evj-sou-balance-card [data]="{type: 'balance', title: 'Допустимый баланс'}"></evj-sou-balance-card>-->
<!--</div>-->

<!--<evj-sou-production-table></evj-sou-production-table>-->

<!--<evj-sou-losses-table></evj-sou-losses-table>-->

<!--<evj-sou-detail-table></evj-sou-detail-table>-->

<!--<evj-sou-deviation-cards></evj-sou-deviation-cards>-->
