.page-container {
  width: 100%;
  height: 60em;
  display: flex;
}

.widget-container {
  width: 351px;
  height: 800px;
  margin: auto;
}

.column-container {
  display: flex;
  flex-flow: column;
  gap: 20px;
}
