%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.mock {
  position: relative;
  display: block;
  height: 200px;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  img {
    margin-top: 40px;
    width: 99%;
    height: 60px;
  }
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.eco-dia {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  border-right: 0.5px dashed var(--color-border-main-transparrent);
  border-left: 0.5px dashed var(--color-border-main-transparrent);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dl-dia {
  width: 100%;
  height: 60px;
  min-width: 415px;
  min-height: 60px;

  box-sizing: border-box;
  padding: 0 10px 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;

  span {
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
  }

  img {
    width: 15px;
    height: 15px;
  }

  &__deviation {
    width: 200px;
    height: 100%;

    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 10px;

    .deviation {
      &__worse {
        color: var(--color-warning);
      }
      &__better {
        color: var(--color-text-main);
      }

      &__worse,
      &__better {
        font-size: 12px;
      }
    }
  }

  &__graph {
    min-width: 270px;
    width: 100%;
    height: 100%;

    color: var(--color-text-diagram);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding-top: 20px;

    .graph {
      &__line {
        position: relative;

        width: 100%;
        height: 12px;

        svg {
          background: var(--color-bg-line-diagram);
          border-radius: 12px;

          box-sizing: border-box;
          padding: 0 2px;
        }

        .line {
          position: absolute;

          width: 2px;

          background: transparent;
          border-left: 1px solid var(--color-text-diagram);

          &__marking {
            height: 5px;

            bottom: -7px;

            &-0 {
              left: 3px;
            }

            &-50 {
              left: 100px;
            }
          }

          &__limit {
            height: 20px;
            right: 40px;
            top: -3px;

            &-lower {
              left: 0;
              border: none;
            }

            // &-higher {
            //   right: 15%;
            // }
          }

          .label {
            &__limit {
              font-size: 12px;
              position: absolute;
              right: -15px;

              &-lower {
                top: -20px;
              }

              &-higher {
                top: -20px;
              }
            }
          }
        }
      }
    }
  }
}
