.flex-container {
  display: flex;
  width: 100%;
  border: 1px dotted var(--color-border-main);
  //  margin-top: 60px;
  border-left-style: none;
  border-right-style: none;
  height: 100%;
}

.item {
  color: white;
  display: flex;
  height: 450px;
  margin-left: 20px;
  margin-top: 10px;
}

.tower {
  width: 90px;
  // height: 220px;

  margin: 0px auto;
  margin-top: 2px;
  display: flex;
  align-items: flex-end;
}

.value_tower {
  width: 60px;
  margin: 0 auto;
  height: 100%;
}

.value {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  position: absolute;
  margin-left: 22px;
  top: -20px;
  font-size: 14px;
}

.name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 14px;
  color: rgb(140, 153, 178);
  height: 10px;
  margin-top: 5px;
}

.good {
  border: 1px solid rgb(218, 218, 218, 0.6);
  border-bottom-style: none;
  background: linear-gradient(170deg, rgb(218, 218, 218, 0.2), rgba(27, 30, 39, 0.2));
  // box-shadow: inset 0 90px 90px rgb(218, 218, 218, 0.1);
}
.bad {
  border: 1px solid rgb(255, 165, 0, 0.6);
  border-bottom-style: none;
  background: linear-gradient(170deg, rgb(255, 165, 0, 0.2), rgba(27, 30, 39, 0.2));
  // box-shadow: inset 0 90px 90px rgb(255, 165, 0, 0.1);
}
.all {
  border: 1px solid rgba(158, 215, 245, 0.6);
  border-bottom-style: none;
  // box-shadow: inset 0 90px 90px rgb(40, 184, 219, 0.1);
  background: linear-gradient(170deg, rgba(158, 215, 245, 0.2), rgba(27, 30, 39, 0.2));
}

.goodv {
  color: rgb(218, 218, 218);
}
.badv {
  color: orange;
}
.allv {
  color: rgb(158, 215, 245);
}
