.notification {
  cursor: pointer;
  position: relative;
  border: 1px solid var(--color-cd-bg-border);
  border-left: 2px solid var(--color-cd-bg-border-sub);
  padding: 15px 30px;
  padding-left: 55px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: var(--color-event-card-font-sub);
  background-color: var(--color-events-bg-card);

  &:hover &__body__icon--delete {
    visibility: visible;
  }

  &__children {
    margin-left: 40px;
    padding-left: 30px;
  }

  &__line-child {
    position: absolute;
    left: -25px;
    top: -55px;

    &.first {
      left: -25px;
      top: -14px;
    }
  }

  &__toggle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 42%;
    left: 12px;
    transition: all 200ms;

    &--open {
      transform: rotate(45deg);
    }

    &_danger {
      stroke: var(--color-danger-transparent);
    }

    &_warning {
      stroke: var(--color-warning-transparent);
    }

    &_standard {
      stroke: var(--color-cd-bg-border-sub);
    }
  }

  &__vertical-line {
    position: absolute;
    width: 1px;
    top: 0;
    left: 40px;
    height: 100%;

    &_danger {
      background-color: var(--color-danger-transparent);
    }

    &_warning {
      background-color: var(--color-warning-transparent);
    }

    &_standard {
      background-color: var(--color-cd-bg-border-sub);
    }
  }

  &--standard {
    border-left: 2px solid var(--color-cd-bg-border-sub);
    background: linear-gradient(90deg, var(--color-event-card-gradient) 0%, var(--color-events-bg-card) 21%);
  }

  &--danger {
    border-left: 2px solid var(--color-danger);
    background: linear-gradient(90deg, var(--color-event-card-gradient-danger) 0%, var(--color-events-bg-card) 21%);
  }

  &--warning {
    border-left: 2px solid var(--color-warning);
    background: linear-gradient(90deg, var(--color-event-card-gradient-warning) 0%, var(--color-events-bg-card) 21%);
  }

  &--active {
    //border: 1px solid var(--color-kpe-gaude-active);
    //border-left: 2px solid var(--color-kpe-gaude-active);
    //background: linear-gradient(90deg, rgba(0, 137, 255, 0.2497373949579832) 0%, rgba(53, 34, 43, 0) 21%);
    color: var(--header-events-color-font-main);

    &_danger {
      border: 1px solid var(--color-danger);
      border-left: 2px solid var(--color-danger);
      background: linear-gradient(90deg, var(--color-event-card-gradient-danger) 0%, var(--color-events-bg-card) 21%);
    }

    &_warning {
      border: 1px solid var(--color-warning);
      border-left: 2px solid var(--color-warning);
      background: linear-gradient(90deg, var(--color-event-card-gradient-warning) 0%, var(--color-events-bg-card) 21%);
    }

    &_standard {
      stroke: var(--color-cd-bg-border-sub);
      border: 1px solid var(--color-cd-bg-border-sub);
      border-left: 2px solid var(--color-cd-bg-border-sub);
      background: linear-gradient(90deg, var(--color-event-card-gradient) 0%, var(--color-events-bg-card) 21%);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__number {
      font-size: 13px;
      margin-right: 10px;

      &_danger {
        color: var(--color-danger);
      }

      &_warning {
        color: var(--color-warning);
      }
    }

    &__name {
      font-size: 10px;
      margin-right: 10px;
    }

    &__unit {
      font-size: 10px;
    }

    &__line {
      flex: 1;
      margin: 2px 10px 0 10px;

      div {
        border-top: 1px solid var(--color-cd-bg-border);
      }

      &--unit {
        flex: 1;
        margin: 2px 10px 0 10px;
        max-width: 10%;

        div {
          border-top: 1px solid var(--color-cd-bg-border);
        }
      }
    }

    &__date-time {
      font-size: 13px;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

    &__info {
      display: flex;
      flex-direction: column;
      width: 100%;

      &-facts {
        font-size: 10px;
        margin-top: 8px;
      }

      &-description {
        font-size: 13px;
        color: var(--header-events-color-font-main);
        margin-right: 10px;

        &_children {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &__extra {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      white-space: nowrap;
      text-align: end;

      &_end-time {
        margin-top: 5px;
      }
    }

    &__status {
      font-size: 13px;
      margin-right: 10px;
      vertical-align: top;

      &_danger {
        color: var(--color-danger);
      }

      &_warning {
        color: var(--color-warning);
      }

      &_standart {
        color: var(--color-text-main);
      }
    }

    &__icon {
      margin-right: 10px;
      width: 20px;
      height: 20px;

      &_danger {
        stroke: var(--color-danger);
      }

      &_warning {
        stroke: var(--color-warning);
      }

      &_standard {
        stroke: var(--color-text-sub);
      }

      &--delete {
        visibility: hidden;
        fill: var(--color-border-unactive);
        stroke: none;

        &:hover {
          fill: var(--color-border-active);
        }

        &__mock {
        }
      }
    }
  }
}

.notifications {
  &__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.selected-block {
  // border: 1px solid var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.block-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;

  &__item {
    flex: 1 1 340px;
  }

  &__item--wall {
    flex: 1 1 720px;
  }
}

::ng-deep {
  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}
