<div [class.block-container]="viewType === 'block'">
  <ng-container *ngFor="let cardData of cardDataArr">
    <ng-container
      *ngTemplateOutlet="viewType === 'block' ? block : list; context: {cardData: cardData}"
    ></ng-container>
  </ng-container>
</div>

<ng-template #list let-cardData="cardData">
  <div
    class="notification"
    (click)="eventClick(cardData?.id)"
    [class.notification--active]="cardData?.id === cardActiveId"
    [ngClass]="cardData?.id === cardActiveId ?
    'notification--active_' + cardData?.priority?.name :
     (cardData?.priority?.name ?
          'notification--' + cardData?.priority?.name : '')"
  >
    <svg-icon
      (click)="expandedElement.toggle(cardData.id)"
      class="notification__toggle"
      [applyCss]="true"
      src="assets/icons/widgets/EVJ/event/toggle.svg"
      [ngClass]="cardData?.priority?.name ?
      'notification__body__icon_' + cardData?.priority?.name :
      'notification__body__icon_standard'"
      [class.notification__toggle--open]="expandedElement.isSelected(cardData?.id)"
    ></svg-icon>
    <div class="notification__vertical-line"
         [ngClass]="cardData?.priority?.name ?
          'notification__vertical-line_' + cardData?.priority?.name :
           'notification__vertical-line_standard'"></div>
    <div class="notification__header">
      <span class="notification__header__number">
        {{ cardData?.id }}
      </span>
      <span *ngIf="cardData?.eventType"
            class="notification__header__name">
        {{ cardData?.eventType?.name }}
      </span>
      <div class="notification__header__line--unit">
        <div></div>
      </div>
      <span class="notification__header__unit">
        {{ cardData?.unit?.name || '-' }}
      </span>
      <div class="notification__header__line">
        <div></div>
      </div>
      <span class="notification__header__date-time">
        {{ cardData?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }}
      </span>
    </div>

    <div class="notification__body">
      <div class="notification__body__info">
        <span class="notification__body__info-description">
          {{ cardData?.description || '-' }}
        </span>
        <span class="notification__body__info-facts">
          {{ cardData?.facts[0] ? cardData?.facts[0].comment : '-' }}
        </span>
      </div>
      <div
        class="notification__body__extra"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >
        <span
          class="notification__body__status"
          [ngClass]="cardData?.priority?.name ?
          'notification__body__icon_' + cardData?.priority?.name :
           'notification__body__icon_standard'"
        >
          {{ cardData?.statusName }}
        </span>
        <svg-icon
          class="notification__body__icon"
          [applyCss]="true"
          [src]="cardData?.iconUrl"
          [ngClass]="cardData?.priority?.name ?
          'notification__body__icon_' + cardData?.priority?.name :
           'notification__body__icon_standard'"
        ></svg-icon>
        <svg-icon
          *ngIf="!cardData?.source"
          class="notification__body__icon--delete"
          [applyCss]="true"
          src="assets/icons/remove.svg"
          (click)="deleteClick(cardData?.id)"
          (mousedown)="$event.stopPropagation()"
          (touchstart)="$event.stopPropagation()"
          [svgStyle]="{ 'width.px':'14', 'height.px':'14' }"
        >
        </svg-icon>
        <span *ngIf="!cardData?.source" class="notification__body__icon--delete__mock"></span>
      </div>
    </div>
  </div>

  <ng-container *ngIf="expandedElement.isSelected(cardData.id)">
    <ng-container *ngFor="let retrievalEvent of cardData.retrievalEvents; first as first">
      <div
        class="notification notification__children"
        (click)="eventClick(retrievalEvent?.id)"
        [class.notification--active]="retrievalEvent?.id === cardActiveId"
        [ngClass]="'notification--' + retrievalEvent?.priority?.name"
      >
        <svg-icon
          *ngIf="first"
          class="notification__line-child first"
          [applyCss]="true"
          src="assets/icons/widgets/EVJ/event/line-first.svg"
          [svgStyle]="{ 'width.px':'23', 'height.px':'70' }"
        >
        </svg-icon>
        <svg-icon
          *ngIf="!first"
          class="notification__line-child"
          [applyCss]="true"
          src="assets/icons/widgets/EVJ/event/line-last.svg"
          [svgStyle]="{ 'width.px':'21', 'height.px':'106' }"
        >
        </svg-icon>
        <div class="notification__header">
      <span class="notification__header__number">
        {{ retrievalEvent?.id }}
      </span>
          <span *ngIf="cardData?.eventType"
                class="notification__header__name">
        {{ retrievalEvent?.eventType?.name }}
      </span>
          <div class="notification__header__line--unit">
            <div></div>
          </div>
          <span class="notification__header__unit">
        {{ retrievalEvent?.unit?.name || '-' }}
      </span>
          <div class="notification__header__line">
            <div></div>
          </div>
          <span class="notification__header__date-time">
        {{ retrievalEvent?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }}
      </span>
        </div>

        <div class="notification__body">
          <div class="notification__body__info">
        <span
          class="notification__body__info-description notification__body__info-description_children">
          {{ retrievalEvent?.description || '-' }}
        </span>
            <span class="notification__body__info-facts">
          {{ retrievalEvent?.facts[0] ? retrievalEvent?.facts[0].comment : '-' }}
        </span>
          </div>
          <div
            class="notification__body__extra"
            (mousedown)="$event.stopPropagation()"
            (touchstart)="$event.stopPropagation()"
          >
        <span
          class="notification__body__status"
          [ngClass]="cardData?.priority?.name ?
          'notification__body__icon_' + cardData?.priority?.name :
           'notification__body__icon_standard'"
        >
          {{ statuses[retrievalEvent?.status.name] }}
        </span>
            <svg-icon
              class="notification__body__icon"
              [applyCss]="true"
              [src]="retrievalEvent?.iconUrl"
              [ngClass]="retrievalEvent?.priority?.name ?
          'notification__body__icon_' + retrievalEvent?.priority?.name :
           'notification__body__icon_standard'"
            ></svg-icon>
            <svg-icon
              *ngIf="!retrievalEvent?.source"
              class="notification__body__icon--delete"
              [applyCss]="true"
              src="assets/icons/remove.svg"
              (click)="deleteClick(retrievalEvent?.id)"
              (mousedown)="$event.stopPropagation()"
              (touchstart)="$event.stopPropagation()"
              [svgStyle]="{ 'width.px':'14', 'height.px':'14' }"
            >
            </svg-icon>
            <span *ngIf="!retrievalEvent?.source"
                  class="notification__body__icon--delete__mock"></span>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #block let-cardData="cardData">
  <div
    class="notification__block notifications__block__item notification-event"
    [class.selected-block]="cardData?.id === cardActiveId"
    (click)="eventClick(cardData?.id)"
  >
    <div class="notification__block__header">
      <span
        class="notification__block__number"
        [ngClass]="'notification__number_' + cardData?.priority"
      >
        {{ cardData?.id }}
      </span>
      <span class="notification__block__unit">
        {{ cardData?.unit?.name || '-' }}
      </span>

      <div
        class="label-button"
        [class.label-button_active]="cardData?.isAcknowledged"
        (click)="changeIsAcknowledged(cardData)"
        *ngIf="cardData?.category?.code!==0 && cardData?.category?.code!==5 && cardData?.category?.code!==6"
      >
        {{cardData?.isAcknowledged ? 'Квитировано' : 'Не квитировано'}}
      </div>

      <div class="notification__block__extra">
        <span
          class="notification__block__status"
          [ngClass]="'notification__block__status_' + cardData?.priority?.name"
        >
          {{ cardData?.statusName }}
        </span>
        <span class="notification__block__status">
          <svg-icon
            [applyCss]="true"
            [src]="cardData?.iconUrlStatus"
            [ngClass]="'notification__block__icon_' + cardData?.priority?.name"
            [svgStyle]="{'fill':'rgb(63, 168, 243)'}"
          >
          </svg-icon>
        </span>
        <span *ngIf="!cardData?.source" class="notification__block__status">
          <svg-icon
            class="notification__block__icon notification__block__icon_delete"
            [applyCss]="true"
            src="assets/icons/remove.svg"
            (click)="deleteClick(cardData?.id)"
            [svgStyle]="{ 'width.px':14, 'height.px':14 }"
          >
          </svg-icon>
        </span>
        <span class="notification__block__span__icon">
          <svg-icon
            [applyCss]="true"
            class="notification__block__icon__right"
            [src]="cardData?.iconUrl"
            [ngClass]="'notification__block__icon_'"
            [svgStyle]="{'fill':'rgb(63, 168, 243)'}"
          >
          </svg-icon>
        </span>
      </div>
    </div>
    <div class="notification__block__body">
      <span class="notification__block__description">
        {{ cardData?.description }}
      </span>
      <span class="notification__block__facts">
        {{ cardData?.facts[0] ? cardData?.facts[0].comment : '-' }}
      </span>
    </div>
    <div class="notification__block__footer">
      <span class="notification__block__footer-text">Начало события:</span>
      <span class="notification__block__footer-date-time"
      >{{ cardData?.eventDateTime | date: 'dd.MM.yyyy HH:mm' }}
      </span>
    </div>
  </div>
</ng-template>










