* {
  box-sizing: border-box;
}
.container {
  height: 46px;
  width: 86px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid var(--border-vidget-color);
  background: var(--bg-header-color);
  border-radius: 2px;

  font-size: 14px;
  line-height: 17px;
  color: var(--text-contrast-color);

  cursor: pointer;
}
