<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="flowOutItem.tag"
      [percentage]="flowOutItem.tolerance"
      [warningStatus]="flowOutItem.isExceedingConfInterval"
      [enableStatus]="flowOutItem.isEnable"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="flowOutItem"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <div class="vertical-line"
      [style.borderColor]="!flowOutItem.isEnable? 'var(--sou-mvp-color-bg-title)': 'var(--sou-mvp-color-border)'"
      *ngIf="flowOutItem.dscFlow.length > 1"
    ></div>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      *ngFor="let i of flowOutItem.dscFlow"
      [title]="i.name"
      [status]="i.isEnable"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
