<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 65
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 65
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 68
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 54
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 54
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 68
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 55
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 55
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 56
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 40
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 40
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [outCount]="4"
      [inCount]="1"
      [data]="{
        sections: sections,
        code: 41
      }"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 42
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 52
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 50
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 44
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 43
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 53
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 51
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output [style.opacity]="0"></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
<div class="stream specificAB">
  <div class="stream__item">
    <div class="vertical-custom-connection">
      <div class="connection-circle"></div>
      <div class="line"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 45
      }"
      [outCount]="2"
      [inCount]="0"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 46
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 48
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 47
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 49
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 5
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 5
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 6
      }"
      [outCount]="3"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 7
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 9
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 11
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 8
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 10
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 12
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 30
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 30
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 31
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 32
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 32
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 33
      }"
      [outCount]="2"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 34
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 36
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 35
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 37
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 38
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 38
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 39
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'FC63'"
      [data]="{
        sections: sections,
        code: 16
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>

    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 13
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 16
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>

    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 13
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 17
      }"
      [outCount]="2"
      [inCount]="2"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 18
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 180
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 19
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 181
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 20
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 20
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 21
      }"
      [outCount]="4"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 22
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 24
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 26
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 28
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 23
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 25
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 27
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 29
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 57
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 57
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-collector
      [style.height.%]="100"
      [data]="{
        sections: sections,
        code: 58
      }"
      [outCount]="3"
      [inCount]="1"
    ></evj-sou-mvp-mnemonic-scheme-collector>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 59
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
       code: 61
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>

    <evj-sou-mvp-mnemonic-scheme-stream-diagram
      [data]="{
        sections: sections,
        code: 63
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 60
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 62
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>

    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 64
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 160
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 160
      }"
      [choosenSetting]="choosenSetting"
      noLine="true"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 161
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 3
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 3
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 4
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [title]="'F37'"
      [data]="{
        sections: sections,
        code: 1
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 1
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 2
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 14
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 14
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 15
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>

<div class="stream">
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 153
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
  </div>
  <div class="stream__item">
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 182
      }"
      noLine="true"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
  <div class="stream__item output">
    <evj-sou-mvp-mnemonic-scheme-output
      [data]="{
        sections: sections,
        code: 154
      }"
    ></evj-sou-mvp-mnemonic-scheme-output>
  </div>
</div>
