<div class="container">
    <div class="header">
        <div class="header__title">
            <svg-icon src = 'assets/icons/widgets/OZSM/ozsm-list-packing-diagrams/headerIcon.svg' class="header__icon"></svg-icon>
            <span>Линия фасовки</span>
        </div>
        <svg-icon src = 'assets/icons/widgets/OZSM/ozsm-list-packing-diagrams/menuDots.svg' class="header__menu"></svg-icon>
    </div>
    <div class="body">
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'1'"
        ></evj-ozsm-list-packing-diagrams-item>
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'2'"
        ></evj-ozsm-list-packing-diagrams-item>
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'3'"
        ></evj-ozsm-list-packing-diagrams-item>
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'4'"
        ></evj-ozsm-list-packing-diagrams-item>
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'5'"
        ></evj-ozsm-list-packing-diagrams-item>
        <evj-ozsm-list-packing-diagrams-item
            [index] = "'6'"
        ></evj-ozsm-list-packing-diagrams-item>
    </div>
</div>