<div class="diagram">
    <div class="diagram-visual" #chart>
        <div class="indicator-line">
            <div class="circle-indicator"></div>
            <span class="item__value">99.0</span>
            <span class="item__unit">тн</span>
        </div>
    </div>
    <div class="diagram-info">
        <div class="diagram-info-title">
            <span>{{title}}</span>
            <div class="button">
                <svg-icon src = 'assets/icons/widgets/OZSM/ozsm-resources-circle-diagram/menuDots.svg'></svg-icon>
            </div>
        </div>
        <div class="diagram-info-list">
            <div class="diagram-info-list-item">
                <span class="item__value">127.4</span>
                <span class="item__unit">тн</span>
            </div>
            <div class="diagram-info-list-item">
                <span class="item__value">87.7</span>
                <span class="item__unit">Гкал</span>
            </div>
        </div>
    </div>
</div>
