<div
  class="asus"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
  [style]="{overflow: noOverflow ? 'auto' : 'visible'}"
>
  <div class="asus__column column column_left">
    <div class="column__row row">
      <div class="row__cell cell cell_left">
        <evj-ui-block status="normal">
          <mat-form-field class="categories_selectbox">
            <mat-label>Категория</mat-label>
            <mat-select
              panelClass="mat-select-custom"
              [(ngModel)]="ewService.event.category"
              [compareWith]="compareFn"
              [disabled]="!ewService.isCreateNewEvent"
              (selectionChange)="ewService.changeCategory()"
            >
              <mat-option *ngFor="let cat of ewService.category" [value]="cat">
                {{ ewService.categories[cat.name] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
      <div class="row__cell cell cell_right">
        <evj-ui-block status="normal">
          <mat-form-field class="status">
            <mat-label>АСУС категория</mat-label>
            <mat-select
              panelClass="mat-select-custom"
              [disabled]="isCreateEvent()"
              [value]="ewService.event.asusEvent.category"
              [compareWith]="compareFn"
            >
              <mat-option *ngFor="let category of ewService.asusCategories" [value]="category?.name">
                {{ category?.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
    </div>
    <div class="column__row row">
      <div class="row__cell cell cell_left">
        <evj-ui-block status="normal">
          <mat-form-field class="status">
            <mat-label>Статус</mat-label>
            <mat-select
              panelClass="mat-select-custom"
              [(ngModel)]="ewService.event.status"
              [compareWith]="compareFn"
              [disabled]="true"
            >
              <mat-option
                *ngFor="let p of ewService.status| formatStatus:ewService.event.status:ewService.isCreateNewEvent"
                [value]="p"
                >{{ ewService.statuses[p.name] }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
      <div class="row__cell cell cell_right">
        <evj-ui-block status="normal">
          <mat-form-field class="status">
            <mat-label>Установка</mat-label>
            <mat-select
              panelClass="mat-select-custom"
              [disabled]="isCreateEvent()"
              [(ngModel)]="ewService.event.asusEvent.tmPlace"
              (selectionChange)="this.setUnit($event.value)"
            >
              <mat-option *ngFor="let p of ewService.asusUnits$ | async" [value]="p.codeSap">{{ p.name }} </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
    </div>
    <div class="column__row row description">
      <evj-event-description
        [description]="ewService.event.description"
        [isRetrievalEvent]="false"
        (changedDescription)="onChangeEventDescription($event)"
      ></evj-event-description>
    </div>
    <div class="column__row row datepicker">
      <div class="datepicker__title">Крайний срок</div>
      <div class="datepicker__body">
        <div class="row__cell cell cell_left">
          <evj-ui-block status="normal">
            <div class="date">
              <div class="date__name">Крайний срок</div>
              <evj-time-data-picker
                class="date__date"
                [data]="ewService.event.asusEvent?.datetimeDeadline"
                (dateTimePicker)="dateTimePicker($event)"
                [disabled]="true"
              ></evj-time-data-picker>
            </div>
          </evj-ui-block>
        </div>
        <div class="row__cell cell cell_right">
          <evj-ui-block status="normal">
            <div class="date">
              <div class="date__name">Дата завершения</div>
              <evj-time-data-picker
                class="date__date"
                [data]="ewService.event.asusEvent?.datetimeEnd"
                (dateTimePicker)="dateTimePicker($event)"
                [disabled]="true"
              ></evj-time-data-picker>
            </div>
          </evj-ui-block>
        </div>
      </div>
    </div>
  </div>
  <div class="asus__column column column_right">
    <div class="column__row row">
      <div class="row__cell cell cell_left">
        <evj-ui-block status="normal">
          <mat-form-field class="status">
            <mat-label>Оборудование</mat-label>
            <mat-select
              panelClass="mat-select-custom"
              [disabled]="isCreateEvent() || !isAvailableOption('equipment')"
              (click)="optionClick('equipment')"
              (selectionChange)="setEquipment($event.value)"
              [(ngModel)]="ewService.event.asusEvent.equipment"
            >
              <mat-option *ngFor="let equipment of ewService.asusEquipments" [value]="equipment.codeSap"
                >{{ equipment.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
      <div class="row__cell cell cell_right">
      </div>
    </div>
    <div class="column__row row">
      <div class="row__cell cell cell_left">
        <evj-ui-block status="normal">
          <mat-form-field class="status">
            <mat-label>Единица обслуживания</mat-label>
            <mat-select panelClass="mat-select-custom" disabled [(ngModel)]="ewService.event.asusEvent.eoService">
              <mat-option *ngFor="let eoService of ewService.asusEOServices" [value]="eoService.codeSap"
                >{{ eoService.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </evj-ui-block>
      </div>
      <div class="row__cell cell cell_right">
      </div>
    </div>
    <div class="column__row row">
      <div class="row__cell cell cell_left information">
        <div class="label">
          <div class="label__title">Автор</div>
          <div class="label__text">{{this.ewService.event.asusEvent?.consumer || 'Не установлен'}}</div>
        </div>
      </div>
      <div class="row__cell cell cell_right"></div>
    </div>
    <div class="column__row row">
      <div class="row__cell cell cell_left information">
        <div class="label">
          <div class="label__title">ID в Системе-источник</div>
          <div class="label__text">
            {{this.ewService.event?.externalCode ? this.ewService.event?.externalCode : ''}}
          </div>
        </div>
      </div>
      <div class="row__cell cell cell_right information">
        <div class="label">
          <div class="label__title">Дата регистрации</div>
          <div class="label__text">{{ registrationDate ? (registrationDate | date:"dd.MM.yyyy | HH:mm") : '-' }}</div>
        </div>
      </div>
    </div>
    <div class="column__row row responsible">
      <evj-events-responsible-select></evj-events-responsible-select>
    </div>
    <div class="column__row row reasons">
      <evj-events-reasons-single
        title="Решение"
        [isAdder]="false"
        [reason]="ewService?.event?.directReasons"
        (addReason)="isReasonsPopupOpen=true"
      ></evj-events-reasons-single>
    </div>
  </div>
</div>
