::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-bg-additional);
  border-radius: 25px;
}

.reference-left {
  height: 100%;
}

.top-frame {
  position: relative;
  height: 10px;

  &:before {
    position: absolute;
    height: 18px;
    width: 15px;
    top: -7px;
    left: -7px;
    transform: rotate(42deg);
    background: var(--color-bg-main);
  }

  &:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 15px;
    top: 2px;
    right: -8px;
    transform: rotate(225deg);
    background: var(--color-bg-main);
  }
}

.middle {
  height: calc(100% - 25px);
  width: calc(100% - 12px);
  overflow: auto;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: overlay;
}
