.reference-left {
  height: 100%;
}

.top-frame {
  position: relative;
  // background: linear-gradient(
  //   to bottom,
  //   var(--color-border-active) -60%,
  //   rgba(34, 36, 47, 0.5) 80%
  // );
  height: 10px;
  // border-left: 0.5px solid var(--color-border-active);
  // border-top: 0.5px solid var(--color-border-active);

  &:before {
 //   content: "";
    position: absolute;
    height: 18px;
    width: 15px;
    top: -7px;
    left: -7px;
    transform: rotate(42deg);
    background: var(--color-bg-main);
    // border-right: 0.5px solid var(--color-border-active);
  }

  &:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 15px;
    top: 2px;
    right: -8px;
    transform: rotate(225deg);
    background: var(--color-bg-main);
    // border-right: 1px solid var(--color-border-active);
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  // background-color:var(--color-border-active);
  border-radius: 25px;
}
::-webkit-scrollbar-track-piece {
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: #4a4d4f;
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  background-color: var(--color-border-active);
  border-radius: 25px;
}
::-webkit-resizer {
  background-color: var(--color-border-active);
  border-radius: 25px;
}

.middle {
  //background: rgba(34, 36, 47, 0.5);
  height: calc(100% - 25px);
  // border-left: 0.5px solid var(--color-border-active);
  width: calc(100% - 12px);
  overflow: auto;
  direction: rtl;
}
