<div class="reference-left">
  <div class="top-frame"></div>
  <div class="middle">
    <evj-operation-screen-left *ngIf="typeScreen === 'operation'"></evj-operation-screen-left>
    <evj-info-screen-left
      *ngIf="typeScreen === 'info'"
      [titlePark]="titlePark"
    ></evj-info-screen-left>
    <evj-operation-park-screen-left
      *ngIf="typeScreen === 'park-operation'"
      [titlePark]="titlePark"
    ></evj-operation-park-screen-left>
  </div>
  <div class="bottom_frame"></div>
</div>
