.default {

  color: var(--header-events-color-font-main);
  background-color: var(--color-kpe-table-select);

  ::ng-deep {
    .mat-select-arrow {
      background-color: var(--header-events-color-font-main) !important;
    }
  }
}

.event-mat-select {
  display: flex;
  align-items: center;
  border-radius: 2px;
  height: 32px;
  width: 100%;
  min-width: 50px;


  .mat-select {
    width: calc(100% - 2px) !important;
  }

  mat-label {
    line-height: 16px;
    font-size: 17px !important;
    color: var(--color-text-sub);
  }

  ::ng-deep {
    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-underline {
      height: 0 !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-ripple {
      height: 0;
    }

    .mat-form-field-appearance-legacy .mat-form-field-infix {
      padding: 0;
      display: flex;
      padding-top: 5px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      margin: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }

    .mat-select-value-text {

      margin-left: 10px;
      font-size: 13px;
      color: inherit;
    }

    .mat-select-arrow {
      margin-top: 3px !important;
      margin-right: 5px !important;
    }

    .mat-form-field-label-wrapper {
      top: -20px;
    }
  }
  ::ng-deep .mat-form-field-infix {
    background-color: var(--color-kpe-table-select);
  }
}

.disabled {
  cursor: not-allowed;
}
