<div
  class="header"
  *ngIf="widgetType !== 'events-workspace' && widgetType !== 'admin-shift-schedule'"
>
  <div class="header__content drag handle">
    <div class="header__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      <!--          <svg-icon *ngIf="!code"-->
      <!--                    class="header__icon" style="width: 100%; height: 100%; fill: #8C99B2"-->
      <!--                    src={{iconRoute}}{{icon}}.svg-->
      <!--          ></svg-icon>-->
      {{code}}
    </div>
    <span class="header__name">
      {{title}}
    </span>
    <span class="header__units">{{units}}</span>
    <div
      *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
        [svgStyle]="{ 'width.px':14, 'height.px':14}"
      ></svg-icon>
    </div>
  </div>
</div>

<div class="header-schedule" *ngIf="widgetType === 'admin-shift-schedule'">
  <div class="header-schedule__content">
    <div class="header-schedule__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-schedule__name">
      {{title}}
    </span>
    <span class="header-schedule__units">{{units}}</span>
    <div
      *ngIf="!isPreview"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div
    class="header-schedule__button"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="header-schedule__container">
      <mat-form-field>
        <mat-select
          [compareWith]="compareFn"
          (selectionChange)="onSelected($event)"
          [(ngModel)]="selectValue"
        >
          <mat-option *ngFor="let value of localeSelect" [value]="value">
            {{value.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="header-workspace" *ngIf="widgetType === 'events-workspace'">
  <div class="header-workspace__content drag handle">
    <div class="header-workspace__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-workspace__name">
      {{title}}
    </span>
    <span class="header-workspace__units">{{units}}</span>
    <div
      *ngIf="!isPreview"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div class="header-workspace__button">
    <div class="header-workspace__container" (click)="createEvent(true)">
      <div class="title">Создать событие</div>
      <div class="icon-wrapper">
        <svg-icon
          src="./assets/icons/add_button.svg"
          class="add_button_icon"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </div>
    </div>
    <div
      class="header-workspace__container"
      *ngIf="CreateIcon === false"
      (click)="createEvent(false)"
    >
      <div class="title">Сохранить</div>
      <div class="icon-wrapper">
        <svg-icon
          src="./assets/icons/widgets/widget-header/checkmark.svg"
          class="add_button_icon"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </div>
    </div>
  </div>
</div>
