<div
  class="header"
  *ngIf="widgetType !== 'events-workspace'
   && widgetType !== 'admin-shift-schedule'
   && widgetType !=='report-server-configurator'
   && widgetType !== 'tank-calibration-table'
   && widgetType !== 'production-trend'
   && widgetType !== 'tank-information'
   && widgetType !== 'astue-efficiency'"
>
  <div class="header__content drag handle">
    <div class="header__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      <!--          <svg-icon *ngIf="!code"-->
      <!--                    class="header__icon" style="width: 100%; height: 100%; fill: #8C99B2"-->
      <!--                    src={{iconRoute}}{{icon}}.svg-->
      <!--          ></svg-icon>-->
      {{code}}
    </div>
    <span class="header__name text-overflow">
      {{title}}
    </span>
    <span class="header__units">{{units}}</span>
    <div
      *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
        [svgStyle]="{ 'width.px':14, 'height.px':14}"
      >
      </svg-icon>
    </div>
  </div>
</div>

<div class="header-schedule" *ngIf="widgetType === 'admin-shift-schedule'">
  <!--<div class="header-schedule">-->
  <div class="header-schedule__content">
    <div class="header-schedule__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-schedule__name text-overflow">
      {{title}}
    </span>
    <div
      class="header-schedule__button"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="header-schedule__container">
        <mat-form-field>
          <mat-select
            [compareWith]="compareFn"
            (selectionChange)="onSelected($event)"
            [(ngModel)]="selectValue"
          >
            <mat-option *ngFor="let value of localeSelect" [value]="value">
              {{value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <span class="header-schedule__units">{{units}}</span>
    <div
      *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>
  <div
    class="header-schedule__admin-button"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div
      class="button text-overflow"
      [class.active]="isEventOpen === true"
      (click)="onSelectedMenu(true)"
    >
      Назначение дежурства
    </div>
    <div
      class="button text-overflow"
      [class.active]="isEventOpen === false"
      (click)="onSelectedMenu(false)"
    >
      Управление бригадами
    </div>
  </div>
</div>

<div class="header-trend" *ngIf="widgetType === 'production-trend'">
  <div class="header-trend__content">
    <div class="header-trend__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-trend__name text-overflow">
      {{title}}
    </span>
    <div
      class="header-trend__button"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="header-schedule__container">
        <mat-form-field>
          <mat-select
            [compareWith]="compareFn"
            (selectionChange)="onSelected($event)"
            [(ngModel)]="selectValue"
          >
            <mat-option *ngFor="let value of localeSelect" [value]="value">
              {{value.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <span class="header-trend__units">{{units}}</span>
    <div
      *ngIf="!isPreview && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>
</div>

<div class="header-workspace" *ngIf="widgetType === 'events-workspace'">
  <div class="header-workspace__content drag handle">
    <div class="header-workspace__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-workspace__name text-overflow">
      {{title}}
    </span>
    <span class="header-workspace__units">{{units}}</span>
    <div
      *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div
    class="header-workspace__button"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="header-workspace__container" (click)="backEvent()">
      <div class="title">Назад</div>
      <div class="icon-wrapper">
        <svg-icon
          src="assets/icons/arrow-back.svg"
          class="icon__add-button"
          [svgStyle]="{ 'width.px':17, 'height.px':17 }"
        ></svg-icon>
      </div>
    </div>
    <div
      class="header-workspace__container"
      *ngIf="CreateIcon === false && blockWorkspaceButton"
      (click)="createEvent(false)"
    >
      <div class="title">Сохранить</div>
      <div class="icon-wrapper">
        <svg-icon
          src="assets/icons/widgets/widget-header/checkmark.svg"
          class="icon__add-button"
          [svgStyle]="{ 'width.px':20, 'height.px':20 }"
        ></svg-icon>
      </div>
    </div>
    <div class="header-workspace__container" (click)="createEvent(true)">
      <div class="title">Создать</div>
      <div class="icon-wrapper">
        <svg-icon
          src="assets/icons/add_button.svg"
          class="icon__add-button"
          [svgStyle]="{ 'width.px':14, 'height.px':16 }"
        ></svg-icon>
      </div>
    </div>
  </div>
</div>

<div class="header-report-configurator" *ngIf="widgetType === 'report-server-configurator'">
  <div class="header-report-configurator__content drag handle">
    <div class="header-report-configurator__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-report-configurator__name text-overflow">
      {{title}}
    </span>
    <span class="header-report-configurator__units">{{units}}</span>
    <div
      *ngIf="!isPreview"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div class="header-report-configurator__button">
    <div
      class="header-report-configurator__container"
      (click)="reportSelected(true)"
      [class.active]="isReportButton"
    >
      <div class="title">Отчеты</div>
    </div>
    <div
      class="header-report-configurator__container"
      (click)="reportSelected(false)"
      [class.active]="!isReportButton"
    >
      <div class="title">Файлы</div>
    </div>
  </div>
</div>

<div class="header-report-configurator" *ngIf="widgetType === 'tank-calibration-table'">
  <div class="header-report-configurator__content drag handle">
    <div class="header-report-configurator__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-report-configurator__name text-overflow">
      {{title}}
    </span>
    <span class="header-report-configurator__units">{{units}}</span>
    <div
      *ngIf="!isPreview"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div class="header-report-configurator__button">
    <div
      class="header-report-configurator__container"
      (click)="reportSelected(true)"
      [class.active]="isReportButton"
    >
      <div class="title">Данные</div>
    </div>
    <div
      class="header-report-configurator__container"
      (click)="reportSelected(false)"
      [class.active]="!isReportButton"
    >
      <div class="title">История изменений</div>
    </div>
  </div>
</div>

<div class="header-tank-information" *ngIf="widgetType === 'tank-information'">
  <div class="header-tank-information__content drag handle">
    <div class="header-tank-information__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-tank-information__name text-overflow">
      {{title}}
    </span>
    <span class="header-tank-information__units">{{units}}</span>
    <div
      *ngIf="!isPreview"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div class="header-tank-information__button" [class.active]="filterTankInfo">
    <div class="header-tank-information__container" (click)="onFilterTankInfo()">
      <div class="title">Фильтр</div>
    </div>
  </div>
</div>

<div class="header-efficiency" *ngIf="widgetType === 'astue-efficiency'">
  <div class="header-efficiency__content drag handle">
    <div class="header-efficiency__icon-wrapper">
      <img src="{{iconRoute}}{{icon}}.png" *ngIf="(!code && icon)" />
      <img src="{{iconRoute}}shedule.png" *ngIf="(!code && !icon)" />
      {{code}}
    </div>
    <span class="header-efficiency__name text-overflow">
      {{title}}
    </span>
    <span class="header-efficiency__units">{{units}}</span>
    <div
      *ngIf="!isPreview  && claimWidgets.includes(EnumClaimWidgets.delete)"
      class="delete_widget"
      (click)="onRemoveButton()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <svg-icon
        style="width: 100%; height: 100%; fill: #8C99B2"
        src="./assets/icons/close_bad.svg"
      ></svg-icon>
    </div>
  </div>

  <div
    class="header-efficiency__buttons"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div
      class="button"
      [ngClass]="{'button_active':toggleAstue}"
      (click)="toggleAstueEfficiency(true)"
    >
      Исходные данные
    </div>
    <div
      class="button"
      [ngClass]="{'button_active':!toggleAstue}"
      (click)="toggleAstueEfficiency(false)"
    >
      Планирование
    </div>
  </div>
</div>
