<div class="container">
  <div class="container__header">
    <div>
      <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
      <label>Выбрать все</label>
    </div>
    <div class="search">
      <div class="custom-input">
        <svg-icon class="custom-input__icon" src="assets/icons/widgets/workspace/cmid/search.svg"></svg-icon>
        <input type="text" placeholder="Поиск..."/>
      </div>
    </div>
  </div>
  <div class="container__table">
    <div class="row active">
      <div class="row__column name">
        <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
        <label>K_DBL_D161</label>
      </div>
      <div class="row__column description">
        <span>Дымосос Д161</span>
      </div>
    </div>
    <div class="row active highlight">
      <div class="row__column name">
        <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
        <label>K_DBL_D161</label>
      </div>
      <div class="row__column description">
        <span>Дымосос Д161</span>
      </div>
    </div>
    <div class="row">
      <div class="row__column name">
        <mat-checkbox class="checkbox" color="primary"></mat-checkbox>
        <label>K_DBL_FI30A</label>
      </div>
      <div class="row__column description">
        <span>Горячая струя в П-101_1 поток (л.1/9-1)_дубль</span>
      </div>
    </div>
  </div>
</div>
