<div class="container">
  <div class="container__header">
    <div [class.disabled]="!list?.length" >
      <mat-checkbox class="checkbox" [(ngModel)]="selectAllControl" (change)="changeSelectAll($event)" color="primary"></mat-checkbox>
      <label>Выбрать все</label>
    </div>
    <div class="search">
      <div class="custom-input">
        <svg-icon class="custom-input__icon" src="assets/icons/widgets/workspace/cmid/search.svg"></svg-icon>
        <input type="text" [formControl]="searchControl" placeholder="Поиск..." />
      </div>
    </div>
  </div>
  <div class="container__table">
    <!-- TODO: Уточнить почему активное и хайлайт -->
    <div class="loader-container" *ngIf="isLoading">
      <mat-spinner diameter="20" style="position: relative; margin-left: -10px; left: 50%">
      </mat-spinner>
    </div>

    <evj-cmid-event-plan-table-item
      *ngFor="let item of list"
      (onSelect)="selectItem(item, $event)"
      [selected]="item.selected"
      [class.active]="false"
      [class.highlight]="false"
      [item]="item"
    >
    </evj-cmid-event-plan-table-item>
  </div>
</div>
<div class="row">
  <evj-cmid-event-chips [chips]="val" [totalCount]="list?.length || 0" (onRemoveItem)="removeItem($event)"></evj-cmid-event-chips>
</div>
