.docs-record-container {
  background-color: var(--color-oil-table-ref);
  border-bottom: 2px solid var(--color-bg-main);
  width: calc(100% - 5px);

  &__block-info {
    display: flex;
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    .short {
      width: 6%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .middle {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .big {
      width: 20%;
      line-height: 25px;
    }

    .key {
      width: 2%;
      position: absolute;
      right: 10px;
      top: 0px;
    }

    .key-blocked{
      width: 2%;
      position: absolute;
      right: 10px;
      top: 0px;

    }

    .pasport {
      display: flex;

      &__icon {
        width: 50%;
      }

      &__name {
        width: 50%;
      }
    }

    .creator {
      text-align: left;
    }

    //TOOLTIP

    [data-tooltip]::after {
      content: attr(data-tooltip);
      position: absolute;
      width: 100px;
      left: 0;
      top: 30%;
      background: var(--color-bg-main);
      color: #fff;
      padding: 0.5em;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      pointer-events: none;
      opacity: 0;
      height: 20px;
      line-height: 20px;
      transition: 0.5s;
    }

    [data-tooltip]:hover::after {
      opacity: 1;
      left: -11.5em;
    }
  }

  &:hover {
    background: var(--color-bg-active);
    border-radius: 25px;
    margin: 0 auto;
    margin-left: 0;
    transition: 0.8s;

    .docs-record-container__block-info {
      .key {
        cursor: pointer;
        width: 15px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../../../../../assets/icons/widgets/oil-control-all/quality-docs-panel/key-open.svg);
  
        &:hover {
          width: 15px;
          height: 100%;
          transition: 1s;
          background-image: url(../../../../../../assets/icons/widgets/oil-control-all/quality-docs-panel/key-open-blue.svg);
        }
      }

      .key-blocked{
        cursor: pointer;
        width: 10px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../../../../../assets/icons/widgets/oil-control-all/quality-docs-panel/key-close.svg);
  
        &:hover {
          width: 10px;
          height: 100%;
          transition: 0.5s;
          background-image: url(../../../../../../assets/icons/widgets/oil-control-all/quality-docs-panel/key-close-blue.svg);
        }
     
      }
    }
  }
}

.block-active {
  background: var(--color-bg-active);
  border-radius: 25px;
  margin: 0 auto;
  margin-left: 0;
}
