<div class="container">
  <div class="alert">
    <div class="alert__title">Введите название новой группы пользователей</div>
    <mat-form-field class="alert__input">
      <input matInput placeholder="Название группы" type="text" [formControl]="groupName" />
      <mat-error *ngIf="groupName.invalid"></mat-error>
    </mat-form-field>
    <div class="alert__buttons">
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        textButton="Подтвердить"
        (click)="onSave()"
      ></evj-button>
      <evj-button
        class="button"
        [isChangingState]="false"
        [isSmallButton]="false"
        textButton="Вернуться"
        (click)="onBack()"
      ></evj-button>
    </div>
  </div>
</div>
