::-webkit-scrollbar {
  margin-right: -10px;
}

.group-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 194px;
  min-height: 60px;
  padding: 0 8px;
  box-sizing: border-box;
  position: relative;

  cursor: pointer;

  &__name {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex: 1;
    color: var(--text-accent-color);

    .logo {
      height: 40px;
      width: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 40px;
        width: 40px;
      }
    }

    .group-name {
      box-sizing: border-box;
      width: 130px;
      padding: 0 4px 0 8px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    background: var(--color-header-item-bg-hover);

    .group-selector__name {
      color: var(--color-header-text-main);
    }
  }

  &__collapse {
    margin-left: auto;
    justify-self: flex-end;
    margin-top: 3px;
  }

  .main-dropdown {
    width: 100%;
    background: var(--color-group-control-bg-main);

    z-index: 1;
    position: absolute;
    top: 60px;
    left: 0;

    .group-list{
      margin-right: 3px;
      max-height: 40vh;

      background: var(--color-header-bg-dark);

      overflow: overlay;
      overflow-x: hidden;

      &__row{
        margin-top: 1px;
        background: var(--color-header-item-bg-hover);
      }
    }

    .btn-container{
      padding: 4px;
      background: var(--color-group-selector-bg-btn);
      border-radius: 3px 3px 0px 0px;

      .control__bnt {
        outline: none;
        border: none;
        cursor: pointer;
        height: 32px;
        width: 100%;
        padding: 0 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--color-group-control-icon-upload-bg);

        border-radius: 2px;
        font-size: 13px;
        line-height: 16px;

        color: var(--color-header-text-main);

        &:hover,
        &_active {
          background: var(--color-header-bg-active);
          color: var(--color-header-bg-white);
        }
      }
    }
  }
}

