.group-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  width: 170px;
  min-height: 60px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;

  cursor: pointer;

  &:hover {
    background: #1C1F2B;
  }

  &__collapse {
    margin-left: auto;
    justify-self: flex-end;
    margin-top: 3px;
  }

  &__name {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex: 1;

    .logo {
      height: 40px;
      width: 40px;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 40px;
        width: 40px;
      }
    }

    span {
      margin-left: 10px;
    }
  }

  .main-dropdown {
    width: 100%;

    z-index: 1;
    position: absolute;
    top: 60px;
    left: 0;

    .group-list{
      max-height: 40vh;

      background: #12151E;

      overflow-x: hidden;
      overflow-y: auto;

      &__row{
        margin-top: 1px;
        background: #1C1F2B;
      }
    }

    .btn-container{
      padding: 4px;
      background: #272A38;
      border-radius: 3px 3px 0px 0px;

      .control__bnt {
        outline: none;
        border: none;
        cursor: pointer;
        height: 32px;
        width: 100%;
        padding: 0 10px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--color-kpe-table-select);

        border-radius: 2px;
        font-size: 13px;
        line-height: 16px;

        color: var(--color-kpe-text-main);

        &:hover,
        &_active {
          background: var(--color-new-header-active);
          color: var(--color-kpe-white);
        }
      }
    }
  }
}

