<div class="group-selector" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="group-selector__name">
    <div class="logo">
      <img *ngIf="!!userSettingsService.groupIconId" [src]="baseSrc + userSettingsService.groupIconId" />
    </div>
    <span>{{userSettingsService.groupName}}</span>
    <svg-icon class="group-selector__collapse" src="assets/icons/collapse.svg"></svg-icon>
  </div>
  <div class="main-dropdown" *ngIf="isDropdownShowing">
    <div class="group-list">
      <div class="group-list__row" *ngFor="let group of groups | filterGroups">
        <evj-group-selector-row
          [isClaimsAvailable]="getClaims(group?.id)"
          [group]="group"
          (selectGroup)="onSelect(group)"
        ></evj-group-selector-row>
      </div>
    </div>
    <div class="btn-container">
      <button class="control__bnt" mat-raised-button (click)="openDialog()">Управление проектами</button>
    </div>
  </div>
</div>
