* {
  box-sizing: border-box;
}
.container {
  width: 385px;

  display: flex;
  flex-direction: column;

  .header {
    height: 40px;
    padding: 0 15px;

    background: var(--bg-header-color);
    border-radius: 2px 2px 0px 0px;

    display: flex;
    align-items: center;
    gap: 15px;

    .title {
      font-size: 14px;
      line-height: 17px;

      color: var(--text-accent-color);
    }
  }

  .content {
    padding: 24px;

    display: flex;
    flex-direction: column;

    background: var(--bg-body-color);
    border: 1px solid var(--border-vidget-color);
    border-radius: 0px 0px 2px 2px;

    .date {
      margin-top: 25px;

      .title {
        font-size: 12px;
        line-height: 14px;
        color: var(--text-main-color);
      }

      .plan-date {
        .picker {
          height: 32px;
          width: 112px;
          padding: 8px;
          margin-top: 10px;

          display: flex;
          align-items: center;
          justify-content: space-between;

          background: var(--bg-dashboard-color);

          border: 1px solid var(--border-forms-color);
          border-radius: 2px;

          font-size: 13px;
          line-height: 16px;
          color: var(--text-contrast-color);
          overflow: hidden;

          input {
            height: 32px;
            width: 112px;
          }
          mat-form-field {
            margin-top: -32px;
            padding-left: 17px;
            height: 32px;
            width: 112px;
          }

          ::ng-deep {
            button {
              transform: translate(-97px, -10px);
            }
          }
        }
      }
    }

    .comment-input {
      height: 80px;
      padding: 8px;

      background: var(--bg-dashboard-color);

      border: 1px solid var(--border-forms-color);
      border-radius: 2px;

      font-size: 14px;
      line-height: 17px;

      color: var(--text-subscript-color);

      outline: none;
      resize: none;

      &:placeholder {
        font-size: 13px;
        line-height: 16px;

        color: var(--text-subscript-color);
      }
    }

    mat-dialog-actions {
      padding-bottom: 24px;
    }

    .btns {
      margin-top: 40px;
      display: flex;
      gap: 6px;

      .save,
      .cancel {
        height: 32px;
        padding: 0 16px;

        background: var(--gray-G9-color);

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        line-height: 14px;
        color: var(--text-contrast-color);

        cursor: pointer;
      }
      .save {
        background: var(--index-plan-color);
        color: var(--text-alwaysWhite-color);

        svg-icon {
          margin-right: 10px;
        }
      }
    }
  }
}
