<div
  class="container"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
>
  <div class="column">
    <div class="column__header">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите наименование группы'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchGroup($event)"
        ></evj-input>
      </div>
      <div class="button__small">
        <evj-button
          class="insert-component"
          [isSmallButton]="true"
          [imgSrc]="plusIcon"
          [isChangingState]="false"
          (click)="createNewBrigade()"
        ></evj-button>
      </div>
    </div>
    <div class="column__body">
      <evj-ag-group-card
        *ngFor="let group of groups"
        [group]="group"
        [isCardActive]="groupSelection.isSelected(group)"
        (click)="onSelectGroup(group)"
      ></evj-ag-group-card>
    </div>
  </div>
  <div class="column">
    <div class="column__header">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите ФИО'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchUser($event)"
        ></evj-input>
      </div>
    </div>
    <div class="column__body scroll scroll-bar">
      <evj-ag-group-worker-card
        *ngFor="let worker of allWorkers"
        [worker]="worker"
      ></evj-ag-group-worker-card>
    </div>
  </div>
  <div class="column">
    <div class="column__header">
      <div class="button__back">
        <evj-button
          class="insert-component"
          [isSmallButton]="false"
          [textButton]="'Назад'"
          [isChangingState]="false"
          (click)="onClickBack()"
        ></evj-button>
      </div>
    </div>
    <div class="column__body">
      <div class="claims  scroll-bar">
        <div class="title">Права</div>
        <div class="cards">
          <evj-aws-claim-card
            [name]="'Высокий уровень доступа'"
            [isActive]="false"
            [isChangingCardState]="true"
          ></evj-aws-claim-card>
          <evj-aws-claim-card
            [name]="'Открытый доступ'"
            [isActive]="true"
            [isChangingCardState]="true"
          ></evj-aws-claim-card>
          <evj-aws-claim-card
            [name]="'Доступ с ограничениями'"
            [isActive]="false"
            [isChangingCardState]="true"
          ></evj-aws-claim-card>
        </div>
      </div>
      <div class="workspaces scroll-bar">
        <div class="title">Доступные рабочие области</div>
        <div class="cards">
          <ng-container *ngFor="let workspace of allWorkspaces">
            <evj-aws-workspace-card
              [workspace]="workspace"
            ></evj-aws-workspace-card>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
