.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  box-sizing: border-box;
  padding: 10px 20px;

  background: var(--color-bg-main);

  .column {
    height: 100%;
    flex-basis: 33%;
    min-width: 435px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    padding: 0px 10px;

    &__header {
      width: 100%;
      height: 50px;

      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .search {
        width: 350px;
        height: 25px;
      }

      .button {
        &__small {
          width: 65px;
          height: 100%;
          margin-left: 20px;

          &::ng-deep {
            img {
              width: 40%;
              height: 40%;
            }
          }
        }

        &__back {
          width: 100px;
          height: 100%;
        }
      }
    }

    &__body {
      width: 100%;
      height: calc(100% - 50px);

      box-sizing: border-box;
      padding-top: 15px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    &__button {
      justify-content: flex-end;
    }

    .scroll {
      overflow-y: auto;
      overflow-x: hidden;
    }

    .claims,
    .workspaces {
      width: 100%;
      height: 35%;

      position: relative;

      box-sizing: border-box;
      padding-top: 25px;

      overflow-x: hidden;
      overflow-y: auto;

      .title {
        position: absolute;

        width: 100%;
        height: 16px;

        top: 5px;
        left: 0px;

        color: var(--color-text-main);
        font-size: 16px;
      }

      .cards {
        margin-top: 10px;
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
      }
    }

    .workspaces {
      width: 100%;
      height: 65%;
    }
  }
}

.insert-component {
  width: 100%;
  height: 100%;
}
