<div
  class="container"
  (mousedown)="$event.stopPropagation()"
  (touchstart)="$event.stopPropagation()"
>
  <div class="column">
    <div class="column__header">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите наименование группы'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchGroup($event)"
        ></evj-input>
      </div>
      <div class="button__small">
        <evj-button
          class="insert-component"
          [isSmallButton]="true"
          [imgSrc]="plusIcon"
          [isChangingState]="false"
          (click)="isCreateNewGroup=true"
        ></evj-button>
      </div>
    </div>
    <div class="column__body">
      <evj-ag-group-card
        *ngFor="let group of newGroups"
        [group]="group"
        [isCardActive]="groupSelection.isSelected(group)"
        (click)="groupSelection.select(group)"
      ></evj-ag-group-card>
      <evj-ag-group-card
        *ngFor="let group of groups"
        [group]="group"
        [isCardActive]="groupSelection.isSelected(group)"
        (click)="groupSelection.select(group)"
      ></evj-ag-group-card>
    </div>
  </div>
  <div class="column">
    <div class="column__header">
      <div class="search">
        <evj-input
          class="insert-component"
          [placeholder]="'Введите ФИО'"
          [iconSrc]="searchIcon"
          (inputedValue)="onSearchUser($event)"
        ></evj-input>
      </div>
    </div>
    <div class="column__body scroll scroll-bar">
      <evj-ag-group-worker-card
        *ngFor="let worker of allWorkers"
        [worker]="worker"
        (changeGroup)="editWorkerInGroup($event,worker)"
      ></evj-ag-group-worker-card>
    </div>
  </div>
  <div class="column">
    <div class="column__header">
      <div class="button__back">
        <evj-button
          class="insert-component"
          [isSmallButton]="false"
          [textButton]="'Назад'"
          [isChangingState]="false"
          (click)="onReturn()"
        ></evj-button>
      </div>
      <div class="button__back">
        <evj-button
          class="insert-component"
          [isSmallButton]="false"
          [textButton]="'Сохранить'"
          [isChangingState]="false"
          (click)="onSave()"
        ></evj-button>
      </div>
    </div>
    <div class="column__body">
      <div class="block" [ngClass]="{'block_active': blockSelection.isEmpty()}">
        <div class="block__title" (click)="blockSelection.clear()">
          Права
          <div class="button button-toggle"></div>
        </div>
      </div>
      <div class="block" [ngClass]="{'block_active': blockSelection.hasValue()}">
        <div class="block__title" (click)="blockSelection.select(null)">
          Рабочие области
          <div class="button button-toggle"></div>
        </div>
      </div>
    </div>
  </div>

  <evj-aws-create-claim
    class="popup"
    [ngClass]="{'popup_active':isCreateClaim}"
    *ngIf="isCreateClaim"
    (createdClaim)="onCreateSpecialClaim($event)"
  ></evj-aws-create-claim>

  <evj-ag-new-group
    class="popup"
    [ngClass]="{'popup_active':isCreateNewGroup}"
    *ngIf="isCreateNewGroup"
    (newGroup)="onCreateNewGroup($event)"
  ></evj-ag-new-group>
</div>
