<evj-widget-preview
  [title]="widgetTitle"
  [icon]="widgetIcon"
  [previewTitle]="widgetType"
  *ngIf="isMock"
></evj-widget-preview>

<ng-container *ngIf="!isMock">
  <div class="container">
    <evj-widget-header
      [title]="widgetTitle"
      [units]="widgetUnits"
      [code]="widgetCode"
      [id]="widgetId"
      [uniqId]="widgetUniqId"
      [widgetType]="widgetType"
    ></evj-widget-header>
    <evj-frame-top></evj-frame-top>
    <div
      class="body-container"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
<!--      <evj-loading-shade [isLoading]="isLoading"></evj-loading-shade>-->
      <div class="document-viewer">
        <div class="document-viewer_tools">
          <div class="document-viewer_search-input">
            <evj-input
              (inputedValue)="search($event)"
              [iconSrc]="'assets/icons/search-icon.svg'"
              [placeholder]="'Поиск'">
            </evj-input>
          </div>
          <div class="document-viewer_paging-container" *ngIf="totalPages">
            {{page}}/{{totalPages}} стр.
          </div>
        </div>
        <div class="document-viewer_document">
          <div class="document-viewer_document__buttons-area">
            <div class="button" (click)="scaleDocument(true)"><span class="text-center">+</span></div>
            <div class="button" (click)="scaleDocument(false)"><span class="text-center">-</span></div>
          </div>
          <div class="document-viewer_document__sizing-area">
            <pdf-viewer *ngIf="src"
                        [zoom]="scalePercent"
                        [autoresize]="true"
                        [src]="src"
                        [original-size]="false"
                        [show-all]="true"
                        [stick-to-page]="true"
                        [(page)]="page"
                        (after-load-complete)="afterLoadComplete($event)"
            ></pdf-viewer>
          </div>
        </div>
      </div>
    </div>
    <evj-frame-bottom></evj-frame-bottom>
  </div>
</ng-container>



