<div class="header">
  <div class="header__content">
    <div class="header__icon-wrapper">
      <svg-icon class="header__icon"
                src="./assets/icons/widgets/events/letter.svg"></svg-icon>
    </div>
    <span class="header__name">
      События
    </span>
  </div>
</div>

<div class="frame frame_top">
  <div class="frame__circle frame__circle__left"></div>
  <div class="frame__circle frame__circle__right"></div>
</div>


<div class="categories">

  <div class="category categories__item" *ngFor="let c of categories">

    <div class="category__row category__row_top">
      <svg-icon class="category__icon"
                [src]="c.iconUrl"></svg-icon>

      <div class="counts category__counts">
        <span class="counts__count">{{c.closedCount}}</span>
        <span class="counts__count">/</span>
        <span class="counts__count">{{c.allCount}}</span>
      </div>
    </div>

    <div class="category__row category__row_bottom">
      <span class="category__name">{{c.name}}</span>
    </div>

  </div>

</div>


<div class="notifications">

  <div class="notification notifications__item" *ngFor="let n of notifications">

    <div class="notification__header">
      <span class="notification__number">
        {{n.serialNumber}}
      </span>
      <span class="notification__name">
        {{n.heading}}
      </span>
      <div class="line notification__line">
        <div class="line__circle line__circle__left"></div>
        <div class="line__circle line__circle__right"></div>
      </div>
      <span class="notification__date-time">
        {{n.dateTime | date: 'dd.MM.yyyy HH:mm'}}
      </span>
    </div>

    <div class="notification__body">
      <span class="notification__description">
        {{n.body}}
      </span>

      <div class="notification__extra">
        <span class="notification__status">
          {{n.status}}
        </span>
        <svg-icon class="notification__icon" [src]="n.iconUrl"></svg-icon>
      </div>

    </div>

    <div class="line notification__line">
      <div class="line__circle line__circle__left"></div>
      <div class="line__circle line__circle__right"></div>
    </div>


  </div>

</div>

