%circle {
  width: 4px;
  height: 4px;
  border: 0.5px solid var(--color-border-main-transparrent);
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 100%;
  box-sizing: border-box;
}

:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.selected-block {
  border: 1px solid var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}

.selected {
  .line {
    border-color: var(--color-border-active);
  }
  .line__circle  {
    border-color: var(--color-border-active);

  }
  border-color: var(--color-border-active);
  background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
}


.delete_widget{
  cursor: pointer;
  display: flex;
  align-items: center;
  min-width: 44px;
  height: 100%;
  background-color: var(--color-bg-sub);
  padding: 9px 15px;
  box-sizing: border-box;
  font-weight: bold;
  pointer-events: fill !important;
}

.events {
  --categories-min-height: 104px;
  --filters-min-height: 40px;
  --margin-vertical: 38px;
  --line-border: 0.5px dashed var(--color-border-main-transparrent);

  position: absolute;
  display: block;
  width: 100%;
  height: calc(100% - var(--margin-vertical));
  top: var(--margin-vertical);
}

.header {
 // position: relative;
  height: 38px;
  width: 430px;
  box-sizing: border-box;

  background-color: var(--color-bg-additional);

  &__icon {
      fill: #8C99B2;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;

    min-width: 44px;
    height: 100%;
    background-color: var(--color-bg-sub);
    padding: 9px 15px;
    box-sizing: border-box;

    font-weight: bold;
  }

  &__name {
    width: 100%;
    font-size: 0.875rem;
    margin-left: 10px;
  }

  &__units {
    margin: auto;
    margin-right: 10px;

    justify-self: flex-end;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;

    top: -4px;
    left: -1px;

    height: 9px;
    width: 9px;
    box-sizing: border-box;

    transform-origin: 43% 0;
    transform: rotate(45deg);

    background: var(--color-bg-main);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    top: -2px;
    right: -1px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-main);
  }
}

.frame {
  width: 100%;
  height: 28px;
  min-width: 430px;

  border: 0.5px solid var(--color-border-main-transparrent);
  border-bottom: transparent;
  position: relative;

  &__circle {
    @extend %circle;
    &__left {
      left: -2.5px;
    }

    &__right {
      right: -2.5px;
    }
  }

  &_top {
    &:after {
      z-index: 1;
      content: "";
      position: absolute;
      top: -3px;
      right: -1px;

      height: 7px;
      width: 7px;
      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);

      border-left: 0.5px solid var(--color-border-main-transparrent);

      background: var(--color-bg-main);
    }
  }

  &_bottom {
    position: absolute;
    bottom: 0;
    border-bottom: 0.5px solid var(--color-border-main-transparrent);
    border-top: transparent;

    &:after {
      z-index: 1;
      content: "";
      position: absolute;

      bottom: -5px;
      right: -1px;

      height: 7px;
      width: 7px;

      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(-45deg);

      border-top: 0.5px solid var(--color-border-main-transparrent);
      background: var(--color-bg-main);
    }

    &:before {
      z-index: 1;
      content: "";
      position: absolute;

      bottom: -3px;
      left: -1px;

      height: 6px;
      width: 6px;

      box-sizing: border-box;
      transform-origin: 43% 0;
      transform: rotate(45deg);

      border-top: 0.5px solid var(--color-border-main-transparrent);
      background: var(--color-bg-main);
    }
  }

  &_bottom &__circle {
    top: 0;
  }
}

.categories {
  display: flex;
  justify-content: space-between;
  min-height: var(--categories-min-height);
  box-sizing: border-box;
  padding: 0 20px 16px 20px;

  &__item {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.category {
  position: relative;

  display: flex;
  flex-flow: column;
  cursor: pointer;
  justify-content: space-between;

  width: 163px;
  height: 72px;
  box-sizing: border-box;

  color: var(--color-text-sub-heading);

  &__row {
    flex: 1;
    min-height: 26px;
    box-sizing: border-box;
    padding: 0 10px;

    &_top {
      margin-bottom: 6px;
    }

    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__name {
    font-size: 0.75rem;
  }

  &__icon {
    width: 14px;
    height: 14px;
    fill: var(--color-text-sub);
  }

  &__line {
    position: absolute;
    width: calc(100% - 13px);
    left: 6.5px;

    &_top {
      top: -4px;
    }

    &_bottom {
      bottom: -4px;
    }
  }

  &_active &__icon {
    stroke: var(--color-border-active);
  }
  &_active {
    color: white;

    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, var(--color-bg-main) 0%, rgba(63, 169, 245, 0.1) 100%);
  }

  &_active &__icon {
    stroke: var(--color-border-active);
  }

  &_active &__line {
    border-color: var(--color-border-active);
  }

  &_active .line__circle {
    border-color: var(--color-border-active);
  }
}

.counts {
  font-size: 1.0625rem;
}

.notifications {
  --padding: 20px;

  position: relative;
  height: calc(100% - var(--filters-min-height) - var(--categories-min-height) - var(--padding));
  padding: var(--padding);
  box-sizing: border-box;

  background-color: var(--color-bg-main-dark);
  border: 0.5px solid var(--color-border-main);
  border-radius: 5px;

  &__list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  &__block {
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
    }

    &__item {
      background-color: var(--color-bg-sub);
      padding: 0 0 20px 20px;
      border-radius: 6px;
      margin-bottom: 15px;
      height: 160px;

      width: 400px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.notification {
  cursor: pointer;
  margin-right: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main);
  }

  &__number {
    flex: 0 23px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 6px;

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }
  }

  &__name {
    flex: 0 55px;
    font-size: 0.625rem;
    color: var(--color-text-sub);
  }

  &__line {
    flex: 1 130px;
    margin: 0 16px;

    &_top {
      margin: 0 16px;
    }

    &_bottom {
      margin: -4px 6.5px 0 6.5px;
    }
  }

  &:hover &__line {
    border-color: var(--color-border-active);
  }

  &:hover .line__circle {
    border-color: var(--color-border-active);
  }

  &__date-time {
    flex: 0 98px;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 10px;
  }

  &:hover &__body {
    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
  }

  &__description {
    flex: 2 750px;
    color: var(--color-text-sub);
    font-size: 0.875rem;
  }

  &__extra {
    flex: 1 98px;
    max-width: 98px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    margin-left: 10px;
    font-size: 0.75rem;
    color: var(--color-text-sub);

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }

    &standart {
      color: var(--color-text-main);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-sub);

    width: 26px;
    height: 26px;

    &_danger {
      stroke: var(--color-danger);
    }

    &_warning {
      stroke: var(--color-warning);
    }

    &_standard {
      stroke: var(--color-text-sub);
    }
  }
}

.notification__block {
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 100ms ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main);
  }

  &__number {
    flex: 0 23px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 6px;

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }
  }

  &__name {
    flex: 0 55px;
    font-size: 0.625rem;
    color: var(--color-text-sub);
  }

  &__line {
    flex: 1 130px;
    margin: 0 16px;

    &_top {
      margin: 0 16px;
    }

    &_bottom {
      margin: -4px 6.5px 0 6.5px;
    }
  }

  &:hover &__line {
    border-color: var(--color-border-active);
  }

  &:hover .line__circle {
    border-color: var(--color-border-active);
  }

  &__date-time {
    flex: 0 98px;
    font-size: 0.75rem;
    color: var(--color-text-sub);
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 10px;
  }

  &:hover {
    transition: background-color 200ms ease;
    background-color: var(--color-bg-active);
  }

  &__description {
    flex: 2 750px;
    color: var(--color-text-sub);
    font-size: 0.875rem;
  }

  &__extra {
    flex: 1 98px;
    max-width: 150px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__status {
    margin-right: 15px;
    font-size: 0.75rem;
    color: var(--color-text-sub);

    &_danger {
      color: var(--color-danger);
    }

    &_warning {
      color: var(--color-warning);
    }
    &_closed {
      color: var(--color-bg-sub);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 7px;
    margin-left: 7px;

    width: 26px;
    height: 26px;

    &_danger {
      stroke: var(--color-danger);
    }

    &_warning {
      stroke: var(--color-warning);
    }

    &_standard {
      stroke: var(--color-text-main);
    }
  }

  .notification__block__span__icon {
    width: 40px;
    height: 40px;
    border-top-right-radius: 6px;
    background-color: var(--color-bg-active);
  }
}

.line {
  position: relative;
  height: 4px;
  border-bottom: 1px dashed var(--color-border-main-transparrent);

  &__circle {
    @extend %circle;
    top: auto;
    bottom: -2.5px;

    &__left {
      left: -6.5px;
    }

    &__right {
      right: -6.5px;
    }
  }
}

.filters {
  position: relative;

  display: flex;
  justify-content: space-between;
  min-height: var(--filters-min-height);
  padding: 20px 20px 16px 20px;

  &__item {
    flex: 1 192px;
    margin: 0 16px;

    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 18px 10px 12px;
  border-bottom: 2px solid var(--color-border-main-transparrent);
  cursor: pointer;
  color: var(--color-text-sub);

  &_active {
    border-color: var(--color-border-active);
    color: var(--color-text-main);

    background: var(--color-bg-active-bright);
    background: linear-gradient(0deg, rgba(63, 169, 245, 0.1) 0%, var(--color-bg-main) 100%);
  }

  &__name {
    font-size: 0.75rem;
  }

  &__count {
    font-size: 0.875rem;
  }
}

.controls {
  pointer-events: fill !important;
  position: relative;
  box-sizing: border-box;
  height: calc(var(--categories-min-height) + var(--filters-min-height));

  &__line {
    position: absolute;
    top: 2px;
    width: 1px;
    height: calc(100% - 12px);

    box-sizing: border-box;

    &_left {
      left: 0;
      border-left: var(--line-border);
    }

    &_right {
      right: -1px;
      border-right: var(--line-border);
    }
  }

  &__circle {
    @extend %circle;
    position: absolute;
    top: -2px;

    &_left {
      left: -2.25px;
    }

    &_right {
      right: -2.25px;
    }
  }
}
