.additional-block{
    position: absolute;
    right: 10px;
    top: 20px;
    width: 40%;
    height: 70%;
}

.necessary-block{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40%;
    height: 70%;

}