<div class="container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="widgetTitle"
    icon="astue-indicators"
    type="astue"
  ></evj-contemporary-widget-header>
  <div class="content"
    (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <div class="diagram">
      <div class="diagram__container">
        <svg-icon
          src="assets/icons/widgets/ASTUE-ONPZ/astue-onpz-main-indicators/customBg.svg"
          class="custom-bg"
        ></svg-icon>
        <div class="diagram-circle" #chart></div>
        <div class="diagram-inner-text">
          <span
            class="percent"
            [ngClass]="{
              'percent-warning': data?.factValue - data?.planValue !== 0
            }"
          >{{ data?.deviationValue | spaceNumber : 1}}</span>
          <span class="unit">{{data?.engUnits}}</span>
        </div>
        <div class="info">
          <div class="info__item">
            <span class="description">Факт</span>
            <span class="values">&bull; {{data?.factValue | spaceNumber : 1}} <span class="unit">{{data?.engUnits}}</span></span>
          </div>
          <div class="info__item">
            <span class="description">План</span>
            <span class="values values-plan">&bull; {{data?.planValue | spaceNumber : 1}} <span class="unit">{{data?.engUnits}}</span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
