* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;

    background: var(--color-astue-onpz-widget-bg);

    border: 1px solid var(--color-astue-onpz-widget-border);
    border-radius: 0px 0px 2px 2px;

    .diagram {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0 30px;
  
      &__container {
        flex: 1;
        padding: 30px 15px;
  
        display: flex;
        align-items: center;
  
        position: relative;
  
        .diagram-circle {
          ::ng-deep {
            svg {
                .diagram-inner {
                  fill: var(--color-astue-onpz-plan);
                }
          
                .diagram-value {
                  fill: var(--color-astue-onpz-fact);
                }

                .diagram-deviation {
                  fill: var(--color-astue-onpz-warning);
                }
            }
          }
        }

        .info {
          height: 140px;
          min-width: 190px;
          padding: 15px 10px;
          margin-left: 20px;

          flex-grow: 1;
          display: flex;
          flex-direction: column;

          &__item {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .values {
            font-size: 13px;
            line-height: 16px;

            color: var(--color-astue-onpz-mnemonic-furnace-main-text);
            .unit {
              margin-left: 5px;
              color: var(--astue-onpz-factory-analisys-label);
            }
          }

          .values-plan {
            color: var(--color-astue-onpz-plan);
          }

          .description {
            font-size: 13px;
            line-height: 16px;

            color: var(--astue-onpz-factory-analisys-legend);
          }
        }
  
        .diagram-inner-text {
          height: 140px;
          width: 140px;
  
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
  
          position: absolute;
          left: 15px;
  
          .percent {
            font-size: 26px;
            line-height: 31px;

            &-warning {
              color: var(--color-astue-onpz-warning);
            }
          }
  
          .unit {
            font-size: 12px;
            line-height: 14px;
            color: var(--astue-onpz-factory-analisys-legend);
          }
        }
        
        .custom-bg {
          position: absolute;
          left: 3px;
        }
      }
    }
  }
}