.container {
  width: 100%;
  height: calc(100% - 40px);
  background-color: var(--bg-body-color);
  border: 1px solid var(--border-vidget-color);

  box-sizing: border-box;
  position: relative;
  overflow: auto;
}
thead th {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: var(--bg-body-color);
  color: var(--text-main-color);
  z-index: 1;
  font-weight: 400;
}
th,
td {
  text-align: center;
  min-width: 86px;
  &:first-child {
    text-align: left;
  }
}

.header-container {
  display: flex;
  flex-grow: 1;

  .header-chips {
    $height: 25px;
    position: relative;
    display: flex;
    height: $height;
    margin-left: auto;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border: solid 1px #4b5169;
      border-radius: 2px;
      box-sizing: border-box;
    }

    .chip {
      height: 100%;
      margin: auto 0;
      padding: 0 12px;
      line-height: 23px;
      font-size: 14px;
      border: solid 1px transparent;
      border-radius: 2px;
      box-sizing: border-box;
      z-index: 1;
      cursor: pointer;

      &__active {
        color: var(--text-accent-color);
        background: var(--opacity-plan-20-color);
        border-color: var(--index-plan-color);
      }
    }
  }
}

.table {
  width: 100%;
  font-family: Tahoma;
  font-size: 12px;

  border-spacing: 0px 3px;
  border-collapse: separate;
  box-sizing: border-box;
  padding-right: 10px;
  padding-left: 10px;

  &__header {
    width: 100%;
    &__row {
      width: 100%;
      height: 30px;
    }

    &__column {
      width: 60px;
      font-size: 12px;
      font-weight: normal;
      color: var(--text-main-color);
      background-color: var(--bg-body-color);

      &:first-of-type {
        font-size: 12px;
        color: var(--text-main-color);
        background-color: var(--bg-body-color);
        left: 0;
        text-align: left;
        width: 60%;
      }
    }
  }

  &__body {
    width: 100%;

    &__row {
      width: 100%;
      font-size: 12px;
      height: 28px;
      transition: all 150ms;
      color: var(--text-main-color);
      background: var(--gray-G10-color);
      margin-bottom: 10px;
    }

    &__column {
      cursor: pointer;
      position: relative;
      height: 24px;
      max-width: 60px;
      margin-top: 5px;
      color: var(--text-main-color);
      text-align: center;

      border-top: 1px solid var(--bg-body-color);
      border-bottom: 1px solid var(--bg-body-color);
      border-right: 1px solid var(--bg-body-color);
      border-left: 2px solid var(--border-icon-color);

      &.expanded-column {
        background-color: var(--gray-G10-50-color);
      }

      &__children {
        border-left: 2px solid var(--bg-body-color) !important;

        &--active {
          border-top: 1px solid var(--index-plan-color);
          border-bottom: 1px solid var(--index-plan-color);
          color: var(--text-main-color);

          &:first-child {
          }

          &:last-of-type {
            padding: 0 !important;
            border-right: 1px solid var(--index-plan-color) !important;
          }
        }
      }

      &--active {
        border-top: 1px solid var(--index-plan-color);
        border-bottom: 1px solid var(--index-plan-color);
        box-sizing: border-box;
        color: var(--text-main-color);

        &:first-child {
          border-left: 2px solid var(--index-plan-color) !important;
        }

        &:last-of-type {
          padding: 0 !important;
          border-right: 1px solid var(--index-plan-color) !important;
        }
      }

      &--expand {
        &:first-child {
        }
      }

      &:first-child {
      }

      &__row-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &__icon {
          stroke: var(--border-icon-color);
          margin-left: 9px;
          transition: all 200ms;

          &--active {
            stroke: var(--index-plan-color);
            transform: rotateZ(45deg);
          }

          &__background {
            position: absolute;
            top: -1px;

            &-children {
              position: absolute;
              height: 30px;
            }

            &--orange {
              position: absolute;
              top: 2px;
              left: 0;
            }
          }
        }

        &__text {
          max-height: 27px;
          max-width: 200px;
          min-width: 60px;
          margin-left: 10px;
          margin-right: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          display: flex;
          flex-direction: row;
          justify-content: flex-start;

          &__name {
            height: 100%;
            width: calc(100% - 180px);
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 10px;
          }
          &__subname {
            height: calc(100% - 20px);
            width: calc(100% - 30px);
            padding-left: 7px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &__val {
            height: 100%;
            width: 178px;
            display: flex;
            align-items: center;
            justify-content: space-around;
          }
        }

        &__value {
          &-block {
            display: flex;
            flex-direction: column;
          }

          &__background {
            position: absolute;
            left: 150px;
            top: 1px;
          }

          &__texts {
            margin-left: 18px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }

          &__text {
            &--orange {
              color: var(--index-error-color);
            }
          }
        }

        &__value {
          color: var(--index-error-color);
          width: 100%;
          height: 20.69px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 1px solid var(--index-error-color);

          &-big-orange {
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--index-error-color);
            border-left: 1px solid var(--index-error-color);
            height: 30.69px;
          }
        }

        .row-title {
          user-select: none;

          &__icon {
            &-arrow-top {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-arrow-bottom {
              width: 13px;
              height: 12px;
              padding-left: 5px;
            }

            &-border {
              width: 2px;
              max-width: 2px;
              height: 13px;
              fill: var(--border-forms-color);

              &-warning {
                fill: var(--index-error-color);
              }
            }

            &-circle {
              min-width: 6px;
              height: 14px;
              stroke: var(--border-blue-color);

              &-warning {
                stroke: var(--index-error-color);
              }
            }

            &-line {
              width: 13px;
              left: 0px;
              top: -20px;
              position: absolute;
            }
          }
        }

        &--no-active {
          color: var(--text-main-color);
        }

        &-children {
          margin-left: 18px;
          justify-content: space-between;

          &__left-block {
            position: absolute;
            left: -2px;
            top: -26px;

            &__background {
              fill: var(--bg-body-color);
            }

            &--first {
              position: absolute;
              left: -2px;
              top: -14.6px;
              &__default {
                color: var(--border-icon-color);
              }
              &__active {
                color: var(--index-plan-color);
              }
            }
          }

          .row-title {
            &__icon {
              &-border {
                width: 7.2px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-tooltip {
  font-size: 12px;
  color: var(--text-main-color);
  background-color: var(--bg-body-color);
  box-shadow: 0 0 20px var(--gradient-main-color-1);
}

// Scroll
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  border-radius: 25px;
  margin-left: 268px;
  margin-right: 365px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-forms-color);
  border-radius: 25px;
}

::ng-deep {
  g[mask="url(#mask0)"] rect, g[mask="url(#mask0)"] path {
    fill: var(--bg-body-color);
    color: var(--border-forms-color);
  }
}
