<div class="container pointer-event">
  <evj-widget-header
    [title]="'Тепловая энергия'"
    [units]="'кг/м^3'"
    [code]=""
    [id]=""
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="false">
    <div class="mock"></div>
  </ng-container>

  <ng-container *ngIf="true">
    <div class="semicircle">
      <div class="diagram">
        <svg width="100%" height="100%" viewBox="0 0 50 50">
          <!-- production1 dia -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd1"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd1"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="2"
            [attr.stroke-dasharray]="diaCounter(radProd1)"
            [attr.stroke-dashoffset]="diaOffset(radProd1, 100)"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd1"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.production1)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd1, energyCircleDiagram.production1)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd1, energyCircleDiagram.production1)
            "
          ></circle>
          <circle
            *ngIf="
              energyCircleDiagram.production1 > energyCircleDiagram.higherLimit
            "
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd1"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.higherLimit)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd1, energyCircleDiagram.higherLimit)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd1, energyCircleDiagram.higherLimit)
            "
          ></circle>

          <!-- termo dia -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd2"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd2"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="2"
            [attr.stroke-dasharray]="diaCounter(radProd2)"
            [attr.stroke-dashoffset]="diaOffset(radProd2, 100)"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd2"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.production2)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd2, energyCircleDiagram.production2)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd2, energyCircleDiagram.production2)
            "
          ></circle>
          <circle
            *ngIf="
              energyCircleDiagram.production2 > energyCircleDiagram.higherLimit
            "
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd2"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.higherLimit)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd2, energyCircleDiagram.higherLimit)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd2, energyCircleDiagram.higherLimit)
            "
          ></circle>

          <!-- electro dia -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd3"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd3"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="2"
            [attr.stroke-dasharray]="diaCounter(radProd3)"
            [attr.stroke-dashoffset]="diaOffset(radProd3, 100)"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd3"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.production3)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd3, energyCircleDiagram.production3)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd3, energyCircleDiagram.production3)
            "
          ></circle>
          <circle
            *ngIf="
              energyCircleDiagram.production3 > energyCircleDiagram.higherLimit
            "
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd3"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.higherLimit)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd3, energyCircleDiagram.higherLimit)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd3, energyCircleDiagram.higherLimit)
            "
          ></circle>

          <!-- fuel dia -->
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd4"
            [attr.fill]="colorMain"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd4"
            fill="transparent"
            [attr.stroke]="colorBg"
            stroke-width="2"
            [attr.stroke-dasharray]="diaCounter(radProd4)"
            [attr.stroke-dashoffset]="diaOffset(radProd4, 100)"
          ></circle>
          <circle
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd4"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.production4)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd4, energyCircleDiagram.production4)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd4, energyCircleDiagram.production4)
            "
          ></circle>
          <circle
            *ngIf="
              energyCircleDiagram.production4 > energyCircleDiagram.higherLimit
            "
            [attr.cx]="centerX"
            [attr.cy]="centerY"
            [attr.r]="radProd4"
            fill="transparent"
            [attr.stroke]="diaFill(energyCircleDiagram.higherLimit)"
            stroke-width="0.7"
            [attr.stroke-dasharray]="
              diaLine(radProd4, energyCircleDiagram.higherLimit)
            "
            [attr.stroke-dashoffset]="
              diaOffset(radProd4, energyCircleDiagram.higherLimit)
            "
          ></circle>

          <line
            [attr.x1]="diaLimits(energyCircleDiagram.lowerLimit).x1"
            [attr.y1]="diaLimits(energyCircleDiagram.lowerLimit).y1"
            [attr.x2]="diaLimits(energyCircleDiagram.lowerLimit).x2"
            [attr.y2]="diaLimits(energyCircleDiagram.lowerLimit).y2"
            [attr.stroke]="colorNormal"
            stroke-width="0.2"
            stroke-dasharray="1 1"
          />
          <line
            [attr.x1]="diaLimits(energyCircleDiagram.higherLimit).x1"
            [attr.y1]="diaLimits(energyCircleDiagram.higherLimit).y1"
            [attr.x2]="diaLimits(energyCircleDiagram.higherLimit).x2"
            [attr.y2]="diaLimits(energyCircleDiagram.higherLimit).y2"
            [attr.stroke]="colorNormal"
            stroke-width="0.2"
            stroke-dasharray="1 1"
          />

          <!-- logo dia -->
          <image
            *ngIf="!isWarning"
            x="21"
            y="20"
            width="7"
            height="7"
            xlink:href="../../../../assets/icons/widgets/energetics/termo.svg"
          />
          <image
            *ngIf="isWarning"
            x="21"
            y="20"
            width="7"
            height="7"
            xlink:href="../../../../assets/icons/widgets/energetics/termo_danger.svg"
          />

          <text
            [attr.x]="diaLimits(energyCircleDiagram.lowerLimit).x2"
            [attr.y]="diaLimits(energyCircleDiagram.lowerLimit).y2"
          >
            {{ energyCircleDiagram.lowerLimit }}%
          </text>
          <text
            [attr.x]="diaLimits(energyCircleDiagram.higherLimit).x2"
            [attr.y]="diaLimits(energyCircleDiagram.higherLimit).y2"
          >
            {{ energyCircleDiagram.higherLimit }}%
          </text>
        </svg>
      </div>
      <div class="table">
        <div class="col">
          <div class="row empty"></div>
          <div class="row row-name">План</div>
          <div class="row row-name row-name-warning">Факт</div>
        </div>
        <div class="col">
          <div class="row col-name">Пр-во 1</div>
          <div class="row numbers">0.0215</div>
          <div class="row numbers numbers-fact">0.0213</div>
        </div>
        <div class="col">
          <div class="row col-name col-name-warning">Пр-во 2</div>
          <div class="row numbers">0.1408</div>
          <div class="row numbers numbers-fact numbers-warning">0.1398</div>
        </div>
        <div class="col">
          <div class="row col-name">Товарное</div>
          <div class="row numbers">17.4545</div>
          <div class="row numbers numbers-fact">17.5091</div>
        </div>
        <div class="col">
          <div class="row col-name">ОЗХ</div>
          <div class="row numbers">0.0760</div>
          <div class="row numbers numbers-fact">0.0753</div>
        </div>
      </div>
    </div>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
