:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.mock {
  position: relative;
  display: block;
  height: 144px;

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  img {
    width: 63%;
    height: 144px;
    margin-left: 85px;
  }
}

.semicircle {
  position: relative;

  width: 100%;
  height: calc(100% - 60px);

  box-sizing: border-box;
  border-left: 0.5px dashed var(--color-border-main-transparrent);
  border-right: 0.5px dashed var(--color-border-main-transparrent);

  overflow: hidden;

  &-container {
    position: relative;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .diagram {
    position: relative;
    min-height: 150px;
    min-width: 150px;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5px;

    svg {
      transition: 0.5s;
      circle,
      line {
        transition: 0.5s;
      }
      text {
        font-size: 2.5px;
        fill: var(--color-plan);
      }
    }
  }

  .table {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: -90px 20px 0 0;
    box-sizing: border-box;

    .col {
      width: 65px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      margin-left: 15px;

      &-name {
        box-sizing: border-box;
        border-bottom: 2px solid var(--color-plan);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        margin-bottom: 10px;
        padding-bottom: 5px;
      }

      .row {
        width: 100%;
        height: 18px;

        &-name {
          text-align: center;
        }
      }
    }

    .col,
    .row {
      &-name {
        font-size: 12px;
        color: var(--color-plan);

        &-warning {
          color: var(--color-fact);
          border-color: var(--color-deviation);
        }
      }
    }

    .numbers {
      font-size: 1em;
      color: var(--color-plan);

      &-fact {
        color: var(--color-fact);
      }

      &-warning {
        color: var(--color-deviation);
      }
    }

    .empty {
      margin-bottom: 17px;
    }
  }
}
