* {
  box-sizing: border-box;
}

.main-groups {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    display: flex;
    align-items: center;

    &:nth-child(2) {
      margin: 80px 0;
    }
  
    .arrow-btn {
      margin-top: -3px;
      position: absolute;
      left: -8px;
      z-index: 999;

      transform: rotate(180deg);
    }
  
    .title {
      height: 25px;
      width: 60px;
  
      padding-left: 14px;
  
      font-size: 14px;
      line-height: 17px;
  
      display: flex;
      align-items: center;
  
      background: var(--sou-mvp-color-bg-title);
      border: 1px solid var(--sou-mvp-color-border);
      border-radius: 2px;

      position: relative;

      span {
        color: var(--sou-mvp-color-text-diagram-main);

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .line {
      flex: 1;
    }

    &-modified {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .main-groups__row {
        display: flex;
        align-items: center;

        position: relative;

        &:last-child {
          padding-left: 209px
        }

        .vertical-custom-connection {
          display: flex;
          flex-direction: column;
          align-items: center;
      
          position: absolute;
          left: 220px;
          top: -17px;
          
          .connection-circle {
            height: 8px;
            width: 8px;
          
            display: flex;
            justify-content: center;
            align-items: center;
          
            border-radius: 50%;
          
            background: var(--sou-mvp-color-bg-main);
            border: 1px solid var(--sou-mvp-color-border);

            &:last-child {
              transform: translate(0px, -18px);
              z-index: 999;
            }
          }
      
          .line-custom {
            height: 23px;
            width: 1px;
            border-left: 1px solid var(--sou-mvp-color-border);
          }
        }
      }
    }
  }
}

.line {
  height: 1px;
  width: 23px;
  border-top: 1px solid var(--sou-mvp-color-border);
}

.main-groups__column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &-inner {
    display: flex;
    align-items: center;
  }
}