.evj-events-smpo-reasons {
  &_body {
    padding: 20px 17px 20px 22px;
    width: inherit;
    background-color: var(--bg-dashboard-color);
    border: 1px solid var(--chart-segment-color);
    border-radius: 2px;
    box-sizing: border-box;
    height: 172px;
  }

  &_card-list {
    height: 130px;
    overflow: auto;
  }
}
