<evj-contemporary-widget-header [uniqId]="uniqId" [widgetTitle]="widgetTitle" icon="deviation-details">
  <div class="content-container" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()"></div>
</evj-contemporary-widget-header>

<div class="wrapper" (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()">
  <div class="list">
    <ng-container *ngFor="let deviation of deviations">
      <div class="list__item">
        <div class="progress-bar">
          <span [class.completed]="deviation?.progressBar?.value === 100">{{ deviation.name }}</span>
          <evj-aps-progress-bar [settings]="deviation.progressBar"></evj-aps-progress-bar>
        </div>
        <div class="progress-values">
          <div class="progress-values__content">
            <div class="top-frame"></div>
            <div class="bottom-frame"></div>
            <span>{{ deviation.valuePositive | spaceNumber}}</span>
            <ng-container *ngIf="deviation.valueNegative">
              <span class="deviation">{{ deviation.valueNegative | spaceNumber}}</span>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
