<div class="container-tank-level">
    <div class="container-tank-level__title"> Резервуар №514 </div>
    <div class="container-tank-level__content">
        <div class="values">
            <div class="values__block">
                <div class="title">Вместимость</div>
                <div class="value"> 2 720 тонн</div>
            </div>
            <div class="values__block">
                <div class="title">Отгружено</div>
                <div class="value"> 1 400 тонн</div>
            </div>
        </div>
        <div class="tank">
            <div class="first-circle">
                <div class="second-circle">
                    <div class="level">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-tank-level__type-title"> Бензин АИ-92-К2</div>
</div>