.container-tank-level {
    height: 100%;
    width: 100%;
    font-size: 14px;

    &__title {
        height: 30px;
        text-align: center;
        font-size: 15px;
    }

    &__content {
        height: calc(100% - 100px);
        background-color: var(--color-oil-card);
        border-radius: 15px;
        display: flex;
        max-width: 245px;
        min-height: 85px;

        .values {
            width: 50%;

            &__block {
                text-align: center;
                height: 35px;
                line-height: 15px;
                margin-top: 5px;

                .title {
                    color: var(--color-text-sub);
                    font-size: 12px;
                }

                .value {
                }
            }
        }

        .tank {
            width: 50%;
            overflow: auto;
            overflow-x: hidden;
            position: relative;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            overflow-y: hidden;

            .first-circle {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: calc(100% - 10px);
                clip-path: circle(50%);
                width: calc(100% - 0px);
                right: -30px;
                background-color: #2a547a;
                display: grid;
                align-items: end;

                &__level {
                    height: 0%;
                    background-color: var(--color-border-active);
                }

                &__value {
                    position: absolute;
                    top: 40%;
                    left: 30%;
                }
            }

            .second-circle {
                height: calc(100% - 20px);
                width: calc(100% - 2px);
                position: absolute;
                border: 10px solid #203046;
                right: -40px;
                border-radius: 50%;
            }
        }
    }

    &__type-title {
        margin-top: 5px;
        height: 20px;
        text-align: center;
    }
}
