<div class="month">
  <mat-form-field style="width: 100%;">
    <mat-label>Выберите месяц</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      disabled
      [value]="date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker">
      <mat-icon matDatepickerToggleIcon (click)="clickMonth()">
        <svg-icon
          src="assets/icons/widgets/reports/calend.svg"
          [svgStyle]="{ 'width.px':25, 'height.px':25}"
        >
        </svg-icon>
      </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="multi-year"
      (monthSelected)="chosenMonthHandler($event, picker)"
      disabled="false"
    ></mat-datepicker>
  </mat-form-field>
</div>
