.month {
    ::ng-deep {
        .mat-form-field-infix {
            width: 100px;
        }
        .mat-form-field-underline {
            background-color: var(--color-border-main-transparrent);
        }
        input {
            border-bottom: 0;
        }
        .mat-icon {
            margin-top: -10px;
        }
    }
}

::ng-deep {
    .month {
        ::ng-deep {
            .mat-calendar-header {
                display: none;
            }
        }
    }
}
