<div style="height: 100%; width: 100%;" >

    <evj-widget-header [title]="title" [units]="units" [code]="code" [id]="id"></evj-widget-header>

    <evj-frame-top></evj-frame-top>
    
    <ng-container>
            <div class="content_block" (mousedown)="$event.stopPropagation()" 
            (touchstart)="$event.stopPropagation()">
                    <div class="blocks">
                            <div *ngIf="isMock === true"  style="width: 100%; height: 100%;">
                                            <div class="imgblock" >
                                                            <img src='../../../../../assets/img/pie.png'>
                                            </div>
                            </div>
                            <div *ngIf="isMock === false" class="container_map">
                                    <div class="map">
                                            <div #myCircle class="map2">
                                            </div>
                                    </div>
                                            <div class="table_map">
                                                    <div class="info_block">
                                                         <div class="indicators">
                                                             Контролируемые показатели
                                                         </div>
                                                         <div class="indicators_value">
                                                             ПДК м.р., мг/м3
                                                         </div>
                                                        <div class="change_point">
                                                            <div class="button_left" (click)="backPoint(this.idPoint)"></div>
                                                            <div class="name_point">{{this.namePoint}}</div>
                                                            <div class="button_right" (click)="nextPoint(this.idPoint)"></div>
                                                        </div>
                                                    </div>
                                                <ng-container *ngFor="let data of datas">
                                                    <ng-container *ngIf="data.name === this.namePoint">
                                                            <div class="value_block" *ngFor="let item of data.attributs">
                                                                    <div class="value_name">{{item.point}}</div>
                                                                    <div class="value">{{item.value}}</div>
                                                                    <div class="value_point">{{item.pointvalue}}</div>
                                                                </div>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                            </div>
                    </div>
            </div>
    </ng-container>
    
    <evj-frame-bottom></evj-frame-bottom>
</div>
