.suutp-header {
  &__wrapper {
    align-items: center;
    background: var(--bg-header-color);
    color: var(--text-accent-color);
    display: flex;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  &__icon {
    color: var(--border-icon-color);
    margin-right: 14px;
    line-height: 10px;
    padding: 2px;
  }
}
