<div style="height: 100%; width: 100%;" [class.activeHeader]="clicked">
  <evj-widget-header
    [title]="widgetTitle"
    [units]="widgetUnits"
    [code]="widgetCode"
    [icon]="widgetIcon"
    [id]="widgetId"
    [uniqId]="widgetUniqId"
  ></evj-widget-header>
  <div
    style="height: 100%; width: 100%;"
    (click)="onChangeBackground()"
    [class.activeBack]="clicked"
  >
    <evj-frame-top></evj-frame-top>
    <ng-container>
      <div
        class="content_block"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
        [class.activeBorder]="clicked"
      >
        <div class="blocks">
          <div style="display:flex; height: 100%;">
            <div class="cb">
              <div #circleFactory class="item-b"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <evj-frame-bottom></evj-frame-bottom>
  </div>
</div>
