<div class="box-container">
  <div #gauge class="gauge-container" [style]="chartWidth">
    <div class="diagram" #diagram></div>
  </div>
  <div class="diagrams-container">
    <ng-container
      *ngTemplateOutlet="lineDiagram; context: {label: temperature?.name, currentValue: temperature?.min, maxValue: temperature?.max}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="lineDiagram; context: {label: temperatureRaw?.name, currentValue: temperatureRaw?.min, maxValue: temperatureRaw?.max}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="lineDiagram; context: {label: consumption?.name, currentValue: consumption?.min, maxValue: consumption?.max}"
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="lineDiagram; context: {label: multiplicity?.name, currentValue: multiplicity?.min, maxValue: multiplicity?.max}"
    ></ng-container>
  </div>
  <div class="border-container" [style]="borderLeft"></div>
</div>

<ng-template #lineDiagram let-label="label" let-currentValue="currentValue" let-maxValue="maxValue">
  <div class="diagram-container">
    <div class="label">{{label}}</div>
    <div class="diagram-component">
      <div class="value">{{currentValue}}</div>
      <div class="line-diagram-container">
        <div class="line-diagram-container-entry">
          <div class="line-diagram-background"></div>
          <div [style]="getLineWidth(currentValue, maxValue)" class="line-diagram-value"></div>
        </div>
      </div>
      <div class="value">{{maxValue}}</div>
    </div>
  </div>
</ng-template>
