<div class="reference-left">
  <div class="top-frame"></div>
  <div class="middle">
    <div class="top_block_middle">
      <div class="title_block">{{data.nameReference}}</div>
    </div>
    <div class="bottom_block_middle">
      <div class="park">
        <div class="title_park">
          <div class="title">Парк Сырой нефти</div>
          <div class="button"></div>
          <div class="reference"></div>
        </div>
      </div>
      <div class="settings">
        <div class="title_sett">
          <div class="title">Установки</div>
          <div class="button"></div>
          <div class="reference"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_frame"></div>
</div>
