.container {
    height: 100%;
    background: var(--bg-dashboard-color);

  &__charts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: scroll;
    max-height: 98vh;
  }

  &__chart {
    display: block;

    & + & {
      margin-top: 16px;
    }
  }
}
