<div class="main-groups">
  <div class="main-groups__item main-groups__item-modified">
    <div class="main-groups__row">
      <div class="title" (click)="redirectMnemonic(inputOne)">
        <div class="arrow-btn">
          <svg-icon
            src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
            [svgStyle]="{ 'width.px':16, 'height.px':16 }"
          ></svg-icon>
        </div>
        <span>{{ inputOne?.name }}</span>
        <div class="connection-circle"></div>
      </div>
      <evj-sou-mvp-mnemonic-scheme-circle-diagram
        [data]="{
          sections: sections,
          code: 81,
          disabled: true
        }"
      ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
      <evj-sou-mvp-mnemonic-scheme-info
        [data]="{
          sections: sections,
          code: 81
        }"
        [outCount]="0"
        [choosenSetting]="choosenSetting"
      ></evj-sou-mvp-mnemonic-scheme-info>
    </div>
    <div class="main-groups__row">
      <div class="vertical-custom-connection">
        <div class="connection-circle"></div>
        <div class="line-custom"></div>
        <div class="connection-circle"></div>
      </div>
      <div class="main-groups__column">
        <evj-sou-mvp-mnemonic-scheme-collector
          [style.height.%]="100"
          [data]="{
            sections: sections,
            code: 82
          }"
          [outCount]="6"
          [inCount]="0"
        ></evj-sou-mvp-mnemonic-scheme-collector>
      </div>
      <div class="main-groups__column">
        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 83
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>

        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 84
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>

        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 85
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>

        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 86
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>

        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 87
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>

        <div class="main-groups__column-inner">
          <evj-sou-mvp-mnemonic-scheme-stream-diagram
            [data]="{
              sections: sections,
              code: 88
            }"
            [choosenSetting]="choosenSetting"
          ></evj-sou-mvp-mnemonic-scheme-stream-diagram>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-groups__item">
    <div style="cursor: pointer" (click)="redirectMnemonic(inputTwo)" class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{ inputTwo?.name }}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 89,
        disabled: true
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 89
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
    <div class="line"></div>
  </div>
</div>
