<div class="menu">
  <ng-container *ngFor="let item of stats">
    <div class="menu_item" [class.menu_item__active]="select.isSelected(item)" (click)="select.select(item)">
      <div class="menu_item__container">
        <div class="menu_item__title-text">
          {{item?.status?.description ? item.status.description : item.status.name}}
        </div>
        <div class="menu_item__count-text">{{item.count}}</div>
      </div>
      <div class="menu_item__border"></div>
    </div>
  </ng-container>
</div>
