* {
  box-sizing: border-box;
}
.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40px;
  margin: 5px 0;
  font-size: 14px;
  user-select: none;

  ::ng-deep {
    .mat-form-field-wrapper {
      margin: 0 5px;
    }

    .mat-form-field-infix {
      height: 30px;
      padding: 0;
      border: 0px;
    }
  }

  &-header {
    width: 100%;
    display: flex;
    background: var(--gray-G12-color);
    border-radius: 2px;
    border: 1px solid transparent;
    justify-content: space-between;
    cursor: pointer;

    &--active {
      background: var(--opacity-plan-20-color);
      border: 1px solid var(--border-blue-color);
    }
    &__text {
      margin-left: 20px;
      color: var(--text-subscript-color);
      &--active {
        color: var(--text-accent-color);
      }
    }
    &__icon {
      margin: auto 20px auto 0;
      color: var(--border-icon-color);
      &__active {
        color: var(--gray-G1-color);
        transform: rotate(180deg);
      }
    }
    &.mat-expanded:hover {
      background-color: red;
    }
  }
  &-body {
    display: flex;
    flex-wrap: wrap;

    margin-top: 25px;
    .form {
      width: 204px;
      padding-right: 10px;

      &__icon {
        margin-top: -10px;
      }
      &__title {
        font-size: 12px;
        color: var(--text-main-color);
        top: -25px;
        left: -30px;
        position: absolute;
      }
      &__value {
        display: flex;
        position: relative;
        font-size: 14px;
        top: -18px;
      }
      &__picker {
        flex: 1;
        height: 30px;
        padding: 4px 5px 0;

        border: 1px solid var(--border-forms-color);
        width: 196px;
        box-sizing: border-box;
      }
    }
    &__footer {
      width: 100%;
      margin: 10px 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      &__icon {
        cursor: pointer;
        margin: auto 20px auto 0;
      }
    }
  }
}

.custom-picker {
  ::ng-deep {
    .mat-form-field-flex {
      flex-direction: row-reverse;
    }
    .mat-form-field-infix {
      padding: 0;
      margin-left: 5px;
      border: 0px;
      width: 100px;
    }
    .mat-form-field-underline {
      display: none;
    }
    input {
      border-bottom: 0;
    }
    .mat-icon {
    }
    .mat-input-element:disabled,
    .mat-form-field-type-mat-native-select .mat-form-field-disabled .mat-form-field-infix::after {
      color: var(--text-contrast-color) !important;
    }
  }
}

.dates-selector {
  //new
  // pointer-events: none;

  //new
  color: var(--color-text-sub-heading);
  position: relative;
  display: flex;
  align-items: center;
  height: 43px;
  padding: 6px 10px 7.8px 7.5px;
  font-size: 0.625rem;
  background-color: var(--color-bg-disable);
  border: 0.5px solid transparent;

  box-sizing: border-box;

  &__heading {
    margin-bottom: 6.6px;
    color: var(--color-text-sub-heading);
  }

  &__dates {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    color: var(--color-text-sub);
  }

  &__date-input {
    margin-top: 5px;
    color: var(--color-text-sub);
    border: none;
    background: transparent;
    width: 100px;
    pointer-events: all;
    &___disabled {
      pointer-events: none;
      color: var(--color-text-sub-heading);
    }
  }

  &__label {
    margin-top: 5px;
    margin-right: 5px;
  }

  &__picker {
    display: none;
  }

  &__picker-open {
    display: block;
    margin-top: 26px;
    left: -4px;
    z-index: 999;
    position: absolute;
    background-color: var(--color-bg-sub);
    padding-left: 5px;
    padding-right: 5px;
    width: 140px;

    ::ng-deep {
      .mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding: 0px !important;
      }

      .mat-calendar-body-cell-content {
        &:hover {
          background-color: var(--color-border-active);
        }
      }

      .cdk-overlay-pane {
        margin-top: 45px;
      }

      .mat-option:hover {
        background: var(--color-text-sub);
      }

      .ng-tns-c39-2 {
        font-size: 15px;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-underline {
        border-top: none;
      }

      .time {
        font-size: 12px;
        input {
          width: 90% !important;
          background-color: var(--color-bg-sub) !important;
        }
      }

      .date {
        color: white;
        font-size: 12px;
      }
    }
  }

  &__date-choose {
    min-width: 85px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;

    &:hover {
      color: white;
    }

    &__disabled {
      pointer-events: none;
      color: var(--color-text-sub-heading);
    }
  }

  &__separator {
    margin: 7px 10px 0px 5px;
  }

  &:before {
    z-index: 1;
    content: "";
    position: absolute;
    right: -1px;
    top: -1px;

    height: 7px;
    width: 7px;

    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-sub);
    border-color: var(--color-bg-sub);
  }

  &:after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0px;

    height: 7px;
    width: 7px;
    box-sizing: border-box;
    transform-origin: 43% 0;
    transform: rotate(-45deg);

    background: var(--color-bg-sub);
    border-color: var(--color-bg-sub);
  }

  &_active {
    border: 0.5px solid var(--color-border-active);
    color: var(--color-text-sub);
    &:before {
      border-left: 0.5px solid var(--color-border-active);
    }
    &:after {
      border-top: 0.5px solid var(--color-border-active);
    }
  }
}

.form-picker_left {
  margin-right: 5px;
}

.form-picker_right {
  margin-left: 5px;
}
