.block {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--color-header-bg-linedate);
  border: 1px var(--color-new-header-active);
  border-style: none solid none;
}

.calendar-column {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;

  &:first-child &_date {
    border-left: none;
  }
  &:last-child &_date {
    border-right: none;
    border-bottom: 1px solid var(--color-header-text-sub);
  }

  &_date {
    position: absolute;
    display: flex;
    border-right: 1px solid var(--color-header-text-sub);
    border-bottom: 1px solid var(--color-header-text-sub);
    width: 100%;
    height: 50%;
    top: 0;
    font-size: 70%;
    font-weight: lighter;
    justify-content: center;
    align-items: center;

    &__last {
      color: var(--color-header-text-sub);
    }
    &__current {
      color: var(--color-header-text-datetime-current);
      border-bottom: 2px solid var(--color-new-header-active);
      background-color: var(--color-new-header-active-trans);
    }
    &__future {
      color: var(--color-header-text-sub);
    }

    &__period {
      color: var(--color-header-text-datetime-current);
    }
  }

  &_time {
    position: absolute;
    display: flex;
    overflow: visible;
    width: 100%;
    height: 50%;
    top: 50%;
    font-size: 60%;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-active);
    color: var(--color-header-text-datetime-current);
  }
}

.line-start {
  position: relative;
  width: 2px;
  height: 100%;

  svg-icon {
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    top: -6px;
    bottom: 0;
    left: -10px;
    margin: auto;
  }
}

.line-end {
  position: relative;
  width: 0px;

  svg-icon {
    position: absolute;
    z-index: 3;
    width: 16px;
    height: 16px;
    top: -6px;
    bottom: 0;
    right: -4px;
    margin: auto;
  }
}

.eline-not-finish {
  display: none;
}

.mline-not-finish {
  width: 99.2% !important;
  margin-left: 4px;
}

.mline-not-finish-end {
  width: 98.5% !important;
}

.middle-line {
  width: 100%;
  background-color: var(--color-new-header-active-trans);
}

.line-block {
  z-index: 999;
  height: 100%;
  display: flex;
  position: absolute;
}

.container {
  * {
    box-sizing: border-box;
  }
  height: 100%;
  width: 100%;

  position: relative;

  .date-container {
    height: 50%;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--opacity-plan-20-color);

    font-size: 10px;
    line-height: 12px;
    color: var(--text-accent-color);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &__first {
      border-bottom: 1px solid var(--border-blue-color);
    }
  }

  .shadow {
    width: 16px;
    height: 100%;

    position: absolute;
    top: 0;

    &:first-child {
      background: linear-gradient(90deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
      left: 0;
    }

    &:last-child {
      background: linear-gradient(270deg, var(--gradient-main-color-1) -0.04%, var(--gradient-main-color-2) 99.96%);
      right: 0;
    }
  }
}
