<div class="widget">
  <div>
    <evj-contemporary-widget-header
      [uniqId]="uniqId"
      [widgetTitle]="widgetTitle"
      icon="drop"
      type="astue"
    >
      <div
        class="header"
        (mousedown)="$event.stopPropagation()"
        (touchstart)="$event.stopPropagation()"
      >

        <div class="btn btn__blue btn__save" (click)="save()">
          <svg-icon
            class="btn__icon"
            src="assets/icons/widgets/SOU/sou-workspace/save.svg"
            [ngStyle]="{ 'height.px':16 }"
          ></svg-icon>
          <span>Сохранить</span>
        </div>

        <div class="btn btn__reload">
          <svg-icon
            class="btn__icon"
            src="assets/icons/widgets/SOU/sou-workspace/reload_play.svg"
            [ngStyle]="{ 'height.px':16 }"
          ></svg-icon>
          <span>Обнулить</span>
        </div>

        <div class="btn btn__close" (click)="closeWorkspace()">
          <svg-icon
            class="btn__icon"
            src="assets/icons/widgets/SOU/sou-workspace/cross_close_circle.svg"
            [ngStyle]="{ 'height.px':16 }"
          ></svg-icon>
          <span>Закрыть</span>
        </div>

      </div>
    </evj-contemporary-widget-header>
  </div>

  <div
    class="container" (mousedown)="$event.stopPropagation()"
    (touchstart)="$event.stopPropagation()"
  >
    <evj-sou-workspace-info-bar
      #infoBarSource
      class="info-bar"
      [data]="workspaceBarInfo[0]"
    >
    </evj-sou-workspace-info-bar>
    <evj-sou-workspace-operation
      #operation
      class="workspace-operation"
      [sourceType]="infoBarSource.objectType"
      [destinationType]="infoBarDestination.objectType"
      (clickSmartTrend)="openDialog()"
    ></evj-sou-workspace-operation>
    <!--    <evj-workspace-chart></evj-workspace-chart>-->
    <!--    <div class="default-img"></div>-->
    <evj-sou-workspace-info-bar
      #infoBarDestination
      class="info-bar"
      [data]="workspaceBarInfo[1]"
    >
    </evj-sou-workspace-info-bar>
  </div>
</div>
<ng-container *ngIf="showChart">
  <div [@animation] style="margin-top: 10px">
    <div
      class="widget-header" (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <evj-contemporary-widget-header
        widgetTitle="Умный тренд"
        icon="chart"
      >
      </evj-contemporary-widget-header>
    </div>
    <evj-workspace-chart></evj-workspace-chart>
  </div>
</ng-container>

<ng-template #overlayCustom>
  <div class="example-dialog-content" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="widget-header" style="cursor: move">
      <div class="header header__smart">
        <div class="header__title-block">
          <svg-icon
            class="header__icon"
            src="assets/icons/widgets/SOU/sou-streams/chart_mountain.svg"
            [ngStyle]="{ 'height.px':16 }"
          ></svg-icon>
          <div class="header__title">Умный тренд</div>
        </div>
        <span class="close">
       <svg-icon
         (click)="overlayDetach()"
         src="assets/icons/widgets/SOU/sou-streams/close_modal.svg"
         [ngStyle]="{ 'height.px':16 }"
       ></svg-icon>
    </span>
      </div>
    </div>
    <evj-workspace-chart
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    ></evj-workspace-chart>
  </div>
</ng-template>

