<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="!isWorkerSettingsShowed && !isGroupsShowed">
    <div
      class="admin-container"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    >
      <div class="admin">
        <div class="admin__header">
          <div class="header__search">
            <div class="search">
              <evj-input
                class="insert-component"
                [placeholder]="searchPlaceholder"
                [iconSrc]="searchIcon"
                (inputedValue)="onSearchWorker($event)"
              ></evj-input>
            </div>
            <div class="brigades__button">
              <evj-button
                class="insert-component"
                [isSmallButton]="true"
                [imgSrc]="groupsButtonIcon"
                [isActive]="isBrigadesShowed"
                [isChangingState]="true"
                (click)="onShowBrigades()"
              ></evj-button>
            </div>
            <div class="group__button">
              <evj-button
                class="insert-component"
                [isSmallButton]="false"
                [textButton]="'Группы'"
                (click)="onShowGroups()"
              ></evj-button>
            </div>
          </div>
          <div class="header__title">
            <div class="title">Основная информация</div>
            <div class="line"></div>
          </div>
          <div class="header__more">
            <div class="add__button">
              <evj-button
                class="insert-component"
                [isSmallButton]="false"
                [textButton]="'Добавить сотрудника'"
                (click)="isDropdownShowed=true"
              ></evj-button>
              <div
                class="dropdown"
                [ngClass]="{'dropdown_active':isDropdownShowed}"
                (mouseleave)="isDropdownShowed=false"
              >
                <div class="dropdown__item">Создать нового</div>
                <div class="dropdown__item">Импортировать</div>
              </div>
            </div>

            <div class="more__button">
              <evj-button
                class="insert-component"
                [isSmallButton]="false"
                [textButton]="'Подробнее'"
                (click)="getMoreAboutWorker()"
              ></evj-button>
            </div>
          </div>
        </div>
        <div class="admin__employee">
          <evj-admin-employee
            [searchedWorker]="searchedWorker"
            [workers]="workers"
            *ngIf="!isBrigadesShowed"
          ></evj-admin-employee>
          <evj-admin-brigades
            *ngIf="isBrigadesShowed"
            [searchedBrigade]="searchedWorker"
            [brigades]="brigades"
          ></evj-admin-brigades>
        </div>
        <div class="admin__workspace">
          <evj-admin-workspace></evj-admin-workspace>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="isWorkerSettingsShowed">
    <evj-admin-worker-settings
      class="admin-container"
      [isCreateNewUser]="isCreateNewWorker"
      (closeWorkerSettings)="onCloseWorkerSettings()"
      (mousedown)="$event.stopPropagation()"
      (touchstart)="$event.stopPropagation()"
    ></evj-admin-worker-settings>
  </ng-container>

  <ng-container *ngIf="isGroupsShowed">
    <evj-admin-groups class="admin-container" (hideGroups)="onHideGroups()"></evj-admin-groups>
  </ng-container>

  <evj-frame-bottom></evj-frame-bottom>
</div>
