<evj-widget-preview
  [title]="title"
  [previewTitle]="previewTitle"
  *ngIf="isMock"
></evj-widget-preview>

<div class="container pointer-event" *ngIf="!isMock">
  <evj-widget-header
    [title]="title"
    [units]="units"
    [code]=""
    [id]="id"
    [uniqId]="uniqId"
  ></evj-widget-header>

  <evj-frame-top></evj-frame-top>

  <ng-container *ngIf="!isWorkerSettingsShowed;else workerSettings">
    <div class="admin">
      <div class="admin__header">
        <div class="header__search">
          <div class="search">
            <evj-input
              class="insert-component"
              [placeholder]="'Введите ФИО сотрудника'"
              [iconSrc]="searchIcon"
              (inputedValue)="onSearchWorker($event)"
            ></evj-input>
          </div>
          <div class="group__button">
            <evj-button
              class="insert-component"
              [isSmallButton]="true"
              [imgSrc]="groupsButtonIcon"
              (click)="isGroupShowed=!isGroupShowed"
            ></evj-button>
          </div>
        </div>
        <div class="header__title">
          <div class="title">Основная информация</div>
          <div class="line"></div>
        </div>
        <div class="header__more">
          <div class="add__button">
            <evj-button
              class="insert-component"
              [isSmallButton]="false"
              [textButton]="'Добавить сотрудника'"
            ></evj-button>
          </div>

          <div class="more__button">
            <evj-button
              class="insert-component"
              [isSmallButton]="false"
              [textButton]="'Подробнее'"
              (click)="getMoreAboutWorker()"
            ></evj-button>
          </div>
        </div>
      </div>
      <div class="admin__employee">
        <evj-admin-employee
          [searchedWorker]="searchedWorker"
          *ngIf="!isGroupShowed"
        ></evj-admin-employee>
        <evj-admin-brigades *ngIf="isGroupShowed"></evj-admin-brigades>
      </div>
      <div class="admin__workspace">
        <evj-admin-workspace></evj-admin-workspace>
      </div>
    </div>
  </ng-container>

  <ng-template #workerSettings>
    <evj-admin-worker-settings
      (closeWorkerSettings)="onCloseWorkerSettings()"
    ></evj-admin-worker-settings>
  </ng-template>

  <evj-frame-bottom></evj-frame-bottom>
</div>
