<div class="container">
  <div class="file-info">
    <div class="file-title">Название файла...</div>
    <div class="file-loading">
      <div class="chart" #chart>
        <svg-icon
          [src]="'assets/icons/widgets/KPE/kpe-execution-production-program/' + (percent === 100 ? 'loaded' : 'pause') + '.svg'"
          [attr.class]="percent === 100 ? 'loaded' : 'pause'"
        ></svg-icon>
      </div>
      <div class="weight">512 MB</div>
    </div>
  </div>
  <div class="file-icon">
    <svg-icon src="assets/icons/widgets/KPE/kpe-execution-production-program/doc.svg"></svg-icon>
  </div>
  <div class="close-btn" *ngIf="percent===100">
    <svg-icon src="assets/icons/widgets/KPE/kpe-execution-production-program/x.svg"></svg-icon>
  </div>
</div>
