input {
  width: calc(100% - 45px);
  height: 100%;
  outline: none;
  padding-left: 35px;
  background: var(--color-input);
  font-size: 12px;
  border: none;
  color: var(--color-text-main);
  border-bottom: 1px solid var(--color-text-main-transparent);

  &:hover {
    border-bottom: 1px solid var(--color-border-active);
    color: var(--color-text-main);
    &::placeholder {
      color: var(--color-text-main);
    }
  }
}

::-webkit-input-placeholder {
  color: var(--color-text-main);
  font-size: 12px;
  text-align: center;
}

.input-block {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;

  &__button-search {
    z-index: 999;
    cursor: pointer;
    height: 100%;
    position: absolute;

    ::ng-deep {
      svg {
        height: 100%;
      }
    }
  }

  &__input {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background: linear-gradient(90deg, transparent 10%, var(--color-text-main) 100%);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    .input-back {
      position: relative;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      margin: auto;
      border-radius: inherit;
      background: var(--color-input-backgroud-table);

      input {
        border-bottom: none !important;
      }
    }
  }

  &__input-active {
    background: linear-gradient(90deg, transparent 10%, var(--color-active) 100%);
  }
}
