<div class="main-groups">
  <div class="main-groups__item">
    <div
      style="cursor: pointer"
      class="title"
      (click)="mvpService.redirectMnemonic(mvpService.getElementByCode(sections, 0)?.linkId)"
    >
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 0)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 3
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 3
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div
      style="cursor: pointer"
      class="title"
      (click)="mvpService.redirectMnemonic(mvpService.getElementByCode(sections, 1)?.linkId)"
    >
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 1)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 4
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 4
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div
      style="cursor: pointer"
      class="title"
      (click)="mvpService.redirectMnemonic(mvpService.getElementByCode(sections, 2)?.linkId)"
    >
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 2)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 5
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 5
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
</div>
