<div class="main-groups">
  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 151)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 150
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 150
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 148)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 149
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 149
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>

  <div class="main-groups__item">
    <div class="title">
      <div class="arrow-btn">
        <svg-icon
          src="assets/icons/widgets/SOU/sou-mvp-mnemonic-scheme/doubleArrow.svg"
          [svgStyle]="{ 'width.px':16, 'height.px':16 }"
        ></svg-icon>
      </div>
      <span>{{mvpService.getElementByCode(sections, 147)?.name}}</span>
      <div class="connection-circle"></div>
    </div>
    <evj-sou-mvp-mnemonic-scheme-circle-diagram
      [data]="{
        sections: sections,
        code: 146
      }"
    ></evj-sou-mvp-mnemonic-scheme-circle-diagram>
    <evj-sou-mvp-mnemonic-scheme-info
      [data]="{
        sections: sections,
        code: 146
      }"
      [choosenSetting]="choosenSetting"
    ></evj-sou-mvp-mnemonic-scheme-info>
  </div>
</div>
