.employee-container {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color: var(--evj-color-bg-footer);
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;

  &__avatar {
    border-radius: 50%;
    margin-left: 8px;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;

    .icon {
      height: 40px;
      width: 35px;
      //border: 0.5px solid var(--color-text-main);
      clip-path: circle(45%);

      ::ng-deep {
        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &__info {
    width: calc(100% - 120px);

    .fio {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .specialty {
      color: var(--color-text-sub);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__brigade {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    .brigade {
      height: 20px;
      width: auto;
      line-height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 4px;
    }
  }

  &__garbage {
    cursor: pointer;
    position: absolute;
    right: 20px;

    ::ng-deep svg {
      fill: var(--color-text-main);
    }

    &:hover {
      ::ng-deep svg {
        fill: var(--color-active);
      }
    }
  }

  &__status {
    cursor: pointer;
    position: relative;
    right: -40px;
  }

  &__star {
    display: none;
  }
}

.star-active {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 55px;
  ::ng-deep svg {
    fill: var(--color-text-main);
  }

  &:hover {
    ::ng-deep svg {
      fill: var(--color-active) !important;
    }
  }
}

.status-overlay {
  display: none;
  position: absolute;
  right: 3px;
  top: 33px;
  opacity: 0;
  -webkit-animation: slide 200ms ease forwards;
  animation: slide 200ms ease forwards;
  background-color: var(--color-bg-sub);
  z-index: 2;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 8px 0px #00000078;
  border-radius: 5px;
  min-width: 150px;

  .icon {
    width: 20px;
    height: 20px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      text-align: center;
      padding: 10px 10px;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: var(--color-bg-active);
        &::before {
          content: "";
          left: 0px;
          top: 0;
          position: absolute;
          width: 4px;
          height: 36px;
          border-radius: 11px;
          background-color: var(--color-bg-active-bright);
        }
      }
      // &:first-child {
      //   padding: 10px 10px;
      //   padding-top: 5px;
      // }
      // &:last-child {
      //   padding: 10px 10px;
      //   padding-bottom: 15px;
      // }
    }
  }
}

.color {
  &-1 {
    background: var(--color-smp-blue);
  }
  &-2 {
    background: var(--color-bg-active-sub-workflow);
  }
  &-3 {
    background: var(--color-active);
  }
  &-4 {
    background: var(--color-marker-diagram);
  }
  &-5 {
    background: var(--color-smp-ev-ws-grad2);
  }
  &-6 {
    background: var(--color-bg-active-gradient);
  }
}

::ng-deep .customize-menu {
  background-color: var(--color-astue-onpz-widget-bg);
  .mat-menu-item {
    color: var(--color-text-main);
    background-color: var(--color-new-header-bg);
    margin-bottom: 2px;
    height: 45px;
    min-width: 200px;
    &:hover {
      background-color: var(--color-admin-shift-active-bright);
      border-left: 2px solid var(--color-admin-shift-active);
    }
  }
}
