<div class="blocks">
  <div class="container" [class.container-short]="widgetType === 'product-groups-short'">
    <div class="top_background">
      <div class="b-a-left">
        <div class="left_table_top"></div>
      </div>
      <div class="b-a-middle" [class.middle_header]="widgetType === 'product-groups-short'">
        <div class="middle_table_top"></div>
      </div>

      <div class="b-a-left" [class.displayOFF]="widgetType === 'product-groups-short'">
        <div class="right_table_top"></div>
      </div>
    </div>
    <div class="test">
      <div
        id="botscroll"
        class="middle_table"
        [class.middle_table-short]="widgetType === 'product-groups-short'"
        (scroll)="onBottomScroll($event)"
      >
        <table>
          <tbody>
            <ng-container *ngFor="let items of datas; trackBy: rowsById">
              <tr class="item-b">
                <td class="fix-left">
                  <div class="group_product">
                    <evj-product-groups-left [dataProductGroups]="items" (click)="isClickedFunc(items)">
                    </evj-product-groups-left>
                  </div>
                </td>
                <td class="move">
                  <div class="product">
                    <ng-container *ngFor="let item of items.products; let i = index; ">
                      <evj-product-groups-middle [dataProductsItems]="item"> </evj-product-groups-middle>
                    </ng-container>
                  </div>
                </td>
                <td class="fix-right" [class.displayOFF]="widgetType === 'product-groups-short'">
                  <div class="compleate">
                    <evj-product-groups-right [data]="items"></evj-product-groups-right>
                  </div>
                </td>
              </tr>
              <div class="line" [class.line-short]="widgetType === 'product-groups-short'"></div>
              <div class="point_right"></div>
              <div class="point_left" [class.displayOFF]="widgetType === 'product-groups-short'"></div>
            </ng-container>
          </tbody>
        </table>
        <div class="line__bottom_scroll" *ngIf="scrollLine"></div>
      </div>
    </div>
    <div
      id="topscroll"
      class="topscroll"
      [class.scroll]="widgetType === 'product-groups-short'"
      (scroll)="onTopScroll($event)"
    >
      <div class="fake" [style.width.px]="botScrollWidth"></div>
    </div>
    <div class="left-background"></div>
    <div class="right-background" [class.displayOFF]="widgetType === 'product-groups-short'"></div>
    <div class="right_left_line_widget"></div>
    <div class="middle_line_left" [class.middle_line-left]="widgetType === 'product-groups-short'"></div>
    <div class="middle_line_right" [class.middle_line-right]="widgetType === 'product-groups-short'"></div>
    <div class="right_line_widget" [class.displayOFF]="widgetType === 'product-groups-short'"></div>
    <div class="right_line_widget2"></div>
    <div class="right_line_widget3" [class.displayOFF]="widgetType === 'product-groups-short'"></div>
    <div class="bottom_background">
      <div class="left_table_bottom"></div>
      <div class="middle_table_bottom" [class.middle_bottom-short]="widgetType === 'product-groups-short'"></div>
      <div class="right_table_bottom" [class.displayOFF]="widgetType === 'product-groups-short'"></div>
    </div>
  </div>
</div>
