::ng-deep .background {
  & > * {
    fill: var(--bg-dashboard-color);
  }
}

::ng-deep .main {
  & > * {
    fill: var(--index-plan-color);
  }
}

::ng-deep .sub {
  & > * {
    fill: var(--index-error-color);
  }
}

::ng-deep .serif-active {
  & > * {
    stroke: var(--index-plan-color);
  }
}

::ng-deep .serif-warning {
  & > * {
    stroke: var(--index-error-color);
  }
}

::ng-deep .text {
  &__value {
    fill: var(--text-accent-color);
    font-size: 12px;
  }

  &__deviation {
    fill: var(--index-error-color);
    font-size: 7px;
  }

  &__plan {
    fill: var(--text-main-color);
    font-size: 7px;
  }

  &__unit {
    fill: var(--text-subscript-color);
    font-size: 7px;
  }
}

::ng-deep .line {
  stroke: var(--color-kpe-gaude-additional);
  stroke-width: 1;
  opacity: 0.7;
}

::ng-deep {
  .needle {
    fill: var(--index-fact-color);
  }

  .needle-hover-circle-back-d, .needle-hover-circle-back-dark {
    fill: var(--bg-body-color);
  }

  .kpe-gauge-hide-down-sector-d,  .kpe-gauge-hide-down-sector-dark{
    fill: var(--bg-body-color);
  }

  .needle-hover-circle-back-sou {
    fill: var(--color-astue-onpz-widget-border);
  }

  .needle-hover-circle-back-performance {
    fill: var(--color-kpe-gaude-back);
  }

  .kpe-gauge-hide-down-sector-performance {
    fill: var(--color-kpe-gaude-back);
  }

  .kpe-gauge-hide-down-sector-sou {
    fill: var(--color-astue-onpz-widget-border);
  }

  .needle-hover-circle-back, .needle-hover-circle-back-lite{
    fill: var(--color-kpe-gaude-lines);
  }

  .kpe-gauge-hide-down-sector, .kpe-gauge-hide-down-sector-lite{
    fill: var(--color-kpe-gaude-lines);
  }

  .needle-shadow-gradient-1 {
    stop-color: var(--color-button-borderside);
    stop-opacity: 0.15;
  }

  .needle-shadow-gradient-2 {
    stop-color: transparent;
    stop-opacity: 0;
  }
}
