.cb {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  // margin: 40px auto;
}

.item-b ::ng-deep svg {
  height: 100%;
}

.item-b {
  margin-left: 60px;
  width: 200px;
}

.line1 {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 110px;
  left: 244px;
  position: absolute;
  margin-top: -32px;
}

.line2 {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 110px;
  left: 504px;
  position: absolute;
  margin-top: -32px;
}

.line3 {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 110px;
  left: 764px;
  position: absolute;
  margin-top: -32px;
}

.line4 {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 110px;
  left: 1024px;
  position: absolute;
  margin-top: -32px;
}

.line5 {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 175px;
  left: 1282px;
  position: absolute;
  margin-top: -31px;
}

.line1_long {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line7.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 1209px;
  left: 243px;
  position: absolute;
  margin-top: -32px;
}

.line2_long {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line6.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 950px;
  left: 502px;
  position: absolute;
  margin-top: -30px;
}

.line3_long {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line5.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 722px;
  left: 760px;
  position: absolute;
  margin-top: -32px;
}

.line4_long {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line4.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 447px;
  left: 1009px;
  position: absolute;
  margin-top: -29px;
}

.line5_long {
  background: url(../../../../../assets/icons/widgets/product-group-planning/line3.svg);
  background-repeat: no-repeat;
  height: 10px;
  width: 175px;
  left: 1282px;
  position: absolute;
  margin-top: -31px;
}
