:host {
  width: 100%;
  height: 100%;
  * {
    box-sizing: border-box;
    font-size: 14px;
    color: var(--color-text-main);
  }
}

.graph-display {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__header,
  &__counters,
  &__graph,
  &__scroll {
    width: 100%;
  }

  &__header,
  &__counters,
  &__graph {
    margin-bottom: 7px;
  }

  &__header {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
  }

  &__counters {
    height: 86px;
    min-height: 86px;
    max-height: 86px;
  }

  &__graph {
    height: 100%;
  }

  &__scroll {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
  }

  .header {
    position: relative;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-aw-header-bg);

    &__buttons {
      position: absolute;
      width: 420px;
      height: 100%;
      left: 0;
      top: 0;
      border-radius: 12px;
      display: flex;
      overflow: hidden;
      background: var(--color-disable-transparent);

      .button {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: var(--color-text-sub);

        &:hover {
          cursor: pointer;
          background: var(--color-bg-active-gradient);
          color: var(--color-text-main);
        }

        &_active {
          background: var(--color-bg-active-gradient1);
          color: var(--color-text-main);

          &:hover {
            cursor: default;
            background: var(--color-bg-active-gradient1);
          }
        }
      }
    }
  }

  .counters {
    display: flex;
    justify-content: space-between;

    &__item {
      width: 197px;
      height: 100%;
      border-radius: 12px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: var(--color-aw-container-body-transparent);
    }
  }

  .counter {
    position: relative;
    display: flex;
    flex-direction: column;

    &__description {
      width: 100%;
      height: 50%;
      padding: 9px 20px 0px;
      display: flex;
    }

    &__name {
      font-size: 12px;
      color: var(--color-text-header-table);
    }

    &__icon {
      width: 23.33px;
      height: 30px;
      margin-right: 7px;
    }

    &__status {
      position: absolute;
      bottom: 13px;
      left: 20px;
      font-size: 12px;
    }

    &__value {
      position: absolute;
      bottom: 3px;
      right: 8px;
      font-size: 36px;
    }

    &_danger {
      .counter__icon {
        color: var(--color-danger);
      }
    }

    &_warning {
      .counter__icon {
        color: var(--color-warning);
      }
    }

    &_normal {
      .counter__icon {
        color: var(--color-standard);
      }
    }
  }

  .graph {
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-aw-container-body-transparent);
  }

  .scroll {
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: var(--color-aw-container-body-transparent);
  }
}
