<div class="graph-display">
  <div class="graph-display__header header">
    <div class="header__buttons">
      <div class="button button_active">Графическое отображение</div>
      <div class="button">Табличное отображение</div>
    </div>
  </div>
  <div class="graph-display__counters counters">
    <div class="counters__item"></div>
    <div class="counters__item"></div>
    <div class="counters__item"></div>
    <div class="counters__item"></div>
  </div>
  <div class="graph-display__graph graph"></div>
  <div class="graph-display__scroll scroll"></div>
</div>
