<div class="widget-container">
  <evj-contemporary-widget-header
    [uniqId]="uniqId"
    [widgetTitle]="(viewType$ | async) === 'Furnace' ? null : widgetTitle"
    icon="squares"
    type="astue"
  >
    <div *ngIf="(viewType$ | async) === 'Furnace'" class="header-container">
      <evj-astue-onpz-factory-analysis-header [page]="pageType$ | async" (changePage)="changePage($event)"></evj-astue-onpz-factory-analysis-header>
    </div>
  </evj-contemporary-widget-header>

  <div class="container"
       (mousedown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
  >
    <ng-container [ngSwitch]="pageType$ | async">
      <evj-astue-onpz-factor-analysis-page *ngSwitchCase="'bar'" [@rightTrigger] class="factor-analysis"></evj-astue-onpz-factor-analysis-page>
      <evj-astue-onpz-factory-analysis-chart-page *ngSwitchCase="'chart'" [@leftTrigger] class="factor-analysis"></evj-astue-onpz-factory-analysis-chart-page>
    </ng-container>
  </div>
</div>
